/****** Object:  UserDefinedFunction [dbo].[GetUserName]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[GetUserName]
GO
/****** Object:  UserDefinedFunction [dbo].[GetUserName]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetUserName] (@sessionid BIGINT)
RETURNS NVARCHAR(26)
AS
BEGIN
  RETURN (CASE WHEN ISNULL(@sessionid,0)=0 THEN '' ELSE ISNULL((SELECT TOP (1)
      cu.FirstName + ' ' + cu.LastName
    FROM dbo.ApiSessions AS cs
    LEFT JOIN dbo.ApiUsers AS cu
      ON cu.Id = cs.UserId
    WHERE cs.Id = @sessionid)
  , '') END)
END


GO
