/****** Object:  UserDefinedFunction [dbo].[Func_TRANS_1448_GetCNRate]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[Func_TRANS_1448_GetCNRate]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_TRANS_1448_GetCNRate]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[Func_TRANS_1448_GetCNRate](
	@parameter1 bigint,--RouteId
	@parameter2 bigint,--VehicleTypeId
	@parameter3 date,--CNDate
	@parameter4 bigint,--ContractId
	@parameter5 bigint,--LoadTypeId
	@parameter6 decimal(18,5),--FreightCalVal
	@parameter7 bigint,--LoadTypeRateCritera
	@parameter8 bigint--MaterialId
)
returns bigint as
begin
	declare @MatgroupId bigint,@PickGenericRateFromCNRateLog tinyint
	set @MatgroupId=isnull((select MaterialGroupId from dbo.mMaterialMaster where id=@parameter8),0)
	set @PickGenericRateFromCNRateLog=isnull((select ConfigValue from dbo.mClientConfiguration where id='PickGenericRateFromCNRateLog'),0)
	declare @tmp1448V1 table([Id] [bigint],
	[StartDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[RateContractId] [bigint] NOT NULL,
	[LoadTypeId] [bigint] NULL,
	[RouteId] [bigint] NULL,
	[MaterialgroupId] [bigint] NULL,
	[Km] [bigint] NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[FixedFreight] [decimal](18, 2) NOT NULL,
	[BaseFactorQty] [decimal](18, 2) NOT NULL,
	[MinValue] [decimal](18, 2) NOT NULL,
	[MaxValue] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[DisFactorId] [bigint] NULL,
	[A1Charge] [decimal](18, 2) NOT NULL,
	[A1FactorId] [bigint] NULL,
	[A2Charge] [decimal](18, 2) NOT NULL,
	[A2FactorId] [bigint] NULL,
	[A3Charge] [decimal](18, 2) NOT NULL,
	[A3FactorId] [bigint] NULL,
	[A4Charge] [decimal](18, 2) NOT NULL,
	[A4FactorId] [bigint] NULL,
	[A5Charge] [decimal](18, 2) NOT NULL,
	[A5FactorId] [bigint] NULL,
	[A6Charge] [decimal](18, 2) NOT NULL,
	[A6FactorId] [bigint] NULL,
	[A7Charge] [decimal](18, 2) NOT NULL,
	[A7FactorId] [bigint] NULL,
	[A8Charge] [decimal](18, 2) NOT NULL,
	[A8FactorId] [bigint] NULL,
	[A9Charge] [decimal](18, 2) NOT NULL,
	[A9FactorId] [bigint] NULL,
	[A10Charge] [decimal](18, 2) NOT NULL,
	[A10FactorId] [bigint] NULL,
	[A11Charge] [decimal](18, 2) NOT NULL,
	[A11FactorId] [bigint] NULL,
	[A12Charge] [decimal](18, 2) NOT NULL,
	[A12FactorId] [bigint] NULL,
	[A13Charge] [decimal](18, 2) NOT NULL,
	[A13FactorId] [bigint] NULL,
	[A14Charge] [decimal](18, 2) NOT NULL,
	[A14FactorId] [bigint] NULL,
	[A15Charge] [decimal](18, 2) NOT NULL,
	[A15FactorId] [bigint] NULL,
	[A16Charge] [decimal](18, 2) NOT NULL,
	[A16FactorId] [bigint] NULL,
	[A17Charge] [decimal](18, 2) NOT NULL,
	[A17FactorId] [bigint] NULL,
	[L1Charge] [decimal](18, 2) NOT NULL,
	[L1FactorId] [bigint] NULL,
	[L2Charge] [decimal](18, 2) NOT NULL,
	[L2FactorId] [bigint] NULL,
	[L3Charge] [decimal](18, 2) NOT NULL,
	[L3FactorId] [bigint] NULL,
	[L4Charge] [decimal](18, 2) NOT NULL,
	[L4FactorId] [bigint] NULL,
	[Ref1] [nvarchar](300) NULL,
	[Ref2] [nvarchar](300) NULL,
	[Ref3] [nvarchar](300) NULL,
	[Ref4] [nvarchar](300) NULL,
	[Status] [int] NOT NULL,
	[MaterialId] [bigint] NULL,
	[BatchId] [nvarchar](100) NULL,
	[CSID] [bigint] NOT NULL,
	[CDOE] [datetime] NOT NULL,
	[MSID] [bigint] NULL,
	[MDOE] [datetime] NULL,
	[PageId] [bigint] NULL,
	[VehicleTypeId] [bigint] NULL,
	[TAT] [decimal](18, 2) NOT NULL,
	[ScriptId] [bigint] NULL)
	
	insert into @tmp1448V1(ID,[StartDate]
           ,[ExpiryDate]
           ,[RateContractId]
           ,[LoadTypeId]
           ,[RouteId]
           ,[MaterialgroupId]
           ,[Km]
           ,[Rate]
           ,[FixedFreight]
           ,[BaseFactorQty]
           ,[MinValue]
           ,[MaxValue]
           ,[Discount]
           ,[DisFactorId]
           ,[A1Charge]
           ,[A1FactorId]
           ,[A2Charge]
           ,[A2FactorId]
           ,[A3Charge]
           ,[A3FactorId]
           ,[A4Charge]
           ,[A4FactorId]
           ,[A5Charge]
           ,[A5FactorId]
           ,[A6Charge]
           ,[A6FactorId]
           ,[A7Charge]
           ,[A7FactorId]
           ,[A8Charge]
           ,[A8FactorId]
           ,[A9Charge]
           ,[A9FactorId]
           ,[A10Charge]
           ,[A10FactorId]
           ,[A11Charge]
           ,[A11FactorId]
           ,[A12Charge]
           ,[A12FactorId]
           ,[A13Charge]
           ,[A13FactorId]
           ,[A14Charge]
           ,[A14FactorId]
           ,[A15Charge]
           ,[A15FactorId]
           ,[A16Charge]
           ,[A16FactorId]
           ,[A17Charge]
           ,[A17FactorId]
           ,[L1Charge]
           ,[L1FactorId]
           ,[L2Charge]
           ,[L2FactorId]
           ,[L3Charge]
           ,[L3FactorId]
           ,[L4Charge]
           ,[L4FactorId]
           ,[Ref1]
           ,[Ref2]
           ,[Ref3]
           ,[Ref4]
           ,[Status]
           ,[MaterialId]
           ,[BatchId]
           ,[CSID]
           ,[CDOE]
           ,[MSID]
           ,[MDOE]
           ,[PageId]
           ,[VehicleTypeId]
           ,[TAT]
           ,[ScriptId])
	select ID,[StartDate]
           ,[ExpiryDate]
           ,[RateContractId]
           ,[LoadTypeId]
           ,[RouteId]
           ,[MaterialgroupId]
           ,[Km]
           ,[Rate]
           ,[FixedFreight]
           ,[BaseFactorQty]
           ,[MinValue]
           ,[MaxValue]
           ,[Discount]
           ,[DisFactorId]
           ,[A1Charge]
           ,[A1FactorId]
           ,[A2Charge]
           ,[A2FactorId]
           ,[A3Charge]
           ,[A3FactorId]
           ,[A4Charge]
           ,[A4FactorId]
           ,[A5Charge]
           ,[A5FactorId]
           ,[A6Charge]
           ,[A6FactorId]
           ,[A7Charge]
           ,[A7FactorId]
           ,[A8Charge]
           ,[A8FactorId]
           ,[A9Charge]
           ,[A9FactorId]
           ,[A10Charge]
           ,[A10FactorId]
           ,[A11Charge]
           ,[A11FactorId]
           ,[A12Charge]
           ,[A12FactorId]
           ,[A13Charge]
           ,[A13FactorId]
           ,[A14Charge]
           ,[A14FactorId]
           ,[A15Charge]
           ,[A15FactorId]
           ,[A16Charge]
           ,[A16FactorId]
           ,[A17Charge]
           ,[A17FactorId]
           ,[L1Charge]
           ,[L1FactorId]
           ,[L2Charge]
           ,[L2FactorId]
           ,[L3Charge]
           ,[L3FactorId]
           ,[L4Charge]
           ,[L4FactorId]
           ,[Ref1]
           ,[Ref2]
           ,[Ref3]
           ,[Ref4]
           ,[Status]
           ,[MaterialId]
           ,[BatchId]
           ,[CSID]
           ,[CDOE]
           ,[MSID]
           ,[MDOE]
           ,[PageId]
           ,[VehicleTypeId]
           ,[TAT]
           ,[ScriptId]  from 
	dbo.[mCNRateContractLog] r
	WHERE r.LoadTypeId=@parameter5 and @parameter4=r.RateContractId and (@parameter3 between r.StartDate and isnull(r.ExpiryDate,getdate()))	
		
	if exists(select * from @tmp1448V1 where ISNULL(RouteId,0)=@parameter1)
	begin
		delete from @tmp1448V1 where ISNULL(RouteId,0)<>@parameter1
	end
	else
	begin
		if(@PickGenericRateFromCNRateLog=0)
		begin
			delete from @tmp1448V1
		end
		else
		begin
			delete from @tmp1448V1 where ISNULL(RouteId,0)>0
		end
	end

	if exists(select * from @tmp1448V1 where ISNULL(VehicleTypeId,0)=@parameter2)
	begin
		delete from @tmp1448V1 where ISNULL(VehicleTypeId,0)<>@parameter2
	end
	else
	begin
		if(@PickGenericRateFromCNRateLog=0)
		begin
			delete from @tmp1448V1
		end
		else
		begin
			delete from @tmp1448V1 where ISNULL(VehicleTypeId,0)>0
		end
	end

	if exists(select * from @tmp1448V1 where ISNULL(MaterialId,0)=@parameter8)
	begin
		delete from @tmp1448V1 where ISNULL(MaterialId,0)<>@parameter8
	end
	else
	begin
		if(@PickGenericRateFromCNRateLog=0)
		begin
			delete from @tmp1448V1
		end
		else
		begin
			delete from @tmp1448V1 where ISNULL(MaterialId,0)>0
		end
	end

	if exists(select * from @tmp1448V1 where ISNULL(MaterialgroupId,0)=@MatgroupId)
	begin
		delete from @tmp1448V1 where ISNULL(MaterialgroupId,0)<>@MatgroupId
	end
	else
	begin
		if(@PickGenericRateFromCNRateLog=0)
		begin
			delete from @tmp1448V1
		end
		else
		begin
			delete from @tmp1448V1 where ISNULL(MaterialgroupId,0)>0
		end
	end

	if exists(select * from @tmp1448V1 where @parameter6 between MinValue and MaxValue)
	begin
		delete from @tmp1448V1 where (case when (@parameter6 between MinValue and MaxValue) then 1 else 0 end)=0
	end
	return(select top 1 Id from @tmp1448V1 order by StartDate Desc)
END
GO
