/****** Object:  UserDefinedFunction [dbo].[DateTimeToString]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[DateTimeToString]
GO
/****** Object:  UserDefinedFunction [dbo].[DateTimeToString]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DateTimeToString] (@value datetime) RETURNS nvarchar(26) AS BEGIN RETURN CONVERT(nvarchar(26), @value, 109) END
GO
