/****** Object:  UserDefinedFunction [dbo].[FUN_Report_1666_TEDRCR]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[FUN_Report_1666_TEDRCR]
GO
/****** Object:  UserDefinedFunction [dbo].[FUN_Report_1666_TEDRCR]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[FUN_Report_1666_TEDRCR](@VoucherID INT)    
RETURNS Varchar(Max)    
AS     
BEGIN    
 DECLARE @VDs Varchar(max),@VoucherType Varchar(255)
 SET @VDs=''    
 SET @VoucherType=(Select vt.VoucherTypeName From dbo.mVoucherType as vt Where vt.Id=(Select Top 1 VoucherTypeID From dbo.tVouchers Where ID=@VoucherID))
 SET @VDs=(Select    
   ISNULL((STUFF((SELECT ' <ALLLEDGERENTRIES.LIST>    
    <REMOVEZEROENTRIES>No</REMOVEZEROENTRIES>    
    <ISDEEMEDPOSITIVE>'+(Case  When (ISNULL(VD.VDAmount,0)*-1)>0 Then 'No' Else 'Yes' End)+'</ISDEEMEDPOSITIVE>    
    <LEDGERFROMITEM>No</LEDGERFROMITEM>    
    <LEDGERNAME>'+(dbo.FUN_Vouchers_ReplaceAnd(ISNULL(AM.AccountName,'')))+'</LEDGERNAME>    
    <AMOUNT>'+Cast(ISNULL(VD.VDAmount,0)*-1 AS Varchar)+'</AMOUNT>    
		'+ ISNULL((Select dbo.FUN_Report_1666_TEVDRCC(0,ISNULL(VD.Id,0))),'') +'
   </ALLLEDGERENTRIES.LIST>'   
	From dbo.tVoucherVD AS VD join dbo.mLedger AS AM On VD.AccountId=AM.Id Where VD.VoucherId=@VoucherID 
	ORDER BY (Case  When @VoucherType IN('Receipt','Purchase') And VD.VDAmount<0 Then abs(ISNULL(VD.VDAmount,0)) Else (ISNULL(VD.VDAmount,0)*-1) End) ASC
 
    FOR XML PATH(''), TYPE, ROOT).value('root[1]','varchar(max)'),1,1,'')),''))
 Return @VDs    
END 



GO
