/****** Object:  UserDefinedFunction [dbo].[CCO_old]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[CCO_old]
GO
/****** Object:  UserDefinedFunction [dbo].[CCO_old]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create FUNCTION [dbo].[CCO_old]
(	
	-- Add the parameters for the function here
	@categoryId bigint,
	@classIds nvarchar(2000),
	@accountId nvarchar(2000)
)
RETURNS TABLE 
-- =============================================
-- Author:		Mukesh
-- Create date: 20161002
-- Description:	Object Category Data
-- =============================================
AS
RETURN 
(

	SELECT CategoryId=cc.Id,cc.CategoryName,m.ClassId,c.ClassName,m.ObjectId,ObjectName=
	(CASE cc.RoleTypeId WHEN 1145 THEN l.AccountName WHEN 1292 THEN o.OfficeName WHEN 1146 THEN g.GroupName ELSE '' END),cc.RoleTypeId,cc.RoleId
	FROM dbo.mObjectCategory cc join dbo.mObjectClass c on cc.Id=c.CategoryId
	join dbo.tObjectClassMap m on c.Id=m.ClassId
	left join dbo.SplitCommaString(@classIds) cci on c.Id=cci.Item	
	left join dbo.mLedger l on m.ObjectId=l.Id and cc.RoleTypeId=1145
	left join dbo.mOfficeMaster o on m.ObjectId=o.Id and cc.RoleTypeId=1292
	left join dbo.mAccountGroup g on m.ObjectId=g.Id and cc.RoleTypeId=1146
	left join dbo.SplitCommaString(@accountId) aci 
	on (cc.RoleTypeId=1145 AND l.Id=aci.Item) OR (cc.RoleTypeId=1292 AND o.Id=aci.Item) OR (cc.RoleTypeId=1146 AND g.Id=aci.Item) OR 0=1
	WHERE cc.Id=@categoryId AND (CASE WHEN LEN(@classIds)>0 AND cci.Item IS NULL THEN 0 ELSE 1 END)=1
	AND (CASE WHEN LEN(@accountId)>0 AND aci.Item IS NULL THEN 0 ELSE 1 END)=1
)

GO
