/****** Object:  UserDefinedFunction [dbo].[FactorBasedFreightCal]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[FactorBasedFreightCal]
GO
/****** Object:  UserDefinedFunction [dbo].[FactorBasedFreightCal]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- select top 1 * from tCNMaster
CREATE FUNCTION [dbo].[FactorBasedFreightCal](@factorId bigint,@rate decimal,@ActualQty decimal,@ActualWeight decimal,@ChargedQty decimal,
 @ChargedWeight decimal,@KM bigint,@InvoiceValue decimal,@BasicFreight decimal)
RETURNS decimal
AS
BEGIN
DECLARE @factorresult decimal(18,5)=(CASE @factorId
WHEN 1373/*ActualQty*/ THEN @ActualQty*@rate
WHEN 1375/*ActualWeight*/ THEN @ActualWeight*@rate
WHEN 1374/*ChargeQty*/ THEN @ChargedQty*@rate
WHEN 1376 /*ChargeWt*/ THEN @ChargedWeight*@rate
WHEN 1377/*KM*/ THEN @KM*@rate
WHEN 1436/*InvoiceValue*/ THEN (@InvoiceValue*@rate)/100
WHEN 1612/*ChargeQty*km*/ THEN @ChargedQty*@KM*@rate
WHEN  1379/*Freight %*/ THEN (@BasicFreight*@rate)/100
ELSE @rate END)
return @factorresult
END
GO
