/****** Object:  UserDefinedFunction [dbo].[Func_GetAllAccountParentChildGroups]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[Func_GetAllAccountParentChildGroups]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_GetAllAccountParentChildGroups]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  FUNCTION [dbo].[Func_GetAllAccountParentChildGroups](@GroupID bigint)
RETURNS @AllAccountChildGroups TABLE(RowID bigint IDENTITY(1,1),GroupId bigint Primary Key,GroupName VARCHAR(200),ParentGroupId bigint,ParentGroupName VARCHAR(200),hLevel INT,CommonGroupId BIGINT)
AS 
BEGIN
	IF(@GroupID>0)
	BEGIN
		;WITH RCTE AS
		(
			SELECT Id,GroupName,ParentGroupId, 1 AS hLevel,@GroupID As CommonGroupId FROM dbo.mAccountGroup 
			WHERE Id = @GroupID

			UNION ALL

			SELECT c.Id,c.GroupName,c.ParentGroupId, rc.hLevel+1 AS hLevel,@GroupID As CommonGroupId FROM dbo.mAccountGroup c
			INNER JOIN RCTE rc ON c.ParentGroupId = rc.Id
		)
		INSERT INTO @AllAccountChildGroups(GroupId,GroupName,ParentGroupId,ParentGroupName,hLevel,CommonGroupId)
		Select c.Id,c.GroupName,c.ParentGroupId,ParentGroupName=g.GroupName, c.hLevel,c.CommonGroupId from RCTE as c left join mAccountGroup as g on c.ParentGroupId=g.Id
		
	END
	RETURN
END
GO
