/****** Object:  UserDefinedFunction [dbo].[ValidateTLDateRangeOverlap]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[ValidateTLDateRangeOverlap]
GO
/****** Object:  UserDefinedFunction [dbo].[ValidateTLDateRangeOverlap]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[ValidateTLDateRangeOverlap]
(
    @tripStartDate DATETIME,
    @tripEndDate DATETIME,
    @ownvehicleid bigint=0,
    @hirevehicleid bigint=0,
    @triplogId bigint=0,
    @triptype bigint=1158,
    @tripnature bigint=0
)
returns NVARCHAR(max)
AS
BEGIN
IF(@tripEndDate IS NULL)
BEGIN
SET @tripEndDate=GETDATE()
END
declare @tripdetails nvarchar(max)
set @tripdetails=''
DECLARE @ChainStatus int=(SELECT TOP 1 CAST([Value] as int) FROM [dbo].[ApiConfigurations] WHERE Id='TripLogJobcardChainingStatus')
DECLARE @IsHSVTSEnabled int=(CASE WHEN 1=(SELECT TOP 1 CAST([Value] as int) FROM [dbo].[ApiConfigurations] WHERE Id='IsHSVTSActivated') THEN 1160 ELSE 0 END)
select top 1 @tripdetails=t.TriplogNo
    from   dbo.tVehicleMovementLog t
    left join 
	(
		select max(vt.StartDate)As LastTripDate,vt.TriplogId from dbo.tVTSStatusLog as vt group by vt.TriplogId
	)as vt on vt.TriplogId=t.Id
                where  ((@triptype=1158 AND t.VehicleId=@ownvehicleid) OR(@triptype=1160 AND t.HireVehicleId=@hirevehicleid))
                and    @tripStartDate <= (CASE WHEN t.UnloadingDate IS NULL THEN GETDATE() ELSE isnull(vt.LastTripDate,t.UnloadingDate) END) and t.TripStartdate <= @tripEndDate
                and t.Id<>@triplogId
	and (t.TripTypeId IN(1158,@IsHSVTSEnabled) or t.TripNatureId=1076) AND ((@ChainStatus=0 AND t.TripTypeId in(1158, 1159, @IsHSVTSEnabled)) OR  (@ChainStatus=1 AND t.TripTypeId=@triptype))
    ORDER BY t.TripStartDate DESC
    if (len(isnull(@tripdetails,''))>0)
    begin
        declare @result nvarchar(1000)
        set @result='Cannot update/Insert this triplog as trip/jobsheet already exist between trip Start Date ['+ convert(nvarchar(10),@tripStartDate,103) 
        +'] '+ convert(nvarchar(8),@tripStartDate,108) + ' and unloaddate [' + convert(nvarchar(10),@tripEndDate,103) +' '+ convert(nvarchar(8),@tripEndDate,108) +
        + '] with triplog/jobcard: '+@tripdetails
    set @tripdetails=@result;
    end
    return @tripdetails;
END
GO
