/****** Object:  UserDefinedFunction [dbo].[MinimumNum]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[MinimumNum]
GO
/****** Object:  UserDefinedFunction [dbo].[MinimumNum]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[MinimumNum] (@Param1 bigint, @Param2 bigint)
Returns bigint as 
begin 
Return Case When @Param1 < @Param2 
                   Then @Param1 Else @Param2 End
end
GO
