/****** Object:  UserDefinedFunction [dbo].[YearMonthListBetweenTwo]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[YearMonthListBetweenTwo]
GO
/****** Object:  UserDefinedFunction [dbo].[YearMonthListBetweenTwo]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[YearMonthListBetweenTwo](@Date1 Date,@Date2 Date)
returns @yearlistmonth table(YearMonth Date)
as
begin
	insert into @yearlistmonth
	select t.Date1 from(select y.YearCol,t.Item*1 as m,d.Item*1 as d,(cast(y.YearCol as nvarchar(100))+'-'+ cast(t.Item as nvarchar(100))+'-'+cast(d.Item as nvarchar(100))) as Date1 from dbo.YearListBetweenTwo(Year(@Date1),Year(@Date2)) as y,(select Item from dbo.SplitCommaString('1,2,3,4,5,6,7,8,9,10,11,12')) as t,(select Item from dbo.SplitCommaString('1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31')) as d)as t
	where isdate(t.Date1)=1 and (m>=Month(@Date1) and YearCol>=Year(@Date1)) and (m<=Month(@Date2) and YearCol<=Year(@Date2))
	return;
end
GO
