/****** Object:  UserDefinedFunction [dbo].[Func_GetAllAccountChildGroups]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[Func_GetAllAccountChildGroups]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_GetAllAccountChildGroups]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  FUNCTION [dbo].[Func_GetAllAccountChildGroups](@GroupID bigint)
RETURNS @AllAccountChildGroups TABLE(RowID bigint IDENTITY(1,1),GroupId bigint Primary Key,GroupName VARCHAR(200),ParentGroupId bigint)
AS 
BEGIN
	IF(@GroupID>0)
	BEGIN
		DECLARE @ParentGroupId BIGINT
		SET @ParentGroupId =(SELECT TOP 1 Id FROM dbo.mAccountGroup WHERE ParentGroupId = @GroupID)

		IF @ParentGroupID IS NOT NULL
		BEGIN
			--==========Get Child of given GroupID
			INSERT INTO @AllAccountChildGroups(GroupID,GroupName,ParentGroupId)
			SELECT Id,GroupName,ParentGroupId FROM dbo.mAccountGroup WHERE ParentGroupId = @GroupID

			DECLARE @FromRowID BIGINT,@ToRowID BIGINT,@GrpID BIGINT
			SET @FromRowID = 0
			SET @ToRowID = (SELECT MAX(RowID) from @AllAccountChildGroups)

			WHILE @FromRowID < @ToRowID
			BEGIN
				SET @FromRowID = @FromRowID + 1
				SET @GrpID = ISNULL((SELECT GroupID FROM @AllAccountChildGroups WHERE RowID = @FromRowID),'')

				INSERT INTO @AllAccountChildGroups(GroupID,GroupName,ParentGroupId)
				SELECT GroupID,GroupName,ParentGroupId FROM [dbo].[Func_GetAllAccountChildGroups](@GrpID)
			END
		END
	END
	RETURN
END
GO
