/****** Object:  UserDefinedFunction [dbo].[Func_GetSingleImageUrlByNatureId]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[Func_GetSingleImageUrlByNatureId]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_GetSingleImageUrlByNatureId]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[Func_GetSingleImageUrlByNatureId] (@RelatedId BIGINT, @RecordId BIGINT, @NatureId INT = 0)
RETURNS @ImageUrl TABLE (
  Id INT
 , /* internal surrogate primary key gives the order of parsing and the list order */
  ImagUrl NVARCHAR(1000)
)
AS
BEGIN
  INSERT INTO @ImageUrl (Id, ImagUrl)
    SELECT @RecordId
     ,'https://africa.indiaweblab.com' + ImageUrl
    FROM dbo.tApiFile AS f
    WHERE f.RelatedId = @RelatedId
    AND f.RecordId = @RecordId
    AND ISNULL(f.NatureId, 0) = @NatureId
    AND ISNULL(ImageUrl, '') <> ''
    ORDER BY f.Id desc
  RETURN
END

GO
