/****** Object:  UserDefinedFunction [dbo].[SplitString_NEW]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[SplitString_NEW]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString_NEW]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create FUNCTION [dbo].[SplitString_NEW]
( 
	@InputList varchar(MAX),
	@char char(1) 
) 
RETURNS 
@ParsedList table 
( 
	Item varchar(MAX) 
) 
AS 
BEGIN 
DECLARE @Item varchar(MAX), @Pos int 
SET @InputList = @InputList+ @char
SET @Pos = CHARINDEX(@char, @InputList, 1) 

	IF REPLACE(@InputList, @char, '') <> '' 
	BEGIN 
		WHILE @Pos > 0 
		BEGIN 
			SET @Item = LEFT(@InputList, @Pos - 1) 

			IF @Item <> ''
			BEGIN 
				INSERT INTO @ParsedList (Item) 
				VALUES (@Item) 
			END 

			SET @InputList = RIGHT(@InputList, LEN(@InputList) - @Pos) 
			SET @Pos = CHARINDEX(@char, @InputList, 1) 
		END 
	END 
	RETURN 
END
GO
