/****** Object:  UserDefinedFunction [dbo].[udf_GetVDRAgingAsOfDate]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[udf_GetVDRAgingAsOfDate]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetVDRAgingAsOfDate]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_GetVDRAgingAsOfDate]
(
  @fromdate DATE=NULL,
  @todate DATE=NULL,
	@asOfDate DATE=NULL
)
RETURNS TABLE
--WITH ENCRYPTION|SCHEMABINDING, EXECUTE AS CALLER|SELF|OWNER|USER
AS
RETURN ( 
	SELECT
  v.Id
 ,v.VDId
 ,v.DueDate
 ,v.ReferenceNo
 ,v.VDRTypeID
 ,v.OriginalRefId
 ,v.VDRAmount
 ,v.TransactionId
 ,v.AccountId
 ,v.CSID
 ,v.CDOE
 ,CreditDays = l.CreditPeriod
 ,l.CreditNatureId
 ,PreviousPaid = ISNULL(S.Amount, 0)
 ,Balance = ISNULL(VDRAmount, 0) + -+ISNULL(S.Amount, 0)
 ,RefType = (CASE v.VDRTypeID
    WHEN 1013 THEN 'NewRef'
    WHEN 1448 THEN 'OnAccount'
    WHEN 1449 THEN 'Advance'
    ELSE ''
  END)
 ,AccountName = l.AccountName

FROM [dbo].[tVoucherVDR] V
LEFT JOIN (SELECT
    Amount = SUM(VDRAmount)
   ,RefID
  FROM [dbo].[tVoucherVDR] WHERE (@asOfDate IS NULL OR DueDate<=@asOfDate)
  GROUP BY RefID) S
  ON V.Id = S.RefID
LEFT JOIN mLedger l
  ON v.AccountId = l.Id

WHERE (ISNULL(VDRAmount, 0) - ISNULL(S.Amount, 0)) <> 0
AND v.VDRTypeID IN (1013, 1448, 1449)
  AND (@todate IS NULL OR v.DueDate<=@todate) AND (@fromdate IS NULL OR v.DueDate>=@fromdate)
)
GO
