/****** Object:  UserDefinedFunction [dbo].[CCO]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[CCO]
GO
/****** Object:  UserDefinedFunction [dbo].[CCO]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[CCO](@categoryId bigint,@classIds nvarchar(2000),@accountId nvarchar(2000))
Returns @CCO TABLE (CategoryId bigint,CategoryName varchar(100),ClassId bigint,ClassName varchar(100),ObjectId bigint,ObjectName varchar(255),RoleTypeId bigint,RoleId bigint) 
-- =============================================
-- Author:		Mukesh
-- Create date: 20161002
-- Description:	Object Category Data
-- =============================================
AS
begin
	DECLARE @RoleTypeId int
	SET @RoleTypeId=(SELECT RoleTypeId FROM dbo.mObjectCategory WHERE Id=@categoryId)
		
	Declare @TClass Table(Id bigint)
	Declare @TAccount Table(Id bigint)
	
	 
	Insert Into @TClass  Select Item   From SplitCommaString(@classIds)
	Insert Into @TAccount Select Item  From SplitCommaString(@accountId)

	if(@RoleTypeId=1145)
	begin
		insert into @CCO(CategoryId,CategoryName,ClassId,ClassName,ObjectId,ObjectName,RoleTypeId,RoleId)
		SELECT cc.Id,cc.CategoryName,m.ClassId,c.ClassName,m.ObjectId,ObjectName=l.AccountName,cc.RoleTypeId,cc.RoleId
		FROM dbo.mObjectCategory cc 
		join dbo.mObjectClass c on cc.Id=c.CategoryId
		join dbo.tObjectClassMap m on c.Id=m.ClassId
		join dbo.mLedger l on m.ObjectId=l.Id
		WHERE cc.Id=@categoryId
		And (Case When Len(ISNULL(@classIds,''))<=0 Then 1 When c.Id IN (Select Id From @TClass) then 1 Else 0 End)=1						
		And (Case When Len(ISNULL(@accountId,''))<=0 Then 1 When l.Id IN (Select Id From @TAccount) then 1 Else 0 End)=1
		
	end
	if(@RoleTypeId=1292)
	begin
		insert into @CCO(CategoryId,CategoryName,ClassId,ClassName,ObjectId,ObjectName,RoleTypeId,RoleId)
		SELECT cc.Id,cc.CategoryName,m.ClassId,c.ClassName,m.ObjectId,ObjectName=o.OfficeName,cc.RoleTypeId,cc.RoleId
		FROM dbo.mObjectCategory cc 
		join dbo.mObjectClass c on cc.Id=c.CategoryId
		join dbo.tObjectClassMap m on c.Id=m.ClassId
		join dbo.mOfficeMaster o on m.ObjectId=o.Id
		WHERE cc.Id=@categoryId
		And (Case When Len(ISNULL(@classIds,''))<=0 Then 1 When c.Id IN (Select Id From @TClass) then 1 Else 0 End)=1						
		And (Case When Len(ISNULL(@accountId,''))<=0 Then 1 When o.Id IN (Select Id From @TAccount) then 1 Else 0 End)=1
		
	end
	if(@RoleTypeId=1146)
	begin
		insert into @CCO(CategoryId,CategoryName,ClassId,ClassName,ObjectId,ObjectName,RoleTypeId,RoleId)
		SELECT cc.Id,cc.CategoryName,m.ClassId,c.ClassName,m.ObjectId,ObjectName=g.GroupName,cc.RoleTypeId,cc.RoleId
		FROM dbo.mObjectCategory cc 
		join dbo.mObjectClass c on cc.Id=c.CategoryId
		join dbo.tObjectClassMap m on c.Id=m.ClassId
		join dbo.mAccountGroup g on m.ObjectId=g.Id
		WHERE cc.Id=@categoryId
		And (Case When Len(ISNULL(@classIds,''))<=0 Then 1 When c.Id IN (Select Id From @TClass) then 1 Else 0 End)=1						
		And (Case When Len(ISNULL(@accountId,''))<=0 Then 1 When g.Id IN (Select Id From @TAccount) then 1 Else 0 End)=1
		
	end
	Return
end
GO
