/****** Object:  UserDefinedFunction [dbo].[FUN_Report_1666_TEVDRCC]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[FUN_Report_1666_TEVDRCC]
GO
/****** Object:  UserDefinedFunction [dbo].[FUN_Report_1666_TEVDRCC]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE Function [dbo].[FUN_Report_1666_TEVDRCC](@IsConstCenter TinyInt,@VDId INT)    
RETURNS Varchar(Max)    
AS     
BEGIN    
 DECLARE @VDRCCs Varchar(max)    
 SET @VDRCCs=''    
 If (@IsConstCenter=0)    
  Begin    
       
       
   If (@VDId>0)    
    Begin    
     (Select    
      @VDRCCs=@VDRCCs+'<BILLALLOCATIONS.LIST>    
        <NAME>'+(dbo.FUN_Vouchers_ReplaceAnd(ISNULL(VDR.ReferenceNo, '')))+'</NAME>    
        <BILLTYPE>'+ (Case VDR.VDRTypeID When 1449 Then 'Advance' When 1014 Then 'Against Ref' When 1013 Then 'New Ref' Else 'On Account' End) +'</BILLTYPE>      
        <BILLCREDITPERIOD/>    
        <AMOUNT>'+Cast(ISNULL(VDR.VDRAmount,0)*-1 AS Varchar)+'</AMOUNT>     
       </BILLALLOCATIONS.LIST>'    
     From dbo.tVoucherVDR AS VDR Where VDR.VDId=@VDId)    
    End    
  End    
 --select * from dbo.mConstantValue where constantTypeid=47
 Return @VDRCCs    
END 

--==================================================
GO
