/****** Object:  UserDefinedFunction [dbo].[GetLatestTripForEachVehicle]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[GetLatestTripForEachVehicle]
GO
/****** Object:  UserDefinedFunction [dbo].[GetLatestTripForEachVehicle]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetLatestTripForEachVehicle](@GPSVendorId bigint=NULL)
RETURNS TABLE
AS
RETURN
(

SELECT [GPSVendorId]=CAST(ISNULL(d.[GPSVendorId],0) as bigint),[HireVehicleId]=CAST(ISNULL(d.[HireVehicleId],0) as bigint),d.[HireVehicleNo], [VehicleId]=CAST(ISNULL(d.[VehicleId],0) as bigint),VehicleNo=d.[VehicleRegNo],Latitude=CAST(ISNULL(d.Latitude,0) as float),Longitude=CAST(ISNULL(d.Longitude,0) as float),ODOMeter=CAST(ISNULL(d.ODOMeter,0) as int),KM=cast(0 as float),TravelledKM=CAST(ISNULL(d.TravelledKM,0) as int),StartDate=CAST(GETDATE() as date),EndDate=GETDATE()
FROM 
(
	SELECT 
	[VehicleRegNo]=(case when vm.vehicleId>0 then [vm].[VehicleRegNo] else '' end)
	,[HireVehicleNo]=(case when vm.hirevehicleid>0 then vm.VehicleRegNo else '' end)
	,[GPSVendorId]=ISNULL(vm.GPSVendorId,0)
	,[HireVehicleId]=vm.hirevehicleid
	,VehicleId=vm.vehicleId
	,gps.Latitude,
	gps.Longitude,
	gps.ODOMeter,
	gps.TravelledKM,
	gps.KM,
	GPSTime=(CASE WHEN CAST(gps.GPSTime as date)='1900-01-01' THEN gps.GPSDOE ELSE gps.GPSTime END),
	gps.RowId
	FROM (
	select VehicleRegNo,VehicleId=id,hirevehicleid=0, GPSVendorId 
	from mvehiclemaster where isnull(GPSVendorId,0)=@gpsvendorid and solddate is null
	union all
	select VehicleRegNo=VehicleNo,vehicleid=0,hirevehicleid=id, GPSVendorId
	from mHireVehicle where isnull(GPSVendorId,0)=@gpsvendorid) as vm 		
	left join(
		select* from(
		SELECT RowId=ROW_NUMBER()OVER(partition by ISNULL(gps.VehicleId,0),ISNULL(gps.HireVehicleId,0) ORDER BY gps.CDOE DESC,gps.Id DESC)
		,[HireVehicleId]=ISNULL([HireVehicleId],0),[VehicleId]=ISNULL([VehicleId],0)
		,gps.Latitude,gps.Longitude,gps.ODOMeter,gps.TravelledKM,KM=0,GPSTime=gps.GPSTime,GPSDOE=gps.CDOE 
		FROM [dbo].[tGPSStatusLog] gps)as gps  where gps.RowId=1
	) gps on gps.HireVehicleId=vm.hirevehicleid and gps.vehicleid=vm.vehicleid
) as d 
)
--select top 1000 *,RowId=ROW_NUMBER()OVER(partition by ISNULL(gps.VehicleId,0) ORDER BY gps.CDOE DESC,gps.Id DESC) from dbo.[tGPSStatusLog] as gps order by cdoe desc
GO
