/****** Object:  UserDefinedFunction [dbo].[Fun_CNStockSearch]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[Fun_CNStockSearch]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_CNStockSearch]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select * from MOfficeMaster
--SELECT * FROM [dbo].[Fun_CNStockSearch](4, 4, '2016-04-01 23:59:00', '')

CREATE Function [dbo].[Fun_CNStockSearch](@ChallanOfficeId bigint,@StockOfficeId bigint,@Date DateTime,@SearchTerm nvarchar(100))  
Returns Table
As
Return(  
With tmpCNStock(Id,CNId,CNNo,StockDate,StockOfficeId,InQty) As  
 (  
	select cl.Id,cm.Id,CNNo,cl.LogDate,cl.OfficeId,cl.InQty From dbo.tCNStockLog as cl
	inner join dbo.tCNMaster as cm on cm.Id=cl.CNId
	where (cm.PODDate is null and cm.CNTypeId <> 1369 and cl.LogTypeId in(1422,1455)) AND cm.CNNo like '%'+@SearchTerm+'%'
    AND (case when (cl.LogDate<=@Date and @ChallanOfficeId=@StockOfficeId) then 1 
	when @ChallanOfficeId<>@StockOfficeId then 1  else 0 end)=1
	and cl.OfficeId=@StockOfficeId
	
 )   
 
 select top 10
 Id,
 CNId,
 CNNo,
 StockDate,
 StockOfficeId,
 StockQty=isnull(i.InQty,0)-isnull(o.OutQty,0)
 from tmpCNStock as i
 left join
 (
	select sl.RefStockId,Sum(sl.OutQty) as OutQty from
	dbo.tCNStockLog as sl where sl.LogTypeId in(1423,1451,1454,1425)
	group by sl.RefStockId
 )as o on o.RefStockId=i.Id
  where (isnull(i.InQty,0)-isnull(o.OutQty,0))>0  -- Vikas (Not to fetch CN having 0 StockQty)
 order by i.CNNo,i.StockDate
)
GO
