/****** Object:  UserDefinedFunction [dbo].[IntToHHMMSS]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[IntToHHMMSS]
GO
/****** Object:  UserDefinedFunction [dbo].[IntToHHMMSS]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[IntToHHMMSS] (@TIME int) RETURNS nvarchar(8) 
AS 
BEGIN 
declare @x nvarchar(8)
	 set @x=(CASE WHEN LEN (CAST((@TIME / 3600) AS VARCHAR(2)))=2 
     THEN CAST((@TIME / 3600) AS VARCHAR(2)) 
     ELSE '0' +CAST((@TIME / 3600) AS VARCHAR(2)) END
+
CASE WHEN LEN (CAST(((@TIME % 3600) / 60) AS VARCHAR(2)))=2 
     THEN ':'+ CAST(((@TIME % 3600) / 60) AS VARCHAR(2)) 
     ELSE ':0' + CAST(((@TIME % 3600) / 60) AS VARCHAR(2)) END 
+
CASE WHEN LEN (CAST((@TIME % 60) AS VARCHAR(2)))=2 
     THEN ':'+ CAST((@TIME % 60) AS VARCHAR(2)) 
     ELSE ':0' + CAST((@TIME % 60) AS VARCHAR(2)) END)

	RETURN @x 
END
GO
