/****** Object:  UserDefinedFunction [dbo].[YearListBetweenTwo]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[YearListBetweenTwo]
GO
/****** Object:  UserDefinedFunction [dbo].[YearListBetweenTwo]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[YearListBetweenTwo](@Year1 int,@Year2 int)
returns @yearlist table(YearCol int)
as
begin	

with yearlist as 
	(
		select @Year1 as yearcol
		union all
		select yl.yearcol + 1 as yearcol
		from yearlist yl
		where yl.yearcol + 1 <= @Year2
	)
	insert into @yearlist
	select yearcol from yearlist
	return;
end
GO
