/****** Object:  UserDefinedFunction [dbo].[MonthRangeBetweenTwo]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[MonthRangeBetweenTwo]
GO
/****** Object:  UserDefinedFunction [dbo].[MonthRangeBetweenTwo]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[MonthRangeBetweenTwo](@Date1 Date,@Date2 Date)
returns @yearlistmonth table(YearMonthCol date,YearCol int,MonthCol int)
as
begin	


	with yearlistmonth as 
	(
		select @Date1 as YearMonthCol,year(@Date1) as YearCol,month(@Date1) as MonthCol
		union all
		select DATEADD(M,1,YearMonthCol) as YearMonthCol,Year(DATEADD(M,1,YearMonthCol)) as YearCol,Month(DATEADD(M,1,YearMonthCol)) as MonthCol
		from yearlistmonth y
		where DATEADD(M,1,YearMonthCol) <= DATEFROMPARTS(year(@Date2),month(@Date2),1)
	)
	insert into @yearlistmonth
	select YearMonthCol,YearCol,MonthCol from yearlistmonth
	return;
end
GO
