/****** Object:  UserDefinedFunction [dbo].[SplitCommaString]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[SplitCommaString]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitCommaString]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[SplitCommaString]
( 
	@InputList varchar(MAX) 
) 
RETURNS 
@ParsedList table 
( 
	Item varchar(MAX) 
) 
AS 
BEGIN 
DECLARE @Item varchar(MAX), @Pos int 
SET @InputList = LTRIM(RTRIM(@InputList))+ ',' 
SET @Pos = CHARINDEX(',', @InputList, 1) 

	IF REPLACE(@InputList, ',', '') <> '' 
	BEGIN 
		WHILE @Pos > 0 
		BEGIN 
			SET @Item = LTRIM(RTRIM(LEFT(@InputList, @Pos - 1))) 

			IF @Item <> ''
			BEGIN 
				INSERT INTO @ParsedList (Item) 
				VALUES (@Item) 
			END 

			SET @InputList = RIGHT(@InputList, LEN(@InputList) - @Pos) 
			SET @Pos = CHARINDEX(',', @InputList, 1) 
		END 
	END 
	RETURN 
END
GO
