/****** Object:  UserDefinedFunction [dbo].[GetUserBySessionId]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[GetUserBySessionId]
GO
/****** Object:  UserDefinedFunction [dbo].[GetUserBySessionId]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create FUNCTION [dbo].[GetUserBySessionId]
(
	@sessionid bigint
)
RETURNS nvarchar(300)
AS
BEGIN
	
	DECLARE @user nvarchar(300)
	SELECT @user=LTRIM(ISNULL(U.FirstName,'')+' '+ISNULL(U.MiddleName,'')+' '+ISNULL(U.LastName,'')+' ['+U.UserName+']') FROM [dbo].[ApiSessions] S JOIN [dbo].[ApiUsers] U ON S.UserId=U.Id WHERE S.Id=@sessionid
	RETURN @user

END
GO
