/****** Object:  UserDefinedFunction [dbo].[FUN_Vouchers_ReplaceAnd]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[FUN_Vouchers_ReplaceAnd]
GO
/****** Object:  UserDefinedFunction [dbo].[FUN_Vouchers_ReplaceAnd]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUN_Vouchers_ReplaceAnd]  
(  
 @Value varchar(MAX)  
)  
RETURNS VARCHAR(MAX)  
AS  
BEGIN  
 SET @Value = Replace(Replace(@Value,'&','&amp;'),'''','''''')  
      
 RETURN @Value  
END

--=======================================================
GO
