/****** Object:  UserDefinedFunction [dbo].[Fun_Driver_OpeningBalance]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[Fun_Driver_OpeningBalance]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_Driver_OpeningBalance]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[Fun_Driver_OpeningBalance](@parameter1 datetime,@parameter2 varchar(255))
Returns Table
As 
Return(
	Select
	OpeningBal=IsNull(o.OpBalance,0),
	LastDate=o.LastDate,
	DSecurityOpenBal=0
	From dbo.mDriverMaster As D 	
	left join
	(
		select 
		t.DriverId,
		OpBalance=Sum(case when t.AdvanceTypeId in(1,2,17,11,16,59) and t.Id is null  then IsNull(t.CashAmount,0) when t.Id>0 
		then -IsNull(t.CashAmount,0) when t.AdvanceTypeId in(13,14) then -IsNull(t.CashAmount,0) end)
		,LastDate=Max(t.AdvanceDate)
		from dbo.tTripAdvanceLog As t
		where t.AdvanceDate<@parameter1
		group by t.DriverId
	) As o On D.Id=o.DriverId
	where D.Id in (@parameter2)
)












GO
