/****** Object:  UserDefinedFunction [dbo].[GetVTSStatusStartEndEvent]    Script Date: 03-01-2019 12:18:44 ******/
DROP FUNCTION [dbo].[GetVTSStatusStartEndEvent]
GO
/****** Object:  UserDefinedFunction [dbo].[GetVTSStatusStartEndEvent]    Script Date: 03-01-2019 12:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SELECT * FROM dbo.[GetVTSStatusStartEndEvent](99,102,NULL,NULL)
CREATE FUNCTION [dbo].[GetVTSStatusStartEndEvent](@startDSTStatusId bigint,@endDTSStatusId bigint,@fromDate DATETIME=NULL,@toDate DATETIME=NULL)
RETURNS @Tbl TABLE(TripLogId bigint,StartEventLogId bigint,EndEventLogId bigint,EventStartDate datetime,EventEndDate Datetime,StartEventId bigint,EndEventId bigint)
AS
BEGIN
INSERT INTO @Tbl
SELECT TripLogId=fst.TriplogId,StartEventLogId=fst.Id,EndEventLogId=lst.Id,EventStartdate=fst.StartDate,EventEndDate=lst.StartDate,StartEventId=fst.DTSStatusId,EndEventId=lst.DTSStatusId FROM
(SELECT RowId=ROW_NUMBER()OVER(PARTITION BY TripLogId,DTSStatusId ORDER BY StartDate),frm.TriplogId,frm.VehicleId,frm.HireVehicleId,frm.Id,frm.StartDate,frm.DTSStatusId
FROM tVTSStatusLog frm
where frm.DTSStatusId =@startDSTStatusId) as fst 
left join
(SELECT RowId=ROW_NUMBER()OVER(PARTITION BY TripLogId,DTSStatusId ORDER BY StartDate),frm.TriplogId,frm.VehicleId,frm.HireVehicleId,frm.Id,frm.StartDate,frm.DTSStatusId
FROM tVTSStatusLog frm 
left join mDTSStatus d on frm.DTSStatusId=d.Id

where DTSStatusId =@endDTSStatusId) as lst on fst.RowId=lst.RowId AND fst.TriplogId=lst.TriplogId
WHERE 1=(CASE WHEN @fromDate IS NULL THEN 1 WHEN @fromDate=fst.StartDate THEN 1 ELSE 0 END) AND 1=(CASE WHEN @toDate IS NULL THEN 1 WHEN @toDate=fst.StartDate THEN 1 ELSE 0 END)
order by fst.StartDate desc
RETURN
END
GO
