/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1521_GenCNStock]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1521_GenCNStock]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1521_GenCNStock]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_TRNS_1521_GenCNStock] --'cd890e83970047bcadbce29a96ac5008'
	@parameter1 nvarchar(500)
as
BEGIN TRY
	BEGIN TRANSACTION 
			declare @sql nvarchar(max),@wherecondition nvarchar(500)
			set @wherecondition=''
		
			if(len(@parameter1)>0)
			begin
				set @wherecondition=' and cnm.BatchId=@BatchId ';	
			end

			declare @configwhere nvarchar(max),@attachtlquery nvarchar(max)
			select top 1 @configwhere=Value from ApiConfigurations where Id='cnuploadattachtriplog'
			if(len(@configwhere)>0 and len(@parameter1)>0)
			begin
				set @attachtlquery=@configwhere
				print(@attachtlquery)
				exec sp_executesql  @attachtlquery,N'@BatchId nvarchar(500)',@BatchId=@parameter1
				
			end
		--	return;
			/*and cnm.PODDate is null  */
			set @sql=N'
			insert into [dbo].[tCNStockLog]([LogDate],[CNId],[OfficeId],[InQty],[ShortageQty],[OutQty],[ExessQty],[LogTypeId],[CSID],[CDOE])
			select cnm.CNDate,cnm.Id,cnm.LoadingOfficeId,cnm.ActualQty,0,0,0,1422,cnm.CSID,cnm.CDOE from dbo.tCNMaster as cnm 
			left join dbo.[tCNStockLog] as tt on tt.CNId=cnm.Id
			where tt.Id is null and cnm.CNTypeId not in(1369) '+ @wherecondition +'

			insert into [dbo].[tCNChallan]([TriplogId],[CNId],[Qty],[Excess],[Short],[ArrivalQty],[MarketFreight],[Revenue],[CSID],[CDOE],[RouteId],[OfficeId],[RefStockId],[ActualWeight],[ShipmentDate],[LogTypeId],[IsDeliveryFailed])
			select cnm.TripLogId,cnm.Id,cnm.ActualQty,0,0,cnm.ActualQty,0,isnull(cnm.CNTotalFreight,0),cnm.CSID,cnm.CDOE,isnull(cnm.ActRouteId,cnm.ChgRouteId),cnm.LoadingOfficeId,sl.Id,cnm.ActualWeight,vm.TripStartDate,1423,0 from dbo.tCNMaster as cnm 
			inner join dbo.tVehicleMovementLog as vm on vm.Id=cnm.TripLogId
			inner join dbo.tCNStockLog as sl on sl.CNId=cnm.Id and sl.LogTypeId=1422 and sl.RefStockId is null
			left join dbo.tCNChallan as cnh on cnh.CNId=cnm.Id
			where cnh.Id is null '+ @wherecondition +'
	
			insert into [dbo].[tCNStockLog]([LogDate],[CNId],[OfficeId],[RefStockId],[InQty],[ShortageQty],[OutQty],[ExessQty],[LogTypeId],[CSID],[CDOE],[ChallanCNId],[TriplogId])
			select t.[LogDate],t.[CNId],t.[OfficeId],t.Id,t.[InQty],t.[ShortageQty],t.[OutQty],0,1423,t.[CSID],t.[CDOE],ch.Id,vm.Id from dbo.tCNMaster as cnm 
			inner join dbo.tVehicleMovementLog as vm on vm.Id=cnm.TriplogId
			inner join [dbo].[tCNChallan] as ch on vm.Id=ch.TripLogId and cnm.Id=ch.CNId
			join dbo.[tCNStockLog] as t on t.CNId=cnm.Id and t.LogTypeId=1422
			left join dbo.[tCNStockLog] as tt on tt.RefStockId=t.Id and tt.LogTypeId=1423
			where  tt.Id is null ' + @wherecondition+'

			insert into [dbo].[tCNStockLog]([LogDate],[CNId],[OfficeId],[RefStockId],[InQty],[ShortageQty],[OutQty],[ExessQty],[LogTypeId],[CSID],[CDOE],[ChallanCNId],[TriplogId])
			select t.[LogDate],t.[CNId],t.[OfficeId],t.Id,t.[InQty],t.[ShortageQty],t.[OutQty],0,1424,t.[CSID],t.[CDOE],ch.Id,vm.Id from dbo.tCNMaster as cnm 
			inner join dbo.tVehicleMovementLog as vm on vm.Id=cnm.TripLogId
			inner join [dbo].[tCNChallan] as ch on vm.Id=ch.TripLogId  and cnm.Id=ch.CNId
			join dbo.[tCNStockLog] as t on t.CNId=cnm.Id and t.LogTypeId=1423
			left join dbo.[tCNStockLog] as tt on tt.RefStockId=t.Id and tt.LogTypeId=1424
			where tt.Id is null ' + @wherecondition+'
			
			update cnm set cnm.PageId=bl.Id from dbo.tCNMaster cnm inner join dbo.[mBookLog] bl on cnm.CNNo=bl.PageNo and TypeId=1417 '+@wherecondition+'
			update cnm set cnm.ChgRouteId=tl.RouteId,cnm.ActRouteId=tl.RouteId from dbo.tCNMaster cnm join dbo.[tVehicleMovementlog] tl on cnm.TriplogId=tl.Id and isnull(cnm.ChgRouteId,0)=0 '+@wherecondition+'
			
			insert into mBookLogArchive(Id, PageNo, AllotedDate, IsUsed, BookId, TypeId, OfficeId, ClientId,CSID, CDOE, MSID, MDOE, PageId,IsCanceled)
			Select Id, PageNo, AllotedDate, IsUsed, BookId, TypeId, OfficeId, ClientId,CSID, CDOE, MSID, MDOE, PageId,0 from mBookLog where Id in(select PageId From dbo.tCNMaster cnm where 1=1 '+@wherecondition+')'
			print(@SQL)
			exec sp_executesql  @sql,N'@BatchId nvarchar(500)',@BatchId=@parameter1
			
			Update t set t.CNFreight=cn.TotalBooking from dbo.tVehicleMovementLog as t join
				(select cn.TriplogId, Sum(isnull(cn.Revenue,0)) as TotalBooking from  dbo.tCNChallan as cn  group by cn.TripLogId)as cn on t.ID=cn.TripLogId
				where t.Id in(select distinct cn.TriplogId from  dbo.tCNMaster as cn where cn.BatchId=@parameter1)	
		COMMIT TRANSACTION
END TRY
BEGIN CATCH
	PRINT 
		'Error ' + CONVERT(varchar(50), ERROR_NUMBER()) +
  		', Severity ' + CONVERT(varchar(5), ERROR_SEVERITY()) +
  		', State ' + CONVERT(varchar(5), ERROR_STATE()) +
  		', Line ' + CONVERT(varchar(5), ERROR_LINE())
  
	PRINT ERROR_MESSAGE();
  
  	IF XACT_STATE() <> 0 BEGIN
		ROLLBACK TRANSACTION
  	END
END CATCH;
GO
