/****** Object:  StoredProcedure [dbo].[Proc_Report_1324]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1324]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1324]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1324]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--Asofdate
	@parameter5 bit--Y:AllLatestDuesOfVehicle,N:AsPerAsOfDate
As
BEGIN
	
	if(@parameter5=0 and isnull(@parameter4,'1900-01-01')<='1999-01-01')
	begin
		set @parameter4=getdate()
	end
	if(@parameter5=1)
	begin
		set @parameter4='2150-01-01'
	end

	DECLARE @ColsList varchar(max),@ColsListSum varchar(max),@sql nvarchar(max),@paramterinfo nvarchar(max)
	
	select @ColsList=isnull(@ColsList,'')+ '['+Name+'],' from dbo.mDueMaster as gm where gm.StatusId=0
	set @ColsList=LEFT(@ColsList,len(@ColsList)-1)

	select @ColsListSum=isnull(@ColsListSum,'')+ '['+Name+']=' +'convert(varchar(10), ['+Name+'],103),' from dbo.mDueMaster as gm where gm.StatusId=0
	set @ColsListSum=LEFT(@ColsListSum,len(@ColsListSum)-1)

	SET @sql = N' SET NOCOUNT ON;
	select 
	CCO.CategoryName,
	CCO.ClassName,
	m.VehicleNo,
	VehicleModel=vm.ModelName
	,'+@ColsListSum+'
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.mVehicleMaster AS m on m.Id=CCO.ObjectId
	join dbo.mVehicleModel as vm on vm.Id=m.VehicleModelId
	join
	(
		select * from (
		SELECT Name,ExpiryDate,VehicleId from (select dm.Name,t.ExpiryDate,t.VehicleId,RowId=Row_Number() OVER(PARTITION BY t.VehicleId,t.DueTypeId ORDER BY t.StartDate desc,t.ExpiryDate desc)	
		from dbo.tDueTransactionLog AS t
		join dbo.mDueMaster AS dm on dm.Id=t.DueTypeId
		) as t WHERE 1=RowId and cast(t.ExpiryDate as date)<=CAST(@parameter4 as date)
		)as s
		pivot(
			max(ExpiryDate)
			for Name in('+@ColsList+')
		)as pvt
	) as mtx on mtx.VehicleId=m.Id
	where m.SoldDate Is Null
	ORDER BY CCO.ObjectName '

	set @paramterinfo='@parameter1 bigint,@parameter2 nvarchar(max),@parameter3 nvarchar(max),@parameter4 datetime,@parameter5 bit'
	print @sql
	execute sp_executesql @sql,@paramterinfo,@parameter1=@parameter1,@parameter2=@parameter2,@parameter3=@parameter3,@parameter4=@parameter4,@parameter5=@parameter5
END
GO
