/****** Object:  StoredProcedure [dbo].[Proc_TRNS_TripBdgtV2_Show]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_TripBdgtV2_Show]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_TripBdgtV2_Show]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRNS_TripBdgtV2_Show] 
@parameter1 BIGINT,--RouteId  
@parameter2 BIGINT,--VehicleId  
@parameter3 DATETIME,--TripDate  
@parameter4 BIGINT = 0,--TripNatureId
@parameter5 BIGINT = 0--TripModeId
AS
BEGIN
  DECLARE @VehicleTypeId BIGINT,@configVehicleType BIGINT
         ,@FastTagNo NVARCHAR(200)
  SELECT
    @VehicleTypeId = VehicleTypeId
   ,@FastTagNo = FastTagNo
  FROM dbo.mVehicleMaster
  WHERE Id = @parameter2

  Select @configVehicleType=VehicleTypeId from mVehicleConfigLog where VehicleId=@parameter2;

  SELECT
    t.PaidAmount
   ,t.BudgetedAmount
   ,t.ExpenseId
   ,t.ExpenseNatureId
   ,t.Expense
   ,t.BudgetedQty
   ,IsBudgeted = CAST(1 AS BIT)
   ,IsAutoCreated = CAST(0 AS BIT)
  FROM (SELECT
      RowId = ROW_NUMBER() OVER (PARTITION BY t.ExpenseTypeId ORDER BY t.StartDate DESC)
     ,PaidAmount = 0
     ,BudgetedAmount = ISNULL(CASE
        WHEN em.NatureId = 1479 THEN 0
        ELSE t.ExpenseValue
      END, 0)
     ,ExpenseId = t.ExpenseTypeId
     ,ExpenseNatureId = em.NatureId
     ,Expense = em.Name
     ,BudgetedQty = ISNULL(CASE
        WHEN em.NatureId = 1479 THEN t.ExpenseValue
        ELSE 0
      END, 0)


    FROM dbo.mTripExpenseBudget AS t
    JOIN dbo.mRouteMaster AS rm
      ON rm.Id = t.RouteId
    JOIN dbo.mExpenseMaster AS em
      ON em.Id = t.ExpenseTypeId  /*LEN(ISNULL(@FastTagNo,''))>0*/
    WHERE t.RouteId = @parameter1
    AND t.VehicleTypeId = ISNULL(@configVehicleType,@VehicleTypeId)
    AND (CASE WHEN @parameter3<='2018-06-22 23:59:00' THEN 1 ELSE (CASE
      WHEN em.NatureId IN (1617, 1618) THEN (CASE
          WHEN LEN(ISNULL(@FastTagNo, '')) > 0 AND
            em.NatureId = 1617/*eToll*/ THEN 1
          WHEN LEN(ISNULL(@FastTagNo, '')) <= 0 AND
            em.NatureId = 1618/*Cash Toll*/ THEN 1
          ELSE 0
        END)
      ELSE 1
    END) END) = 1
    AND (@parameter3 BETWEEN t.StartDate AND ISNULL(t.EndtDate, GETDATE()))
    AND em.NatureId > 0
    AND (CASE
      WHEN (t.TripNatureId = @parameter4 OR
        t.TripNatureId IS NULL) THEN 1
      WHEN @parameter4 = 0 THEN 1
      ELSE 0
    END) = 1) AS t
  WHERE RowId = 1
  AND (ISNULL(t.BudgetedQty, 0) > 0
  OR ISNULL(t.BudgetedAmount, 0) > 0)
END
GO
