/****** Object:  StoredProcedure [dbo].[Proc_Report_1395]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1395]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1395]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1395]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate
AS
 
Select 
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	dvr.DriverName,
	dvr.DriverCode,
	OnDate=t.StatusDate,
	OutDate=o.StatusDate,
	DriverAge=DateDiff(Day,(case when (t.StatusDate between @parameter4 and @parameter5) then t.StatusDate when t.StatusDate<=@parameter4 then @parameter4  end),
	(case when o.StatusDate is null then @parameter5 when o.StatusDate between @parameter4 and @parameter5 then o.StatusDate when o.StatusDate>=@parameter5 then @parameter5 end)),
	vm.VehicleRegNo,
	DriverRole=dr.ConstantName,
	DriverStatus=ds.ConstantName,
	DriverReason=rr.Name,
	t.Remark
	from dbo.tDriverVehicleMapping as t
	join dbo.mDriverMaster as dvr on dvr.ID=t.DriverId
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=t.DriverId
	left join dbo.tDriverVehicleMapping as o on o.Id=t.NextLogId
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mGenericMaster as rr on rr.ID=t.DriverReasonId
	left join dbo.mConstantValue as dr on dr.Id=t.DriverRoleId
	left join dbo.mConstantValue as ds on ds.Id=t.DriverStatusId
	where 
	(((t.StatusDate between @parameter4 and @parameter5) or  (o.StatusDate between @parameter4 and @parameter5)) or
	((t.StatusDate<=@parameter4 and isnull(o.StatusDate,getdate())>= @parameter5))
	) and t.DriverStatusID=1225
	order by t.StatusDate
	
GO
