/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1564_UpdateMM]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1564_UpdateMM]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1564_UpdateMM]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_TRANS_1564_UpdateMM]
@parameter1 bigint=0,--MMId
@parameter2 nvarchar(200),--InvoiceNo //
@parameter3 datetime,--InvoiceDate//
@parameter4 decimal(18,2),--InvoiceValue//
@parameter5 bigint=0,--MaterialId// fk
@parameter6 decimal(18,2)=0,--ChargeWeight//
@parameter7 bigint,--ChargeWeightUnitId
@parameter8 decimal(18,2)=0,--ChargeQty//
@parameter9 bigint,--ChargeQtyUnitId fk
@parameter10 decimal(18,2)=0,--Length
@parameter11 decimal(18,2)=0,--Height
@parameter12 decimal(18,2)=0,--Breadth
@parameter13 decimal(18,2)=0,--CFT
@parameter14 decimal(18,2)=0,--Rate//
@parameter15 decimal(18,2)=0,--Freight//
@parameter16 nvarchar(300),--Remark//
@parameter17 bigint,--VolumeUnitId fk
@parameter18 decimal(18,2)=0,--ServiceTaxRate//
@parameter19 decimal(18,2)=0,--ServiceTaxAmount//
@parameter20 decimal(18,2)=0,--ExciseRate//
@parameter21 decimal(18,2)=0,--ExciseAmount//
@parameter22 decimal(18,2)=0,--InvoiceNetValue//
@parameter23 decimal(18,2)=0,--TotalPackage
@parameter24 bigint,--PkgUnitId fk
@parameter25 bigint,--Ref1Id// fk
@parameter26 nvarchar(300),--Ref1//pono
@parameter27 nvarchar(300),--Ref2
@parameter28 nvarchar(300),--Ref3
@parameter29 bigint=0--SessionId

AS 
BEGIN
	if(@parameter1<=0)
	begin
		RAISERROR('Select Record to update',11,0)
		RETURN;
	end
	if(@parameter5<=0)
	begin
		RAISERROR('Material Name is required',11,0)
		RETURN;
	end

	if(len(isnull(@parameter2,''))<=0)
	begin
		RAISERROR('Invoice No is required',11,0)
		RETURN;
	end
	if(@parameter3<=0)
	begin
		RAISERROR('Invoice Date id required',11,0)
		RETURN;
	end
	if(@parameter25<=0)
	begin
		RAISERROR('Indicator is required',11,0)
		RETURN;
	end

	declare @cnid bigint=0;
	select  @cnid = CnId from dbo.[tCNMultiMaterial] where id=@parameter1

	UPDATE [dbo].[tCNMultiMaterial] SET 
		InvoiceNo=@parameter2,
		InvoiceDate=@parameter3,
		InvoiceValue=@parameter4,
		MaterialId=@parameter5,
		ChargeWeight=@parameter6,
		ChargeWeightUnitId=@parameter7,
		ChargeQty=@parameter8,
		ChargeQtyUnitId=@parameter9,

		ActualWeight=@parameter6,
		ActualWeightUnitId=@parameter7,
		ActualQty=@parameter8,
		ActualQtyUnitId=@parameter9,

		[Length]=ISNULL(@parameter10,0),
		Height=ISNULL(@parameter11,0),
		Breadth=ISNULL(@parameter12,0),
		CFT=ISNULL(@parameter13,0),
		Rate=ISNULL(@parameter14,0),
		Freight=ISNULL(@parameter15,0),
		Remark=@parameter16,
		VolumeUnitId=@parameter17,
		ServiceTaxRate=@parameter18,
		ServiceTaxAmount=@parameter19,
		ExciseRate=@parameter20,
		ExciseAmount=@parameter21,
		InvoiceNetValue=@parameter22,
		TotalPackage=@parameter23,
		PkgUnitId=@parameter24,
		Ref1Id=@parameter25,
		Ref1=@parameter26,
		Ref2=@parameter27,
		Ref3=@parameter28,
		MSID=@parameter29
		 WHERE Id=@parameter1

		 UPDATE C SET C.ChargedQty=M.ChargedQty,C.ChargedWeight=M.ChargeWeight, C.MSID=@parameter29,C.ActualQty=M.ActualQty,C.ActualWeight=M.ActualWeight
		 FROM [dbo].[tCNMaster] C
		 LEFT JOIN 
		 (
			SELECT CNId,ActualQty=SUM(isnull(ActualQty,0)),ActualWeight=SUM(isnull(ActualWeight,0)),ChargedQty=SUM(isnull(ChargeQty,0)),ChargeWeight=SUM(isnull(ChargeWeight,0))
			FROM [dbo].[tCNMultiMaterial] where CnId=@cnid
			GROUP BY CnId
		 ) AS M ON C.Id=M.Cnid
		where C.Id=@cnid

		--Updating CNStockLogMM Qty
		update S SET S.MaterialId=@parameter5,S.InQty=(case when s.LogTypeId in(1422,1455) then @parameter8 else S.InQty end), S.OutQty=(case when s.LogTypeId Not in(1422,1455) or(s.LogTypeId in(1422,1455) and isnull(s.RefStockId,0)>0) then @parameter8 else S.OutQty end), S.MSID=@parameter29
		FROM [dbo].[tCNStockMMLog] S
		WHERE S.CNMMId=@parameter1 and S.CNId=@cnid

		--Updating CNStockLog Qty
		update S SET S.InQty=isnull(mml.InQty,0), S.OutQty=isnull(mml.OutQty,0), S.MSID=@parameter29
		FROM [dbo].[tCNStockLog] S
		join
		( 
			select S.StockLogId,InQty=sum(S.InQty),OutQty=sum(S.OutQty)
			from [dbo].[tCNStockMMLog] S
			where S.StockLogId in(select distinct x.StockLogId FROM [dbo].[tCNStockMMLog] x where x.CNMMId=@parameter1 and x.CNId=@cnid)
			group by S.StockLogId
		)mml on mml.StockLogId=S.Id

		--Updating CNChallan Qty
		update S SET S.Qty=isnull(mml.Qty,0), S.ActualWeight=isnull(mml.ActualWeight,0),S.ArrivalQty=isnull(mml.ArrivalQty,0), S.MSID=@parameter29
		FROM [dbo].[tCNChallan] S
		join
		( 
			select S.ChallanCNId,ActualWeight=sum(isnull(l.ActualWeight,0)),Qty=sum(S.OutQty),ArrivalQty=sum(S.InQty)
			from [dbo].[tCNStockMMLog] S
			join [dbo].[tCNMultiMaterial] l on S.CNMMId=l.Id
			where S.ChallanCNId in(select distinct x.ChallanCNId FROM [dbo].[tCNStockMMLog] x where x.CNMMId=@parameter1 and x.CNId=@cnid and x.ChallanCNId>0)
			and S.LogTypeId in(1422,1424) and isnull(s.RefStockId,0)>0
			group by S.ChallanCNId
		)mml on mml.ChallanCNId=S.Id

		select 'Record Update successfully'
END
GO
