/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_UpdateNextLoadPlan]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1624_UpdateNextLoadPlan]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_UpdateNextLoadPlan]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1624_UpdateNextLoadPlan]

@parameter1 bigint=0, --TriplogId
@parameter2 DateTime=NULL, --InitialDate
@parameter3 bigint=NULL, --InitialLocation
@parameter4 DateTime=NULL, --RevisedDate
@parameter5 bigint=NULL --RevisedLocation
AS 
BEGIN
 UPDATE [dbo].[tVehicleMovementLog]
		SET Date1=@parameter2, 
		Location1Id=@parameter3,
		Date2=ISNULL(@parameter4,@parameter2), 
		Location2Id=ISNULL(@parameter5,@parameter3)
		WHERE Id=@parameter1;
END
GO
