/****** Object:  StoredProcedure [dbo].[Proc_Format_1506_29]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1506_29]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1506_29]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Format_1506_29] 
	@parameter1 bigint,
	@parameter2 bigint
AS
BEGIN
--1423: Stock Out
	select 

	mm.InvoiceNo,
	mm.InvoiceDate,
	InvoiceValue=mm.InvoiceValue,
	PartNo = mt.Code,
	Quantity = t.OutQty,
	InvoiceRate=mm.InvoiceRate,
	eWayBillNo=mm.EWayBillMM,
	eWayExDate=mm.eWayBillValidity
	from dbo.tCNStockMMLog as t
	join dbo.tCNMultiMaterial as mm on mm.Id=t.CNMMId
	join dbo.mMaterialMaster as mt on mt.Id=mm.MaterialId
	where t.TriplogId=@parameter1 and t.CNId=@parameter2 and t.LogTypeId=1423
	order by mm.InvoiceNo
END
GO
