/****** Object:  StoredProcedure [dbo].[Proc_Report_1625]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1625]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1625]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC Proc_1448 10015,'','','2015-01-01','2016-12-12','2'


CREATE proc [dbo].[Proc_Report_1625]
--1625: Advance & Fueling
	@parameter1 bigint,--CreditAccount
	@parameter2 bigint,--Vehicle
	@parameter3 datetime,--FromDate
	@parameter4 datetime,--ToDate
	@parameter5 int--VoucherTypeIds
as
begin
	if(DATEDIFF(MONTH,@parameter3,@parameter4)>2)--Only 2 Month report is allowed
	begin
		RAISERROR ('You can see only 2 months data at a time',16,1);
	end


	--set @parameter5=case when @parameter5='3' or len(isnull(@parameter5,''))<=0 then '1,2' else @parameter5 end
	create table #adv(Office varchar(100),PaymentMode varchar(100),RefNo varchar(150),RefDate Datetime,AdvanceType  varchar(100),VehicleNo varchar(100),T varchar(1),Driver varchar(100),RouteName varchar(200),Advance decimal(18,2),SlipNo varchar(150),FuelQty decimal(18,2),FuelType varchar(100),FuelRate decimal(18,2),FuelAmount decimal(18,2),DebitAccount varchar(150),CreditAccount varchar(150),
	TripNo varchar(150),TripDate Datetime,Remark varchar(200),DOE Datetime,ExpNature varchar(150),HireParty varchar(255))

	insert into #adv(Office,PaymentMode,RefNo,RefDate,AdvanceType,VehicleNo,T,Driver,RouteName,Advance,SlipNo,FuelQty,FuelRate
	,FuelAmount,DebitAccount,CreditAccount,	TripNo,TripDate,Remark,DOE,ExpNature)
	select 
	Office = O.OfficeName,
	PaymentMode=pm.ConstantName,
	RefNo = T.VoucherNo,
	RefDate = T.AdvanceDate,
	AdvanceType = AT.VoucherTypeName,
	VehicleNo = V.VehicleNo,
	T= 'O',
	Driver = DVR.DriverName,
	RouteName=rt.Name,
	CashAmount=case when t.AdvanceTypeId=1 then T.CashAmount else 0 end,
	SlipNo=t.ReferenceNo,
	T.FuelQty,
	T.FuelRate,
	T.FuelAmount,
	DebitAccount = DR.AccountName,
	CreditAccount = CR.AccountName,
	TripNo = TL.TriplogNo,
	TripDate = TL.TripStartDate,
	Remark=T.Remark,
	DOE = T.CDOE,
	expn.Name
	from dbo.tTripAdvanceLog as T
	left join dbo.mConstantValue as pm on pm.Id=t.PaidInId
	left join dbo.mExpenseMaster as expn on expn.Id=t.ExpenseId
	left join [dbo].[mOfficeMaster] as O on T.[OfficeId] = O.[Id]
	left join dbo.mDriverMaster as DVR on DVR.Id=T.DriverId
	left join dbo.mVehicleMaster as V on V.Id=T.VehicleId
	left join dbo.mVoucherType as AT on AT.Id=T.AdvanceTypeId
	left join dbo.tVehicleMovementLog as TL on TL.Id=T.TripLogId
	left join dbo.mLedger as DR on DR.Id=T.DebitAccountId
	left join dbo.mLedger as CR on CR.Id=T.CreditAccountId
	left join dbo.mRouteMaster as rt on rt.Id=tl.RouteId	
	where  (case when @parameter5=0 then 1 when @parameter5=T.AdvanceTypeId then 1 else 0 end)=1
	and (t.AdvanceDate between @parameter3 and @parameter4)
	and (case when @parameter1=0 then 1 when @parameter1=T.CreditAccountId then 1 else 0 end)=1
	and (case when @parameter2=0 then 1 when @parameter2=T.VehicleId then 1 else 0 end)=1
	
	insert into #adv(Office,PaymentMode,RefNo,RefDate,AdvanceType,VehicleNo,T,HireParty,Driver,RouteName,Advance,SlipNo,FuelQty,FuelRate
	,FuelAmount,DebitAccount,CreditAccount,	TripNo,TripDate,Remark,DOE)
	select 
	Office = O.OfficeName,
	PaymentMode=pm.ConstantName,
	RefNo = TriplogNo,
	RefDate =T.AdvDate,
	AdvanceType = pm.ConstantName,
	VehicleNo = V.VehicleNo,
	VehicleType= 'H',
	HireParty=hvp.FleetAcName,
	Driver = DVR.DriverName,
	RouteName=rt.Name,
	CashAmount=case when t.PaymentModeId=1518 then 0 else T.Amount end,
	SlipNo=t.RefNo,
	T.FuelQty,
	T.Rate,
	FuelAmount=case when t.PaymentModeId=1518 then T.Amount else 0 end,
	DebitAccount = DR.AccountName,
	CreditAccount = CR.AccountName,
	TripNo = TL.TriplogNo,
	TripDate=TL.TripStartDate,
	Remark=T.Remarks,
	DOE = T.CDOE
	from dbo.tHSAdvance as T
	left join dbo.tVehicleMovementLog as TL on TL.Id=T.HireSlipId
	left join dbo.mConstantValue as pm on pm.Id=t.PaymentModeId
	left join [dbo].[mOfficeMaster] as O on TL.[OfficeId] = O.[Id]
	left join dbo.mDriverMaster as DVR on DVR.Id=TL.Driver1stId
	left join dbo.mHireVehicle as V on V.Id=TL.HireVehicleId
	left join dbo.mLedger as DR on DR.Id=T.DrAccountId
	left join dbo.mLedger as CR on CR.Id=T.CrAccountId
	left join dbo.mLedger as hvp on hvp.Id=TL.HVPId
	left join dbo.mRouteMaster as rt on rt.Id=tl.RouteId

	where (t.AdvDate between @parameter3 and @parameter4)
	and (case when @parameter1=0 then 1 when @parameter1=T.CrAccountId then 1 else 0 end)=1
	and (case when @parameter2=0 then 1 when @parameter2=TL.HireVehicleId then 1 else 0 end)=1

	if(@parameter5=2)
	begin
		select Office,RefNo,RefDate=convert(varchar(10),RefDate,103),CreditAccount,VehicleNo,T,HireParty,SlipNo,FuelQty,FuelRate,FuelAmount,PaymentMode
		,Driver,TripNo,TripDate=convert(varchar(10),TripDate,103),RouteName,Remark,DOE=convert(varchar(10),DOE,103)+'  '+ convert(VARCHAR(8), DOE, 14)
		from #adv where FuelAmount>0 order by RefDate
	end
	if(@parameter5=1)
	begin
		select Office,RefNo,RefDate=convert(varchar(10),RefDate,103),CreditAccount,VehicleNo,T,HireParty,Advance,ExpNature,PaymentMode
		,Driver,TripNo,TripDate=convert(varchar(10),TripDate,103),RouteName,Remark,DOE=convert(varchar(10),DOE ,103)+'  '+ convert(VARCHAR(8), DOE, 14)
		from #adv where Advance>0 order by RefDate
	end
	else
	begin
		select Office,RefNo,RefDate=convert(varchar(10),RefDate,103),CreditAccount,VehicleNo,T,HireParty,SlipNo,FuelQty,FuelRate,FuelAmount,Advance,ExpNature,Total=isnull(FuelAmount,0)+isnull(Advance,0),PaymentMode
		,Driver,TripNo,TripDate=convert(varchar(10),TripDate,103),RouteName,Remark,DOE=convert(varchar(10),DOE,103)+'  '+ convert(VARCHAR(8), DOE, 14)
		from #adv  order by RefDate
	end
	drop table #adv
end
GO
