/****** Object:  StoredProcedure [dbo].[Proc_Report_1642]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1642]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1642]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec Proc_Report_1309 2,'','','2015-01-01','2016-12-12'
--select * from mObjectCategory

CREATE proc [dbo].[Proc_Report_1642]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 bigint,
	@parameter7 bigint
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)


	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	vh.VehicleRegNo,
	spm.SpareName,
	sp.PartCount,
	sp.TotalAmount
	from dbo.mVehicleMaster as vh
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=vh.Id
	left join
	(
		select sp.VehicleId,SparePartId=sp.SparePartId,count(sp.SparePartId) as PartCount,sum(isnull(sp.NetAmount,0)) As TotalAmount from dbo.tSpareLog as sp 
		join dbo.tSpareLogExtraInfo as ei on ei.Id=sp.ExtraInfoId
		where ei.DocDate between @parameter4 and @parameter5
		
		group by sp.VehicleId,sp.SparePartId

		union all
		
		select lbr.VehicleId,SparePartId=lbr.LaborId,count(lbr.LaborId) as PartCount,sum(isnull(lbr.NetAmount,0)) As TotalAmount from dbo.tRepairLabourLog as lbr 
		join dbo.tSpareLogExtraInfo as ei on ei.Id=lbr.ExtraInfoId
		where ei.DocDate between @parameter4 and @parameter5
		
		group by lbr.VehicleId,lbr.LaborId
	)as sp on sp.VehicleId=vh.Id
	join dbo.mSpareMaster as spm on spm.ID=sp.SparePartId
	where 
	(
		(case when @parameter6=0 and @parameter7=0 then 1 when @parameter6=sp.SparePartId then 1 else 0 end)=1 or 
		(case when @parameter7=0 and @parameter6=0 then 1 when @parameter7=sp.SparePartId then 1 else 0 end)=1
	)

	order by sp.PartCount desc
end

GO
