/****** Object:  StoredProcedure [dbo].[Proc_Report_1321]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1321]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1321]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC Proc_Report_1321 10015,'','','2015-12-12','2016-12-12'

--SELECT * FROM mObjectCategory

CREATE PROC [dbo].[Proc_Report_1321]
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 datetime,--fromdate
@parameter5 datetime--todate
As
BEGIN

	SET NOCOUNT ON;
	select 
	CCO.CategoryName,
	CCO.ClassName,
	OfficeName = o.OfficeName,
	DocumentNo = v.VoucherNo,
	PaidDate = v.VoucherDate,
	PaidAmount = abs(v.VchAmount),
	DueAccountName = a1.AccountName,
	DueAmount = abs(v.Amount1),
	PayableAccountName = a2.AccountName,
	PayableAmount = abs(v.Amount2),

	OtherAccountName = a3.AccountName,
	OtherAmount = abs(v.Amount3),

	OthPayableAccountName = a4.AccountName,
	OthPayableAmount = abs(v.Amount4),

	IsLocked = case when (v.IsAudited=1 or v.IsAccepted=1) and v.IsAccountsVisiblity=1 then 'Locked' else 'Open' end,
	Narration = v.AccNarration,
	CU=csu.UserName,
	DOE=v.CDOE,
	MU=msu.UserName,
	DOM=v.MDOE
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tVouchers as v on v.OfficeId=CCO.ObjectId
	join dbo.mOfficeMaster as o on o.Id=v.OfficeId
	left join dbo.mLedger as a1 on a1.Id=v.Account1Id
	left join dbo.mLedger as a2 on a2.Id=v.Account2Id
	left join dbo.mLedger as a3 on a3.Id=v.Account3Id
	left join dbo.mLedger as a4 on a4.Id=v.Account4Id

	left join ApiSessions as cs on cs.Id=v.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	left join ApiSessions as ms on ms.Id=v.MSID
	left join dbo.ApiUsers as msu on msu.Id=ms.UserId
	where v.VoucherDate between @parameter4 and @parameter5 and v.VoucherTypeId=20
	order by v.VoucherDate
	
END
GO
