/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1569_ShowCNPODBillSubmission]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1569_ShowCNPODBillSubmission]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1569_ShowCNPODBillSubmission]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRANS_1569_ShowCNPODBillSubmission]
@parameter1 date=null, --from Date Bill Date
@parameter2 date=null, --To Date Bill Date
@parameter3 bigint=0 --BillingParty NULLABLE

AS
BEGIN 
Declare @SQL nvarchar(max)= N'SELECT CB.Id, CB.BillNo, CNNo=ISNULL(C.CNNo, BL.CNId), CNAmount=BL.TotalBillAmount, BillAmount=CB.TotalBillAmount, 
BillingOffice=ISNULL(O.OfficeName, CB.BillOfficeId), CB.BillDate, CB.BillSubDate, BL.CNId, BL.BillId, CovernoteId=CB.CoverNoteId
from
[dbo].[tCNBillMaster] CB
INNER JOIN [dbo].[tCNBillLog] BL ON CB.Id=BL.BillId
LEFT JOIN [dbo].[tCNMaster] C ON BL.CNId=C.Id
LEFT JOIN [dbo].[mOfficeMaster] O ON CB.BillOfficeId=O.Id
LEFT JOIN [dbo].[mLedger] L ON BL.BillingPartyAcId=L.Id'
declare @where nvarchar(max)=' WHERE CB.BillDate IS NOT NULL AND ISNULL(CB.CoverNoteId,0)=0 '

		IF(@parameter1 IS NOT NULL)
		BEGIN
		SET @where=@where+' AND CB.BillDate>='''+CONVERT(nvarchar(10),@parameter1,111)+''''
		END
		IF(@parameter2 IS NOT NULL)
		BEGIN
		SET @where=@where+' AND CB.BillDate<='''+CONVERT(nvarchar(10),@parameter2,111)+''''
		END
		IF(@parameter3 >0)
		BEGIN
		SET @where=@where+' AND BL.BillingPartyAcId='+CAST(@parameter3 as nvarchar)
		END

DECLARE @mainsql nvarchar(max)=@sql+@where+' ORDER BY CB.BillDate DESC'
print @mainSQL
exec sp_sqlexec @mainsql
END
GO
