/****** Object:  StoredProcedure [dbo].[Proc_TRNS_TripBdgt_Show]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_TripBdgt_Show]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_TripBdgt_Show]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	exec [Proc_TRNS_TripBdgt_Show] 3365,110165,'2016-01-18'

CREATE proc [dbo].[Proc_TRNS_TripBdgt_Show]
	@parameter1 bigint,--RouteId
	@parameter2 bigint,--VehicleId
	@parameter3 datetime--TripDate
	
as
begin
	declare @VehicleTypeId bigint
	select  @VehicleTypeId =VehicleTypeId from dbo.mVehicleMaster where Id=@parameter2

	select 
		t.PaidAmount,
		t.BudgetedAmount,
		t.ExpenseId,
		t.ExpenseNatureId,
		t.Expense,
		t.BudgetedQty,
		t.IsAutoBudgetedId
	from
	(
		select
		RowId=row_number()over(partition by t.ExpenseTypeId order by t.StartDate desc),
		PaidAmount = 0,
		BudgetedAmount = isnull(case when em.NatureId = 1479 then 0 else t.ExpenseValue end,0),
		ExpenseId = t.ExpenseTypeId,
		ExpenseNatureId= em.NatureId,
		Expense = em.Name,
		BudgetedQty =  isnull(case when em.NatureId = 1479 then t.ExpenseValue else 0 end,0),
		IsAutoBudgetedId = cast(1 as bit)
		from dbo.mTripExpenseBudget as t
		join dbo.mRouteMaster as rm on rm.Id=t.RouteId
		join dbo.mExpenseMaster as em on em.Id=t.ExpenseTypeId
		where t.RouteId=@parameter1 and t.VehicleTypeId=@VehicleTypeId
		and t.StartDate<=@parameter3  and em.NatureId>0
	)as t where RowId=1
end

GO
