/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_UpdateVTSAckDate]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1624_UpdateVTSAckDate]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_UpdateVTSAckDate]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_TRANS_1624_UpdateVTSAckDate]
	@parameter1 bigint
as
begin
	Update dbo.tVTSStatusLog set LastAckDate=getdate() where Id=@parameter1
end
GO
