/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatstdV14]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatstdV14]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatstdV14]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1538_BillFormatstdV14] 
--1538	Bill Format 1
@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		Id=b.Id,		
		[Customer]=l.BookingAcName,
		[CustomerAdress]=cadd.FullAddress,
		[BillNo]=b.BillNo,
        [Date]=b.BillDate,	
	    [Panno]='ACFFS9708J',		
		[VehicleNo]=vh.VehicleRegNo,
		[LoadingDate]=cn.CNDate,
		[GRNo]=CN.CNNo,
		[QTY]=CN.ChargedQty,
		[Station]=tp.CityName,
		
		[Freight]=cn.CNBasicAmount,
		[PERBIKERATE]=cn.AChargeI,
		[TotalAmount]=CN.CNTotalFreight

		
		from dbo.tCNBillMaster as b
		join dbo.tCNBillLog as bl on bl.BillId=b.Id
		join dbo.mLedger as l on l.Id=b.BillingPartyAcId
		join dbo.tCNMaster as cn on cn.Id=bl.CNId
		left join dbo.tVehicleMovementLog as trp on trp.Id=cn.TripLogId
		left join dbo.mRouteMaster as rt on rt.Id=cn.ChgRouteId
		left join dbo.mCityMaster as fp on fp.ID=rt.FromPlaceId
		left join dbo.mCityMaster as tp on tp.ID=rt.ToPlaceId
		left join dbo.mVehicleMaster as vh on vh.Id=cn.VehicleId
		left join dbo.mGenericMaster as vht on vht.Id=vh.VehicleTypeId
		left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
		left join dbo.mPostalAddress as cadd on cadd.Id=l.AddressId
		where b.Id in(Select Item from dbo.SplitCommaString(@parameter1))
		END
	
GO
