/****** Object:  StoredProcedure [dbo].[Proc_Report_1637]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1637]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1637]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1637]
	--1637	1637	F	Loan Schedule Register
	@parameter1 bigint=0,--ContractNo
	@parameter2 bigint=0--VehicleId
As
BEGIN
	SET NOCOUNT ON;
	
	if(@parameter1+@parameter2)<=0
	begin
		RAISERROR('Contract No or VehicleNo is mandatory',0,0)
		return;
	end

	SELECT 
	o.OfficeName,
	ln.LoanNo,
	ln.LoanDate,
	Financer=cr.FleetAcName,

	ll.LoanLogNo,
	ll.LogDate,
	vh.VehicleRegNo,
	ln.RateOfInterest,
	ln.LoanTenure,
	ln.NoofEMI,		
	ll.PrincipalAmount,
	ll.InterestAmount,
	ll.InstallmentAmount
	
	from dbo.tLoan as ln
	join dbo.tLoanLog as ll on ll.LoanId=ln.Id
	join dbo.mOfficeMaster as o on o.Id=ln.OfficeId
	join dbo.mLedger as cr on cr.Id=ln.CreditAcId
	join dbo.mVehicleMaster as vh on vh.Id=ll.VehicleId
	WHERE ln.TypeId=1552
	and (case when isnull(@parameter1,0)=0 then 1 when ln.Id=@parameter1 then 1 else 0 end)=1
	and (case when isnull(@parameter2,0)=0 then 1 when ll.VehicleId=@parameter2 then 1 else 0 end)=1
	ORDER BY ll.LogDate
END
GO
