/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1647_Delete]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1647_Delete]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1647_Delete]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRNS_1647_Delete]
@parameter1 bigint,--VoucherId
@parameter2 bigint--RelatedVoucherId
AS
BEGIN TRAN
/*Validation*/
DECLARE @acflag int=(SELECT TOP 1 Value FROM [dbo].[ApiConfigurations] C WHERE C.Id='VoucherVisiblityFlag')/*0:NA,1:DirectImport,2:ApprovalRequired*/
IF((@acflag=2 AND EXISTS(SELECT 1 FROM [dbo].[tVouchers] WHERE IsAccepted=1 AND Id in(@parameter1,@parameter2)))OR EXISTS(SELECT 1 FROM [dbo].[tVouchers] WHERE IsAudited=1 AND Id in(@parameter1,@parameter2)))
BEGIN
RAISERROR('Payment has been approved or has been audited',11,0)
END
IF(@parameter2<=0)
BEGIN
SET @parameter2=ISNULL((SELECT TOP 1 RelatedVoucherId From tSpareLogExtraInfo where VoucherId=@parameter1 AND RelatedVoucherId>0),0)
END
/*UnLink LabourLogs and SpareLogInfo*/
UPDATE tRepairLabourLog SET VoucherId=NULL WHERE VoucherId=@parameter1
UPDATE tSpareLogExtraInfo SET VoucherId=NULL,RelatedVoucherId=NULL WHERE VoucherId=@parameter1

/*Delete Vouchers*/
DELETE [dbo].[tVouchers] WHERE Id in(@parameter1,@parameter2)
COMMIT TRAN
GO
