/****** Object:  StoredProcedure [dbo].[Proc_Report_1673]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1673]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1673]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1673]
	--	1673 POD Register  
	--	select * from mObjectCategory  
	@parameter1 tinyint,--SearchTypeId->1, "Trip Based POD",2, "CN/LR Based POD"
	@parameter2 bigint,--VehicleId
	@parameter3 bigint,--HireVehicle
	@parameter4 date,--fromdate
    @parameter5 date,--todate
	@parameter6 bigint,--ClientId
	@parameter7 int, --DateFilter#0:Trip LoadDate$1:CN Date$2:Pod Date$3:Pod DOE Date
	@parameter8 nvarchar(50)='All' --StatusFilter#0:All$1:Pod Pending$2:Pod Received	
as
BEGIN
	declare @parameter int
	set @parameter =case when @parameter8='All' then 0 when @parameter8='PodPending' then 1 when @parameter8='PodReceived' then 2 else 0 end
	if(@parameter1=1)
	begin
		create table #sequence(Id int primary key)
		insert into #sequence
		select 1
		insert into #sequence
		select 2
		insert into #sequence
		select 3
		insert into #sequence
		select 4
		insert into #sequence
		select 5
		insert into #sequence
		select 6

		select x.* from 
		(
				select
				VehicleNo=case when vm.Id>0 then vm.VehicleNo else hvm.VehicleNo end,
				CustomerName=a.AccountName,
				AccountGroup=ag.[GroupName],
				RouteName=rt.[Name],
				DriverName=dvr.DriverName,				
				DriverCode=dvr.DriverCode,
				t.TriplogNo,
				LoadingDate=format(t.LoadingDate,'dd-MMM-yyyy HH:mm'),
				UnloadingDate=format(t.UnLoadingDate,'dd-MMM-yyyy HH:mm'),
				NoofPODs=case when t.CNCount=0 then 1 else t.CNCount end,
				PodReceived=(Select count(x.Id) from dbo.mCNExtraInfo as x where x.TripLogId=t.Id),
				PodPending=(case when t.CNCount=0 then 1 else t.CNCount end)-(Select count(x.Id) from dbo.mCNExtraInfo as x where x.TripLogId=t.Id),
				PodNo=ci.ReferenceNo,
				PODDate=ci.PODDate,
				PodReachDate=ci.ReachDate,
				PodUnloadDate=ci.UnloadDate,
				ci.Remark,
				ci.ShortageQty,
				ci.ShortageAmount,
				ci.DamageQty,
				ci.DamageAmount,
				ci.ScratchQty,
				ci.ScratchAmount,
				cn.ChargedQty,
				cn.ChargedWeight,
				[Unload Days]=DATEDIFF(DAY,ci.ReachDate,ci.UnloadDate),
  				[USER Name]=au.FirstName + '  ' +au.LastName,
				[DOE]=cast(ci.CDOE as date)
				from dbo.tVehicleMovementlog as t 
				join dbo.mLedger as a on a.Id=t.PartyId
				left join dbo.mAccountGroup as ag on ag.ID=a.GroupId
				left join dbo.mDriverMaster as dvr on dvr.Id=t.Driver1stId
				left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
				left join 
				(
					select cn.TripLogId,ChargedQty=sum(isnull(cn.ChargedQty,0)),ChargedWeight=sum(isnull(cn.ChargedWeight,0)) from dbo.tCNMaster as cn group by cn.TripLogId
				)as cn on cn.TripLogId=t.Id
				left join dbo.mCNExtraInfo as ci on ci.TripLogId=t.Id
				left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
				left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
				left join
				(
					select pod.TripLogId,NoofPods=count(pod.Id) from dbo.mCNExtraInfo as pod group by TripLogId	
				)pod on pod.TripLogId=t.Id
				left join dbo.ApiSessions ss ON ss.Id=ci.CSID
				left join dbo.ApiUsers au on au.Id=ss.UserId
				where (case isnull(@parameter7,0) when 0 then t.LoadingDate when 2 then ci.PODDate when 3 then cast(ci.CDOE as date) end) between @parameter4 and @parameter5
				and t.LoadingDate is not null  and t.UnLoadingDate is not null and t.TripNatureId=1075
				and (case when isnull(@parameter2,0)+isnull(@parameter3,0) =0 then 1 when (t.VehicleId=@parameter2 or t.HireVehicleId=@parameter3) then 1 else 0 end)=1
				and (case when isnull(@parameter6,0)=0 then 1 when @parameter6=t.PartyId then 1 else 0 end)=1
			)as x,#sequence s
			where s.Id<=x.NoofPODs
			and (case when isnull(@parameter,0)=0 then 1 when isnull(@parameter,0)=1 and x.PodPending>0 then 1 when @parameter=2 and PodReceived>0 then 1 else 0 end)=1
		end
		else
		begin	
			select
				VehicleNo=case when vm.Id>0 then vm.VehicleNo else hvm.VehicleNo end,
				CustomerName=a.AccountName,
				AccountGroup=ag.[GroupName],
				RouteName=rt.[Name],
				DriverName=dvr.DriverName,				
				DriverCode=dvr.DriverCode,
				tl.TriplogNo,
				CNDate=format(t.CNDate,'dd-MMM-yyyy HH:mm'),
				TripLoadingDate=format(tl.LoadingDate,'dd-MMM-yyyy HH:mm'),
				TripReachDate=format(tl.UnloadingReachDate,'dd-MMM-yyyy HH:mm'),
				TripUnloadingDate=format(tl.UnLoadingDate,'dd-MMM-yyyy HH:mm'),
				NoofPODs=1,
				PodReceived=case when ci.Id>0 then 1 else 0 end,
				PodPending=case when ci.Id>0 then 0 else 1 end,
				PodNo=ci.ReferenceNo,
				PODDate=ci.PODDate,
				PodReachDate=ci.ReachDate,
				PodUnloadDate=ci.UnloadDate,
				ci.Remark,
				ci.ShortageQty,
				ci.ShortageAmount,
				ci.DamageQty,
				ci.DamageAmount,
				ci.ScratchQty,
				ci.ScratchAmount,
				t.ChargedQty,
				t.ChargedWeight,
				[Unload Days]=DATEDIFF(DAY,ci.ReachDate,ci.UnloadDate),
  				[USER Name]=au.FirstName + '  ' +au.LastName,
				[DOE]=cast(ci.CDOE as date)	
				from dbo.tCNMaster as t
				join dbo.tVehicleMovementlog as tl on tl.Id=t.TripLogId
				left join dbo.mDriverMaster as dvr on dvr.Id=tl.Driver1stId
				left join dbo.mCNExtraInfo as ci on ci.CNId=t.Id
				left join dbo.mLedger as a on a.Id=t.BillingPartyId
				left join dbo.mAccountGroup as ag on ag.ID=a.GroupId
				left join dbo.mRouteMaster as rt on rt.Id=t.ChgRouteId
				left join dbo.mVehicleMaster as vm on vm.Id=tl.VehicleId
				left join dbo.mHireVehicle as hvm on hvm.Id=tl.HireVehicleId
				LEFT JOIN dbo.ApiSessions ss ON ss.Id=ci.CSID
				LEFT JOIN dbo.ApiUsers au on au.Id=ss.UserId
				where (case isnull(@parameter7,0) when 0 then tl.LoadingDate when 1 then t.CNDate when 2 then ci.PODDate when 3 then cast(ci.CDOE as date) end) between @parameter4 and @parameter5
				and tl.LoadingDate is not null  and tl.UnLoadingDate is not null and tl.TripNatureId=1075
				and case when isnull(@parameter2,0)+isnull(@parameter3,0) =0 then 1 when (t.VehicleId=@parameter2 or t.HireVehicleId=@parameter3) then 1 else 0 end=1				
				and (case when isnull(@parameter6,0)=0 then 1 when @parameter6=t.BillingPartyId then 1 else 0 end)=1
				and (case when isnull(@parameter,0)=0 then 1 when @parameter=1 and isnull(ci.Id,0)=0 then 1 when @parameter=2 and ci.Id>0 then 1 else 0 end)=1

				order by tl.TripStartDate desc
		end
end
GO
