/****** Object:  StoredProcedure [dbo].[Proc_Report_1382]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1382]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1382]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1382]
	@parameter1 bigint--Categoryid
AS

       --public virtual ResultSet Get1382Data()
       -- {
       --     try
       --     {
       --         var resultSet = new ResultSet
       --         {
       --             ParameterInfo =
       --                 $"Parameter Info : Category : {Parameters.CategoryName}{(Parameters.SelectedClasses != null ? " ,Classes : " + Parameters.SelectedClasses.JoinStrings(",") : "")},Date Range: From - {Parameters.FromDate.GetValueOrDefault().Date.ToString("dd-MM-yy")} and To - {Parameters.ToDate.GetValueOrDefault().Date.ToString("dd-MM-yy")}"
       --         };
       --         var objectType = string.Empty;
       --         switch (Parameters.CategoryRoleTypeId)
       --         {
       --             case 1145: //Account Role
       --                 if (Parameters.CategoryRoleId == 1085) objectType = "driver";
       --                 break;
       --             case 1292: //Office
       --                 objectType = "office";
       --                 break;
       --         }

       --         var query = GApi.Instance.Connection.GetDriverVehMapCCFData(Parameters.ClassIds.JoinStrings(","),
       --             Parameters.ObjectIds.JoinStrings(","), Parameters.CategoryId.GetValueOrDefault(0), objectType);
       --         if (Parameters.FromDate.HasValue)
       --             query = (DataServiceQuery<DriverVehicleMapping>)query.Where(x => x.StatusDate >= Parameters.FromDate);
       --         if (Parameters.ToDate.HasValue)
       --             query = (DataServiceQuery<DriverVehicleMapping>)query.Where(x => x.StatusDate <= Parameters.ToDate);

       --         var data = query.Select(y => new
       --         {
       --             DriverCode = y.Fk_Driver == null ? null : y.Fk_Driver.DriverCode,
       --             DriverName = y.Fk_Driver == null ? null : y.Fk_Driver.DriverName,
       --             DriverStatus = y.Fk_DriverStatus == null ? null : y.Fk_DriverStatus.ConstantName,
       --             StatusDate = y.StatusDate.DateTime.ToString("dd-MM-yyyy"),
       --             y.Remark,
       --             Age = y.Fk_Driver == null ? null : y.Fk_Driver.Age,
       --             LicenceNo = y.Fk_Driver == null ? null : y.Fk_Driver.LicenceNo,
       --             PhoneNo = y.Fk_Driver == null ? null : y.Fk_Driver.Fk_CurrentAddress == null ? null : y.Fk_Driver.Fk_CurrentAddress.ContactNumber,
       --             LicenceExpiryDate = y.Fk_Driver == null ? null : y.Fk_Driver.ExpiryDate.Value.DateTime.ToString("dd-MM-yyy"),
       --             y.Fk_Driver.DPIN
       --         }).ToList();
       --         resultSet.DataSource = data.AsQueryable();
       --         return resultSet;
       --     }
       --     catch (Exception ex)
       --     {
       --         ex.ToExceptionless().AddObject(Parameters).Submit();
       --         return null;
       --     }
       -- }
GO
