/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1555_UpdatePODCollection]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1555_UpdatePODCollection]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1555_UpdatePODCollection]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1555_UpdatePODCollection]
@parameter1 bigint=0,--Id
@parameter2 Date =null--StartDate //

AS 
BEGIN
	if(@parameter1<=0)
	begin
		RAISERROR('Select Record to update',11,0)
		RETURN;
	end
	UPDATE [dbo].[tCNDTSStatusLog] SET 
		StartDate=@parameter2
		 WHERE Id=@parameter1
END
GO
