/****** Object:  StoredProcedure [dbo].[Proc_Format_1514_2]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1514_2]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1514_2]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Format_1514_2]
@parameter1 bigint
as
begin
	select
	CNId = cn.Id,
	CNNo = cn.CNNo,
	CNDate = cn.CNDate,
	InvoiceNo=cnm.InvoiceNo,
	InvoiceDate= cnm.InvoiceDate,
	InvoiceValue=cnm.InvoiceNetValue,
	PartNo=mm.Code,
	Quantity=cnm.ActualQty,
	InvoiceRate=cnm.InvoiceRate, 
	eWayBillValidity=cnm.eWayBillValidity, 
	eWayBillNo=cnm.EWayBillMM
	from dbo.tCNMaster as cn 
	join dbo.tCNMultiMaterial as cnm on cn.Id=cnm.CnId
	join dbo.mMaterialMaster as mm on mm.Id=cnm.MaterialId
	where cn.Id=@parameter1
end
GO
