/****** Object:  StoredProcedure [dbo].[Proc_Report_1509]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1509]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1509]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1509]
	@parameter1 bigint,--OfficeId
	@parameter2 bigint,--statusid out for delivery, delivered, deliveryfailed
	@parameter3 bigint,--@ConsigneeId
	@parameter4 bigint,--@ConsignorId
	@parameter5 bigint--@TriplogId
as
begin	
	select
	ofc.OfficeName,
	DispatchNo=Tl.TriplogNo,
	DispatchDate=tl.TripStartDate,
	Consignee=cne.FleetAcName,
	Consignor=cnr.FleetAcName,
	VehRegNo=vm.VehicleRegNo,
	Tl.DriverName,
	Tl.DriverPhone,
	LRNo=cn.CNNo,
	LRDate=cn.CNDate,
	LRMaterial=cn.MaterialInfo,
	cnm.InvoiceNo,
	cnm.InvoiceDate,
	LoadingQty=isnull(tt.OutQty,0),
	DeliveryStatus=st.ConstantName,
	GatePassNo=''
	from dbo.tCNStockLog as t
	join dbo.tVehicleMovementLog as tl on tl.Id=t.TriplogId
	join dbo.mconstantvalue as st on st.Id=t.LogTypeId
	left join dbo.mVehicleMaster as vm on vm.Id=tl.VehicleId
	join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	left join dbo.tCNStockMMLog as tt on t.Id=tt.StockLogId
	left join dbo.tCNMultiMaterial as cnm on tt.CNMMId=cnm.Id
	left join dbo.tCNMaster as cn on t.CNId=cn.Id
	left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	where t.OfficeId=@parameter1 and t.LogTypeId in(1451,1425,1455)
	and (case when isnull(@parameter2,0)>0 and t.LogTypeId=@parameter2 then 1 when isnull(@parameter2,0)=0 then 1 else 0 end)=1
	and (case when isnull(@parameter3,0)>0 and cne.Id=@parameter3 then 1 when isnull(@parameter3,0)=0 then 1 else 0 end)=1
	and (case when isnull(@parameter4,0)>0 and cnr.Id=@parameter4 then 1 when isnull(@parameter4,0)=0 then 1 else 0 end)=1
	and (case when isnull(@parameter5,0)>0 and tl.Id=@parameter5 then 1 when isnull(@parameter5,0)=0 then 1 else 0 end)=1
	order by cn.CNDate 
end
GO
