/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5104_Ledger]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5104_Ledger]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5104_Ledger]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Proc_Mob_Report_5104_Ledger] 
(
	@parameter1 DATETIME,@parameter2 datetime,@parameter3 BIGINT
)
AS 
BEGIN
-- 1449: Ledger
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter1 between OpeningDate and ClosingDate),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter2 between OpeningDate and ClosingDate),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end

	DECLARE @Ledger TABLE
	(RowID BIGINT IDENTITY(1,1),VoucherId bigint,VdId bigint,OfficeId bigint,VoucherDate DateTime,Office nvarchar(255),VoucherNo nvarchar(255),ChequeNo varchar(255),VoucherType varchar(255),Particulars VARCHAR(1000), Debit decimal(18,2),Credit decimal(18,2),Narration nvarchar(500) ,OrderId int)

	Declare @OpBalance DECIMAL(18,2),@ClBalance DECIMAL(18,2)
	Set @OpBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId where  xvd.AccountId=@parameter3 and  xv.FYID=@FFYId and xv.VoucherDate < @parameter1 and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0)
	insert into @Ledger(Particulars,Debit,Credit,OrderId) values('Opening Balance',case when @OpBalance>0 then @OpBalance else null end,case when @OpBalance<0 then abs(@OpBalance) else null end,2)

	insert into @Ledger(VoucherId,VdId,OfficeId,VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,Narration,OrderId)
	
	Select 
	v.Id
	,vd.Id
	,OfficeId=v.OfficeId
	,VoucherDate =v.VoucherDate
	,Office=o.OfficeName
	,v.VoucherNo
	,vd.ChequeNo
	,vt.Abbr
	,Particulars=case when ISNULL(v.Account3Id,0)>0 or VoucherTypeId=18 then 'as per detail' else isnull((case when v.Account1Id=vd.AccountId then a1.FleetAcName else a.FleetAcName end),'') end
	,[DebitAmount]=case when ISNULL(vd.VDAmount,0)>0 then ISNULL(vd.VDAmount,0) else 0 end
	,[CreditAmount]=abs(case when ISNULL(vd.VDAmount,0)<0 then ISNULL(vd.VDAmount,0) else 0 end)
	,Narration=v.AccNarration
	,1
	from dbo.tVouchers as v 
	inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
	left join dbo.mLedger as a on a.Id=v.Account1Id
	left join dbo.mLedger as a1 on a1.Id=v.Account2Id
	inner join dbo.mOfficeMaster as o on o.Id=v.OfficeId
	inner join dbo.mVoucherType as vt on vt.Id=v.VoucherTypeId
	where isnull(v.FYID,1)=@FFYId and v.VoucherDate between @parameter1 and @parameter2 and v.IsAccepted=1 and IsAccountsVisiblity=1
	and vd.AccountId=@parameter3
	order by v.VoucherDate
	insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	select 'Transaction Total',Sum(ISNULL(Debit,0)),Sum(ISNULL(Credit,0)),3 from @Ledger where OrderId=1

	set @ClBalance=isnull((select Sum(ISNULL(Debit,0))-Sum(ISNULL(Credit,0)) from @Ledger where OrderId in(2,3)),0)
	insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	values('Closing Balance',case when ISNULL(@ClBalance,0)>0 then ISNULL(@ClBalance,0) else 0 end,abs(case when ISNULL(@ClBalance,0)<0 then ISNULL(@ClBalance,0) else 0 end),4)

	select  VoucherDate=Format(VoucherDate,'dd-MMM-yy'), ColorCodeForAmount=case when CAST((isnull(Debit,0)-isnull(Credit,0)) as decimal(18,2))>0 then 'Green' else 'Red' end,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,Narration,OrderId,Amount=abs(CAST((isnull(Debit,0)-isnull(Credit,0)) as decimal(18,2))),DRCR=case when CAST((isnull(Debit,0)-isnull(Credit,0)) as decimal(18,2))>0 then 'DR' else 'CR' end from @Ledger Order by OrderId,VoucherDate

END
GO
