/****** Object:  StoredProcedure [dbo].[Proc_Report_1391]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1391]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1391]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1391]
As
BEGIN
	
	SELECT 1
	tDriverVehicleMapping

END
 --Function Not Exist
GO
