/****** Object:  StoredProcedure [dbo].[Proc_Report_1529]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1529]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1529]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec Proc_Report_1529 '2015-01-01','2016-12-12'
CREATE Proc [dbo].[Proc_Report_1529]
@parameter1 datetime,/*@fromDate*/
@parameter2 datetime/*@toDate*/
As
Begin
 select 

[RouteName]=Name,
[FromPlace]=fp.CityName,
[ToPlace]=tp.CityName,
[KM]=R.TransitKm,
[TravelHours]=R.TransitHours,
[IsReturnRoute]=R.IsReturnRoute 
from mRouteMaster as R
left join dbo.mCityMaster as fp on fp.Id=R.FromPlaceId
left join dbo.mCityMaster as tp on tp.Id=R.ToPlaceId
where R.CDOE>=@parameter1 and R.CDOE<=@parameter2 and R.StatusId=0 
End

GO
