/****** Object:  StoredProcedure [dbo].[Proc_Report_1305]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1305]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1305]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	[Proc_Report_1305] 10011,'','','2010-01-01','2017-10-10'
--	select * from dbo.mObjectCategory
CREATE PROC [dbo].[Proc_Report_1305]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime--todate	
as
begin
	declare @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	set nocount on;
	select 
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	Office = o.OfficeName,
	DocDate = t.DocDate,        
    DocNo = t.DocNo,
	VendorRefNo = ei.VendorReferenceNo,
	BatteryNo = t.BatterySerialNo,
	BatteryLife = t.BatteryLife,
	BrandName = bm.BrandName,
    Store = dr.FleetAcName,
	ReceivedFrom = cr.FleetAcName,
	t.NetAmount,
	t.Remark,
	[Type]=vt.VoucherTypeName,
	TyreStatus=cv.ConstantName,
	Reason = rm.Name
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tBatteryLogExtraInfo as ei on CCO.ObjectId=(CASE @RoleId When 1029 THEN  ei.DrAccountId WHEN 1235 THEN ei.CrAccountId end)
	join dbo.tBatteryLog as t on ei.Id=t.ExtraInfoId 
	  
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mBatteryMaster as tm on tm.Id=t.BatteryId
	join dbo.mBatteryBrand as bm on bm.Id=tm.BrandId
	join dbo.mConstantValue as cv on cv.Id=t.BatteryStatusId
	join dbo.mVoucherType as vt on vt.Id=ei.VoucherTypeId
	left join dbo.mGenericMaster as rm on rm.Id=t.ReasonId
	
	where t.DocDate between @parameter4 and @parameter5 and (t.VoucherTypeId In(43,44,45,46,47,48,51,57))
	order by ei.DocDate
	
end

GO
