/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_ResetVTS]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1624_ResetVTS]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_ResetVTS]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- CreatedBy:		Mukesh Rebari
-- Create date: 28-02-2017
-- ModifiedBy:		Mukesh Rebari
-- Modified date: <Create Date,,>
-- Description:	Create VTS Status
-- =============================================

CREATE PROCEDURE [dbo].[Proc_TRANS_1624_ResetVTS]
	@parameter1 bigint,--@TripLogId
	@parameter2 bigint--csid
AS
BEGIN
	SET NOCOUNT ON;
	--TODO:Write you logic over here
	declare @SendForLoadingId int,@PreviouslogId bigint,@VehicleId bigint,@Id bigint,@TemplateId int,@TripTypeId int
	declare @LoadingStartId int,@LoadingEndId int ,@ReachId int,@UnloadedId int,@IdleId int,@EmtpyStartId int,@EmtpyEndId int
	set @TemplateId=(select top 1 Value from dbo.ApiConfigurations where id='VTSTemplateId')

	select @TripTypeId= t.TripTypeId,  @VehicleId=case when t.TripTypeId=1160 then t.HireVehicleId else t.VehicleId end
	from dbo.tVehicleMovementLog as t where id=@parameter1 and ((TripTypeId=1158 or TripTypeId=1160) or (TripTypeId=1159 and TripNatureId=1076))

	set @PreviouslogId=isnull((select top 1 Id from dbo.tVTSStatusLog where isnull(NextLogId,0)=0 and case when @TripTypeId=1160 then HireVehicleId else VehicleId end=@VehicleId order by StartDate desc),0)
	
	--LoadedTrip
	if(isnull(@parameter1,0)>0 and EXISTS(select Id	from dbo.tVehicleMovementLog as t where id=@parameter1 and TripTypeId=1158 and TripNatureId=1075))
	begin
		set @SendForLoadingId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1523 and TemplateId=@TemplateId),0)
		set @LoadingStartId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1524 and TemplateId=@TemplateId),0)
		set @LoadingEndId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1525 and TemplateId=@TemplateId),0)
		set @ReachId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1526 and TemplateId=@TemplateId),0)
		set @UnloadedId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1527 and TemplateId=@TemplateId),0)
		set @IdleId=isnull((select top 1 NextStatusId from dbo.mDTSStatus where DateId=1527 and TemplateId=@TemplateId),0)
		
		insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
		,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
		,[LocationId],[DelayMinutes],[ConsumedMinutes])

		select 
			[VehicleId]=t.VehicleId
			,[DriverId]=t.Driver1stId
			,[DTSStatusId]=@SendForLoadingId
			,[TriplogId]=t.Id
			,[GPSVendorId]=vm.GPSVendorId
			,[PreviousLogId]=@PreviouslogId
			,[StatusId]=0
			,[CSID]=t.CSID
			,[CDOE]=t.CDOE
			,[StartDate]=t.TripStartDate
			,[LocationId]=rt.FromPlaceId
			,[DelayMinutes]=0
			,[ConsumedMinutes]=0
		from dbo.tVehicleMovementLog as t 
		join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
		left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
		where t.Id=@parameter1

		set @Id=SCOPE_IDENTITY()

		update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
		set @PreviouslogId=@Id

		--LoadingStart
		if(@LoadingStartId>0)
		begin
			insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes])

				select 
				[VehicleId]=t.VehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@LoadingStartId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@PreviouslogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=t.TripStartDate
				,[LocationId]=rt.FromPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
			from dbo.tVehicleMovementLog as t 
			join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1

			set @Id=SCOPE_IDENTITY()

			update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
			set @PreviouslogId=@Id
		end
		--LoadingEnd
		if(@LoadingEndId>0)
		begin
			insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes])

				select 
				[VehicleId]=t.VehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@LoadingEndId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@PreviouslogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=t.TripStartDate
				,[LocationId]=rt.FromPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
			from dbo.tVehicleMovementLog as t 
			join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1

			set @Id=SCOPE_IDENTITY()

			update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
			set @PreviouslogId=@Id
		end
		--ReachATUnloadingPoint
		if(@ReachId>0)
		begin
			insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes])

				select 
				[VehicleId]=t.VehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@ReachId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@PreviouslogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=t.TripStartDate
				,[LocationId]=rt.ToPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
			from dbo.tVehicleMovementLog as t 
			join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1

			set @Id=SCOPE_IDENTITY()

			update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
			set @PreviouslogId=@Id
		end
		--UnloadingDate
		if(@UnloadedId>0)
		begin
			insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes])

			select 
				[VehicleId]=t.VehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@UnloadedId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@PreviouslogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=t.TripStartDate
				,[LocationId]=rt.ToPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
			from dbo.tVehicleMovementLog as t 
			join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1
			set @Id=SCOPE_IDENTITY()

			update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
			set @PreviouslogId=@Id
		end
	end
	--Empty Trip
	else if(isnull(@parameter1,0)>0 and EXISTS(select Id from dbo.tVehicleMovementLog as t where id=@parameter1 and TripTypeId=1158 and TripNatureId=1076))
	begin
		set @EmtpyStartId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1528 and TemplateId=@TemplateId),0)
		set @EmtpyEndId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1529 and TemplateId=@TemplateId),0)

		--@EmtpyStartId
		if(@EmtpyStartId>0)
		begin
			insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes])

			select 
				[VehicleId]=t.VehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@EmtpyStartId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@PreviouslogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=t.TripStartDate
				,[LocationId]=rt.FromPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
			from dbo.tVehicleMovementLog as t 
			join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1
			set @Id=SCOPE_IDENTITY()

			update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
			set @PreviouslogId=@Id
		end
		--@EmtpyEndId
		if(@EmtpyEndId>0)
		begin
			insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes])

			select 
				[VehicleId]=t.VehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@EmtpyEndId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@PreviouslogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=t.TripStartDate
				,[LocationId]=rt.ToPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
			from dbo.tVehicleMovementLog as t 
			join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1
			set @Id=SCOPE_IDENTITY()

			update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
			set @PreviouslogId=@Id
		end
	end
	--Jobcard Empty
	else if(isnull(@parameter1,0)>0 and EXISTS(select Id from dbo.tVehicleMovementLog as t where id=@parameter1 and TripTypeId=1159 and TripNatureId=1076))
	begin
		set @EmtpyStartId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1530 and TemplateId=@TemplateId),0)
		set @EmtpyEndId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1531 and TemplateId=@TemplateId),0)
		
		--@EmtpyId
		if(@EmtpyStartId>0)
		begin
			insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes])

			select 
				[VehicleId]=t.VehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@EmtpyStartId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@PreviouslogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=t.TripStartDate
				,[LocationId]=rt.FromPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
			from dbo.tVehicleMovementLog as t 
			join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1
			set @Id=SCOPE_IDENTITY()

			update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
			set @PreviouslogId=@Id
		end
		--@EmtpyEndId
		if(@EmtpyEndId>0)
		begin
			insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes])

			select 
				[VehicleId]=t.VehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@EmtpyEndId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@PreviouslogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=t.TripStartDate
				,[LocationId]=rt.ToPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
			from dbo.tVehicleMovementLog as t 
			join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1
			set @Id=SCOPE_IDENTITY()

			update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
			set @PreviouslogId=@Id
		end
	end
END
GO
