/****** Object:  StoredProcedure [dbo].[Proc_Report_1371]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1371]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1371]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 -- exec [Proc_Report_1371] 0,0,239,'2017-06-13','2017-07-13'
CREATE PROC  [dbo].[Proc_Report_1371]
	--1371	VTS Log
	@parameter1 bigint,--0:both, 1:Own, 2:Hire
	@parameter2 bigint,--OwnVehicleId
	@parameter3 bigint,--HireVehicleId
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max)--ToDate
As
BEGIN
	if(DATEDIFF(month,@parameter4,@parameter5)>2)--Only 2 Month report is allowed
	begin
		RAISERROR ('You can see only 2 months data at a time',16,1);
	end

	set @parameter5=DATEADD(day,1,@parameter5)
	SET NOCOUNT ON;

	SELECT 
	LoadingOffice = ofc.OfficeName
	,VehicleNo=(case when t.TripTypeId=1160 then hvm.RegistrationNo else v.VehicleRegNo end)
	,HireOwn=(case when t.TripTypeId=1160 then 'H' else 'O' end)
	,StatusName=dts.Name
	,StatusCode=dts.Abbr
	,StartDate=vts.StartDate
	,Location=ctv.CityName
	,Party=bp.FleetAcName
	,RouteName=rt.Name
	,TripNo=t.TriplogNo
	,TripDate=t.TripStartDate
	
	,TotalKmRun
	,Remarks=LEFT(isnull(vts.Remark,''),200)
	,CU=csu.UserName
	,DOE=convert(nvarchar(10),vts.CDOE,103) +'  ' +convert(nvarchar(10),vts.CDOE,108)
	,MU=msu.UserName
	,DOM=convert(nvarchar(10),vts.MDOE,103) +'  ' +convert(nvarchar(10),vts.MDOE,108)
	from dbo.tVTSStatusLog as vts 
	join dbo.mCityMaster as ctv on ctv.Id=vts.LocationId
	join dbo.mDTSStatus as dts on dts.Id=vts.DTSStatusId
	left join dbo.tVehicleMovementLog as t on vts.TriplogId=t.Id
	left join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	left join dbo.mVehicleMaster as v on v.Id=t.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
	left join dbo.mGenericMaster as vt on vt.Id=v.VehicleTypeId
	
	left join dbo.mLedger as bp on bp.Id=t.PartyId
	left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
	left join dbo.mLedger as gps on gps.Id=v.GPSVendorId
	left join ApiSessions as cs on cs.Id=vts.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	left join ApiSessions as ms on ms.Id=vts.MSID
	left join dbo.ApiUsers as msu on msu.Id=ms.UserId
	where vts.StartDate>=@parameter4 and vts.StartDate<@parameter5
	and (case when @parameter1=3 then 1 when  @parameter1=0 and @parameter2=0 then 1 when @parameter2>0 and @parameter2=vts.VehicleId then 1 else 0 end)=1
	and (case when @parameter1=2 then 1 when  @parameter1=0 and @parameter3=0 then 1 when @parameter3>0 and @parameter3=vts.HireVehicleId then 1 else 0 end)=1
	order by vts.StartDate,vts.Id
	
END

GO
