/****** Object:  StoredProcedure [dbo].[Proc_Report_1301]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1301]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1301]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1301]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime--todate	
as
begin
	declare @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	set nocount on;
	select 
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	Office = o.OfficeName,
	DocDate = t.DocDate,        
    DocNo = t.DocNo,
	VendorRefNo = ei.VendorReferenceNo,
	BatteryNo = t.BatterySerialNo,
	BatteryLife = t.BatteryLife,
	BrandName = bm.BrandName,
    Store = dr.FleetAcName,
	Vendor = cr.FleetAcName,
	PONo = po.PONo,
	[Amount]=t.Rate,
	t.DiscountAmount,
	--[TaxAmount]=t.VatAmount,
	t.CGSTAmount, 
	t.SGSTAmount, 
	t.IGSTAmount, 
	t.OtherAmount,
	t.NetAmount,
	t.Remark,
	CreatedBy= cu.FirstName+' '+cu.LastName,
	CDOE=ei.CDOE, 
	ModifyBy= mu.FirstName+' '+ mu.LastName,
	MDOE=ei.MDOE
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tBatteryLogExtraInfo as ei on CCO.ObjectId=(CASE @RoleId When 1029 THEN  ei.DrAccountId WHEN 1235 THEN ei.CrAccountId end)
	join dbo.tBatteryLog as t on ei.Id=t.ExtraInfoId 
	  
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mBatteryMaster as tm on tm.Id=t.BatteryId
	join dbo.mBatteryBrand as bm on bm.Id=tm.BrandId
	left join dbo.ApiSessions as ap on ap.Id=ei.CSID
	left join dbo.ApiUsers as cu on cu.Id=ap.UserId
     left join dbo.ApiSessions as apm on ap.Id=ei.MSID
	left join dbo.ApiUsers as mu on mu.Id=apm.UserId
	left join dbo.tPurchaseOrder as po on po.Id=t.PurchaseOrderId
	where t.DocDate between @parameter4 and @parameter5 and (t.VoucherTypeId=43)--Battery Purchase
	order by ei.DocDate
	
end

GO
