/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5000_trips]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5000_trips]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5000_trips]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_Mob_Report_5000_trips]
@parameter1 bigint,
@parameter2 bit--Vehicle Type 0:Own,1:Hire
as
BEGIN
DECLARE @configvalue int
	SET @configvalue=(SELECT ConfigValue FROM dbo.mClientConfiguration WHERE Id='NextTripHoursDifferanceAllowed');
select 	
	Top 1 
	Id = t.Id,
    VehicleNo = case when t.TripTypeId=1158 then vm.VehicleRegNo else  hvm.VehicleNo end,
    OfficeName = ofc.OfficeAbbr,
    TripLogNo = t.TriplogNo,
    RouteName = rt.Abbr,
    PartyName = p.AccountName,
    TripType = n.ConstantName,
	TripNature=tn.ConstantName,
	TripMode=tm.Name,
    TripDate = t.TripStartDate,
    LRD = t.LoadingReachDate,
    LD= t.LoadingDate,
    URD= t.UnloadingReachDate,
    UD= t.UnLoadingDate,
    TAT=t.ExpTime,
	RouteKm=isnull(t.TotalKmRun,0),
    ETA = FORMAT(t.ExpDeliveryDate,'dd-MMM-yyyy HH:mm:ss'),
    PodDate= null,
    PodStatus = 'Pending',
    PodRemarks='',
    Remarks = t.Remarks,
	DriverI='['+dvr.DriverCode+']'+dvr.DriverName,
	Mobile=CASE WHEN ISNULL(t.DriverPhone,'')='' THEN dvra.ContactNumber ELSE t.DriverPhone END,
	VTS_StatusName=st.Name,
    VTS_StatusDate=vts.StartDate,
    VTS_ManualLocation=ct.CityAbbr,
    VTS_GPSLocation=vts.GPSLocation,
    VTS_Remarks=vts.Remark,
	ToLocationId=tp.Id,
	ToLocation=tp.CityName,
	IsApproved=CAST((CASE WHEN @configvalue=0  OR t.UnLoadingDate IS NULL OR DATEDIFF(HOUR,t.UnLoadingDate, GETDATE())<@configvalue THEN 1 ELSE t.IsApproved END) as bit)
	from dbo.tVehicleMovementLog as t
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
	left join dbo.mLedger as p on p.Id=t.PartyId
	left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
	left join dbo.mCityMaster as tp on tp.Id=rt.ToPlaceId
	left join dbo.mConstantValue as n on n.Id=t.TripTypeId
	left join dbo.mConstantValue as tn on tn.Id=t.TripNatureId
	left join dbo.mGenericMaster as tm on tm.Id=t.TripModeId
	left join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	left join dbo.mDriverMaster as dvr on t.Driver1stId=dvr.Id
	left join dbo.tVTSStatusLog as vts on vts.TriplogId=t.ID and isnull(vts.NextLogId,0)=0
	left join dbo.mDTSStatus as st on st.Id=vts.DTSStatusId
	left join dbo.mCityMaster as ct on ct.Id=vts.LocationId
	left join dbo.mPostalAddress as dvra on dvra.ID=dvr.CurrentAddressId
	where (case when @parameter2=0 and t.VehicleId=@parameter1 then 1 WHEN @parameter2=0 and t.HireVehicleId=@parameter1 THEN 1 ELSE 0 END)=1
	and t.TripTypeId in(1158,1160,1453)
	Order By t.TripStartDate desc
	END
GO
