/****** Object:  StoredProcedure [dbo].[Proc_Report_1603]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1603]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1603]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	 select * from mOfficemaster

--	EXEC [Proc_Report_1603] 106,361,'2017-02-03','2017-03-03',1451,0

CREATE proc [dbo].[Proc_Report_1603] 
--1603 Invoice Delivery Status
@parameter1 bigint,--OfficeId
@parameter2 bigint,--Consinnor
@parameter4 DateTime,--FromDate
@parameter5 DateTime,--ToDate
@parameter6 bigint,--Delivery Status
@parameter7 bigint--Consingee	
As
BEGIN
	if(DATEDIFF(MONTH,@parameter4,@parameter5)>2)--Only 2 Month report is allowed
	begin
		RAISERROR ('You can see only 2 months data at a time',16,1);
	end

	SELECT 
	[BookingBranch]=lo.OfficeName,
	[DispatchBranch]=so.OfficeName,
	[DispatchNo]=vml.TriplogNo,
	[DispatchDate]=vml.TripStartDate,
	[Customer]=bpt.FleetAcName,	
	[Consignor]=cnr.FleetAcName,	
	[Consignee]=cne.FleetAcName,	
	[LRNo]=t.CNNo,
	[LRDate]=t.CNDate,
	[PartCode]=matm.Code,
	[PartName]=matm.Name,	
	[StockInvoiceNo]=mm.InvoiceNo,
	[StockInvoiceDate]=mm.InvoiceDate,
	[SCMInvoiceNo]=ISNULL(ch.ChallanNo,''),
	[SCMInvoiceDate]=ch.ChallanDate,
	InvoiceQty=mm.ChargeQty,
	DispatchQty=mml.OutQty,
	VehicleNo=case when vml.VehicleId>0 then vm.VehicleRegNo else hvm.VehicleNo end,
	DriverName=vml.DriverName,
	DriverPhone=vml.DriverPhone,
	DeliveryStatus=ds.ConstantName,
	UnloadLocation=UL.Name
	from dbo.tVehicleMovementLog as vml
	join dbo.tCNStockMMLog as mml on mml.TriplogId=vml.Id
	join dbo.tCNMaster as t on t.Id=mml.CNId 
	join dbo.mLedger as cne on cne.Id=t.ConsigneeId
	left join dbo.mLedger as cnr on cnr.Id=t.ConsignorId
	left join dbo.mLedger as bpt on bpt.Id=t.BillingPartyId
	join dbo.mOfficeMaster as lo on lo.Id=t.LoadingOfficeId
	Join dbo.tCNMultiMaterial as mm on mm.Id=mml.CNMMId
	join dbo.mMaterialMaster as matm on matm.Id=mm.MaterialId
	join dbo.mOfficeMaster as so on so.Id=mml.OfficeId
	join dbo.mConstantValue as ds on ds.Id=mml.LogTypeId
	left join dbo.mVehicleMaster as vm on vm.Id=vml.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=vml.HireVehicleId	
	left join dbo.mGenericMaster UL on matm.DeliveryLocationId=UL.Id
	left join dbo.tCNChallan chn on chn.Id=mml.ChallanCNId
	left join dbo.tChallanMaster ch on ch.Id=chn.ChallanId
	where vml.TripTypeId=1453
	and CAST(vml.TripStartDate as date) between CAST(@parameter4 as date) and CAST(@parameter5 as date)
	and mml.OfficeId=@parameter1
	and (case when @parameter6=0 then 1  when @parameter6=ds.Id then 1  else 0 end )=1
	and (case when @parameter7=0 then 1 when t.ConsigneeId=@parameter7 then 1 else 0 end)=1
	and (case when @parameter2=0 then 1 when t.ConsignorId=@parameter2 then 1 else 0 end)=1
	 

END
GO
