/****** Object:  StoredProcedure [dbo].[Proc_GLB_UpdateReportCount]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_GLB_UpdateReportCount]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GLB_UpdateReportCount]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_GLB_UpdateReportCount]
@parameter1 bigint=0,--ReportProcId
@parameter2 bigint=0--CustomReportProcId
AS
BEGIN
IF(@parameter1>0)UPDATE [dbo].[mReportProcedure] SET [Count]=[Count]+1 WHERE Id=@parameter1

IF(@parameter2>0)UPDATE [dbo].[mCustomReportProcedure] SET [Count]=[Count]+1 WHERE Id=@parameter2
END
GO
