/****** Object:  StoredProcedure [dbo].[Proc_GLB_GetRecordAudiLog]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_GLB_GetRecordAudiLog]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GLB_GetRecordAudiLog]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_GLB_GetRecordAudiLog]
@parameter1 bigint=0,--recordId
@parameter2 nvarchar(300)='',--recordNumber
@parameter3 nvarchar(500)=''--comma seperated viewids
AS
BEGIN
SELECT a.RecordId, RecordNumber=a.RecordName, Action=case A.[Type] when 1 then 'Viewed' when  2 then 'Created' when 3 then 'Updated'  when 4 then 'Deleted' end, [TimeStamp]=cast(a.TimeStamp as datetime), UserName=u.UserName, FullName=u.FirstName +' '+u.LastName,
Source=ISNULL(v.DisplayText,'')+' ['+CAST(a.ViewId as nvarchar(100))+']' from ApiRecordAccessLogs a 
left join ApiUsers u on a.UserId=u.Id
left join ApiViews v on a.ViewId=v.Id
where (RecordId=@parameter1 OR RecordName=@parameter2) and ViewId IN (SELECT Item FROM dbo.SplitCommaString(@parameter3)) order by a.TimeStamp desc
END
GO
