/****** Object:  StoredProcedure [dbo].[Proc_Report_1623]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1623]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1623]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	Proc_Report_1623 1296
CREATE proc [dbo].[Proc_Report_1623]
@parameter1 bigint,--typeId
@parameter2 bigint--OficeId
--1623: Stationery Book
as
begin
	select 
	b.Id,
	b.Name
	,b.TypeId
	,TypeName=tp.ConstantName
	,Prefix
	,StartingNumber
	,NoOfDigits
	,NoOfPages
	,PreviousUsedPage
	,b.NatureId
	,Nature=nt.ConstantName
	,b.OfficeId
	,AllocatedOffice=ofc.OfficeName
	,AllotedDate
	,ExpiryDate
	,IsUsed
	,IsLocked
	,BookRemark
	,MappingRemark
	,au.FirstName
	,au.UserName
	from dbo.mBook as b
	join dbo.mConstantValue as tp on tp.Id=b.TypeId
	join dbo.mConstantValue as nt on nt.Id=b.NatureId
	left join dbo.mOfficeMaster as ofc on ofc.Id=b.OfficeId
	left join dbo.ApiSessions as ss on ss.Id=b.CSID
	left join dbo.ApiUsers as au on au.Id=ss.UserId
	where 
	 (case when @parameter2=0 then 1 when @parameter2=b.OfficeId then 1 else 0 end )=1
	and (case when @parameter1=0 then 1 when @parameter1=b.TypeId then 1 else 0 end )=1 
end

GO
