/****** Object:  StoredProcedure [dbo].[Proc_Report_1690]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1690]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1690]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	 exec [Proc_Report_1690] '2016-01-01','2018-12-01'

CREATE proc [dbo].[Proc_Report_1690]
	@parameter1 date,
	@parameter2 date
as
begin
	select 
		ReportYear=Year(t.TripDate)
		,[TypeId]=1
		,[1]=Sum(case when Month(t.TripDate)=1 then isnull(GPSKm,0) else 0 end)
		,[2]=Sum(case when Month(t.TripDate)=2 then isnull(GPSKm,0) else 0 end)
		,[3]=Sum(case when Month(t.TripDate)=3 then isnull(GPSKm,0) else 0 end)
		,[4]=Sum(case when Month(t.TripDate)=4 then isnull(GPSKm,0) else 0 end)
		,[5]=Sum(case when Month(t.TripDate)=5 then isnull(GPSKm,0) else 0 end)
		,[6]=Sum(case when Month(t.TripDate)=6 then isnull(GPSKm,0) else 0 end)
		,[7]=Sum(case when Month(t.TripDate)=7 then isnull(GPSKm,0) else 0 end)
		,[8]=Sum(case when Month(t.TripDate)=8 then isnull(GPSKm,0) else 0 end)
		,[9]=Sum(case when Month(t.TripDate)=9 then isnull(GPSKm,0) else 0 end)
		,[10]=Sum(case when Month(t.TripDate)=10 then isnull(GPSKm,0) else 0 end)
		,[11]=Sum(case when Month(t.TripDate)=11 then isnull(GPSKm,0) else 0 end)
		,[12]=Sum(case when Month(t.TripDate)=12 then isnull(GPSKm,0) else 0 end)
		,[Total]=Sum(isnull(t.GPSKm,0))
		into #tmp_3
	from(-- Daily breakup and sum
		select 
		o.VehicleId
		,TripDate=cast(o.TripStartDate as date)
		,GPSKm=(Select sum(GPSKm) from dbo.tGPSKmLog as g where g.VehicleId=o.VehicleID and g.LogDate between cast(o.TripStartDate as date) and (case when t.ReachDate=tt.NextDate then dateadd(day,-1,t.ReachDate) else t.ReachDate  end))
		,o.TripNatureId
		from dbo.tVehiclemovementlog as o	
		join (
			select row_number()over(partition by t.vehicleid order by t.TripStartDate) as rowid,t.VehicleId,t.Id,ReachDate=cast(isnull(t.UnloadingReachDate,t.UnloadingDate) as date)
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as t on o.Id=t.Id
		left join (
			select row_number()over(partition by t.vehicleid order by t.TripStartDate) as rowid,NextDate=cast(isnull(t.LoadingDate,t.TripStartDate) as date),t.* 
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as tt on t.VehicleId=tt.VehicleId and t.rowid=tt.rowid-1
		where o.VehicleID>0 and o.TripStartDate between @parameter1 and @parameter2
	)as t
	join dbo.mVehicleMaster as m on t.VehicleID=m.Id
	group by Year(t.TripDate)
	
	-- insert missing  Year rows
	insert into #tmp_3
	select YearCol,1,0,0,0,0,0,0,0,0,0,0,0,0,0 from YearListBetweenTwo (Year(@parameter1),Year(@parameter2)) as x
	left join (select distinct ReportYear from #tmp_3  where TypeId=1)as t on t.ReportYear=x.YearCol
	where t.ReportYear is null

	insert into #tmp_3
	select 
	ReportYear=Year(g.LogDate)
	,[TypeId]=2
	,[1]=Sum(case when Month(g.LogDate)=1 then isnull(g.GPSKm,0) else 0 end)
	,[2]=Sum(case when Month(g.LogDate)=2 then isnull(g.GPSKm,0) else 0 end)
	,[3]=Sum(case when Month(g.LogDate)=3 then isnull(g.GPSKm,0) else 0 end)
	,[4]=Sum(case when Month(g.LogDate)=4 then isnull(g.GPSKm,0) else 0 end)
	,[5]=Sum(case when Month(g.LogDate)=5 then isnull(g.GPSKm,0) else 0 end)
	,[6]=Sum(case when Month(g.LogDate)=6 then isnull(g.GPSKm,0) else 0 end)
	,[7]=Sum(case when Month(g.LogDate)=7 then isnull(g.GPSKm,0) else 0 end)
	,[8]=Sum(case when Month(g.LogDate)=8 then isnull(g.GPSKm,0) else 0 end)
	,[9]=Sum(case when Month(g.LogDate)=9 then isnull(g.GPSKm,0) else 0 end)
	,[10]=Sum(case when Month(g.LogDate)=10 then isnull(g.GPSKm,0) else 0 end)
	,[11]=Sum(case when Month(g.LogDate)=11 then isnull(g.GPSKm,0) else 0 end)
	,[12]=Sum(case when Month(g.LogDate)=12 then isnull(g.GPSKm,0) else 0 end)
	,[Total]=Sum(isnull(g.GPSKm,0))
	from dbo.tGPSKmLog as g 
	where g.LogDate between @parameter1 and @parameter2
	group by Year(g.LogDate) 
	-- insert missing  Year rows
	insert into #tmp_3
	select YearCol,2,0,0,0,0,0,0,0,0,0,0,0,0,0 from YearListBetweenTwo (Year(@parameter1),Year(@parameter2)) as x
	left join (select distinct ReportYear from #tmp_3 where TypeId=2)as t on t.ReportYear=x.YearCol
	where t.ReportYear is null

	insert into #tmp_3
	select 	
	t.ReportYear
	,3
	,[1]=100*case when isnull(tt.[1],0)>0 then t.[1]/tt.[1] else 0 end
	,[2]=100*case when isnull(tt.[2],0)>0 then t.[2]/tt.[2] else 0 end
	,[3]=100*case when isnull(tt.[3],0)>0 then t.[3]/tt.[3] else 0 end
	,[4]=100*case when isnull(tt.[4],0)>0 then t.[4]/tt.[4] else 0 end
	,[5]=100*case when isnull(tt.[5],0)>0 then t.[5]/tt.[5] else 0 end
	,[6]=100*case when isnull(tt.[6],0)>0 then t.[6]/tt.[6] else 0 end
	,[7]=100*case when isnull(tt.[7],0)>0 then t.[7]/tt.[7] else 0 end
	,[8]=100*case when isnull(tt.[8],0)>0 then t.[8]/tt.[8] else 0 end
	,[9]=100*case when isnull(tt.[9],0)>0 then t.[9]/tt.[9] else 0 end
	,[10]=100*case when isnull(tt.[10],0)>0 then t.[10]/tt.[10] else 0 end
	,[11]=100*case when isnull(tt.[11],0)>0 then t.[11]/tt.[11] else 0 end
	,[12]=100*case when isnull(tt.[12],0)>0 then t.[12]/tt.[12] else 0 end
	,[Total]=100*case when isnull(tt.[Total],0)>0 then t.[Total]/tt.[Total] else 0 end
	from #tmp_3 as t
	left join #tmp_3 as tt on t.ReportYear=tt.ReportYear and tt.TypeId=2
	where t.TypeId=1

	select ReportYear,Factor=case when TypeId=1 then 'Loaded' when TypeId=2 then'Total Running' when TypeId=3 then'%' end 
	,[Jan]=case when TypeId<>3 then FORMAT([1], '#,#') else FORMAT([1], 'N', 'en-US') end
	,[Feb]=case when TypeId<>3 then FORMAT([2], '#,#') else FORMAT([2], 'N', 'en-US') end
	,[Mar]=case when TypeId<>3 then FORMAT([3], '#,#') else FORMAT([3], 'N', 'en-US') end
	,[Apr]=case when TypeId<>3 then FORMAT([4], '#,#') else FORMAT([4], 'N', 'en-US') end
	,[May]=case when TypeId<>3 then FORMAT([5], '#,#') else FORMAT([5], 'N', 'en-US') end
	,[Jun]=case when TypeId<>3 then FORMAT([6], '#,#') else FORMAT([6], 'N', 'en-US') end
	,[Jul]=case when TypeId<>3 then FORMAT([7], '#,#') else FORMAT([7], 'N', 'en-US') end
	,[Aug]=case when TypeId<>3 then FORMAT([8], '#,#') else FORMAT([8], 'N', 'en-US') end
	,[Sep]=case when TypeId<>3 then FORMAT([9], '#,#') else FORMAT([9], 'N', 'en-US') end
	,[Oct]=case when TypeId<>3 then FORMAT([10], '#,#') else FORMAT([10], 'N', 'en-US') end
	,[Nov]=case when TypeId<>3 then FORMAT([11], '#,#') else FORMAT([11], 'N', 'en-US') end
	,[Dec]=case when TypeId<>3 then FORMAT([12], '#,#') else FORMAT([12], 'N', 'en-US') end
	,[Total]=case when TypeId<>3 then FORMAT([Total], '#,#') else FORMAT([Total], 'N', 'en-US') end
	from #tmp_3 as t order by ReportYear,TypeId
end
GO
