/****** Object:  StoredProcedure [dbo].[Proc_Report_1311]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1311]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1311]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1311]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max)--ToDate
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	

	SET NOCOUNT ON;
	SELECT 	
	Office = O.OfficeName,
	CCO.CategoryName,
	CCO.ClassName,
	ei.DocNo,
	ei.DocDate,
	[VendorRefNo]=ei.VendorRefNo,
	[VendorAc]=cr.FleetAcName,
	[StoreAc]=dr.FleetAcName,
	ei.Remark,
	sl.Qty,
	sl.Amount,
	sl.DiscountAmount,
	CGSTAc=cg.AccountName,
	sl.CGSTAmount, 
	SGSTAc=sg.AccountName,
	sl.SGSTAmount,
	IGSTAc=ig.AccountName,
	sl.IGSTAmount,
	sl.OtherAmount,
	sl.NetAmount,
	CreatedBy= dbo.GetUserBySessionId(ei.CSID),
	CDOE=ei.CDOE,
	ModifiedBy=dbo.GetUserBySessionId(ei.MSID),
	CDOE=ei.MDOE
	from dbo.tSpareLogExtraInfo as ei 
	join
	(
	   select 
	    ExtraInfoId=max(t.ExtraInfoId), 
	    Amount=sum(isnull(t.Amount,0)), 
	    Qty=sum(isnull(t.Qty,0)), 
	    CGSTAmount=sum(isnull(t.CGSTAmount,0)),
	    SGSTAmount=sum(isnull(t.SGSTAmount,0)), 
	    IGSTAmount=sum(isnull(t.IGSTAmount,0)),
	    DiscountAmount=sum(isnull(t.DiscountAmount,0)), 
	    OtherAmount=sum(isnull(t.OtherAmount,0)), 
	    NetAmount=sum(isnull(t.NetAmount,0))
	    from dbo.tSpareLog as t group by t.VoucherNo
	) as sl on ei.Id=sl.ExtraInfoId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1030 then  ei.CrAccountId else ei.OfficeId end)
	join dbo.mOfficeMaster as O on O.Id=ei.OfficeId
	left join dbo.mLedger as dr on dr.Id=ei.DrAccountId
	left join dbo.mLedger as cr on cr.Id=ei.CrAccountId
	left join dbo.mLedger as cg on cg.Id=ei.CGSTACId
	left join dbo.mLedger as sg on sg.Id=ei.SGSTACId
	left join dbo.mLedger as ig on ig.Id=ei.IGSTACId
	left join dbo.tVouchers as v on v.Id=ei.VoucherId
	left join dbo.mLedger as dr1 on dr1.Id=v.Account6Id
	left join dbo.ApiSessions as ap on ap.Id=ei.CSID
	left join dbo.ApiUsers as cu on cu.Id=ap.UserId
	where ei.VoucherTypeId IN(23,61) 
	and ei.DocDate between @parameter4 and @parameter5
	
end
GO
