/****** Object:  StoredProcedure [dbo].[Proc_Report_1659]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1659]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1659]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1659]
	@parameter1 date,--fromdate
	@parameter2 date,--todate
	@parameter3 date,--PaidDate
	@parameter4 bigint--CreaditAccountId
as
begin
	
	select 
	PumpName=a.AccountName
	,RequestDate=t.RequestDate
	,PaidDate=format(@parameter3,'dd-MMM-yyyy')
    ,PaidIn=p.ConstantName
    ,Office=o.OfficeName
    ,Qty=t.RequestQty
    ,Amount=t.RequestAmount
	,Rate=isnull((SElect top 1 x.FuelRate FROM dbo.mFuelRateLog as x where x.PumpId=t.CreditAccountId and cast(x.FromDate as date)=@parameter3),0)
	,ReferanceNo=ISNULL(t.ReferenceNo,'')+'-ZzZ'+cast(t.Id as nvarchar(100))
	,Remark=ISNULL(t.RequestRemark, t.Remark)
    ,IndendNo=t.VoucherNo
    ,VehicleNo=v.VehicleNo
    ,Driver=d.DriverName
    ,RequestedBy= u.FirstName+ '' + u.LastName
	from dbo.tTripAdvanceLog as t
	join dbo.mLedger as a on a.Id=t.CreditAccountId
	left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
	join dbo.mVehicleMaster as v on v.Id=t.VehicleId
	left join dbo.mDriverMaster as d on d.Id=t.DriverId
	left join dbo.mConstantValue as p on p.Id=t.PaidInId
	left join dbo.ApiSessions as s on s.Id=t.CSID
	left join dbo.ApiUsers as u on u.Id=s.UserId
	where t.RequestStatusId=1596 and t.PaidInId=1518
	and cast(t.RequestDate as date) between cast(@parameter1 as date) and cast(@parameter2 as date) 
	and (case when @parameter4=0 then 1 when t.CreditAccountId=@parameter4 then 1 else 0 end)=1
	order by t.Id
end
GO
