/****** Object:  StoredProcedure [dbo].[Proc_Report_1387]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1387]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1387]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1387]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 bigint--0;StartDate,1:EndDate,2:SettledDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	select
		t.CategoryName,
		t.ClassName,
		t.OfficeName,
		t.VehicleNo,
		Trips=t.TripCount,
		t.LDLogs,
		t.EMLogs,
		t.Logs,
		[Days]=t.TripDays,
		[Km]=t.TotalKmRun,
		[Advance]=t.TotTripAdvance,
		[Dedn]=t.TotDriverDeduction,
		[Adj]=t.BalAdjustment,
		[Fuel Amt]=t.TotTripFuelAmt,
		[Fuel Qty]=t.TotTripFuelQty,
		[Expense]=t.TotTripExpense,
		t.CashDeposited,
		[Booking]=t.TotTripBooking,
		t.CNet,
		CPerday,
		CPerkm,
		[Tyre Exp]=TotTyreExp,
		[Battery Exp]=TotBatteryExp,
		[Repair Exp]=TotRepairExp,
		[AMC Exp]=TotRepairAMCExp,
		[Due Exp]=TotDuesExp,
	--	[Driver Exp]=TotDriverExp,
	--	[Gen Exp]=TotGenExp,
		[EMI]=TotEMIExp,
		FNet,
		FPerday =cast((case isnull(t.TripDays,0) when 0 then  0 else isnull(t.FNet,0) / isnull(t.TripDays,0) end)as decimal(18,2)),
		FPerkm = cast((case  isnull(t.TotalKmRun,0) when 0 then  0 else isnull(t.FNet,0) / isnull(t.TotalKmRun,0) end)as decimal(18,2))
 	from
	(SELECT 
		t.CategoryName,
		t.ClassName,
		t.OfficeName,
		t.VehicleNo,
		t.TripCount,
		t.TripDays,
		t.TotalKmRun,
		t.TotTripAdvance,
		t.TotDriverDeduction,
		t.BalAdjustment,
		t.TotTripFuelAmt,
		t.TotTripFuelQty,
		t.TotTripExpense,
		t.CashDeposited,
		t.TotTripBooking,
		t.CNet,
		CPerday =cast((case isnull(t.TripDays,0) when 0 then  0 else isnull(t.CNet,0) / isnull(t.TripDays,0) end)as decimal(18,2)),
		CPerkm = cast((case  isnull(t.TotalKmRun,0) when 0 then  0 else isnull(t.CNet,0) / isnull(t.TotalKmRun,0) end)as decimal(18,2)),
		TotTyreExp=(isnull(ty.TotTyreExp,0)),
		TotBatteryExp=(isnull(bt.TotBatteryExp,0)),
		TotRepairExp=(isnull(rp.TotRepairExp,0)+isnull(lb.TotRepairLbExp,0)),
		TotRepairAMCExp=isnull(lb.TotRepairAMCExp,0),
		TotDuesExp=(isnull(du.TotDuesExp,0)),
		TotDriverExp=t.TotDriverExp,
		TotGenExp=(isnull(ge.TotGenExp,0)),
		TotEMIExp=(isnull(emi.TotEMIExp,0)),
		FNet=(isnull(t.TotTripBooking,0)-isnull(t.TotTripExpense,0)-isnull(ty.TotTyreExp,0)-isnull(bt.TotBatteryExp,0)-isnull(rp.TotRepairExp,0)-isnull(lb.TotRepairLbExp,0)-isnull(lb.TotRepairAMCExp,0)-isnull(du.TotDuesExp,0)-isnull(t.TotDriverExp,0)-isnull(ge.TotGenExp,0)-isnull(emi.TotEMIExp,0)),
		t.Logs,
		t.LDLogs,
		t.EMLogs
	From
	(
		SELECT 
		CCO.CategoryName,
		CCO.ClassName,
		o.OfficeName,
		m.VehicleNo,
		VehicleId=m.Id,
		TripCount=count(t.Id),
		TripDays=sum(isnull(DATEDIFF(day,t.StartDate,t.EndDate),0)),
		TotalKmRun=sum(isnull(tl.TotalKmRun,0)),
		TotTripAdvance=sum(isnull(adv.Tottripadv,0)),
		TotDriverDeduction=sum(isnull(adv.DriverPenalty,0)),
		BalAdjustment=sum(isnull(adv.BalAdjustment,0)),
		TotTripFuelAmt=sum(isnull(adv.TottripFuel,0)),
		TotTripFuelQty=sum(isnull(adv.TotalFuelQty,0)),
		TotTripExpense=sum(isnull(texp.TotTripExp,0)),
		CashDeposited=sum(isnull(t.CashDeposited,0)),
		TotTripBooking=sum(isnull(bkg.BookingFreight,0)),
		TotDriverExp=sum(isnull(adv.TotDriverExp,0)),
		CNet=sum(isnull(bkg.BookingFreight,0))-sum(isnull(texp.TotTripExp,0)),
		Logs=Sum(isnull(tl.Logs,0)),
		LDLogs=Sum(isnull(tl.LDLogs,0)),
		EMLogs=Sum(isnull(tl.EMLogs,0))
		FROM dbo.tTripSettlement as t
		INNER JOIN dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.OfficeId end)
		LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
		left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
		left join
		(
			select tl.SettlementId,sum(isnull(tl.TotalKmRun,0)) as TotalKmRun,Logs=count(*),LDLogs=sum(case when tl.TripNatureId=1075 then 1 else 0 end) ,EMLogs=sum(case when tl.TripNatureId=1075 then 0 else 1 end) from dbo.tVehiclemovementlog as tl group by tl.SettlementId
		)as tl on tl.SettlementId=t.Id
		
		left join
		(
			select t.SettlementId, Tottripadv=sum((case when t.AdvanceTypeId in(1,2) then  isnull(t.CashAmount,0) else 0 end)),
			DriverPenalty=sum((case when t.AdvanceTypeId = 16 then  isnull(t.CashAmount,0) else 0 end)),
			BalAdjustment=sum((case when t.AdvanceTypeId = 17 then  isnull(t.CashAmount,0) else 0 end)),
			TottripFuel=sum(isnull(t.FuelAmount,0)),TotalFuelQty=sum(isnull(t.FuelQty,0)),
			TotDriverExp=sum(isnull((case when t.AdvanceTypeId in(11,13,14,15,59) then  isnull(t.CashAmount,0) else 0 end),0))
			from dbo.tTripAdvanceLog as t where t.SettlementId>0 group by t.SettlementId
		)as adv on adv.SettlementId=t.Id
		left join(
			select t.SettlementId,TotTripExp=sum(isnull(t.SettledAmount,0)) from dbo.tTripExpenseLog as t 
			where SettlementId>0 group by t.SettlementId
		)as texp on texp.SettlementId=t.Id
		left join 
		(
			select tl.SettlementId,sum(isnull(cnh.CNTotalFreight,0)) as BookingFreight from dbo.tCNMaster as cnh join dbo.tVehicleMovementLog as tl on tl.Id=cnh.TriplogId
			group by tl.SettlementId
		)as bkg on bkg.SettlementId=t.Id

		WHERE 
		
			(	CASE WHEN isnull(@parameter6,0) = 0 AND t.StartDate >= @parameter4 AND t.StartDate < @parameter5 Then 1
					 WHEN @parameter6 = 1 AND t.EndDate >= @parameter4 AND t.EndDate < @parameter5 Then 1
					 WHEN @parameter6 = 2 AND t.SettleDate >= @parameter4 AND SettleDate < @parameter5 Then 1	
				ELSE 0 END
			)=1	AND (t.SettleDate IS NOT NULL)
		GROUP BY CCO.CategoryName,CCO.ClassName,o.OfficeName,m.VehicleNo,m.Id
	)as t
	left join
	(
		select TotGenExp=0 ,VehicleId=0
	)as ge on ge.VehicleId=t.VehicleId
	left join
	(
		select TotEMIExp=Sum(ll.InstallmentAmount),ll.VehicleId from dbo.tLoanLog as ll 
		where ll.LogDate>=@parameter4 and ll.LogDate<=@parameter5 group by ll.VehicleId
	)as emi on emi.VehicleId=t.VehicleId

	left join
	(
		select  TotTyreExp=sum(isnull(x.NetAmount,0)),x.VehicleId
		from dbo.tTyreLog as x 
		where x.VoucherDate >= @parameter4 and x.VoucherDate <= @parameter5 and x.TyreStatusId = 1103 and x.VoucherTypeId != 42 
		group by x.VehicleId
	)as ty on ty.VehicleId=t.VehicleId
	left join
	(
		select  TotBatteryExp=sum(isnull(x.NetAmount,0)),x.VehicleId
		from dbo.tBatteryLog as x 
		where x.DocDate >= @parameter4 and x.DocDate <= @parameter5 and x.BatteryStatusId = 1205 and x.VoucherTypeId != 58 
		group by x.VehicleId
	)as bt on bt.VehicleId=t.VehicleId
	left join
	(
		select TotRepairExp=sum(isnull(x.NetAmount,0)) ,x.VehicleId
		from dbo.tSpareLog as x 
		where x.VoucherDate >= @parameter4 and x.VoucherDate <= @parameter5 and x.VoucherTypeId in(22,24) 
		group by x.VehicleId
	)as rp on rp.VehicleId=t.VehicleId
	left join
	(
		select 
		TotRepairLbExp=sum(case when ei.VoucherTypeId=83 then 0 else isnull(x.NetAmount,0) end) ,
		TotRepairAMCExp=sum(case when ei.VoucherTypeId=83 then isnull(x.NetAmount,0) else 0 end) ,
		x.VehicleId
		from dbo.tRepairLabourLog as x 
		join dbo.tSpareLogExtraInfo as ei on ei.Id=x.ExtraInfoId
		where ei.DocDate >= @parameter4 and ei.DocDate <= @parameter5 and (ei.VoucherTypeId in(22,24) or (ei.VoucherTypeId=83 and ei.RelatedVoucherId>0))
		group by x.VehicleId
	)as lb on lb.VehicleId=t.VehicleId
	left join 
	(
		select TotDuesExp=round(sum(isnull(x.CalcDays,0)*isnull(AmtPerDay,0)),0) ,x.VehicleId
		From(
			select 
			CalcDays=case 
			when x.PaidDate<=@parameter4 and x.ExpiryDate>=@parameter4 and x.ExpiryDate<=@parameter5 then datediff(Day,@parameter4,x.ExpiryDate)+1
			when x.PaidDate>=@parameter4 and x.ExpiryDate<=@parameter5 then datediff(Day,x.StartDate,x.ExpiryDate)+1
			when x.PaidDate>=@parameter4 and x.PaidDate<@parameter5 and x.ExpiryDate>=@parameter5 then datediff(Day,x.StartDate,@parameter5)+1
			when x.PaidDate<@parameter4 and x.Expirydate>@parameter5 then datediff(Day,@parameter4,@parameter5)+1 
			else 0 end,
			AmtPerDay=cast((isnull(x.DueAmount,0)/(isnull(datediff(Day,x.PaidDate,x.ExpiryDate),0)+1)) as numeric(18,2)),
			x.VehicleId
			from dbo.tDueTransactionLog as x 
			where x.PaidDate >= @parameter4 and x.PaidDate <= @parameter5
			or  x.ExpiryDate >= @parameter4 and x.ExpiryDate <= @parameter5
			or  x.PaidDate < @parameter4 and x.ExpiryDate >@parameter5
		)as x
		group by x.VehicleId
	) as du on du.VehicleId=t.VehicleId
	)as t
ORDER BY t.VehicleNo

END
GO
