/****** Object:  StoredProcedure [dbo].[Proc_Show_1679_LocaldispatchDetails]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Show_1679_LocaldispatchDetails]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Show_1679_LocaldispatchDetails]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Show_1679_LocaldispatchDetails]
@parameter1 date, --fromdate
@parameter2 date, --todate
@parameter3 bigint, --ConsignorId
@parameter4 bigint --ConsigneeId
AS
BEGIN
    SELECT
    [Status]=			  st.ConstantName,
    [DispatchNo]=		  t.TriplogNo,
    [VehicleNo]=		  isnull(ov.VehicleNo,hv.VehicleNo),
    [DispatchDate]=		  CAST(t.TripStartDate AS DATE),
    [PartCode]=		  mat.Code,
    [PartName]	=		  mat.Name,
    [CNNo]=			  c.CNNo,
    [CNBookingDate]=	  CAST(c.CNDate AS DATE),
    [StockDate]=		  CAST(parent.LogDate AS DATE),
    [StockInvoiceNo]=	  cnmm.InvoiceNo,
    [StockInvoiceQty]=	   ISNULL(cnmm.ActualQty,0),
    [DispatchInvoiceNo]=	  cm.ChallanNo,
    [DispatchInvoiceDate]= CAST(cm.ChallanDate AS DATE),
    [DispatchQty]=		  ISNULL(smm.OutQty,0),
    [BalanceQty]=		  ISNULL(cnmm.ActualQty,0)-ISNULL(smm.OutQty,0),
    --[Rate]=			  ISNULL(cnmm.Rate,0),
    --[Amount]=			  ISNULL(cnmm.NetFreight,0),
    [eWayBillNo]=		  cm.eWayBillNo,
    [eWayBillExDate]=	  CAST(cm.eWayBillExpiryDate AS DATE),
    [Route]=			  ISNULL(cr.Name,tr.Name),
    [Invoicedby]=		  cu.UserName,
    [InvoiceDOE]=		  CAST(cm.CDOE AS DATE),
    [DispatchDOE]=		  CAST(t.CDOE AS DATE),
    [DispatchedBy]=		  tu.UserName
    FROM 
    [dbo].[tCNChallan] AS chcn 
    
    join [dbo].[tCNStockLog] AS s ON s.ChallanCNId=chcn.Id
    LEFT JOIN [dbo].[tCNStockMMLog] AS smm ON smm.StockLogId=s.Id
    LEFT JOIN [dbo].[tCNMultiMaterial] AS cnmm ON cnmm.Id=smm.CNMMId

    join [dbo].[mConstantValue] AS st ON st.Id=s.LogTypeId
    left join [dbo].[tCNStockLog] AS parent ON parent.Id=s.RefStockId
    left join [dbo].[tChallanMaster] AS cm ON cm.Id=chcn.ChallanId
    join [dbo].[tCNMaster] AS c ON c.Id = chcn.CNId
    LEFT JOIN [dbo].[mMaterialMaster] mat on mat.Id=smm.MaterialId
    LEFT JOIN [dbo].[mRouteMaster] AS cr ON cr.Id=cm.RouteID
    LEFT JOIN [dbo].[tVehicleMovementLog] AS t ON t.Id=chcn.TriplogId 
    left join [dbo].[mVehicleMaster] ov on ov.Id=t.VehicleId
    left join [dbo].[mHireVehicle] hv on hv.Id=t.HireVehicleId
    LEFT JOIN [dbo].[mRouteMaster] AS tr ON tr.Id=t.RouteId
    LEFT JOIN [dbo].[ApiSessions] AS ta ON ta.Id=t.CSID
    LEFT JOIN [dbo].[ApiUsers] AS tu ON tu.Id=ta.UserId
    LEFT JOIN [dbo].[ApiSessions] AS ca ON ca.Id=cm.CSID
    LEFT JOIN [dbo].[ApiUsers] AS cu ON cu.Id=ca.UserId
    WHERE s.LogTypeId in(1454,1425,1451,1455) AND ISNULL(cm.ChallanTypeId,0) in(1651,0)
    AND cast(s.LogDate as date) BETWEEN Cast(@parameter1 as Date) AND Cast(@parameter2 as Date)
    AND (case when isnull(@parameter3,0)=0 then 1 when isnull(@parameter3,0)>0 AND cm.ConsignorId=@parameter3 then 1 else 0 end)=1
    AND (case when isnull(@parameter4,0)=0 then 1 when isnull(@parameter4,0)>0 AND cm.ConsigneeId=@parameter4 then 1 else 0 end)=1
END
GO
