/****** Object:  StoredProcedure [dbo].[Proc_UnmapUserConnectionGroup]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_UnmapUserConnectionGroup]
GO
/****** Object:  StoredProcedure [dbo].[Proc_UnmapUserConnectionGroup]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_UnmapUserConnectionGroup]
@parameter1 bigint,--@userid
@parameter2 bigint--@groupid
AS
BEGIN
 DELETE FROM [dbo].[ApiUserGroupMapping] WHERE [UserId]=@parameter1 and [GroupId]=@parameter2
 IF(NOT EXISTS(SELECT * FROM [dbo].[ApiUserGroupMapping] WHERE [GroupId]=@parameter2))
 BEGIN
 DELETE FROM [dbo].[ApiConversationGroup] WHERE Id=@parameter2
 END
 END
GO
