/****** Object:  StoredProcedure [dbo].[Proc_Report_1615]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1615]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1615]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	EXEC	[Proc_Report_1518] '2017-04-01','2018-03-31',0

CREATE PROCEDURE [dbo].[Proc_Report_1615] 
(
	@parameter1 DATETIME,@parameter2 DATETIME,@parameter3 bigint
)
AS 
BEGIN
-- 1449: Ledger
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter1 between OpeningDate and ClosingDate),0)
	if(@FFYId<=0)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end

	DECLARE @Ledger TABLE
	(RowID BIGINT IDENTITY(1,1),VoucherId bigint,VdId bigint,OfficeId bigint,VoucherDate datetime,Office nvarchar(255),VoucherNo nvarchar(255),ChequeNo varchar(255),VoucherType varchar(255),Particulars VARCHAR(1000), Debit decimal(18,2),Credit decimal(18,2),Narration nvarchar(1000) ,OrderId int)

	if(isnull(@parameter3,0)>0)
	begin
		Declare @OpBalance DECIMAL(18,2),@ClBalance DECIMAL(18,2)
		Set @OpBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId where  xvd.AccountId=@parameter3 and  xv.FYID=@FFYId and ((xv.VoucherTypeId in(19,69) AND xv.VoucherDate <= @parameter1) OR  (xv.VoucherDate < @parameter1)) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0)
		insert into @Ledger(Particulars,Debit,Credit,OrderId) values('Opening Balance',case when @OpBalance>0 then @OpBalance else null end,case when @OpBalance<0 then abs(@OpBalance) else null end,2)
	end

	insert into @Ledger(VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,Narration,OrderId)
	
	Select 
	VoucherDate =v.VoucherDate
	,Office=o.OfficeName
	,v.VoucherNo
	,vd.ChequeNo
	,vt.VoucherTypeName
	,Particulars=case when isnull(@parameter3,0)=0
	then
		a.AccountName 
	else
		(select top 1 a.AccountName from dbo.mLedger as a join dbo.tVoucherVD as xvd on xvd.AccountId=a.Id where xvd.VoucherId=v.Id and xvd.AccountId<>vd.AccountId and (case when xvd.VdAmount<0 then 'Cr' else 'Dr' end)=(case when vd.VdAmount<0 then 'Dr' else 'Cr' end)   order by xvd.Id desc)--case when isnull(xvd.AccountId,0)=0 or v.VoucherTypeId=18 then 'as per detail' else a.FleetAcName end
	
	end
	,[DebitAmount]=case when ISNULL(vd.VDAmount,0)>0 then ISNULL(vd.VDAmount,0) else 0 end
	,[CreditAmount]=abs(case when ISNULL(vd.VDAmount,0)<0 then ISNULL(vd.VDAmount,0) else 0 end)
	,Narration=left(v.AccNarration,999)
	,2
	from dbo.tVouchers as v 
	inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
	inner join dbo.mOfficeMaster as o on o.Id=v.OfficeId
	join dbo.mLedger as a on a.Id=vd.AccountId
	inner join dbo.mVoucherType as vt on vt.Id=v.VoucherTypeId
	join
	(
		select distinct xvd.VoucherId from tVoucherVD as xvd 
		join dbo.mLedger as aa on aa.Id=xvd.AccountId
		join dbo.tVouchers as xv on xv.Id=xvd.VoucherId
		where aa.GroupId in(select GroupId FROM dbo.Func_GetAllAccountParentChildGroups(26) as x)
		and xv.VoucherTypeId not in(19,69)
		and xv.FYID=@FFYId and (xv.VoucherDate between @parameter1 and @parameter2) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1
	)as vv on vv.VoucherId=v.Id
	where (case when isnull(@parameter3,0)=0 then 1 when vd.AccountId=@parameter3 then 1 else 0 end)=1
	order by v.VoucherDate
	
	--insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	
	--select 'Transaction Total',Sum(Debit),Sum(Credit),3 from @Ledger where OrderId=2

	if isnull(@parameter3,0)>0 
	begin
		select format(VoucherDate,'dd-MMM-yyyy')as VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,Narration,Sum(isnull(Debit,0)-isnull(Credit,0))Over(order by RowId) as RunningTotal from @Ledger order by OrderId
	end
	else
	begin
		select format(VoucherDate,'dd-MMM-yyyy')as VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,Narration from @Ledger order by OrderId
	end
END
GO
