/****** Object:  StoredProcedure [dbo].[Proc_Report_1578]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1578]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1578]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1578]
--exec [dbo].[Proc_Report_1578] @parameter1=N'30032',@parameter2=N'60030',@parameter3=NULL,@parameter4=N'2017-01-01',@parameter5=N'2017-11-01'
	@parameter1 bigint, --Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--FromDate
	@parameter5 datetime--ToDate
AS
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	SELECT
		CNNo=cn.CNNo,
		cn.CNDate,
		t.TriplogNo,
        HSDate=t.TripStartDate,
        t.VoucherDate,
        VehicleNo=case when t.TripTypeId=1160 then hvm.VehicleNo else vm.VehicleNo end,
        PartyName=c.AccountName,
        HVP=l.AccountName,
        OriginToDestination=r.Name,
		TotalCNFreight=isnull(cn.CNTotalFreight,0),
		UOLessI,
		UOLessII,
        HSAmount=isnull(cn.CNTotalFreight,0)-isnull(UOLessI,0)-isnull(UOLessII,0),
		TDSRate=t.HSTDSRate,
        TDSAmount= t.HSTDSAmount,
		t.MiscChg,
		t.TCChg,
		MarketFreight= isnull(cn.CNTotalFreight,0)-isnull(t.UOLessI,0)-isnull(t.UOLessII,0)-isnull(t.HSTDSAmount,0)-Isnull(t.MiscChg,0)-isnull(t.TCChg,0)
		FROM dbo.tVehicleMovementLog AS t
		left join 
		(
			Select cn.CNDate,cn.CNNo,cn.TriplogId,cn.CNTotalFreight from dbo.tCNMaster as cn
		)as cn on cn.TriplogId=t.Id
		INNER JOIN [dbo].[CCO](@parameter1,@parameter2,@parameter3) as CCO on CCO.ObjectId=(CASE WHEN @RoleId=1292 then t.OfficeId WHEN @RoleId=1044 then t.HVPId ELSE t.PartyId END) 
		LEFT JOIN [dbo].[mVehicleMaster] vm ON vm.Id=t.VehicleId
		LEFT JOIN [dbo].[mHireVehicle] hvm ON hvm.Id=t.HireVehicleId
		LEFT JOIN [dbo].[mLedger] l ON l.Id=t.HVPId
		LEFT JOIN [dbo].[mLedger] c ON c.Id=t.PartyId	
		LEFT JOIN [dbo].[mRouteMaster] r ON r.Id=t.RouteId
	WHERE cn.CNDate>=@parameter4 and cn.CNDate<=@parameter5 and t.TripTypeId=1160
		 
END

--TriplogNo;TriplogNo^PartyName;PartyName^TotalCNFreight;CNAmount^UOLessI;UOTDS^UOLessII;UOCOM^HSAmount;HSAmount^TDSRate;TDSRate^TDSAmount;TDSAmount^MiscChg;MiscChg^TCChg;TCChg^MarketFreight;MarketFreight^HSDate;HSDate^HSDate;HSDate^VoucherDate;VoucherDate
--^Vehicle1Ref;Incharge^TripNo;TripNo^Party;Customer Name^LoadType;SalesType^VehicleNo;Vehicle No^VehicleSize;Vehicle Size^FromPlace;Origin^ToPlace;Destination^Touching;Touching^TripMode;Mode^BdgtKmRun;Distance^TAT;TAT^LoadingDate;Actual Departure^AvgSpeed;AvgSpeed^ETA;ETA^CurrentTime;CurrentTime^TimeElapsedHrs;Travelled Hrs^GPSKM;Travelled KM^GPSSpeed;Speed^GPSLocation;Current Location^RemainingHrs;Remaining Hrs^RemainingKm;Remaining KM^ExpectedKmRun;Projected KM^EarlyDelayKm;KM Gap^EarlyDelayStatus;Delay Status^StatusName;Final Fleet Sts^StatusDate;Fleet Sts Dt^StatusLocation;Fleet Location^UnloadingReachDate;Reach Destn Dt^FleetPlan;FleetPlan^Remarks;Remarks^CU;Created by^DOE;DOE
GO
