/****** Object:  StoredProcedure [dbo].[Proc_GLB_HandleIntegration]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_GLB_HandleIntegration]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GLB_HandleIntegration]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_GLB_HandleIntegration]
	@EventLogId nvarchar(100)
AS
BEGIN
	DECLARE @SenderId nvarchar(255),@EventCode int,@EventTime DateTime,@json nvarchar(max),@IsProcessed bit=0;
	select @SenderId=SenderId,@EventCode=EventCode,@EventTime=SWITCHOFFSET(EventTime,'+05:30'),@json=Properties FROM [dbo].EventStorages WHERE EventLogId=@EventLogId
	IF(@EventCode in(1100,1101) and @SenderId='16E317B5-9037-43B2-9897-1EC4A34CBEA5')/*Axes Track*/
	BEGIN
		/*Process GeofenceIN Event*/
		declare @tripid bigint,@vehicleno nvarchar(100)=JSON_VALUE(@json,'$.VehicleNo'),@GeofenseName nvarchar(100)=JSON_VALUE(@json,'$.GeofenceName'),@TriplogNo nvarchar(100)=JSON_VALUE(@json,'$.TripNo')
		exec dbo.Proc_GLB_HandleVehGEOIn @vehicleno,@GeofenseName,@TriplogNo,@EventCode,@EventTime
		SET @IsProcessed=1;
	END
	IF(@IsProcessed=1)
	BEGIN
	UPDATE [dbo].[EventStorages] SET [IsProcessed]=1,[ProcessedTime]=SWITCHOFFSET(GETDATE(),'+05:30') WHERE [EventLogId]=@EventLogId
	END
END
GO
