/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV35]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatV35]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV35]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1538_BillFormatV35]
	@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	SELECT
	[Id]=b.Id,
	[ClientPrntingName]=l.PrintingName,
	[ClientAddress]=padd.FullAddress,	
	[ClientStateName]=sgc.[Name],
	[ClientStateCode]=sgc.Abbr,
	[ClientGSTINNo]=l.GSTIN,
	[PlaceofSupply]= sgc.[Name],
	[TPPrintingName]='',
	[TPBillingAddress]=boff.PrintingAddress,
	[TPBillingStateName]=std.Name,
	[TPBillingStateCode]=std.Abbr,
	[TPBillingGSTINNo]=boff.GSTNo,
	[InvoiceNo]=b.BillNo,
	[Date]=b.BillDate,
	[TransportationMode]=isnull(cv.ConstantName,'By Road'),
	
	[TaxPaybleOnReverseCharge]=case b.IsTaxApplicable when 1 then 'NO' ELSE 'EXEMPTED' end,
	[VehicleNo]=case when trp.TripTypeId=1160 then hvm.VehicleNo else vm.VehicleNo end,
	[DescriptionofGoods]=ts.[Description],
	[HSNCode]=Left(ts.Code,4),
	[QTY]=cn.LoadingQty,	--?
	[AssessableValue]= cn.CNBasicAmount,
	[fuelSurplusCharges]=cn.AChargeIII, 
	[AdditionalTouching] =cn.AChargeII,
	[GreenTax]=cn.AChargeI,
	[AnyOtherCharges]=cn.AChargeIV, 
	[LessDiscount]=cn.LChargeI,
	[CGST]=cn.CGSTAmount, 
	[CGSTRate]=cn.CGSTRate, 
	[SGST]=cn.SGSTAmount, 
	[SGSTRate]=cn.SGSTRate, 
	[IGST]=cn.IGSTAmount,
    [IGSTRate]=cn.IGSTRate, 
	[CassDiscount] =0, 
	[OtherChargesRemark]= '',
	[IsTaxApplicable]=b.IsTaxApplicable,
	[PhoneNo]=padd.ContactNumber,
	[CashDiscountRate]=l.BillRefI,
	BillRefI=b.BillRef1,
	BillRefII=b.BillRef2,
	BillRefIII=b.BillRef3,
	BillRefIV=b.BillRef4,
	CreditPeriod=isnull(l.CreditPeriod,0),
	PaymentDueDate=DateAdd(day,isnull(l.CreditPeriod,0),b.BillDate)
	FROM [dbo].[tCNBillMaster] b
	LEFT JOIN (SELECT cn.BillId as BillId,Max(VehicleId) as VehicleId,Max(TripLogId) as TripLogId,count(cn.Id) as LoadingQty,SUM(cn.CNBasicAmount) as CNBasicAmount,SUM(cn.AChargeI) as AChargeI,SUM(cn.AChargeII) as AChargeII,SUM(cn.AChargeIII) as AChargeIII,SUM(cn.AChargeIV) as AChargeIV,SUM(cn.LChargeI) as LChargeI,SUM(cn.CGSTAmount) as CGSTAmount,AVG(cn.CGSTRate) as CGSTRate,SUM(cn.SGSTAmount) as SGSTAmount,AVG(cn.SGSTRate) as SGSTRate, SUM(cn.IGSTAmount) as IGSTAmount,AVG(cn.IGSTRate) as IGSTRate,max(cn.TaxServiceTypeId) TaxServiceTypeId  FROM dbo.tCNMaster as cn group by cn.BillId) as cn on cn.BillId=b.Id
	
	LEFT JOIN [dbo].[mLedger] l ON l.Id=b.BillingPartyAcId
	LEFT JOIN [dbo].[mTaxServiceType] ts ON ts.Id=l.ServiceTypeId
	LEFT JOIN [dbo].[mPostalAddress] padd ON padd.Id=l.AddressId
	LEFT JOIN [dbo].[mGenericMaster] sgc ON sgc.Id=padd.StateId	
	
	LEFT JOIN [dbo].[mVehicleMaster] vm ON vm.Id=cn.VehicleId
	LEFT JOIN [dbo].[tVehicleMovementLog] trp on trp.Id=cn.TripLogId
	LEFT JOIN [dbo].[mConstantValue] cv ON cv.Id=trp.TransportModeId
	LEFT JOIN [dbo].[mHireVehicle] hvm ON hvm.Id=cn.VehicleId
	LEFT JOIN [dbo].[mOfficeMaster] boff ON boff.Id=b.BillOfficeId
	LEFT JOIN [dbo].[mGenericMaster] std ON std.Id=boff.StateId
	WHERE b.Id in(Select Item from dbo.SplitCommaString(@parameter1))
	END
GO
