/****** Object:  StoredProcedure [dbo].[Proc_Report_1464]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1464]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1464]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1464]   
 --1464 CN Register  
 -- select * from mObjectCategory  
 @parameter1 bigint,--Categoryid  
 @parameter2 nvarchar(max),--ClassIds  
 @parameter3 nvarchar(max),--AccountIds  
 @parameter4 datetime,--FromDate  
 @parameter5 datetime,--ToDate  
 @parameter6 bigint,  
 @parameter7 bigint --Client  
As  
BEGIN  
 DECLARE @RoleId int  
 SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)  
   
 if(DATEDIFF(MONTH,@parameter4,@parameter5)>2)--Only 2 Month report is allowed  
 begin  
  RAISERROR ('You can see only 2 months data at a time',16,1);  
 end  
  
 SET NOCOUNT ON;  
 SELECT   
 LoadingOffice=lo.OfficeName,  
 t.CNNo,  
 tl.TriplogNo,  
 TripNature=tpy.ConstantName,  
 CNType=cnt.ConstantName,  
 CNDate=format(t.CNDate,'dd-MMM-yyyy hh:mm:ss'),  
 VehicleNo=case when vm.ID>0 then vm.VehicleNo else hvm.RegistrationNo end,
 HO=case when vm.ID>0 then 'O' else 'H' end,  
 VehicleOwner=case when vm.ID>0 then opt.FleetAcName else hvp.FleetAcName end,
 [ZeroCN]=t.IsZeroFreightCN,  
 CNRoute=cr.Abbr,  
 BillingParty=bp.FleetAcName,  
 t.Rate,  
 t.CNBasicAmount,  
 t.Discount,  
 t.CNSubTotalI,  
 [ExtraAmount]=isnull(t.AChargeI,0)+isnull(t.AChargeII,0)+isnull(t.AChargeIII,0)+isnull(t.AChargeIV,0)+isnull(t.AChargeV,0)+  
 isnull(t.AChargeVI,0)+isnull(t.AChargeVII,0)+isnull(t.AChargeVIII,0)+isnull(t.AChargeX,0)+isnull(t.AChargeIX,0),  
 [LessAmount]=isnull(t.LChargeI,0)+isnull(t.LChargeII,0)+isnull(t.LChargeIII,0)+isnull(t.LChargeIV,0),  
 t.CNTotalFreight,  
 BillNo=cb.BillNo,  
 BillDate=format(cb.BillDate,'dd-MMM-yyyy hh:mm:ss'),  
   
 t.ETA,  
 t.ReachTime,  
 t.DeliveryDate,  
 t.PODDate,  
 /*PODStatus=case when (isnull((Select count(*) from dbo.tApiFile as x join dbo.mFileUploadNature as nx on x.NatureId=nx.Id where x.IsUploadCompleted=1 and  x.RecordId=t.ID and x.RelatedId=1570 and nx.Name like 'POD%'),0))>0 then 'Received' else 'Pending' end,  */
 PODStatus=(SELECT (CASE WHEN COUNT(1)>0 THEN 'Received('+CAST(COUNT(1) as nvarchar)+')' ELSE 'Pending' END) FROM mCNExtraInfo pod WHERE 1=(CASE WHEN ( (ISNULL(pod.CNId ,0)>0 AND ISNULL(pod.CNId ,0)=ISNULL(t.Id ,0)) OR (ISNULL(pod.TripLogId ,0)>0 AND ISNULL(pod.TripLogId ,0)=ISNULL(tl.Id ,0))) THEN 1 ELSE 0 END)),
 PODImageCount=isnull((Select count(1) from dbo.tApiFile as x join dbo.mFileUploadNature as nx on x.NatureId=nx.Id where x.IsUploadCompleted=1 and  x.RecordId in(SELECT pod.Id FROM mCNExtraInfo pod WHERE 1=(CASE WHEN ( (ISNULL(pod.CNId ,0)>0 AND ISNULL(pod.CNId ,0)=ISNULL(t.Id ,0)) OR (ISNULL(pod.TripLogId ,0)>0 AND ISNULL(pod.TripLogId ,0)=ISNULL(tl.Id ,0))) THEN 1 ELSE 0 END)) and x.RelatedId=1663 and nx.Name like '%POD%'),0),  
 t.MaterialInfo,  
 t.InvoiceNo,  
 t.InvoiceDate,  
 t.KM,  
  
 t.ActualWeight,  
 t.ChargedWeight,  
 t.ActualQty,  
 t.ChargedQty,  
   
   
 t.PrivateMarka,  
 t.ValueofGoods,  
 VehicleSize=vt.Name,--its  
 TripMode=n.Name,--its  
 tl.TotalKmRun,--its  
 FromPlace=fp.CityName,--its  
 ToPlace=tp.CityName,--its  
 Touching=tl.Remarks,--its  
 LoadingDate=format(tl.LoadingDate,'dd-MMM-yyyy hh:mm:ss'),--its  
 tl.ExpTime,--its  
 Vehicle1Ref=inc.Name  
 ,t.RefI
 ,t.RefII
 ,t.RefIII
 ,t.RefIV  
 ,t.Remark
 ,LoadType=lt.[Name]  
 ,CU=csu.UserName  
 ,DOE=format(t.CDOE,'dd-MMM-yyyy hh:mm:ss') 
 ,MU=msu.UserName  
 ,DOM=format(t.MDOE,'dd-MMM-yyyy hh:mm:ss')
 FROM dbo.tCNMaster as t  
 Join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1130 then t.VehicleId else t.LoadingOfficeId end)   
 left JOIN dbo.mLedger as bp on bp.Id=t.BillingPartyId  
 left JOIN dbo.mOfficeMaster as lo on lo.Id=t.LoadingOfficeId  
 left JOIN dbo.mConstantValue as cnt on cnt.Id=t.CNTypeId  
 left JOIN dbo.mVehicleMaster  as vm on vm.Id=t.VehicleId  
 left JOIN dbo.mHireVehicle  as hvm on hvm.Id=t.HireVehicleId    
 left join dbo.mLedger as hvp on hvp.Id=hvm.HirePartyId
 left join dbo.mLedger as opt on opt.Id=vm.OwnerPartyId
 left join dbo.mGenericMaster as inc on inc.Id=vm.Ref1Id   
 left join dbo.mGenericMaster as vt on vt.Id=vm.VehicleTypeId  
 left join dbo.mRouteMaster as cr on t.ActRouteId=cr.Id  
 left join dbo.mCityMaster as fp on fp.Id=cr.FromPlaceId  
 left join dbo.mCityMaster as tp on tp.Id=cr.ToPlaceId  
 Left JOIN dbo.tCNBillMaster as cb on cb.Id=t.BillId  
 Left JOIN dbo.tVehicleMovementLog as tl on tl.Id=t.TripLogId  
 left join dbo.mGenericMaster as n on n.Id=tl.TripModeId  
 left JOIN dbo.mConstantValue as tpy on tpy.Id=tl.TripNatureId   
 left join dbo.mLoadType as lt on lt.Id=t.LoadTypeId  
 left join ApiSessions as cs on cs.Id=t.CSID  
 left join dbo.ApiUsers as csu on csu.Id=cs.UserId  
 left join ApiSessions as ms on ms.Id=t.MSID  
 left join dbo.ApiUsers as msu on msu.Id=ms.UserId  
 WHERE t.CNDate between @parameter4 and @parameter5  
 and (case when @parameter6=0 then 1 when vm.Ref1Id=@parameter6 then 1 else 0 end)=1  
  and (case when @parameter7=0 then 1 when t.BillingPartyId=@parameter7 then 1 else 0 end)=1  
 order by t.CNDate   
END  
GO
