/****** Object:  StoredProcedure [dbo].[Proc_Report_1347]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1347]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1347]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1347] 20018,'','','2010-01-01','2017-10-10'
--	select * from dbo.mObjectCategory
--	Select * from apiviews where id=1307
--	Select * from dbo.mConstantValue where constanttypeid=87
--	select * from dbo.tBatteryLog where VoucherTypeId=33

CREATE PROC [dbo].[Proc_Report_1347]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)--AccountIds
as
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	set nocount on;
	
	select
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,	
	OfficeName = ofc.OfficeName,
	RegistrationDate='',
    DriverCode= dvr.DriverCode,
    DriverName= dvr.DriverName,
	DriverPhone=dvr.DriverContactNo1,
    LicenceNo = dvr.LicenceNo,
    IssueDate = dvr.LicenceDate,
    IssueAuthority = ia.CityName,
    ExpiryDate = dvr.ExpiryDate,
	CurrentAddress=ca.FullAddress,
	PresentAddress=pa.FullAddress,
	ReferenceName=dvr.ReferenceName,
	DOB	=dvr.DateOfBirth,
	Age	=dvr.Age,
	MaritalStatus=dvr.MaritalStatus,
	Experience	=dvr.ExpDetails,
	BloodGroup=bg.Name,

	[CurrentStatus] = st.ConstantName,
    StatusDate = convert(nvarchar(10),t.StatusDate,103)

	From dbo.mDriverMaster as dvr
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as CCO on CCO.ObjectId=dvr.Id
	left join dbo.tDriverVehicleMapping as t on dvr.Id=t.DriverId and isnull(t.NextLogId,0)=0 
	left join dbo.mConstantValue as st on st.Id=t.DriverStatusId 
	left join dbo.mCityMaster as ia on ia.Id=dvr.IssuingPlaceId
	left join dbo.mOfficeMaster as ofc on ofc.Id=dvr.OfficeID
	left join dbo.mPostalAddress as ca on ca.Id=dvr.CurrentAddressId
	left join dbo.mPostalAddress as pa on pa.Id=dvr.PermnAddress
	left join dbo.mGenericMaster as bg on bg.ID=dvr.BloodGroupId
	order by dvr.ExpiryDate 
END
GO
