/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatUniversalMM]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatUniversalMM]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatUniversalMM]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1538_BillFormatUniversalMM]
	@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	SELECT
        [Id] = mml.Id
		,CNId=cn.Id
        ,CNNo=cn.CNNo
        ,CNDate=cn.CNDate
		,FromPlace=fp.CityName
		,ToPlace=tp.CityName
		,BillId=cn.BillId
		,PodNo=ci.ReferenceNo
		,PodDate=ci.PodDate
		,PodReachDate=ci.ReachDate
		,PodUnloadDate=ci.UnloadDate
		,vm.VehicleNo
		,vm.VehicleRegNo
		,ChargeRouteName=rt.[Name]
		,ChargeRouteCode=rt.[Abbr]
        ,InvoiceNo=mml.InvoiceNo
        ,InvoiceDate=mml.InvoiceDate
        ,InvoiceValue=mml.InvoiceValue
        ,MaterialName=mm.[Name]
        ,MaterialCode=mm.[Code]
        ,MaterialGName=mmg.[Name]
        ,MaterialGCode=mmg.[Code]
        ,ActualQty=isnull(mml.ActualQty,0)
        ,ActualWt=isnull(mml.ActualWeight,0)
        ,ChargeQty=isnull(mml.ChargeQty,0)
        ,ChargeWt=isnull(mml.ChargeWeight,0)
        ,ActualQtyUnit=ucq.UnitName
        ,ActualWtUnit=ucw.UnitName
        ,ChargeQtyUnit=uaq.UnitName
        ,ChargeWtUnit=uaw.UnitName
		,Ref1=mml.Ref1
        ,Ref2=mml.Ref2
        ,Ref3=mml.Ref3
        ,Ref4=mml.Ref4
		,RefNo=''
        ,LengthMM=isnull(mml.[Length],0)
        ,HeightMM=isnull(mml.Height,0)
        ,BreadthMM=isnull(mml.Breadth,0)
        ,Rate=isnull(mml.Rate,0)
        ,Freight=isnull(mml.Freight,0)
        ,AddI=isnull(mml.AddI,0)
        ,AddII=isnull(mml.AddII,0)
        ,AddIII=isnull(mml.AddIII,0)
        ,AddIV=isnull(mml.AddIV,0)
        ,AddV=isnull(mml.AddV,0)
        ,AddVI=isnull(mml.AddVI,0)
        ,AddVII=isnull(mml.AddVII,0)
        ,AddVIII=isnull(mml.AddVIII,0)
        ,LessI=isnull(mml.LessI,0)
        ,LessII=isnull(mml.LessII,0)
        ,LessIII=isnull(mml.LessIII,0)
        ,LessIV=isnull(mml.LessIV,0)
        ,LessV=isnull(mml.LessV,0)
        ,LessVI=isnull(mml.LessVI,0)
        ,LessVII=isnull(mml.LessVII,0)
        ,LessVIII=isnull(mml.LessVIII,0)
        ,NetFreight=isnull(mml.NetFreight,0)
        ,EWayBillMM=mml.EWayBillMM
        ,Remarks=mml.Remark
		from [dbo].[tCNBillMaster] b
		join dbo.tCNBillLog as bl on bl.BillId=b.Id
		join [dbo].[tCNMaster] cn ON cn.Id=bl.CNId
		join dbo.tCNmultimaterial as mml on mml.CnId=cn.Id
		left join dbo.mVehicleMaster as vm on vm.Id=cn.VehicleId
		left join dbo.mRouteMaster as rt on rt.Id=cn.ChgRouteId
		left join dbo.mCityMaster fp on fp.ID=rt.FromPlaceId
		left join dbo.mCityMaster tp on tp.ID=rt.ToPlaceId
		left join dbo.mCNExtraInfo as ci on ci.CNID=cn.Id
		left join dbo.mMaterialMaster as mm on mm.Id=mml.MaterialId
		left join dbo.mMaterialGroup as mmg on mmg.Id=mm.MaterialGroupId
		left join dbo.mUnitMaster as ucq on ucq.Id=mml.ChargeQtyUnitId
		left join dbo.mUnitMaster as ucw on ucw.Id=mml.ChargeWeightUnitId
		left join dbo.mUnitMaster as uaq on uaq.Id=mml.ActualQtyUnitId
		left join dbo.mUnitMaster as uaw on uaw.Id=mml.ActualWeightUnitId
		where b.Id in(select item from dbo.SplitCommaString(@parameter1))
end
GO
