/****** Object:  StoredProcedure [dbo].[Proc_Report_1098]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1098]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1098]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1098]
	@parameter1 bigint--Categoryid
AS

        --public virtual ResultSet Get1098Data()
        --{
        --    var resultSet = new ResultSet
        --    {
        --        ParameterInfo =
        --            $"Parameter Info : Category : {Parameters.CategoryName}{(Parameters.SelectedClasses != null ? " ,Classes : " + Parameters.SelectedClasses.JoinStrings(",") : "")},Date Range: From - {Parameters.FromDate.GetValueOrDefault().Date.ToString("dd-MM-yy")} and To - {Parameters.ToDate.GetValueOrDefault().Date.ToString("dd-MM-yy")}"
        --    };
        --    var objectType = string.Empty;
        --    switch (Parameters.CategoryRoleTypeId)
        --    {
        --        case 1146: //Account Group
        --            if (Parameters.CategoryRoleId == 9) objectType = "debit";
        --            break;
        --        case 1145: //AccountRole
        --            if (Parameters.CategoryRoleId == 1130) objectType = "vehicle"; //Vehicle
        --            if (Parameters.CategoryRoleId == 1010) objectType = "debit"; //Vehicle Owner
        --            if (Parameters.CategoryRoleId == 1029) objectType = "credit"; //Store
        --            if (Parameters.CategoryRoleId == 1031) objectType = "credit"; //Tyre Supplier
        --            if (Parameters.CategoryRoleId == 1030) objectType = "credit"; //Material Supplier
        --            if (Parameters.CategoryRoleId == 1033) objectType = "debit"; //ScrapParty
        --            if (Parameters.CategoryRoleId == 1056) objectType = "debit"; //Tyre Expense
        --            if (Parameters.CategoryRoleId == 1057) objectType = "debit"; //Buyer
        --            if (Parameters.CategoryRoleId == 1085) objectType = "driver"; //Driver
        --            if (Parameters.CategoryRoleId == 1091) objectType = "suppervisor"; //Tyre Supervisor
        --            break;
        --        case 1292: //Office
        --            objectType = "office";
        --            break;
        --    }
        --    var query = GApi.Instance.Connection.GetTyreLogsData(Parameters.ClassIds.JoinStrings(","),
        --        Parameters.ObjectIds.JoinStrings(","), Parameters.CategoryId.GetValueOrDefault(0), objectType);
        --    if (Parameters.FromDate.HasValue)
        --        query = (DataServiceQuery<TyreLog>)query.Where(x => x.VoucherDate >= Parameters.FromDate);
        --    if (Parameters.ToDate.HasValue)
        --        query = (DataServiceQuery<TyreLog>)query.Where(x => x.VoucherDate <= Parameters.ToDate);
        --    var data = query.Select(x => new
        --    {
        --        VoucherDate = x.VoucherDate,
        --        x.TyreNo,
        --        x.Fk_Vehicle.VehicleNo,
        --        x.VoucherNo,
        --        Store = x.Fk_CreditAccount.AccountName,
        --        TransactionType = x.Fk_VoucherType.VoucherTypeName,
        --        x.Rate,
        --        x.DiscountAmount,
        --        x.VatAmount,
        --        x.SubTotal,
        --        x.OtherAmount,
        --        x.NetAmount
        --    });
        --    resultSet.DataSource = data;
        --    return resultSet;
        --}
GO
