/****** Object:  StoredProcedure [dbo].[Proc_GLB_CreateTripSales]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_GLB_CreateTripSales]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GLB_CreateTripSales]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_GLB_CreateTripSales]
(
	@parameter1 bigint--TripLogId
)
AS 
BEGIN
	BEGIN TRY
		IF(EXISTS(SELECT 1 FROM tCNMaster WHERE TripLogId=@parameter1))
		BEGIN 
			RETURN;
		END
--Create CN
		INSERT INTO tCNMaster(CNNo,
		CNTypeId,
		CNDate,
		VehicleId,
		VehicleTypeId,
		ActRouteId,
		ChgRouteId,
		IsZeroFreightCN,
		BillingOfficeId,
		LoadingOfficeId,
		DestinationOfficeId,
		ETA,
		BillingPartyId,
		ConsigneeId,
		ConsignorId,
		KM,
		ActualWeight,
		ChargedWeight,
		ActualQty,
		ChargedQty,
		TotalPackage,
		TransportModeId,
		LoadTypeId,
		ContractId,
		RateId,
		TaxServiceTypeId,
		Rate,
		CNBasicAmount,
		DiscPercent,
		Discount,
		CNSubTotalI,
		LDetentionRate,
		LDetentionDays,
		ULDetentionRate,
		ULDetentionDays,
		LDPenaltyRate,
		LDPenaltyDays,
		AChargeI,
		AChargeII,
		AChargeIII,
		AChargeIV,
		AChargeV,
		AChargeVI,
		AChargeVII,
		AChargeVIII,
		AChargeIX,
		AChargeX,
		LChargeI,
		LChargeII,
		LChargeIII,
		LChargeIV,
		CNSubTotalII,
		IServiceTax,
		CNTotalFreight,
		OServiceTax,
		ODeliveryST,
		TripLogId,
		TLLoadQty,
		ValueofGoods,
		IsBilled,
		ViewId,
		CSID,
		CDOE,
		CnAdvance,
		IGSTRate,
		IGSTAmount,
		CGSTRate,
		CGSTAmount,
		SGSTRate,
		SGSTAmount,
		IsTaxApplicable,
		IsFreightCalMM,
		PreviousTotalFreight,
		RefI
		)
		SELECT 
		CNNo=vml.TripLogNo,
		CNTypeId=1367,
		CNDate=CAST(ISNULL(vml.LoadingDate,vml.TripStartDate) as date),
		VehicleId=vml.VehicleId,
		VehicleTypeId=vm.VehicleTypeId,
		ActRouteId=vml.RouteId,
		ChgRouteId=vml.RouteId,
		IsZeroFreightCN=0,
		BillingOfficeId=vml.OfficeId,
		LoadingOfficeId=vml.OfficeId,
		DestinationOfficeId=vml.ReportingOfficeId,
		ETA=vml.ExpTime,
		BillingPartyId=vml.PartyId,
		ConsigneeId=ISNULL(vml.ConsigneeId,vml.PartyId),
		ConsignorId=vml.PartyId,
		KM=vml.TotalKmRun,
		ActualWeight=1,
		ChargedWeight=1,
		ActualQty=1,
		ChargedQty=1,
		TotalPackage=1,
		TransportModeId=1465,
		LoadTypeId=sc.LoadTypeId,
		ContractId=clt.ContractId,
		RateId=NULL,
		TaxServiceTypeId=(CASE WHEN clt.GSTNatureId=1626/*GST registered- Regular*/ THEN clt.ServiceTypeId ELSE NULL END),
		Rate=0,
		CNBasicAmount=0,
		DiscPercent=0,
		Discount=0,
		CNSubTotalI=0,
		LDetentionRate=0,
		LDetentionDays=0,
		ULDetentionRate=0,
		ULDetentionDays=0,
		LDPenaltyRate=0,
		LDPenaltyDays=0,
		AChargeI=0,
		AChargeII=0,
		AChargeIII=0,
		AChargeIV=0,
		AChargeV=0,
		AChargeVI=0,
		AChargeVII=0,
		AChargeVIII=0,
		AChargeIX=0,
		AChargeX=0,
		LChargeI=0,
		LChargeII=0,
		LChargeIII=0,
		LChargeIV=0,
		CNSubTotalII=0,
		IServiceTax=0,
		CNTotalFreight=0,
		OServiceTax=0,
		ODeliveryST=0,
		TripLogId=vml.Id,
		TLLoadQty=1,
		ValueofGoods=0,
		IsBilled=0,
		ViewId=1576,
		CSID=0,
		CDOE=GETDATE(),
		CnAdvance=0,
		IGSTRate=0,
		IGSTAmount=0,
		CGSTRate=0,
		CGSTAmount=0,
		SGSTRate=0,
		SGSTAmount=0,
		IsTaxApplicable=(CASE WHEN clt.GSTNatureId=1626/*GST registered- Regular*/ AND ISNULL(clt.ServiceTypeId,0)>0 THEN 1 ELSE 0 END),
		IsFreightCalMM=0,
		PreviousTotalFreight=0,
		PartyRefNo=vml.PartyRefNo
		from tVehicleMovementLog as vml 
		left join dbo.tTripScheduleConfig sc on vml.ScheduleConfigurationId=sc.id
		left join dbo.mLedger clt on vml.PartyId=clt.Id
		left join dbo.mVehicleMaster as vm on vm.Id=vml.VehicleId
		where vml.TripTypeId=1158 AND vml.Id=@parameter1 AND vml.LoadingDate IS NOT NULL
		
		DECLARE  @CNId bigint=SCOPE_IDENTITY()

		DECLARE @ContractId bigint=ISNULL((SELECT ContractId FROM tCNMaster WHERE  Id=@CNId),0),@CNIds nvarchar(max)=CAST(@CNId as nvarchar(max))
		EXEC [dbo].[Proc_Report_1670] @parameter5=@ContractId,@parameter8=@CNIds

		
		--Create CNStockLog 1422
		INSERT INTO tCNStockLog(LogDate,
		CNId,
		OfficeId,
		InQty,
		ShortageQty,
		ExessQty,
		OutQty,
		LogTypeId,
		ChallanCNId,
		TriplogId,
		RefStockId,
		CSID,
		CDOE)
		SELECT LogDate=cn.CNDate,
		CNId=cn.Id,
		OfficeId=cn.LoadingOfficeId,
		InQty=cn.ActualQty,
		ShortageQty=0,
		ExessQty=0,
		OutQty=0,
		LogTypeId=1422,
		ChallanCNId=NULL,
		TriplogId=NULL,
		RefStockId=NULL,
		CSID=0,
		CDOE=GETDATE()
		FROM tCNMaster as cn WHERE cn.Id=@CNId
		DECLARE  @StockLogId bigint=SCOPE_IDENTITY()
		--Create tSalesLog
		INSERT INTO tSalesLog(CNId,
		TripLogId,
		ChallanCNId,
		DocDate,
		DocNo,
		RouteId,
		RateId,
		BillingPartyId,
		BillingOfficeId,
		SalesOfficeId,
		ChargeWeight,
		ChargeQty,
		ActualQty,
		ActualWeight,
		Rate,
		BasicFreight,
		DiscPercent,
		Discount,
		SubTotal,
		AChargeI,
		AChargeII,
		AChargeIII,
		AChargeIV,
		AChargeV,
		AChargeVI,
		AChargeVII,
		AChargeVIII,
		AChargeIX,
		AChargeX,
		LChargeI,
		LChargeII,
		LChargeIII,
		LChargeIV,
		LChargeV,
		LChargeVI,
		LChargeVII,
		LChargeVIII,
		LChargeIX,
		LChargeX,
		LDetentionRate,
		LDetentionDays,
		ULDetentionRate,
		ULDetentionDays,
		LDPenaltyRate,
		LDPenaltyDays,
		GrossFreight,
		IGSTAmount,
		IGSTRate,
		CGSTAmount,
		CGSTRate,
		SGSTAmount,
		SGSTRate,
		NetFreight,
		IGSTACId,
		CGSTACId,
		SGSTACId,
		GSTPaidById,
		GSTServiceTypeId,
		CSID,
		CDOE,
		IsTaxApplicable,
		SalesAccountId,
		UnbilledSalesAcId,
		VDRId,
		SalesVoucherId,
		RateChartId
		)
		SELECT 
		CNId=cn.Id,
		TripLogId=cn.TripLogId,
		ChallanCNId=NULL,
		DocDate=cn.CNDate,
		DocNo=cn.CNNo,
		RouteId=cn.ActRouteId,
		RateId=cn.RateId,
		BillingPartyId=cn.BillingPartyId,
		BillingOfficeId=cn.BillingOfficeId,
		SalesOfficeId=cn.LoadingOfficeId,
		ChargeWeight=cn.ChargedWeight,
		ChargeQty=cn.ChargedQty,
		ActualQty=cn.ActualQty,
		ActualWeight=cn.ActualWeight,
		Rate=cn.Rate,
		BasicFreight=cn.CNBasicAmount,
		DiscPercent=cn.DiscPercent,
		Discount=cn.Discount,
		SubTotal=cn.CNSubTotalI,
		AChargeI=cn.AChargeI,
		AChargeII=cn.AChargeII,
		AChargeIII=cn.AChargeIII,
		AChargeIV=cn.AChargeIV,
		AChargeV=cn.AChargeV,
		AChargeVI=cn.AChargeVI,
		AChargeVII=cn.AChargeVII,
		AChargeVIII=cn.AChargeVIII,
		AChargeIX=cn.AChargeIX,
		AChargeX=cn.AChargeX,
		LChargeI=cn.LChargeI,
		LChargeII=cn.LChargeII,
		LChargeIII=cn.LChargeIII,
		LChargeIV=cn.LChargeIV,
		LChargeV=0,
		LChargeVI=0,
		LChargeVII=0,
		LChargeVIII=0,
		LChargeIX=0,
		LChargeX=0,
		LDetentionRate=cn.LDetentionRate,
		LDetentionDays=cn.LDetentionDays,
		ULDetentionRate=cn.ULDetentionRate,
		ULDetentionDays=cn.ULDetentionDays,
		LDPenaltyRate=cn.LDPenaltyRate,
		LDPenaltyDays=cn.LDPenaltyDays,
		GrossFreight=cn.CNSubTotalII,
		IGSTAmount=cn.IGSTAmount,
		IGSTRate=cn.IGSTRate,
		CGSTAmount=cn.CGSTAmount,
		CGSTRate=cn.CGSTRate,
		SGSTAmount=cn.SGSTAmount,
		SGSTRate=cn.SGSTRate,
		NetFreight=cn.CNTotalFreight,
		IGSTACId=NULL,
		CGSTACId=NULL,
		SGSTACId=NULL,
		GSTPaidById=NULL,
		GSTServiceTypeId=cn.TaxServiceTypeId,
		CSID=0,
		CDOE=GETDATE(),
		IsTaxApplicable=cn.IsTaxApplicable,
		SalesAccountId=NULL,
		UnbilledSalesAcId=cn.BillingPartyId,
		VDRId=NULL,
		SalesVoucherId=NULL,
		RateChartId=cn.ContractId
		FROM tCNMaster as cn where  cn.Id=@CNId
		--Create tCNChallan 1472/*Direct Delivery*/
		INSERT INTO tCNChallan(ShipmentDate,
		LogTypeId,
		IsDeliveryFailed,
		CNId,
		RouteId,
		OfficeId,
		TriplogId,
		Qty,
		ArrivalQty,
		Excess,
		Short,
		MarketFreight,
		Revenue,
		ActualWeight,
		RefStockId,
		ViewId,
		DeliveryTypeId,
		CSID,
		CDOE)
		SELECT ShipmentDate=vml.LoadingDate,
		LogTypeId=1451,
		IsDeliveryFailed=0,
		CNId=cn.Id,
		RouteId=cn.ActRouteId,
		OfficeId=cn.LoadingOfficeId,
		TriplogId=cn.TripLogId,
		Qty=cn.ActualQty,
		ArrivalQty=0,
		Excess=0,
		Short=0,
		MarketFreight=0,
		Revenue=cn.CnTotalFreight,
		ActualWeight=cn.ActualWeight,
		RefStockId=@StockLogId,
		ViewId=1576,
		DeliveryTypeId=1472,
		CSID=0,
		CDOE=GETDATE()
		FROM tCNMaster cn LEFT JOIN tVehicleMovementLog vml on cn.TripLogId=vml.Id 
		WHERE cn.Id=@CNId
		DECLARE  @CNChallanId bigint=SCOPE_IDENTITY()
		--Create CNStockLog 1451 Stock Out

		INSERT INTO tCNStockLog(LogDate,
		CNId,
		OfficeId,
		InQty,
		ShortageQty,
		ExessQty,
		OutQty,
		LogTypeId,
		ChallanCNId,
		TriplogId,
		RefStockId,
		CSID,
		CDOE)
		SELECT
		LogDate=cn.CNDate,
		CNId=cn.Id,
		OfficeId=cn.LoadingOfficeId,
		InQty=0,
		ShortageQty=0,
		ExessQty=0,
		OutQty=cn.ActualQty,
		LogTypeId=1451,
		ChallanCNId=@CNChallanId,
		TriplogId=cn.TripLogId,
		RefStockId=@StockLogId,
		CSID=0,
		CDOE=GETDATE()
		FROM tCNMaster cn WHERE cn.Id=@CNId
		
		END TRY
		BEGIN CATCH
			PRINT 
				'Error ' + CONVERT(varchar(50), ERROR_NUMBER()) +
  				', Severity ' + CONVERT(varchar(5), ERROR_SEVERITY()) +
  				', State ' + CONVERT(varchar(5), ERROR_STATE()) +
  				', Line ' + CONVERT(varchar(5), ERROR_LINE())
  
			PRINT ERROR_MESSAGE();
  
  			IF XACT_STATE() <> 0 
			BEGIN
				RETURN
  			END
		END CATCH;
END
GO
