/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1521_FuelRateUpload]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1521_FuelRateUpload]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1521_FuelRateUpload]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1372new] 0,0,0

CREATE PROC  [dbo].[Proc_TRANS_1521_FuelRateUpload] 
	--	Fuel Rate Upload
	@parameter1 xml
As
BEGIN
	DECLARE @xml AS XML
	DECLARE @hdoc AS INT,@BatchId nvarchar(150), @SessionId bigint,@MinDate DateTime
	DECLARE @PrepareXmlStatus INT 
	SET @xml = @parameter1

	EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml --Preparing XML handle
	
	create table #FuelLog(FuelPumpId bigint,FuelId bigint,FuelDate date,FuelRate decimal(18,2),BatchId nvarchar(150), SessionId bigint)

	insert into #FuelLog(FuelPumpId,FuelId,FuelDate,FuelRate,BatchId, SessionId)
	select FuelPumpId,FuelId,[Date],Rate,BatchId, SessionId
	FROM OPENXML(@hdoc, '/ArrayOfDU_FuelRate/DU_FuelRate',2)
	WITH (
	FuelPumpId bigint,
	FuelId bigint,
	[Date] date,
	Rate decimal(18,2),
	BatchId nvarchar(150),
	SessionId bigint
	) as temp
	set @BatchId=isnull((select top 1 BatchId from #FuelLog),'')
	set @SessionId=isnull((select top 1 SessionId from #FuelLog),'')
	set @MinDate=(select Min([FuelDate]) from #FuelLog)
	
	update L set L.FuelRate=temp.FuelRate , L.BatchId=temp.BatchId, L.MSID=@SessionId, L.MDOE=GETDATE() 
	FROM #FuelLog as temp
	join dbo.mFuelRateLog L on CONVERT(nvarchar(10),temp.FuelDate,103)=CONVERT(nvarchar(10),L.FromDate,103) and temp.FuelPumpId=L.PumpId and temp.FuelId=L.FuelId
	where temp.FuelRate<>L.FuelRate

	insert into dbo.mFuelRateLog(PumpId,FuelId,FromDate,FuelRate,BatchId, CSID, CDOE)
	select temp.FuelPumpId,temp.FuelId,temp.FuelDate,temp.FuelRate,temp.BatchId, temp.SessionId, GETDATE()
	FROM #FuelLog as temp
	left join dbo.mFuelRateLog L on CONVERT(nvarchar(10),temp.FuelDate,103)=CONVERT(nvarchar(10),L.FromDate,103) and temp.FuelPumpId=L.PumpId and temp.FuelId=L.FuelId
	where isnull(L.Id,0)=0

	UPDATE L SET ToDate=L2.FromDate FROM dbo.mFuelRateLog L JOIN 
	(SELECT FromDate,ROW_NUMBER() OVER(PARTITION BY(PumpId) ORDER BY(FromDate)) AS RowNum,PumpId,Id FROM dbo.mFuelRateLog WHERE BatchId=@BatchId) AS L1
	ON L.Id=L1.Id LEFT JOIN
	(SELECT FromDate,ROW_NUMBER() OVER(PARTITION BY(PumpId) ORDER BY(FromDate)) AS RowNum,PumpId FROM dbo.mFuelRateLog WHERE FromDate>=@MinDate) AS L2 ON L1.PumpId=L2.PumpId AND L1.RowNum+1=L2.RowNum
	
	/*Advance Rate Update Section Start*/
	update t
	set t.FuelAmount = (L.FuelRate*t.FuelQty),t.BatchId=@BatchId, t.MSID=@SessionId, t.MDOE=GETDATE(),t.FuelRate=L.FuelRate 
	from dbo.tTripAdvanceLog as t join dbo.mFuelRateLog L on t.AdvanceDate>=L.FromDate AND t.AdvanceDate<ISNULL(L.ToDate,GETDATE()) AND t.CreditAccountId=L.PumpId
	where L.BatchId=@BatchId
	update vd
	set vd.VDAmount=case when vd.OrderId=2 then t.FuelAmount*-1 else t.FuelAmount end,vd.BatchId=@BatchId, vd.MSID=@SessionId, vd.MDOE=GETDATE() 
	from dbo.tVouchers as v
	join dbo.tVoucherVD as vd on vd.VoucherId=v.Id
	join 
	(
		select t.VoucherId,sum(t.FuelAmount) as FuelAmount from dbo.tTripAdvanceLog as t where t.BatchID=@BatchId group by t.VoucherId 
	)as t on t.VoucherId=v.Id
	
	update v
	set v.Amount2=t.Amount2,v.Amount1=t.Amount1, v.MSID=@SessionId, v.MDOE=GETDATE(),BatchId=@BatchId,VchAmount=ABS(t.Amount2)
	from dbo.tVouchers as v	
	join 
	(
		select t.VoucherId,Amount2=sum(case when t.OrderId=2 then t.VDAmount else 0 end),Amount1=sum(case when t.OrderId=1 then t.VDAmount else 0 end) from dbo.tVoucherVD as t where t.BatchID=@BatchId group by t.VoucherId 
	)as t on t.VoucherId=v.Id
	--where v.BatchId=@BatchId


	update vdr
	set vdr.VDRAmount=case when vd.OrderId=2 then t.FuelAmount*-1 else t.FuelAmount end,vdr.BatchId=@BatchId, vdr.MSID=@SessionId, vdr.MDOE=GETDATE() 
	from dbo.tVoucherVDR as vdr
	join dbo.tVoucherVD as vd on vd.Id=vdr.VDId
	join dbo.tVouchers as v on v.ID=vd.VoucherId
	join dbo.tTripAdvanceLog as t on t.VoucherId=v.Id and vdr.ReferenceNo=t.ReferenceNo and vdr.VDRTypeID=1013--new ref 
	where t.BatchId=@BatchId
	/*Advance Rate Update Section END*/

	/* Trip Expense Update Start */
	update e
	set e.FuelRate=t.FuelRate, e.ClaimAmount=(e.BudgetedQty * t.FuelRate), 
	e.SettledAmount=(e.FuelQty * t.FuelRate), e.ShortFuelAmt=(e.ShortFuelQty* t.FuelRate), e.BatchId=@BatchId, e.MSID=@SessionId, e.MDOE=GETDATE()
	from [dbo].[tTripAdvanceLog] t join [dbo].[tTripExpenseLog] e on t.Id=e.TripAdvanceLogId where t.BatchId=@BatchId 

	update tl
	set tl.BdgtFuelQty=isnull(ad.Bdgtqty,0), tl.BdgtFuelExpense=isnull(ad.ClaimAmount,0), tl.ShortFuelAmt=isnull(ad.ShortgeAmt,0), tl.ShortFuelQty=isnull(ad.Shortgeqty,0), tl.MSID=@SessionId, tl.MDOE=GETDATE()
	from [dbo].[tVehicleMovementLog] tl Join 
	(select TripLogId, ClaimAmount=Sum(ClaimAmount), Bdgtqty=sum(BudgetedQty), ShortgeAmt=sum(ShortFuelAmt), Shortgeqty=sum(ShortFuelQty) from [dbo].[tTripExpenseLog] where BatchId=@BatchId Group By TripLogId) as ad ON tl.Id=ad.TripLogId

	--update sm 
	--Set sm.FuelExpense=isnull(te.FuelExpense,0), sm.ActualQty=isnull(ta.ActualQty,0), sm.TripExpense=isnull(te.TripExpense,0), sm.TripAdvance=isnull(ta.TripAdvance,0), sm.Shortage=isnull(te.Shortage,0), sm.ShortageQty=isnull(te.ShortageQty,0)
	--from [dbo].[tTripSettlement] sm LEFT JOIN
	--(Select SettlementId, FuelExpense=sum(CASE WHEN FuelQty>0 THEN SettledAmount ELSE 0 END), TripExpense=sum(CASE WHEN FuelQty=0 THEN SettledAmount ELSE 0 END), ActualQty=sum(FuelQty), Shortage=sum(ShortFuelAmt), ShortageQty=sum(ShortFuelQty) from [dbo].[tTripExpenseLog] where SettlementId>0 Group by SettlementId) as te ON sm.Id=te.SettlementId
	--LEFT JOIN
	--(SELECT SettlementId ,TripAdvance=sum(FuelAmount+CashAmount) ,ActualQty=sum(FuelQty) from [dbo].[tTripAdvanceLog] Group by SettlementId) ta ON sm.Id=ta.SettlementId 
	/* Trip Expense Update End */
	update sm 
	Set sm.FuelExpense=isnull(te.FuelExpense,0), sm.ActualQty=isnull(ta.ActualQty,0), sm.TripExpense=isnull(te.TripExpense,0), sm.TripAdvance=isnull(ta.TripAdvance,0), sm.Shortage=isnull(te.Shortage,0), sm.ShortageQty=isnull(te.ShortageQty,0),sm.SettledAmount=(isnull(ta.TripAdvance,0)+isnull(te.Shortage,0))-(isnull(te.FuelExpense,0)+isnull(te.TripExpense,0)), sm.BatchId=@BatchId, sm.MSID=@SessionId, sm.MDOE=GETDATE()
	FROM
	(SELECT DISTINCT SettlementId FROM (Select SettlementId
	FROM [dbo].[tTripAdvanceLog] WHERE BatchId=@BatchId AND SettlementId>0
	UNION ALL
	Select SettlementId
	FROM [dbo].[tTripExpenseLog] WHERE BatchId=@BatchId AND SettlementId>0) AS T) AS Base JOIN 
	[dbo].[tTripSettlement] sm ON Base.SettlementId=sm.Id LEFT JOIN
	(Select SettlementId, FuelExpense=sum(CASE WHEN FuelQty>0 THEN SettledAmount ELSE 0 END), TripExpense=sum(CASE WHEN FuelQty=0 THEN SettledAmount ELSE 0 END), ActualQty=sum(FuelQty), Shortage=sum(ShortFuelAmt), ShortageQty=sum(ShortFuelQty) from [dbo].[tTripExpenseLog] where SettlementId>0 Group by SettlementId) as te ON sm.Id=te.SettlementId
	LEFT JOIN
	(SELECT SettlementId ,TripAdvance=sum(FuelAmount+CashAmount) ,ActualQty=sum(FuelQty) from [dbo].[tTripAdvanceLog] Group by SettlementId) ta ON sm.Id=ta.SettlementId 

END
GO
