/****** Object:  StoredProcedure [dbo].[Proc_DeleteOutStockLog]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_DeleteOutStockLog]
GO
/****** Object:  StoredProcedure [dbo].[Proc_DeleteOutStockLog]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_DeleteOutStockLog]
@ChallanCnId bigint
AS
BEGIN

DECLARE @count int=0;
Select @count=Count(*) From tCNStockLog Where RefStockId in(Select Id tCNStockMMLog WHERE ChallanCNId=@ChallanCnId) and ChallanCNId<>@ChallanCnId
IF(@count>0)
BEGIN
RAISERROR('The Consignment is attached in next trip so cannot delete this record',11,0)
return
END
UPDATE tCNDTSStatusLog SET NextLogId=NULL,StockLogId=NULL WHERE ISNULL(NextLogId,0)>0 AND NextLogId in(SELECT ISNULL(Id,0) from tCNDTSStatusLog WHERE StockLogId in(SELECT ISNULL(Id,0) from tCNStockLog WHERE ChallanCNId=@ChallanCnId))-- and LogTypeId in(1423,1451))
UPDATE tCNStockMMLog SET NextLogId=NULL WHERE ISNULL(NextLogId,0)>0 AND NextLogId in(SELECT ISNULL(Id,0) from tCNStockMMLog WHERE ChallanCNId=@ChallanCnId)-- and LogTypeId in(1423,1451))
UPDATE tCNStockLog SET NextLogId=NULL WHERE ISNULL(NextLogId,0)>0 AND NextLogId in(SELECT ISNULL(Id,0) from tCNStockLog WHERE ChallanCNId=@ChallanCnId)-- and LogTypeId in(1423,1451))

--UPDATE tCNStockMMLog SET NextLogId=NULL WHERE ISNULL(NextLogId,0)>0 AND NextLogId in(SELECT ISNULL(Id,0) from tCNStockMMLog WHERE ChallanCNId=@ChallanCnId)-- and LogTypeId=1424)
--UPDATE tCNStockLog SET NextLogId=NULL WHERE ISNULL(NextLogId,0)>0 AND NextLogId in(SELECT ISNULL(Id,0) from tCNStockLog WHERE ChallanCNId=@ChallanCnId)-- and LogTypeId=1424)
DELETE tCNDTSStatusLog WHERE StockLogId in(SELECT ISNULL(Id,0) from tCNStockLog WHERE ChallanCNId=@ChallanCnId)
DELETE tCNStockMMLog WHERE ChallanCNId=@ChallanCnId --and LogTypeId=1424
DELETE tCNStockLog WHERE ChallanCNId=@ChallanCnId --and LogTypeId=1424;
--DELETE tCNStockMMLog WHERE ChallanCNId=@ChallanCnId and LogTypeId in(1423,1451)
--DELETE tCNStockLog WHERE ChallanCNId=@ChallanCnId and LogTypeId in(1423,1451)

END

GO
