/****** Object:  StoredProcedure [dbo].[Proc_Report_1654]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1654]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1654]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1654] 
@parameter1 bigint,--ControllingOffice
@parameter2 bigint--StateId
As
BEGIN
	SELECT 
	c.CityName, 
	c.CityAbbr, 
	StateName=g.Name,
	[Office]=o.OfficeName,
	[IsActive]=(CASE WHEN c.StatusId=0 then 'Y' else 'N' END)
	from mCityMaster c 
	LEFT JOIN mGenericMaster g on c.StateId=g.Id
	LEFT JOIN mOfficeMaster o on c.ControllingOfficeId=o.Id
	where (Isnull(@parameter1,0)=0 OR c.ControllingOfficeId=@parameter1) 
	and 
	(Isnull(@parameter2,0)=0 OR c.StateId=@parameter2)
	order by c.CityName
END

GO
