/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5003_podrcvd]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5003_podrcvd]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5003_podrcvd]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- select * from apiviews where Id>=5000
--	exec Proc_Mob_Report_5003_podrcvd 1,246,1,12,2018,0,'','',1
CREATE proc [dbo].[Proc_Mob_Report_5003_podrcvd]--110241
	@parameter1 tinyint,--SearchTypeId->1, "Trip Based POD",2, "CN/LR Based POD"
	@parameter2 bigint,--VehicleId
	@parameter3 tinyint,--ViewTypeId->1:New,2:Show
	@parameter4 int,--MonthId
    @parameter5 int,--YearId
	@parameter6 bigint,--ClientId
	@parameter7 nvarchar(50),--CNLR
    @parameter8 nvarchar(50),--Triplog
	@parameter9 int

as
	
	create table #sequence(Id int primary key)
	insert into #sequence
	select 1
	insert into #sequence
	select 2
	insert into #sequence
	select 3
	insert into #sequence
	select 4
	insert into #sequence
	select 5
	insert into #sequence
	select 6

	if(@parameter1=1)
	begin
		if(@parameter3=1)--new
		begin	
			select x.* from 
			(
				select
				Id=0,
				DocNo=t.TriplogNo,
				TriplogId=t.Id,
				CustomerName=a.AccountName,
				RouteName=rt.[Name],
				VehicleNo=isnull(vm.VehicleNo,hvm.VehicleNo),
				PODCount=isnull(pod.NoofPods,0),
				LoadingDate=format(t.LoadingDate,'dd-MMM-yyyy HH:mm'),
				UnloadingDate=format(t.UnLoadingDate,'dd-MMM-yyyy HH:mm'),
				ReachDate=cast(t.UnloadingReachDate as date),
				ReachTime=format(t.UnloadingReachDate,'HH:mm:ss'),
				UnloadDate=cast(t.UnLoadingDate as date),
				UnloadTime=format(t.UnLoadingDate,'HH:mm:ss'),
				PODDate=getdate(),
				NoofPODs=case when isnull(t.CNCount,0)=0 then 1 else t.CNCount end,
				t.TripStartDate
				from dbo.tVehicleMovementlog as t 
				join dbo.mLedger as a on a.Id=t.PartyId
				left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
				left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
				left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
				left join
				(
					select pod.TripLogId,NoofPods=count(1) from dbo.mCNExtraInfo as pod group by TripLogId	
				)pod on pod.TripLogId=t.Id
				where t.LoadingDate is not null and t.UnLoadingDate is not null and t.TripNatureId=1075
				and (case when @parameter9=0 and t.VehicleId=@parameter2 then 1 when  @parameter9=1 and t.HireVehicleId=@parameter2 then 1 else 0 end)=1
				and (case when isnull(@parameter6,0)=0 then 1 when @parameter6=t.PartyId then 1 else 0 end)=1
				and (case when isnull(@parameter8,'')='' and (month(t.TripStartDate)=@parameter4 and year(t.TripStartDate)=@parameter5) then 1 when t.TriplogNo=@parameter8 then 1 else 0 end)=1
			)as x,#sequence s
			where s.Id<=x.NoofPODs
			order by x.TripStartDate desc
			
		end
		else if(@parameter3=2)--Show
		begin	
			select
			ci.Id,
			DocNo=t.TriplogNo,
			TriplogId=t.Id,
			CNId=ci.CNId,
			CustomerName=a.AccountName,
			RouteName=rt.[Name],
			VehicleNo=isnull(vm.VehicleNo,hvm.VehicleNo),
			PODCount=1,
			LoadingDate=format(t.LoadingDate,'dd-MMM-yyyy HH:mm'),
			UnloadingDate=format(t.UnLoadingDate,'dd-MMM-yyyy HH:mm'),
			ReachDate=cast(ci.ReachDate as date),
			ReachTime=format(ci.ReachDate,'HH:mm:ss'),
			UnloadDate=cast(ci.UnloadDate as date),
			UnloadTime=format(ci.UnloadDate,'HH:mm:ss'),
			PODDate=ci.PODDate,
			RefNo=ci.ReferenceNo,
			Remarks=ci.Remark,
			ci.ScratchQty,
			ci.ScratchAmount,
			ci.DamageQty,
			ci.DamageAmount,
			ci.ShortageQty,
			ci.ShortageAmount
			from dbo.mCNExtraInfo as ci
			join dbo.tVehicleMovementlog as t on ci.TripLogId=t.Id
			left join dbo.mLedger as a on a.Id=t.PartyId
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
			left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
			where 
			 (case when @parameter9=0 and t.VehicleId=@parameter2 then 1 when  @parameter9=1 and t.HireVehicleId=@parameter2 then 1 else 0 end)=1
			and (case when isnull(@parameter6,0)=0 then 1 when @parameter6=t.PartyId then 1 else 0 end)=1
			and (case when isnull(@parameter8,'')='' and (month(t.TripStartDate)=@parameter4 and year(t.TripStartDate)=@parameter5) then 1 when t.TriplogNo=@parameter8 then 1 else 0 end)=1
			order by t.TripStartDate desc
		end

	end
	else if(@parameter1=2)--CN wise POD
	begin		
		if(@parameter3=1)--new
		begin	
			select
			Id=0,
			DocNo=t.CnNo,
			TriplogId=tl.Id,
			CNId=t.Id,
			CustomerName=a.AccountName,
			RouteName=rt.[Name],
			VehicleNo=isnull(vm.VehicleNo,hvm.VehicleNo),
			PODCount=0,
			LoadingDate=format(tl.LoadingDate,'dd-MMM-yyyy HH:mm'),
			UnloadingDate=format(tl.UnLoadingDate,'dd-MMM-yyyy HH:mm'),
			ReachDate=cast(tl.UnloadingReachDate as date),
			ReachTime=format(tl.UnloadingReachDate,'HH:mm:ss'),
			UnloadTime=format(tl.UnLoadingDate,'HH:mm:ss'),
			UnloadDate=cast(tl.UnloadingDate as date),
			PODDate=getdate(),
			RefNo=t.RefI
			from dbo.tCNMaster as t
			join dbo.tVehicleMovementlog as tl on tl.Id=t.TripLogId
			left join dbo.mLedger as a on a.Id=t.BillingPartyId
			left join dbo.mRouteMaster as rt on rt.Id=t.ChgRouteId
			left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
			left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
			where tl.LoadingDate is not null and tl.UnLoadingDate is not null and tl.TripNatureId=1075
			and (case when @parameter9=0 and tl.VehicleId=@parameter2 then 1 when  @parameter9=1 and tl.HireVehicleId=@parameter2 then 1 else 0 end)=1
			and (case when isnull(@parameter6,0)=0 then 1 when @parameter6=t.BillingPartyId then 1 else 0 end)=1
			and (case when isnull(@parameter7,'')='' and isnull(@parameter8,'')='' and (month(tl.TripStartDate)=@parameter4 and year(tl.TripStartDate)=@parameter5) then 1 when t.CNNo=@parameter7 or tl.TriplogNo=@parameter8 then 1 else 0 end)=1
			order by tl.TripStartDate desc
		end
		else if(@parameter3=2)--Show
		begin	
			select
			TriplogId=ci.TripLogId,
			DocNo=cn.CnNo,
			CNId=ci.CNId,
			Id=ci.Id,
			CustomerName=a.AccountName,
			RouteName=rt.[Name],
			VehicleNo=isnull(vm.VehicleNo,hvm.VehicleNo),
			PODCount=1,
			LoadingDate=format(t.LoadingDate,'dd-MMM-yyyy HH:mm'),
			UnloadingDate=format(t.UnLoadingDate,'dd-MMM-yyyy HH:mm'),
			ReachDate=cast(ci.ReachDate as date),
			UnloadTime=format(ci.ReachDate,'HH:mm:ss'),
			UnloadDate=cast(ci.UnloadDate as date),
			UnloadTime=format(ci.UnloadDate,'HH:mm:ss'),
			PODDate=ci.PODDate,
			RefNo=ci.ReferenceNo,
			Remarks=ci.Remark,
			ci.ScratchQty,
			ci.ScratchAmount,
			ci.DamageQty,
			ci.DamageAmount,
			ci.ShortageQty,
			ci.ShortageAmount
			from dbo.mCNExtraInfo as ci
			join dbo.tCNMaster as cn on cn.ID=ci.CNId
			join dbo.tVehicleMovementlog as t on ci.TripLogId=t.Id
			left join dbo.mLedger as a on a.Id=t.PartyId
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
			left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
			where (case when @parameter9=0 and t.VehicleId=@parameter2 then 1 when  @parameter9=1 and t.HireVehicleId=@parameter2 then 1 else 0 end)=1
			and (case when isnull(@parameter6,0)=0 then 1 when @parameter6=cn.BillingPartyId then 1 else 0 end)=1
			and (case when isnull(@parameter7,'')='' and isnull(@parameter8,'')='' and (month(t.TripStartDate)=@parameter4 and year(t.TripStartDate)=@parameter5) then 1 when cn.CNNo=@parameter7 or t.TriplogNo=@parameter8 then 1 else 0 end)=1
			order by t.TripStartDate desc
		end
	end
GO
