/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV4]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatV4]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV4]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select top 10 * from dbo.tReportRequestPool order by Id desc
--	EXEC [Proc_Report_1538_BillFormatV4]  '10044'

CREATE proc [dbo].[Proc_Report_1538_BillFormatV4] 
--1538	Bill Format 1
@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		Id=b.Id,    
		[Customer]=l.BookingAcName,
		[CustomerAdress]=cadd.FullAddress,
		[Date]=b.BillDate,
		[BillNo]=b.BillNo,
		[ShipMentNo]='NA',
		[VenderCode]=l.AccountAbbr,
		[LRN]=cn.CNNo,
		[DepositDate]=trp.UnloadingReachDate,
		[UnloadingDate] =trp.UnLoadingDate,
		[TruckNo] =vh.VehicleRegNo,
		[CHno]=cn.CNNo,
		[Model] =VM.ModelName,
		[FromPlace]= fp.CityName,
		[ToPlace]=tp.CityName,
		[Kilometer]=cn.KM,
		[Ratecar]=cn.Rate,
		[Amount]=cn.CNBasicAmount,
		[octroi]=cn.AChargeII,
		[DieselDiff]=cn.AchargeIII,
		[OtherExp]=cn.AChargeIV,
		[TotalAmount]=cn.CNTotalFreight,
		[PanNo]=cne.PanNo,
		[CINNo]='cinno',
		[ServiceTaxNo]='servicetaxno'
		
	from dbo.tCNBillMaster as b
		join dbo.tCNBillLog as bl on bl.BillId=b.Id
		join dbo.mLedger as l on l.Id=b.BillingPartyAcId
		join dbo.tCNMaster as cn on cn.Id=bl.CNId
		left join dbo.tVehicleMovementLog as trp on trp.Id=cn.TripLogId
		left join dbo.mRouteMaster as rt on rt.Id=cn.ChgRouteId
		left join dbo.mCityMaster as fp on fp.ID=rt.FromPlaceId
		left join dbo.mCityMaster as tp on tp.ID=rt.ToPlaceId
		left join dbo.mVehicleMaster as vh on vh.Id=cn.VehicleId
		left join dbo.mVehicleModel as VM on VM.Id=vh.VehicleModelId
		left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
		left join dbo.mPostalAddress as cadd on cadd.Id=l.AddressId
		where b.Id in(Select Item from dbo.SplitCommaString(@parameter1))
	
END
GO
