/****** Object:  StoredProcedure [dbo].[Proc_Report_1411]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1411]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1411]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1411]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--FromDate
	@parameter5 datetime,--ToDate
	@parameter6 int --1:Issue Date ,2: Receipt Date
as
begin
	set @parameter6=case when @parameter6<=0 then 1 else @parameter6 end
	
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		VehicleNo = CCO.ObjectName,
		TyreNo = t.TyreNo,
		TyreLife = t.TyreLife,
		Tyrestpny = t.IsStepney,
		BrandName = bm.BrandName,
		IssueDate=convert(varchar(10),t.VoucherDate,103),
		ReceiptDate=convert(varchar(10),tr.VoucherDate,103),
		LifeTyreCost=isnull(tt.LifeTyreCost,0),
		LifeKmRun=isnull(tt.LifeKmRun,0),
		LifeCPKM = isnull(tt.LifeCPKM,0),
		KmRun = isnull(t.KmRun,0),
		ExpTyreCost = isnull(tt.LifeCPKM,0)*isnull(t.KmRun,0)
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLog as t on CCO.ObjectId=t.VehicleId
	join dbo.mTyreMaster as tm on tm.Id=t.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	join 
	(
		select  tt.TyreId,tt.TyreLife,LifeTyreCost=(sum(isnull(tt.ActaulTyreCost,0))+sum(isnull(tt.TransferPrice,0))-sum(isnull(tt.ScrapCost,0))-sum(isnull(tt.ActualScrapCost,0))),LifeKmRun=sum(isnull(tt.KmRun,0))
		,LifeCPKM=round(case when sum(isnull(tt.KmRun,0))=0 then 0 else (sum(isnull(tt.ActaulTyreCost,0))+sum(isnull(tt.TransferPrice,0))-sum(isnull(tt.ScrapCost,0))-sum(isnull(tt.ActualScrapCost,0)))/sum(isnull(tt.KmRun,0)) end,2)
--		,ReceiptMonth=sum(isnull(tt.ReceiptMonth,0)) 
		from dbo.vwTyreLifeMileage as tt group by tt.TyreId,tt.TyreLife
	)as tt on tt.TyreId=t.TyreId and tt.TyreLife=t.TyreLife
	left join dbo.tTyreLog as tr on tr.Id=t.NextLogId
	where 
	(case when @parameter6=1 and t.VoucherDate between @parameter4 and @parameter5 and tr.VoucherTypeId=34 then 1 --Issue date
		when @parameter6=2 and tr.VoucherDate between @parameter4 and @parameter5 and tr.VoucherTypeId=35 then 1  --receipt Date
		else 0 end)=1
		
end
GO
