/****** Object:  StoredProcedure [dbo].[Proc_Report_1602]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1602]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1602]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec [dbo].[Proc_Report_1602] @parameter1=N'72',@parameter5=N'2018-09-16',@parameter6=N'12724',@parameter7=N'488',@parameter8=N'0'

CREATE PROC [dbo].[Proc_Report_1602]
--1602: Brand & partywise Stock Summary
@parameter1 bigint,--OfficeId
@parameter5 date,--FromDate
@parameter6 bigint,--@PartIds
@parameter7 bigint,--Consignee
@parameter8 bigint--Consignor
-- Select * from mObjectCategory
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	SET NOCOUNT ON;

	create table #invoicetable(
	BookingBranch varchar(150)
	,[StockBranch] varchar(150)
	,[Consignee] varchar(150)
	,[Consignor] varchar(150)
	,[PartCode]  varchar(150)
	,[PartName] varchar(150)
	,[OpeningQty] decimal(18,2)
	,[BookedQty] decimal(18,2)
	,[ReceivedQty] decimal(18,2)
	,[DeliveredQty] decimal(18,2)
	,[TransitQty] decimal(18,2)
	,[PDC] int
	)

	--Getting Opening Balance without transit
	insert into #invoicetable([StockBranch],[Consignee],[Consignor],[PartCode],[PartName],[OpeningQty],PDC)
	
	select		
	ofc.OfficeName,
	[Consignee]=cne.FleetAcName,
	[Consignor]=cnr.FleetAcName,
	[PartCode]=matm.Code,
	[PartName]=matm.Name,
	BalanceQty=sum(cast((isnull(i.InQty,0)-isnull(o.OutQty,0)) as decimal(18,2)))
	,pdc=max(matm.PerDayConsumption)
	from 
	dbo.tCNStockMMLog  as i
	join dbo.tCNMultiMaterial as mm on i.cnmmId=mm.Id
	join dbo.tCNMaster as cn on cn.Id=i.CNId
	join dbo.mMaterialMaster as matm on matm.Id=i.MaterialId
	join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	join dbo.mOfficeMaster as ofc on ofc.Id=i.OfficeId
	left join
	(
		select sl.RefStockId,Sum(sl.OutQty) as OutQty from
		dbo.tCNStockMMLog as sl where isnull(sl.RefStockId,0)>0 and cast(sl.LogDate as date)<@parameter5
		group by sl.RefStockId
	 )as o on o.RefStockId=i.Id
	 where i.OfficeId=@parameter1 and  ((i.LogTypeId in(1422,1455) and cast((isnull(i.InQty,0)-isnull(o.OutQty,0)) as decimal(18,2))>0))
	 and (case when @parameter6=0 then 1 when @parameter6>0 and i.MaterialId=@parameter6 then 1 else 0 end)=1
	 and (case when @parameter7=0 then 1 when @parameter7>0 and cn.ConsigneeId=@parameter7 then 1 else 0 end)=1
	 and (case when @parameter8=0 then 1 when @parameter8>0 and cn.ConsignorId=@parameter8 then 1 else 0 end)=1
	 and cast(i.LogDate as date)<@parameter5 
	 --and matm.Code='11204KWPD000'

	
	 group by ofc.OfficeName,cne.FleetAcName,cnr.FleetAcName,matm.[Code],matm.[Name]

 	----Getting Same day booking
	insert into #invoicetable([StockBranch],[Consignee],[Consignor],[PartCode],[PartName],BookedQty,ReceivedQty,PDC)
	select	
	ofc.OfficeName,
	[Consignee]=cne.FleetAcName,
	[Consignor]=cnr.FleetAcName,
	[PartCode]=matm.Code,
	[PartName]=matm.Name,
	BookedQty=sum(case when i.LogTypeId=1422 and isnull(i.RefStockId,0)=0 then cast(isnull(i.InQty,0)  as decimal(18,2)) else 0 end),
	ReceivedQty=sum(case when (i.LogTypeId=1455) or (i.LogTypeId=1422 and isnull(i.RefStockId,0)>0) then cast(isnull(i.InQty,0) as decimal(18,2)) else 0 end)
	,pdc=max(matm.PerDayConsumption)
	from dbo.tCNStockMMLog  as i
	left join dbo.tCNStockMMLog  as n on i.RefStockId=n.Id AND CAST(n.LogDate as date)=@parameter5
	join dbo.tCNMaster as cn on cn.Id=i.CNId
	join dbo.mMaterialMaster as matm on matm.Id=i.MaterialId
	join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	join dbo.mOfficeMaster as ofc on ofc.Id=i.OfficeId 	
	where i.OfficeId=@parameter1 and i.LogTypeId in(1422,1455) and cast(i.LogDate as date)=@parameter5 
	and (case when @parameter6=0 then 1 when @parameter6>0 and i.MaterialId=@parameter6 then 1 else 0 end)=1
	and (case when @parameter7=0 then 1 when @parameter7>0 and cn.ConsigneeId=@parameter7 then 1 else 0 end)=1
	and (case when @parameter8=0 then 1 when @parameter8>0 and cn.ConsignorId=@parameter8 then 1 else 0 end)=1
	and ISNULL(n.Id,0)=0
	group by ofc.OfficeName,cne.FleetAcName,cnr.FleetAcName,matm.Code,matm.Name

	--getting same day delivery
	insert into #invoicetable([StockBranch],[Consignee],[Consignor],[PartCode],[PartName],[DeliveredQty],PDC)
	select
	ofc.OfficeName,
	[Consignee]=cne.FleetAcName,
	[Consignor]=cnr.FleetAcName,
	[PartCode]=matm.Code,
	[PartName]=matm.Name,
	[DeliveredQty]=sum(isnull(i.OutQty,0))
	,pdc=max(matm.PerDayConsumption)
	from dbo.tCNStockMMLog  as i
	join dbo.tCNMaster as cn on cn.Id=i.CNId
	join dbo.mMaterialMaster as matm on matm.Id=i.MaterialId
	join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId	
	join dbo.mOfficeMaster as ofc on ofc.Id=i.OfficeId
	where i.OfficeId=@parameter1 and i.LogTypeId in(1451,1454,1425) and cast(i.LogDate as date)=@parameter5  and isnull(i.RefStockId,0)>0
	and (case when @parameter6=0 then 1 when @parameter6>0 and i.MaterialId=@parameter6 then 1 else 0 end)=1
	and (case when @parameter7=0 then 1 when @parameter7>0 and cn.ConsigneeId=@parameter7 then 1 else 0 end)=1
	and (case when @parameter8=0 then 1 when @parameter8>0 and cn.ConsignorId=@parameter8 then 1 else 0 end)=1
	group by ofc.OfficeName,cne.FleetAcName,cnr.FleetAcName,matm.Code,matm.Name

	--Getting Transit as of Date
	insert into #invoicetable([StockBranch],[Consignee],[Consignor],[PartCode],[PartName],[TransitQty],PDC)
	select
	ofc.OfficeName,
	[Consignee]=cne.FleetAcName,
	[Consignor]=cnr.FleetAcName,
	[PartCode]=matm.Code,
	[PartName]=matm.Name,
	[TransitQty]=sum(isnull(i.OutQty,0))
	,pdc=max(matm.PerDayConsumption)
	from dbo.tCNStockMMLog  as i
	join dbo.tCNMaster as cn on cn.Id=i.CNId
	join dbo.mMaterialMaster as matm on matm.Id=i.MaterialId
	join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	join dbo.mOfficeMaster as ofc on ofc.Id=i.OfficeId 
	where i.OfficeId=@parameter1 and i.LogTypeId=1424 and cast(i.LogDate as date)<=@parameter5
	and (case when @parameter6=0 then 1 when @parameter6>0 and i.MaterialId=@parameter6 then 1 else 0 end)=1
	and (case when @parameter7=0 then 1 when @parameter7>0 and cn.ConsigneeId=@parameter7 then 1 else 0 end)=1
	and (case when @parameter8=0 then 1 when @parameter8>0 and cn.ConsignorId=@parameter8 then 1 else 0 end)=1
	group by ofc.OfficeName,cne.FleetAcName,cnr.FleetAcName,matm.Code,matm.Name

	SELECT [StockBranch],[Consignee],[Consignor],[PartCode],[PartName]
	,[OpeningQty]=sum(isnull([OpeningQty],0))
	,[BookedQty]=sum(isnull([BookedQty],0))
	,[ReceivedQty]=sum(isnull([ReceivedQty],0))
	,[DeliveredQty]=sum(isnull([DeliveredQty],0))
	,[TransitQty]=sum(isnull([TransitQty],0))
	,[Closing]=sum(isnull([OpeningQty],0))+sum(isnull([BookedQty],0))-sum(isnull([DeliveredQty],0))+sum(isnull([ReceivedQty],0))
	,[PDC]=Max(PDC)
	,[NoofDays]=cast((case when Max(PDC)=0 then 0 else (sum(isnull([OpeningQty],0))+sum(isnull([BookedQty],0))-sum(isnull([DeliveredQty],0))+sum(isnull([ReceivedQty],0)))/MAx(PDC) end) as int)
	FROM #invoicetable as t group by [StockBranch],[Consignee],[Consignor],[PartCode],[PartName]
	order by [StockBranch],[Consignee],[Consignor],[PartCode],[PartName] 

end
GO
