/****** Object:  StoredProcedure [dbo].[Proc_Format_1503_31]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1503_31]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1503_31]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Format_1503_31] 
	@parameter1 bigint
AS
BEGIN
	SELECT 
	t.CNId,
	t.TriplogId,
	Consignor = cnr.FleetAcName,
	cn.CNNo,
	cn.CNDate,
	InvoiceNo= isnull(cmst.ChallanNo,mm.InvoiceNo),
	InvoiceDate= isnull(cmst.ChallanDate,mm.InvoiceDate),
	NoofBins=case when isnull(mt.QtyPerPkg,0)=0 or isnull(t.OutQty,0)=0 then 0 else cast((t.OutQty/isnull(mt.QtyPerPkg,0)) as bigint) end,
	PartName=mt.Name,
	PartNo = mt.Code,
	Quantity = t.OutQty,
	DespQty = t.OutQty,
	Remarks=mm.Remark,
	Acknowledge=isnull(t.DeliveryAcknowledgeNo,''),
	DeliveryLocation=isnull(gm.Name,'')
	from dbo.tCNStockMMLog as t
	left join dbo.tCNMaster as cn on cn.Id=t.CNId
	left join dbo.tCNMultiMaterial as mm on mm.Id=t.CNMMId
	left join dbo.mMaterialMaster as mt on mt.Id=mm.MaterialId
	left join dbo.mGenericMaster as gm on gm.Id=mt.DeliveryLocationId
	left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	left join dbo.tCNChallan as cln on cln.Id=ChallanCNId
	left join dbo.tChallanMaster as cmst on cmst.Id=cln.ChallanId
	where t.TriplogId=@parameter1 order by Consignor ASC, mm.InvoiceDate ASC
END
GO
