/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV3]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatV3]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV3]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 --select top 10 * from tReportRequestPool   order by Id desc
 --exec [dbo].[Proc_Report_1538_BillFormatV3] 10042
CREATE proc [dbo].[Proc_Report_1538_BillFormatV3] 
--1538	Bill Format 1
@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	
			SELECT
			Id=b.Id,
			[BillNo]=b.BillNo,
			[BillDate]=b.BillDate,
			[Date]=cn.CNDate,
			[Transitpenalty]=cn.AChargeIII,
			[DetentionLoading]=cn.AChargeI,
			[DetentionUnLoading]=cn.AChargeII,
			[GreenTaxchg]=cn.AChargeIV,
			[FromPlace]=fp.CityName,
			[VehicleSize]=vht.Name,
			[GCNo]=cn.CNNo,
			[LorryNo]=vh.VehicleRegNo,
			[ToPlace]=tp.CityName,
			[Amount]=cn.CNBasicAmount,
			[TotalAmount]=cn.CNTotalFreight,
			[TripNo]=trp.TriplogNo,
			[TrukReachOn]=trp.UnloadingReachDate,
			[TruckUnlodedOn]=trp.UnLoadingDate,
			[PanNo]=cne.PanNo,
			[TransporterCode]=cne.AccountAbbr,
			[Transitpenaltyday]=0,
			[DetentionLoadingday] =0,
			[DetentionUnLoadingday]=0

		from dbo.tCNBillMaster as b
		join dbo.tCNBillLog as bl on bl.BillId=b.Id
		join dbo.mLedger as l on l.Id=b.BillingPartyAcId
		join dbo.tCNMaster as cn on cn.Id=bl.CNId
		left join dbo.tVehicleMovementLog as trp on trp.Id=cn.TripLogId
		left join dbo.mRouteMaster as rt on rt.Id=cn.ChgRouteId
		left join dbo.mCityMaster as fp on fp.ID=rt.FromPlaceId
		left join dbo.mCityMaster as tp on tp.ID=rt.ToPlaceId
		left join dbo.mVehicleMaster as vh on vh.Id=cn.VehicleId
		left join dbo.mGenericMaster as vht on vht.Id=vh.VehicleTypeId		
		left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
		where b.Id in(Select Item from dbo.SplitCommaString(@parameter1))

END

GO
