/****** Object:  StoredProcedure [dbo].[Proc_Report_1472]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1472]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1472]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC  [dbo].[Proc_Report_1472] 
--	1472		LoadType List
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	BillinParty=bp.FleetAcName,
	OpUnbilled=ISNULL(Min(op.OpUnbilled),0),
	PeriodUnbilled=sum(isnull(t.CNTotalFreight,0)),
	ClUnbilled=ISNULL(Min(op.OpUnbilled),0)+sum(isnull(t.CNTotalFreight,0))	
	from dbo.tCNMaster as t
	inner join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1022 then  t.BillingPartyId else t.LoadingOfficeId end)
	Inner JOIN dbo.mLedger as bp on bp.Id=t.BillingPartyId
	left join
	(
		select t.BillingPartyId,OpUnbilled=sum(isnull(t.CNTotalFreight,0))
		from dbo.tCNMaster as t
		where t.CNDate<@parameter4 and t.BillId IS NULL and t.IsZeroFreightCN=0
		group by t.BillingPartyId
	) as op on op.BillingPartyId=t.BillingPartyId
	where t.CNDate>=@parameter4 and t.CNDate<=@parameter5 and t.BillId IS NULL and t.IsZeroFreightCN=0
	group by CCO.CategoryName,CCO.ClassName,bp.FleetAcName 
END

GO
