/****** Object:  StoredProcedure [dbo].[Proc_Report_1315]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1315]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1315]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1315]
	--Material Stock Report
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
		
	SET NOCOUNT ON;
	
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	o.OfficeName,
	ei.DocNo,
	ei.DocDate,
	[Supplier]=cr.FleetAcName,
	[Store]=dr.FleetAcName,
	sm.SpareName,
	sm.SpareAbbr,
	[Make]=mk.Name,
	[PurchaseQty]=isnull(t.Qty,0),
	t.Rate,
	[BalanceQty]=isnull(t.StockQty,0),	
	[StockValue]=isnull(t.Rate,0)*isnull(t.StockQty,0),
	t.Remarks,
	ei.VoucherTypeId
	from dbo.tSpareLogExtraInfo as ei
	join tSpareLog as t on ei.Id=t.ExtraInfoId
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1029 THEN  ei.DrAccountId WHEN 1030 THEN ei.CrAccountId end)
	join mSpareMaster as sm on sm.Id=t.SparePartId
	join dbo.mLedger as dr on dr.Id=ei.DrAccountId
	join dbo.mLedger as cr on cr.Id=ei.CrAccountId	
	left join mGenericMaster as mk on mk.Id=t.MakeId
	WHERE t.StockQty>0 and ei.VoucherTypeId in(23,26,61)
	ORDER BY t.VoucherDate
END
GO
