/****** Object:  StoredProcedure [dbo].[Proc_Report_1601]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1601]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1601]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1601]
--	1601	INVOICE WISE STOCK DETAIL REPORT
@parameter1 BIGINT,--OfficeId
@parameter4 DATE,--FromDate
@parameter5 DATE,--ToDate
@parameter6 BIGINT,--Consignor
@parameter7 BIGINT,--TypeId: 1:Mixed,2:Details Only
@parameter8 BIGINT--Consignee
AS
BEGIN
  --Temp Sart: This Code Need to be remove if API is corrected
  --  UPDATE t
  --  SET t.LogDate = tl.UnloadingDate
  --  FROM dbo.tCNStockMMLog AS t
  --  JOIN tVehicleMovementlog AS tl
  --    ON t.TriplogId = tl.Id
  --    AND t.LogTypeId IN (1422)
  --    AND ISNULL(t.RefStockID, 0) > 0
  --  WHERE t.LogDate <> tl.UnloadingDate
  -- Temp End
  

  IF (DATEDIFF(DAY, @parameter4, @parameter5) > 63)--Only 2 Month report is allowed
  BEGIN
    RAISERROR ('You can see only 2 months data at a time', 16, 1);
  END

  DECLARE @RoleId INT
  CREATE TABLE #invoicetable (
    Id INT IDENTITY (1, 1)
   ,SortOrderId TINYINT
   ,S VARCHAR(3)
   ,BookingBranch VARCHAR(150)
   ,[StockBranch] VARCHAR(150)
   ,StockDate DATETIME
   ,[Consignee] VARCHAR(150)
   ,[Consignor] VARCHAR(150)
   ,[PartCode] VARCHAR(150)
   ,[PartName] VARCHAR(150)
   ,[LRNo] VARCHAR(150)
   ,[LRDate] DATE
   ,TripNo VARCHAR(150)
   ,TripDate DATE
   ,[InvoiceNo] VARCHAR(150)
   ,[InvoiceDate] DATE
   ,[InvoiceValue] DECIMAL(18, 2)
   ,[RouteName] VARCHAR(200)
   ,[OpeningQty] DECIMAL(18, 2)
   ,[BookedQty] DECIMAL(18, 2)
   ,[DestnReceivedDate] DATE
   ,[ReceivedQty] DECIMAL(18, 2)
   ,[StockOut] DECIMAL(18, 2)
   ,[DeliveryDate] DATETIME
   ,[SRVNo] VARCHAR(150)
   ,[DeliveredQty] DECIMAL(18, 2)
   ,[DeliveryFailedQty] DECIMAL(18, 2)
   ,[TransitQty] DECIMAL(18, 2)
   ,[StockQty] DECIMAL(18, 2)
   ,[InvoiceRate] DECIMAL(18, 2)
   ,[EWayBillNo] VARCHAR(160)
   ,[eWayBillValidity] DATE
   ,Remark VARCHAR(200)
   ,Ageing bigint
   ,StockId bigint NULL,
  )

  CREATE TABLE #mmlog (
    Id BIGINT PRIMARY KEY
   ,MaxMMLogId BIGINT
   ,CNMMID BIGINT
   ,OrderId INT
   ,Qty DECIMAL(18, 2)
   ,InQty DECIMAL(18, 2)
   ,OutQty DECIMAL(18, 2)
   ,LogTypeId BIGINT DEFAULT (0)
  )

  SET @RoleId = (SELECT
      RoleId
    FROM dbo.mObjectCategory
    WHERE Id = @parameter1)
  SET NOCOUNT ON;
  --opening MM
  INSERT INTO #mmlog (Id, CNMMID, Qty,InQty,OutQty, LogTypeId)
    SELECT
      mml.Id
     ,mml.CNMMId
     ,Qty = ISNULL(mml.InQty, 0) - ISNULL(o.OutQty, 0)
	  ,mml.InQty
	 ,mml.OutQty
     ,LogTypeId = mml.LogTypeId
    FROM dbo.tCNStockMMLog AS mml
    JOIN dbo.tCNMaster AS t
      ON t.Id = mml.CNId
    LEFT JOIN (SELECT
        sl.RefStockId
       ,SUM(sl.OutQty) AS OutQty
      FROM dbo.tCNStockMMLog AS sl
      WHERE ISNULL(sl.RefStockId, 0) > 0
      AND CAST(sl.LogDate AS DATE) < @parameter4
      GROUP BY sl.RefStockId) AS o
      ON o.RefStockId = mml.Id
    WHERE mml.OfficeId = @parameter1
    AND ((mml.LogTypeId IN (1422, 1455)
    AND CAST((ISNULL(mml.InQty, 0) - ISNULL(o.OutQty, 0)) AS DECIMAL(18, 2)) > 0))
    AND (CASE
      WHEN @parameter6 = 0 THEN 1
      WHEN @parameter6 > 0 AND
        t.ConsignorId = @parameter6 THEN 1
      ELSE 0
    END) = 1
    AND (CASE
      WHEN @parameter8 = 0 THEN 1
      WHEN @parameter8 > 0 AND
        t.ConsigneeId = @parameter8 THEN 1
      ELSE 0
    END) = 1
    AND CAST(mml.LogDate AS DATE) < @parameter4
  --mm of selected perriod
  INSERT INTO #mmlog (Id, CNMMID, Qty,InQty,OutQty, LogTypeId)
    SELECT
      mml.Id
     ,mml.CNMMId
     ,Qty = mml.InQty
	  ,mml.InQty
	 ,mml.OutQty
     ,LogTypeId = mml.LogTypeId
    FROM dbo.tCNStockMMLog AS mml
    JOIN dbo.tCNMaster AS t
      ON t.Id = mml.CNId
    WHERE mml.OfficeId = @parameter1
    AND mml.LogTypeId in(/*stock in*/1422/*,1451 As InQty in Zero it doesnt affect this Data. changed on 2018-10-25 by Mukesh,1425Delivered*/)
    AND (CASE
      WHEN @parameter6 = 0 THEN 1
      WHEN @parameter6 > 0 AND
        t.ConsignorId = @parameter6 THEN 1
      ELSE 0
    END) = 1
    AND (CASE
      WHEN @parameter8 = 0 THEN 1
      WHEN @parameter8 > 0 AND
        t.ConsigneeId = @parameter8 THEN 1
      ELSE 0
    END) = 1
    AND CAST(mml.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5

  --mm of selected perriod, only undelivered 1455
  INSERT INTO #mmlog (Id, CNMMID, Qty,InQty,OutQty, LogTypeId)
    SELECT
      mml.Id
     ,mml.CNMMId
     ,Qty = ISNULL(mml.InQty, 0) - ISNULL(o.OutQty, 0)
	  ,mml.InQty
	 ,mml.OutQty
     ,LogTypeId = mml.LogTypeId
    FROM dbo.tCNStockMMLog AS mml
    JOIN dbo.tCNMaster AS t
      ON t.Id = mml.CNId
    LEFT JOIN (SELECT
        sl.RefStockId
       ,SUM(sl.OutQty) AS OutQty
      FROM dbo.tCNStockMMLog AS sl
      WHERE ISNULL(sl.RefStockId, 0) > 0
      AND CAST(sl.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5
      GROUP BY sl.RefStockId) AS o
      ON o.RefStockId = mml.Id
    WHERE mml.OfficeId = @parameter1
    AND ((mml.LogTypeId = 1455
    AND CAST((ISNULL(mml.InQty, 0) - ISNULL(o.OutQty, 0)) AS DECIMAL(18, 2)) > 0))
    AND (CASE
      WHEN @parameter6 = 0 THEN 1
      WHEN @parameter6 > 0 AND
        t.ConsignorId = @parameter6 THEN 1
      ELSE 0
    END) = 1
    AND (CASE
      WHEN @parameter8 = 0 THEN 1
      WHEN @parameter8 > 0 AND
        t.ConsigneeId = @parameter8 THEN 1
      ELSE 0
    END) = 1
    AND CAST(mml.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5
    AND mml.RefStockId NOT IN (SELECT
        Id
      FROM #mmlog)



  --mm transit
  INSERT INTO #mmlog (Id, CNMMID, Qty,InQty,OutQty, LogTypeId)
    SELECT
      mml.Id
     ,mml.CNMMId
     ,Qty = mml.OutQty
	 ,mml.InQty
	 ,mml.OutQty
     ,LogTypeId = mml.LogTypeId
    FROM dbo.tCNStockMMLog AS mml
    JOIN dbo.tCNMaster AS t
      ON t.Id = mml.CNId
    WHERE mml.OfficeId = @parameter1
    AND mml.LogTypeId IN (1424)
    AND (CASE
      WHEN @parameter6 = 0 THEN 1
      WHEN @parameter6 > 0 AND
        t.ConsignorId = @parameter6 THEN 1
      ELSE 0
    END) = 1
    AND (CASE
      WHEN @parameter8 = 0 THEN 1
      WHEN @parameter8 > 0 AND
        t.ConsigneeId = @parameter8 THEN 1
      ELSE 0
    END) = 1
    AND CAST(mml.LogDate AS DATE) <= @parameter5

  UPDATE z
  SET z.MaxMMLogId = (SELECT
      MAX(x.Id)
    FROM dbo.tCNStockMMLog AS x
    WHERE x.CNMMId = z.CNMMId)
  FROM #mmlog AS z
  --SELECT * FROM #mmlog m
  --  RETURN
  DELETE t
    FROM #mmlog AS t
    JOIN (SELECT
        Id
       ,OrderId = ROW_NUMBER() OVER (PARTITION BY MaxMMlogId ORDER BY Id DESC)
      FROM #mmlog AS z) AS x
      ON t.Id = x.Id
      AND x.OrderId > 1


  INSERT INTO #invoicetable (SortOrderId, S, BookingBranch, [StockBranch], StockDate, [Consignee], [Consignor], [PartCode], [PartName],
  [LRNo], [LRDate], TripNo, TripDate, [InvoiceNo], [InvoiceDate], [InvoiceValue], [RouteName], [OpeningQty], [BookedQty],
  [DestnReceivedDate], [ReceivedQty], [StockOut], [DeliveryDate], [SRVNo], [DeliveredQty], [DeliveryFailedQty], [TransitQty], stockqty, [InvoiceRate],
  [EWayBillNo], [eWayBillValidity]
  , Remark,Ageing, StockId)

    SELECT
      1
     ,'-'
     ,[BookingBranch] = bbr.OfficeName
     ,ofc.OfficeName
     ,mml.LogDate
     ,cne.FleetAcName
     ,cnr.FleetAcName
     ,[PartCode] = matm.Code
     ,[PartName] = matm.Name
     ,[LRNo] = t.CNNo
     ,[LRDate] = t.CNDate
      ,vml.TriplogNo
      ,vml.TripStartDate
     ,[InvoiceNo] = mm.InvoiceNo
     ,[InvoiceDate] = mm.InvoiceDate
     ,[InvoiceValue] = mm.InvoiceNetValue
     ,[RouteName] = ar.Name
     ,[OpeningQty] =
      CASE
        WHEN CAST(mml.LogDate AS DATE) < @parameter4 AND mml.LogTypeId NOT IN(1424,1451,1425,1454) THEN ISNULL(i.Qty, 0) /*mm.ActualQty*/
        ELSE 0
      END
     ,[BookQty] =
      CASE
        WHEN mml.OfficeId = @parameter1 AND
          (CAST(mml.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) AND
          mml.LogTypeId IN (1422) AND
          ISNULL(mml.RefStockId, 0) = 0 THEN ISNULL(i.Qty, 0)/*mm.ActualQty*/
        ELSE 0
      END
     ,[DestnReceivedDate] = vml.UnloadingReachDate
      /*CASE
        WHEN destn.OfficeId = @parameter1 AND
          (CAST(mxml.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) THEN vml.UnLoadingDate
        ELSE NULL
      END*/
     ,[ReceivedQty] =
      CASE
        WHEN /*destn.OfficeId*/ mml.OfficeId = @parameter1 AND
          (CAST(mml.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) AND
          ISNULL(mml.RefStockId, 0) > 0 AND mml.LogTypeId in(1422,1455) THEN ISNULL(i.Qty, 0)-(CASE
        WHEN mxml.LogTypeId = 1424 THEN mxml.OutQty  -- check
        ELSE 0
      END) /*mm.ActualQty*/ -- check
        ELSE 0
      END
     ,[StockOut] = ISNULL(o.OutQty, 0)
      /*CASE
        WHEN fstl.OfficeId = @parameter1 AND
          fstl.Id > 0 AND
          (CAST(fstl.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) THEN ISNULL(mxml.InQty,0)/*mm.ActualQty*/ -- check
        ELSE 0
      END*/
     ,[DeliveryDate] =
      CASE
        WHEN mxml.OfficeId = @parameter1 AND
          (CAST(mxml.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) AND
          mxml.LogTypeId IN (1451, 1425, 1454) THEN mxml.LogDate
        ELSE NULL
      END
     ,[SRVNo] = mxml.DeliveryAcknowledgeNo
     ,[DeliveredQty] =CASE WHEN mml.LogTypeId in(1451,1425) AND mml.OfficeId=@parameter1 THEN mml.OutQty ELSE ISNULL(o.DelQty, 0) END
      /*CASE
        WHEN mxml.OfficeId = @parameter1 AND
          (CAST(mxml.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) AND
          mxml.LogTypeId IN (1451, 1425, 1454) THEN mm.ActualQty  -- check
        ELSE 0
      END*/
     ,DeliveryFailedQty = ISNULL(o.DeliveryFailed, 0)
     ,[TransitQty] =/*ISNULL(o.TransitQty,0)*/
      CASE
        WHEN mxml.LogTypeId = 1424 THEN mxml.OutQty  -- check
        ELSE 0
      END
     ,[StockQty] = 0
      /*CASE
        WHEN mxml.LogTypeId = 1455 AND
          @parameter1 = mxml.OfficeId THEN mm.ActualQty  -- check
        ELSE 0
      END*/
     ,[InvoiceRate] = mm.InvoiceRate
     ,[EWayBillNo] = mm.EWayBillMM
     ,[eWayBillValidity] = mm.eWayBillValidity
     ,mm.Remark,
	Ageing= DATEDIFF(day, mm.InvoiceDate,getdate())
	 ,mml.Id
    FROM dbo.tCNStockMMLog AS mml
    JOIN #mmlog AS i
      ON mml.Id = i.Id
    LEFT JOIN (SELECT
        OutQty = SUM(CASE
          WHEN ((cm.LogTypeId = 1451 OR cm.LogTypeId = 1425 )AND CAST(cm.LogDate AS DATE) > @parameter5) 
		  OR
            (cm.LogTypeId = 1423 AND (cmn.LogTypeId = 1424 OR (cmn.LogTypeId = 1422 AND(CAST(cmn.LogDate AS DATE) > @parameter5 OR cm.OfficeId <> cmn.OfficeId)))) 
			THEN cm.OutQty
          ELSE 0
        END)
       ,DelQty = SUM(CASE
          WHEN (cm.LogTypeId =1425 AND CAST(cm.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) THEN cm.InQty WHEN (
            (cmn.LogTypeId in( 1425,1422) AND CAST(cmn.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) AND
            cm.OfficeId = cmn.OfficeId) THEN cmn.InQty
			WHEN (cm.LogTypeId =1451 AND CAST(cm.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) THEN cm.OutQty
          ELSE 0
        END)
       ,TransitQty = SUM(CASE
          WHEN ((cm.LogTypeId = 1423 AND
            cmn.LogTypeId = 1424)) THEN cm.OutQty
          ELSE 0
        END)
       ,DeliveryFailed = SUM(CASE
          WHEN (cm.LogTypeId = 1455 AND
            CAST(cm.LogDate AS DATE) BETWEEN @parameter4 AND @parameter5) THEN cm.OutQty
          ELSE 0
        END)
       ,cm.RefStockId
      FROM [dbo].[tCNStockMMLog] cm
      LEFT JOIN [dbo].[tCNStockMMLog] cmn
        ON cm.Id = cmn.RefStockId
      WHERE CAST(cm.LogDate AS DATE) >= @parameter4
      AND cm.RefStockId > 0
      GROUP BY cm.RefStockId) AS o
      ON mml.Id = o.RefStockId
    JOIN dbo.tCNMultiMaterial AS mm
      ON mml.cnmmId = mm.Id

    JOIN dbo.tCNMaster AS t
      ON t.Id = mm.CNId

    JOIN dbo.mMaterialMaster AS matm
      ON matm.Id = mm.MaterialId

    JOIN dbo.mLedger AS cne
      ON cne.Id = t.ConsigneeId

    JOIN dbo.mLedger AS cnr
      ON cnr.Id = t.ConsignorId

    JOIN dbo.mOfficeMaster AS ofc
      ON ofc.Id = mml.OfficeId

    JOIN dbo.mOfficeMaster AS bbr
      ON bbr.Id = t.LoadingOfficeId

    LEFT JOIN dbo.tCNStockMMLog AS mxml
      ON mxml.Id = i.MaxMMLogId

   --LEFT JOIN dbo.tVehicleMovementLog AS vml
   --     ON vml.Id = mml.TriplogId AND mml.LogTypeId IN(1422,1455,1424)

    LEFT JOIN dbo.mRouteMaster AS ar
      ON ar.Id = t.ChgRouteId

	  LEFT JOIN (SELECT TripLogId=Max(TripLogId),CNId FROM tCNStockMMLog WHERE ISNULL(TriplogId,0)>0 AND LogTypeId=1423 GROUP BY CNId) as tlid on mml.CNId=tlid.CNId
	  LEFT JOIN tVehicleMovementLog vml on tlid.TripLogId=vml.Id
	  


  --    LEFT JOIN dbo.tCNStockLog AS fstl
  --      ON fstl.RefStockId = stl.Id
  --        AND fstl.LogTypeId = 1423
  --
  --    LEFT JOIN dbo.tCNStockLog AS destn
  --      ON fstl.Id = destn.RefStockId
  --        AND destn.LogTypeId = 1422
  --        AND ISNULL(destn.RefStockId, 0) > 0
  --
  --    LEFT JOIN dbo.tVehicleMovementLog AS vml
  --      ON vml.Id = fstl.TriplogId


  UPDATE #invoicetable
  SET StockQty = (ISNULL([OpeningQty], 0) + ISNULL([BookedQty], 0) + ISNULL([ReceivedQty], 0) - ISNULL([StockOut], 0) - ISNULL([DeliveredQty], 0))
  UPDATE #invoicetable
  SET StockQty =
  CASE
    WHEN ISNULL(StockQty, 0) <= 0 THEN 0
    ELSE ISNULL(StockQty, 0)
  END

  IF (@parameter7 = 1)
  BEGIN
    INSERT INTO #invoicetable (SortOrderId, S, [PartCode], [PartName])
      SELECT
        0
       ,'S'
       ,[PartCode]
       ,[PartName]
      FROM #invoicetable AS cn
      GROUP BY [PartCode]
              ,[PartName]

    INSERT INTO #invoicetable (SortOrderId, S, [PartCode], [PartName], [OpeningQty], [BookedQty], [ReceivedQty], [StockOut], [DeliveredQty], [DeliveryFailedQty], [TransitQty], [StockQty])
      SELECT
        2
       ,'S'
       ,[PartCode]
       ,[PartName]
       ,SUM(ISNULL([OpeningQty], 0))
       ,SUM(ISNULL([BookedQty], 0))
       ,SUM(ISNULL([ReceivedQty], 0))
       ,SUM(ISNULL([StockOut], 0))
       ,SUM(ISNULL([DeliveredQty], 0))
       ,SUM(ISNULL([DeliveryFailedQty], 0))
       ,SUM(ISNULL([TransitQty], 0))
       ,SUM(ISNULL([StockQty], 0))
      FROM #invoicetable AS cn
      GROUP BY [PartCode]
              ,[PartName]

    SELECT
      S
     ,[StockBranch] =
      CASE
        WHEN [DeliveredQty] > 0 THEN [Consignee]
        ELSE [StockBranch]
      END
     ,StockDate
     ,[Consignee]
     ,[Consignor]
     ,[PartCode]
     ,[PartName]
     ,[LRNo]
     ,[LRDate]
     ,TripNo
     ,TripDate
     ,[InvoiceNo]
     ,[InvoiceDate]
     ,[RouteName]
     ,[OpeningQty]
     ,[BookedQty]
     ,[DestnReceivedDate]
     ,[ReceivedQty]
     ,[StockOut]
     ,[DeliveryDate]
     ,[SRVNo]
     ,[DeliveredQty]
     ,[DeliveryFailedQty]
     ,[TransitQty]
     ,[StockQty]
     ,[InvoiceRate]
     ,[EWayBillNo]
     ,[eWayBillValidity]
     ,Remark
	,Ageing
	 ,StockId
    FROM #invoicetable AS cn
    ORDER BY [PartCode], [PartName], SortOrderId, (CASE
      WHEN cn.DeliveredQty > 0 THEN 1
      ELSE 0
    END) DESC, cn.DeliveryDate, cn.InvoiceDate, cn.stockqty, cn.transitqty
  END

  IF (@parameter7 = 2)
  BEGIN
    SELECT
      S
     ,[StockBranch] =
      CASE
        WHEN [DeliveredQty] > 0 THEN [Consignee]
        ELSE [StockBranch]
      END
     ,StockDate
     ,[Consignee]
     ,[Consignor]
     ,[PartCode]
     ,[PartName]
     ,[LRNo]
     ,[LRDate]
     ,TripNo
     ,TripDate
     ,[InvoiceNo]
     ,[InvoiceDate]
     ,[InvoiceValue]
     ,[RouteName]
     ,[OpeningQty]
     ,[BookedQty]
     ,[DestnReceivedDate]
     ,[ReceivedQty]
     ,[StockOut]
     ,[DeliveryDate]
     ,[SRVNo]
     ,[DeliveredQty]
      [DeliveryFailedQty]
     ,[TransitQty]
     ,[StockQty]
     ,[InvoiceRate]
     ,[EWayBillNo]
     ,[eWayBillValidity]
     ,Remark
	,Ageing
	 ,StockId
    FROM #invoicetable AS cn
    WHERE cn.SortOrderId = 1
    ORDER BY [PartCode], [PartName], SortOrderId, (CASE
      WHEN cn.DeliveredQty > 0 THEN 1
      ELSE 0
    END) DESC, cn.DeliveryDate, cn.InvoiceDate, cn.stockqty, cn.transitqty
  END
  DROP TABLE #mmlog
  DROP TABLE #invoicetable
END
GO
