/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1668_BulkuploadDriverIncentive]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1668_BulkuploadDriverIncentive]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1668_BulkuploadDriverIncentive]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1668_BulkuploadDriverIncentive] 
	@reportrequestid bigint
AS
BEGIN
DECLARE @batchid nvarchar(100), @VoucherId bigint=0, @xml xml, @Office bigint, @IncentiveDate date, @VoucherNo nvarchar(100), 
	@VehicleNo bigint, @Driver bigint, @DrAccount bigint, @CrAccount bigint, @Remark nvarchar(300),
	@TotalAmount decimal(18,2),  @CSID bigint, @defaultaccount bigint, @crid bigint

	SELECT TOP 1 
	@xml=XmlParameter,
	@batchid=Parameter1, 
	@CSID=Parameter2,
	@Office=Parameter3,
	@IncentiveDate=Parameter4,
	@VoucherNo=Parameter5,
	@VehicleNo=Parameter6,
	@Driver=Parameter7,
	@DrAccount=Parameter8,
	@CrAccount=Parameter9,
	@Remark=Parameter10,
	@TotalAmount=Parameter11 FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
	if(@xml IS NULL)return;
	DECLARE @hdoc AS INT
		DECLARE @PrepareXmlStatus INT 
		EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml

		INSERT INTO[dbo].[tVouchers](
		[OfficeId],  [VoucherNo], 
		[VoucherDate], [VoucherDateTime], 
		[VoucherTypeId], [VchAmount],
		[Account1Id], [Amount1], 
		[Account2Id], [Amount2], 
		[Amount3], [Amount4],
		[Amount5], [Amount6],
		[Amount7], [Amount8], 
		[Amount9], [Amount10], 
		[IsAudited], [IsAccepted], 
		[IsAccountsVisiblity], [ViewId], 
		[CSID], [CDOE], 
		[BatchId])
	     VALUES (
		@Office, 
		@VoucherNo, 
		@IncentiveDate, 
		@IncentiveDate, 
		90, 
		@TotalAmount, 
		@DrAccount, 
		-@TotalAmount, 
		@CrAccount, 
		@TotalAmount,
		 0, 0, 0, 0, 0, 0, 0, 0
		 , 0, 0, 0, 
		 1668, 
		 @CSID, 
		 Getdate(), 
		 @batchid)
			SET @VoucherId=SCOPE_IDENTITY()
			--CR VD
	    INSERT INTO [dbo].[tVoucherVD]([VoucherId], [OfficeId], [AccountId], [OrderId], [VDAmount], [BatchId],[CSID], [CDOE])
	    VALUES (
		@VoucherId, @Office, @CrAccount, 1, @TotalAmount, 
		@batchid, @CSID, 
		 Getdate())

		--DR VD

	    INSERT INTO [dbo].[tVoucherVD]([VoucherId], [OfficeId], [AccountId], [OrderId], [VDAmount], [BatchId],[CSID], [CDOE])
	    VALUES (
		@VoucherId, @Office, @DrAccount, 2, -@TotalAmount, 
		@batchid, @CSID, 
		 Getdate())


	insert into dbo.tTripAdvanceLog(
	[VoucherNo], 
	[VehicleId], 
	[AdvanceDate], 
	[OfficeId], 
	[CreditAccountId], 
	[CashAmount], 
	[DriverId], 
	[Remark], 
	[ReferenceNo], 
	[VoucherId], 
	[CSID], 
	[CDOE], 
	[DebitAccountId], 
	[TripLogId], 
	[AdvanceTypeId], 
	[BatchId])

	SELECT 
	   [VoucherNo]=@VoucherNo, 
	   [VehicleId]=temp.VehicleId, 
	   [AdvanceDate]=@IncentiveDate, 
	   [OfficeId]=@Office, 
	   [CreditAccountId]=@CrAccount, 
	   [CashAmount]=@TotalAmount, 
	   [DriverId]=temp.Driver1stId, 
	   [Remark]=@Remark, 
	   [ReferenceNo]=@VoucherNo, 
	   [VoucherId]=@VoucherId,
	   [CSID]=@CSID, 
	   [CDOE]=GETDATE(), 
	   [DebitAccountId]=@defaultaccount, 
	   [TripLogId]=temp.TLId, 
	   [AdvanceTypeId]=90, 
	   [BatchId]=@batchid

	FROM  OPENXML(@hdoc, '/DocumentElement/incentivelog',2)
		WITH (
		  TLId bigint,		 
		  TripStartDate date,
		  Route bigint,
		  ReportingDate date, 
		  AdvanceDate date,
		  UnloadingDate date,
		  VehicleTypeId bigint,
		  VehicleId bigint,
		  Driver1stId bigint,
		  AllowedDays decimal(18,2),
		  TimeTaken decimal(18,2),
		  DifferenceDays decimal(18,2),
		  OkPod bigint,
		  OnTime bigint
		) as temp 

END

GO
