/****** Object:  StoredProcedure [dbo].[Proc_Report_1346]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1346]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1346]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--	select * from dbo.mObjectCategory
--	select * from dbo.apiViews where id=1342
--	exec [Proc_Report_1346] 20018,'',''

CREATE PROC [dbo].[Proc_Report_1346]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)--AccountIds
	
As
-- 1342:	DriverLicenceExpiry
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	set nocount on;
	
	select
	OfficeName = ofc.OfficeName,
    DriverCode= dvr.DriverCode,
    DriverName= dvr.DriverName,
    Licence =  case when len(isnull(dvr.LicenceNo,''))<3 or dvr.IssuingPlaceId=0 or dvr.LicenceDate is null or dvr.ExpiryDate is null then '-' else 'Ok' end,
    DriverAge = case when dvr.Age<19 then '-' else 'Ok' end,
    Address_c= case when len(isnull(ca.AddressLine1,'') + isnull(ca.AddressLine2,'')+isnull(ca.AddressLine3,''))<20 then '-'  else 'Ok'end,
	Address_cphone= case when len(isnull(ca.ContactNumber,'')+isnull(ca.AltContactNumber,''))<10 then '-'  else 'Ok'end,
	Address_p= case when len(isnull(pa.AddressLine1,'') + isnull(pa.AddressLine2,'')+isnull(pa.AddressLine3,''))<20 then '-'  else 'Ok'end,
	Address_pphone= case when len(isnull(pa.ContactNumber,'')+isnull(pa.AltContactNumber,''))<10 then '-'  else 'Ok'end,
	Guarantor=case when isnull(gtr.GuarantorListCount,0)=0 then '-'  else 'Ok'end,
	Relatives=case when isnull(rlt.RelativeListCount,0)=0 then '-'  else 'Ok'end,
	Photos=case when isnull(pht.PhotoListCount,0)=0 then '-'  else 'Ok'end
	From dbo.mDriverMaster as dvr
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as CCO on CCO.ObjectId=dvr.Id
	left join dbo.mOfficeMaster as ofc on ofc.Id=dvr.OfficeID
	left join dbo.mPostalAddress as ca on ca.ID=dvr.CurrentAddressId
	left join dbo.mPostalAddress as pa on pa.ID=dvr.PermnAddress
	left join
	(
		select count(*) as GuarantorListCount,d.DriverId from dbo.mDriverGuarantor as d group by d.DriverId
	) as gtr on dvr.Id=gtr.DriverId
	left join
	(
		select count(*) as RelativeListCount,d.DriverId from dbo.mDriverRelative as d group by d.DriverId
	) as rlt on dvr.Id=rlt.DriverId
	left join
	(
		select count(*) as PhotoListCount,d.RecordId from dbo.tApiFile as d where d.RelatedId=1340 and d.IsUploadCompleted=1 group by d.RecordId
	) as pht on dvr.Id=pht.RecordId
	order by dvr.ExpiryDate
	
END
GO
