/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1448_GetCNRate]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1448_GetCNRate]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1448_GetCNRate]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_TRANS_1448_GetCNRate]
	@parameter1 bigint,--RouteId
	@parameter2 bigint,--VehicleTypeId
	@parameter3 date,--CNDate
	@parameter4 bigint,--ContractId
	@parameter5 bigint,--LoadTypeId
	@parameter6 decimal(18,5),--FreightCalVal
	@parameter7 bigint,--LoadTypeRateCritera
	@parameter8 bigint--MaterialId
as
begin
	select * from mCNRateContractLog where id=dbo.Func_TRANS_1448_GetCNRate(@parameter1,@parameter2,@parameter3,@parameter4,@parameter5,@parameter6,@parameter7,@parameter8)
ENd
GO
