/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1499_BulkCheckTLDateIntegrity]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1499_BulkCheckTLDateIntegrity]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1499_BulkCheckTLDateIntegrity]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1499_BulkCheckTLDateIntegrity]
@reportrequestid bigint
AS
BEGIN
DECLARE @xml xml=(SELECT TOP 1 XmlParameter FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid)
if(@xml IS NULL)return;
DECLARE @hdoc AS INT
	DECLARE @PrepareXmlStatus INT 
	EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml --Preparing XML handle
	
	create table #TLUpload(Id bigint,TripLogNo nvarchar(200),VehicleId bigint,TripDate datetime,UnloadDate datetime,TripType bigint,Error nvarchar(max),IsProcessed bit)

	insert into #TLUpload(Id,TripLogNo,VehicleId,TripDate,UnloadDate,TripType,IsProcessed)
	select Id,TripLogNo,VehicleId,TripDate,UnloadDate,TripType,0
	FROM OPENXML(@hdoc, '/ArrayOfDU_TripLog_ValidateView/DU_TripLog_ValidateView',2)
	WITH (
	Id bigint,TripLogNo nvarchar(200),VehicleId bigint,TripDate datetime,UnloadDate datetime,TripType bigint
	) as temp
	declare @id bigint, @vehicleid bigint, @triptype bigint, @tripdate datetime, @unloaddate datetime,@triplongNo nvarchar(200),  @tripdetails nvarchar(150)
 DECLARE @ChainStatus int=(SELECT TOP 1 CAST([Value] as int) FROM [dbo].[ApiConfigurations] WHERE Id='TripLogJobcardChainingStatus')
 DECLARE @count int=(SELECT count(*) from #TLUpload)


	WHILE (@count>0)
	BEGIN
	
	SELECT TOP 1 @id=Id, @vehicleid=VehicleId,@triplongNo=TripLogNo, @triptype=TripType, @tripdate=TripDate, @unloaddate=UnloadDate from #TLUpload WHERE IsProcessed=0


	IF(@unloaddate IS NULL) BEGIN SET @unloaddate=GETDATE() END

		SET @tripdetails=''
		DECLARE @dbvalidation nvarchar(200)=ISNULL((select top 1 t.TriplogNo from dbo.tvehiclemovementlog as t
		left join 
		(
			select max(vt.StartDate)As LastTripDate,vt.TriplogId from dbo.tVTSStatusLog as vt group by vt.TriplogId
		)as vt on vt.TriplogId=t.Id

		where ((@triptype=1158 AND t.VehicleId=@vehicleid) OR(@triptype=1160 AND t.HireVehicleId=@vehicleid))
		and (
				(t.TripStartDate between @tripdate AND @unloaddate) 
				or 
				(((CASE WHEN t.UnloadingDate IS NULL THEN GETDATE() ELSE isnull(vt.LastTripDate,t.UnloadingDate) END) between @tripdate AND @unloaddate))
				or
				((t.TripStartdate<=@tripdate) and ((CASE WHEN t.UnloadingDate IS NULL THEN GETDATE() ELSE isnull(vt.LastTripDate,t.UnloadingDate) END)>=@unloaddate))
			)
		and t.Id<>@id
		and (t.TripTypeId IN(1158,1160) or t.TripNatureId=1076) AND ((@ChainStatus=0 AND t.TripTypeId in(1158, 1159, 1160)) OR  (@ChainStatus=1 AND t.TripTypeId=@triptype))
order by t.Tripstartdate Desc),'')

IF(LEN(ISNULL(@dbvalidation,''))>0)
BEGIN 
    SET @tripdetails=ISNULL(@tripdetails,'')+'Date is overlaping with existing tripno '+ISNULL(@dbvalidation,'')+' in database.' 
END


IF(EXISTS(SELECT TriplogNo FROM [dbo].[tVehicleMovementLog] WHERE TriplogNo=@triplongNo))
BEGIN
PRINT('Exists')
SET @tripdetails=ISNULL(@tripdetails,'')+'Trip No '+@triplongNo+' already existing database.'
END


DECLARE @datasetvalidation NVARCHAR(200)=
(
    SELECT TOP 1 t.TripLogNo
    FROM #TLUpload AS t
    WHERE t.TripLogNo <> @triplongNo
          AND ((@triptype = 1158
                AND t.VehicleId = @vehicleid)
               OR (@triptype = 1160
                   AND t.VehicleId = @vehicleid))
          AND ((t.TripDate BETWEEN @tripdate AND @unloaddate)
               OR ISNULL(t.UnloadDate, GETDATE()) BETWEEN @tripdate AND @unloaddate
               OR (t.TripDate <= @tripdate
                   AND ISNULL(t.UnloadDate, GETDATE()) >= @unloaddate))
          
          AND (t.TripType IN(1158, 1160))
    AND ((@ChainStatus = 0
          AND t.TripType IN(1158, 1159, 1160))
    OR (@ChainStatus = 1
        AND t.TripType = @triptype))
);

    IF(LEN(ISNULL(@datasetvalidation,''))>0)
    BEGIN 
	   SET @tripdetails=ISNULL(@tripdetails,'')+'Date is overlaping with existing tripno '+ISNULL(@datasetvalidation,'')+' in excelsheet.' 
    END


    IF((SELECT count(*) FROM #TLUpload WHERE TripLogNo=@triplongNo)>1)
    BEGIN 
    SET @tripdetails=ISNULL(@tripdetails,'')+'Trip No '+@triplongNo+' is duplicate in upload excel sheet.'
    END
    SET @count=@count-1;
    update #TLUpload set Error=@tripdetails,IsProcessed=1 where TripLogNo=@triplongNo
END 
select TripLogNo,Error from #TLUpload where LEN(ISNULL(Error,''))>0
END
GO
