/****** Object:  StoredProcedure [dbo].[Proc_Report_1482]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1482]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1482]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1482]
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	o.OfficeName,
	t.StartDate,
	t.TripSheetNo,
	m.VehicleNo,
	dvr.DriverName,
	dvr.DriverCode,
	RouteName=t.TripRoute,
	t.EndDate,
	t.SettleDate,
	TripDays=DATEDIFF(day,t.StartDate,t.EndDate),
	t.StartKm,
	t.EndKm,
	TotalKmRun=RunKM,
	BdgtFuelQuantity=isnull(t.BdgtFuelQuantity,0),
	BdgtExtraFuelQty=isnull(t.BdgtExtraFuelQty,0),	
	OpeningFuelAmount=adv.TotalOpeningFuelAmount,
	OpeningFuelQty=adv.TotalOpeningFuelQty,
	TripFuelPaidQty=t.ActualQty,
	TripFuelPaid=isnull(t.FuelExpense,0),
	FuelClosingQty=t.FuelQtyDifference,
	FuelClosingAmount=t.FuelAmtDiff,
	OpeningAmountCash=adv.TotalOpeningAmount,
	TripCashPaid=isnull(t.TripAdvance,0),	
	TripExpense=isnull(t.TripExpense,0),
	
	TotalAdvance=isnull(t.FuelExpense,0)+isnull(t.TripAdvance,0),
	TotalExpense=isnull(t.FuelExpense,0)+isnull(t.TripExpense,0),
	CashClosing=t.SettledAmount,
	t.CashDeposited,
	t.CashPaid,
	NetClosing=t.CashPaid+(t.FuelAmtDiff+t.SettledAmount)-t.CashDeposited,
	TripFreight=isnull(tl.Freight,0),
	[TripGrossProfit]=isnull(tl.Freight,0)-isnull(t.TripExpense,0)-isnull(t.FuelExpense,0),
	
	t.BdgtReferQuantity,
	t.Remarks
	
	FROM dbo.tTripSettlement as t
	INNER JOIN dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.OfficeId end)
	LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1Id
	left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
	left join
		(
			select t.SettlementId, Tottripadv=sum((case when t.AdvanceTypeId in(1,2) then  isnull(t.CashAmount,0) else 0 end)),
			TotalOpeningAmount=sum((case when t.AdvanceTypeId IN(17,86) then  isnull(t.CashAmount,0) else 0 end)),
			TotalOpeningFuelAmount=sum((case when t.AdvanceTypeId = 85 then  isnull(t.FuelAmount,0) else 0 end)),
			TotalOpeningFuelQty=sum((case when t.AdvanceTypeId = 85 then  isnull(t.FuelQty,0) else 0 end))
			from dbo.tTripAdvanceLog as t where t.SettlementId>0 group by t.SettlementId
		)as adv on adv.SettlementId=t.Id

    LEFT JOIN(
    select vml.SettlementId, Freight=sum(case when isnull(vml.CNFreight,0)>0 then isnull(vml.CNFreight,0) ELSE isnull(vml.MarketFreight,0) END) from tVehiclemovementlog as vml where ISNULL(vml.SettlementId,0)>0 group by vml.SettlementId
    ) as tl on t.Id=tl.SettlementId
	WHERE cast(t.SettleDate as date)>=cast(@parameter4 as date) and cast(t.EndDate as date)<=cast(@parameter5 as date)
	ORDER BY t.StartDate 
END
GO
