/****** Object:  StoredProcedure [dbo].[Proc_Format_1497_0]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1497_0]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1497_0]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Format_1497_0]
	@Parameter1 bigint
as
begin
	select
	VoucherId=v.Id,
	OfficeName=vofc.OfficeName,
	VoucherNo=v.VoucherNo,
	VoucherTypeName=vt.VoucherTypeName,
	VoucherTypeCode=vt.Abbr,
	RefNo='',
	VchAmount=0,
	VoucherDate=v.VoucherDate, 
	Narration=v.AccNarration,
	CreateBy=csu.FirstName +' '+csu.LastName,
	CreateDate=v.CDOE,
	ModifiedBy=msu.FirstName +' '+msu.LastName,
	ModifiedDate=v.MDOE,
	IsAudited=v.IsAudited, 
	IsAccountsVisiblity=v.IsAccountsVisiblity,
	IsAccepted=v.IsAccepted,
	PaymentMode=pm.ConstantName,
	FileType=fl.[Name],
	v.FileNo,
	AuditRemark=v.AuditRemark,
	VDCount=isnull(v.VDCount,0)
	from dbo.tVouchers as v
	left join dbo.mVoucherType as vt on vt.Id=v.VoucherTypeId
	left join dbo.mGenericMaster as fl on fl.Id=v.FileTypeId
	left join dbo.mConstantValue as pm on pm.Id=v.PaymentModeId
	left join dbo.mOfficeMaster as vofc on vofc.Id=v.OfficeId
	left join ApiSessions as cs on cs.Id=v.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	left join ApiSessions as ms on ms.Id=v.MSID
	left join dbo.ApiUsers as msu on msu.Id=ms.UserId
	where v.Id=@Parameter1
end
GO
