/****** Object:  StoredProcedure [dbo].[Proc_Report_1383]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1383]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1383]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1383] 20018,'','','2010-01-01','2017-10-10'
--	select * from dbo.mObjectCategory
--	Select * from apiviews where id=1307
--	Select * from dbo.mConstantValue where constanttypeid=87
--	select * from dbo.tBatteryLog where VoucherTypeId=33

CREATE PROC [dbo].[Proc_Report_1383]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate	
as
begin

	select  
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	dvr.DriverName,
	dvr.DriverCode,
	t.StatusDate,
	vm.VehicleRegNo,
	DriverRole=dr.ConstantName,
	DriverStatus=ds.ConstantName,
	ContactNo= cont.ContactNumber,
	DriverReason=rr.Name,
	t.Remark,
	CreatedBy=[dbo].[GetUserBySessionId](t.CSID),
	CreatedOn=t.CDOE,
	ModifiedBy=(CASE WHEN t.CSID=t.MSID THEN NULL ELSE [dbo].[GetUserBySessionId](t.MSID) END),
	ModifiedOn=(CASE WHEN t.CSID=t.MSID THEN NULL ELSE t.MDOE END)
	from dbo.tDriverVehicleMapping as t
	join dbo.mDriverMaster as dvr on dvr.ID=t.DriverId
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=t.DriverId
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join .dbo.mPostalAddress as cont on dvr.CurrentAddressId=cont.Id
	left join dbo.mGenericMaster as rr on rr.ID=t.DriverReasonId
	left join dbo.mConstantValue as dr on dr.Id=t.DriverRoleId
	left join dbo.mConstantValue as ds on ds.Id=t.DriverStatusId
	where t.StatusDate between @parameter4 and @parameter5
	order by t.StatusDate
	
end


GO
