/****** Object:  StoredProcedure [dbo].[Proc_Report_1107_TripAdvance]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1107_TripAdvance]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1107_TripAdvance]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1107_TripAdvance]
@parameter1 bigint
As
BEGIN
	SELECT tv.VoucherNo, VehicleNo=ISNULL(v.VehicleNo,hv.VehicleNo),
	tv.AdvanceDate, o.OfficeName, CreditAccount=cr.AccountName, DebitAccount=dr.AccountName, tv.CashAmount,
	FuelType=fu.Name, tv.FuelQty, tv.FuelRate, tv.FuelAmount, st.TripSheetNo, d.DriverName, tv.Remark, tv.ReferenceNo,
	vm.TriplogNo, VoucherType=vt.VoucherTypeName, tv.BalanceQty, PaidIn=cv.ConstantName, Nature=ref.Name, tv.RequestDate,
	tv.RequestQty, tv.RequestAmount, tv.RequestRemark, tv.VoucherDate
	FROM tTripAdvanceLog as tv
	left join mVehicleMaster as v on tv.VehicleId=v.Id
	left join mHireVehicle as hv on tv.HireVehicleId=hv.Id
	join mOfficeMaster as o on tv.OfficeId=o.Id
	left join mLedger as cr on tv.CreditAccountId=cr.Id
	left join mLedger as dr on tv.DebitAccountId=dr.Id
	left join mDriverMaster as d on tv.DriverId=d.Id 
	left join tVehicleMovementLog as vm on tv.TripLogId=vm.Id
	left join mVoucherType as vt on tv.AdvanceTypeId=vt.Id
	left join mConstantValue cv on tv.PaidInId=cv.Id
	left join mConstantValue pd on tv.RequestStatusId=pd.Id
	left join mDriverMaster dm on tv.DriverId=dm.Id
	left join mExpenseMaster em on tv.ExpenseId=em.Id
	left join mGenericMaster fu on tv.FuelId=fu.Id
	left join tTripSettlement st on tv.SettlementId=st.Id
	left join mGenericMaster ref on tv.Ref1Id=ref.Id
	where tv.Id=@parameter1
END
GO
