/****** Object:  StoredProcedure [dbo].[Proc_Report_1405_DailyDetail]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1405_DailyDetail]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1405_DailyDetail]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Report_1405_DailyDetail]
@parameter1 bigint/*VehicleId*/,
@parameter2 nvarchar(4)/*year*/
AS
BEGIN
 SET NOCOUNT ON
select t.VehicleId,GroupName,Item,FORMAT(ei.DocDate,'yyyy-MM') as [Month],Amount=sum(isnull(t.NetAmount,0))
			from dbo.tSpareLogExtraInfo as ei 
			join(
				select t.VehicleId,t.NetAmount,t.ExtraInfoId,GroupName=gm.Name,Item=sm.SpareName from dbo.tSpareLog as t join dbo.mSpareMaster as sm on sm.Id=t.SparePartId join dbo.mGenericMaster as gm on gm.Id=sm.SpareGroupId
				where t.VehicleId=@parameter1
				union all
				select  rl.VehicleId,rl.NetAmount,rl.ExtraInfoId,GroupName='Labour',Item=sm.SpareName from dbo.tRepairLabourLog as rl join dbo.mSpareMaster as sm on sm.ID=rl.LaborId
				where rl.VehicleId=@parameter1
			)as t on ei.Id=t.ExtraInfoId
			where FORMAT(ei.DocDate,'yyyy')=@parameter2
			
			group by t.VehicleId,GroupName,Item,FORMAT(ei.DocDate,'yyyy-MM')
			order by t.VehicleId,GroupName,Item,FORMAT(ei.DocDate,'yyyy-MM')
END
GO
