/****** Object:  StoredProcedure [dbo].[Proc_Report_1662]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1662]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1662]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1662]
@parameter1 bigint
AS
BEGIN
	SELECT 
	   ContractName = c.Name,
	   LoadType = l.Name,
	   
	   StartDate = r.StartDate,
	   ExpiryDate = r.ExpiryDate,
	   [Route] =  rt.Name,
	   MaterialGroup = mg.Name,
	   r.Km,
	   r.Rate,
	   BasicRateFactor=ltf.ConstantName,
	   VehicleType=vt.Name,
	   r.MinValue,
	   r.MaxValue,
	   r.TAT,
	   r.Discount,
	   DisFactor = df.ConstantName,
	   r.A1Charge,
	   A1Factor = a1f.ConstantName,
	   r.A2Charge,
	   A2Factor = a2f.ConstantName,
	   r.A3Charge,
	   A3Factor = a3f.ConstantName,
	   r.A4Charge,
	   A4Factor = a4f.ConstantName,
	   r.A5Charge,
	   A5Factor = a5f.ConstantName,
	   r.A6Charge,
	   A6Factor = a6f.ConstantName,
	   r.A7Charge,
	   A7Factor = a7f.ConstantName,
	   r.A8Charge,
	   A8Factor = a8f.ConstantName,
	   r.A9Charge,
	   A9Factor = a9f.ConstantName,
	   r.A10Charge,
	   A10Factor = a10f.ConstantName,

	   r.A11Charge,
	   A11Factor = a11f.ConstantName,
	   r.A12Charge,
	   A12Factor = a12f.ConstantName,
	   r.A13Charge,
	   A13Factor = a13f.ConstantName,
	   r.A14Charge,
	   A14Factor  = a14f.ConstantName,
	   r.A15Charge,
	   A15Factor = a15f.ConstantName,
	   A16Charge,
	   A16Factor = a16f.ConstantName,
	   r.A17Charge,
	   A17Factor = a17f.ConstantName,
	   r.L1Charge,
	   L1Factor = l1f.ConstantName,
	   r.L2Charge,
	   L2Factor = l2f.ConstantName,
	   r.L3Charge,
	   L3Facto = l3f.ConstantName,
	   r.L4Charge,
	   L4Factor = l4f.ConstantName,
	   Reference1 = r.Ref1,
	   Reference2 = r.Ref1,
	   Reference3 = r.Ref1,
	   Reference4 = r.Ref1
	 FROM
	(select row_number()over(partition by r.RateContractId,r.RouteId order by r.StartDate desc)as Row_Num,r.* from [dbo].[mCNRateContractLog] as r )as r
	LEFT JOIN [dbo].[mRateContract] as c on r.RateContractId=c.Id
	LEFT JOIN [dbo].[mLoadType] as l on r.LoadTypeId=l.Id
	LEFT JOIN [dbo].[mRouteMaster] as rt on r.RouteId=rt.Id
	LEFT JOIN [dbo].[mMaterialGroup] as mg on r.MaterialgroupId=mg.Id
	LEFT JOIN [dbo].[mConstantValue] as df on r.DisFactorId=df.Id
	LEFT JOIN [dbo].[mConstantValue] as a1f on r.A1FactorId = a1f.Id
	LEFT JOIN [dbo].[mConstantValue] as a2f on r.A1FactorId = a2f.Id
	LEFT JOIN [dbo].[mConstantValue] as a3f on r.A1FactorId = a3f.Id
	LEFT JOIN [dbo].[mConstantValue] as a4f on r.A1FactorId = a4f.Id
	LEFT JOIN [dbo].[mConstantValue] as a5f on r.A1FactorId = a5f.Id
	LEFT JOIN [dbo].[mConstantValue] as a6f on r.A1FactorId = a6f.Id
	LEFT JOIN [dbo].[mConstantValue] as a7f on r.A1FactorId = a7f.Id
	LEFT JOIN [dbo].[mConstantValue] as a8f on r.A1FactorId = a8f.Id
	LEFT JOIN [dbo].[mConstantValue] as a9f on r.A1FactorId = a9f.Id
	LEFT JOIN [dbo].[mConstantValue] as a10f on r.A1FactorId = a10f.Id
	LEFT JOIN [dbo].[mConstantValue] as a11f on r.A1FactorId = a11f.Id
	LEFT JOIN [dbo].[mConstantValue] as a12f on r.A1FactorId = a12f.Id
	LEFT JOIN [dbo].[mConstantValue] as a13f on r.A1FactorId = a13f.Id
	LEFT JOIN [dbo].[mConstantValue] as a14f on r.A1FactorId = a14f.Id
	LEFT JOIN [dbo].[mConstantValue] as a15f on r.A1FactorId = a15f.Id
	LEFT JOIN [dbo].[mConstantValue] as a16f on r.A1FactorId = a16f.Id
	LEFT JOIN [dbo].[mConstantValue] as a17f on r.A1FactorId = a17f.Id
	LEFT JOIN [dbo].[mConstantValue] as l1f on r.A1FactorId = l1f.Id
	LEFT JOIN [dbo].[mConstantValue] as l2f on r.A1FactorId = l2f.Id
	LEFT JOIN [dbo].[mConstantValue] as l3f on r.A1FactorId = l3f.Id
	LEFT JOIN [dbo].[mConstantValue] as l4f on r.A1FactorId = l4f.Id
	LEFT JOIN [dbo].[mConstantValue] as ltf on l.RateCriteriaId = ltf.Id
	LEFT JOIN [dbo].[mGenericMaster]as vt on r.VehicleTypeId = vt.Id

	where 1=(CASE WHEN ISNULL(@parameter1,0)=0 then 1 WHEN r.RateContractId=@parameter1 THEN 1 ELSE 0 END) and r.Row_Num=1
END
GO
