/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1109_BulkAdvanceRequest]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1109_BulkAdvanceRequest]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1109_BulkAdvanceRequest]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_TRANS_1109_BulkAdvanceRequest]
	@parameter1 date,
	@parameter2 date
As
BEGIN
	SET NOCOUNT ON;
	select *,TodayValue=ISNULL(case when PendingAdvance>0 then CAST((case when t.DepartureDate is null then 2000 else case when Tat=0 then 0 else PendingAdvance/TatBalance end end)+0.5 as int) else 0 end,0)-ISNULL(t.TodayWaitingAmt,0),
	PassedValue = ISNULL(case when PendingAdvance>0 then CAST((case when t.DepartureDate is null then 2000 else case when Tat=0 then 0 else PendingAdvance/TatBalance end end)+0.5 as int) else 0 end,0)-ISNULL(t.TodayWaitingAmt,0)
	 from (
	SELECT 
	RequestDate=GETDATE(),
	TripId=ISNULL(t.Id,0),
	TripNo = t.TriplogNo,
	TripDate = t.TripStartDate,
	DepartureDate=t.LoadingDate,
	VehicleId = ISNULL(t.VehicleId,0),
	HireVehicleId= ISNULL(t.HireVehicleId,0),
	VehicleTypeId =ISNULL(vg.Id, 0),
	HVehicleTypeId =ISNULL(hg.Id, 0),
	VehicleNo = ISNULL(v.VehicleNo, h.VehicleNo),
	VehicleType = ISNULL(vg.Name, hg.Name),
	DriverId = ISNULL(t.Driver1stId, 0),
	DriverName =d.DriverName,
	OfficeId = ISNULL(t.OfficeId, 0),
	OfficeName= o.OfficeName,
	RouteId = ISNULL(t.RouteId, 0),
	RouteName = r.Name,
	KmRun = ISNULL(t.KmRun, 0),
	Tat = ISNULL(case when (t.ExpTime % 24) < 6 then CEILING(t.ExpTime / 24) else FLOOR(t.ExpTime / 24) end,0),
	TatBalance=ISNULL(case when (t.ExpTime % 24) < 6 then CEILING(t.ExpTime / 24) else FLOOR(t.ExpTime / 24) end,0)-datediff(day,cast(t.LoadingDate as date),cast(getdate() as date)),
	ClientId = ISNULL(t.PartyId,0),
	ClientName = l.AccountName,
	BudtdAdvance = ISNULL(e.BudgetedAdv,0),
	AdvanceGiven = ISNULL(tadv.AdvanceGiven,0),
	PendingAdvance = ISNULL(ISNULL(e.BudgetedAdv,0) - ISNULL(tadv.AdvanceGiven,0),0),
	BudtdFuelQty = ISNULL(e.BudgetedQty,0),
	FuelGiven = ISNULL(tadv.FuelGiven,0),
	PendingFuel = ISNULL(ISNULL(e.BudgetedQty,0) - ISNULL(tadv.FuelGiven,0),0),
	TodayWaitingAmt = ISNULL(tadv.TodayWaitingAmt,0),
	OldWaitingAmt = ISNULL(tadv.OldWaitingAmt,0),
	WaitingFuelQty =  ISNULL(tadv.WaitingFuelQty,0),
	[Incharge]=vi.[Name]
	FROM dbo.tVehicleMovementLog as t
	LEFT JOIN 
	(
		select BudgetedAdv=SUM(ISNULL(e.ClaimAmount,0)), BudgetedQty=SUM(ISNULL(e.BudgetedQty,0)), e.TriplogId 
		from dbo.tTripExpenseLog as e 
		join dbo.mExpenseMaster as exm on exm.Id=e.ExpenseTypeId
		where exm.NatureId not in(1479,1617) and e.IsBudgeted=1 group by e.TripLogId
	)as e on e.TripLogId=t.Id
	LEFT JOIN 
	(
		select AdvanceGiven=SUM(ISNULL(tadv.CashAmount,0)), 
		FuelGiven=SUM(ISNULL(tadv.FuelQty,0)), 
		TodayWaitingAmt = SUM(CASE WHEN CAST(GETDATE() as date)=CAST(tadv.RequestDate as date) AND tadv.RequestStatusId=1596 THEN ISNULL(tadv.RequestAmount,0) ELSE 0 END),
		OldWaitingAmt = SUM(CASE WHEN CAST(GETDATE() as date)<>CAST(tadv.RequestDate as date) AND tadv.RequestStatusId=1596 THEN ISNULL(tadv.RequestAmount,0) ELSE 0 END),
		WaitingFuelQty = SUM(isnull(case when tadv.RequestStatusId=1956 then tadv.RequestQty else 0 end,0)),
		tadv.TripLogId 
	from tTripAdvanceLog as tadv WHERE tadv.AdvanceTypeId IN(1,2) GROUP BY tadv.TripLogId
	) as tadv on tadv.TripLogId=t.Id
	LEFT JOIN mVehicleMaster as v on v.Id = t.VehicleId
	LEFT JOIN mGenericMaster as vi on vi.Id = v.Ref1Id
	LEFT JOIN mHireVehicle as h on v.Id = t.HireVehicleId
	LEFT JOIN mGenericMaster as vg on vg.Id = v.VehicleTypeId
	LEFT JOIN mGenericMaster as hg on hg.Id = h.VehicleTypeId
	LEFT JOIN mRouteMaster as r on r.Id=t.RouteId
	LEFT JOIN mLedger as l on l.Id=t.PartyId
	LEFT JOIN mDriverMaster as d on d.Id=t.Driver1stId
	LEFT JOIN mOfficeMaster as o on o.Id = t.OfficeId
	where t.UnloadingReachDate IS NULL AND (cast(t.TripStartDate as date) between @parameter1 and @parameter2)
	
)as t where t.PendingAdvance>0 and t.TatBalance>0
END
GO
