/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1617_GetStock]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1617_GetStock]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1617_GetStock]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRANS_1617_GetStock]
@parameter1 bigint,--StockOfficeId
@parameter2 datetime,--stockdate
@parameter3 bigint=0,--consignorid
@parameter4 bigint=0,--materialid
@parameter5 nvarchar(255)='',--freetext search in [CNno,MaterialName,MaterialCode,InvoiceNo]
@parameter6 bigint=0,--consigneeid
@parameter7 int=0
as
BEGIN
if(ISNULL(@parameter7,0)=0)--withoutbarcode
begin
	SET @parameter5='%'+@parameter5+'%'
	Select Id=0,RefStockLogId=s.StockLogId,Remark='',StockQty=s.BalanceQty,s.CNId,c.CNNo,AckQty=s.InQty,CNDate=cast(c.CNDate as date),DelvQty=s.BalanceQty,SRVNo='',InvoiceNo=s.InvoiceNo,InvoiceDate=cast(s.InvoiceDate as date),PartName=m.Name,PartNo=m.Code,CNMMId=s.CNMMId,RefMMStockLogId=s.Id,PartId=s.MaterialId,TempId='',ExciseAmt=s.ExciseAmount,SalesTax=s.ServiceTaxAmount,PerBinQty=CAST(m.QtyPerPkg as int),PONo=s.Ref1,Indicator=i.Abbr,s.RowId
	FROM 
	
	(SELECT s.*, mm.Ref1 ,Ref1Id=[mm].[Ref1Id],mm.InvoiceNo,mm.InvoiceDate,mm.ExciseAmount,mm.ServiceTaxAmount,RowId=ROW_NUMBER()OVER(PARTITION BY s.OfficeId,mm.MaterialId ORDER BY ISNULL(mm.InvoiceDate,s.LogDate))
	FROM vw_CNStockMMLog s 
	LEFT OUTER JOIN [dbo].[tCNMultiMaterial] AS [mm] ON [s].[CNMMId] = [mm].[Id]
	) as s

	INNER JOIN [dbo].[tCNMaster] AS [c] ON [s].[CNId] = [c].[Id]
	LEFT OUTER JOIN [dbo].[mMaterialMaster] AS [m] ON [s].[MaterialId] = [m].[Id]	
	LEFT OUTER JOIN [dbo].[mGenericMaster] AS [i] ON [s].[Ref1Id] = [i].[Id]
	WHERE s.OfficeId=@parameter1 AND s.LogDate<=@parameter2 AND c.ConsignorId=@parameter3 AND(CASE WHEN @parameter4>0 THEN (CASE WHEN s.MaterialId=@parameter4 THEN 1 ELSE 0 END) ELSE 1 END)=1
	AND(CASE WHEN LEN(@parameter5)>0 THEN (CASE WHEN (c.CNNo like @parameter5 or m.Name like @parameter5 or m.Code like @parameter5 or s.InvoiceNo like @parameter5) THEN 1 ELSE 0 END) ELSE 1 END)=1
	AND(CASE WHEN @parameter6>0 THEN (CASE WHEN c.ConsigneeId=@parameter6 THEN 1 ELSE 0 END) ELSE 1 END)=1
end
if(ISNULL(@parameter7,0)=1)--Barcode
begin
	if(LEN(@parameter5)>0)
	begin
		Select Id=0,RefStockLogId=s.StockLogId,Remark='',StockQty=s.BalanceQty,s.CNId,c.CNNo,AckQty=s.InQty,CNDate=cast(c.CNDate as date),DelvQty=s.BalanceQty,SRVNo='',InvoiceNo=s.InvoiceNo,InvoiceDate=cast(s.InvoiceDate as date),PartName=m.Name,PartNo=m.Code,CNMMId=s.CNMMId,RefMMStockLogId=s.Id,PartId=s.MaterialId,TempId='',ExciseAmt=s.ExciseAmount,SalesTax=s.ServiceTaxAmount,PerBinQty=CAST(m.QtyPerPkg as int),PONo=s.Ref1,Indicator=i.Abbr
		,s.RowId FROM 
	(SELECT s.*, mm.Ref1 ,Ref1Id=[mm].[Ref1Id],mm.InvoiceNo,mm.InvoiceDate,mm.ExciseAmount,mm.ServiceTaxAmount,RowId=ROW_NUMBER()OVER(PARTITION BY s.OfficeId,mm.MaterialId ORDER BY ISNULL(mm.InvoiceDate,s.LogDate))
	FROM vw_CNStockMMLog s 
	LEFT OUTER JOIN [dbo].[tCNMultiMaterial] AS [mm] ON [s].[CNMMId] = [mm].[Id]
	) as s
		 INNER JOIN [dbo].[tCNMaster] AS [c] ON [s].[CNId] = [c].[Id]
		LEFT OUTER JOIN [dbo].[mMaterialMaster] AS [m] ON [s].[MaterialId] = [m].[Id]
		LEFT OUTER JOIN [dbo].[mGenericMaster] AS [i] ON [s].[Ref1Id] = [i].[Id]
		WHERE s.OfficeId=@parameter1 AND s.LogDate<=@parameter2 AND c.ConsignorId=@parameter3 AND(CASE WHEN @parameter4>0 THEN (CASE WHEN s.MaterialId=@parameter4 THEN 1 ELSE 0 END) ELSE 1 END)=1
		and s.InvoiceNo In (Select item from dbo.SplitCommaString(@parameter5))
		AND(CASE WHEN @parameter6>0 THEN (CASE WHEN c.ConsigneeId=@parameter6 THEN 1 ELSE 0 END) ELSE 1 END)=1
	end
end
END
GO
