/****** Object:  StoredProcedure [dbo].[Proc_Format_1020_4]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1020_4]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1020_4]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_Format_1020_4]
@parameter1 bigint
as
begin -- complaint
	select 
	Complaint=v.Complaint,
	JobGroup=gm.Name,
	Mechanic=mc.Abbr,
	StartTime=v.StartTime,
	EndTime=v.EndTime
	from dbo.tVehicleRepairJob as v
	left join dbo.mGenericMaster as gm on gm.Id=v.JobGroupId
	left join dbo.mGenericMaster as mc on mc.Id=v.MechanicId
	where v.JobcardId=@parameter1
end
GO
