/****** Object:  StoredProcedure [dbo].[Proc_Report_1505]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1505]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1505]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1505]
AS
BEGIN
	SELECT H.VehicleNo, 
	VehicleType=G.Name, 
	RegistrationNo=H.RegistrationNo, 
	Owner=H.Owner, 
	HireParty=L.AccountName, 
	H.EngineNo, 
	H.ChassisNo FROM mHireVehicle H 
	LEFT JOIN mGenericMaster G ON G.Id=H.VehicleTypeId
	LEFT JOIN mLedger L ON L.Id=H.HirePartyId
	LEFT JOIN mVehicleModel V ON V.Id=H.VehicleModelId 
END


GO
