/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1571_ReCalculateTLFreightV2]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1571_ReCalculateTLFreightV2]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1571_ReCalculateTLFreightV2]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1571_ReCalculateTLFreightV2]
@parameter1 bigint--TripLogId
AS
BEGIN

	DECLARE @TLFreightRatio int
	SELECT TOP 1 @TLFreightRatio=CAST([Value] as int) FROM [dbo].[ApiConfigurations] WHERE [Id]='TLFreightAllocationRatio'

	/*0:None,1:Fixed,2:RouteKM,3:Qty,4:Weight,5:Equal*/

	UPDATE CH SET CH.Revenue=isnull(CASE @TLFreightRatio WHEN 0 THEN 0 WHEN 1 THEN CN.CNTotalFreight WHEN 2 THEN (CASE WHEN CN.CNTotalFreight=0 OR R.TransitKM=0 OR CR.TransitKm=0 THEN 0 ELSE ((CN.CNTotalFreight/R.TransitKm)*CR.TransitKm) END) WHEN 3 THEN (CASE WHEN  CN.CNTotalFreight=0 OR CN.ActualQty=0 OR CH.Qty=0 THEN 0 ELSE (CN.CNTotalFreight/CN.ActualQty)*CH.Qty END) WHEN 4 THEN (CASE WHEN  CN.CNTotalFreight=0 OR CN.ActualWeight=0 OR CH.ActualWeight=0 THEN 0 ELSE (CN.CNTotalFreight/CN.ActualWeight)*CH.ActualWeight END) WHEN 5 THEN (CASE WHEN CN.CNTotalFreight=0 THEN 0 ELSE  CN.CNTotalFreight/TLC.C END) ELSE 0 END,0)
	FROM tCNChallan CH JOIN tCNMaster CN ON CH.CNId=CN.Id
	JOIN [dbo].[mRouteMaster] R ON CN.ActRouteId=R.Id
	JOIN [dbo].[mRouteMaster] CR ON CH.RouteId=CR.Id
	LEFT JOIN (SELECT C=COUNT(*),CNId FROM [dbo].[tCNChallan] GROUP BY CNId)AS TLC ON CH.CNId=TLC.CNId
	WHERE CH.TriplogId=@parameter1

	UPDATE T SET [CnFreight]=ISNULL((SELECT SUM(CH.Revenue) FROM [dbo].[tCNCHallan] CH WHERE CH.TriplogId=T.Id) ,0)
	FROM [dbo].[tVehicleMovementLog] T WHERE T.Id=@parameter1
END

GO
