/****** Object:  StoredProcedure [dbo].[Proc_Report_1392]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1392]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1392]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [Proc_Report_1392] 1,'','','2015-01-01','2016-12-12'
--Select * from dbo.mObjectCategory

CREATE PROC [dbo].[Proc_Report_1392]
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	SELECT 
		t.CategoryName,
		t.ClassName,
		t.OfficeName,
		t.TripStartDate,
		t.TriplogNo,
		t.VehicleNo,
		t.DriverName,
		t.DriverCode,
		t.PartyName,
		t.RouteName,
		t.LoadingDate,
		t.UnloadingReachDate,
		t.UnloadingReachDate,
		t.TripDays,
		t.StartKm,
		t.EndKm,
		t.GpsKmRun,
		t.TotalKmRun,
		t.TripMode,
		t.TripNature,
		t.TripSheetNo,
		t.TotTripAdvance,
		t.TotTripFuelAmt,
		t.TotTripFuelQty,
		t.ReferFuelQty,
		t.TotAddFuel,
		t.TotTripExpense,
		t.TotTripBooking,
		t.CNet,
		CPerday=CAST(isnull(t.CPerday,0) as decimal(18,2)),
		CPerkm=CAST(isnull(t.CPerkm,0) as decimal(18,2)),

		t.TotTyreExp,
		t.TotRepairExp,
		t.TotDuesExp,
		t.TotDriverExp,
		t.TotGenExp,
		t.TotEMIExp,
		FNet=isnull(t.CNet,0)-isnull(t.TotTyreExp,0)-isnull(t.TotRepairExp,0)-isnull(t.TotDuesExp,0)-isnull(t.TotDriverExp,0)-isnull(t.TotGenExp,0)-isnull(t.TotEMIExp,0),
		FPerday =CAST(isnull((case DATEDIFF(day,t.TripStartDate,t.UnLoadingDate) when 0 then  0 else (isnull(t.CNet,0)-isnull(t.TotTyreExp,0)-isnull(t.TotRepairExp,0)-isnull(t.TotDuesExp,0)-isnull(t.TotDriverExp,0)-isnull(t.TotGenExp,0)-isnull(t.TotEMIExp,0)) / (DATEDIFF(day,t.TripStartDate,t.UnLoadingDate)) end),0) as decimal(18,2)),
		FPerkm = CAST(isnull((case t.TotalKmRun when 0 then 0 else (isnull(t.CNet,0)-isnull(t.TotTyreExp,0)-isnull(t.TotRepairExp,0)-isnull(t.TotDuesExp,0)-isnull(t.TotDriverExp,0)-isnull(t.TotGenExp,0)-isnull(t.TotEMIExp,0)) / t.TotalKmRun end),0) as decimal(18,2)),
		t.Remarks
	From
	(
		SELECT 
		CCO.CategoryName,
		CCO.ClassName,
		o.OfficeName,
		t.TripStartDate,
		t.TriplogNo,
		m.VehicleNo,
		dvr.DriverName,
		dvr.DriverCode,
		PartyName=pm.FleetAcName,
		RouteName=tr.Name,  -- changed it from Abbr to Name Vikas Kumar
		t.LoadingDate,
		t.UnloadingReachDate,
		t.UnloadingDate,
		TripDays=DATEDIFF(day,t.TripStartDate,t.UnLoadingDate),
		t.StartKm,
		t.EndKm,
		t.GpsKmRun,
		t.TotalKmRun,
		TripMode=tm.Name,
		TripNature=tn.ConstantName,
		tp.TripSheetNo,
		TotTripAdvance=isnull(adv.Tottripadv,0),
		TotTripFuelAmt=isnull(adv.TottripFuel,0),
		TotTripFuelQty=isnull(adv.TotalFuelQty,0),
		t.ReferFuelQty,
		TotAddFuel=isnull(t.AddFuelQty,0),
		TotTripExpense=isnull(texp.TotTripExp,0),
		TotTripBooking=isnull(t.CNFreight,0),
		CNet=isnull(t.CNFreight,0)-isnull(t.BdgtTripExpense,0),
		CPerday = case DATEDIFF(day,t.TripStartDate,t.UnLoadingDate) when 0 then  0 else (isnull(t.CNFreight,0)-isnull(t.BdgtTripExpense,0)) / (DATEDIFF(day,t.TripStartDate,t.UnLoadingDate)) end,
		CPerkm = case t.TotalKmRun when 0 then 0 else (isnull(t.CNFreight,0)-isnull(t.BdgtTripExpense,0)) / t.TotalKmRun end,

		TotTyreExp=(select sum(isnull(x.NetAmount,0)) from dbo.tTyreLog as x where x.VoucherDate >= t.TripStartDate and x.VoucherDate <= t.UnLoadingDate and x.TyreStatusId = 1103 and x.VoucherTypeId != 42 and x.VehicleId=t.VehicleId),
		TotRepairExp=(select sum(isnull(x.NetAmount,0)) from dbo.tSpareLog as x where x.VoucherDate >= t.TripStartDate and x.VoucherDate <= t.UnLoadingDate and x.VoucherTypeId in(22,24) and x.VehicleId=t.VehicleId),
		TotDuesExp=(select sum(isnull(x.DueAmount,0)) from dbo.tDueTransactionLog as x where x.PaidDate >= t.TripStartDate and x.PaidDate <= t.UnLoadingDate and x.VehicleId=t.VehicleId),
		TotDriverExp=isnull(adv.TotDriverExp,0),
		TotGenExp=ge.TotGenExp,
		TotEMIExp=emi.TotEMIExp,
	
		t.Remarks
		FROM dbo.tVehicleMovementLog as t
		INNER JOIN dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.OfficeId end)
		LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
		LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1stId
		left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
		left join dbo.mGenericMaster as tm on tm.Id=t.TripModeId
		left join dbo.mConstantValue as tn on tn.Id=t.TripModeId
		left join dbo.mLedger as pm on pm.Id=t.PartyId
		left join dbo.tTripSettlement as tp on tp.Id=t.SettlementId
		left join dbo.mRouteMaster as tr on tr.Id=t.RouteId
		left join
		(
			select t.TripLogId, Tottripadv=sum((case when t.AdvanceTypeId in(1,2) then  isnull(t.CashAmount,0) else 0 end)),
			TottripFuel=sum(isnull(t.FuelAmount,0)),TotalFuelQty=sum(isnull(t.FuelQty,0)),
			TotDriverExp=sum(isnull((case when t.AdvanceTypeId in(11,13,14,15,16,17,59) then  isnull(t.CashAmount,0) else 0 end),0))
			from dbo.tTripAdvanceLog as t where t.TripLogId>0 group by t.TripLogId
		)as adv on adv.TripLogId=t.Id
		left join(
			select t.TripLogId,TotTripExp=sum(isnull(t.SettledAmount,0)) from dbo.tTripExpenseLog as t where TripLogId>0 group by t.TripLogId
		)as texp on texp.TripLogId=t.Id
		left join
		(
			select TotGenExp=0
		)as ge on 1=1
		left join
		(
			select TotEMIExp=0
		)as emi on 1=1

		WHERE t.TripStartDate>=@parameter4 and t.TripStartDate<=@parameter5 and t.TripTypeId = 1158
	)as t
	ORDER BY t.TripStartDate
	
END
GO
