/****** Object:  StoredProcedure [dbo].[Proc_TRNS_GLB_GetVDRBalance]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_GLB_GetVDRBalance]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_GLB_GetVDRBalance]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[Proc_TRNS_GLB_GetVDRBalance]
@parameter1 bigint=0, --VDRId
@parameter2 nvarchar(100)='', --RefNo
@parameter3 bigint=0 -- AccountId

AS
BEGIN
	IF(@parameter1>0)
	BEGIN
	SELECT V.Id,Balance= ABS(ISNULL(VDRAmount,0))-ABS(ISNULL(S.Amount,0)) FROM [dbo].[tVoucherVDR] V LEFT JOIN (SELECT Amount=SUM(VDRAmount), RefID FROM [dbo].[tVoucherVDR] WHERE RefID=@parameter1 GROUP BY RefID) S ON V.Id=S.RefID  
	WHERE Id=@parameter1
	END
	ELSE IF(LEN(ISNULL(@parameter2,''))>0)
	BEGIN
		IF(@parameter3<=0)
		BEGIN
		RAISERROR('Provide AccountId with Bill No to get balance',11,0);
		RETURN
		END
	SELECT  V.Id,Balance= ABS(ISNULL(VDRAmount,0))-ABS(ISNULL(S.Amount,0)) FROM [dbo].[tVoucherVDR] V LEFT JOIN (SELECT Amount=SUM(VDRAmount), RefID FROM [dbo].[tVoucherVDR] GROUP BY RefID) S ON V.Id=S.RefID 
	WHERE V.ReferenceNo=@parameter2 AND V.VDRTypeID=1013 AND V.AccountId=@parameter3
	END
	ELSE
	BEGIN
	RAISERROR('Atleast Provide Bill No or Bill Id to get balance',11,0);
	RETURN
	END
END
GO
