/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1675_BulkTripSettlement_Test]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1675_BulkTripSettlement_Test]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1675_BulkTripSettlement_Test]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1675_BulkTripSettlement_Test]
@reportrequestid bigint
AS
BEGIN
    BEGIN TRAN main
    BEGIN TRY 
	   DECLARE @xml xml,@batchid nvarchar(100),@sessionId bigint, @SettPayoffRule bigint, @netbalanceadvances bigint,
	   @DfltSettNetBalPayoffAccount bigint, @NetBalanceCarryAmt bigint,@NetBalancePending bigint;
	   SELECT TOP 1 @xml=XmlParameter,@batchid=Parameter1, @sessionId=CAST(Parameter2 as bigint) FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
	   SELECT TOP 1 @SettPayoffRule=[Value] from  ApiConfigurations where Id='SettlementNetBalancePayoffRule';
	   SELECT TOP 1 @netbalanceadvances=[Value] from  ApiConfigurations where Id='CreateSettlementNetBalanceAmount';
	   SELECT TOP 1 @DfltSettNetBalPayoffAccount=[Value] from  ApiConfigurations where Id='DefaultSettlementNetBalancePayoffAccount';
	   SELECT TOP 1 @NetBalanceCarryAmt=[Value] from  ApiConfigurations where Id='NetBalanceCarryForwordAmount'
	   if(@xml IS NULL)return;
	   DECLARE @hdoc AS INT, @PrepareXmlStatus INT,@ExtraCashExpenseId BIGINT,@ExtraFuelExpenseId BIGINT
	   SET @ExtraCashExpenseId=isnull((Select top 1 ConfigValue from dbo.mClientConfiguration Where Id='AutoSettlementExtraCashExpenseTypeId'),0)
	   SET @ExtraFuelExpenseId=isnull((Select top 1 ConfigValue from dbo.mClientConfiguration Where Id='AutoSettlementExtraFuelExpenseTypeId'),0)
	   EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml

	   select 
		  temp.VehicleNo, temp.SettlementDate, temp.ExtraPassFuelQty, temp.ExtraFuelPassRate, temp.ExtraFuelPassAmt, temp.ExtraCashPass,
		  temp.PaidFuelQty, temp.BdgtFuelQty, temp.VehicleAvg, temp.KM, temp.PaidCashAmt, temp.BdgtCashAdv, temp.LoadingDate, temp.TripNature,
		  [Route]=temp.[Route], temp.DriverName, temp.TotalDriverDebit, temp.IncentivePaid, temp.IncentiveBooked, TriplogId= temp.TriplogId,
		  temp.TriplogNo, temp.VehicleId, temp.DriverId, temp.VehicletypeId, temp.VehicleType, temp.UnLoadingDate,
		  TotalFuelQtyAdv= Isnull(fuelad.TotalFuelQtyAdv,0), TotalfuelAmtAdv= Isnull(fuelad.TotalFuelAmtAdv,0),
		  TotalFuelQtyExp= Isnull(expn.Totalfuelqtyexp,0), TotalFuelAmtExp= Isnull(expn.TotalFuelAmtExp,0),
		  TotalCashAdv= Isnull(fuelad.TotalCashAdv,0), TotalCashExp= Isnull(expn.TotalCashExp,0),
		  FuelQtyDiff= Isnull(fuelad.TotalFuelQtyAdv,0) - Isnull(expn.Totalfuelqtyexp,0),
		  FuelAmtDiff= Isnull(fuelad.TotalFuelAmtAdv,0) - Isnull(expn.TotalFuelAmtExp,0),
		  CashAmtDiff= Isnull(fuelad.TotalCashAdv,0)-Isnull(expn.TotalCashExp,0),
		  SettleAmount= (Isnull(fuelad.TotalFuelAmtAdv,0) - Isnull(expn.TotalFuelAmtExp,0))+Isnull(fuelad.TotalFuelAmtAdv,0) - Isnull(expn.TotalFuelAmtExp,0),
		  NetBalancePending =CASE WHEN @SettPayoffRule=0 THEN 0 ELSE 1 END, fuelad.OfficeId, temp.BatchId
		  INTO #TripData
		  FROM OPENXML(@hdoc, '/DocumentElement/TripSettlement',2)
		  WITH (
		  VehicleNo nvarchar(150), SettlementDate datetime, ExtraPassFuelQty decimal(18,2),
		  ExtraFuelPassRate decimal(18,2),ExtraFuelPassAmt decimal(18,2), ExtraCashPass decimal(18,2), 
		  PaidFuelQty decimal(18,2), BdgtFuelQty decimal(18,2), VehicleAvg decimal(18,2),    
		  KM decimal(18,2), PaidCashAmt decimal(18,2), BdgtCashAdv decimal(18,2), LoadingDate datetime,
		  TripNature nvarchar(150), [Route] nvarchar(150), DriverName nvarchar(150), 
		  TotalDriverDebit decimal(18,2), IncentivePaid decimal(18,2), IncentiveBooked decimal(18,2),
		  TriplogId bigint, TriplogNo nvarchar(150), VehicleId bigint, DriverId bigint, 
		  VehicletypeId bigint, VehicleType nvarchar(150), UnLoadingDate datetime,
		  BatchId nvarchar(200) collate Latin1_General_CI_AI
		  ) as temp
		  JOIN
		  tVehicleMovementLog as fv on fv.Id=temp.TriplogId
		  LEFT JOIN 
		  (SELECT 
		  MinRate=MIN(tal.FuelRate),
		  TotalFuelQtyAdv=SUM(CASE WHEN isnull(tal.RequestStatusId,0)<>1596 AND tal.AdvanceTypeId=2 THEN tal.FuelQty ELSE 0 END),
		  TotalFuelAmtAdv=SUM(CASE WHEN isnull(tal.RequestStatusId,0)<>1596 AND tal.AdvanceTypeId=2  THEN tal.FuelAmount ELSE 0 END),
		  TotalCashAdv=SUM(CASE WHEN isnull(tal.RequestStatusId,0)<>1596 AND tal.AdvanceTypeId<>2 THEN tal.CashAmount ELSE 0 END),
		  tal.TripLogId,
		  OfficeId=Max(tal.OfficeId)
		  FROM [dbo].[tTripAdvanceLog] tal
		  GROUP BY tal.TripLogId) AS fuelad ON fuelad.TripLogId=temp.TripLogId
		  LEFT JOIN 
		  (SELECT 
		  Totalfuelqtyexp=SUM(CASE WHEN isnull(em.NatureId,0)=1479 AND ISNULL(tel.TripAdvanceLogId,0)>0 AND isnull(tel.IsBudgeted,0)=0 THEN tel.FuelQty ELSE 0 END),
		  TotalFuelAmtExp=SUM(CASE WHEN isnull(em.NatureId,0)=1479 AND ISNULL(tel.TripAdvanceLogId,0)>0 AND isnull(tel.IsBudgeted,0)=0 THEN tel.SettledAmount ELSE 0 END),
		  TotalCashExp=SUM(CASE WHEN isnull(em.NatureId,0)<>1479 AND ISNULL(em.NatureId,0)<>1617  THEN tel.SettledAmount ELSE 0 END),
		  etollExp=SUM(CASE WHEN ISNULL(em.NatureId,0)=1617 THEN tel.SettledAmount ELSE 0 END),
		  tel.TripLogId
		  FROM [dbo].[tTripExpenseLog] tel 
		  left join [dbo].[mExpenseMaster] em on tel.ExpenseTypeId=em.Id
		  GROUP BY tel.TripLogId) AS expn ON expn.TripLogId=temp.TripLogId

		  if(@SettPayoffRule = 3 AND @DfltSettNetBalPayoffAccount = 0)
		  begin
			 select 'Missing Default Settlement NetBalance Payoff Account';
			 return;
		  end
	   
	   insert into dbo.tTripSettlement(
		  OfficeId, VehicleId, TripSheetNo, StartDate, EndDate, SettleDate, StartKm, 
		  EndKm, RunKm, AddRunKm, Driver1Id, Remarks,  TripRoute, BdgtFuelQuantity,
		  FuelExpense, TotalKmRun, TotalReferHour, BdgtReferQuantity, BdgtExtraFuelQty,
		  ActualQty, TripExpense, TripAdvance, Shortage, DriverPayment, ShortageQty,
		  SettledAmount/*Cash Diff*/, SettledAccountId, VoucherId, TotalBdgtFuelQty, 
		  FuelQtyDifference /*Fuel Diff*/, BookingFreight, SetlBalVoucherId, ViewId, 
		  CashDeposited /*Cash Rec*/, PenaltyAmount, FuelAmtDiff /*Fuel Diff*/, 
		  NetBalanceFuelRate, FuelAdvance, SetlBalFuelVoucherId, AdjustmentTypeId, NetBalVoucherId, 
		  NetBalancePending /*Fuel Diff*/, PreviousKM, PrepaidKm, PreviousExp, PrepaidExp, 
		  BatchId, CSID, CDOE)

		  select vml.OfficeId,temp.VehicleId, TripSheetNo='ATS-'+temp.TriplogNo, vml.TripStartDate, temp.UnLoadingDate, 
		  temp.SettlementDate, vml.StartKm, vml.EndKm, vml.KmRun, vml.KmRunAdd, temp.DriverId, vml.Remarks, 
		  RounteName=temp.[Route], temp.PaidFuelQty, FuelExpense=(temp.TotalFuelAmtExp), 
		  vml.TotalKmRun, TotalReferHour=0, BdgtReferQuantity=0, 
		  temp.ExtraPassFuelQty, ActualQty=temp.TotalFuelQtyExp, TripExpense=(temp.TotalCashExp), 
		  TripAdvance=(temp.TotalCashAdv), Shortage=0, DriverPayment=0, 
		  ShortageQty=0, SettleAmount=(temp.TotalCashAdv-temp.TotalCashExp), 
		  SettleAccountId=vml.Driver1stId, VoucerId=NULL, TotalBdgtFuelQty=vml.BdgtFuelQty, 
		  FuelQtyDifference=temp.FuelQtyDiff, vml.CNFreight, SetlBalVoucherId=null, ViewId=1675, CashDeposited=0, 
		  PenaltyAmount=temp.TotalDriverDebit, FuelAmtDiff=temp.FuelAmtDiff, NetBalanceFuelRate=0, FuelAdvance=temp.TotalfuelAmtAdv, 
		  SetlBalFuelVoucherId=null, AdjustmentTypeId=1590, NetBalVoucherId=null, NetBalancePending=0, 
		  PreviousKM=0, PrepaidKm=0, PreviousExp=0, PrepaidExp=0, temp.BatchId, CSID=@sessionId, CDOE=GETDATE()
	   FROM #TripData as temp
	   join dbo.tVehicleMovementLog vml on vml.Id=temp.TriplogId
	   where isnull(vml.SettlementId,0)=0	

	   insert into dbo.tVouchers(
	   OfficeId, VoucherNo, VoucherDate, VoucherTypeId, VchAmount, Amount1, Amount2
	   , Amount3, Amount4, Amount5, Amount6, Amount7
	   , Amount8, Amount9, Amount10, FYID, IsAudited, IsAccepted, IsAccountsVisiblity, 
	   BatchId, CSID, CDOE, VDCount, IsParent)

	   select temp.OfficeId, VoucherNo='ATSV-'+temp.TriplogNo, VoucherDate=temp.SettlementDate, VoucherType=18,
	   VchAmount=temp.TotalCashAdv, Amount1=0, Amount2=0
	   , Amount3=0, Amount4=0, Amount5=0, Amount6=0, Amount7=0
	   , Amount8=0, Amount9=0, Amount10=0, FYID=null, IsAudited=0, IsAccepted=0, IsAccountsVisiblity=0 ,
	   temp.BatchId, CSID=@sessionId, CDOE=GETDATE(),VDCount=0, IsParent=0
	    FROM #TripData as temp
	    --Driver Cash Advances/Settled Balances Type Advances 1590: driver Cash Advance
	   update t SET t.VoucherId=v.Id
	   FROM [dbo].[tTripSettlement] t JOIN [dbo].[tVouchers] v on t.BatchId=v.BatchId


	   insert into dbo.tVoucherVD(VoucherId, OfficeId, AccountId, OrderId, VDAmount , CSID, CDOE, BatchId)
	   select vchr.Id, tmpv.OfficeId, cvuelad.DebitAccountId, OrderId=1, cvuelad.TotalCashAdv, 
	   CSID=@sessionId, CDOE=GETDATE(), tmpv.BatchId
	   from #TripData tmpv 
	   JOIN dbo.tVouchers vchr ON vchr.BatchId=tmpv.BatchId 
	   JOIN 
	   (
		  SELECT 
		  TotalCashAdv=SUM(CASE WHEN isnull(tal.RequestStatusId,0)<>1596 AND tal.AdvanceTypeId<>2 THEN tal.CashAmount ELSE 0 END),
		  tal.TripLogId,
		  tal.DebitAccountId
		  FROM [dbo].[tTripAdvanceLog] tal
		  GROUP BY tal.TripLogId, tal.DebitAccountId
	   ) AS cvuelad ON cvuelad.TripLogId=tmpv.TripLogId
	
	   insert into dbo.tVoucherVDR(VDId, ReferenceNo, VDRTypeID, RefID, VDRAmount, DueDate, CSID, CDOE, BatchId)
	   select vchrd.Id, cuelad.ReferenceNo, VDRTypeID=(CASE WHEN  isnull(cuelad.VDRId,0) >0 THEN 1014 ELSE 1448 END), 
	   RefID=(CASE WHEN  isnull(cuelad.VDRId,0)>0 THEN cuelad.VDRId ELSE NULL END),cuelad.CashAmount, tmpv.SettlementDate, 
	   CSID=@sessionId, CDOE=GETDATE(), tmpv.BatchId
	   from #TripData tmpv 
	   JOIN tVoucherVD vchrd ON vchrd.BatchId=tmpv.BatchId
	   JOIN 
	   (
		  SELECT 
		  CashAmount=Sum(tal.CashAmount),
		  tal.TripLogId,
		  tal.DebitAccountId,
		  ReferenceNo=MAX(tal.ReferenceNo),
		  tal.VDRId	   
		  FROM [dbo].[tTripAdvanceLog] tal
		  GROUP BY tal.TripLogId, tal.DebitAccountId, tal.VDRId
	   ) AS cuelad ON cuelad.TripLogId=tmpv.TripLogId  

	   --Trip Expense VDS   
	   --Insert Extra fuel in Expense Table
	   insert into dbo.tTripExpenseLog(ExpenseTypeId,TripLogId,ClaimAmount,SettledAmount
	   ,CSID,CDOE,BatchId,FuelQty,FuelRate,BudgetedQty,ShortFuelQty,ShortFuelAmt,ViewId,IsAuto,IsBudgeted)
	   Select @ExtraFuelExpenseId,t.TriplogId,0,t.ExtraFuelPassAmt,CSID=@sessionId, CDOE=GETDATE(),t.BatchId 
	   ,t.ExtraPassFuelQty,t.ExtraFuelPassRate,0,0,0,1574,0,0 from #TripData t  where isnull(t.ExtraFuelPassAmt,0)>0
	   --Insert Extra Advance
	   insert into dbo.tTripExpenseLog(ExpenseTypeId,TripLogId,ClaimAmount,SettledAmount
	   ,CSID,CDOE,BatchId,FuelQty,FuelRate,BudgetedQty,ShortFuelQty,ShortFuelAmt,ViewId,IsAuto,IsBudgeted)
	   Select @ExtraCashExpenseId,t.TriplogId,0,t.ExtraCashPass,CSID=@sessionId, CDOE=GETDATE(),t.BatchId
	   ,0,0,0,0,0,1574,0,0 from #TripData t  where isnull(t.ExtraCashPass,0)>0

	   insert into dbo.tVoucherVD(VoucherId, OfficeId, AccountId, OrderId, VDAmount , CSID, CDOE, BatchId)
	   select vchr.Id, tmpv.OfficeId, cvuelad.DebitAccountId, OrderId=3, cvuelad.TotalExp, 
	   CSID=@sessionId, CDOE=GETDATE(), tmpv.BatchId
	   from #TripData tmpv 
	   JOIN dbo.tVouchers vchr ON vchr.BatchId=tmpv.BatchId and vchr.VoucherTypeId=19
	   JOIN 
	   (
		  SELECT 
		  TotalExp=Sum(isnull(e.SettledAmount,0)),
		  e.TripLogId,
		  DebitAccountId=expm.LedgerId
		  from tTripExpenseLog as e 
		  join #TripData tmp on e.TripLogId=tmp.TriplogId
		  join dbo.mExpenseMaster as expm on expm.Id=e.ExpenseTypeId	   
		  where tmp.BatchId=tmp.BatchId
		  GROUP BY e.TripLogId, expm.LedgerId
	   ) AS cvuelad ON cvuelad.TripLogId=tmpv.TripLogId


	   update t set t.SettlementId=st.Id, t.BatchId=st.BatchId , MSID=@sessionId, MDOE=GETDATE()
	   FROM tVehicleMovementLog as t
	   join #TripData tmp on t.Id=tmp.TriplogId
	   join dbo.tTripSettlement st on st.BatchId=tmp.BatchId
	   where st.BatchId=tmp.BatchId

	   update e set e.SettlementId=st.Id, e.SettledAmount=e.ClaimAmount, e.BatchId=st.BatchId, MSID=@sessionId, MDOE=GETDATE() 
	   from tTripExpenseLog as e 
	   join #TripData tmp on e.TripLogId=tmp.TriplogId
	   join dbo.tTripSettlement st on st.BatchId=tmp.BatchId
	   where st.BatchId=tmp.BatchId

	   update a set a.SettlementId=ts.Id, a.BatchId=ts.BatchId, MSID=@sessionId, MDOE=GETDATE() 
	   from tTripAdvanceLog a 
	   join #TripData tmp on a.TripLogId=tmp.TriplogId
	   join dbo.tTripSettlement ts on ts.BatchId=tmp.BatchId
	   where ts.BatchId=tmp.BatchId

	   COMMIT TRAN main	  
    END TRY
    BEGIN CATCH
	   IF(@@TRANCOUNT > 0)
		  ROLLBACK TRAN main;
		  THROW; -- raise error to the client
    END CATCH    
END
GO
