/****** Object:  StoredProcedure [dbo].[Proc_Report_1393]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1393]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1393]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1393]
	@parameter1 bigint--Categoryid
AS

GO
