/****** Object:  StoredProcedure [dbo].[Proc_Report_1401]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1401]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1401]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1401]
	@parameter1 bigint--Categoryid
AS

    --public virtual ResultSet Get1401Data()
    --    {
    --        return null;
    --    }
GO
