/****** Object:  StoredProcedure [dbo].[Proc_Report_1418]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1418]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1418]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1418]
--1418: Old Tyre Stock
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime--todate	
as
begin
	
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		Office = o.OfficeName,
		DocDate = t.VoucherDate,        
        DocNo = t.VoucherNo,
		VendorRefNo = ei.VendorReferenceNo,
		TyreNo = t.TyreNo,
		TyreLife = t.TyreLife,
		BrandName = bm.BrandName,
        Store = dr.FleetAcName,
		Vendor = cr.FleetAcName,
		t.NetAmount,
		t.Remark,
		[Type]=vt.VoucherTypeName,
		NextUse=nu.ConstantName,
		RemovalReason=rr.Name,
		PrevVehicleNo=vm.VehicleNo
		,[PrevStatus]=pntlv.VoucherTypeName,
		KMRun=t.KmRun
	,[PrevStatusDt]=pntl.VoucherDate
	,[NextStatus]=nxtlv.VoucherTypeName
	,[NextStatusDt]=nxtl.VoucherDate
	,t.Id
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLogExtraInfo as ei on CCO.ObjectId=ei.DrAccountId
	join (SELECT RowId=ROW_NUMBER()OVER(PARTITION BY TyreId ORDER BY VoucherDate desc, Id desc),* FROM dbo.tTyreLog) as t on ei.Id=t.ExtraInfoId AND t.RowId=1
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mTyreMaster as tm on tm.Id=t.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	join dbo.mConstantValue as cv on cv.Id=TyreStatusId
	join dbo.mVoucherType as vt on vt.Id=ei.VoucherTypeId
	left join dbo.mConstantValue as nu on nu.Id=t.NextUseId
	left join dbo.mGenericMaster as rr on rr.Id=t.ReasonId
	--left join [dbo].[tTyreCheck] AS [tc] ON [tc].[TyreId] = [t].[TyreId]
	left join dbo.tTyreLog as nxtl on nxtl.Id=t.NextLogId
	left join dbo.tTyreLog as pntl on pntl.Id=t.ParentLogId
	left join dbo.mVehicleMaster vm on vm.Id=pntl.VehicleId
	left join dbo.mVoucherType as nxtlv on nxtlv.Id=nxtl.VoucherTypeId
	left join dbo.mVoucherType as pntlv on pntlv.Id=pntl.VoucherTypeId
	where 
	t.VoucherDate between @parameter4 and @parameter5 and t.TyreStatusId=1100 and t.NextLogId is null
	order by ei.VoucherDate 
end
GO
