/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1647_GetPaymentSummary]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1647_GetPaymentSummary]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1647_GetPaymentSummary]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRNS_1647_GetPaymentSummary]
@parameter1 bigint=0,--Vendor Id
@parameter2 DateTime=NULL,--FromDate
@parameter3 DateTime=NULL,--ToDate
@parameter4 bigint=0--VoucherId
AS
BEGIN
	SELECT 
	[Id]=E.Id,
	[DocumentNo]=E.DocNo,
	[DocumentDate]=E.DocDate,
	[ExpenseAcId]=E.DrAccountId,
	[ExpenseAc]=dr.AccountName,
	[VendorId]=E.CrAccountId,
	[Vendor]=cr.AccountName,
	[OfficeId]=E.OfficeId,
	[Office]=O.OfficeName,
	[LogId]=L.Id,
	[VehicleId]=L.vehicleId,
	[VehicleNo]=VM.VehicleNo,
	[Labourid]=L.LaborId,
	[Labour]=SM.SpareName,
	[Amount]=L.SubTotal,
	[Discount]=L.DiscountAmount,
	--[ServicetaxAmount]=L.ServiceTaxAmount,
	CGSTAc=cg.AccountName,
	CGSTAcId=E.CGSTACId,
	L.CGSTPercent, 
     L.CGSTAmount, 
	SGSTAc=sg.AccountName,
	SGSTAcId=E.SGSTACId,
     L.SGSTPercent, 
     L.SGSTAmount,
	IGSTAc=ig.AccountName,
	IGSTAcId=E.IGSTACId,
     L.IGSTPercent, 
     L.IGSTAmount,
	[NetAmount]=L.SubTotal+L.IGSTAmount+L.CGSTAmount+L.SGSTAmount,
	[Remarks]=L.Remark,
	CalcvatId=e.CalculateVat,
	[VoucherId]=E.VoucherId,
	[RelatedVoucherId]=E.RelatedVoucherId
	FROM [dbo].[tRepairLabourLog] L 
	JOIN [dbo].[tSpareLogExtraInfo] E ON L.ExtraInfoId=E.Id
	Left Join [dbo].[mLedger] dr on E.DrAccountId=dr.Id
	Left Join [dbo].[mLedger] cr on E.CrAccountId=cr.Id
	Left Join [dbo].[mLedger] cg on E.CGSTACId=cg.Id
	Left Join [dbo].[mLedger] sg on E.SGSTACId=sg.Id
	Left Join [dbo].[mLedger] ig on E.IGSTACId=ig.Id
	Left Join [dbo].[mOfficeMaster] O on O.Id=E.OfficeId
	Left Join [dbo].[mVehicleMaster] VM on VM.Id=L.VehicleId
	Left join [dbo].[mSpareMaster] SM on SM.Id=L.LaborId
	WHERE E.VoucherTypeId=83 AND  (@parameter4=E.VoucherId OR (ISNULL(E.RelatedVoucherId,0)=0 AND ISNULL(E.VoucherId,0)=0
	AND E.CrAccountId=@parameter1
   AND E.DocDate between @parameter2 and @parameter3))

END


GO
