/****** Object:  StoredProcedure [dbo].[Proc_Report_1467]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1467]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1467]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1467] 
--1467 Bill Register
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max)--ToDate
As
begin
	declare @RoleId int
	SET @RoleId=(select RoleId from dbo.mObjectCategory where Id=@parameter1)
	
	SET NOCOUNT ON;
	select
	CCO.CategoryName,
	CCO.ClassName,
	t.BillNo,
	t.BillDate,
	BillNature=bn.Name,
	BillingParty=bp.FleetAcName,
	SalesAccount=sl.FleetAcName,
	t.BasicBillAmount,
	t.IGSTAmount,
	t.TotalBillAmount,
	t.IGSTAmount,
	t.Remarks,
	t.CancelDate,
	t.CancelRemarks,
	Createdby=dbo.GetUserBySessionId(t.CSID),
	CDOE=t.CDOE,
	Modifyby=dbo.GetUserBySessionId(t.MSID),
	MDOE=t.MDOE
	from dbo.tCNBillMaster as t
	inner join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1022 then  t.BillingPartyAcId else t.BillOfficeId end)
	inner join dbo.mLedger as bp on bp.Id=t.BillingPartyAcId
	inner join dbo.mLedger as sl on sl.Id=t.SalesAccountId
	inner join dbo.mCNBillNature as bn on bn.Id=t.BillNatureId
	where t.BillDate between @parameter4 and @parameter5 
end

GO
