/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_TLUVoucherV1]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_TLUVoucherV1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_TLUVoucherV1]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * FROM dbo.tTripAdvanceLog

CREATE PROC [dbo].[Proc_Report_1538_TLUVoucherV1] 
	@parameter1 bigint
AS
BEGIN
	select 
		TriplogId=t.Id
		,VoucherNos=VoucherNos
		,TripLogNo=t.TriplogNo
		,TripStartDate=cast(tal.AdvDate as date)
        ,LRD=t.LoadingReachDate
        ,LD=t.LoadingDate
        ,URD=t.UnloadingReachDate
        ,UD=t.UnLoadingDate
        
		,DebitAcI=(Select x.AccountName from dbo.mLedger as x where x.Id=21170)
		,DebitAmountI=tal.ActAdvCash+tal.ReqAdvCard
		,DebitTotal=tal.ActAdvCash+tal.ReqAdvCard
		,CreditAcI=tal.CreditI
		,CreditAmountI=tal.ActAdvCash
		,CreditAcII=tal.CreditII
		,CreditAmountII=tal.ReqAdvCard
		,CreditTotal=tal.ActAdvCash+tal.ReqAdvCard
		
		,DebitCardNo=vm.DebitCardNo
		,DriverName=dr.DriverName
        ,DriverCode=dr.DriverCode
		,TripRoute=rm.Name
		,VehicleNo=case when vm.Id>0 then vm.VehicleNo else hvm.VehicleNo end
		,VehicleRegNo=case when vm.Id>0 then vm.VehicleRegNo else hvm.RegistrationNo end
		,LoadAvg=vm.LoadedMileage
		,EmptyAvg=vm.EmptyMileage
		,Capacity=vm.Capacity
		,FromPlace=fp.CityName
		,ToPlace=tp.CityName
		,ClientName=p.AccountName
		,ClientCode=p.AccountAbbr
		,KmRun=t.KmRun
		,AddKmRun=t.KmRunAdd
		,TotalKm=t.TotalKmRun
		,BdgtFuelQty=case when (case when t.TripNatureId=1075 then vm.LoadedMileage else vm.EmptyMileage end)=0 then 0 else cast((t.TotalKmRun/ (case when t.TripNatureId=1075 then vm.LoadedMileage else vm.EmptyMileage end)) as decimal(18,0)) end
		,FuelPaidQty=tal.FuelPaidQty
		,FuelPaidParticulars=tal.FuelPaidParticulars
		,Narration=''
        ,VehicleModel=case when vm.Id>0 then vmmd.ModelName else hvmmd.ModelName end
        ,VehicleType=case when vm.Id>0 then vmvt.Name else hvmvt.Name end
   
		,t.TripTypeId
		,t.TripNatureId
		,[CreatedBy]='['+ uu.UserName +'] ' + +uu.FirstName + ' ' + uu.LastName
	from dbo.tVehicleMovementLog as t
	left join
	(
		select tal.TripLogId,cast(tal.AdvanceDate as date) as AdvDate
		,ActAdvCash=sum(isnull(case when tal.PaidInId=1430 and tal.AdvanceTypeId=1 then isnull(tal.CashAmount,0) else 0 end,0))
		,CreditI=ISNULL((STUFF((SELECT  ',' + Cast(ISNULL(a.AccountName,'') as varchar(50)) from dbo.mLedger as a join dbo.tTripAdvanceLog as t on a.Id=t.CreditAccountId where t.TriplogId=tal.TriplogId and t.PaidInId=1430 and t.AdvanceTypeId=1 and cast(t.AdvanceDate as date)=cast(tal.AdvanceDate as date)
							FOR XML PATH(''), TYPE, ROOT).value('root[1]','nvarchar(max)'),1,1,'')),'Cash')
		,ReqAdvCard=sum(isnull(case when tal.PaidInId!=1430 and tal.AdvanceTypeId=1 then (CASE WHEN tal.CashAmount>0 THEN tal.CashAmount ELSE isnull(tal.RequestAmount,0) END) else 0 end,0))
		,CreditII=ISNULL((STUFF((SELECT distinct ',' +   Cast(ISNULL(a.AccountName,'') as varchar(50)) from dbo.mLedger as a join dbo.tTripAdvanceLog as t on a.Id=t.CreditAccountId where t.TriplogId=tal.TriplogId and  t.PaidInId!=1430 and t.AdvanceTypeId=1 and cast(t.AdvanceDate as date)=cast(tal.AdvanceDate as date)
							FOR XML PATH(''), TYPE, ROOT).value('root[1]','nvarchar(max)'),1,1,'')),'')
		,FuelPaidQty=sum(isnull(case when tal.AdvanceTypeId=2 then (case when isnull(tal.FuelQty,0)>0 then isnull(tal.FuelQty,0) else isnull(tal.RequestQty,0) end) else 0 end,0))						
		,FuelPaidParticulars=ISNULL((STUFF((SELECT distinct ',' + '[' +cast(ISNULL(a.AccountName,'') as varchar(50))+' - '+cast((case when isnull(t.FuelQty,0)>0 then isnull(t.FuelQty,0) else isnull(t.RequestQty,0) end) as varchar(50)) + ']'  from dbo.mLedger as a join dbo.tTripAdvanceLog as t on a.Id=t.CreditAccountId where t.TriplogId=tal.TriplogId and t.AdvanceTypeId=2 and cast(t.AdvanceDate as date)=cast(tal.AdvanceDate as date)
							FOR XML PATH(''), TYPE, ROOT).value('root[1]','nvarchar(max)'),1,1,'')),'')
		,VoucherNos=max(isnull(tal.VoucherNo,''))
		From dbo.tTripAdvanceLog as tal where tal.AdvanceTypeId in(1,2)		
		group by tal.TriplogId,cast(tal.AdvanceDate as date)
	)as tal on tal.TripLogId=t.Id
	
	left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id
	left join dbo.mGenericMaster as vmvt on vmvt.Id=vm.VehicleTypeId
	left join dbo.mVehicleModel as vmmd on vmmd.Id=vm.VehicleModelId
	left join dbo.mHireVehicle as hvm on t.HireVehicleId=hvm.Id
	left join dbo.mGenericMaster as hvmvt on hvmvt.Id=hvm.VehicleTypeId
	left join dbo.mVehicleModel as hvmmd on hvmmd.Id=hvm.VehicleModelId
	left join dbo.mRouteMaster as rm on rm.Id=t.RouteId
	left join dbo.mCityMaster as fp on fp.Id=rm.FromplaceId
	left join dbo.mCityMaster as tp on tp.Id=rm.ToplaceId
	left join dbo.mDriverMaster as dr on dr.Id=t.Driver1stId
	left join dbo.mPostalAddress as dvadd on dvadd.Id=dr.CurrentAddressId
	left join dbo.mLedger as l on l.Id=t.HireOwnerId
	left join dbo.mLedger as p on p.Id=t.PartyId
	left join dbo.apisessions as ss on ss.Id=t.CSID
	left join dbo.apiusers as uu on uu.Id=ss.UserId
	where t.Id=@parameter1
END

GO
