/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1444_PendingMRN]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1444_PendingMRN]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1444_PendingMRN]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_TRANS_1444_PendingMRN]
@ViewId bigint,
	@RecordId bigint
as
begin
	create table #sessioninfo (DocNumber nvarchar(200),DocDate datetime,CSID bigint,MSID bigint,CDOE datetime,MDOE datetime)
	insert into #sessioninfo(DocNumber,DocDate,CSID,CDOE,MSID,MDOE)
	Select DocNumber=t.VoucherNo,DocDate=t.AdvanceDate,t.CSID,t.CDOE,t.MSID,t.MDOE from dbo.tTripAdvanceLog as t where t.Id=@RecordId 

	select
	t.DocNumber,
	t.DocDate,

	CUserFName=cus.FirstName,
	CUserLName=cus.LastName,
	CDate=t.CDOE,
	
	MUserFName=mus.FirstName,
	MUserLName=mus.LastName,
	MDate=t.MDOE
	from #sessioninfo as t
	left join dbo.ApiSessions as cs on t.CSID=cs.Id
	left join dbo.ApiSessions as ms on t.MSID=ms.Id
	left join dbo.ApiUsers as cus on cus.Id=cs.UserId
	left join dbo.ApiUsers as mus on mus.Id=ms.UserId
end
GO
