/****** Object:  StoredProcedure [dbo].[Proc_Report_1316]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1316]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1316]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	EXEC [Proc_Report_1316] 20018,'','','2016-01-01','2016-10-08'
--select * from mobjectcategory
CREATE proc [dbo].[Proc_Report_1316] 
--1316 driver registeration
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	RegistrationDate = y.RegistrationDate,
	y.DriverCode,
	y.DriverName,
	ContactNumber = y.DriverContactNo1,
	CurrentAddress = ca.AddressLine1 + ',' + ca.AddressLine2 + ',' + ca.AddressLine3,
	PresentAddress = pa.AddressLine1 + ',' + pa.AddressLine2 + ',' + pa.AddressLine3,
	y.ReferenceName,
	DOB = convert(varchar(10),y.DateOfBirth,103),
	y.Age,
	y.MaritalStatus,
	y.LicenceNo,
	y.LicenceDate,
	LicenceExpiryDate = convert(varchar(10),y.ExpiryDate,103),
	Experience = y.ExpInYears,
	BloodGroup = bg.ConstantName

	FROM dbo.mDriverMaster as y
	join dbo.mOfficeMaster as lo on lo.Id=y.OfficeID
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=case when @RoleId=1085 then y.Id else y.OfficeID end
	left join dbo.mPostalAddress as ca on ca.Id=y.CurrentAddressId
	left join dbo.mPostalAddress as pa on ca.Id=y.PermnAddress
	left join dbo.mConstantValue as bg on bg.Id=y.BloodGroupId
	left join dbo.mCityMaster as ct on ct.Id=y.IssuingPlaceId
	WHERE y.RegistrationDate between @parameter4 and @parameter5
	ORDER BY y.RegistrationDate
	
END
GO
