/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_CheckTLDateIntegrity]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1624_CheckTLDateIntegrity]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_CheckTLDateIntegrity]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_TRANS_1624_CheckTLDateIntegrity]
@parameter1 datetime,--@tripStartDate
@parameter2 datetime,--@TripUnloadDate
@parameter3 bigint,--@vehicleId
@parameter4 bigint--@triplogId
AS
SET NOCOUNT ON;
declare @tripdetails nvarchar(150)

select top 1 @tripdetails=t.TriplogNo from dbo.tvehiclemovementlog as t
		left join 
		(
			select max(vt.StartDate)As LastTripDate,vt.TriplogId from dbo.tVTSStatusLog as vt group by vt.TriplogId
		)as vt on vt.TriplogId=t.Id

		where t.VehicleId=@parameter3
		and (
				(t.TripStartDate>=@parameter1 and t.TripStartdate<=@parameter2) 
				or 
				((isnull(isnull(vt.LastTripDate,t.UnloadingDate),getdate())>=@parameter1 and  isnull(isnull(vt.LastTripDate,t.UnloadingDate),getdate())<=@parameter2))
				or
				((t.TripStartdate<=@parameter1) and (isnull(isnull(vt.LastTripDate,t.UnloadingDate),getdate())>=@parameter2))
			)
		and t.Id<>@parameter4
		and (t.TripTypeId=1158 or t.TripNatureId=1076)
order by t.Tripstartdate Desc

if (len(isnull(@tripdetails,''))>0)
begin
	declare @result nvarchar(1000)
	set @result='Cannot update/Insert this triplog as trip/jobsheet already exist between trip Start Date'+ convert(nvarchar(10),@parameter1,103) 
	+' '+ convert(nvarchar(8),@parameter1,108) + 'and unloaddate ' + convert(nvarchar(10),@parameter2,103) +' '+ convert(nvarchar(8),@parameter2,108) +
	+ ' with triplog/jobcard: '+@TripDetails

	raiserror(@result,11,0)
	return;
end
GO
