/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatstd26]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatstd26]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatstd26]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	EXEC [Proc_Report_1538_CNFormatV3] '10'
CREATE proc [dbo].[Proc_Report_1538_BillFormatstd26] 
--1538	Bill Format 1
@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		[Id]=1,
        [BillNo]='billno',
        [Date]=GETDATE(),
        [BillDate]=GETDATE(),
        [Customer]='abc',
        [CustomerAdress]='xyz',	
        [PanNo]='SFFF',
        [TruckCategory]='CMVR',
        [Fromplace]='MUMBAI',
        [DateOfMarching]=GETDATE(),
        [TruckNo]='HR12344',
        [LRNo]='CN-1233',
        [UnloadingDate]=GETDATE(),
        [SimplInvoiceNo]='1234XD',
        [Dealershipname]='Dealershipname',
        [ToPlace]='DELHI',
        [NoOfUnit]=10,
        [differentialKM]=10,
        [TotalKM]=10,
        [RatePerKM]=10,
        [AdditionalCharge]=10,
        [AdditiomalMiltipleDelyCharge]=10,
        [AdditionalAmount]=10,
        [TransportationAmount]=10,
        [Total]=10,
        [TotalAmount]=10,
        [DebAgaRefNumber]='DebAgaRefNumber',
		[Category]='CATEGORY',
        [DelayDamage]='DELAYDAMAGE',
        [DeductionAmount]=10,
        [CheckedBy]='CHECKEBY',
        [ApprovedBy]='APPROVEDBY',
        [TotalINR]=10,
        [Remark]='IF ANY TESTING'
	   
	
END
GO
