/****** Object:  StoredProcedure [dbo].[Proc_Report_1294]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1294]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1294]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1294]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime--todate	
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		Office = o.OfficeName,
		DocDate = t.VoucherDate,        
        DocNo = t.VoucherNo,
		Store = dr.FleetAcName,
		Vendor = cr.FleetAcName,
		VendorRefNo = ei.VendorReferenceNo,
		TyreNo = t.TyreNo,
		TyreLife = t.TyreLife,
		BrandName = bm.BrandName,
		ProdMonth=tm.ProdMonth,       
		
		PONo = po.PONo,
		TyreRate=t.Rate,
		t.DiscountAmount,
		t.CGSTAmount,
		t.SGSTAmount,
		t.IGSTAmount,
		t.OtherAmount,
		t.FlapRate,
		t.FlapDiscountAmount,
		t.FlapCGSTAmount,
		t.FlapSGSTAmount,
		t.FlapIGSTAmount,
		t.FlapOtherAmount,
		t.TubeRate,
		t.TubeDiscountAmount,
		t.TubeCGSTAmount,
		t.TubeSGSTAmount,
		t.TubeIGSTAmount,
		t.TubeOtherAmount,
		NetCGST=t.CGSTAmount+t.FlapCGSTAmount+t.TubeCGSTAmount,
		NetSGST=t.SGSTAmount+t.FlapSGSTAmount+t.TubeSGSTAmount,
		NetIGST=t.IGSTAmount+t.FlapIGSTAmount+t.TubeIGSTAmount,
		NetOtherAmt=t.OtherAmount+t.FlapOtherAmount+t.TubeOtherAmount,
		NetAmount=t.NetAmount+t.OtherAmount+t.FlapOtherAmount+t.TubeOtherAmount+(case when ei.CalVat=1 then (t.CGSTAmount+t.FlapCGSTAmount+t.TubeCGSTAmount+t.SGSTAmount+t.FlapSGSTAmount+t.TubeSGSTAmount+t.IGSTAmount+t.FlapIGSTAmount+t.TubeIGSTAmount) ELSE 0 END),
		t.Remark
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLogExtraInfo as ei on CCO.ObjectId=(CASE @RoleId When 1029 THEN  ei.DrAccountId WHEN 1031 THEN ei.CrAccountId end)
	join dbo.tTyreLog as t on ei.Id=t.ExtraInfoId 
	  
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mTyreMaster as tm on tm.Id=t.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	left join dbo.tPurchaseOrder as po on po.Id=t.PurchaseOrderId
	where t.VoucherDate between @parameter4 and @parameter5 and (t.VoucherTypeId In(27,66))
	order by ei.VoucherDate
end
GO
