/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1499_CheckTLDateIntegrity]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1499_CheckTLDateIntegrity]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1499_CheckTLDateIntegrity]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [Proc_TRANS_1499_CheckTLDateIntegrity] '2017-01-01','2017-04-01',110850,0
CREATE PROC [dbo].[Proc_TRANS_1499_CheckTLDateIntegrity]
@parameter1 datetime,--@tripStartDate
@parameter2 datetime,--@TripUnloadDate
@parameter3 bigint,--@vehicleId
@parameter4 bigint,--@triplogId
@parameter5 int=0,--0:return message 1):raise expcetion
@parameter6 bigint=1158,--TripTypeId
@parameter7 bigint--TripNature
AS
SET NOCOUNT ON;
IF(@parameter2 IS NULL)
BEGIN
SET @parameter2=GETDATE()
END
DECLARE @ChainStatus int=(SELECT TOP 1 CAST([Value] as int) FROM [dbo].[ApiConfigurations] WHERE Id='TripLogJobcardChainingStatus')
declare @tripdetails nvarchar(150)
set @tripdetails=''
select top 1 @tripdetails=t.TriplogNo from dbo.tvehiclemovementlog as t
		left join 
		(
			select max(vt.StartDate)As LastTripDate,vt.TriplogId from dbo.tVTSStatusLog as vt group by vt.TriplogId
		)as vt on vt.TriplogId=t.Id

		where ((@parameter6=1158 AND t.VehicleId=@parameter3) OR(@parameter6=1160 AND t.HireVehicleId=@parameter3))
		and (
				(t.TripStartDate between @parameter1 AND @parameter2) 
				or 
				(((CASE WHEN t.UnloadingDate IS NULL THEN GETDATE() ELSE isnull(vt.LastTripDate,t.UnloadingDate) END) between @parameter1 and  @parameter2))
				or
				((t.TripStartdate<=@parameter1) and ((CASE WHEN t.UnloadingDate IS NULL THEN GETDATE() ELSE isnull(vt.LastTripDate,t.UnloadingDate) END)>=@parameter2))
			)
		and t.Id<>@parameter4
		and (t.TripTypeId IN(1158,1160) or t.TripNatureId=1076) AND ((@ChainStatus=0 AND t.TripTypeId in(1158, 1159, 1160)) OR  (@ChainStatus=1 AND t.TripTypeId=@parameter6))
order by t.Tripstartdate Desc

if (len(isnull(@tripdetails,''))>0)
begin
	declare @result nvarchar(1000)
	set @result='Cannot update/Insert this triplog as trip/jobsheet already exist between trip Start Date ['+ convert(nvarchar(10),@parameter1,103) 
	+'] '+ convert(nvarchar(8),@parameter1,108) + ' and unloaddate [' + convert(nvarchar(10),@parameter2,103) +' '+ convert(nvarchar(8),@parameter2,108) +
	+ '] with triplog/jobcard: '+@TripDetails

	if(@parameter5=0)
	begin
		select @result as Result
	end
	else
	begin
		raiserror(@result,11,0)
	end
	return;
end
else
begin
	select '' as Result
end
GO
