/****** Object:  StoredProcedure [dbo].[Proc_Report_1318]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1318]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1318]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1318] 20018,'','','2010-01-01','2017-10-10'
--	select * from dbo.mObjectCategory
--	Select * from apiviews where id=1307
--	Select * from dbo.mConstantValue where constanttypeid=87
--	select * from dbo.tBatteryLog where VoucherTypeId=33

CREATE PROC [dbo].[Proc_Report_1318]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)--AccountIds
	
as
begin

	select  
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	dvr.DriverName,
	dvr.DriverCode,
	t.StatusDate,
	vm.VehicleRegNo,
	VehicleType=vt.Name,
	DriverRole=dr.ConstantName,
	DriverStatus=ds.ConstantName,
	RemovalReason=rr.Name,
	t.Remark
	from dbo.tDriverVehicleMapping as t
	join dbo.mDriverMaster as dvr on dvr.ID=t.DriverId
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=t.DriverId
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mGenericMaster as vt on vt.Id=vm.VehicleTypeId
	left join dbo.mGenericMaster as rr on rr.ID=t.DriverReasonId
	left join dbo.mConstantValue as dr on dr.Id=t.DriverRoleId
	left join dbo.mConstantValue as ds on ds.Id=t.DriverStatusId
	where isnull(t.NextLogId,0) =0
	order by t.StatusDate
	
end
GO
