/****** Object:  StoredProcedure [dbo].[Proc_Report_1469]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1469]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1469]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select top 10 * from tReportRequestPool order by id desc
--	SELECT * FROM mobjectcategory

-- Proc_Report_1469 '30015','','','2016-08-01','2016-10-10','2'
CREATE PROC  [dbo].[Proc_Report_1469] 
	--1468		CN Outstanding Partywise/Officewise
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 nvarchar(max)--GroupBy 1:Party,2:Office
As
BEGIN
	set @parameter2=isnull(@parameter2,'')
	set @parameter3=isnull(@parameter3,'')
	set @parameter6=isnull(@parameter6,'')

	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	declare @sqlstring1 nvarchar(max),@sqlstring2 nvarchar(max),@sqlstring3 nvarchar(max),@sqlstring4 nvarchar(max),@groupbycn nvarchar(100),@groupbycnub nvarchar(100),@groupbybl nvarchar(100),@groupbycol nvarchar(100),@groupbyrc nvarchar(100),@ObjectIdcn nvarchar(100)
	,@ObjectIdbl nvarchar(100),@ObjectIdrc nvarchar(100),@ObjectIdcnub nvarchar(100),@ObjectIdonc nvarchar(100),@groupbyonc nvarchar(100),@paramterinfo nvarchar(max)

	set @ObjectIdcn=(case @RoleId when 1022 then  'cn.BillingPartyId' else 'cn.LoadingOfficeId' end)
	set @groupbycn=(case @parameter6 when 1 then  'cn.BillingPartyId' when 2 then 'cn.LoadingOfficeId' end)
	
	set @ObjectIdrc=(case @RoleId when 1022 then  'bpl.AccountId' else 'bm.RecoveryOfficeId' end)
	set @groupbyrc=(case @parameter6 when 1 then  'bpl.AccountId' when 2 then 'bm.RecoveryOfficeId' end)
	
	set @ObjectIdbl=(case @RoleId when 1022 then  'bm.BillingPartyAcId' else ' (case when bm.BillSubDate is not null then bm.RecoveryOfficeId else bm.BillOfficeId end) ' end)
	set @groupbybl=(case @parameter6 when 1 then  'bm.BillingPartyAcId' when 2 then '(case when bm.BillSubDate is not null then bm.RecoveryOfficeId else bm.BillOfficeId end)' end)
	
	set @ObjectIdcnub=(case @RoleId when 1022 then  'cn.BillingPartyId' else 'cn.BillingOfficeId' end)
	set @groupbycnub=(case @parameter6 when 1 then  'cn.BillingPartyId' when 2 then 'cn.BillingOfficeId' end)	

	set @ObjectIdonc=(case @RoleId when 1022 then  'bpl.AccountId' else 'bpl.OfficeId' end)
	set @groupbyonc=(case @parameter6 when 1 then  'bpl.AccountId' when 2 then 'bpl.OfficeId' end)

	set @groupbycol=(case @parameter6 when 1 then  'g.FleetAcName' when 2 then 'g.OfficeName' end)


	set @sqlstring1=N'
	SET NOCOUNT ON;
	SELECT 
	ccf.CategoryName,
	ccf.ClassName,
	[GroupBy1]=ccf.ObjectName,
	[GroupBy2]='+ @groupbycol +',
	
	op_Unbilled=ISNULL(ppx.OpUnBilledAmount,0), 
	op_UnPaid=ISNULL(ppxx.OpPymtNotReceived,0),
	op_OnAccount=ISNULL(oponc.OnAccountOpening,0),
	
	new_Booking=ISNULL(p.Booking,0),
	new_UnBilled=ISNULL(cnub.UnBilled,0),
	new_OnAccount=ISNULL(nonc.OnAccountCollection,0),

	Billed=ISNULL(px.Billed,0),
	RecoveryAmt=isnull(rc.RecoveryAmt,0),
	
	
	cl_Unbilled=ISNULL(ppx.OpUnBilledAmount,0)+ISNULL(p.Booking,0)-ISNULL(px.Billed,0),
	cl_Unpaid=ISNULL(ppxx.OpPymtNotReceived,0)+ISNULL(px.Billed,0)-isnull(rc.RecoveryAmt,0),
	cl_OnAccount=ISNULL(conc.OnAccountClosing,0),
	cl_NetAmount=(ISNULL(ppx.OpUnBilledAmount,0)+ISNULL(p.Booking,0)-ISNULL(px.Billed,0))+ISNULL(ppxx.OpPymtNotReceived,0)+ISNULL(px.Billed,0)-isnull(rc.RecoveryAmt,0)-isnull(conc.OnAccountClosing,0)
	
	from dbo.CCO(@parameter1,''@parameter2'',''@parameter3'') as ccf '+ (case when (@RoleId=1022 and @parameter6=1) or (@RoleId<>1022 and @parameter6=2) then  ' inner join ' else ' cross join ' end) + (case @parameter6 when 2 then  'dbo.mOfficeMaster ' else ' dbo.mLedger ' end) +' as g '+ (case when (@RoleId=1022 and @parameter6=1) or (@RoleId<>1022 and @parameter6=2) then  ' on ccf.ObjectId=g.Id ' else ' ' end)+''
	set @sqlstring1=REPLACE(@sqlstring1,'@parameter1',@parameter1)
	set @sqlstring1=REPLACE(@sqlstring1,'@parameter2',@parameter2)
	set @sqlstring1=REPLACE(@sqlstring1,'@parameter3',@parameter3)

	set @sqlstring2=N'
	left join
	(
		Select ObjectId= '+ @ObjectIdcn +',GroupById='+ @groupbycn +',OpUnBilledAmount=sum(isnull(cn.CNTotalFreight,0))
		from dbo.tCNMaster as cn
		where cn.CNDate<''@parameter4'' and cn.CNTypeId<>1369 and cn.BillId IS NULL
		group by '+ @ObjectIdcn +','+ @groupbycn +'
	) as ppx on ppx.ObjectId=ccf.ObjectId and ppx.GroupById=g.Id
	left join
	(
		Select ObjectId= '+ @ObjectIdbl +',GroupById='+ @groupbybl +',OpPymtNotReceived=sum(isnull(bl.TotalBillAmount,0)-isnull(pd.OpCNpayment,0))		
		from dbo.tCNBillLog as bl 
		inner join dbo.tCNBillMaster as bm on bm.Id=bl.BillId
		left join 
		(
			Select bpl.CNId,bpl.BillId,Sum(bpl.Amount) as OpCNpayment from dbo.tCNBillpaymentLog as bpl 
			inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id 
			where bp.documentdate<''@parameter4''
			group by bpl.CNId,bpl.BillId
		)as pd on pd.CNId=bl.CNId and pd.BillId=bl.BillId
		where bm.BillDate<''@parameter4''  
		group by '+ @ObjectIdbl +','+ @groupbybl +'
		having sum(isnull(bl.TotalBillAmount,0)-isnull(pd.OpCNpayment,0))>0
	) as ppxx on ppxx.ObjectId=ccf.ObjectId and ppxx.GroupById=g.Id
	left join
	(
		Select ObjectId= '+ @ObjectIdonc +',GroupById='+ @groupbyonc +',OnAccountOpening=Sum((ISNULL(bpl.Amount,0)-isnull(oncs.settledamt,0)))	
		from dbo.tCNBillPaymentLog as bpl 
		inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id
		left join 
		(
			select settledamt=Sum(bpl.Amount),bpl.OnAccountRefId 
			from dbo.tCNBillpaymentLog as bpl 
			inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id 
			where (bp.documentdate<''@parameter4'') 
			group by bpl.OnAccountRefId
		)as oncs on oncs.OnAccountRefId=bpl.Id 
		where (bp.documentdate<''@parameter4'') 
		group by '+ @ObjectIdonc +','+ @groupbyonc +'
	) as oponc on oponc.ObjectId=ccf.ObjectId and oponc.GroupById=g.Id
	left join 
	(
		Select ObjectId= '+ @ObjectIdcn +',GroupById='+ @groupbycn +',Booking=Sum(isnull(cn.CNTotalFreight,0))
		from dbo.tCNMaster as cn
		where (cn.CNDate>=''@parameter4'' and cn.CNDate<=''@parameter5'') and cn.CNTypeId<>1369
		group by '+ @ObjectIdcn +','+ @groupbycn +'
	)as p on p.ObjectId=ccf.ObjectId and p.GroupById=g.Id
	left join 
	(
		Select ObjectId= '+ @ObjectIdcnub +',GroupById='+ @groupbycnub +',UnBilled=sum(isnull(cn.CNTotalFreight,0))
		from dbo.tCNMaster as cn
		where (cn.CNDate>=''@parameter4'' and cn.CNDate<=''@parameter5'') and cn.CNTypeId<>1369 and cn.BillId IS NULL and cn.PODDate IS NOT NULL
		group by '+ @ObjectIdcnub +','+ @groupbycnub +'
	)as cnub on cnub.ObjectId=ccf.ObjectId and cnub.GroupById=g.Id
	left join 
	(
		Select ObjectId= '+ @ObjectIdbl +',GroupById='+ @groupbybl +',Billed=Sum(isnull(bl.TotalBillAmount,0))
		from dbo.tCNBillMaster as bm
		inner join tCNBillLog as bl on bm.Id=bl.BillId
		where (bm.BillDate>=''@parameter4'' and bm.BillDate<=''@parameter5'') 
		group by '+ @ObjectIdbl +','+ @groupbybl +'
	)as px on px.ObjectId=ccf.ObjectId and px.GroupById=g.Id'
	
	set @sqlstring3=N'
	
	left join
	(
		Select ObjectId= '+ @ObjectIdrc +',GroupById='+ @groupbyrc +',RecoveryAmt=Sum(bpl.Amount)	
		from dbo.tCNBillpaymentLog as bpl 
		inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id
		inner join dbo.tCNBillMaster as bm on bpl.BillId=bm.Id 
		where (bp.documentdate>=''@parameter4'' and bp.documentdate<=''@parameter5'')
		group by '+ @ObjectIdrc +','+ @groupbyrc +'
	) as rc on rc.ObjectId=ccf.ObjectId and rc.GroupById=g.Id
	left join
	(
		Select ObjectId= '+ @ObjectIdonc +',GroupById='+ @groupbyonc +',OnAccountCollection=Sum(ISNULL(bpl.Amount,0))	
		from dbo.tCNBillPaymentLog as bpl 
		inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id
		where (bp.documentdate>=''@parameter4'' and bp.documentdate<=''@parameter5'')
		group by '+ @ObjectIdonc +','+ @groupbyonc +'
	) as nonc on nonc.ObjectId=ccf.ObjectId and nonc.GroupById=g.Id
	left join
	(
		Select ObjectId= '+ @ObjectIdonc +',GroupById='+ @groupbyonc +',OnAccountClosing=Sum((ISNULL(bpl.Amount,0)-isnull(oncs.settledamt,0)))	
		from dbo.tCNBillPaymentLog as bpl 
		inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id
		left join 
		(
			select settledamt=Sum(bpl.Amount),bpl.OnAccountRefId 
			from dbo.tCNBillpaymentLog as bpl 
			inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id 
			where (bp.documentdate<=''@parameter5'') 
			group by bpl.OnAccountRefId
		)as oncs on oncs.OnAccountRefId=bpl.Id 
		where (bp.documentdate<=''@parameter5'') 
		group by '+ @ObjectIdonc +','+ @groupbyonc +'
	) as conc on conc.ObjectId=ccf.ObjectId and conc.GroupById=g.Id  '
	
	
	set @sqlstring1=REPLACE(REPLACE(@sqlstring1,'@parameter4',@parameter4),'@parameter5',@parameter5)
	set @sqlstring2=REPLACE(REPLACE(@sqlstring2,'@parameter4',@parameter4),'@parameter5',@parameter5)
	set @sqlstring3=REPLACE(REPLACE(@sqlstring3,'@parameter4',@parameter4),'@parameter5',@parameter5)
	print @sqlstring1 
	print @sqlstring2 
	print @sqlstring3

	EXEC(@sqlstring1+@sqlstring2+@sqlstring3)

	
END

GO
