/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1005_UpdateDriverInTL]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1005_UpdateDriverInTL]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1005_UpdateDriverInTL]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_TRNS_1005_UpdateDriverInTL]

	@Parameter1 as bigint,
	@Parameter2 as bigint

as
begin
	update dbo.tVehicleMovementLog set Driver1stId=@Parameter2 where Id=@Parameter1
end
 
 
GO
