/****** Object:  StoredProcedure [dbo].[Proc_Report_1394]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1394]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1394]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1394]
	@parameter1 bigint--Categoryid
AS

       --public virtual ResultSet Get1394Data()
       -- {
       --     try
       --     {
       --         var resultSet = new ResultSet
       --         {
       --             ParameterInfo =
       --                 $"Parameter Info : Category : {Parameters.CategoryName}{(Parameters.SelectedClasses != null ? " ,Classes : " + Parameters.SelectedClasses.JoinStrings(",") : "")},Date Range: From - {Parameters.FromDate.GetValueOrDefault().Date.ToString("dd-MM-yy")} and To - {Parameters.ToDate.GetValueOrDefault().Date.ToString("dd-MM-yy")}"
       --         };

       --         var query = GApi.Instance.Connection.GetCCFData_1394(Parameters.ClassIds.JoinStrings(","),
       --              Parameters.ObjectIds.JoinStrings(","), Parameters.CategoryId.GetValueOrDefault(0),
       --             Parameters.FromDate.GetValueOrDefault(), Parameters.ToDate.GetValueOrDefault()).ToList();

       --         var data = query.Select(y => new
       --         {
       --             y.CategoryName,
       --             y.ClassName,
       --             y.DriverName,
       --             y.VehicleNo,
       --             y.StartDate,
       --             y.EndDate,
       --             y.SettledDate,
       --             y.TripNo,
       --             y.RouteName,
       --             y.TLCount,
       --             y.Days,
       --             y.TotKmRun,
       --             y.Freight,
       --             y.TripAdv,
       --             y.TripExp,
       --             y.Diff,
       --             y.FuelExp,
       --             y.BdgtFuelQty,
       --             y.ActualFuelQty,
       --             y.ExtraFuelQty,
       --             y.FNet,
       --             Perday = (y.Days == 0 ? 0 : y.FNet / y.Days),
       --             Perkm = (y.TotKmRun == 0 ? 0 : y.FNet / y.TotKmRun)
       --         });
       --         resultSet.DataSource = data.AsQueryable();
       --         return resultSet;
       --     }
       --     catch (Exception ex)
       --     {
       --         ex.ToExceptionless().AddObject(Parameters).Submit();
       --         return null;
       --     }
       -- }
GO
