/****** Object:  StoredProcedure [dbo].[Proc_Report_1425]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1425]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1425]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	[Proc_Report_1425] '2015-01-01','2016-12-27','',2
CREATE PROC [dbo].[Proc_Report_1425]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--FromDate
	@parameter5 datetime,--ToDate
	@parameter6 nvarchar(max) --brandlist
as
begin
	
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		VehicleNo = CCO.ObjectName,
        TyreNo = tm.TyreNo,
        BrandName = bm.BrandName,
        CurrentWP = wp.Name,
        CurrentNSD = tc.TreadDepth,
        StandardNSD = bm.STD,
		MinimumNSD = bm.MinNSD,
        TyreErosion = bm.STD-tc.TreadDepth,
        TotalMileage = tt.TotalMileage,
        ErosionRate = case when (bm.STD-tc.TreadDepth)= 0 then  0 else  tt.TotalMileage/(bm.STD-tc.TreadDepth) end,
		LeftNSD = (tc.TreadDepth-bm.MinNSD),
        ProjectedKM = (tc.TreadDepth-bm.minNsd)*(case when (bm.STD-tc.TreadDepth)= 0 then  0 else  tt.TotalMileage/(bm.STD-tc.TreadDepth) end)
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreCheck tc on tc.VehicleID=CCO.ObjectId
	join dbo.mTyreMaster as tm on tm.Id=tc.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	join dbo.mVehicleMaster as vm on vm.Id=tc.VehicleId
	join dbo.mGenericMaster as wp on wp.Id=tc.WPID
	left join
	(
		select sum(tt.KmRun) as TotalMileage,tt.TyreId from dbo.tTyreCheck as tt Group By tt.TyreId
	)tt on tt.TyreId=tc.TyreId
	where tc.NextLogId is null
	and (case when len(isnull(@parameter6,''))=0 then 1 when len(@parameter6)>0 and tm.BrandId in(select item from dbo.SplitCommaString(@parameter6)) then 1  else 0 end)=1	
	
end
GO
