/****** Object:  StoredProcedure [dbo].[Proc_Report_1661]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1661]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1661]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec [Proc_Report_1661] 1522,'',55512,'','','','O'
CREATE proc [dbo].[Proc_Report_1661]
	@parameter1 bigint,-- VehicleID
	@parameter2 bigint=0,-- CNID
	@parameter3 bigint=0,--TriplogId
	@parameter4 nvarchar(10),--ReachDate
	@parameter5 nvarchar(10),--UnloadDate
	@parameter6 nvarchar(10), --PodDate
	@parameter7 nvarchar(1), --VehicleType
	@parameter8 nvarchar(50)='' --Reference No
as
begin
	set @parameter3=case when @parameter3='' then 0 else @parameter3 end
	set @parameter2=case when @parameter2='' then 0 else @parameter2 end

	select t.*,VehicleNo=isnull(vm.VehicleNo,hvm.VehicleNo) from (
	select
	Id = x.Id,
	CNId = x.CNId,
	CnNo = cn.CNNo,
	cn.CNDate,
	TriplogId=vml.Id,
	vml.TriplogNo,
	PODStatusId = isnull(x.PodStatusId,0),
	PODStatus = ps.[Name],
	ReachDate = x.ReachDate,
	UnloadDate = x.UnloadDate,
	PODDate = x.PODDate,
	ScratchQty = x.ScratchQty,
	ScratchAmt = x.ScratchAmount,
	DamageQty = x.DamageQty,
	DamageAmt = x.DamageAmount,
	ShortageQty = x.ShortageQty,
	ShortageAmt = x.ShortageAmount,
	Remark = x.Remark,
	IsPodOk = x.IsPodOk,
	x.ReferenceNo,
	VehicleId=isnull(isnull(cn.VehicleId,cn.HireVehicleId),isnull(vml.VehicleId,vml.HireVehicleId)),
	HO=case when cn.HireVehicleId>0 or vml.HireVehicleId>0 then 'H' else 'O' end,
	FTN=cast(x.Id as nvarchar(10))+'-'+cast('1663' as nvarchar(10))
	from dbo.mCNExtraInfo as x
	left join dbo.tCNMaster as cn on cn.ID=x.CnId
	left join dbo.tCNChallan ch on cn.Id=ch.CNId
	left join dbo.tVehicleMovementlog as vml on vml.ID=ISNULL(x.TriplogId,ch.TriplogId)
	left join dbo.mGenericMaster as ps on ps.ID=x.PodStatusId
	left join dbo.mLedger as a on a.Id=(case when isnull(cn.Id,0)>0 then cn.BillingPartyId else vml.PartyId end)
	left join dbo.mRouteMaster as rt on rt.Id=(case when isnull(cn.Id,0)>0 then cn.ChgRouteId else vml.RouteId end)
	where 
	(case when isnull(@parameter7,'O')='O' and (x.CNId>0 and @parameter1=cn.VehicleId) or (x.TripLogId>0 and vml.VehicleId=@parameter1) then 1
	when isnull(@parameter7,'O')='H' and (x.CNId>0 and @parameter1=cn.HireVehicleId) or (x.TripLogId>0 and vml.HireVehicleId=@parameter1) then 1 else 0 end)=1
	and (case when isnull(@parameter2,0)=0 then 1 when ISNULL(cn.Id,0)=isnull(@parameter2,0) then 1 else 0 end)=1
	and (case when isnull(@parameter3,0)=0 then 1 when ISNULL(vml.Id,0)=@parameter3 then 1 else 0 end)=1
	and (case when len(isnull(@parameter4,''))=0 then 1 when month(x.ReachDate)=month(@parameter4) then 1 else 0 end)=1
	and (case when len(isnull(@parameter5,''))=0 then 1 when month(@parameter5)=month(x.UnloadDate) then 1 else 0 end)=1
	and (case when len(isnull(@parameter6,''))=0 then 1 when month(@parameter6)=month(x.PODDate) then 1 else 0 end)=1
)as t
left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId and t.HO='O'
left join dbo.mHireVehicle as hvm on hvm.Id=t.VehicleId and t.HO='H'
end

--go exec [dbo].[Proc_Report_1661] 100135,NULL,NULL, NULL, NULL,NULL,'O'

select * from mVehicleMaster where VehicleNo like '%0002HR55L%'
GO
