/****** Object:  StoredProcedure [dbo].[Proc_Report_1538]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	exec [Proc_Report_1538] 1514,'2015-01-01','2017-01-01',4,0,0,0,''

CREATE PROC [dbo].[Proc_Report_1538]
	@parameter1 bigint,--ReportId
	@parameter2 DateTime,--FromDate
	@parameter3 DateTime,--ToDate
	@parameter4 bigint,--Office
	@parameter5 bigint,--Party
	@parameter6 bigint,--Consignee
	@parameter7 bigint,--Consignor
	@parameter8 nvarchar(500)--Freetext
as
begin	
	set @parameter8='%'+ isnull(@parameter8,'') +'%'
	if(@parameter1=1480)
	begin
		select
		[Select]=cast(0 as bit),
		bl.Id,
		ofc.OfficeName,
		BillNo=bl.BillNo,
		BillDate=convert(varchar(10),bl.BillDate,103),
		BL.BillSubDate,
		bl.TotalBillAmount,
		bl.Remarks
		from dbo.tCNBillMaster as bl
		left join dbo.mOfficeMaster as ofc on ofc.Id=bl.BillOfficeId
		where bl.BillDate between @parameter2 and @parameter3 
		and (bl.BillNo like @parameter8)
		order by bl.BillDate
	end
	else if(@parameter1=1514)
	begin
		select
		[Select]=cast(0 as bit),
		ofc.OfficeName,
		LRNo=cn.CNNo,
		LRDate=cn.CNDate,
		cn.ActualQty,
		cn.Rate,
		cn.CNTotalFreight,
		BillParty=blp.FleetAcName,
		Consignor=cnr.FleetAcName,
		Consignee=cne.FleetAcName,
		
		LRMaterial=cn.MaterialInfo,
		cn.Remark,
		cn.Id
		from dbo.tCNMaster as cn
		left join dbo.mOfficeMaster as ofc on ofc.Id=cn.LoadingOfficeId
		left join dbo.mLedger as blp on blp.Id=cn.BillingPartyId
		left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
		left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
		where cn.CNDate between @parameter2 and @parameter3 
		and (cn.CNNo like @parameter8)
		and (case when @parameter4=0 then 1 when @parameter4>0 and cn.LoadingOfficeId=@parameter4  then 1 else 0 end)=1
		and (case when  @parameter5=0 then 1 when @parameter5>0 and cn.BillingPartyId=@parameter5  then 1 else 0 end)=1
		and (case when  @parameter6=0 then 1 when @parameter6>0 and cn.ConsigneeId=@parameter6  then 1 else 0 end)=1
		and (case when  @parameter7=0 then 1 when @parameter7>0 and cn.ConsignorId=@parameter7  then 1 else 0 end)=1
		order by cn.CNDate 
	end
end
GO
