/****** Object:  StoredProcedure [dbo].[Proc_TRANS_Offline_GetMasters]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_Offline_GetMasters]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_Offline_GetMasters]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_Offline_GetMasters]
@parameter1 bigint,--MasterTypeId
@parameter2 nvarchar(max)--Id Array
AS
BEGIN
	IF(@parameter1=1004)
	BEGIN
	SELECT * from mCityMaster
	END
END
GO
