/****** Object:  StoredProcedure [dbo].[Proc_Report_1630]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1630]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1630]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec Proc_Report_1630 103,'2017-06-01','',''
CREATE PROC [dbo].[Proc_Report_1630]
--1630: Partywise Transit Stock
@parameter1 bigint,--OfficeId
@parameter2 date,--FromDate
@parameter4 bigint,--Consignee
@parameter5 bigint--Consignor
as
begin
	select
	 ofc.OfficeName
	,tl.TriplogNo
	,tl.TripStartDate
	,[VehicleNo]=case when tl.TripTypeId=1160 then hvm.RegistrationNo else vm.VehicleRegNo end
	,[O]=case when tl.TripTypeId=1160 then 'H' else 'O' end
	,[Consignor]=cnr.FleetAcName
	,[Consignee]=cne.FleetAcName
	,[LRNo]=cn.CNNo
	,[PartCode]=matm.Code
	,[PartName]=matm.Name
	,[TransitQty]=sum(isnull(i.OutQty,0))
	from dbo.tCNStockLog  as i2 
	left join dbo.tCNStockMMLog  as i on i2.Id=i.StockLogId
	left join dbo.tCNMaster as cn on cn.Id=i2.CNId
	left join dbo.mMaterialMaster as matm on matm.Id=i.MaterialId
	left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	left join dbo.mOfficeMaster as ofc on ofc.Id=i2.OfficeId 
	left join dbo.tVehicleMovementLog as tl on tl.Id=i2.TriplogId
	left join dbo.mHireVehicle as hvm on tl.HireVehicleId=hvm.Id
	left join dbo.mVehicleMaster as vm on tl.VehicleId=vm.Id
	where i2.LogTypeId=1424 and cast(i2.LogDate as date) <= @parameter2
	and i2.OfficeId=@parameter1
	and (case when @parameter4=0 then 1 when @parameter4>0 and cn.ConsigneeId=@parameter4 then 1 else 0 end)=1
	and (case when @parameter5=0 then 1 when @parameter5>0 and cn.ConsignorId=@parameter5 then 1 else 0 end)=1
	group by ofc.OfficeName,tl.TriplogNo,tl.TripStartDate,case when tl.TripTypeId=1160 then 'H' else 'O' end,case when tl.TripTypeId=1160 then hvm.RegistrationNo else vm.VehicleRegNo end,cne.FleetAcName,cnr.FleetAcName,cn.CNNo,matm.Code,matm.Name

	
end


GO
