/****** Object:  StoredProcedure [dbo].[Proc_Report_1466]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1466]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1466]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	SELECT * FROM mobjectcategory

-- Proc_Report_1466 '30015','','','2016-08-01','2016-10-10','1'
CREATE PROC  [dbo].[Proc_Report_1466] 
--1466		Unbilled CNs Summary
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max),--ToDate
@parameter6 nvarchar(max)--GroupBy 1:Party,2:Office
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	declare @sqlstring nvarchar(max),@groupby nvarchar(500),@groupbycol nvarchar(500),@ObjectId nvarchar(100),@paramterinfo nvarchar(max)

	set @ObjectId=(case @RoleId when 1022 then  't.BillingPartyId' else 't.BillingOfficeId' end)
	set @groupby=(case @parameter6 when 1 then  't.BillingPartyId' when 2 then 't.BillingOfficeId' end)
	set @groupbycol=(case @parameter6 when 1 then  'g.FleetAcName' when 2 then 'g.OfficeName' end)

	set @sqlstring=N'
	SET NOCOUNT ON;
	SELECT 
	ccf.CategoryName,
	ccf.ClassName,
	[GroupBy1]=ccf.ObjectName,
	[GroupBy2]='+ @groupbycol +',
	OpUnbilled=ISNULL(pp.OpUnbilled,0),
	PeriodUnbilled=ISNULL(p.PeriodUnbilled,0),
	ClUnbilled=ISNULL(pp.OpUnbilled,0)+ISNULL(p.PeriodUnbilled,0)	
	from dbo.CCO(@parameter1,@parameter2,@parameter3) as ccf cross join '+ (case @parameter6 when 2 then  'dbo.mOfficeMaster ' else ' dbo.mLedger ' end) +' as g
	left join 
	(
		Select ObjectId= '+ @ObjectId +',GroupById='+ @groupby +',PeriodUnbilled=sum(isnull(t.CNTotalFreight,0)) from dbo.tCNMaster as t 
		where (t.CNDate>=@parameter4 and t.CNDate<=@parameter5 and t.BillId IS NULL and t.IsZeroFreightCN=0)
		group by '+ @ObjectId +','+ @groupby +'
	)as p on p.ObjectId=ccf.ObjectId and p.GroupById=g.Id
	left join
	(
		Select ObjectId= '+ @ObjectId +',GroupById='+ @groupby +',OpUnbilled=sum(isnull(t.CNTotalFreight,0)) from dbo.tCNMaster as t 
		where t.CNDate<@parameter4 and t.BillId IS NULL and t.IsZeroFreightCN=0
		group by '+ @ObjectId +','+ @groupby +'
	) as pp on pp.ObjectId=ccf.ObjectId and pp.GroupById=g.Id

	where (ISNULL(pp.OpUnbilled,0)+ISNULL(p.PeriodUnbilled,0))>0  
	'
	set @paramterinfo='@parameter1 bigint,@parameter2 nvarchar(max),@parameter3 nvarchar(max),@parameter4 nvarchar(max),@parameter5 nvarchar(max),@parameter6 nvarchar(max)'
	print @sqlstring
	execute sp_executesql @sqlstring,@paramterinfo,@parameter1=@parameter1,@parameter2=@parameter2,@parameter3=@parameter3,@parameter4=@parameter4,@parameter5=@parameter5,@parameter6=@parameter6

END

GO
