/****** Object:  StoredProcedure [dbo].[Proc_TRANS_5105_GetLogs]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_5105_GetLogs]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_5105_GetLogs]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_TRANS_5105_GetLogs] @parameter1 BIGINT = 0,
@parameter2 DATE = NULL,
@parameter3 NVARCHAR(200)=NULL,
@parameter4 BIGINT = 0,
@parameter5 BIGINT = 0,
@parameter6 BIGINT = 0,
@parameter7 DATE = NULL,
@parameter8 DATE = NULL,
@parameter9 BIGINT = 0
AS
BEGIN
  SET NOCOUNT ON;
  
  SELECT cl.Id,CnId=c.Id,CnNo=c.CNNo,CnDate=c.CNDate,c.VehicleId,VehicleNo=vm.VehicleNo,c.HireVehicleId,HireVehicleNo=hv.VehicleNo,RouteId=c.ChgRouteId,Route=rm.Name,
    BillPartyId=c.BillingPartyId,Billparty=l.AccountName,LoadingOfficeId=c.LoadingOfficeId,LoadingOffice=om.OfficeName,CnFreight=c.CNTotalFreight,DiscountPercentage=c.DiscPercent
    FROM [dbo].[tCNMaster] c LEFT JOIN [dbo].[tSalesLog] sl ON c.Id = sl.CNId
    LEFT JOIN [dbo].[mVehicleMaster] vm ON c.VehicleId=vm.Id
LEFT JOIN [dbo].[mHireVehicle] hv ON c.HireVehicleId=hv.Id
    LEFT JOIN [dbo].[mRouteMaster] rm ON c.ChgRouteId=rm.Id
    LEFT JOIN [dbo].[mLedger] l ON c.BillingPartyId = l.Id
    LEFT JOIN [dbo].[mOfficeMaster] om ON c.LoadingOfficeId = om.Id
    LEFT JOIN tCNBillLog cl ON c.Id = cl.CNId AND cl.BillId=@parameter9



END
GO
