/****** Object:  StoredProcedure [dbo].[Proc_Report_1470]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1470]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1470]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select top 10 * from tReportRequestPool order by id desc
--	SELECT * FROM mobjectcategory

-- Proc_Report_1469 '30015','','','2016-08-01','2016-10-10','2'
CREATE proc  [dbo].[Proc_Report_1470] 
	--1468		CN Outstanding Partywise/Officewise
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--FromDate
	@parameter5 date,--ToDate
	@parameter6 date--AsOfDate
as
begin
	SET @parameter6=ISNULL(@parameter6,@parameter5)
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	select 
	ccf.CategoryName,
	ccf.ClassName,
	[BillingOffice]=bo.OfficeName,
	cnb.BillNo,
	cnb.BillDate,
	BillNature=cbn.Name,
	BillingParty=bp.FleetAcName,
	BillAmount=isnull(cnb.TotalBillAmount,0),
	RecoveryAmt=isnull(rc.RecoveryAmt,0),
	Outstanding=isnull(cnb.TotalBillAmount,0)-isnull(rc.RecoveryAmt,0)
	from dbo.tCNBillMaster as cnb 
	join dbo.mLedger as bp on bp.Id=cnb.BillingPartyAcId
	join dbo.mOfficeMaster as bo on bo.Id=cnb.BillOfficeId
	join dbo.mCNBillNature as cbn on cbn.Id=cnb.BillNatureId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as ccf on ccf.ObjectId=case @roleId when 1022 then cnb.BillingPartyAcId else cnb.BillOfficeId end	
	left join
	(
		select bpl.BillId,RecoveryAmt=Sum(bpl.Amount)	
		from dbo.tCNBillpaymentLog as bpl 
		inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id
		inner join dbo.tCNBillMaster as bm on bpl.BillId=bm.Id 
		where cast(bp.documentdate as date)<=@parameter6
		group by bpl.BillId
	) as rc on rc.BillId=cnb.Id
	
	where cast(cnb.BillDate as date) between @parameter4 and @parameter5
	and (isnull(cnb.TotalBillAmount,0)-isnull(rc.RecoveryAmt,0))>0
	order by cnb.BillDate 
end

GO
