/****** Object:  StoredProcedure [dbo].[Proc_Format_1497_1]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1497_1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1497_1]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Format_1497_1]
	@Parameter1 bigint
as
begin
	select
	VoucherId=vd.VoucherId,
	VdId=vd.Id,
	OfficeName=ofc.OfficeName,
	AccountName=a.FleetAcName,
	VDAmount=vd.VDAmount,
	OrderId=vd.OrderId,
	vd.ChequeNo,
	vd.ChequeDate,
	vd.ChequeBank,
	vd.Narration
	from dbo.tVoucherVD as vd
	join dbo.mLedger as a on a.Id=vd.AccountId
	join dbo.mOfficeMaster as ofc on ofc.Id=vd.OfficeId
	where vd.VoucherId=@Parameter1
	order by vd.Id
end
GO
