/****** Object:  StoredProcedure [dbo].[Proc_Report_1438]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1438]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1438]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1438]
--1438: New Tyre Stock Ledger
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)
as
begin
	select 
		Store = dr.FleetAcName,
		BrandName = bm.BrandName,
		NoofTyres=Count(t.TyreId),
		StockValue=round(Sum(t.NetAmount),0)
	from dbo.mTyreMaster as tm
	join dbo.tTyreLog as t on tm.Status_TyrelogId=t.Id
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=t.DebitAccountId		
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	where t.TyreStatusId=1100
	group by dr.FleetAcName,bm.BrandName
	order by dr.FleetAcName,bm.BrandName
end
GO
