/****** Object:  StoredProcedure [dbo].[Proc_Report_1678]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1678]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1678]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1678]
	@parameter1 int--filter:0-All,1-<25%,2-<50,3-<75%
As
begin
	declare @KmPerDay decimal
	set @KmPerDay=100.00

	select *,TimeRemainingInPercent=Cast(@KmPerDay*(tl.TimeRemainingInDays*1.00/eWayBillDays*1.00) as decimal(18,2)) from (
	select 
	TripNo=tl.TriplogNo
	,VehicleNo=case when tl.TripTypeId=1160 then hvm.RegistrationNo else vm.VehicleRegNo end
	,OH=case when tl.TripTypeId=1160 then 'H' else 'O' end
	,RouteName=rt.[Name]
	,LoadDate=case when tl.TripNatureId=1076 then tl.TripStartDate else tl.LoadingDate end
	,TripETADate=case when @KmPerDay>0 then dateadd(day,ceiling((case when rt.FromPlaceId=rt.ToPlaceId then tl.TotalKmRun/2 else tl.TotalKmRun end)/@KmPerDay)+1,tl.LoadingDate) else  tl.ExpDeliveryDate end
	,tl.UnloadingReachDate
	,[StatusName]=case when exists(select 1 from dbo.tVTSStatuslog as xvt where xvt.DTSStatusID=20 and rt.FromplaceId=19536 and rt.ToPlaceID=19536 and xvt.TriplogId=tl.Id) then 'Neemrana Return' when tl.UnloadingReachDate is null then 'On Road' else 'Reached' end
	,RouteKM=(case when rt.FromPlaceId=rt.ToPlaceId then tl.TotalKmRun/2 else tl.TotalKmRun end)
	,eWayBillDays=case when tl.TotalKmRun=0 then 1 else case when ceiling((case when rt.FromPlaceId=rt.ToPlaceId then tl.TotalKmRun/2 else tl.TotalKmRun end)/@KmPerDay)<=0 then 1 else ceiling((case when rt.FromPlaceId=rt.ToPlaceId then tl.TotalKmRun/2 else tl.TotalKmRun end)/@KmPerDay) end end
	,eWayBillETA=DATEADD(day,(case when tl.TotalKmRun=0 then 0 else ceiling((case when rt.FromPlaceId=rt.ToPlaceId then tl.TotalKmRun/2 else tl.TotalKmRun end)/@KmPerDay) end),tl.LoadingDate)
	,TimeRemainingInDays=case when (case when tl.TotalKmRun=0 then 0 else ceiling((case when rt.FromPlaceId=rt.ToPlaceId then tl.TotalKmRun/2 else tl.TotalKmRun end)/@KmPerDay) end)-DATEDIFF(day,tl.LoadingDate,getdate())<=0 then 0 else
	(case when tl.TotalKmRun=0 then 0 else ceiling((case when rt.FromPlaceId=rt.ToPlaceId then tl.TotalKmRun/2 else tl.TotalKmRun end)/@KmPerDay) end)-DATEDIFF(day,tl.LoadingDate,getdate()) end
	,Driver=dr.DriverName
	,MobileNo=pa.ContactNumber + ', '+ pa.AltContactNumber
	
	,eWayBillNo=tl.EWayBillTL
	,CurrantLocationGPS	=gd.GPSLocation
	,CNNos=ISNULL((STUFF((SELECT
			',' + CAST(ISNULL(cn.CNNo, '') AS VARCHAR(50))
		  FROM dbo.tCNChallan AS c
		  INNER JOIN tCNMaster AS cn
			ON c.CNId = cn.Id
		  WHERE c.TriplogId = tl.Id
		  FOR XML PATH (''), TYPE, ROOT)
		.value('root[1]', 'nvarchar(max)'), 1, 1, '')), '')

	from 
	(
		select * ,Row_Num = (row_number() over (partition by isnull(vts.VehicleId, 0), isnull(vts.HireVehicleId, 0) order by vts.StartDate desc))
		FROM dbo.tVTSStatusLog vts
	) as vts 
	join dbo.mDTSStatus as st on st.Id=DTSStatusId
	JOIN dbo.tVehicleMovementLog as tl on vts.TriplogId=tl.Id
	left join dbo.mRouteMaster as rt on rt.Id=tl.RouteId
	left join dbo.mDriverMaster as dr on dr.Id=tl.Driver1stId
	left join dbo.mPostalAddress as pa on pa.Id=dr.CurrentAddressId
	left join dbo.mVehicleMaster as vm on vm.ID=tl.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=tl.HireVehicleId
	left join
			(
				select rowid=ROW_NUMBER()over(partition by gd.VehicleNo order by CDOE  desc),gd.* from dbo.tGPSStatusLog as gd where cast(gd.CDOE as date)=cast(getdate() as date)
	)as gd on gd.VehicleNo=isnull(vm.VehicleRegNo,hvm.RegistrationNo) and gd.rowid=1 
	where tl.TripTypeId in(1158,1160) and vts.Row_Num = 1 and tl.UnloadingDate is null and tl.TripNatureId=1075
	)as tl 
	--where 
	--(case when @parameter1=0 then 1 
	--when @parameter1=1 and Cast(@KmPerDay*(tl.TimeRemainingInDays*1.00/eWayBillDays*1.00) as decimal(18,2))<=25 then 1 
	--when @parameter1=2 and Cast(@KmPerDay*(tl.TimeRemainingInDays*1.00/eWayBillDays*1.00) as decimal(18,2))<=50 then 1
	--when @parameter1=3 and Cast(@KmPerDay*(tl.TimeRemainingInDays*1.00/eWayBillDays*1.00) as decimal(18,2))<=75 then 1
	--end )=1

end
GO
