/****** Object:  StoredProcedure [dbo].[Proc_Format_1009_1]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1009_1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1009_1]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Format_1009_1] 
	@parameter1 bigint
AS
BEGIN
	select 
	tal.Id,
	VoucherTypeId=tal.AdvanceTypeId,
	AdvanceDate=tal.AdvanceDate,
	RefNo=tal.VoucherNo,
	BranchPump=l.AccountName,
	[Type]=vt.Abbr,
	Quantity=tal.FuelQty,
	Rate=tal.FuelRate,
	Amount=isnull(tal.CashAmount,0)+isnull(tal.FuelAmount,0),
	Remark=tal.Remark
	--CreatedBy=dbo.GetUserBySessionId(tal.CSID)
	from dbo.tTripAdvanceLog as tal
	left join dbo.mVehicleMaster as vm on tal.VehicleId=vm.Id
	left join dbo.mLedger as l on l.Id=tal.CreditAccountId
	left join dbo.mVoucherType as vt on vt.Id=tal.AdvanceTypeId
	where tal.SettlementId=@parameter1 and AdvanceTypeId in(1,2,16)
	union all
	select 0,88,null,'','','',0,0,SUM(isnull(tal.Cashamount,0)),''
	from dbo.tTripAdvanceLog as tal
	where tal.SettlementId=@parameter1 and AdvanceTypeId=88
END
GO
