/****** Object:  StoredProcedure [dbo].[Proc_Format_1020_3]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1020_3]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1020_3]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	select * from dbo.tVehicleMovementLog where TriplogNo like '%jc420%'
--	exec [dbo].[Proc_Format_1020_3] 207329
CREATE proc [dbo].[Proc_Format_1020_3]
	@parameter1 bigint
as
begin
-- tyre
	declare @vehicleId bigint,@KmCalcTypeId bigint,@JsKmReading int
	select @vehicleId=VehicleId,@JsKmReading=StartKm from dbo.tVehicleMovementLog where Id=@parameter1
	--select @KmCalcTypeId=Value from dbo.ApiConfigurations where id='DefaultKmSourceForReporting'
	select 
	[e2].Id,
	OnDate=[e1].[VoucherDate],
	[e1].[TyreNo],
	[Life]=isnull([e1].[TyreLife],0),
	Stephnie=case when [e1].[IsStepney]=1 then 'Y' else 'N' end,
	[TyreBrand]=bm.BrandName,
	PreRunKm=isnull((select sum(KmRun) as km from dbo.tTyreMillageLog as k where k.TyreId=e1.TyreId and k.OnDate<e1.VoucherDate and k.SourceTypeId=1483),0),
	--LifeMileage=isnull((case when @KmCalcTypeId=1130 then tp.TyreLifeMileage when @KmCalcTypeId=1158 then tp.TLLifeMileage when @KmCalcTypeId=1159 then tp.JSLifeMileage else 0 end),0),
	--TotalKmRun=isnull((case when @KmCalcTypeId=1130 then isnull(tp.TyreLifeMileage,0) +isnull(tp.TyrePreviousMileage,0) when @KmCalcTypeId=1158 then isnull(tp.TLLifeMileage,0) + isnull(tp.TLPreviousMileage,0) when @KmCalcTypeId=1159 then isnull(tp.JSLifeMileage,0) +isnull(tp.JSPreviousMileage,0) else 0 end),0),
	TotalKmRun=@JsKmReading-e1.KmReading,
	PreAirP=tck.AirPressure,
	PreTreadDepth=tck.TreadDepth,
	PreWP=isnull((select z.Abbr from dbo.mGenericMaster as z where z.Id=tck.WPID),''),
	PreWPDate=tck.CheckDate,
	AirP=tckc.AirPressure,
	WP=isnull((select z.Abbr from dbo.mGenericMaster as z where z.Id=tckc.WPID),''),
	NSD1=tckc.TreadDepth,
	NSD2=tckc.TreadDepth2,
	NSD3=tckc.TreadDepth3,
	NSD4=tckc.TreadDepth4
	FROM [dbo].[tTyreLog] AS [e1]
	JOIN [dbo].[mTyreMaster] AS [e2]	ON [e1].[TyreId] = [e2].[Id]
	JOIN dbo.mBrandMaster as bm on bm.Id=e2.BrandId
	LEFT JOIN dbo.tTyreCheck as tck on tck.TyreId=[e1].TyreId and tck.VehicleId=[e1].VehicleId and tck.NextLogId is null
	LEFT JOIN dbo.tTyreCheck as tckc on tckc.TyreId=[e1].TyreId and tckc.JobCardId=@parameter1
	WHERE  [e1].[NextLogId] is null and [e1].[TyreStatusId] = 1103 and [e1].[VehicleId]=@vehicleId
end
GO
