/****** Object:  StoredProcedure [dbo].[Proc_Report_1389]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1389]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1389]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	EXEC [Proc_Report_1389] 1,'','','2015-01-01','2016-12-12'
--	SELECT * FROM dbo.mObjectCategory

CREATE PROC [dbo].[Proc_Report_1389]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 bigint--0;StartDate,1:EndDate,2:SettledDate
As
BEGIN
	DECLARE @RoleId INT
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	SELECT 
		t.CategoryName,
		t.ClassName,
		t.OfficeName,
		t.StartDate,
		t.TripSheetNo,
		t.VehicleNo,
		t.LDLogs,
		t.EMLogs,
		t.Logs,
		t.DriverName,
		t.DriverCode,
		t.RouteName,
		t.EndDate,
		t.SettleDate,
		t.TripDays,
		t.StartKm,
		t.EndKm,
		t.TotalKmRun,
		t.FuelQty,
		[TotalAdvance]=round(1*t.Tottripadv,0),
		[TotalExpense]=round(1*t.TotTripExp,0),
		NetBooking=round(t.BookingFreight*1,0),
		Perday=round((CAST(isnull((case isnull(t.TripDays,0) when 0 then  0 else isnull(t.CNet,0) /isnull(t.TripDays,0)  end),0) as decimal(18,2))),2),
		Perkm=round((CAST(isnull((case isnull(t.TotalKmRun,0) when 0 then  0 else isnull(t.CNet,0) /isnull(t.TotalKmRun,0)  end),0) as decimal(18,2))),2),
		t.Remarks
	FROM
	(
		SELECT 
		CCO.CategoryName,
		CCO.ClassName,
		o.OfficeName,
		t.StartDate,
		t.TripSheetNo,
		m.VehicleNo,
		dvr.DriverName,
		dvr.DriverCode,
		RouteName=t.TripRoute,
		t.EndDate,
		t.SettleDate,
		TripDays=DATEDIFF(day,t.StartDate,t.EndDate),
		tl.LDLogs,
		tl.EMLogs,
		tl.Logs,
		t.StartKm,
		t.EndKm,
		tl.TotalKmRun,
		[FuelQty]=t.ActualQty,
		adv.Tottripadv,
		texp.TotTripExp,
		CashDeposited=t.CashDeposited,
		bkg.BookingFreight,
		CNet=(isnull(bkg.BookingFreight,0)-isnull(texp.TotTripExp,0)),
		t.Remarks
	
		FROM dbo.tTripSettlement as t
		INNER JOIN dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.OfficeId end)
		LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
		LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1Id
		left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
		left join
		(
			select tl.SettlementId,sum(isnull(tl.TotalKmRun,0)) as TotalKmRun,Logs=Count(*),LDLogs=sum(case when tl.TripNatureId=1075 then 1 else 0 end) ,EMLogs=sum(case when tl.TripNatureId=1075 then 0 else 1 end) from dbo.tVehiclemovementlog as tl group by tl.SettlementId
		)as tl on tl.SettlementId=t.Id
		left join
		(
			select t.SettlementId, Tottripadv=sum((case when t.AdvanceTypeId in(1,2) then  isnull(t.CashAmount,0) else 0 end)),
			TottripFuel=sum(isnull(t.FuelAmount,0)),TotalFuelQty=sum(isnull(t.FuelQty,0)),
			TotDriverExp=sum(isnull((case when t.AdvanceTypeId in(11,13,14,15,16,17,59) then  isnull(t.CashAmount,0) else 0 end),0))
			from dbo.tTripAdvanceLog as t where t.SettlementId>0 group by t.SettlementId
		)as adv on adv.SettlementId=t.Id
		left join(
			select t.SettlementId,TotTripExp=sum(isnull(t.SettledAmount,0)) from dbo.tTripExpenseLog as t where SettlementId>0 group by t.SettlementId
		)as texp on texp.SettlementId=t.Id
		left join 
		(
			select tl.SettlementId,sum(isnull(cnh.CNTotalFreight,0)) as BookingFreight from dbo.tCNMaster as cnh join dbo.tVehicleMovementLog as tl on tl.Id=cnh.TriplogId
			group by tl.SettlementId
		)as bkg on bkg.SettlementId=t.Id
		WHERE 		
		(	CASE WHEN isnull(@parameter6,0) = 0 AND t.StartDate >= @parameter4 AND t.StartDate < @parameter5 Then 1
					WHEN @parameter6 = 1 AND t.EndDate >= @parameter4 AND t.EndDate < @parameter5 Then 1
					WHEN @parameter6 = 2 AND t.SettleDate >= @parameter4 AND SettleDate < @parameter5 Then 1	
			ELSE 0 END
		)=1	AND (t.SettleDate IS NOT NULL)
	)as t
	ORDER BY t.VehicleNo 
END
GO
