/****** Object:  StoredProcedure [dbo].[Proc_Report_1302]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1302]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1302]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	[Proc_Report_1305] 10011,'','','2010-01-01','2017-10-10'
--	select * from dbo.mObjectCategory
CREATE PROC [dbo].[Proc_Report_1302]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate	
as
begin
	declare @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	set nocount on;
	select 
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	Office = o.OfficeName,
	DocDate = t.DocDate,        
    DocNo = t.DocNo,
	VehicleNo = v.VehicleRegNo,
	BatteryNo = t.BatterySerialNo,
	BatteryLife = t.BatteryLife,
	BrandName = bm.BrandName,
	Store = cr.FleetAcName,
	t.NetAmount,
	tc.GravityLevel,
	tc.IsTCC,
	tc.IsWLC,
	t.Remark
	from dbo.tBatteryLogExtraInfo as ei 
	join dbo.tBatteryLog as t on ei.Id=t.ExtraInfoId
	join dbo.mVehicleMaster as v on v.Id=t.VehicleId
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=(case @RoleId when 1029 then t.CreditAccountId when 1130 then t.VehicleId else ei.OfficeId  end)
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mBatteryMaster as tm on tm.Id=t.BatteryId
	join dbo.mBatteryBrand as bm on bm.Id=tm.BrandId
	left join dbo.[tBatteryCheck] AS [tc] 	on t.BatteryCheckId=tc.Id
	where t.DocDate between @parameter4 and @parameter5 and (t.VoucherTypeId=50)
	order by ei.DocDate
	
end

GO
