/****** Object:  StoredProcedure [dbo].[Proc_Report_1608]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1608]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1608]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[Proc_Report_1608]
-- Hire Vehicle Payment: 1608
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--FromDate
	@parameter5 datetime--ToDate
AS
BEGIN
	declare @RoleId int
	set @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	select 
	[Office]=O.OfficeName,
	[TripNo]=VML.TriplogNo,
	[TripDate]=VML.TripStartDate,
	[VehicleNo]=HV.VehicleNo,
	[Owner]=L.AccountName,
	[HVP]=hvp.AccountName,
	[HireAmount]=VML.HSChg,
	[CreditAc]=cr.AccountName,
	[DebitAc]=dr.AccountName,
	[Type]=CV.ConstantName,
	[Mode]=pm.ConstantName,
	[PaidAmount]=hsa.Amount,
	[ChequeNo]=hsa.ChequeNo,
	[ChequeDate]=hsa.ChequeDate,
	hsa.Remarks,
	CU=csu.UserName,
	DOE=hsa.CDOE,
	MU=msu.UserName,
	DOM=hsa.MDOE
	from dbo.tHSAdvance as hsa
	join tVehicleMovementLog as VML on hsa.HireSlipId=vml.Id
	Join dbo.mLedger as L on VML.HireOwnerId=L.Id
	Join dbo.mLedger as hvp on VML.HVPId=hvp.Id
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId when 1044 then L.Id else  vml.OfficeId END)
	join dbo.mOfficeMaster as O on VML.OfficeId=O.Id
	join dbo.mHireVehicle as HV on VML.HireVehicleId=HV.Id
	join dbo.mConstantValue as CV on CV.Id=hsa.AdvTypeId
	join dbo.mConstantValue as pm on pm.Id=hsa.PaymentModeId
	Left Join dbo.mLedger as cr on hsa.CrAccountId =cr.Id
	Left Join dbo.mLedger as dr on hsa.DrAccountId =dr.Id
	left join ApiSessions as cs on cs.Id=hsa.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	left join ApiSessions as ms on ms.Id=hsa.MSID
	left join dbo.ApiUsers as msu on msu.Id=ms.UserId
	where hsa.AdvDate >= @parameter4 and hsa.AdvDate<= @parameter5
	 
END

GO
