/****** Object:  StoredProcedure [dbo].[Proc_Report_1632]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1632]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1632]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[Proc_Report_1632] @parameter1 AS BIGINT
AS
BEGIN
  SELECT

    LoginId = um.UserName
   ,um.FirstName
   ,um.LastName
   ,UserType =
    CASE
      WHEN TypeId = 200 THEN 'Admin'
      ELSE 'User'
    END
   ,ObjectId = ApiObjectId
   ,[ObjectName] = (CASE WHEN rp.EntityTypeId in (1, 3) THEN fm.DisplayText ELSE l.AccountName END)
   ,ObjectType =
    CASE EntityTypeId
      WHEN  1 THEN 'Form'
      WHEN 3 THEN 'Report'
      WHEN 0 THEN 'Ledger'
      ELSE 'Other'
    END
   ,ModuleName = mdl.DisplayText
   ,SubModuleName = smdl.DisplayText
   ,MaxPermissionId =
    CASE
      WHEN MAX(Permission) = 1 THEN 'READ'
      WHEN MAX(Permission) = 3 THEN 'WRITE'
      WHEN MAX(Permission) = 7 THEN 'UPDATE'
      WHEN MAX(Permission) = 15 THEN 'DELETE'
      WHEN MAX(Permission) IN (31, 40) THEN 'DENY'
    END

  FROM dbo.ApiUserRoles AS ur
  JOIN dbo.ApiRoles AS rl
    ON rl.Id = ur.RoleId
  JOIN dbo.ApiRolePermissions AS rp
    ON rp.ApiRoleId = ur.RoleId
  JOIN dbo.ApiUsers AS um
    ON um.Id = ur.UserId
 LEFT JOIN dbo.ApiViews AS fm
    ON fm.Id = rp.ApiObjectId AND rp.EntityTypeId IN(1,3)
 LEFT JOIN dbo.m_Modules AS smdl
    ON smdl.Id = fm.ModuleId
 LEFT JOIN dbo.m_Modules AS mdl
    ON smdl.ParentModuleId = mdl.Id    
    LEFT JOIN dbo.mLedger l
    ON l.Id=rp.ApiObjectId AND rp.EntityTypeId =0
  WHERE ur.UserId = @parameter1
  GROUP BY um.UserName
          ,um.FirstName
          ,um.LastName
          ,ApiObjectId
          ,(CASE WHEN rp.EntityTypeId in (1, 3) THEN fm.DisplayText ELSE l.AccountName END)
          ,EntityTypeId
          ,TypeId
          ,mdl.DisplayText
          ,smdl.DisplayText

  ORDER BY mdl.DisplayText, smdl.DisplayText, (CASE WHEN rp.EntityTypeId in (1, 3) THEN fm.DisplayText ELSE l.AccountName END)
END

--select * from ApiRolePermissions
GO
