/****** Object:  StoredProcedure [dbo].[Proc_Report_1320]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1320]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1320]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1320]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max)='',--ClassIds
	@parameter3 nvarchar(max)='',--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime,--todate
	@parameter6 bit=0--Y:AllLatestDuesOfVehicle,N:AsPerAsOfDate
As
BEGIN
	DECLARE @RoleId int,@WhereCondition nvarchar(255)
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	set @WhereCondition=' where x.StartDate between '''+ format(@parameter4,'yyyy-MMM-dd') +''' and '''+ format(@parameter5,'yyyy-MMM-dd') +''''
	
	if(@parameter6=0 and isnull(@parameter4,'1900-01-01')<='1999-01-01')
	begin
		set @parameter4=getdate()
		set @parameter5=getdate()
	end
	if(@parameter6=1)
	begin
		set @WhereCondition=' where x.NextLogId is null '
	end
	DECLARE @sql nvarchar(max)

	SET @sql = N' SET NOCOUNT ON;
	Select CCO.CategoryName,
	CCO.ClassName,
	OfficeName = o.OfficeName,
	DueTypeName = dm.Name,
	VehicleNo = vm.VehicleNo,
	VehicleType=vt.Name,
	Incharge = inc.Name,
	StartDate = x.StartDate,
	ExpiryDate = x.ExpiryDate,
	RefNo = x.RefNo1,
	CovertNote = x.RefNo2,
	DueAmount = x.DueAmount,
	OtherAmount = x.OtherAmount,
	TotalAmount= IsNULL(x.DueAmount,0) + ISNULL(x.OtherAmount,0),
	OwnerName = a.AccountName,
	Remark = x.Remark,
	AgentName = i.AgentName,
	Compulsory = i.Compulsory,
	Discount = i.Discount,
	GVWOD = i.GVWOD,
	ImposedValue = i.ImposedValue,
	InsCompanyId = i.InsCompanyId,
	InsCompanyName = a2.AccountName,
	InsOfficerName = i.InsOfficerName,
	InsuredValue = i.InsuredValue,
	IsComprehensive = i.IsComprehensive,
	NCBAmount = i.NCBAmount,
	NCBPercent = i.NCBPercent,
	PACCount = i.PACCount,
	PACValue = i.PACValue,
	Premium = i.Premium,
	TPPremium = i.TPPremium,
	CU=csu.UserName,
	DOE=x.CDOE,
	MU=msu.UserName,
	DOM=x.MDOE

	from dbo.tDueTransactionLog AS x
	join dbo.CCO('+CAST(@parameter1 as nvarchar)+','''+isnull(@parameter2,'')+''','''+isnull(@parameter3,'')+''') on CCO.ObjectId=(CASE '+CAST(@RoleId as nvarchar)+' When 1130 THEN  x.VehicleId else x.OfficeId END)
	join dbo.mDueMaster AS dm on dm.Id=x.DueTypeId
	join dbo.mOfficeMaster as o on o.Id=x.OfficeId
	join dbo.mVehicleMaster as vm on vm.Id=x.VehicleId
	join dbo.mGenericMaster as vt on vt.Id=vm.VehicleTypeId
	Left join dbo.mGenericMaster as inc on inc.Id=vm.Ref1Id
	left join dbo.tDueInsuranceLog as i on x.Id=i.Id
	left join dbo.mLedger as a on a.Id=x.OwnerId
	left join dbo.mLedger as a2 on a2.Id=i.InsCompanyId
	left join ApiSessions as cs on cs.Id=x.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	left join ApiSessions as ms on ms.Id=x.MSID
	left join dbo.ApiUsers as msu on msu.Id=ms.UserId
	'+ @WhereCondition +'
	order by x.StartDate'
	
	execute sp_executesql @sql	
END
GO
