/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1442_GetRecord]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1442_GetRecord]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1442_GetRecord]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRANS_1442_GetRecord]
--1340: Driver, 1341:Dues, 1342:Vehicle, 1344:Account, 1345:Trip Settlement, 1570: CNMaster
@parameter1 bigint,--FileTypeId(RelatedId)
@parameter2 bigint=0,--RecordId
@parameter3 nvarchar(max),--Fromdate
@parameter4 nvarchar(max),--Todate
@parameter5 bigint=0--VehicleId
AS
BEGIN
	if(@parameter1=1340) --Driver
	begin
		select top 50 [Select]=cast(0 as bit),D.Id, DriverName=D.DriverName, DriverCode=D.DriverCode, PhoneNo1=D.DriverContactNo1, PhoneNo2=D.DriverContactNo2, D.RegistrationDate  from [dbo].[mDriverMaster] D
		where  
		(case when @parameter2=0 then 1 when @parameter2=D.Id then  1 else 0 end)=1
		and (case when isnull(@parameter3,'')='' then 1 when cast (D.RegistrationDate as date) between @parameter3 and @parameter4 then  1  else 0 end)=1
		order by D.Id desc
	end
	
	else if(@parameter1=1341) --Dues
	begin
		select top 50 [select]=cast(0 as bit), L.Id, DU.Name, DocNumber=L.VoucherNo, VehicleNo=VVM.VehicleNo, L.PaidDate, L.DueAmount, DU.DueTypeId, DueType=CV.ConstantName, DU.PayableAccountId, PayableAccount=LP.AccountName, DU.DueAccountId, DueAccount=LO.AccountName, DU.PrepaidAccountId, PrepaidAccount=PP.AccountName, DU.OtherAccountId, OtherAccount=LOA.AccountName from 
		dbo.tDueTransactionLog L 
		LEFT JOIN [dbo].[mDueMaster] as DU ON L.DueTypeId=DU.Id 
		LEFT JOIN [dbo].[mConstantValue] AS CV ON DU.DueTypeId=CV.Id 
		LEFT JOIN [dbo].[mLedger] AS LP ON DU.PayableAccountId=LP.Id
		LEFT JOIN [dbo].[mledger] AS LO ON DU.DueAccountId=LO.Id
		LEFT JOIN [dbo].[mledger] AS PP ON DU.PrepaidAccountId=PP.Id
		LEFT JOIN [dbo].[mledger] AS LOA ON DU.OtherAccountId=LOA.Id
		LEFT JOIN [dbo].[mVehicleMaster] VVM ON L.VehicleId=VVM.Id
		where  
		(case when @parameter2=0 then 1 when @parameter2=L.DueTypeId then  1 else 0 end)=1
		and (case when isnull(@parameter3,'')='' then 1 when cast (L.PaidDate as date) between @parameter3 and @parameter4 then  1  else 0 end)=1
		and (case when @parameter5=0 then 1 when @parameter5=L.VehicleId then  1  else 0 end)=1
		order by L.PaidDate desc
	end

	else if(@parameter1=1342)--Vehicle
	begin
		select top 50 [select]=cast(0 as bit),VM.Id, VM.VehicleNo, VM.VehicleRegNo, VM.OwnerPartyId, LG.AccountName, VM.RegistrationDate, VM.ChassisNo, VM.VehicleTypeId, VehicleType=VT.Name, VM.VehicleModelId, MD.ModelName from [dbo].[mVehicleMaster] AS VM
		 LEFT JOIN [dbo].[mVehicleModel] AS MD ON VM.VehicleModelId=MD.Id
		 LEFT JOIN [dbo].[mLedger] AS LG ON VM.OwnerPartyId=LG.Id
		 LEFT JOIN [dbo].[mGenericMaster] AS VT ON VM.VehicleTypeId=VT.Id
		where
		(case when @parameter2=0 then 1 when @parameter2=VM.Id then  1 else 0 end)=1
		and (case when len(isnull(@parameter3,''))=0 then 1 when VM.RegistrationDate between @parameter3 and @parameter4 then  1  else 0 end)=1
		and (case when @parameter5=0 then 1 when @parameter5=VM.Id then  1  else 0 end)=1
		order by VM.Id desc
	end

	else if(@parameter1=1344) --Account
	begin
		select top 50 [select]=cast(0 as bit), ML.Id, ML.AccountName, ML.AccountRoleID, AccountRole=CC.ConstantName, ML.BillingOfficeId, BillingOffice=FF.OfficeName, AddressId=ML.AddressId, Address=PA.AddressLine1, ML.CDOE from [dbo].[mLedger] ML
		 LEFT JOIN [dbo].[mPostalAddress] PA ON ML.AddressId=PA.Id
		 LEFT JOIN [dbo].[mOfficeMaster] FF ON ML.BillingOfficeId=FF.Id
		 LEFT JOIN [dbo].[mConstantValue] CC ON ML.AccountRoleID=CC.Id
		where
		(case when @parameter2=0 then 1 when @parameter2=ML.Id then  1 else 0 end)=1
		and (case when len(isnull(@parameter3,''))=0 then 1 when ML.CDOE between @parameter3 and @parameter4 then  1  else 0 end)=1
		order by ML.ID desc
	end

	else if(@parameter1=1345)--Trip Settlement
	begin
		select top 50 [select]=cast(0 as bit), TS.Id, TS.TripSheetNo, TS.VehicleId, VehicleNo=VV.VehicleNo, TS.SettleDate, TS.Driver1Id, DDM.DriverName, TS.SettledAccountId, DR.AccountName, Ts.TripRoute, TS.SettledAmount from [dbo].[tTripSettlement] TS 
		 LEFT JOIN [dbo].[mVehicleMaster] VV ON TS.VehicleId=VV.Id
		 LEFT JOIN [dbo].[mDriverMaster] DDM ON TS.Driver1Id=DDM.Id
		 LEFT JOIN [dbo].[mLedger] DR ON TS.SettledAccountId=DR.Id
		where
		(case when @parameter2=0 then 1 when @parameter2=TS.Id then  1 else 0 end)=1
		and (case when len(isnull(@parameter3,''))=0 then 1 when TS.SettleDate between @parameter3 and @parameter4 then  1  else 0 end)=1
		and (case when @parameter5=0 then 1 when @parameter5=TS.VehicleId then  1  else 0 end)=1
		order by TS.SettleDate desc
	end

	else if(@parameter1=1570)--cnmaster
	begin
		select top 50 [Select]=cast(0 as bit),t.Id, DocNumber =t.CNNo, DocDate=t.CNDate, VehicleNo=vh.VehicleNo, tl.TriplogNo,tl.TripStartDate from [dbo].[tCNMaster] as t 
		LEFT JOIN [dbo].[mVehicleMaster] as vh on t.VehicleId=vh.Id
		LEFT JOIN [dbo].[tVehicleMovementLog] as tl on tl.Id=t.TripLogId
		where  
		(case when @parameter2=0 then 1 when @parameter2=t.Id then  1 else 0 end)=1
		and (case when isnull(@parameter3,'')='' then 1 when cast (t.CNDate as date) between @parameter3 and @parameter4 then  1  else 0 end)=1
		and (case when @parameter5=0 then 1 when @parameter5=t.VehicleId then  1  else 0 end)=1
		order by t.CNDate desc
	end
	else if(@parameter1=1663)--POD
	begin
		select top 50 [Select]=cast(0 as bit),t.Id, DocNumber =ISNULL(cn.CNNo,tl.TriplogNo), VehicleNo=IsNULL(cvm.VehicleNo, tvm.VehicleNo),
		ReachDate=t.ReachDate, UnloadDate=t.UnloadDate, PODDate=t.PODDate, PodStatus=g.Name
		from [dbo].[mCNExtraInfo] as t 
		LEFT JOIN [dbo].[tVehicleMovementLog] as tl on tl.Id=t.TripLogId
		LEFT JOIN [dbo].[mVehicleMaster] as tvm on tvm.Id=tl.VehicleId
		LEFT JOIN [dbo].[tCNMaster] as cn on cn.Id=t.CnId
		LEFT JOIN [dbo].[mVehicleMaster] as cvm on cvm.Id=cn.VehicleId
		LEFT JOIN [dbo].[mGenericMaster] as g on g.Id=t.PodStatusId
		where  
		(case when @parameter2=0 then 1 when @parameter2=t.Id then  1 else 0 end)=1
		and (case when isnull(@parameter3,'')='' then 1 when cast (t.ReachDate as date) between @parameter3 and @parameter4 then  1  else 0 end)=1
		and (case when @parameter5=0 then 1 when @parameter5=Isnull(cn.VehicleId,tl.VehicleId) then  1  else 0 end)=1
		order by t.PODDate desc

	end
END
GO
