/****** Object:  StoredProcedure [dbo].[Proc_Report_1473]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1473]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1473]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1473]
AS
begin
	select 
		x.Name,
		x.Code
	from dbo.mMaterialGroup as x
	order by x.Name  
end
GO
