/****** Object:  StoredProcedure [dbo].[Proc_Report_1685]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1685]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1685]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_Report_1685]
(
  @parameter1 BIGINT,--Categoryid
  @parameter2 NVARCHAR(MAX)='',--ClassIds
  @parameter3 NVARCHAR(MAX)='',--AccountIds
@parameter4 DATE,/*AsOfDate*/
  @parameter5 BIGINT,/*ClientId*/
  @parameter6 BIGINT/*Incharge*/
)
-- WITH ENCRYPTION, RECOMPILE, EXECUTE AS CALLER|SELF|OWNER| 'user_name'
AS BEGIN
	SET NOCOUNT ON;
   DECLARE @RoleId INT
  SET @RoleId = (SELECT
      RoleId
    FROM dbo.mObjectCategory
    WHERE Id = @parameter1)
	
SELECT
  ClassName=CCO.ClassName
  ,Incharge=inc.[Name]
 ,om.OfficeName
 ,PlacementTime = vml.TripStartDate
 ,vml.TriplogNo
 ,vm.VehicleNo
 ,VehicleSize = ovt.Name
 ,dvr.DriverName
 ,dvr.DriverCode
 ,PartyName = pm.FleetAcName
 ,RouteName = rm.Name
 ,FromPlace = fp.CityName
 ,BdgtTripExp = texp.TotBdgtTripExp
 ,BdgtTripFuel = CAST((CASE
    WHEN ISNULL(vm.LoadedMileage, 0) = 0 THEN 0
    ELSE ISNULL(vml.TotalKmRun, 0) / ISNULL(vm.LoadedMileage, 0)
  END) AS DECIMAL(18, 2))
 ,CreatedBy = dbo.GetUserName(vml.CSID)
 ,CreatedOn = vml.CDOE
 ,ModifiedBy = dbo.GetUserName(vml.MSID)
 ,ModifiedOn = vml.MDOE
FROM dbo.tVehicleMovementLog AS vml
  JOIN dbo.[CCO](@parameter1, @parameter2, @parameter3) AS CCO
    ON CCO.ObjectId = (CASE @RoleId
        WHEN 1130 THEN ISNULL(vml.VehicleId,0)
        WHEN 1292 THEN ISNULL(vml.OfficeId,0)
      WHEN 1022 THEN ISNULL(vml.PartyId,0)
      END)
 LEFT JOIN dbo.mVehicleMaster AS vm ON vml.VehicleId = vm.Id
 LEFT JOIN dbo.mOfficeMaster AS om ON vm.OfficeId = om.Id
 LEFT JOIN dbo.mRouteMaster AS rm ON vml.RouteId = rm.Id
 LEFT JOIN dbo.mGenericMaster AS inc ON vm.Ref1Id = inc.Id
  LEFT JOIN dbo.mGenericMaster AS ovt ON ovt.Id = vm.VehicleTypeId
  LEFT JOIN dbo.mDriverMaster AS dvr ON dvr.Id = ISNULL(vml.Driver1stId, 0)
  LEFT JOIN dbo.mLedger AS pm ON pm.Id = ISNULL(vml.PartyId, 0)
  LEFT JOIN dbo.mRouteMaster AS tr ON tr.Id = ISNULL(vml.RouteId, 0)
  LEFT JOIN dbo.mCityMaster AS fp ON fp.Id = vml.FromPlaceId
  LEFT JOIN (SELECT
      t.TripLogId
     ,TotTripExp = SUM(ISNULL(t.SettledAmount, 0))
     ,TotBdgtTripExp = SUM(ISNULL(t.ClaimAmount, 0))
    FROM dbo.tTripExpenseLog AS t
    WHERE TripLogId > 0
    GROUP BY t.TripLogId) AS texp
    ON texp.TripLogId = ISNULL(vml.Id, 0)
  WHERE CAST(vml.TripStartDate AS DATE)<=CAST(ISNULL(@parameter4,GETDATE()) AS DATE) AND
    vml.TripTypeId=1664/*Trip Schedule*/ AND
    (CASE
    WHEN @parameter6 = 0 THEN 1
    WHEN vm.Ref1Id = @parameter6 THEN 1
    ELSE 0
  END) = 1
  AND 
  (CASE
    WHEN @parameter5 = 0 THEN 1
    WHEN vml.PartyId = @parameter5 THEN 1
    ELSE 0
  END) = 1 AND vml.UnloadingDate IS NULL
  ORDER BY vml.TripStartDate


END

GO
