/****** Object:  StoredProcedure [dbo].[Proc_Report_1644]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1644]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1644]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Report_1644]
	--Expense Budget Export
	@parameter1 bigint=0,--route
	@parameter2 bigint=0,--expense
	@parameter3 bigint=0,--vehicle
	@parameter4 bigint=0,--0:all,1075:Loaded,1076:MT
	@parameter5 date,
	@parameter6 date
as
begin
	select 
	[StartDate]=convert(nvarchar(10),t.StartDate,103),
	[RouteName]=rt.Name,
	[ExpenseType]=ex.Name,
	[VehicleType]=vt.Name,
	[TripNature]=tn.ConstantName,
	[ExpenseValue]=isnull(t.ExpenseValue,0),
	[ExpenseCategory]=exg.Name,	
	[ExpenseAccount]=m.AccountName,
	CreatedBy= dbo.GetUserBySessionId(t.CSID),
	CreatedDate= t.CDOE
	from mTripExpenseBudget as t 
	join dbo.mGenericMaster as vt on vt.Id=t.VehicleTypeId
	join dbo.mExpenseMaster as ex on ex.Id=t.ExpenseTypeId
	join dbo.mGenericMaster as exg on exg.Id=ex.ExpenseCategoryId
	join dbo.mRouteMaster as rt on rt.Id=t.RouteId
	left join dbo.mLedger as m on m.Id=ex.LedgerId
	left join dbo.mConstantValue as tn on tn.Id=t.TripNatureId
	where (case when @parameter1=0 then 1 when t.RouteId=@parameter1 then 1 else 0 end)=1
	and (case when @parameter2=0 then 1 when t.ExpenseTypeId=@parameter2 then 1 else 0 end)=1
	and (case when @parameter3=0 then 1 when t.VehicleTypeId=@parameter3 then 1 else 0 end)=1
	and (case when @parameter4=0 then 1 when t.TripNatureId=@parameter4 then 1 else 0 end)=1
     AND (case when @parameter5 IS NULL then 1 WHEN cast(t.StartDate as date)>= cast(@parameter5 as date) then 1 else 0 end)=1
     AND (case when @parameter6 IS NULL then 1 when cast(t.StartDate as date)<=cast(@parameter6 as date) then 1 else 0 end)=1  
	order by rt.Name,ex.Name,vt.Name,tn.ConstantName,t.StartDate
End
GO
