/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1553_MarkAccepted]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1553_MarkAccepted]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1553_MarkAccepted]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRNS_1553_MarkAccepted]
@parameter1 nvarchar(max),-- Comma Seprated Voucher Id
@parameter2 bit,-- IsAccepted
@parameter3 bigint, --VoucherType
@Parameter4 nvarchar(max),
@createdsessionid bigint --CSID
AS 
 SELECT LocalIp, MachineName, OSUserName, SessionId, ViewId into #ACL 
 FROM OPENJSON(@Parameter4)
 WITH 
 (LocalIp nvarchar(100), MachineName nvarchar(100),OSUserName nvarchar(100),SessionId bigint,ViewId bigint)

 DECLARE @userid bigint=(select Id from ApiSessions where Id=@createdsessionid)

 update V set IsAccepted=@parameter2, MSID=@createdsessionid, MDOE=GETDATE(), 
 ApprovalSessionId=@createdsessionid,
ApprovalMDOE=GETDATE(), ApprovalRemark=null 
 from [dbo].[tVouchers] V 
 Join [dbo].SplitString_NEW(@parameter1,',') AS I ON V.Id=I.Item

 Insert Into ApiRecordAccessLogs
 ( 
    UserId, RecordId, RecordName, ViewId, [Type], SessionId, [TimeStamp], 
    IsMaster, [Changes], MachineName, LocalIp, OSUserName, OwnerSessionId, AuditRemark
 )
 select 
    UserId=@userid, RecordId=v.Id, RecordName=v.VoucherNo, ViewId=a.ViewId, [Type]=3, 
    SessionId=a.SessionId, [TimeStamp]=GETDATE(), IsMaster=0, [Changes]='{"IsAccepted": ['+cast((case when @parameter2=0 THEN 1 ELSE 0 END) as nvarchar(1))+','+cast(@parameter2 as nvarchar(1))+']}', 
    MachineName=a.MachineName, LocalIp=a.LocalIp, OsUserName=a.OSUserName, 
    OwnerSessionId=0, AuditRemark=null
 from tVouchers as v 
 Join [dbo].SplitString_NEW(@parameter1,',') AS I ON V.Id=I.Item
 join #ACL as a on a.SessionId=v.MSID

 IF(isnull(@parameter3,0)=18)/*Settlement*/
 BEGIN
 DECLARE @voucherids varchar(max)
 SELECT @voucherids=COALESCE(@voucherids,',','')+CAST(ISNULL(ts.NetBalVoucherId,0) as nvarchar(100))+','+ CAST(ISNULL(ts.SetlBalFuelVoucherId,0) as nvarchar(100))+','+ CAST(ISNULL(ts.SetlBalVoucherId,0) as nvarchar(100))+','
 from tTripSettlement as ts join [dbo].[SplitString_NEW](@parameter1,',') t on ts.VoucherId=t.Item

 update v set v.IsAccepted=@parameter2, MSID=@createdsessionid, MDOE=GETDATE(),
  ApprovalSessionId=@createdsessionid,
ApprovalMDOE=GETDATE(), ApprovalRemark=null 
 FROM 
 (SELECT * from [dbo].[SplitString_NEW](@voucherids,',') where CAST(ISNULL(Item,0) as bigint)>0) as t
 JOIN tVouchers v on t.Item=v.Id /*and v.IsAccepted=0*/

 Insert Into ApiRecordAccessLogs
 ( 
    UserId, RecordId, RecordName, ViewId, [Type], SessionId, [TimeStamp], 
    IsMaster, [Changes], MachineName, LocalIp, OSUserName, OwnerSessionId, AuditRemark
 )
 select 
    UserId=@userid, RecordId=v.Id, RecordName=v.VoucherNo, ViewId=a.ViewId, [Type]=3, 
    SessionId=a.SessionId, [TimeStamp]=GETDATE(), IsMaster=0, [Changes]='{"IsAccepted": ['+cast((case when @parameter2=0 THEN 1 ELSE 0 END) as nvarchar(1))+','+cast(@parameter2 as nvarchar(1))+']}', 
    MachineName=a.MachineName, LocalIp=a.LocalIp, OsUserName=a.OSUserName, 
    OwnerSessionId=0, AuditRemark=null
 from 
 (SELECT * from [dbo].[SplitString_NEW](@voucherids,',') where CAST(ISNULL(Item,0) as bigint)>0) as t
 JOIN tVouchers v on t.Item=v.Id and v.IsAccepted=@parameter2
 join #ACL as a on a.SessionId=v.MSID
END
GO
