/****** Object:  StoredProcedure [dbo].[Proc_Report_1309]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1309]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1309]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec Proc_Report_1309 2,'','','2015-01-01','2016-12-12'
--select * from mObjectCategory

CREATE proc [dbo].[Proc_Report_1309]
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max)--ToDate
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)


	SET NOCOUNT ON;
	SELECT 
	Office = O.OfficeName,
	CCO.CategoryName,
	CCO.ClassName,
	t.DocNo,
	t.DocDate,
	[VendorRefNo]=t.VendorRefNo,
	[VendorAc]=cr.FleetAcName,
	[SpareExpAc]=dr.FleetAcName,
	SpareAmount=sp.TotalAmount,
	[LabourExpAc]=dr1.FleetAcName,
	LabourAmount=lbr.TotalAmount,
	t.Remark
	from dbo.tSpareLogExtraInfo as t
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1030 then  t.CrAccountId else t.OfficeId end)
	join dbo.mOfficeMaster as O on O.Id=t.OfficeId
	join dbo.tVouchers as v on v.Id=t.VoucherId
	left join dbo.mLedger as dr1 on dr1.Id=v.Account6Id
	left join dbo.mLedger as dr on dr.Id=t.DrAccountId
	left join dbo.mLedger as cr on cr.Id=t.CrAccountId
	left join
	(
		select sp.ExtraInfoId,sum(isnull(sp.NetAmount,0)) As TotalAmount from dbo.tSpareLog as sp group by sp.ExtraInfoId
	)as sp on sp.ExtraInfoId=t.Id
	left join
	(
		select lbr.ExtraInfoId,sum(isnull(lbr.NetAmount,0)) As TotalAmount from dbo.tRepairLabourLog as lbr group by lbr.ExtraInfoId
	)as lbr on lbr.ExtraInfoId=t.Id

	where t.VoucherTypeId=22	and t.DocDate between @parameter4 and @parameter5
	
end

GO
