/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1559_DeleteLogs]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1559_DeleteLogs]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1559_DeleteLogs]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mukesh Rebari
-- Create date: 2017-05-02
-- Description:	Freeup CNDTSStatus to delete
-- =============================================
CREATE PROCEDURE [dbo].[Proc_TRANS_1559_DeleteLogs]
	@parameter1 bigint = 0
AS
BEGIN
	IF(EXISTS(SELECT 1 FROM [dbo].[tCNDTSStatusLog] L JOIN [dbo].[tCNDTSStatusLog] L2 ON L.NextLogId=L2.Id WHERE L.CNDTSStatusId=@parameter1 AND ISNULL(L2.Id,0)>0 AND L2.CNDTSStatusId<>@parameter1))
	BEGIN
	RAISERROR('The Transaction you are trying to delete has been proceeded further, hence is locked for change.',11,0)
	RETURN
	END
    UPDATE LP SET LP.NextLogId=NULL,LP.PreviousLogId=(CASE WHEN LP.CNDTSStatusId<>@parameter1 THEN LP.PreviousLogId ELSE NULL END)
	FROM [dbo].[tCNDTSStatusLog] L JOIN [dbo].[tCNDTSStatusLog] LP ON L.PreviousLogId=LP.Id WHERE L.CNDTSStatusId=@parameter1
	DELETE FROM [dbo].[tCNDTSStatusLog] WHERE CNDTSStatusId=@parameter1
END
GO
