/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1617_DeleteCNStock]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1617_DeleteCNStock]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1617_DeleteCNStock]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRANS_1617_DeleteCNStock]
@parameter1 nvarchar(400),--TripLogId
@parameter2 nvarchar(max),--ChallanIds
@createdsessionid bigint
as
BEGIN

update cs set cs.TriplogId=null, cs.MSID=@createdsessionid, cs.MDOE=GETDATE() from tChallanMaster as cs
where cs.Id IN(@parameter2)

SELECT cs.* into #tmpsl FROM tCNStockLog cs
join tCNChallan cl on cs.ChallanCNId=cl.Id where cl.ChallanId IN(@parameter2)
AND cs.LogTypeId in(1424,1422)/*Only find last entry i.e. Transit Entry*/

select * from #tmpsl

UPDATE tCNDTSStatusLog SET NextLogId=NULL WHERE NextLogId in(SELECT sl.Id FROM tCNDTSStatusLog sl join #tmpsl cs on sl.StockLogId=cs.Id)
UPDATE tCNDTSStatusLog SET PreviousLogId=NULL WHERE PreviousLogId in(SELECT sl.Id FROM tCNDTSStatusLog sl join #tmpsl cs on sl.StockLogId=cs.Id)

DELETE sl FROM tCNDTSStatusLog sl
join #tmpsl cs on sl.StockLogId=cs.Id

DELETE cs FROM tCNStockLog cs WHERE cs.Id in(SELECT Id FROM #tmpsl)

DELETE cs FROM tCNStockMMLog cs where cs.StockLogId in(SELECT distinct Id FROM #tmpsl)

update cs set cs.TriplogId=null, LogTypeId=1454, cs.MSID=@createdsessionid, cs.MDOE=GETDATE() from tCNStockLog as cs
join tCNChallan cl on cs.ChallanCNId=cl.Id where cl.ChallanId IN(@parameter2)

update mm set mm.TriplogId=null, mm.InQty=0, mm.LogTypeId=1454, mm.MSID=@createdsessionid, mm.MDOE=GETDATE() from tCNStockMMLog mm
join tCNChallan can on mm.ChallanCNId=can.Id
 where can.ChallanId IN(@parameter2)

update c set  c.TriplogId=null, c.LogTypeId=1454, c.ArrivalQty=0, c.ArrivalDate=null, c.DeliveryFailedDate=null, c.IsDeliveryFailed=0
, c.MSID=@createdsessionid, c.MDOE=GETDATE()
from tCNChallan  as c
where c.ChallanId IN(@parameter2)

END

GO
