/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1442_Show]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1442_Show]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1442_Show]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRANS_1442_Show]
--1340: Driver, 1341:Dues, 1342:Vehicle, 1344:Account, 1345:Trip Settlement, 1570: CNMaster
@parameter1 bigint,--FileTypeId(RelatedId)
@parameter2 bigint=0--RecordId
AS
BEGIN
	DECLARE @Select nvarchar(max)=N'SELECT F.Id, TypeId=F.RelatedId, Type=T.ConstantName, F.NatureId, Nature=N.Name, F.Name, F.MediaType, F.UrlPath, F.Size,  F.UserMachine,  F.UserLocalPath, F.ServerFilePath, F.RecordId, Description=F.Description,  F.ImageUrl,  F.CDOE, Status=(CASE IsUploadCompleted WHEN 1 THEN ''Uploaded'' ELSE ''Failled'' END) 
	FROM [dbo].[tApiFile] F
	JOIN [dbo].[mFileUploadNature] N ON F.NatureId=N.Id 
	JOIN [dbo].[mConstantValue] T ON F.RelatedId=T.Id'
	DECLARE @Where nvarchar(max)=N' WHERE F.RelatedId='+CAST(@parameter1 AS nvarchar)	
	IF(@parameter2 >0)
	BEGIN
	SET @Where=@Where +' AND F.RecordId='+CAST(@parameter2 as nvarchar)+''
	END	

	DECLARE @mainsql nvarchar(max)=@Select+@where
	print @mainSQL
	exec sp_sqlexec @mainsql
END
GO
