/****** Object:  StoredProcedure [dbo].[Proc_Report_1500]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1500]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1500]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT * FROM dbo.mObjectcategory
-- EXEC PROC_Report_1500 10,'','','2017-04-01','2017-07-01',0
CREATE PROC [dbo].[Proc_Report_1500]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 bigint--Client
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	set @parameter5=DATEADD(day,1,@parameter5)

	SET NOCOUNT ON;
	Select t.*,MarginPcnt=cast((case when isnull(t.TripBooking,0)=0 then 0 else isnull(t.Net,0)/isnull(t.TripBooking,0) end)*100 as decimal(18,2)) from (
	SELECT 

	o.OfficeName,
	VehicleNo=m.VehicleRegNo,
	VehicleType=vt.Name,
	TripDateWOUTT=convert(varchar(10),t.TripStartDate,103),
	TripStartDate=convert(varchar(20),t.TripStartDate,103) +'  '+ convert(varchar(20),t.TripStartDate,108),
	t.TriplogNo,
	dvr.DriverName,
	dvr.DriverCode,
	PartyName=pm.FleetAcName,

	RouteName=tr.Name,
	LoadingDate=convert(varchar(20),t.LoadingDate,103) +'  '+ convert(varchar(20),t.LoadingDate,108),
	UnloadingReachDate=convert(varchar(20),t.UnloadingReachDate,103) +'  '+ convert(varchar(20),t.UnloadingReachDate,108),

	UnloadingDate=convert(varchar(20),t.UnLoadingDate,103) +'  '+ convert(varchar(20),t.UnLoadingDate,108),
	NoOfCNs=(Select Count(c.Id) from dbo.tCNMaster as c where c.TripLogId=t.Id),

	TripDays=DATEDIFF(day,t.TripStartDate,t.UnLoadingDate),
	t.StartKm,
	t.EndKm,
	t.GpsKmRun,
	t.TotalKmRun,
	
	TripNature=isnull(tn.ConstantName,'Loaded'),
	tp.TripSheetNo,
	t.ReferFuelQty,
	t.Remarks,

	TripAdvance=isnull(adv.Tottripadv,0),
	FuelAmount=isnull(adv.TottripFuel,0),
	FuelQty=isnull(adv.TotalFuelQty,0),
	AdditionalFuelQty=isnull(t.AddFuelQty,0),
	TotalAdvance=isnull(adv.Tottripadv,0)+isnull(adv.TottripFuel,0),
	TripBooking=isnull(t.CNFreight,0),
	Net=isnull(t.CNFreight,0)-(isnull(adv.Tottripadv,0)+isnull(adv.TottripFuel,0)),
	BookingPerDay=cast(((case when DATEDIFF(day,t.TripStartDate,t.UnLoadingDate)=0 then 0 else isnull(t.CNFreight,0)/DATEDIFF(day,t.TripStartDate,t.UnLoadingDate) end)) as decimal(18,2)),
	ExpensePerDay=cast(((case when DATEDIFF(day,t.TripStartDate,t.UnLoadingDate)=0 then 0 else isnull((isnull(adv.Tottripadv,0)+isnull(adv.TottripFuel,0)),0)/DATEDIFF(day,t.TripStartDate,t.UnLoadingDate) end)) as decimal(18,2)),
	BookingPerKM=cast(((case when isnull(t.GpsKmRun,0)=0 then 0 else isnull(t.CNFreight,0)/isnull(t.GpsKmRun,0) end)) as decimal(18,2)),
	ExpensePerKm=cast(((case when isnull(t.GpsKmRun,0)=0 then 0 else isnull((isnull(adv.Tottripadv,0)+isnull(adv.TottripFuel,0)),0)/isnull(t.GpsKmRun,0) end)) as decimal(18,2)),
	AdvancePcnt=cast(((case when isnull(t.CNFreight,0)=0 then 0 else isnull((isnull(adv.Tottripadv,0)+isnull(adv.TottripFuel,0)),0)/isnull(t.CNFreight,0) end)*100) as decimal(18,2)),
	CU=csu.UserName,
	DOE=t.CDOE,
	MU=msu.UserName,
	DOM=t.MDOE
	FROM dbo.tVehicleMovementLog as t
	INNER JOIN dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.OfficeId end)
	LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1stId
	left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
	left join dbo.mConstantValue as tn on tn.Id=t.TripNatureId
	left join dbo.mLedger as pm on pm.Id=t.PartyId
	left join dbo.tTripSettlement as tp on tp.Id=t.SettlementId
	left join dbo.mRouteMaster as tr on tr.Id=t.RouteId
	left join dbo.mGenericMaster as vt on vt.Id=m.VehicleTypeId
	left join
	(
		select t.TripLogId, Tottripadv=sum(isnull(t.CashAmount,0)),TottripFuel=sum(isnull(t.FuelAmount,0)),TotalFuelQty=sum(isnull(t.FuelQty,0))
		from dbo.tTripAdvanceLog as t where t.TripLogId>0 group by t.TripLogId
	)as adv on adv.TripLogId=t.Id
	left join(
		select t.TripLogId,TotTripExp=sum(isnull(t.SettledAmount,0)) from dbo.tTripExpenseLog as t where TripLogId>0 group by t.TripLogId
	)as texp on texp.TripLogId=t.Id
	left join ApiSessions as cs on cs.Id=t.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	left join ApiSessions as ms on ms.Id=t.MSID
	left join dbo.ApiUsers as msu on msu.Id=ms.UserId
	WHERE t.TripStartDate>=@parameter4 and t.TripStartDate<@parameter5 and t.TripTypeId = 1158
	and (Case when @parameter6>0 and t.PartyId=@parameter6  then 1 when @parameter6<=0 then 1 else 0 end)=1
	)as t
	ORDER BY t.TripStartDate 
END
GO
