/****** Object:  StoredProcedure [dbo].[Proc_Report_1424]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1424]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1424]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	[Proc_Report_1424] '2016-07-01','2018-12-27','0',1

CREATE proc [dbo].[Proc_Report_1424]
	@parameter1 datetime,
	@parameter2 datetime,
	@parameter3 bigint,--BrandList
	@parameter4 int --1:Purchase Date ,2: Scrap Date
	
	
as
begin
	declare @StartDate datetime,@EndDate datetime,@DateType int
	

	set nocount on;
	select
	t.* 
	,CPKMInPaise=cast((100*(case when isnull(TyreNetCost,0)=0 then 0 else isnull(TyreKmRun,0)/isnull(TyreNetCost,0) end))as decimal(18,3))
	from (
		select		
		BrandName = bm.BrandName
		,TyreCount=count(tm.Id)
		,TyreCost=sum(isnull(t.ActaulTyreCost,0))
		,TyreScrapCost = sum(isnull(t.ActualScrapCost,0))
		,LM0=sum(isnull(t.LM0,0))
		,LM1=sum(isnull(t.LM1,0))
		,LM2=sum(isnull(t.LM2,0))
		,LM3=sum(isnull(t.LM3,0))
		,LM4=sum(isnull(t.LM4,0))
		,LM5=sum(isnull(t.LM5,0))
		,TyreKmRun = sum(isnull(t.KmRun,0))
		,TyreNetCost = sum(isnull(t.ActaulTyreCost,0)-isnull(t.ActualScrapCost,0))
		from dbo.mTyreMaster as tm
		join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
		left join dbo.tTyreLog as tt on tt.Id=tm.PurchaseLogId
		left join 
		(
			select  tt.TyreId
			,ActaulTyreCost=sum(isnull(tt.ActaulTyreCost,0))
			,ActualScrapCost=sum(isnull(tt.ActualScrapCost,0))
			,KmRun=sum(isnull(tt.KmRun,0))
			,ReceiptMonth=sum(isnull(tt.ReceiptMonth,0)) 
			,LM0=sum(case when tt.TyreLife=0 then tt.KmRun else 0 end)
			,LM1=sum(case when tt.TyreLife=1 then tt.KmRun else 0 end)
			,LM2=sum(case when tt.TyreLife=2 then tt.KmRun else 0 end)
			,LM3=sum(case when tt.TyreLife=3 then tt.KmRun else 0 end)
			,LM4=sum(case when tt.TyreLife=4 then tt.KmRun else 0 end)
			,LM5=sum(case when tt.TyreLife=5 then tt.KmRun else 0 end)
			from dbo.vwTyreLifeMileage as tt group by tt.TyreId
		)as t on t.TyreId=tm.Id
		where tm.Status_VoucherTypeId = 37  and
		(case when @parameter4=1 and tt.VoucherDate between @parameter1 and @parameter2 then 1 --Tyre purchase date
		when @parameter4=2 and tm.Status_VoucherDate between @parameter1 and @parameter2 then 1  --Scrap Types
		else 0 end)=1
		and (case when isnull(@parameter3,0)=0 then 1 when tm.BrandId=@parameter3 then 1  else 0 end)=1
		group by bm.BrandName
	)as t 
end
GO
