/****** Object:  StoredProcedure [dbo].[Proc_Report_1448]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1448]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1448]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1448] @parameter1 BIGINT,--CreditAccount
@parameter2 BIGINT,--VehicleId
@parameter3 BIGINT,--0:Both,1:Own,2:Hire
@parameter4 NVARCHAR(MAX),--FromDate
@parameter5 NVARCHAR(MAX),--ToDate
@parameter6 NVARCHAR(200),--VoucherTypeIds 1:CashAdv, 2:FuelAdv, 3:eToll, 4: DriverAdv
@parameter7 BIGINT,--HireVehicleId
@parameter8 nvarchar(50) --1: Settled Advance, 2: Unsettled Advance, 3: All
AS
BEGIN
--1	Driver Cash Advance
--2	Driver Diesel Advance
--15	Driver Incentive
--16	Driver Deduction
--59	Driver Salary Paid
--76	Advance
--78	HS Balance Payment
--88	eToll Expense
--91	Driver Debit

  SET @parameter6 =
  CASE
    WHEN @parameter6 = '5' OR
      LEN(ISNULL(@parameter6, '')) <= 0 THEN '1,2,15,16,59,78,76,88,91'
	 WHEN @parameter6 = '1' then '1,78,76'
	 WHEN @parameter6 = '2' then '2,78,76'
	  WHEN @parameter6 = '3' then '88'
	  WHEN @parameter6 = '4' then '15,16,59,91'
    ELSE @parameter6
  END
  SET @parameter5 = DATEADD(DAY, 1, @parameter5)
  SELECT
    Office = O.OfficeName
   ,PaymentMode = pm.ConstantName
   ,DocNo = T.VoucherNo
   ,DocDate = T.AdvanceDate
   ,RefNo = t.ReferenceNo
   ,AdvanceType = AT.VoucherTypeName
   ,CreditAccount = CR.AccountName
   ,Nature = gm.Name
   ,VehicleNo = case when hvm.Id>0 then hvm.RegistrationNo else V.VehicleRegNo end
   ,VehicleType = CASE WHEN isnull(t.HireVehicleId,0) > 0 THEN 'H' ELSE 'O' END
   ,Driver = DVR.DriverName
   ,RouteName = rt.Name
   ,T.RequestAmount
   ,CashAmount = (CASE WHEN T.FuelQty>0 THEN 0 ELSE T.CashAmount END) 
   ,FuelType = FT.Name
   ,T.FuelQty
   ,T.RequestQty
   ,T.FuelRate
   ,T.FuelAmount
   ,TotalAmount=(CASE WHEN T.FuelQty>0 THEN T.FuelAmount ELSE T.CashAmount END)
   ,DebitAccount = DR.AccountName
   ,TLNo = TL.TriplogNo
   ,TSNo = TS.TripSheetNo
   ,Remark = T.Remark
   ,DOE = T.CDOE
   ,CreatedBy = [dbo].[GetUserBySessionId](t.CSID)
   ,MDOE = T.MDOE
   ,ModifiedBy = [dbo].[GetUserBySessionId](t.MSID)
   ,RequestStatus = (CASE WHEN T.RequestStatusId = 1596 THEN 'Pending' WHEN T.RequestStatusId = 1597 THEN 'Approved' ELSE 'Direct Pay' END)
   ,TollName = (CASE WHEN ISJSON(T.Data) = 1 THEN JSON_VALUE(t.Data, '$.ICICIFastTagDetail.PlazaName') ELSE '' END)
   ,SystemRemark = (CASE WHEN ISJSON(T.Data) = 1 THEN JSON_VALUE(t.Data, '$.ICICIFastTagDetail.SystemRemark') ELSE '' END), Time=FORMAT(T.VoucherDate,'HH:mm')
  FROM dbo.tTripAdvanceLog AS T
  LEFT JOIN dbo.mConstantValue AS pm ON pm.Id = t.PaidInId
  LEFT JOIN [dbo].[mOfficeMaster] AS O ON T.[OfficeId] = O.[Id]
  LEFT JOIN dbo.mDriverMaster AS DVR ON DVR.Id = T.DriverId
  LEFT JOIN dbo.mVehicleMaster AS V ON V.Id = T.VehicleId
  LEFT JOIN dbo.mHireVehicle AS hvm on hvm.Id=t.HirevehicleId
  LEFT JOIN dbo.mVoucherType AS AT ON AT.Id = T.AdvanceTypeId
  LEFT JOIN dbo.tVehicleMovementLog AS TL ON TL.Id = T.TripLogId
  LEFT JOIN dbo.mGenericMaster AS FT ON FT.Id = T.FuelId
  LEFT JOIN dbo.mLedger AS DR ON DR.Id = T.DebitAccountId
  LEFT JOIN dbo.mLedger AS CR ON CR.Id = T.CreditAccountId
  LEFT JOIN dbo.tTripSettlement AS TS ON TS.Id = T.SettlementId
  LEFT JOIN dbo.mRouteMaster AS rt ON rt.Id = tl.RouteId
  LEFT JOIN [dbo].[mGenericMaster] gm ON t.Ref1Id = gm.Id
  WHERE ISNULL(T.RequestStatusId,0)<>1598 AND T.AdvanceTypeId IN (SELECT Item FROM dbo.SplitCommastring(@parameter6))
  AND (t.AdvanceDate >= @parameter4 AND t.AdvanceDate < @parameter5)
  AND (CASE WHEN @parameter1 = 0 THEN 1
    WHEN @parameter1 = T.CreditAccountId THEN 1
    ELSE 0
  END) = 1
  AND (CASE
    WHEN @parameter2 = 0 THEN 1
    WHEN @parameter2 = T.VehicleID THEN 1
    ELSE 0
  END) = 1
  AND (CASE
    WHEN @parameter3 IN (0, 1) AND
      @parameter7 = 0 THEN 1
    ELSE 0
  END) = 1
   
and (CASE	  
WHEN isnull(t.SettlementId,0)=0 and @parameter8 = 'UnSettled Advance' THEN 1
WHEN isnull(t.SettlementId,0)>0 and @parameter8 = 'Settled Advance' THEN 1
WHEN @parameter8='All' then 1
ELSE 0
END) = 1

  UNION ALL

  SELECT
    Office = O.OfficeName
   ,PaymentMode = pm.ConstantName
   ,DocNo = v.VoucherNo
   ,DocDate = T.AdvDate
   ,RefNo = v.VoucherNo
   ,AdvanceType = AT.VoucherTypeName
   ,CreditAccount = CR.AccountName
   ,Nature = ''
   ,VehicleNo = hvm.RegistrationNo
   ,VehicleType = 'H'
   ,Driver = DVR.DriverName
   ,RouteName = rt.Name
   ,RequestAmount = 0
   ,CashAmount = CASE WHEN t.PaymentModeId = 1430 THEN T.Amount ELSE 0 END
   ,FuelType = CASE WHEN t.PaymentModeId = 1430 THEN 'Diesel' ELSE '' END
   ,FuelQty = CASE WHEN t.PaymentModeId = 1518 THEN T.FuelQty ELSE 0 END
   ,RequestQty = 0
   ,Rate = CASE WHEN t.PaymentModeId = 1518 THEN T.Rate ELSE 0 END
   ,Amount = CASE WHEN t.PaymentModeId = 1518 THEN T.Amount ELSE 0 END
   ,TotalAmount=Amount
   ,DebitAccount = DR.AccountName
   ,TLNo = TL.TriplogNo
   ,TSNo = ''
   ,Remark = T.Remarks
   ,DOE = T.CDOE
   ,CreatedBy = aus.UserName
   ,MDOE = T.MDOE
   ,ModifiedBy = mus.UserName
   ,RequestStatus = 'Paid'
   ,TollName=''
   ,SystemRemark = ''
   ,Time=FORMAT(T.AdvDate,'HH:mm')
  FROM [dbo].[tHSAdvance] AS T
  JOIN dbo.tVouchers AS v
    ON t.VoucherId = v.Id
  LEFT JOIN dbo.tVehicleMovementLog AS TL
    ON TL.Id = T.HireSlipId
  LEFT JOIN dbo.mConstantValue AS pm
    ON pm.Id = t.PaymentModeId
  LEFT JOIN [dbo].[mOfficeMaster] AS O
    ON T.[OfficeId] = O.[Id]
  LEFT JOIN dbo.mDriverMaster AS DVR
    ON DVR.Id = TL.Driver1StId
  LEFT JOIN dbo.mVoucherType AS AT
    ON AT.Id = v.VoucherTypeId

  LEFT JOIN dbo.mHireVehicle AS hvm
    ON hvm.Id = TL.HireVehicleId
  LEFT JOIN dbo.mLedger AS DR
    ON DR.Id = T.DrAccountId
  LEFT JOIN dbo.mLedger AS CR
    ON CR.Id = T.CrAccountId

  LEFT JOIN dbo.mRouteMaster AS rt
    ON rt.Id = tl.RouteId
      LEFT JOIN dbo.ApiSessions AS aps
    ON T.CSID = aps.Id
  LEFT JOIN ApiUsers AS aus
    ON aus.Id = aps.UserId
  LEFT JOIN dbo.ApiSessions AS mas
    ON T.CSID = mas.Id
  LEFT JOIN ApiUsers AS mus
    ON mus.Id = mas.UserId
  WHERE (CASE
    WHEN T.PaymentModeId = 1430 THEN 1
    WHEN T.PaymentModeId = 1518 THEN 2
    ELSE 0
  END) IN (SELECT
      Item
    FROM dbo.SplitCommastring(@parameter6))
  AND (t.AdvDate >= @parameter4
  AND t.AdvDate < @parameter5)
  AND (CASE
    WHEN @parameter1 = 0 THEN 1
    WHEN @parameter1 = T.CrAccountId THEN 1
    ELSE 0
  END) = 1
  AND (CASE
    WHEN @parameter7 = 0 THEN 1
    WHEN @parameter7 = TL.HireVehicleId THEN 1
    ELSE 0
  END) = 1
  AND (CASE
    WHEN @parameter3 IN (0, 2) AND
      @parameter2 = 0 THEN 1
    ELSE 0
  END) = 1

END
GO
