/****** Object:  StoredProcedure [dbo].[Proc_Format_1009_0]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1009_0]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1009_0]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Format_1009_0] 
	@parameter1 bigint
as
begin
    declare @ToDate Date
    Set @ToDate=(Select ts.EndDate from dbo.tTripSettlement as ts where ts.Id=@parameter1)

	select 
	TripsheetId=ts.Id,
	VehicleId=ts.VehicleId,
	VehicleNo=vm.VehicleNo,
	VehicleType=vt.[Name],
	TripSheetNo=ts.TripSheetNo,
	FromDate=ts.StartDate,
	ToDate=ts.EndDate,
	SettleDate=ts.SettleDate, 
	DriverId=dvr.Id,
	Driver1st=dvr.DriverName,       
	DVRLicNo=dvr.LicenceNo,
	DVRRegDate=dvr.RegistrationDate,
	DVRLicStartDate=dvr.LicenceDate,
	DVRLicExpiryDate=dvr.ExpiryDate,
	DVRLDLogs=tld.DVRLDLogs,
	DVRMTLogs=tld.DVRMTLogs,
	DVRLDKms=tld.DVRLDKms,
	DVRMTKms=tld.DVRMTKms,
	RouteName=ts.TripRoute,
	StartKM=ts.StartKm,
	EndKM=ts.EndKm,
	RunKM = ts.RunKm,
	AddtoinalKM = isnull(ts.TotalKmRun,0)-isnull(ts.RunKm,0),
	OpeningBalance=(select Sum(isnull(CASE WHEN AdvanceTypeId=17 THEN CashAmount WHEN AdvanceTypeId=86 THEN -CashAmount END,0)) from dbo.tTripAdvanceLog as xtal where xtal.SettlementId=ts.Id and xtal.AdvanceTypeId IN(17,86) and xtal.DriverId=ts.Driver1Id),
	UnsettledAdv=(select Sum(isnull(CASE WHEN AdvanceTypeId=17 THEN CashAmount WHEN AdvanceTypeId=86 THEN -CashAmount END,0)) from dbo.tTripAdvanceLog as xtal where xtal.SettlementId=ts.Id and xtal.AdvanceTypeId IN(17,86) and xtal.DriverId=ts.Driver1Id),
	DriverPayment=0,
	TripDays=DATEDIFF(day,ts.StartDate,ts.EndDate),
	tl.TransitDays,
	FuelQty=0,
	[Description]=ts.Remarks,
	TotTripExp=te.TotExpAmount,
	TotFuelExp=te.TotFuelExp,
	TotCashExp=te.TotCashExp,
	TotCashAdv=a.TotCashAdv,	
	TotFuelAdv=a.TotFuelAdv,
	TotTripAdv=a.TotCashAdv+a.TotFuelAdv,
	TotCNFreight=isnull(tl.BookingAmt,0),
	TotMktFreight=isnull(tl.BookingMKTAmt,0),
	TotKmRun=CASE WHEN ts.TotalKmRun>0 THEN ts.TotalKmRun ELSE ts.RunKm END,
	Penalty=ts.PenaltyAmount,
	CashDeposit=ts.CashDeposited,
	CashPaid=ts.CashPaid,
	LoadAvg=Isnull(vm.LoadedMileage,0),
	EmptyAvg=isnull(vm.EmptyMileage,0),
	TotLoadKmRun=isnull(tl.LdKmRun,0)
	--CreatedBy= dbo.GetUserBySessionId(ts.CSID),
	--ModifedBy=dbo.GetUserBySessionId(ts.MSID)	
	from dbo.tTripSettlement as ts
	join dbo.mVehicleMaster as vm on vm.Id=ts.VehicleId
	left join
	(
	   select tl.SettlementId,TransitDays=Sum(DATEDIFF(day,isnull(tl.LoadingDate,tl.TripStartDate),ISNULL(tl.UnloadingReachDate,tl.UnLoadingDate))),LdKmRun=Sum(isnull(tl.TotalKmRun,0)),BookingAmt=Sum(isnull(tl.CnFreight,0)),BookingMKTAmt=Sum(isnull(tl.MarketFreight,0))
	   from dbo.tVehicleMovementLog as tl group by tl.SettlementId
	)as tl on tl.SettlementId=ts.Id
	left join
	(
	   select tl.Driver1stId,DVRLDKms=Sum(case when tl.TripNatureId=1075 then isnull(tl.TotalKmRun,0) else 0 end),DVRMTKms=Sum(case when tl.TripNatureId=1075 then 0 else isnull(tl.TotalKmRun,0) end),
	   DVRLDLogs=count(case when tl.TripNatureId=1075 then tl.Id else null end),DVRMTLogs=count(case when tl.TripNatureId=1075 then null else tl.Id end)
	   from dbo.tVehicleMovementLog as tl where tl.TripStartDate<=@ToDate Group by tl.Driver1stId
	)as tld on tld.Driver1stId=ts.Driver1Id
	left join dbo.mGenericMaster as vt on vt.Id=vm.VehicleTypeId
	left join dbo.mDriverMaster as dvr on dvr.Id=ts.Driver1Id
	left Join
	(
	   select tal.SettlementId,TotCashAdv=SUM(isnull(tal.CashAmount,0)),TotFuelAdv=sum(isnull(tal.FuelAmount,0)) 
	   from dbo.tTripAdvanceLog as tal 
	   where AdvanceTypeId in(1,2,88,16) Group by tal.SettlementId
	)as  a on a.SettlementId=ts.Id
	left join
	(
	    select
	    TotExpAmount=Sum(Isnull(te.SettledAmount,0)),
	    TotFuelExp=Sum(case when e.NatureId in(1479) then Isnull(te.SettledAmount,0) else 0 end),
	    TotCashExp=Sum(case when e.NatureId in(1479) then 0 else Isnull(te.SettledAmount,0) end),
	    te.SettlementId
	    from dbo.tTripExpenseLog as te
	    join dbo.mExpenseMaster as e on e.Id=te.ExpenseTypeId
	    group by te.SettlementId
	)as te on te.SettlementId=ts.Id	
	where ts.Id=@parameter1

END
GO
