/****** Object:  StoredProcedure [dbo].[Proc_Report_1665]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1665]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1665]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1665]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter6 bigint--Incharge
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	Select SNNo=ROW_NUMBER()Over(order by t.IdleDays desc), Incharge,CategoryName,ClassName,VehicleNo,VehicleSize,LastTripEndDate,LastPartyName,LastRouteName,IdleDays,IdleHours from(
	SELECT 
	rowid=ROW_NUMBER()Over(Partition By vts.VehicleId order by t.TripStartDate Desc),
	Incharge=inc.Name, --incharge
	CCO.CategoryName,
	CCO.ClassName,
	m.VehicleNo,
	VehicleSize=ovt.Name,
	[LastTripEndDate]=format(t.UnloadingDate,'dd-MMM-yyyy HH:mm:ss'),
	[LastPartyName]=pm.FleetAcName, --custemername
	[LastRouteName]=tr.Abbr,
	[IdleDays]=DateDiff(DAY,t.UnloadingDate,getdate()),
	[IdleHours]=dbo.IntToHHMMSS(abs(DateDiff(HOUR,t.UnloadingDate,getdate())-DateDiff(DAY,t.UnloadingDate,getdate())*24))
	FROM dbo.tVTSStatusLog as vts 
	JOIN dbo.[CCO](@parameter1,@parameter2,@parameter3) as CCO on CCO.ObjectId=vts.VehicleId
	JOIN dbo.mVehicleMaster AS m on m.Id=vts.VehicleId
	left join dbo.tVehicleMovementLog as t on vts.TriplogId=t.Id		
	left join dbo.mGenericMaster as inc on inc.Id=m.Ref1Id
	left join dbo.mGenericMaster as ovt on ovt.Id=m.VehicleTypeId
	left join dbo.mLedger as pm on pm.Id=isnull(t.PartyId,0)
	left join dbo.mRouteMaster as tr on tr.Id=isnull(t.RouteId,0)	
	WHERE isnull(vts.NextLogId,0)=0 and (case when @parameter6=0 then 1 when m.Ref1Id=@parameter6 then 1 else 0 end)=1
	and DateDiff(hour,t.UnloadingDate,getdate())>48
	and t.UnloadingDate is not null
	)as t where t.rowid=1 
END
GO
