/****** Object:  StoredProcedure [dbo].[Proc_Report_1640]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1640]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1640]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1640]
	--1639	Outstanding Details
	@parameter1 bigint,--Financer
	@parameter2 bigint,--Bank
	@parameter3 nvarchar(max)--AsOfDate
As
BEGIN
	SET NOCOUNT ON;
	
	SELECT 
	o.OfficeName,
	ln.LoanNo,
	ln.LoanDate,
	Financer=cr.FleetAcName,
	PaidTo=dr.FleetAcName,
	TotalPrincipal=sum(ll.PrincipalAmount),
	TotalInterest=sum(ll.InterestAmount),
	TotalInstallment=sum(ll.InstallmentAmount)	,
	PendingEMI=count(ll.Id)
	from dbo.tLoan as ln
	join dbo.tLoanLog as ll on ll.LoanId=ln.Id
	left join dbo.tLoanLog as xll on xll.ParentLogId=ll.Id
	join dbo.mOfficeMaster as o on o.Id=ln.OfficeId
	join dbo.mLedger as cr on cr.Id=ln.CreditAcId
	join dbo.mLedger as dr on dr.Id=ln.DebitAcId
	
	WHERE ln.TypeId=1552 and (cast(ll.LogDate as date) <= @parameter3)
	and (case when @parameter1=0 then 1 when ln.CreditAcId=@parameter1 then 1 else 0 end)=1
	and (case when @parameter2=0 then 1 when ln.DebitAcId=@parameter2 then 1 else 0 end)=1
	and isnull(xll.Id,0)=0

	group by o.OfficeName,ln.LoanNo,ln.LoanDate,cr.FleetAcName,dr.FleetAcName
	ORDER BY ln.LoanDate
END
GO
