/****** Object:  StoredProcedure [dbo].[Proc_Report_1303]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1303]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1303]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--SELECT * FROM mObjectCategory
-- EXEC Proc_Report_1300 '2010-01-01','2016-12-12',10010,'',''

CREATE procedure [dbo].[Proc_Report_1303]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime--todate	
as
begin
	DECLARE @RoleId int
	set @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		Office = o.OfficeName,
		DocDate = ei.DocDate,        
        DocNo = ei.DocNo,
		VendorRefNo=ei.VendorReferenceNo,
		Vendor=cr.FleetAcName,
		Store=dr.FleetAcName,
		TransactionType=vt.VoucherTypeName,
		Amount = t.Amount,
		DiscountAmt = t.DiscountAmt,
		--TaxAmount = t.VATAmt,
		t.CGSTAmount, 
		t.SGSTAmount, 
		t.IGSTAmount,  
		OtherChgs = t.OtherChg,
		NetAmount = t.NetAmount+t.OtherChg+(case when ei.CalVat=1 then (t.CGSTAmount+t.SGSTAmount+t.IGSTAmount) ELSE 0 END),
		ei.Remark,
		CreatedBy=[dbo].[GetUserBySessionId](ei.CSID),
		CreatedTime=ei.CDOE,
		ModifiedBy=[dbo].[GetUserBySessionId](ei.MSID),
		ModifiedTime=ei.MDOE
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tBatteryLogExtraInfo as ei on CCO.ObjectId=(CASE @RoleId When 1029 THEN  ei.DrAccountId WHEN 1031 THEN ei.CrAccountId end)
	join
	( 
		select t.ExtraInfoId,Amount=sum(t.Rate),DiscountAmt=sum(t.DiscountAmount),CGSTAmount=sum(t.CGSTAmount),SGSTAmount=sum(t.SGSTAmount),IGSTAmount=sum(t.IGSTAmount),OtherChg=sum(t.OtherAmount),NetAmount=sum(t.NetAmount) from dbo.tBatteryLog as t group by t.ExtraInfoId
	)as t on ei.Id=t.ExtraInfoId
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=ei.DrAccountId
	join dbo.mLedger as cr on cr.Id=ei.CrAccountId
	join dbo.mVoucherType as vt on vt.Id=ei.VoucherTypeId
	where ei.DocDate between @parameter4 and @parameter5 and (ei.VoucherTypeId=43)
	order by ei.DocDate
	
END
GO
