/****** Object:  StoredProcedure [dbo].[Proc_TripSchedule_1686]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TripSchedule_1686]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TripSchedule_1686]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TripSchedule_1686]
	@parameter1 date,--ScheduleDate
	@parameter2 bigint,--Incharge
	@parameter3 bigint,--Client
	@parameter4 nvarchar(200)=NULL--FreeText
AS
begin
	select 
	ActTripNo=act.TriplogNo,
	ActTripDate=act.LoadingDate,
	ActVehicleNo=vm.VehicleNo,
	ScheduleDate=@parameter1, TripScheduleConfigurationId=sc.Id,
	RouteName =r.Name, sc.RouteId, ClientName= cl.AccountName, ClientId=sc.ConsignorId, 
	PlacementTime=sc.PlacementTime, 
	DepartureTime=sc.DepartureTime, 
	TripLogId=isnull(vml.Id,0), 
	TripLogNo=vml.TriplogNo, 
	VehicleId=vml.VehicleId, 
	VehicleNo=v.VehicleNo, 
	TripStartDate=vml.LoadingReachDate, 
	DepartureDate=vml.LoadingDate, 
	DriverId=isnull(tmp.DriverId, vml.Driver1stId)
	,IsPostedOnGps=CAST((CASE WHEN EXISTS(SELECT 1 FROM tPickDroplog p WHERE p.TriplogId=vml.Id AND ISNULL(p.Ref2,'')<>'') THEN 1 ELSE 0 END) as bit),
	 KmRun=r.TransitKm,TAT=r.TransitHours,
	LoadType=l.[Name],LoadTypeId=l.Id,
	VehicleType=gm.Name,
	PartyRefNo=vml.PartyRefNo
	
	from tTripScheduleConfig sc
	left join tVehicleMovementLog vml on sc.Id=vml.ScheduleConfigurationId AND CAST(vml.TripStartDate as date)=@parameter1 AND 1=(CASE WHEN vml.TripTypeId=1664 AND vml.UnLoadingDate IS NOT NULL THEN 0 ELSE 1 END)
	left join mRouteMaster r on r.Id=sc.RouteId
	left join mGenericMaster gm on sc.VehicleTypeId=gm.Id
	left join mLedger cl on cl.Id=sc.ConsignorId
	left join mLoadType l on sc.LoadTypeId=l.Id
	left join mVehicleMaster v on v.Id=vml.VehicleId
	left join (
	SELECT * from (
	select RowId=ROW_NUMBER()OVER(PARTITION BY PartyId,RouteId ORDER BY Id desc),
	vml.Id,vml.RouteId,vml.TripLogNo,vml.PartyId,vml.VehicleId,vml.LoadingDate,LoadTypeId=ISNULL(vml.LoadTypeId,(select top 1 cn.LoadTypeId FROM dbo.tCNChallan ch left join dbo.tCNMaster cn on ch.CNId=cn.Id where ch.TriplogId=vml.Id))
	FROM tVehicleMovementLog vml
	WHERE TripTypeId<>1664 AND UnLoadingDate IS NULL) as frm where RowId=1) as act on act.PartyId=sc.ConsignorId AND act.RouteId=sc.RouteId 
	/*AND cast(act.LoadingDate as date)=@parameter1 AND cast(act.LoadingDate as time)>sc.DepartureTime*/
	AND act.LoadingDate between DATEADD(HOUR,-1,CONVERT(datetime,Format((CASE WHEN sc.PlacementTime>sc.DepartureTime THEN DATEADD(day,1,@parameter1) ELSE @parameter1 END),'yyyy-MM-dd')+' '+CONVERT(nvarchar(5),sc.DepartureTime))) AND DATEADD(HOUR,6,CONVERT(datetime,Format((CASE WHEN sc.PlacementTime>sc.DepartureTime THEN DATEADD(day,1,@parameter1) ELSE @parameter1 END),'yyyy-MM-dd')+' '+CONVERT(nvarchar(5),sc.DepartureTime)))
	AND
	1=(CASE WHEN ISNULL(sc.LoadTypeId,0)=0 OR ISNULL(sc.LoadTypeId,0)=0 THEN 1 WHEN act.LoadTypeId=sc.LoadTypeId THEN 1 ELSE 0 END)
	left join mVehicleMaster vm on vm.Id=act.VehicleId
	left join 	
	  (
	   select VehicleId=mn.VehicleId, DriverId=mn.DriverId from 
	   (select ROW_NUMBER() over (PARTITION BY [vehicleId] ORDER BY [StatusDate] desc) as RowNumber,*
	   from tDriverVehicleMapping) as mn where RowNumber=1
	  ) as tmp on tmp.VehicleId=v.Id 
	   where sc.StartDate<=@parameter1 AND (ISNULL(@parameter3,0)=0 OR sc.ConsignorId=@parameter3) AND 
	   1=(CASE WHEN ISNULL(@parameter4,'')='' THEN 1 WHEN (cl.AccountName like '%'+ISNULL(@parameter4,'')+'%' 
	   OR r.Name like ISNULL(@parameter4,'')+'%') THEN 1 ELSE 0 END)
	   and (cast(ISNULL(sc.EndDate,dateadd(day,1,GETDATE())) as date)>=cast(@parameter1 as date))
	   ORDER BY sc.PlacementTime
end
GO
