/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1521_TriplogImportPostScript]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1521_TriplogImportPostScript]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1521_TriplogImportPostScript]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRNS_1521_TriplogImportPostScript]
@parameter1 nvarchar(225) -- Batch Id
As
BEGIN TRANSACTION
DECLARE @id bigint
DECLARE @tripdate datetime
DECLARE @vehicleid bigint  
DECLARE @prevlogid bigint

-- local means the cursor name is private to this code
-- fast_forward enables some speed optimizations
declare db_cursor cursor local fast_forward for
SELECT Id, TripStartDate, VehicleId 
FROM dbo.tVehicleMovementLog 
WHERE BatchId=@parameter1 AND HireVehicleId is null
order by TripStartDate,Id

open db_cursor
-- Instead of fetching twice, I rather set up no-exit loop
while 1 = 1
BEGIN
  -- And then fetch
  FETCH NEXT FROM db_cursor INTO @id,@tripdate,@vehicleid
  -- And then, if no row is fetched, exit the loop
  if @@fetch_status <> 0
  begin
     break
  end
  -- Quotename is needed if you ever use special characters
  -- in table/column names. Spaces, reserved words etc.
  -- Other changes add apostrophes at right places.

 select TOP 1 @prevlogid=Id from tVehicleMovementLog as T
 where T.Id<>@id AND T.TripStartDate<=@tripdate AND T.VehicleId=@vehicleid AND T.HireVehicleId is null  AND (case when T.BatchId=@parameter1 THEN (case when T.Id<@id then 1 else 0 end ) else 1 end)=1
 order by TripStartDate desc,T.Id desc
 select @prevlogid,@id
 update tVehicleMovementLog  SET NextLogId=@id where Id=@prevlogid
 update tVehicleMovementLog  SET PreviousLogId=@prevlogid where Id=@id
  --print @cmd

  --EXEC sp_executeSQL @cmd
END

close db_cursor 
deallocate db_cursor

--ROLLBACK TRANSACTION
COMMIT TRANSACTION
GO
