/****** Object:  StoredProcedure [dbo].[Proc_Report_1426]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1426]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1426]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	[Proc_Report_1426] '2015-01-01','2016-12-27','',2
CREATE PROC [dbo].[Proc_Report_1426]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)--AccountIds
as
begin
	
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		VehicleNo = CCO.ObjectName,
		TyreNo = t.TyreNo,
		TyreLife = t.TyreLife,
		BrandName = bm.BrandName,
        OnDate = t.VoucherDate,
        OnKm = t.KmRun,
        WP = tt.WP,
        NSD1 = tt.NSD1,
		NSD2 = tt.NSD2,
		NSD3 = tt.NSD3,
		NSD4 = tt.NSD4,
        KmReading = t.KmReading,
        TyreLife = t.TyreLife,
        R = t.IsRemoulded,
        S = t.IsStepney
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLog as t on CCO.ObjectId=t.VehicleId
	join dbo.mTyreMaster as tm on tm.Id=t.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	left join 
	(
		select tt.TyreId,WP=wp.Name,NSD1=tt.TreadDepth,NSD2=tt.TreadDepth2,NSD3=tt.TreadDepth3,NSD4=tt.TreadDepth4 from dbo.tTyreCheck as tt 
		join dbo.mGenericMaster as wp on wp.Id=tt.WPID
		where tt.NextLogId is null
	)as tt on tt.TyreId=t.TyreId	

	order by CCO.ObjectName,t.VoucherDate
	
end
GO
