/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1496_InsertBulkVTSStatus]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1496_InsertBulkVTSStatus]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1496_InsertBulkVTSStatus]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Proc_TRANS_1496_InsertBulkVTSStatus] 
(
	@reportrequestid bigint
)
AS
BEGIN
	DECLARE @xml xml,@batchid nvarchar(100);
	SELECT TOP 1 @xml=XmlParameter,@batchid=Parameter1 FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
	if(@xml IS NULL)return;
	DECLARE @hdoc AS INT
		DECLARE @PrepareXmlStatus INT 
		EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml


	insert into dbo.tVTSStatusLog([VehicleId],[DriverId],[DTSStatusId],[Remark],[TriplogId],[SupervisorId],[NextLogId],[PreviousLogId],[StatusId],[CSID],[StartDate],[EndDate],[LocationId],[DelayMinutes],[ConsumedMinutes],[GPSLocation],[IsAuto],[GPSVendorId],[LastAckDate],[HireVehicleId])
	select 
	[VehicleId],[DriverId],[DTSStatusId],[Remark],[TriplogId],[SupervisorId],[NextLogId],[PreviousLogId],[StatusId],[CSID],[StartDate],[EndDate],[LocationId],[DelayMinutes],[ConsumedMinutes],[GPSLocation],[IsAuto],[GPSVendorId],[LastAckDate],[HireVehicleId]
	FROM OPENXML(@hdoc, '/ArrayOfBulkVTSStatus/BulkVTSStatus',2)
		WITH (
				VehicleId bigint,
				DriverId bigint,
				DTSStatusId bigint,
				Remark nvarchar(500),
				TriplogId bigint,
				SupervisorId bigint,
				NextLogId bigint,
				PreviousLogId bigint,
				StatusId int,
				CSID bigint,			
				StartDate datetime,
				EndDate datetime,
				LocationId bigint,
				DelayMinutes bigint,
				ConsumedMinutes bigint,				
				GPSLocation nvarchar(1000),
				IsAuto bit,
				GPSVendorId bigint,
				LastAckDate datetime,
				HireVehicleId bigint
		) as t
END
GO
