/****** Object:  StoredProcedure [dbo].[Proc_Report_1342]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1342]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1342]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	select * from dbo.mObjectCategory
--	select * from dbo.apiViews where id=1342
-- exec [Proc_Report_1342] 20018,'','','2017-10-10'
CREATE PROC [dbo].[Proc_Report_1342]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date--asofdate
As
-- 1342:	DriverLicenceExpiry
--select * from dbo.mConstantValue where ConstantTypeId=61
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	set nocount on;
	
	select
	OfficeName = ofc.OfficeName,
	vm.VehicleRegNo,
    DriverCode= dvr.DriverCode,
    DriverName= dvr.DriverName,
	DriverPhone=isnull(pa.ContactNumber,'') +', '+isnull(pa.AltContactNumber,''),
    LicenceNo = dvr.LicenceNo,
    IssueDate = convert(nvarchar(10),dvr.LicenceDate,103),
    IssueAuthority = ia.CityName,
    ExpiryDate = convert(nvarchar(10),dvr.ExpiryDate,103),
	[CurrentStatus] = st.ConstantName,
    StatusDate = convert(nvarchar(10),t.StatusDate,103)

	From dbo.mDriverMaster as dvr
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as CCO on CCO.ObjectId=dvr.Id
	left join dbo.tDriverVehicleMapping as t on dvr.Id=t.DriverId and isnull(t.NextLogId,0)=0 
	left join dbo.mConstantValue as st on st.Id=t.DriverStatusId 
	left join dbo.mCityMaster as ia on ia.Id=dvr.IssuingPlaceId
	left join dbo.mOfficeMaster as ofc on ofc.Id=dvr.OfficeID
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mPostalAddress as pa on pa.Id=dvr.CurrentAddressId
	where dvr.ExpiryDate<=@parameter4 and t.DriverStatusId=1225
	order by dvr.ExpiryDate
	
END

GO
