/****** Object:  StoredProcedure [dbo].[Proc_Report_1507]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1507]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1507]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec Proc_Report_1507 4,'2016-1-01','2016-11-20','Y'
CREATE PROC [dbo].[Proc_Report_1507]
	@parameter1 bigint,--OfficeId
	@parameter2 DateTime,--FromDate
	@parameter3 DateTime,--ToDate
	@parameter4 nvarchar(10),--IncludeTransit
	@parameter5 bigint,--@ConsigneeId
	@parameter6 bigint,--@ConsignorId
	@parameter7 bigint--@PartId
as
begin
	
	select 
	d.OfficeName,
	d.Consignee,
	d.Consignor,
	d.PartNo,
	d.PartName,
	OpeningQty=sum(isnull(d.OpeningQty,0)),
	ReceivedQty=sum(isnull(d.ReceivedQty,0)),
	DispatchQty=sum(isnull(d.DispatchQty,0)),
	ClosingQty=sum(isnull(d.OpeningQty,0))+sum(isnull(d.ReceivedQty,0))-sum(isnull(d.DispatchQty,0))
	from (
		select 
		ofc.OfficeName,
		Consignee=cne.FleetAcName,
		Consignor=cnr.FleetAcName,
		PartNo=mt.Code,
		PartName=mt.Name,
		OpeningQty=sum(isnull(t.InQty,0))-sum(isnull(t.OutQty,0)),
		ReceivedQty=0,
		DispatchQty=0,
		ClosingQty=0
		from dbo.tCNStockMMLog as t
		join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
		left join dbo.mMaterialMaster as mt on mt.Id=t.MaterialId
		left join dbo.tCNMaster as cn on t.CNId=cn.Id
		left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
		left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
		where t.LogDate<@parameter2 and t.OfficeId=@parameter1 and (t.LogTypeId in(1422,1455,1423,1451) or (@parameter4='Y' and t.LogTypeId=1424))
		and (case when isnull(@parameter5,0)>0 and cne.Id=@parameter5 then 1 when isnull(@parameter5,0)=0 then 1 else 0 end)=1
		and (case when isnull(@parameter6,0)>0 and cnr.Id=@parameter6 then 1 when isnull(@parameter6,0)=0 then 1 else 0 end)=1
		and (case when isnull(@parameter7,0)>0 and mt.Id=@parameter7 then 1 when isnull(@parameter7,0)=0 then 1 else 0 end)=1
		group by ofc.OfficeName, cne.FleetAcName,cnr.FleetAcName,mt.Code,mt.Name
		union all
		select 
		ofc.OfficeName,
		Consignee=cne.FleetAcName,
		Consignor=cnr.FleetAcName,
		PartNo=mt.Code,
		PartName=mt.Name,
		OpeningQty=0,
		ReceivedQty=sum(isnull(t.InQty,0)),
		DispatchQty=sum(isnull(t.OutQty,0)),
		ClosingQty=0
		from dbo.tCNStockMMLog as t
		join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
		left join dbo.mMaterialMaster as mt on mt.Id=t.MaterialId
		left join dbo.tCNMaster as cn on t.CNId=cn.Id
		left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
		left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
		where t.LogDate>=@parameter2 and t.LogDate<=@parameter3 and t.OfficeId=@parameter1 and (t.LogTypeId in(1422,1455,1423,1451) or (@parameter4='Y' and t.LogTypeId=1424))
		and (case when isnull(@parameter5,0)>0 and cne.Id=@parameter5 then 1 when isnull(@parameter5,0)=0 then 1 else 0 end)=1
		and (case when isnull(@parameter6,0)>0 and cnr.Id=@parameter6 then 1 when isnull(@parameter6,0)=0 then 1 else 0 end)=1
		and (case when isnull(@parameter7,0)>0 and mt.Id=@parameter7 then 1 when isnull(@parameter7,0)=0 then 1 else 0 end)=1
		group by ofc.OfficeName,cne.FleetAcName,cnr.FleetAcName,mt.Code,mt.Name
	)as d
	group by d.OfficeName,d.Consignee,d.Consignor,d.PartNo,d.PartName 

end
GO
