/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5006_driverinfo]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5006_driverinfo]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5006_driverinfo]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Mob_Report_5006_driverinfo]--110241
@parameter1 BIGINT
AS
  SELECT TOP 1
    d.Id
   ,Office = ofc.OfficeName
   ,DriverName = d.DriverName
   ,DriverCode = d.DriverCode
   ,Phone1 = ca.ContactNumber
   ,Phone2 = ca.AltContactNumber
   ,DOB = d.DateOfBirth
   ,Age = d.Age
   ,Religion = rl.ConstantName
   ,LicenceNo = d.LicenceNo
   ,Authoirty = ia.CityName
   ,StartDate = d.LicenceDate
   ,ExpiryDate = d.ExpiryDate
   ,CurAddress = ca.FullAddress
   ,PerAddress = pa.FullAddress
   ,CurrentStatus = st.ConstantName
   ,StatusDate = CONVERT(NVARCHAR(10), t.StatusDate, 103)
   ,VehicleNo = vm.VehicleRegNo
   ,ImageUrl = ISNULL((SELECT TOP 1
        ImagUrl
      FROM dbo.Func_GetSingleImageUrlByNatureId(1340, d.Id, 1))
    , '')
  FROM dbo.mDriverMaster AS d
  LEFT JOIN dbo.mPostalAddress AS pa
    ON pa.ID = d.PermnAddress
  LEFT JOIN dbo.mPostalAddress AS ca
    ON ca.ID = d.CurrentAddressId
  LEFT JOIN dbo.tDriverVehicleMapping AS t
    ON d.Id = t.DriverId
      AND ISNULL(t.NextLogId, 0) = 0
  LEFT JOIN dbo.mConstantValue AS st
    ON st.Id = t.DriverStatusId
  LEFT JOIN dbo.mVehicleMaster AS vm
    ON vm.Id = t.VehicleId
  LEFT JOIN dbo.mCityMaster AS ia
    ON ia.Id = d.IssuingPlaceId
  LEFT JOIN dbo.mOfficeMaster AS ofc
    ON ofc.Id = d.OfficeID
  LEFT JOIN dbo.mConstantValue AS rl
    ON rl.Id = d.ReligionId
  WHERE d.Id = @parameter1
--Select * from dbo.mFileUploadNature
GO
