/****** Object:  StoredProcedure [dbo].[Proc_Report_1630_Old]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1630_Old]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1630_Old]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec Proc_Report_1602 1,'1','106','2017-02-02','',0,408
CREATE PROC [dbo].[Proc_Report_1630_Old]
--1630: Partywise Transit Stock
@parameter1 bigint,--OfficeId
@parameter2 date,--FromDate
@parameter4 bigint,--Consignee
@parameter5 bigint--Consignor
as
begin
	

	select
	ofc.OfficeName
	,tl.TriplogNo
	,tl.TripStartDate
	,[VehicleNo]=case when tl.TripTypeId=1160 then hvm.RegistrationNo else vm.VehicleRegNo end
	,[O]=case when tl.TripTypeId=1160 then 'H' else 'O' end
	,[Consignor]=cnr.FleetAcName
	,[Consignee]=cne.FleetAcName
	,[LRNo]=cn.CNNo
	,[PartCode]=matm.Code
	,[PartName]=matm.Name
	,[TransitQty]=sum(isnull(i.OutQty,0))
	from dbo.tCNStockMMLog  as i
	join dbo.tCNMaster as cn on cn.Id=i.CNId
	join dbo.mMaterialMaster as matm on matm.Id=i.MaterialId
	join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	join dbo.mOfficeMaster as ofc on ofc.Id=i.OfficeId 
	join dbo.tVehicleMovementLog as tl on tl.Id=i.TriplogId
	left join dbo.mHireVehicle as hvm on tl.HireVehicleId=hvm.Id
	left join dbo.mVehicleMaster as vm on tl.VehicleId=vm.Id
	where i.LogTypeId=1424 and cast(i.LogDate as date) <= @parameter2
	and i.OfficeId=@parameter1
	and (case when @parameter4=0 then 1 when @parameter4>0 and cn.ConsigneeId=@parameter4 then 1 else 0 end)=1
	and (case when @parameter5=0 then 1 when @parameter5>0 and cn.ConsignorId=@parameter5 then 1 else 0 end)=1
	group by ofc.OfficeName,tl.TriplogNo,tl.TripStartDate,case when tl.TripTypeId=1160 then 'H' else 'O' end,case when tl.TripTypeId=1160 then hvm.RegistrationNo else vm.VehicleRegNo end,cne.FleetAcName,cnr.FleetAcName,cn.CNNo,matm.Code,matm.Name

end


GO
