/****** Object:  StoredProcedure [dbo].[Proc_Report_1399]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1399]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1399]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1399] '2015-01-01','2016-12-27','',2
CREATE PROC [dbo].[Proc_Report_1399]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime--todate	
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		TyreNo = t.TyreNo,
		TyreLife = t.TyreLife,
		BrandName = bm.BrandName,
        OnDate = t.VoucherDate,
        Office = o.OfficeName,
        RefNo = ei.VendorReferenceNo,
        DocumentDate = t.VoucherDate,
        SenderStore = cr.FleetAcName,
        ReceivingStore = dr.FleetAcName,
        t.DiscountPercent,
        t.DiscountAmount,
        --t.VatPercent,
        --t.VatAmount,
		t.CGSTPercent, 
		t.CGSTAmount,
		t.SGSTPercent, 
		t.SGSTAmount,
		t.IGSTPercent, 
		t.IGSTAmount, 
        t.OtherAmount,
        t.NetAmount,
        t.Rate,
        t.Remark
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLogExtraInfo as ei on CCO.ObjectId=(CASE @RoleId When 1029 THEN  ei.DrAccountId WHEN 1031 THEN ei.CrAccountId end)
	join dbo.tTyreLog as t on ei.Id=t.ExtraInfoId	
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mTyreMaster as tm on tm.Id=t.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
		
	where t.VoucherDate between @parameter4 and @parameter5 and t.VoucherTypeId = 36
	order by ei.VoucherDate
	
end
GO
