/****** Object:  StoredProcedure [dbo].[Proc_Format_1020_2]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1020_2]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1020_2]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_Format_1020_2]
	@parameter1 bigint,
	@parameter2 bigint-- Tyre=1129, vehicle=1128
as
begin -- dues
	declare @vehicleId bigint,@KmRun bigint,@JobDate Datetime,@StartKM bigint
	select @vehicleId= VehicleId,@KmRun=TotalKmRun,@StartKM=StartKm,@JobDate=TripStartDate from dbo.tVehicleMovementLog where Id=@parameter1

	SELECT 
	DueKMRun=[e1].[DueKM],
	iDays= [e1].[DueDays],
	iAlertDayes=[e1].[AlertDays],
	iAlertKM=  [e1].[AlertKM],
	[e3].[EndKm],
	[e4].[Abbr],
	PMName=[e4].Abbr,
	PreJobDate=e1.JobDate,
	PreReading=e3.EndKm,
	OldRemainingKM=[e1].[DueKM]-[e1].[AlertKM]-ISNULL((SELECT SUM(kk.TotalKmRun) FROM dbo.tVehicleMovementLog kk WHERE kk.TripTypeId=1159 AND kk.VehicleId=e1.VehicleId AND CAST(kk.TripStartDate as date) between CAST(e3.TripStartDate as date) AND CAST(@JobDate as date)),0),
	RemainingDays=[e1].[DueDays]-[e1].[AlertDays]-DATEDIFF(DAY,e1.JobDate,@JobDate),
	DueDate=CAST(DATEADD(DAY,[e1].[DueDays]-[e1].[AlertDays]-DATEDIFF(DAY,e1.JobDate,@JobDate),@JobDate) as date),
	RemainingKM=[e1].[DueKM]-[e1].[AlertKM]-(@StartKM-[e3].StartKm)
	from 
	(
		select row_number()over(partition by [e1].[VehicleId],[e1].[PMId] order by [e1].[JobDate] desc)as rowid, [e1].* from [dbo].[tVehiclePMLog] as [e1]  where e1.JobDate<=@JobDate
	)as [e1]
	join [dbo].[mPMMaster] AS [e2] ON [e1].[PMId] = [e2].[Id]
	join [dbo].[tVehicleMovementLog] AS [e3] ON [e1].[JobCardId] = [e3].[Id]
	--left join [dbo].[tVehiclePMLog] AS pvpl ON pvpl.Id = e1.PreviousLogId
	--left join [dbo].[tVehicleMovementLog] AS pjb ON  pjb.[Id]=pvpl.[JobCardId]
	left join [dbo].[mPMMaster] AS [e4] ON [e4].[Id]=[e1].[NewPMId]
	where [e1].rowid=1 and ([e2].[NatureID] = 1128)
	and ([e1].[VehicleId] = @vehicleId)
	--and ([e1].[NextLogId] IS NULL)
	--and ((CAST([e1].[DueKM] - [e1].[AlertKM] AS bigint) <= @KmRun) OR (CAST([e1].[DueAlertDate] as date) <= CAST( @JobDate as date)))
	and ([e1].[JobDate] < convert(datetime2, @JobDate, 121))
end

GO
