/****** Object:  StoredProcedure [dbo].[Proc_Report_1610]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1610]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1610]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [dbo].[Proc_Report_1610] @parameter1=N'5',@parameter2=NULL,@parameter3=NULL,@parameter4=N'2018-08-13',@parameter5=N'2018-09-13',@parameter6=N'3',@parameter7=N'2'
-- SELECT * FROM mObjectCategory
CREATE PROC [dbo].[Proc_Report_1610]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--StartDate
	@parameter5 nvarchar(max),--EndDate
	@parameter6 nvarchar(max),--Date TypeId: StartDate,EndDate
	@parameter7 nvarchar(max)--1:Ledger,2:Expense-Category,3:Expense
As
begin
	DECLARE @RoleId nvarchar(100),@StartDate datetime,@EndDate datetime,@DateType int
	SET @RoleId=cast((SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1) as nvarchar(100))
	
	SET NOCOUNT ON;
	
	SET @StartDate=@parameter4
	SET @EndDate=DATEADD(DAY,1,@parameter5)
	SET @DateType=CAST(@parameter6 as int)
	
	Declare @StartDateString Varchar(255)
	Declare @EndDateString Varchar(255)
	Declare @ColumnName Varchar(255)
	Declare @CCAString varchar(2000)

	SET @StartDateString= '''' + Convert(Varchar,@StartDate,101) + ''''
	SET @EndDateString= '''' + Convert(Varchar,@EndDate,101) +  ''''
	SET @DateType=(Case When ISNULL(@DateType,0)=0 Then 1 Else @DateType End)
	
SET @ColumnName=(Case @DateType When 1 Then ' TS.TripStartDate ' When 2 Then ' TS.UnloadingDate ' ELSE ' TS.TripStartDate ' End)

SET @CCAString= 'dbo.CCO(' + CAST(@parameter1 as varchar(50)) + ',''' +  ISNULL(@parameter2,'') + ''',''' + ISNULL(@parameter3,'') +''')'


Create  TABLE #CCO(TriplogId int Primary Key,[CategoryName] Varchar(255),  [ClassName] Varchar(255),ObjectName Varchar(255),ObjectId bigint )  
		
		
		Exec('
		Insert Into #CCO(TriplogId,[CategoryName],[ClassName],[ObjectName],[ObjectID])		
		Select Id,[CategoryName],[ClassName],CCA.[ObjectName],CCA.[ObjectID] 
		From dbo.tVehicleMovementlog as TS 
		Inner Join ' +  @CCAString + ' as CCA ON CCA.ObjectId=(CASE '+ @RoleId +' When 1130 THEN  ts.VehicleId WHEN 1085 THEN ts.OfficeId end)		
		Where ts.TripTypeId=1158 and ' + @ColumnName  + '>=' +  @StartDateString +' and ' + @ColumnName  + '<=' +  @EndDateString)



Declare @ColList as Varchar(Max)

IF(@parameter7=1)
	Select  @ColList= ISNULL(@ColList + ',' ,'') + '[' + Ltrim(Rtrim(FleetAcName)) +']' From dbo.mLedger Where Id In (Select LedgerId From dbo.mExpenseMaster Where Id in(Select ExpenseTypeId From dbo.tTripExpenseLog Where TriplogId in(Select TriplogId From #CCO)))  
Else IF(@parameter7=2)
	Select @ColList=ISNULL(@ColList + ',' ,'') + '[' + Name + ']' From dbo.mGenericMaster Where Id In (Select ExpenseCategoryId From dbo.mExpenseMaster Where Id in(Select ExpenseTypeId From dbo.tTripExpenseLog Where TriplogId in(Select TriplogId From #CCO)))
Else
	Select @ColList=ISNULL(@ColList + ',' ,'') + '[' + Name + ']'  From dbo.mExpenseMaster Where Id in(Select ExpenseTypeId From dbo.tTripExpenseLog Where TriplogId in(Select TriplogId From #CCO))  Order By Name

DECLARE @Group VARCHAR(255)
SET @Group=(CASE  @parameter7 When 1 Then  'LTrim(RTrim(AM.FleetAcName))' When 2 Then 'ET.Name' else  'E.Name'  End)

SET  @ColList=ISNULL(@ColList,'[NoColumn]')
print @ColList
declare @sql nvarchar(max)=N'
Select *  

From
(
	SELECT 
	CCA.CategoryName,
	CCA.ClassName,
	o.OfficeName,
	TripStartDate=convert(varchar(10),ts.TripStartDate,103),
	SortOrderId=convert(varchar(10),ts.TripStartDate,112),
	ts.TriplogNo,
	TripNature=tn.ConstantName,
	VehicleNo=m.VehicleRegNo,
	VehicleType=isnull((select name from dbo.mGenericMaster as g where g.Id=m.VehicleTypeId),''''),	
	fd.DriverName,
	fd.DriverCode,
	RouteName=tr.Abbr,
	UnloadingDate=convert(varchar(10),ts.UnloadingDate,103),
	TripDays=DATEDIFF(day,ts.TripStartDate,ts.UnLoadingDate),
	ts.TotalKmRun,
	ts.Remarks,

	BdgtFuel=texp.TotBdgtFuelQty,
	FuelActaul=texp.TotActaulFuelQty,
	FuelDiff=texp.TotActaulFuelQty-texp.TotBdgtFuelQty,

	BdgtExp=texp.TotBdgtTripExp,
	ActualExp=texp.TotTripExp,
	ExpDiff=texp.TotTripExp-texp.TotBdgtTripExp,
	Destination=dct.CityName,
	[GroupByValue]=' + @Group +',
	[SettledAmount]=ISNULL(TE.SettledAmount,0)
	FROM dbo.tVehicleMovementLog as ts
	Inner Join #CCO as CCA ON CCA.TriplogId=TS.Id
	LEFT JOIN dbo.mVehicleMaster AS m on m.Id=ts.VehicleId
	LEFT JOIN dbo.mDriverMaster AS fd on fd.Id=ts.Driver1stId
	left join dbo.mOfficeMaster as o on o.Id=ts.OfficeId
	left join dbo.mConstantValue as tn on tn.Id=ts.TripNatureId
	
	left join dbo.mRouteMaster as tr on tr.Id=ts.RouteId
	left join dbo.mCityMaster as dct on dct.Id=tr.ToPlaceId
	left join(
		select t.TripLogId,TotBdgtFuelQty=sum(isnull(t.BudgetedQty,0)),TotActaulFuelQty=sum(isnull(t.FuelQty,0)),TotBdgtTripExp=sum(isnull(t.ClaimAmount,0)),TotTripExp=sum(isnull(t.SettledAmount,0)) from dbo.tTripExpenseLog as t  where TripLogId>0 group by t.TripLogId
	)as texp on texp.TripLogId=ts.Id
	Left Join dbo.tTripExpenseLog as TE ON TE.TriplogId=TS.Id
	Left Join dbo.mExpenseMaster E ON E.Id=TE.ExpenseTypeId
	Left Join dbo.mGenericMaster AS ET ON ET.Id=E.ExpenseCategoryId
	Left Join dbo.mLedger As AM On AM.Id=E.LedgerId
)as Res
PIVOT
(
	Sum(SettledAmount)	
	FOR [GroupByValue]
	IN(' + @ColList + ')
) as PVT
order by SortOrderId 
'
print @sql
Exec(@sql)
drop table #CCO
End


GO
