/****** Object:  StoredProcedure [dbo].[Proc_Report_1484]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1484]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1484]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	[Proc_Report_1484] '2016-04-01','2017-03-31'
CREATE procedure [dbo].[Proc_Report_1484] 
(
	@parameter1 DATETIME,
	@parameter2 DATETIME
)
AS 
BEGIN
-- 1484: Profit & Loss
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter1 between OpeningDate and ClosingDate),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter2 between OpeningDate and ClosingDate),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('Financial Year not existings of selected date',16,1);  
		RETURN;
	end
	
	DECLARE @GroupTrialBalance TABLE
	(RowID BIGINT IDENTITY(1,1),EParticularsId BIGINT, EParticulars VARCHAR(200), EAmount DECIMAL(18,2),EDrCr varchar(2),IParticularsId BIGINT, IParticulars VARCHAR(200), IAmount DECIMAL(18,2),IDrCr varchar(2))


	DECLARE @Details TABLE
	(RowID BIGINT IDENTITY(1,1), GroupID BIGINT, GroupName VARCHAR(200), ParentGroupName VARCHAR(200),LedgerBalance DECIMAL(18,2),DrCr varchar(2),OrderId Int,CommonGroupId int,ParentGroupId int)

	

	DECLARE @TabGroups TABLE(RowID BIGINT IDENTITY(1,1),GroupID BIGINT, GroupName VARCHAR(200), ParentGroupId BIGINT)

		
	INSERT INTO @TabGroups
	SELECT Id,GroupName,ParentGroupId FROM dbo.mAccountGroup where ParentGroupId in(3,4) order by ParentGroupId desc,Id --3:Income 4:Expense
	

	DECLARE @FromRowID BIGINT,@ToRowID BIGINT,@GroupID BIGINT,@GroupName VARCHAR(200),@ParentGroupName VARCHAR(200),@ParentGroupId BIGINT
	SET @FromRowID = 0
	SET @ToRowID = (SELECT MAX(RowID) from @TabGroups)
	WHILE @FromRowID < @ToRowID
	BEGIN
		SET @FromRowID = @FromRowID + 1
		SET @GroupID = ISNULL((SELECT GroupID FROM @TabGroups WHERE RowID = @FromRowID),0)
		SET @GroupName = ISNULL((SELECT GroupName FROM @TabGroups WHERE RowID = @FromRowID),'')
		SET @ParentGroupId=ISNULL((SELECT ParentGroupId FROM @TabGroups WHERE GroupID = @GroupID),0)
		DECLARE @OpBalance DECIMAL(18,2)
		
		--Set @OpBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId join mLedger xa on xa.Id=xvd.AccountId where xa.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID)) and  xv.FYID=@FFYId and ((xv.VoucherDate >= @parameter1 and xv.VoucherDate<=@parameter2) or xv.VoucherTypeId in(19,69)) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0)
		
		

		--	==================Grouping=============		
		INSERT INTO @Details(GroupID,GroupName,ParentGroupName,LedgerBalance,DrCr,OrderId,CommonGroupId,ParentGroupId)	

		SELECT 
		@GroupID,
		@GroupName,
		ParentGroupName=(select g.GroupName from dbo.mAccountGroup as g where g.Id=@ParentGroupId),
		abs(isnull([LedgerAmount],0)),
		DrCr=case when isnull([LedgerAmount],0)>0 then 'Dr' when isnull([LedgerAmount],0)<0 then 'Cr' end,
		orderid=0,
		@GroupID,
		@ParentGroupId		
		FROM
		(
			Select 
			[LedgerAmount]=Sum(ISNULL(vd.VDAmount,0))
			from dbo.tVouchers as v 
			inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
			inner join dbo.mLedger as a on a.Id=vd.AccountId
			where v.FYID=@FFYId and (v.VoucherDate<=@parameter2) and voucherTypeId not in(19,69) and v.IsAccepted=1 and IsAccountsVisiblity=1
			and a.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID) where hLevel<=2)
		)as v
		
	END

	--Update @Details set LedgerBalance=abs(LedgerBalance)

	--Insert Into @GroupTrialBalance(EParticularsId ,Expense,EParticulars, EAmount,EDrCr,IParticularsId, Income, IParticulars, IAmount,IDrCr)
	--Values()

DECLARE  @DirectIncAmount DECIMAL(18,2),@PurchaseAmount DECIMAL(18,2), @SalesAmount DECIMAL(18,2),
@DirectExpAmount DECIMAL(18,2), @IndirectExpAmount DECIMAL(18,2), @IndirectIncAmount DECIMAL(18,2)
,@DirectExpGroupID BIGINT,@DirectIncGroupID BIGINT,@IndirectExpGroupID BIGINT,@IndirectIncGroupID BIGINT
DECLARE @IncomeTaxGroupID BIGINT,  @IncomeTaxAmount DECIMAL(18,2),  @GroupDrAmount DECIMAL(18,2), @GroupCrAmount DECIMAL(18,2)
DECLARE @PurchaseGroupID BIGINT, @SalesGroupID BIGINT, @Debit_Amount DECIMAL(18,2), @Credit_Amount DECIMAL(18,2)
   
--SET Values Of Amount For Next Transaction of Main Groups
SELECT @DirectIncAmount =(LedgerBalance),@DirectIncGroupID=GroupID  FROM  @Details WHERE GroupName ='Direct Incomes'
SELECT @PurchaseAmount =(LedgerBalance),@PurchaseGroupID=GroupID  FROM  @Details WHERE GroupName ='Purchase Accounts'
SELECT @SalesAmount =(LedgerBalance),@SalesGroupID=GroupID  FROM  @Details WHERE GroupName ='Sales Accounts'
SELECT @DirectExpAmount =(LedgerBalance),@DirectExpGroupID=GroupID  FROM  @Details WHERE GroupName ='Direct Expenses'
SELECT @IndirectExpAmount =(LedgerBalance),@IndirectExpGroupID=GroupID  FROM  @Details WHERE GroupName ='Indirect Expenses'
SELECT @IndirectIncAmount =(LedgerBalance),@IndirectIncGroupID=GroupID  FROM  @Details WHERE GroupName ='Indirect Incomes'
SELECT @IncomeTaxAmount =(LedgerBalance),@IncomeTaxGroupID=GroupID  FROM  @Details WHERE GroupName ='Income Tax'

INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
VALUES (@PurchaseGroupID, 'Purchase Accounts', @PurchaseAmount, @SalesGroupID,'Sales Accounts', @SalesAmount)


INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
VALUES(@DirectExpGroupID, 'Direct Expenses', @DirectExpAmount, @DirectIncGroupID, 'Direct Incomes', @DirectIncAmount)


DECLARE @GrossProfitLoss DECIMAL(18,2), @DrTotal DECIMAL(18,2), @CrTotal DECIMAL(18,2)

set @DrTotal = (SELECT SUM(EAmount)FROM @GroupTrialBalance)
set @CrTotal = (SELECT SUM(IAmount)FROM @GroupTrialBalance)
set @GrossProfitLoss = @CrTotal - @DrTotal
if @GrossProfitLoss < 0 --if @GrossProfitLoss is debit add Loss
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values	(null, null, null, null, 'Gross Loss c/f', -@GrossProfitLoss)
END
else --if @GrossProfitLoss is credit add Profit
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values (null, 'Gross Profit c/f', @GrossProfitLoss, null, null, null)
END

--insert total of direct expenses and incomes
if @GrossProfitLoss >= 0
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values	(null, null, @CrTotal, null, null, @CrTotal)
END
else
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values 	(null, null, @DrTotal, null, null, @DrTotal)
END

-- enter gross profit / loss b/f
if @GrossProfitLoss < 0
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values	(null, 'Gross Loss b/f', -@GrossProfitLoss, null, null, null)
END
else
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values (null, null, null, null, 'Gross Profit b/f', @GrossProfitLoss)
END

INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
values (@IndirectExpGroupID, 'Indirect Expenses', @IndirectExpAmount, @IndirectIncGroupID, 'Indirect Incomes', @IndirectIncAmount)

DECLARE @OthersGroupID int, @OthersGroupName varchar(300),@GroupTotal DECIMAL(18,2)

INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
SELECT case when isnull(LedgerBalance,0)>0 then GroupID end,case when isnull(LedgerBalance,0)>0 then GroupName end, case when isnull(LedgerBalance,0)>0 then isnull(LedgerBalance,0) end,case when isnull(LedgerBalance,0)<0 then GroupID end,case when isnull(LedgerBalance,0)<0 then GroupName end, case when isnull(LedgerBalance,0)<0 then isnull(LedgerBalance,0) end  FROM  @Details WHERE GroupName Not In('Direct Incomes','Purchase Accounts','Sales Accounts','Direct Expenses','Indirect Expenses','Indirect Incomes','Income Tax')


INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
VALUES(@IncomeTaxGroupID, 'Income Tax', @IncomeTaxAmount, null, null, null)

DECLARE @NetProfitLoss DECIMAL(18,2)
if @GrossProfitLoss >= 0
BEGIN
	set @DrTotal = ISNULL(@IndirectExpAmount, 0)  + ISNULL(@GroupDrAmount, 0) + ISNULL(@IncomeTaxAmount, 0)
	set @CrTotal = ISNULL(@GrossProfitLoss, 0) + ISNULL(@IndirectIncAmount, 0) + ISNULL(@GroupCrAmount, 0)
	set @NetProfitLoss = @CrTotal - @DrTotal
END
else
BEGIN
	set @DrTotal = -ISNULL(@GrossProfitLoss, 0) + ISNULL(@IndirectExpAmount, 0) + ISNULL(@IncomeTaxAmount, 0) + ISNULL(@GroupDrAmount, 0)
	set @CrTotal = ISNULL(@IndirectIncAmount, 0) + ISNULL(@GroupCrAmount, 0)
	set @NetProfitLoss = @CrTotal - @DrTotal
END

if @NetProfitLoss >= 0
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values(null, 'Net Profit', @NetProfitLoss, null, null, null)
END
else
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values(null, null, null, null, 'Net Loss', -@NetProfitLoss)
END

--insert net totals
if @NetProfitLoss >= 0
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values(null, null, @CrTotal, null, null, @CrTotal)
END
else
BEGIN
	INSERT INTO @GroupTrialBalance(EParticularsId, EParticulars, EAmount, IParticularsId, IParticulars, IAmount)
	values(null, null, @DrTotal, null, null, @DrTotal)
END


SELECT RowID, EParticularsId,EParticulars,EAmount=Isnull(EAmount,0.00),'||' ='||', IParticularsId,IParticulars,IAmount=Isnull(IAmount,0.00) FROM @GroupTrialBalance 
	
END
GO
