/****** Object:  StoredProcedure [dbo].[Proc_Report_1490]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1490]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1490]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1490] '2015-04-01','2016-03-31'
CREATE procedure [dbo].[Proc_Report_1490] 
(
	@parameter1 DATETIME,@parameter2 datetime
)
AS 
BEGIN
-- 1490: Detail Trial Balance
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter1 between OpeningDate and ClosingDate),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter2 between OpeningDate and ClosingDate),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1); 
		RETURN; 
	end


	DECLARE @GroupTrialBalance TABLE
	(RowID BIGINT IDENTITY(1,1),GroupID BIGINT, GroupName VARCHAR(200), ParentGroupName VARCHAR(200), OpeningBalance DECIMAL(18,2),[O DrCr] varchar(2), DebitAmount DECIMAL(18,2),	CreditAmount DECIMAL(18,2), ClosingBalance DECIMAL(18,2),[C DrCr] varchar(2),OrderId tinyint)

	DECLARE @TabGroups TABLE(RowID BIGINT IDENTITY(1,1),GroupID BIGINT, GroupName VARCHAR(200), ParentGroupId BIGINT)
	
	INSERT INTO @TabGroups
	SELECT Id,GroupName,ParentGroupId FROM dbo.mAccountGroup where ParentGroupId in(SELECT Id FROM dbo.mAccountGroup where ParentGroupId is null)
	

	DECLARE @FromRowID BIGINT,@ToRowID BIGINT,@GroupID BIGINT,@GroupName VARCHAR(200),@ParentGroupName VARCHAR(200),@ParentGroupId BIGINT
	SET @FromRowID = 0
	SET @ToRowID = (SELECT MAX(RowID) from @TabGroups)
	WHILE @FromRowID < @ToRowID
	BEGIN
		SET @FromRowID = @FromRowID + 1
		SET @GroupID = ISNULL((SELECT GroupID FROM @TabGroups WHERE RowID = @FromRowID),0)
		SET @GroupName = ISNULL((SELECT GroupName FROM @TabGroups WHERE RowID = @FromRowID),'')
		SET @ParentGroupId=ISNULL((SELECT ParentGroupId FROM @TabGroups WHERE GroupID = @GroupID),0)
		DECLARE @Debit_Amount DECIMAL(18,2), @Credit_Amount DECIMAL(18,2),@OpBalance decimal(18,2)

		Set @OpBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId join mLedger xa on xa.Id=xvd.AccountId where xa.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID)) and  xv.FYID=@FFYId and (xv.VoucherDate < @parameter1 or xv.VoucherTypeId in(19,69)) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0)

		--==================Grouping======================
		INSERT INTO @GroupTrialBalance(GroupID,GroupName,ParentGroupName,OpeningBalance,DebitAmount,CreditAmount,OrderId)
		SELECT 
		@GroupID,
		@GroupName,
		ParentGroupName=(select g.GroupName from dbo.mAccountGroup as g where g.Id=@ParentGroupId),
		[OpeningBalance]=@OpBalance,
		[DebitAmount]=isnull([DebitAmount],0),
		[CreditAmount]=isnull([CreditAmount],0),1
		from
		(
			Select 
			[DebitAmount]=Sum(abs(case when ISNULL(vd.VDAmount,0)>0 then ISNULL(vd.VDAmount,0) else 0 end)),
			[CreditAmount]=Sum(abs(case when ISNULL(vd.VDAmount,0)<0 then ISNULL(vd.VDAmount,0) else 0 end))		
			from dbo.tVouchers as v 
			inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
			inner join dbo.mLedger as a on a.Id=vd.AccountId
			where v.FYID=@FFYId and v.VoucherDate between @parameter1 and @parameter2 and voucherTypeId not in(19,69) and v.IsAccepted=1 and IsAccountsVisiblity=1
			and a.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID))
		)as v
		--========================================
	END

	Update @GroupTrialBalance set ClosingBalance=ISNULL(DebitAmount, 0.00)- ISNULL(CreditAmount, 0.00) + isnull([OpeningBalance],0)

	Update @GroupTrialBalance set [O DrCr]=case when OpeningBalance>0 then 'Dr' when OpeningBalance<0 then 'Cr' end,[C DrCr]=case when ClosingBalance>0 then 'Dr' when ClosingBalance<0 then 'Cr' end  ,OpeningBalance=abs(OpeningBalance),ClosingBalance=abs(ClosingBalance)

	DECLARE @PLAmount DECIMAL(18,2), @PLOpAmount DECIMAL(18,2),@PLDrAmount DECIMAL(18,2), @PLCrAmount DECIMAL(18,2)

	SELECT @PLDrAmount=DebitAmount,@PLCrAmount=CreditAmount FROM @GroupTrialBalance WHERE GroupName = 'Profit & Loss A/c'

	IF @PLDrAmount IS NULL SET @PLDrAmount = 0
	IF @PLCrAmount IS NULL SET @PLCrAmount = 0

	BEGIN
		IF(@PLAmount + @PLOpAmount + @PLDrAmount - @PLCrAmount) >= 0
		BEGIN
			UPDATE @GroupTrialBalance SET DebitAmount = (@PLAmount + @PLOpAmount + @PLDrAmount - @PLCrAmount),CreditAmount = NULL WHERE GroupName = 'Profit & Loss A/c'
		END
		ELSE
		BEGIN
			UPDATE @GroupTrialBalance SET CreditAmount = -(@PLAmount + @PLOpAmount + @PLDrAmount - @PLCrAmount),DebitAmount = NULL WHERE GroupName = 'Profit & Loss A/c'
		END
	END

	DECLARE @Dr_Total DECIMAL(18,2), @Cr_Total DECIMAL(18,2)
	SELECT @Dr_Total = SUM(DebitAmount), @Cr_Total = SUM(CreditAmount) FROM @GroupTrialBalance

	INSERT INTO @GroupTrialBalance (GroupName, DebitAmount, CreditAmount,OrderId)
	VALUES ('Grand Total', @Dr_Total, @Cr_Total,0)
	
	SELECT GroupID, GroupName, ParentGroupName,OpeningBalance=ISNULL(OpeningBalance, 0.00),[O DrCr], DebitAmount = ISNULL(DebitAmount, 0.00),CreditAmount = ISNULL(CreditAmount, 0.00),ClosingBalance=ISNULL(ClosingBalance, 0.00),[C DrCr],OrderId FROM @GroupTrialBalance  
	
END
GO
