/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1520_Show]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1520_Show]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1520_Show]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	exec [Proc_TRNS_1520_Show] 1,2016,30062

CREATE proc [dbo].[Proc_TRNS_1520_Show]
	@parameter1 bigint,--month
	@parameter2 bigint,--year
	@parameter3 bigint--VehicleId
as
begin
	select t.Id,RefDate,m.VehicleNo,DriverSalary,DueAmount,InstallmentAmount,OtherExpense,TyreAmount,RepairAmount,TripAmount,VehicleId 
	from dbo.tVehicleMonthlyBudget as t
	join dbo.mVehicleMaster as m on m.Id=t.VehicleId
	where year(RefDate)=@parameter2 
	and	(case when @parameter1>0 and month(RefDate)=@parameter1 then 1 when @parameter1=0 then 1 else 0 end)=1-- condition for month or all month
	and (case when @parameter3>0 and t.VehicleId=@parameter3 then 1 when @parameter3=0 then 1 else 0 end)=1-- condition for vehicle or all vehicle
end

GO
