/****** Object:  StoredProcedure [dbo].[Proc_Report_1307]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1307]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1307]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1307] 30029,'','','2010-01-01','2017-10-10'
--	select * from dbo.mObjectCategory
--	Select * from apiviews where id=1307
--	Select * from dbo.mConstantValue where constanttypeid=87
CREATE PROC [dbo].[Proc_Report_1307]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate	
as
begin
	set nocount on;
	select 
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	Office = o.OfficeName,
	DocDate = t.DocDate,        
    DocNo = t.DocNo,
	BatteryNo = t.BatterySerialNo,
	BatteryLife = t.BatteryLife,
	BrandName = bm.BrandName,
	Supplier = cr.FleetAcName,
	t.NetAmount,
	t.Remark
	from dbo.tBatteryLogExtraInfo as ei 
	join dbo.tBatteryLog as t on ei.Id=t.ExtraInfoId
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=t.CreditAccountId
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mBatteryMaster as tm on tm.Id=t.BatteryId
	join dbo.mBatteryBrand as bm on bm.Id=tm.BrandId
	where t.DocDate between @parameter4 and @parameter5 and
	t.BatteryStatusId=1224
	order by ei.DocDate
	
end

GO
