/****** Object:  StoredProcedure [dbo].[Proc_Report_1479]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1479]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1479]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec Proc_Report_1479 '2016-09-01','2016-10-1','','','','','','','','',''
CREATE Proc [dbo].[Proc_Report_1479]
@parameter1 nvarchar(max),--FromDate
@parameter2 nvarchar(max),--ToDate
@parameter3 nvarchar(max),--PartyId
@parameter4 nvarchar(max),--cntype
@parameter5 nvarchar(max),--aCTUAL ROUTE
@parameter6 nvarchar(max),--cnnO
@parameter7 nvarchar(max),--consignee
@parameter8 nvarchar(max),--consignor
@parameter9 nvarchar(max),--loadingoffice
@parameter10 nvarchar(max),--billingoffice
@parameter11 nvarchar(max)--freetext	
AS
begin
	declare @whereclause nvarchar(max),@parameterdef nvarchar(max)
	set @whereclause=' '

	if(len(isnull(@parameter1,''))>0 or len(isnull(@parameter2,''))>0)
	begin
		set @whereclause='x.CNDate Between @parameter1 and @parameter2'
	end

	if(len(isnull(@parameter3,''))>0)
	begin
		set @whereclause=(case when len(@whereclause)>0 then ' and ' else '' end) + 'x.BillingPartyId=@parameter3'
	end

	if(len(isnull(@parameter4,''))>0)
	begin
		set @whereclause=(case when len(@whereclause)>0 then ' and '  else '' end) + 'x.CNTypeId=@parameter4'
	end
	if(len(isnull(@parameter5,''))>0)
	begin
		set @whereclause=(case when len(@whereclause)>0 then ' and ' else '' end) + 'x.ActRouteId=@parameter5'
	end
	if(len(isnull(@parameter6,''))>0)
	begin
		set @whereclause=(case when len(@whereclause)>0 then ' and ' else '' end) + 'x.CNNo=''@parameter6'''
	end
	if(len(isnull(@parameter7,''))>0)
	begin
		set @whereclause=(case when len(@whereclause)>0 then ' and ' else '' end) + 'x.ConsigneeId=@parameter7'
	end
	if(len(isnull(@parameter8,''))>0)
	begin
		set @whereclause=(case when len(@whereclause)>0 then ' and ' else '' end) + 'x.ConsignorId=@parameter8'
	end

	if(len(isnull(@parameter9,''))>0)
	begin
		set @whereclause=(case when len(@whereclause)>0 then ' and ' else '' end) + 'x.LoadingOfficeId=@parameter9'
	end

	if(len(isnull(@parameter10,''))>0)
	begin
		set @whereclause=(case when len(@whereclause)>0 then ' and ' else '' end) + 'x.BillingOfficeId=@parameter10'
	end

	if(len(isnull(@parameter11,''))>0)
	begin
		set @whereclause=(case when len(@whereclause)>0 then ' and ' else '' end) + '(x.MaterialInfo like ''%@parameter11%'' or x.InvoiceNo like ''%@parameter11%'' 
		or x.RefI like ''%@parameter11%'' or x.RefII like ''%@parameter11%'' or x.RefIII like ''%@parameter11%'' or x.RefIV like ''%@parameter11%'' 
		or x.RefV like ''%@parameter11%'' or x.PrivateMarka like ''%@parameter11%'' or x.Remark or like ''%@parameter11%'')' 
	end

	if(len(@whereclause)>0)
	begin 
		set @whereclause=' where ' +@whereclause
	end

	print @whereclause

	declare @sqlstring nvarchar(max)
	set @sqlstring='
	select 
		[Select]=cast(0 as bit),
		CnId =x.Id,
		CnNo = x.CNNo,
		LoadingOffice = lo.OfficeName,
		BillingOffice = bo.OfficeName,
		CnDate = x.CNDate,
		RPSNo = x.RefI,
		BillNo = cb.BillNo,
		BillDate = cb.BillDate,
		ActualRoute = ar.Name,
		BillingParty = m.FleetAcName,
		Consignor = co.FleetAcName,
		Consignee = cn.FleetAcName,
		ActualWeight = isnull(x.ActualWeight,0),
		ActualQty = isnull(x.ActualQty,0),
		Rate = isnull(x.Rate,0),
		Freight = isnull(x.CNBasicAmount,0),
		Discount = isnull(x.Discount,0),
		AddCharge1 = isnull(x.AChargeI,0),
		AddCharge2 = isnull(x.AChargeII,0),
		AddCharge3 = isnull(x.AChargeIII,0),
		AddCharge4 = isnull(x.AChargeIV,0),
		AddCharge5 = isnull(x.AChargeV,0),
		AddCharge6 = isnull(x.AChargeVI,0),
		LessCharge1 = isnull(x.LChargeI,0),
		LessCharge2 = isnull(x.LChargeII,0),
		LessCharge3 = isnull(x.LChargeIII,0),
		LessCharge4 = isnull(x.LChargeIV,0),
		SumAddCharge = isnull(x.AChargeI,0)+isnull(x.AChargeII,0)+isnull(x.AChargeIII,0)+isnull(x.AChargeIV,0)+isnull(x.AChargeV,0)+isnull(x.AChargeVI,0),
		SumLessCharge = isnull(x.LChargeI,0)+isnull(x.LChargeII,0)+isnull(x.LChargeIII,0)+isnull(x.LChargeIV,0),
		SubTotal=isnull(x.CNSubTotalII,0),
		ServiceTax = case x.ServiceTaxPaidById when 1420 then isnull(x.IServiceTax,0) else isnull(x.OServiceTax,0) end,
		TotalFreight=isnull(x.CNTotalFreight,0)
	from dbo.tCNMaster as x
	left join dbo.mOfficeMaster as lo on lo.Id=x.LoadingOfficeId
	left join dbo.mOfficeMaster as bo on bo.Id=x.BillingOfficeId
	left join dbo.tCNBillMaster as cb on cb.Id=x.BillId
	left join dbo.mRouteMaster as ar on ar.Id=x.ActRouteId
	left join dbo.mLedger as m on m.Id=x.BillingPartyId
	left join dbo.mLedger as co on co.Id=x.ConsignorId
	left join dbo.mLedger as cn on ar.Id=x.ConsigneeId
	' +' ' +isnull(@whereclause,'')+' '

	print @sqlstring
	set @parameterdef=N'@parameter1 nvarchar(max),@parameter2 nvarchar(max),@parameter3 nvarchar(max),@parameter4 nvarchar(max),@parameter5 nvarchar(max),
@parameter6 nvarchar(max),@parameter7 nvarchar(max),@parameter8 nvarchar(max),@parameter9 nvarchar(max),@parameter10 nvarchar(max),@parameter11 nvarchar(max)'

	exec sp_executesql @sqlstring,@parameterdef, @parameter1=@parameter1,@parameter2=@parameter2,@parameter3=@parameter3,@parameter4=@parameter4,@parameter5=@parameter5,@parameter6=@parameter6,@parameter7=@parameter7,@parameter8=@parameter8,@parameter9=@parameter9,@parameter10=@parameter10,@parameter11=@parameter11
end
GO
