/****** Object:  StoredProcedure [dbo].[Proc_Report_1604]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1604]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1604]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--	EXEC [Proc_Report_1604] 1,'','','2016-01-01','2017-10-08','',0,0

CREATE proc [dbo].[Proc_Report_1604] 
--1604 CN Bill Statement
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max),--ToDate
@parameter6 nvarchar(max),--LrIds
@parameter7 bigint,
@parameter8 bigint  
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	SET NOCOUNT ON;
	set @parameter6=case when @parameter6='0' then '' else @parameter6 end 
	SELECT  
	BranchName,
	Customer,
	Consignor,
	[Consignee],
	[Mode],
	[LRNo],
	[LRDate],
	[FTL],
	[Vehicle],
	[InvoiceNo],
	[PartNo],
	[InvoiceDate],
	[Quantity],
	[Pckgs]=case when RowId=1 then cn.[Pckgs] else null end,
	[AWeight]=case when RowId=1 then cn.[AWeight] else null end,
	[CWeight]=case when RowId=1 then cn.[CWeight] else null end,
	[LRCh]=case when RowId=1 then cn.[LRCh] else null end,
	[PickCh]=case when RowId=1 then cn.[PickCh] else null end,
	[DeliveryCh]=case when RowId=1 then cn.[DeliveryCh] else null end,
	[Freight]=case when RowId=1 then cn.[Freight] else null end
	FROM (
	SELECT
		RowId=ROW_NUMBER()OVER(PARTITION BY t.CNNo ORDER BY mm.InvoiceNo),	
		[BranchName]=lo.OfficeName,
		[Customer]=m.FleetAcName,
		[Consignor]=co.FleetAcName,
		[Consignee]=cn.FleetAcName,
		Mode=mo.ConstantName,
		CNId=t.Id,
		MMId=mm.Id,
		[LRNo]=t.CNNo,
		[LRDate]=t.CNDate,
		[FTL]=case when vml.TripTypeId=1543 then 'No' when vml.TripTypeId in(1158,1160)   then 'Yes' else '-' end,
		[Vehicle]=case when vm.Id>0 then vm.VehicleRegNo else hvm.RegistrationNo end,
		[InvoiceNo]=mm.InvoiceNo,
		[PartNo]=mmt.Code,
		[InvoiceDate]=mm.InvoiceDate,
		[Quantity]=mm.ActualQty,
		[Pckgs]=t.TotalPackage,
		[AWeight]=t.ActualWeight,
		[CWeight]=t.ChargedWeight,
		[LRCh]=t.AChargeI,
		[PickCh]=t.AChargeII,
		[DeliveryCh]=t.AChargeIII,
		[Freight]=t.CNTotalFreight
		FROM dbo.tCNMaster as t
		join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=t.LoadingOfficeId
		join dbo.tCNMultiMaterial as mm on mm.CnId=t.Id
		join dbo.mMaterialMaster as mmt on mmt.Id=mm.MaterialId
		left join dbo.tCNStockLog as chn on chn.CNId=t.Id and chn.LogTypeId=1422 and chn.RefStockId is null
		left join dbo.tCNStockLog as tchn on tchn.RefStockId=chn.Id
		left join dbo.tVehicleMovementLog as vml on vml.Id=tchn.TriplogId
		left join dbo.mVehicleMaster as vm on vm.Id=vml.VehicleId
		left join dbo.mHireVehicle as hvm on hvm.Id=vml.HireVehicleId
	
		LEFT JOIN dbo.mLedger as m on m.Id=t.BillingPartyId
		LEFT JOIN dbo.mRouteMaster as ar on ar.Id=t.ChgRouteId
		LEFT JOIN dbo.mLedger as co on co.Id=t.ConsignorId
		LEFT JOIN dbo.mLedger as cn on cn.Id=t.ConsigneeId
		LEFT JOIN dbo.mLedger as bp on bp.Id=t.BillingPartyId
		Left JOIN dbo.mConstantValue as cnt on cnt.Id=t.CNTypeId
		Left JOIN dbo.mOfficeMaster as lo on lo.Id=t.LoadingOfficeId
		left join dbo.mConstantValue as mo on mo.Id=t.TransportModeId
		WHERE t.CNDate between @parameter4 and @parameter5
		and (case when @parameter7=0 then 1 when @parameter7>0 and t.ConsigneeId=@parameter7 then 1 else 0 end)=1	
		and (case when @parameter8=0 then 1 when @parameter8>0 and t.ConsignorId=@parameter8 then 1 else 0 end)=1
		and (case when len(isnull(@parameter6,''))>0 and t.Id in(select item from dbo.SplitCommaString(@parameter6)) then 1 when len(isnull(@parameter6,''))=0 then 1 else 0 end)=1 
	)as cn 
END
GO
