/****** Object:  StoredProcedure [dbo].[Proc_Report_1671]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1671]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1671]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1671] @Parameter1 DATE,
@Parameter2 DATE
AS
  SELECT
    [Setteled Date] = ts.SettleDate
   ,[Trip Sheet No] = ts.TripSheetNo
   ,[Truck No] = vm.VehicleRegNo
   ,[Loading Date] = cast(ISNULL(tl.LDLogIDate,tl.LDLogIIDate) as date)
   ,[End Date] = cast(ts.EndDate as date)
   ,[Driver Code No] = dm.DriverCode
   ,[Route] = ts.TripRoute
   ,[Trip Period] = FORMAT(ts.StartDate, 'dd-MM-yyyy') + ' to ' + FORMAT(ts.EndDate, 'dd-MM-yyyy')
   ,[Total Km] = ts.RunKm
   ,[Trip Expenses Amount] = tel.SettledAmount
   ,[Driver Debit Amount] =
    CASE
      WHEN (ISNULL(ts.SettledAmount, 0) + ISNULL(ts.FuelAmtDiff, 0)) > 0 THEN (ISNULL(ts.SettledAmount, 0) + ISNULL(ts.FuelAmtDiff, 0))
      ELSE 0
    END
   ,[Loading Trip LogI No] = (CASE
      WHEN tl.LDIAdvance > 0 THEN tl.LDLogINo
      ELSE ''
    END)
   ,[Loading Trip LogI Advance] = tl.LDIAdvance

   ,[Loading Trip LogII No] = (CASE
      WHEN tl.LDIIAdvance > 0 THEN tl.LDLogIINo
      ELSE ''
    END)
   ,[Loading Trip LogII Advance] = tl.LDIIAdvance

   ,[Empty Triplog No1] = (CASE
      WHEN tl.MTIAdvance > 0 THEN tl.MTLogI
      ELSE ''
    END)
   ,[Empty Triplog1 Advance] = tl.MTIAdvance

   ,[Empty Triplog No2] = (CASE
      WHEN tl.MTIIAdvance > 0 THEN tl.MTLogII
      ELSE ''
    END)
   ,[Empty Triplog2 Advance] = tl.MTIIAdvance

   ,[Empty Triplog No3] = (CASE
      WHEN tl.MTIIIAdvance > 0 THEN tl.MTLogIII
      ELSE ''
    END)
   ,[Empty Triplog3 Advance] = tl.MTIIIAdvance

   ,[Empty Triplog No4] = (CASE
      WHEN tl.MTIVAdvance > 0 THEN tl.MTLogIV
      ELSE ''
    END)
   ,[Empty Triplog4 Advance] = tl.MTIVAdvance

   ,[Total Trip Advance] = tl.TripAdvance
   ,[eToll Advance] = tl.eTollAdvance
   ,[Driver Credit Amount] = -
    CASE
      WHEN (ISNULL(ts.SettledAmount, 0) + ISNULL(ts.FuelAmtDiff, 0)) > 0 THEN 0
      ELSE (ISNULL(ts.SettledAmount, 0) + ISNULL(ts.FuelAmtDiff, 0))
    END
   ,[Loading Advance Ref No1] = tl.LDLogINo + ' ' + FORMAT(tl.LDLogIDate, 'dd-MM-yyyy')
   ,[Loading Advance Ref No2] = tl.LDLogIINo + ' ' + FORMAT(tl.LDLogIIDate, 'dd-MM-yyyy')
   ,[Empty Adv Ref No1] = (CASE
      WHEN LEN(ISNULL(tl.MTLogI, '')) > 0 THEN ISNULL(tl.MTLogI, '') + ' ' + FORMAT(tl.MTILogDate, 'dd-MM-yyyy')
      ELSE ''
    END)
   ,[Empty Adv Ref No2] = (CASE
      WHEN LEN(ISNULL(tl.MTLogII, '')) > 0 THEN ISNULL(tl.MTLogII, '') + ' ' + FORMAT(tl.MTIILogDate, 'dd-MM-yyyy')
      ELSE ''
    END)
   ,[Empty Adv Ref No3] = (CASE
      WHEN LEN(ISNULL(tl.MTLogIII, '')) > 0 THEN ISNULL(tl.MTLogIII, '') + ' ' + FORMAT(tl.MTIIILogDate, 'dd-MM-yyyy')
      ELSE ''
    END)
   ,[Empty Adv Ref No4] = (CASE
      WHEN LEN(ISNULL(tl.MTLogIV, '')) > 0 THEN ISNULL(tl.MTLogIV, '') + ' ' + FORMAT(tl.MTIVLogDate, 'dd-MM-yyyy')
      ELSE ''
    END)
   ,[FactoryOrClient] =
    CASE
      WHEN (ISNULL(tl.LDIAdvance, 0) + ISNULL(tl.LDIIAdvance, 0)) > 0 THEN lI.AccountName
      ELSE 'Empty'
    END
   ,[CreatedBy] = [dbo].[GetUserBySessionId](ISNULL(ts.CSID,0))
   ,[CreatedOn]=ts.CDOE
   ,[RecentModifiedBy]=CASE WHEN ts.CSID=ts.MSID THEN '' ELSE [dbo].[GetUserBySessionId](ISNULL(ts.MSID,0)) END
   ,[RecentModifiedOn]=CASE WHEN ts.CSID=ts.MSID THEN NULL ELSE ts.MDOE END
  FROM dbo.tTripSettlement ts
  LEFT JOIN (SELECT
      SettlementId
     ,SettledAmount = SUM(ts.SettledAmount)
    FROM tTripExpenseLog ts
    GROUP BY ts.SettlementId) AS tel
    ON ts.Id = tel.SettlementId
  JOIN dbo.mDriverMaster dm
    ON dm.Id = ts.Driver1Id
  JOIN dbo.mVehicleMaster vm
    ON vm.Id = ts.VehicleId
  --LEFT JOIN dbo.ApiSessions ss
  --  ON ss.Id = ts.CSID
  --LEFT JOIN dbo.ApiUsers au
  --  ON au.Id = ss.UserId
  LEFT JOIN (SELECT
      vml.SettlementId
     ,PartyIId = MAX(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 1 THEN vml.PartyId
        ELSE 0
      END)
     ,LDLogINo = MAX(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 1 THEN vml.TriplogNo
        ELSE ''
      END)
     ,LDLogIDate = MAX(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 1 THEN vml.LoadingDate
        ELSE NULL
      END)
     ,LDIAdvance = SUM(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 1 THEN adv.DriverAdvance
        ELSE 0
      END)
     ,LDIRefNos = MAX(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 1 THEN adv.RefNos
        ELSE ''
      END)

     ,PartyIIId = MAX(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 2 THEN vml.PartyId
        ELSE 0
      END)
     ,LDLogIINo = MAX(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 2 THEN vml.TriplogNo
        ELSE ''
      END)
     ,LDLogIIDate = MAX(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 2 THEN vml.LoadingDate
        ELSE NULL
      END)
     ,LDIIAdvance = SUM(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 2 THEN adv.DriverAdvance
        ELSE 0
      END)
     ,LDIIRefNos = MAX(CASE
        WHEN vml.TripNatureId = 1075 AND
          vml.rowid = 2 THEN adv.RefNos
        ELSE ''
      END)

     ,MTLogI = MAX(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 1 THEN vml.TriplogNo
        ELSE ''
      END)
     ,MTILogDate = MAX(vml.TripStartDate)
     ,MTIAdvance = SUM(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 1 THEN adv.DriverAdvance
        ELSE 0
      END)
     ,MTIRefNos = MAX(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 1 THEN adv.RefNos
        ELSE ''
      END)

     ,MTLogII = MAX(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 2 THEN vml.TriplogNo
        ELSE ''
      END)
     ,MTIILogDate = MAX(vml.TripStartDate)
     ,MTIIAdvance = SUM(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 2 THEN adv.DriverAdvance
        ELSE 0
      END)
     ,MTIIRefNos = MAX(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 2 THEN adv.RefNos
        ELSE ''
      END)

     ,MTLogIII = MAX(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 3 THEN vml.TriplogNo
        ELSE ''
      END)
     ,MTIIILogDate = MAX(vml.TripStartDate)
     ,MTIIIAdvance = SUM(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 3 THEN adv.DriverAdvance
        ELSE 0
      END)
     ,MTIIIRefNos = MAX(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 3 THEN adv.RefNos
        ELSE ''
      END)

     ,MTLogIV = MAX(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 4 THEN vml.TriplogNo
        ELSE ''
      END)
     ,MTIVLogDate = MAX(vml.TripStartDate)
     ,MTIVAdvance = SUM(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 4 THEN adv.DriverAdvance
        ELSE 0
      END)
     ,MTIVRefNos = MAX(CASE
        WHEN vml.TripNatureId = 1076 AND
          vml.rowid = 4 THEN adv.RefNos
        ELSE ''
      END)

     ,DriverAdvance = SUM(adv.DriverAdvance)
     ,eTollAdvance = SUM(adv.eTollAdvance)
     ,TripAdvance = SUM(adv.TripAdvance)
    FROM (SELECT
        vml.SettlementId
       ,vml.TripNatureId
       ,vml.Id
       ,vml.PartyId
       ,vml.TriplogNo
       ,vml.TripStartDate
       ,vml.LoadingDate
       ,RowId = ROW_NUMBER() OVER (PARTITION BY vml.SettlementId, vml.TripNatureId ORDER BY vml.SettlementId)
      FROM dbo.tVehicleMovementLog vml) AS vml
    LEFT JOIN (SELECT
        tal.TripLogId
       ,tal.SettlementId
       ,DriverAdvance = SUM(CASE
          WHEN tal.AdvanceTypeId in(1,2) THEN (CASE
              WHEN ISNULL(tal.FuelQty, 0) <= 0 THEN ISNULL(tal.CashAmount, 0)
              ELSE ISNULL(tal.FuelAmount, 0)
            END)
          ELSE 0
        END)
       ,eTollAdvance = SUM(CASE
          WHEN tal.AdvanceTypeId = 88 THEN ISNULL(tal.CashAmount, 0)
          ELSE 0
        END)
       ,TripAdvance = SUM((CASE
          WHEN ISNULL(tal.FuelQty, 0) <= 0 THEN ISNULL(tal.CashAmount, 0)
          ELSE ISNULL(tal.FuelAmount, 0)
        END))
       ,RefNos = ISNULL((STUFF((SELECT
            ',' + CAST(ISNULL(tal1.ReferenceNo, '') + ' ' + FORMAT(tal1.AdvanceDate, 'dd-MM-yy') AS VARCHAR(50))
          FROM dbo.tTripAdvanceLog tal1
          WHERE tal1.TriplogId = tal.TripLogId
          AND tal1.SettlementId = tal.SettlementId
          FOR XML PATH (''), TYPE, ROOT)
        .value('root[1]', 'nvarchar(max)'), 1, 1, '')), '')
      FROM dbo.tTripAdvanceLog tal where AdvanceTypeId in(1,2,88)
      GROUP BY tal.TripLogId
              ,tal.SettlementId) AS adv
      ON adv.TripLogId = vml.Id AND adv.SettlementId=vml.SettlementId
    GROUP BY vml.SettlementId) AS tl
    ON tl.SettlementId = ts.Id
  LEFT JOIN dbo.mLedger lI
    ON lI.Id = tl.PartyIId
  LEFT JOIN dbo.mLedger lII
    ON lII.Id = tl.PartyIIId
  WHERE ts.SettleDate BETWEEN @Parameter1 AND @Parameter2
GO
