/****** Object:  StoredProcedure [dbo].[Proc_Report_1641]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1641]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1641]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	EXEC Proc_Report_1324 10010,'','','2020-12-12'
--	SELECT * FROM mObjectCategory

CREATE PROC [dbo].[Proc_Report_1641]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime--Asofdate
As
BEGIN
	DECLARE @ColsList varchar(max),@ColsListSum varchar(max),@sql nvarchar(max),@paramterinfo nvarchar(max)
	
	select @ColsList=isnull(@ColsList,'')+ '['+Name+'],' from dbo.mDueMaster as gm where gm.StatusId=0
	set @ColsList=LEFT(@ColsList,len(@ColsList)-1)

	select @ColsListSum=isnull(@ColsListSum,'')+ '['+Name+']=' +'convert(varchar(10), ['+Name+'],103),' from dbo.mDueMaster as gm where gm.StatusId=0
	set @ColsListSum=LEFT(@ColsListSum,len(@ColsListSum)-1)

	SET @sql = N' SET NOCOUNT ON;
	select 
	CCO.CategoryName,
	CCO.ClassName,
	m.VehicleNo,
	VehicleModel=vm.ModelName
	,'+@ColsListSum+'
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.mVehicleMaster AS m on m.Id=CCO.ObjectId
	join dbo.mVehicleModel as vm on vm.Id=m.VehicleModelId
	join
	(
		select * from (
		select dm.Name,t.ExpiryDate,t.VehicleId		
		from dbo.tDueTransactionLog AS t
		join dbo.mDueMaster AS dm on dm.Id=t.DueTypeId
		where t.ExpiryDate<@parameter4 and t.NextLogId is null
		)as s
		pivot(
			max(ExpiryDate)
			for Name in('+@ColsList+')
		)as pvt
	) as mtx on mtx.VehicleId=m.Id
	ORDER BY CCO.ObjectName'

	set @paramterinfo='@parameter1 bigint,@parameter2 nvarchar(max),@parameter3 nvarchar(max),@parameter4 datetime'
	print @sql
	execute sp_executesql @sql,@paramterinfo,@parameter1=@parameter1,@parameter2=@parameter2,@parameter3=@parameter3,@parameter4=@parameter4
END
GO
