/****** Object:  StoredProcedure [dbo].[Proc_Report_1390]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1390]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1390]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [Proc_Report_1390] 1,'','','2015-01-01','2016-12-12'
--Select * from dbo.mObjectCategory

CREATE  PROC [dbo].[Proc_Report_1390]
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max),--ToDate
@parameter6 bit--ShowDriverWiseRunning
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	IF(@parameter6=0)
	SELECT 
		x.CategoryName,
		x.ClassName,
		x.OfficeName,
        x.VehicleNo,
        x.TripYear,
        TripDaysJan = sum((case isnull(x.TripMonth,0) when 1 then x.TripDays else 0 end)),
        JanKM = sum((case isnull(x.TripMonth,0) when  1 then x.TotKmRun else 0 end)),
		JanEmptyCount=sum((case isnull(x.TripMonth,0) when  1 then x.IsEmpty else 0 end)),
		JanLoadedCount=sum((case isnull(x.TripMonth,0) when  1 then x.IsLoaded else 0 end)),

        FebTripDays = sum((case isnull(x.TripMonth,0) when 2 then x.TripDays else 0 end)),
        FebKM = sum((case isnull(x.TripMonth,0) when  2 then x.TotKmRun else 0 end)),
		FebEmptyCount=sum((case isnull(x.TripMonth,0) when  2 then x.IsEmpty else 0 end)),
		FebLoadedCount=sum((case isnull(x.TripMonth,0) when  2 then x.IsLoaded else 0 end)),

        MarTripDays = sum((case isnull(x.TripMonth,0) when 3 then x.TripDays else 0 end)),
        MarchKM = sum((case isnull(x.TripMonth,0) when  3 then x.TotKmRun else 0 end)),
		MarchEmptyCount=sum((case isnull(x.TripMonth,0) when  3 then x.IsEmpty else 0 end)),
		MarchLoadedCount=sum((case isnull(x.TripMonth,0) when  3 then x.IsLoaded else 0 end)),

        AprTripDays = sum((case isnull(x.TripMonth,0) when 4 then x.TripDays else 0 end)),
        AprKM = sum((case isnull(x.TripMonth,0) when  4 then x.TotKmRun else 0 end)),
		AprEmptyCount=sum((case isnull(x.TripMonth,0) when  4 then x.IsEmpty else 0 end)),
		AprLoadedCount=sum((case isnull(x.TripMonth,0) when  4 then x.IsLoaded else 0 end)),

		MayTripDays = sum((case isnull(x.TripMonth,0) when 5 then x.TripDays else 0 end)),
        MayKM = sum((case isnull(x.TripMonth,0) when  5 then x.TotKmRun else 0 end)),
		MayEmptyCount=sum((case isnull(x.TripMonth,0) when  5 then x.IsEmpty else 0 end)),
		MayLoadedCount=sum((case isnull(x.TripMonth,0) when 5 then x.IsLoaded else 0 end)),

        JunTripDays = sum((case isnull(x.TripMonth,0) when 6 then x.TripDays else 0 end)),
        JunKM = sum((case isnull(x.TripMonth,0) when  6 then x.TotKmRun else 0 end)),
		JunEmptyCount=sum((case isnull(x.TripMonth,0) when  6 then x.IsEmpty else 0 end)),
		JunLoadedCount=sum((case isnull(x.TripMonth,0) when 6 then x.IsLoaded else 0 end)),

        JulTripDays = sum((case isnull(x.TripMonth,0) when 7 then x.TripDays else 0 end)),
        JulKM = sum((case isnull(x.TripMonth,0) when  7 then x.TotKmRun else 0 end)),
		JulEmptyCount=sum((case isnull(x.TripMonth,0) when  7 then x.IsEmpty else 0 end)),
		JulLoadedCount=sum((case isnull(x.TripMonth,0) when 7 then x.IsLoaded else 0 end)),

        AugTripDays = sum((case isnull(x.TripMonth,0) when 8 then x.TripDays else 0 end)),
        AugKM = sum((case isnull(x.TripMonth,0) when  8 then x.TotKmRun else 0 end)),
		AugEmptyCount=sum((case isnull(x.TripMonth,0) when  8 then x.IsEmpty else 0 end)),
		AugLoadedCount=sum((case isnull(x.TripMonth,0) when 8 then x.IsLoaded else 0 end)),

        SepTripDays = sum((case isnull(x.TripMonth,0) when 9 then x.TripDays else 0 end)),
        SepKM = sum((case isnull(x.TripMonth,0) when  9 then x.TotKmRun else 0 end)),
		SepEmptyCount=sum((case isnull(x.TripMonth,0) when  9 then x.IsEmpty else 0 end)),
		SepLoadedCount=sum((case isnull(x.TripMonth,0) when 9 then x.IsLoaded else 0 end)),

        OctTripDays =sum((case isnull(x.TripMonth,0) when 10 then x.TripDays else 0 end)),
        OctKM = sum((case isnull(x.TripMonth,0) when  10 then x.TotKmRun else 0 end)),
		OctEmptyCount=sum((case isnull(x.TripMonth,0) when  10 then x.IsEmpty else 0 end)),
		OctLoadedCount=sum((case isnull(x.TripMonth,0) when 10 then x.IsLoaded else 0 end)),

        NovTripDays = sum((case isnull(x.TripMonth,0) when 11 then x.TripDays else 0 end)),
        NovKM = sum((case isnull(x.TripMonth,0) when  11 then x.TotKmRun else 0 end)),
		NovEmptyCount=sum((case isnull(x.TripMonth,0) when  11 then x.IsEmpty else 0 end)),
		NovLoadedCount=sum((case isnull(x.TripMonth,0) when 11 then x.IsLoaded else 0 end)),

        DecTripDays = sum((case isnull(x.TripMonth,0) when 12 then x.TripDays else 0 end)),
        DecKM = sum((case isnull(x.TripMonth,0) when  12 then x.TotKmRun else 0 end)),
		DecEmptyCount=sum((case isnull(x.TripMonth,0) when  11 then x.IsEmpty else 0 end)),
		DecLoadedCount=sum((case isnull(x.TripMonth,0) when 11 then x.IsLoaded else 0 end)),

        TotalTripDays = Sum(x.TripDays),
        TotalKM = Sum(x.TotKmRun),
		TotalEmptyCount=sum(x.IsEmpty),
		TotalLoadedCount=sum(x.IsLoaded)
	From
	(
		SELECT 
		CCO.CategoryName,
        CCO.ClassName,
		o.OfficeName,
        VehicleNo = m.VehicleNo,
        TripYear = Year(t.TripStartDate),
        TripMonth = Month(t.TripStartDate),
        TripDays = DATEDIFF(day,t.TripStartDate, t.UnloadingDate) + 1,
        TotKmRun = t.TotalKmRun,
		IsEmpty=(case t.TripNatureId WHEN 1075/*Loaded*/ THEN 0 ELSE 1 END),
		IsLoaded=(case t.TripNatureId WHEN 1075/*Loaded*/ THEN 1 ELSE 0 END)
		from dbo.tVehicleMovementLog as t
		inner join  dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.OfficeId end)
		left join dbo.mVehicleMaster AS m on m.Id=t.VehicleId
		left join dbo.mOfficeMaster as o on o.Id=t.OfficeId

		where t.TripStartDate>=@parameter4 and t.TripStartDate<=@parameter5
	)as x
	group by x.CategoryName,x.ClassName,x.OfficeName,x.VehicleNo,x.TripYear
	ELSE 
	SELECT 
		x.CategoryName,
		x.ClassName,
		x.OfficeName,
        x.VehicleNo,
		x.DriverName,
        x.TripYear,
        TripDaysJan = sum((case isnull(x.TripMonth,0) when 1 then x.TripDays else 0 end)),
        JanKM = sum((case isnull(x.TripMonth,0) when  1 then x.TotKmRun else 0 end)),
		JanEmptyCount=sum((case isnull(x.TripMonth,0) when  1 then x.IsEmpty else 0 end)),
		JanLoadedCount=sum((case isnull(x.TripMonth,0) when  1 then x.IsLoaded else 0 end)),

        FebTripDays = sum((case isnull(x.TripMonth,0) when 2 then x.TripDays else 0 end)),
        FebKM = sum((case isnull(x.TripMonth,0) when  2 then x.TotKmRun else 0 end)),
		FebEmptyCount=sum((case isnull(x.TripMonth,0) when  2 then x.IsEmpty else 0 end)),
		FebLoadedCount=sum((case isnull(x.TripMonth,0) when  2 then x.IsLoaded else 0 end)),

        MarTripDays = sum((case isnull(x.TripMonth,0) when 3 then x.TripDays else 0 end)),
        MarchKM = sum((case isnull(x.TripMonth,0) when  3 then x.TotKmRun else 0 end)),
		MarchEmptyCount=sum((case isnull(x.TripMonth,0) when  3 then x.IsEmpty else 0 end)),
		MarchLoadedCount=sum((case isnull(x.TripMonth,0) when  3 then x.IsLoaded else 0 end)),

        AprTripDays = sum((case isnull(x.TripMonth,0) when 4 then x.TripDays else 0 end)),
        AprKM = sum((case isnull(x.TripMonth,0) when  4 then x.TotKmRun else 0 end)),
		AprEmptyCount=sum((case isnull(x.TripMonth,0) when  4 then x.IsEmpty else 0 end)),
		AprLoadedCount=sum((case isnull(x.TripMonth,0) when  4 then x.IsLoaded else 0 end)),

		MayTripDays = sum((case isnull(x.TripMonth,0) when 5 then x.TripDays else 0 end)),
        MayKM = sum((case isnull(x.TripMonth,0) when  5 then x.TotKmRun else 0 end)),
		MayEmptyCount=sum((case isnull(x.TripMonth,0) when  5 then x.IsEmpty else 0 end)),
		MayLoadedCount=sum((case isnull(x.TripMonth,0) when 5 then x.IsLoaded else 0 end)),

        JunTripDays = sum((case isnull(x.TripMonth,0) when 6 then x.TripDays else 0 end)),
        JunKM = sum((case isnull(x.TripMonth,0) when  6 then x.TotKmRun else 0 end)),
		JunEmptyCount=sum((case isnull(x.TripMonth,0) when  6 then x.IsEmpty else 0 end)),
		JunLoadedCount=sum((case isnull(x.TripMonth,0) when 6 then x.IsLoaded else 0 end)),

        JulTripDays = sum((case isnull(x.TripMonth,0) when 7 then x.TripDays else 0 end)),
        JulKM = sum((case isnull(x.TripMonth,0) when  7 then x.TotKmRun else 0 end)),
		JulEmptyCount=sum((case isnull(x.TripMonth,0) when  7 then x.IsEmpty else 0 end)),
		JulLoadedCount=sum((case isnull(x.TripMonth,0) when 7 then x.IsLoaded else 0 end)),

        AugTripDays = sum((case isnull(x.TripMonth,0) when 8 then x.TripDays else 0 end)),
        AugKM = sum((case isnull(x.TripMonth,0) when  8 then x.TotKmRun else 0 end)),
		AugEmptyCount=sum((case isnull(x.TripMonth,0) when  8 then x.IsEmpty else 0 end)),
		AugLoadedCount=sum((case isnull(x.TripMonth,0) when 8 then x.IsLoaded else 0 end)),

        SepTripDays = sum((case isnull(x.TripMonth,0) when 9 then x.TripDays else 0 end)),
        SepKM = sum((case isnull(x.TripMonth,0) when  9 then x.TotKmRun else 0 end)),
		SepEmptyCount=sum((case isnull(x.TripMonth,0) when  9 then x.IsEmpty else 0 end)),
		SepLoadedCount=sum((case isnull(x.TripMonth,0) when 9 then x.IsLoaded else 0 end)),

        OctTripDays =sum((case isnull(x.TripMonth,0) when 10 then x.TripDays else 0 end)),
        OctKM = sum((case isnull(x.TripMonth,0) when  10 then x.TotKmRun else 0 end)),
		OctEmptyCount=sum((case isnull(x.TripMonth,0) when  10 then x.IsEmpty else 0 end)),
		OctLoadedCount=sum((case isnull(x.TripMonth,0) when 10 then x.IsLoaded else 0 end)),

        NovTripDays = sum((case isnull(x.TripMonth,0) when 11 then x.TripDays else 0 end)),
        NovKM = sum((case isnull(x.TripMonth,0) when  11 then x.TotKmRun else 0 end)),
		NovEmptyCount=sum((case isnull(x.TripMonth,0) when  11 then x.IsEmpty else 0 end)),
		NovLoadedCount=sum((case isnull(x.TripMonth,0) when 11 then x.IsLoaded else 0 end)),

        DecTripDays = sum((case isnull(x.TripMonth,0) when 12 then x.TripDays else 0 end)),
        DecKM = sum((case isnull(x.TripMonth,0) when  12 then x.TotKmRun else 0 end)),
		DecEmptyCount=sum((case isnull(x.TripMonth,0) when  11 then x.IsEmpty else 0 end)),
		DecLoadedCount=sum((case isnull(x.TripMonth,0) when 11 then x.IsLoaded else 0 end)),

        TotalTripDays = Sum(x.TripDays),
        TotalKM = Sum(x.TotKmRun),
		TotalEmptyCount=sum(x.IsEmpty),
		TotalLoadedCount=sum(x.IsLoaded)
	From
	(
		SELECT 
		CCO.CategoryName,
        CCO.ClassName,
		o.OfficeName,
		d.DriverName,
        VehicleNo = m.VehicleNo,
        TripYear = Year(t.TripStartDate),
        TripMonth = Month(t.TripStartDate),
        TripDays = DATEDIFF(day,t.TripStartDate, t.UnloadingDate) + 1,
        TotKmRun = t.TotalKmRun,
		IsEmpty=(case t.TripNatureId WHEN 1075/*Loaded*/ THEN 0 ELSE 1 END),
		IsLoaded=(case t.TripNatureId WHEN 1075/*Loaded*/ THEN 1 ELSE 0 END)
		from dbo.tVehicleMovementLog as t
		inner join  dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.OfficeId end)
		left join dbo.mVehicleMaster AS m on m.Id=t.VehicleId
		left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
		left join dbo.mDriverMaster d on t.Driver1stId=d.Id

		where t.TripStartDate>=@parameter4 and t.TripStartDate<=@parameter5
	)as x
	group by x.CategoryName,x.ClassName,x.OfficeName,x.VehicleNo,x.DriverName,x.TripYear
end
GO
