/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5009_duesinfo]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5009_duesinfo]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5009_duesinfo]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- select * from apiviews where Id>=5000
--	exec Proc_Mob_Report_5009_duesinfo 7,1,0
CREATE proc [dbo].[Proc_Mob_Report_5009_duesinfo]--110241
	@parameter1 bigint,--vehicleId
	@parameter2 nvarchar(20),
	@parameter3 bit=0--0:all,1:alert
as
	select 
		DueType=dm.Abbr,
        RefNo=t.VoucherNo,
        RefDateTime=convert(nvarchar(13),t.PaidDate,106),
        CreditAc=cr.FleetAcName,
        VehicleNo=vm.VehicleRegNo,
        StartDate=convert(nvarchar(13),t.StartDate,106),
		ExpiryDate=convert(nvarchar(13),t.ExpiryDate,106),      
		NetAmount=isnull(t.DueAmount,0) + isnull(t.OtherAmount,0)
		from dbo.tDueTransactionLog as t
		join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
		join dbo.mDueMaster as dm on dm.Id=t.DueTypeId
		left join tDueInsuranceLog as ins on ins.Id=t.Id
		left join dbo.mLedger as cr on cr.Id=ins.InsCompanyId
		
		left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
		where (case when isnull(@parameter1,0)<=0 then 1 when t.VehicleId=@parameter1 then 1 else 0 end =1)
		and (case when isnull(@parameter2,0)<=0 then 1 when t.DueTypeId=@parameter2 then 1 else 0 end =1)
		and isnull(t.NextLogId,0)=0 
		and (case when @parameter3=0 then 1 when @parameter3=1 and t.ExpiryDate<=DateAdd(month,1,Getdate()) then 1 else 0 end)=1
		order by t.ExpiryDate
GO
