/****** Object:  StoredProcedure [dbo].[Proc_Report_1450]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1450]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1450]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Proc_Report_1450] 
(
	@parameter1 DATETIME,@parameter2 datetime,@parameter3 BIGINT
)
AS 
BEGIN
-- 1449:	Ledger
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter1 between OpeningDate and ClosingDate),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter2 between OpeningDate and ClosingDate),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end

	DECLARE @Ledger TABLE
	(RowID BIGINT IDENTITY(1,1),SrNo bigint,VoucherId bigint,VdId bigint,OfficeId bigint,VoucherDate datetime,TripDate datetime,VehicleNo nvarchar(100),VehicleOwner nvarchar(100),Office nvarchar(255),VoucherNo nvarchar(255),ChequeNo varchar(255),VoucherType varchar(255),Particulars VARCHAR(1000), Debit decimal(18,2),Credit decimal(18,2), PaidTo nvarchar(130),Narration nvarchar(500) ,OrderId int)

	Declare @OpBalance DECIMAL(18,2),@ClBalance DECIMAL(18,2)
	Set @OpBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId where  xvd.AccountId=@parameter3 and  xv.FYID=@FFYId and ((xv.VoucherTypeId in(19,69) AND xv.VoucherDate <= @parameter1) OR  (xv.VoucherDate < @parameter1)) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0)
	insert into @Ledger(Particulars,Debit,Credit,OrderId) values('Opening Balance',case when @OpBalance>0 then @OpBalance else null end,case when @OpBalance<0 then abs(@OpBalance) else null end,2)

	insert into @Ledger(SrNo,VoucherId,VdId,OfficeId,VoucherDate,TripDate,VehicleNo,VehicleOwner,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,PaidTo,Narration,OrderId)
	
	Select 
	SrNo=ROW_NUMBER()OVER(Order BY v.Id),
	v.Id
	,vd.AccountId
	,OfficeId=v.OfficeId
	,VoucherDate =v.VoucherDate
	,TripDate=tl.TripStartDate
	,VehicleNo=case when vm.Id>0 then vm.VehicleRegNo when tphvm.ID>0 then tphvm.RegistrationNo else null end
	,VehicleOwner=case when vm.Id>0 then oown.FleetAcName when tphvm.ID>0 then hown.FleetAcName else null end
	,Office=o.OfficeName
	,v.VoucherNo
	,vd.ChequeNo
	,vt.Abbr
	,Particulars=case when v.Account3Id>0 or v.VoucherTypeId=18 then 'as per detail' else (case when v.Account1Id=vd.AccountId then a1.FleetAcName else a.FleetAcName end) end
	,[DebitAmount]=case when ISNULL(vd.VDAmount,0)>0 then case when tal.Id>0 then (ISNULL(tal.FuelAmount,0) + ISNULL(tal.CashAmount,0)) when hadv.Id>0 then hadv.Amount else   ISNULL(vd.VDAmount,0) end else 0 end
	,[CreditAmount]=abs(case when ISNULL(vd.VDAmount,0)<0 then case when tal.Id>0 then (ISNULL(tal.FuelAmount,0) + ISNULL(tal.CashAmount,0)) when hadv.Id>0 then hadv.Amount else   ISNULL(vd.VDAmount,0) end else 0 end)
	,v.PaidTo
	,Narration=isnull(v.AccNarration,'') + case when len(isnull(vd.Narration,''))>0 then ' '+ isnull(vd.Narration,'') else v.UserRemarks end + 
	+(case when tal.Id>0 then case when len(tal.Remark)>0 then ' '+tal.Remark else '' end  when hadv.Id>0 then case when len(hadv.Remarks)>0 then ' '+hadv.Remarks else '' end else '' end)
	,1
	from dbo.tVouchers as v 
	inner join dbo.mOfficeMaster as o on o.Id=v.OfficeId
	inner join dbo.mVoucherType as vt on vt.Id=v.VoucherTypeId
	inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
	left join dbo.mLedger as a on a.Id=v.Account1Id
	left join dbo.mLedger as a1 on a1.Id=v.Account2Id	
	left join dbo.tTripAdvanceLog as tal on tal.VoucherId=v.Id
	left join dbo.tHSAdvance as hadv on hadv.VoucherId=v.Id
	left join dbo.tVehicleMovementlog as tl on (case when tl.VoucherId>0 then tl.VoucherId when tl.HSTDSVoucherId>0 then tl.HSTDSVoucherId else tl.ID end)=(case when tl.VoucherId>0 then v.Id when tl.HSTDSVoucherId=87 then v.Id when tal.VoucherId>0 then tal.TriplogId when hadv.VoucherId>0 then hadv.HireSlipId  else null end)
	left join dbo.mVehicleMaster as vm on vm.Id=tl.VehicleId	
	left join dbo.mLedger as oown on oown.ID=vm.OwnerPartyId
	left join dbo.mHireVehicle as tphvm on tphvm.Id=tl.HireVehicleId
	left join dbo.mLedger as hown on hown.ID=tphvm.HirePartyId
	where isnull(v.FYID,1)=@FFYId and v.VoucherDate between @parameter1 and @parameter2 and v.IsAccepted=1 and IsAccountsVisiblity=1
	and vd.AccountId=@parameter3 and v.VoucherTypeId not in(19,69)
	order by v.VoucherDate
	
	insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	select 'Transaction Total',Sum(Debit),Sum(Credit),3 from @Ledger where OrderId=1

	set @ClBalance=isnull((select Sum(Debit)-Sum(Credit) from @Ledger where OrderId in(2,3)),0)
	insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	values('Closing Balance',case when ISNULL(@ClBalance,0)>0 then ISNULL(@ClBalance,0) else 0 end,abs(case when ISNULL(@ClBalance,0)<0 then ISNULL(@ClBalance,0) else 0 end),4)

	select SrNo,VoucherDate,TripDate,VehicleNo,VoucherNo,VehicleOwner,ChequeNo,VoucherType,Particulars,Debit,Credit,PaidTo,Narration,OrderId from @Ledger order by OrderId,VoucherDate
end

GO
