/****** Object:  StoredProcedure [dbo].[Proc_Report_1471]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1471]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1471]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_Report_1471] 
	--1471		bill oustanding summary
	@parameter1 bigint,--categoryid
	@parameter2 nvarchar(max),--classids
	@parameter3 nvarchar(max),--accountids
	@parameter4 date,--fromdate
	@parameter5 date,--todate
	@parameter6 date,--AsofDate
	@parameter7 tinyint--0:summary,1:Detail
as
begin
	declare @roleid int
	set @roleid=(select roleid from dbo.mobjectcategory where id=@parameter1)
	set @parameter6=case when @parameter6 is null then @parameter5 else @parameter6 end
	set nocount on;
	if(@parameter7=0)
	begin
		select 
		CCO.CategoryName,
		CCO.ClassName,
		[BillinParty]=bp.FleetAcName,
		[BillAmount]=sum(isnull(bl.[TotalBillAmount],0)),
		[RecoveryAmount]=sum(isnull(blc.RecoveryAmt,0)),
		[Outstanding]=sum(isnull(bl.[TotalBillAmount],0)-isnull(blc.RecoveryAmt,0))
		from dbo.tCNBillMaster as t
		inner join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1022 then  t.BillingPartyAcId else t.BillOfficeId end)
		inner join dbo.mLedger as bp on bp.Id=t.BillingPartyAcId
		left join
		(
			select bl.BillId,TotalBillAmount=sum(bl.TotalBillAmount) from dbo.tCNBillLog as bl 
			group by bl.BillId
		)as bl on bl.BillId=t.Id
		left join
		(
			select bpl.BillId,RecoveryAmt=Sum(bpl.Amount)	
			from dbo.tCNBillpaymentLog as bpl 
			inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id
			inner join dbo.tCNBillMaster as bm on bpl.BillId=bm.Id 
			where cast(bp.documentdate as date)<=@parameter6
			group by bpl.BillId
		)as blc on blc.BillId=t.Id
		where t.BillDate between @parameter4 and @parameter5 
		group by CCO.CategoryName,CCO.ClassName,bp.FleetAcName
		order by bp.FleetAcName
	end
	else	
	begin
		select 
		CCO.CategoryName,
		CCO.ClassName,
		BillinParty=bp.FleetAcName,
		t.BillNo,
		t.BillDate,
		[BillAmount]=bl.[TotalBillAmount],
		RecoveryAmount=blc.RecoveryAmt,
		Outstanding=isnull(bl.[TotalBillAmount],0)-isnull(blc.RecoveryAmt,0)
		from dbo.tCNBillMaster as t
		inner join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1022 then  t.BillingPartyAcId else t.BillOfficeId end)
		inner join dbo.mLedger as bp on bp.Id=t.BillingPartyAcId
		left join
		(
			select bl.BillId,TotalBillAmount=sum(bl.TotalBillAmount) from dbo.tCNBillLog as bl 
			group by bl.BillId
		)as bl on bl.BillId=t.Id
		left join
		(
			select bpl.BillId,RecoveryAmt=Sum(bpl.Amount)	
			from dbo.tCNBillpaymentLog as bpl 
			inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id
			inner join dbo.tCNBillMaster as bm on bpl.BillId=bm.Id 
			where cast(bp.documentdate as date)<=@parameter6
			group by bpl.BillId
		)as blc on blc.BillId=t.Id
		where t.BillDate between @parameter4 and @parameter5 
		order by t.BillDate
	end
END

GO
