/****** Object:  StoredProcedure [dbo].[Proc_Report_1419]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1419]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1419]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	[Proc_Report_1419] '2015-01-01','2016-12-27','',2
CREATE PROC [dbo].[Proc_Report_1419]
	--1419:  Running Tyre Stock
	@parameter1 bigint--vehicleId
as
begin
	declare @KmCalcTypeId bigint
	select @KmCalcTypeId=Value from dbo.ApiConfigurations where id='DefaultKmSourceForReporting'

	set nocount on;
	select 
	Office = o.OfficeName,
	IssuedBy = cr.FleetAcName,
	DocDate = [e1].VoucherDate,        
    DocNo = [e1].VoucherNo,
	VehicleNo=vh.VehicleRegNo,
	TyreNo = [e1].TyreNo,
	BrandName = bm.BrandName,	
	L=isnull([e1].[TyreLife],0),
	S=case when [e1].[IsStepney]=1 then 'Y' else 'N' end,	
	e1.KmReading,
	PreRunKm=isnull((case when @KmCalcTypeId=1130 then tp.TyrePreviousMileage when @KmCalcTypeId=1158 then tp.TLPreviousMileage when @KmCalcTypeId=1159 then tp.JSPreviousMileage else 0 end),0),
	LifeMileage=isnull((case when @KmCalcTypeId=1130 then tp.TyreLifeMileage when @KmCalcTypeId=1158 then tp.TLLifeMileage when @KmCalcTypeId=1159 then tp.JSLifeMileage else 0 end),0),
	TotalKmRun=isnull((case when @KmCalcTypeId=1130 then isnull(tp.TyreLifeMileage,0) +isnull(tp.TyrePreviousMileage,0) when @KmCalcTypeId=1158 then isnull(tp.TLLifeMileage,0) + isnull(tp.TLPreviousMileage,0) when @KmCalcTypeId=1159 then isnull(tp.JSLifeMileage,0) +isnull(tp.JSPreviousMileage,0) else 0 end),0),
	TotalMonth=datediff(month,e1.VoucherDate,getdate()),
	--PreAirP=tck.AirPressure,
	--NSD1=tck.TreadDepth,
	--WP=isnull((select z.Abbr from dbo.mGenericMaster as z where z.Id=tck.WPID),''),
	--WPDate=tck.CheckDate,
	--AirP=tck.AirPressure,
	[e1].NetAmount,
	[e1].Remark
	FROM [dbo].[tTyreLog] AS [e1]
	join dbo.mVehicleMaster as vh on vh.ID=e1.VehicleId
	join dbo.tTyreLogExtraInfo as ei on ei.Id=e1.ExtraInfoId	
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as cr on cr.Id=e1.CreditAccountId
	join [dbo].[mTyreMaster] AS [e2]	ON [e1].[TyreId] = [e2].[Id]
	join dbo.mBrandMaster as bm on bm.Id=e2.BrandId
	LEFT JOIN dbo.tTyreLifePerf as tp on tp.TyreId=[e1].TyreId and tp.Life=[e1].TyreLife
	--LEFT JOIN dbo.tTyreCheck as tck on tck.TyreId=[e1].TyreId and tck.VehicleId=[e1].VehicleId and tck.NextLogId is null
	WHERE  [e1].[NextLogId] is null and [e1].[TyreStatusId] = 1103
	and (case when @parameter1=0 then 1 when @parameter1>0 and e1.VehicleId=@parameter1 then 1 else 0 end)=1
	
end
GO
