/****** Object:  StoredProcedure [dbo].[sp_Backup_Database]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[sp_Backup_Database]
GO
/****** Object:  StoredProcedure [dbo].[sp_Backup_Database]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- =============================================
-- Backup Database using a stored procedure
-- =============================================
 
CREATE PROCEDURE [dbo].[sp_Backup_Database] 
-- Add the parameters for the stored procedure here
 
@DBName nvarchar(255), 
@Location nvarchar(255)   
 
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
 
SET NOCOUNT ON;
 
Declare @DBFileName nvarchar(255)
 
Set @DBFileName = datename(DD,getdate())+'_'+datename(M,getdate())+'_'+
datename(YYYY,getdate())+'_'+replace(replace(@DBName,':','_'),'\','_')+'.bak'
 
Select @DBFileName
 
EXEC ('BACKUP DATABASE ['+ @DBName +'] TO  DISK = N'''+ @Location + 
        @DBFileName +''' WITH COPY_ONLY,  NAME = N'''+ @DBName +'-Full Database Backup''')
END
GO
