/****** Object:  StoredProcedure [dbo].[Proc_Format_1009_2]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1009_2]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1009_2]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Format_1009_2] 
	@parameter1 bigint
AS
BEGIN
	select 
	e.NatureId,
	ExpenseName=e.[Name],
	Remarks=ISNULL(te.Remarks,''),
	Amount=Sum(Isnull(te.SettledAmount,0)),
	BdgtLAmt=Sum(case when tl.TripNatureId=1075 then Isnull(te.ClaimAmount,0) else 0 end),--Loaded
	BdgtEAmt=Sum(case when tl.TripNatureId=1076 then Isnull(te.ClaimAmount,0) else 0 end),--Empty
	TotalBdgtAmt=Sum(ISNULL(te.ClaimAmount,0)),
	LoadedAmount=Sum(case when tl.TripNatureId=1075 then Isnull(te.SettledAmount,0) else 0 end),--Loaded
	EmptyAmount=Sum(case when tl.TripNatureId=1076 then Isnull(te.SettledAmount,0) else 0 end),--Empty
	IsAdvanceAttached=cast(Max(case when isnull(te.TripAdvanceLogId,0)>0 then 1 else 0 end) as decimal(18,2))
	from dbo.tTripExpenseLog as te
	left join dbo.mExpenseMaster as e on e.Id=te.ExpenseTypeId
	left join dbo.tvehiclemovementlog as tl on tl.Id=te.TriplogId
	where te.SettlementId=@parameter1
	group by e.NatureId, e.[Name],ISNULL(te.Remarks,'')
END
GO
