/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1030_CreateUpdateVoucher]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1030_CreateUpdateVoucher]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1030_CreateUpdateVoucher]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1030_CreateUpdateVoucher]
	@parameter1 bigint--AccountId
AS
BEGIN

	DECLARE @AccountId bigint,@OfficeId bigint,@OpeningDate datetime,@OpeningAmt decimal(18,4), @VoucherNo nvarchar(100), @VoucherId bigint=0, @RefFlag bigint=0, @VDId bigint=0, @VDRId bigint=0
	SELECT @AccountId=ISNULL(L.Id,0), @OfficeId=ISNULL(L.OfficeID,0), @OpeningDate=L.EffectiveDate, @OpeningAmt=L.OpeningBalance, @RefFlag=ReferenceFlag
	FROM [dbo].[mLedger] L
	WHERE L.Id=@parameter1 

		--if exists(select * from dbo.tVouchers as xv join dbo.tVoucherVD xvd on xv.Id=xvd.VoucherId where xv.VoucherDate<@OpeningDate and xvd.AccountId=@AccountId)
		--begin
		--	return;
		--end

	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE CAST(@OpeningDate as date) between CAST(OpeningDate as date) and CAST(ClosingDate as date)),0)


	set @VoucherNo='OP-'+cast(@AccountId as nvarchar(20))
	Select @VoucherId=v.Id FROM [dbo].[tVoucherVD] as vd join dbo.tVouchers as v on v.Id=vd.VoucherId WHERE vd.AccountId=@parameter1 AND v.VoucherTypeId=19

	If(@OpeningDate IS NULL OR ISNULL(@OpeningAmt,0)=0)
	BEGIN
		delete tVouchers where Id=@VoucherId
		return
	END
	IF(ISNULL(@VoucherId,0)=0)
	BEGIN
	if(isnull(@FFYId,0)<=0)
	begin
		RAISERROR ('Financial Year is required',16,1);  
		RETURN;
	end
		IF(@AccountId>0 AND @OpeningDate IS NOT NULL)
		BEGIN
			INSERT INTO tVouchers(
			[OfficeId], [VoucherNo], [VoucherDate], [VoucherDateTime], [VoucherTypeId], [VchAmount], [Account1Id], [Amount1], [Amount2], [Amount3], [Amount4], [Amount5], [Amount6],
			[UserRemarks],[FYID], [CSID], [CDOE], [IsAudited], [IsAccepted], [IsAccountsVisiblity], [Amount7], [Amount8], [Amount9], [Amount10])
			VALUES (@OfficeId, @VoucherNo, @OpeningDate, @OpeningDate, 19, @OpeningAmt, @AccountId, @OpeningAmt, 0, 0, 0, 0, 0, 'OpeningBalance', @FFYId,
			@AccountId, @OpeningDate, 0, 1, 1, 0, 0, 0, 0 )
			SET @VoucherId=SCOPE_IDENTITY()
		END
			
		IF(@VoucherId>0)
		BEGIN
			INSERT INTO tVoucherVD([VoucherId], [OfficeId], [AccountId], [OrderId], [VDAmount], [CSID], [CDOE])
			VALUES (@VoucherId, @OfficeId, @AccountId, 1, @OpeningAmt, @AccountId, @OpeningDate)
			SET @VDId=SCOPE_IDENTITY()
		END
		IF(@VDId>0 AND @RefFlag=1)
		BEGIN
			INSERT INTO tVoucherVDR([VDId] ,[ReferenceNo], [VDRTypeID], [VDRAmount], [CSID], [CDOE], DueDate)
			VALUES (@VDId, @VoucherNo, 1013, @OpeningAmt, @AccountId, @OpeningDate, @OpeningDate)
		END
	END
	ELSE IF(ISNULL(@VoucherId,0)>0)
	BEGIN
		IF(@AccountId>0 AND @OpeningDate IS NOT NULL)
		BEGIN
			UPDATE [dbo].[tVouchers] SET OfficeId=@OfficeId, VoucherNo=@VoucherNo, VoucherDate=@OpeningDate, VoucherDateTime=@OpeningDate,VoucherTypeId=19,VchAmount= @OpeningAmt, 
			Account1Id=@AccountId, Amount1= @OpeningAmt, Amount2= 0, Amount3=0, Amount4=0, Amount5=0, Amount6=0, UserRemarks= 'OpeningBalance', [FYID]=@FFYId, MSID=@AccountId, MDOE=@OpeningDate, IsAudited= 0, IsAccepted= 1, IsAccountsVisiblity= 1,Amount7= 0, 
			Amount8= 0, Amount9=0, Amount10=0 
			WHERE Id=@VoucherId
		END
		SELECT @VDId=ISNULL(Id, 0) from tVoucherVD where VoucherId=@VoucherId
		IF(@VoucherId>0)
		BEGIN
			UPDATE [dbo].[tVoucherVD] SET VoucherId=@VoucherId, OfficeId=@OfficeId, AccountId=@AccountId, OrderId=1, VDAmount=@OpeningAmt, MSID=@AccountId, MDOE=@OpeningDate
			WHERE Id=@VDId
		END
		SELECT @VDRId=ISNULL(Id, 0) from tVoucherVDR where VDId=@VDId
		IF(@VDRId>0)
		BEGIN
			IF(@RefFlag=1)
			BEGIN
				UPDATE [dbo].[tVoucherVDR] SET [VDId]=@VDId ,[ReferenceNo]=@VoucherNo, [VDRTypeID]=1013, [VDRAmount]=@OpeningAmt, [MSID]=@AccountId, MDOE=@OpeningDate, DueDate=@OpeningDate
				WHERE Id=@VDId
			END
			ELSE
			BEGIN
				DELETE tVoucherVDR WHERE Id=@VDRId
				RETURN
			END
		END
		ELSE IF(@VDRId=0 AND @RefFlag=1)
		BEGIN
			INSERT INTO tVoucherVDR([VDId] ,[ReferenceNo], [VDRTypeID], [VDRAmount], [CSID], [CDOE], [DueDate])
			VALUES (@VDId, @VoucherNo, 1013, @OpeningAmt, @AccountId, @OpeningDate, @OpeningDate)
		END
	END
END
GO
