/****** Object:  StoredProcedure [dbo].[Proc_Custom_Report_1610_25_Khaitan]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Custom_Report_1610_25_Khaitan]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Custom_Report_1610_25_Khaitan]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [dbo].[Proc_Custom_Report_1610_25_Khaitan] @parameter1=N'1',@parameter2=NULL,@parameter3=NULL,@parameter4=N'2018-08-18',@parameter5=N'2018-09-18',@parameter6=N'3',@parameter7=N'2'
-- SELECT * FROM mObjectCategory
CREATE PROC [dbo].[Proc_Custom_Report_1610_25_Khaitan]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--StartDate
	@parameter5 nvarchar(max),--EndDate
	@parameter6 nvarchar(max),--Date TypeId: StartDate,EndDate
	@parameter7 nvarchar(max)--1:Ledger,2:Expense-Category,3:Expense
As
begin
DECLARE @RoleId nvarchar(100),@StartDate datetime,@EndDate datetime,@DateType int
	SET @RoleId=cast((SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1) as nvarchar(100))
	
	SET NOCOUNT ON;
	
	SET @StartDate=@parameter4
	SET @EndDate=DATEADD(DAY,1,@parameter5)
	SET @DateType=CAST(@parameter6 as int)
	
	Declare @StartDateString Varchar(255)
	Declare @EndDateString Varchar(255)
	Declare @ColumnName Varchar(255)
	Declare @CCAString varchar(2000)

	SET @StartDateString= '''' + Convert(Varchar,@StartDate,101) + ''''
	SET @EndDateString= '''' + Convert(Varchar,@EndDate,101) +  ''''
	SET @DateType=(Case When ISNULL(@DateType,0)=0 Then 1 Else @DateType End)
	
SET @ColumnName=(Case @DateType When 1 Then ' TS.StartDate ' When 2 Then ' TS.EndDate ' ELSE ' TS.SettleDate ' End)

SET @CCAString= 'dbo.CCO(' + CAST(@parameter1 as varchar(50)) + ',''' +  ISNULL(@parameter2,'') + ''',''' + ISNULL(@parameter3,'') +''')'


Create  TABLE #CCO(SettlementId int Primary Key,[CategoryName] Varchar(255),  [ClassName] Varchar(255),ObjectName Varchar(255),ObjectId bigint )  
		
		
		Exec('
		Insert Into #CCO(SettlementId,[CategoryName],[ClassName],[ObjectName],[ObjectID])		
		Select Id,[CategoryName],[ClassName],CCA.[ObjectName],CCA.[ObjectID] 
		From dbo.tTripSettlement as TS 
		Inner Join ' +  @CCAString + ' as CCA ON CCA.ObjectId=(CASE '+ @RoleId +' When 1130 THEN  ts.VehicleId WHEN 1292 THEN ts.OfficeId end)		
		Where ' + @ColumnName  + '>=' +  @StartDateString +' and ' + @ColumnName  + '<=' +  @EndDateString)



Declare @ColListadv as Varchar(Max),@ColListexp as Varchar(Max)

IF(@parameter7=1)
	Select  @ColListexp= ISNULL(@ColListexp + ',' ,'') + '[Exp' + Ltrim(Rtrim(FleetAcName)) +']' From dbo.mLedger Where Id In (Select LedgerId From dbo.mExpenseMaster Where Id in(Select ExpenseTypeId From dbo.tTripExpenseLog Where TriplogId in(Select TriplogId From #CCO)))  
Else IF(@parameter7=2)
	Select @ColListexp=ISNULL(@ColListexp + ',' ,'') + '[Exp' + Name + ']' From dbo.mGenericMaster Where Id In (Select ExpenseCategoryId From dbo.mExpenseMaster Where Id in(Select ExpenseTypeId From dbo.tTripExpenseLog Where TriplogId in(Select TriplogId From #CCO)))
Else
	Select @ColListexp=ISNULL(@ColListexp + ',' ,'') + '[Exp' + Name + ']'  From dbo.mExpenseMaster Where Id in(Select ExpenseTypeId From dbo.tTripExpenseLog Where TriplogId in(Select TriplogId From #CCO))  Order By Name

SET  @ColListexp=ISNULL(@ColListexp,'[ExpUndefined]')

select 
	GroupById=tal.SettlementId
	,ColumnHeader='Adv'+isnull(n.[Name],'Undefined')
	,ByValue=tal.CashAmount	
into #tmpadv
from dbo.tTripAdvanceLog as tal
left join dbo.mGenericMaster as n on tal.Ref1Id=n.Id and n.ConstantId=1639
JOIN #CCO stl ON tal.SettlementId=stl.SettlementId
where tal.AdvanceTypeId=1

select 
	GroupById=tal.SettlementId
	,ColumnHeader='Exp'+isnull(case @parameter7 when 1 then Ltrim(Rtrim(ac.FleetAcName)) when 2 then exg.[Name] else n.[Name] end,'Undefined')
	,ByValue=tal.SettledAmount
into #tmpexp
from dbo.tTripExpenseLog as tal
left join dbo.mExpenseMaster as n on tal.ExpenseTypeId=n.Id
left join dbo.mGenericMaster as exg on exg.Id=n.ExpenseCategoryId
left join dbo.mLedger as ac on ac.Id=n.LedgerId
JOIN #CCO stl ON tal.SettlementId=stl.SettlementId


set @ColListadv=null
Select @ColListadv=ISNULL(@ColListadv + ',' ,'') +  '[' + ColumnHeader + ']' 
from(select distinct ColumnHeader From #tmpadv)as x order by ColumnHeader

Exec('
	Select * INTO #advt From
	(
		Select GroupById
		,ColumnHeader
		,ByValue
		from #tmpadv
	)as Res
	PIVOT
	(
		Sum(ByValue)	
		FOR [ColumnHeader]
		IN(' + @ColListadv + ')
	) as PVT

	Select * into #expt From
	(
		Select GroupById
		,ColumnHeader
		,ByValue
		from #tmpexp
	)as Res
	PIVOT
	(
		Sum(ByValue)	
		FOR [ColumnHeader]
		IN(' + @ColListexp + ')
	) as PVT
	
	SET NOCOUNT ON;
	SELECT 
	stl.CategoryName,
	stl.ClassName,
	o.OfficeName,
	t.StartDate,
	t.TripSheetNo,
	m.VehicleNo,
	dvr.DriverName,
	dvr.DriverCode,
	RouteName=t.TripRoute,
	t.EndDate,
	t.SettleDate,
	TripDays=DATEDIFF(day,t.StartDate,t.EndDate),
	t.StartKm,
	t.EndKm,
	TotalKmRun=RunKM,
	BdgtFuelQuantity=isnull(t.BdgtFuelQuantity,0),
	BdgtExtraFuelQty=isnull(t.BdgtExtraFuelQty,0),	
	OpeningFuelAmount=adv.TotalOpeningFuelAmount,
	OpeningFuelQty=adv.TotalOpeningFuelQty,
	TripFuelPaidQty=t.ActualQty,
	TripFuelPaid=isnull(t.FuelExpense,0),
	FuelClosingQty=t.FuelQtyDifference,
	FuelClosingAmount=t.FuelAmtDiff,
	OpeningAmountCash=adv.TotalOpeningAmount,
	TripCashPaid=isnull(t.TripAdvance,0),	
	TripExpense=isnull(t.TripExpense,0),	
	TotalAdvance=isnull(t.FuelExpense,0)+isnull(t.TripAdvance,0),
	TotalExpense=isnull(t.FuelExpense,0)+isnull(t.TripExpense,0),
	CashClosing=t.SettledAmount,
	NetClosing=t.FuelAmtDiff+t.SettledAmount,
	TripFreight=isnull(tl.Freight,0),
	[TripGrossProfit]=isnull(tl.Freight,0)-isnull(t.TripExpense,0)-isnull(t.FuelExpense,0),	
	t.BdgtReferQuantity,
	t.Remarks,advt.*,expt.*
	
	FROM dbo.tTripSettlement as t
	join #CCO stl on t.Id=stl.SettlementId
	LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1Id
	left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
	left join
		(
			select t.SettlementId, Tottripadv=sum((case when t.AdvanceTypeId in(1,2) then  isnull(t.CashAmount,0) else 0 end)),
			TotalOpeningAmount=sum((case when t.AdvanceTypeId IN(17,86) then  isnull(t.CashAmount,0) else 0 end)),
			TotalOpeningFuelAmount=sum((case when t.AdvanceTypeId = 85 then  isnull(t.FuelAmount,0) else 0 end)),
			TotalOpeningFuelQty=sum((case when t.AdvanceTypeId = 85 then  isnull(t.FuelQty,0) else 0 end))
			from dbo.tTripAdvanceLog as t where t.SettlementId>0 group by t.SettlementId
		)as adv on adv.SettlementId=t.Id

    LEFT JOIN(
    select vml.SettlementId, Freight=sum(case when isnull(vml.CNFreight,0)>0 then isnull(vml.CNFreight,0) ELSE isnull(vml.MarketFreight,0) END) from tVehiclemovementlog as vml where ISNULL(vml.SettlementId,0)>0 group by vml.SettlementId
    ) as tl on t.Id=tl.SettlementId
	left join #advt as advt on advt.GroupById=t.Id
	left join #expt as expt on expt.GroupById=t.Id	
	ORDER BY t.StartDate
	
	drop table #advt
	drop table #expt	

	'
)	
End
GO
