/****** Object:  StoredProcedure [dbo].[Proc_Report_1345]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1345]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1345]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1345] 10011,'','','2010-01-01','2017-10-10'
--	select * from dbo.mObjectCategory
--	Select * from apiviews where id=1345
--	Select * from dbo.mConstantValue where constanttypeid=87
--	select * from dbo.tBatteryLog where VoucherTypeId=33

CREATE PROC [dbo].[Proc_Report_1345]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate	
as
begin
select 'Need to be Configure'
        --public virtual ResultSet Get1345Data()
        --{
        --    try
        --    {
        --        var resultSet = new ResultSet
        --        {
        --            ParameterInfo =
        --                $"Parameter Info : Category : {Parameters.CategoryName}{(Parameters.SelectedClasses != null ? " ,Classes : " + Parameters.SelectedClasses.JoinStrings(",") : "")},Date Range: From - {Parameters.FromDate.GetValueOrDefault().Date.ToString("dd-MM-yy")} and To - {Parameters.ToDate.GetValueOrDefault().Date.ToString("dd-MM-yy")}"
        --        };
        --        var objectType = string.Empty;
        --        switch (Parameters.CategoryRoleTypeId)
        --        {
        --            case 1145: //Account Role
        --                if (Parameters.CategoryRoleId == 1085) objectType = "driver";
        --                break;
        --            case 1292: //Office
        --                objectType = "office";
        --                break;
        --        }
        --        var query = GApi.Instance.Connection.GetDriverAcSummaryCCFData(Parameters.ClassIds.JoinStrings(","),
        --             Parameters.ObjectIds.JoinStrings(","), Parameters.CategoryId.GetValueOrDefault(0),
        --            Parameters.FromDate.GetValueOrDefault(), Parameters.ToDate.GetValueOrDefault()).ToList();

        --        var data = query.Select(y => new
        --        {
        --            y.DriverCode,
        --            y.DriverName,
        --            OpeningBalance = y.OpeningBalance.GetValueOrDefault(0),
        --            DebitAmount = y.DebitAmount.GetValueOrDefault(0),
        --            CreditAmount = y.CreditAmount.GetValueOrDefault(0),
        --            AcTotal = (y.OpeningBalance + y.CreditAmount - y.DebitAmount).GetValueOrDefault(0),
        --            TripAdvAmount = y.TripAdvAmount.GetValueOrDefault(0),
        --            TripExpAmount = y.TripExpAmount.GetValueOrDefault(0),
        --            TripTotal = (y.TripAdvAmount - y.TripExpAmount).GetValueOrDefault(0),
        --            NetClosing = ((y.OpeningBalance + y.CreditAmount - y.DebitAmount) + (y.TripAdvAmount - y.TripExpAmount)).GetValueOrDefault(0),
        --            UnSettledAdvAmount = y.UnSettledAdvAmount.GetValueOrDefault(0),
        --            NetAmount = ((y.OpeningBalance + y.CreditAmount - y.DebitAmount) + (y.TripAdvAmount - y.TripExpAmount) + y.UnSettledAdvAmount).GetValueOrDefault(0)
        --        });
        --        resultSet.DataSource = data.AsQueryable();
        --        return resultSet;
        --    }
        --    catch (Exception ex)
        --    {
        --        ex.ToExceptionless().AddObject(Parameters).Submit();
        --        return null;
        --    }
        --}
	end
GO
