/****** Object:  StoredProcedure [dbo].[Proc_Report_1304]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1304]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1304]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1304] 10011,'','','2010-01-01','2017-10-10'
--	select * from dbo.mObjectCategory
CREATE PROC [dbo].[Proc_Report_1304]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate	
as
begin
	set nocount on;
	select 
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	Office = o.OfficeName,
	DocDate = t.DocDate,        
    DocNo = t.DocNo,
	BatteryNo = t.BatterySerialNo,
	BatteryLife = t.BatteryLife,
	BrandName = bm.BrandName,
	Store = dr.FleetAcName,
	t.NetAmount,
	[BatteryStatus]=bs.ConstantName,
	[NextUse]=nu.ConstantName,
	t.Remark
	from dbo.tBatteryLogExtraInfo as ei 
	join dbo.tBatteryLog as t on ei.Id=t.ExtraInfoId
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=t.DebitAccountId
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mBatteryMaster as tm on tm.Id=t.BatteryId
	join dbo.mBatteryBrand as bm on bm.Id=tm.BrandId
	left join dbo.mConstantValue as nu on nu.Id=t.NextUseId
	left join dbo.mConstantValue as bs on bs.Id=t.BatteryStatusId
	where t.DocDate between @parameter4 and @parameter5 and
	t.BatteryStatusId in(1202,1203) and isnull(t.NextLogId,0)=0
	order by ei.DocDate
	
end

GO
