/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1554_AuditDashboardVouchers]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1554_AuditDashboardVouchers]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1554_AuditDashboardVouchers]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRNS_1554_AuditDashboardVouchers] 
@parameter1 Date=NULL,--FromDate
@parameter2 Date=NULL,--Todate
@parameter3 bigint=0,--AccountId
@parameter4 bigint=0,--Voucher TypeId
@parameter5 nvarchar(100)='',--Free Text Search
@parameter6 bigint=0,--Office Id
@parameter7 decimal(18,2),  --min amount
@parameter8 decimal(18,2), -- max amount
@parameter9 bit=0  -- this is use for audit/unaudit
AS
DECLARE @SQL nvarchar(max)=N'Select v.Id,V.VoucherNo,[Date]=v.VoucherDate,OfficeName=O.OfficeName,AuditRemark=v.AuditRemark,UserRemark=v.UserRemarks,Narration=v.AccNarration,PaymentMode=PM.ConstantName,AccountName=L.AccountName,Amount=ABS(VD.VDAmount),CrDr=(CASE WHEN VD.VDAmount>0 THEN ''Dr'' ELSE ''Cr'' END),VoucherType=VT.VoucherTypeName,FinancialYear=FY.Abbreviation,ModefiedDate=v.MDOE,CreatedDate=v.CDOE,CU.FirstName+ +CU.LastName AS CreatedBy,MU.FirstName+ +MU.LastName AS ModifiedBy
FROM [dbo].[tVouchers] V LEFT JOIN [dbo].[mConstantValue] PM ON V.PaymentModeId=PM.Id
INNER JOIN [dbo].[tVoucherVD] VD ON VD.VoucherId=V.Id
INNER JOIN [dbo].[mLedger] L ON VD.AccountId=L.Id
INNER JOIN [dbo].[mVoucherType] VT ON v.VoucherTypeId= VT.Id
INNER JOIN [dbo].[mFY] FY ON v.FYID= FY.id
LEFT JOIN [dbo].[ApiSessions] CS on v.CSID=CS.Id
LEFT JOIN [dbo].[ApiUsers] CU on CS.UserId=CU.Id
LEFT JOIN [dbo].[ApiSessions] MS on v.MSID=MS.Id
LEFT JOIN [dbo].[ApiUsers] MU on MS.UserId=MU.Id
INNER JOIN [dbo].[mOfficeMaster] O ON O.Id=V.OfficeId
INNER JOIN (Select Amount=SUM(VDAmount),VoucherId FROM  [dbo].[tVoucherVD] WHERE VDAmount>0 GROUP BY VoucherId) AS VDM ON V.Id=VDM.VoucherId
WHERE V.IsAccountsVisiblity=1'

DECLARE @WHERE nvarchar(max)=''

IF(@parameter1 IS NOT NULL)
BEGIN 
SET @WHERE=@WHERE+(CASE WHEN LEN(@WHERE)>0 THEN ' AND ' ELSE '' END)+'v.VoucherDate>='''+CONVERT(nvarchar(10),@parameter1)+''''
END

IF(@parameter2 IS NOT NULL)
BEGIN 
SET @WHERE=@WHERE+(CASE WHEN LEN(@WHERE)>0 THEN ' AND ' ELSE '' END)+'v.VoucherDate<='''+CONVERT(nvarchar(10),@parameter2,111)+''''
END

IF(ISNULL(@parameter4,0)>0)
BEGIN 
SET @WHERE=@WHERE+(CASE WHEN LEN(@WHERE)>0 THEN ' AND ' ELSE '' END)+'v.VoucherTypeId='+cast(@parameter4 as nvarchar)
END
--V.IsAudited=0
SET @WHERE=@WHERE+(CASE WHEN LEN(@WHERE)>0 THEN ' AND ' ELSE '' END)+'V.IsAudited='+cast(@parameter9 as nvarchar)

IF(ISNULL(@parameter3,0)>0 )
BEGIN 
SET @WHERE=@WHERE+(CASE WHEN LEN(@WHERE)>0 THEN ' AND ' ELSE '' END)+'VD.AccountId='+cast(@parameter3 as nvarchar)
END

IF(ISNULL(@parameter6,0)>0 )
BEGIN 
SET @WHERE=@WHERE+(CASE WHEN LEN(@WHERE)>0 THEN ' AND ' ELSE '' END)+'V.OfficeId='+cast(@parameter6 as nvarchar)
END

IF(ISNULL(@parameter7,0)>0 )
BEGIN 
SET @WHERE=@WHERE+(CASE WHEN LEN(@WHERE)>0 THEN ' AND ' ELSE '' END)+'VDM.Amount>='''+CONVERT(nvarchar(21),@parameter7)+''''
END

IF(ISNULL(@parameter8,0)>0 )
BEGIN 
SET @WHERE=@WHERE+(CASE WHEN LEN(@WHERE)>0 THEN ' AND ' ELSE '' END)+'VDM.Amount<='''+CONVERT(nvarchar(21),@parameter8)+''''
END

IF(LEN(@parameter5)>0)
BEGIN 
SET @WHERE=@WHERE+(CASE WHEN LEN(@WHERE)>0 THEN ' AND ' ELSE '' END)+'(V.VoucherNo like''%'+@parameter5+'%'' OR v.UserRemarks like ''%'+@parameter5+'%'' OR v.AccNarration like ''%'+@parameter5+'%'')'
END
IF(LEN(@WHERE)>0)
BEGIN
SET @SQL=@SQL+' AND '+@WHERE
END

print @SQL
EXEC sp_sqlexec @SQL

--go
--exec Proc_TRNS_1554_AuditDashboardVouchers @parameter7='0',@parameter8='2000',@parameter9=0
GO
