/****** Object:  StoredProcedure [dbo].[Proc_Report_1622]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1622]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1622]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_Report_1622]
-- 1622: High Maintenance Vehicles
	@parameter1 bigint,--TypeId
	@parameter2 nvarchar(max),--FromDate
	@parameter3 nvarchar(max)--ToDate
as
begin
	SET NOCOUNT ON;
	

	if(@parameter1=1)
	begin
		create table #vehlist(Id bigint,Particulars varchar(150),Amount decimal(18,2),SortId tinyint)
		insert #vehlist(Id,Particulars,SortId)
		select VehicleId,VehicleRegNo,0 from (
			select 
			vm.VehicleRegNo,t.VehicleId,rowid=ROW_NUMBER()over(order by sum(isnull(t.NetAmount,0)) desc)
			from dbo.tSpareLogExtraInfo as ei 
			left join(
				select t.PurchaseOrderId, t.SparePartId,t.VehicleId,t.Qty,t.Rate,t.Amount,t.DiscountPercent,t.DiscountAmount, t.CGSTRate,t.CGSTAmount,t.SGSTRate,t.SGSTAmount,t.IGSTRate,t.IGSTAmount ,t.OtherAmount,t.NetAmount,t.MechanicId,t.Remarks,t.ExtraInfoId from dbo.tSpareLog as t where t.VehicleId>0
				union all
				select  rl.PurchaseOrderId,rl.LaborId,rl.VehicleId,rl.LaborQty,rl.LaborRate,rl.Amount,0,0,0,0,0,0,0,0,rl.OtherAmount,rl.NetAmount,rl.MechanicId,rl.Remark,rl.ExtraInfoId from dbo.tRepairLabourLog as rl  where rl.VehicleId>0
			)as t on ei.ID=t.ExtraInfoId
			join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id
			where ei.DocDate between @parameter2 and @parameter3
			group by t.VehicleId,vm.VehicleRegNo
		) as t where t.rowid<6
		--select * from #vehlist
	insert #vehlist(Id,Particulars,Amount,SortId)
	select 
	t.VehicleId,
	t.Jobgroup,
	TotalExp,
	1
	from 
	(
		select 
		rowid=row_number()over(partition by t.VehicleId order by sum(isnull(t.NetAmount,0)) desc)
		,t.VehicleId,Jobgroup=isnull(sg.Name,'NA')
		,TotalExp=sum(isnull(t.NetAmount,0))	
		from dbo.tSpareLogExtraInfo as ei 
		left join(
			select t.PurchaseOrderId, t.SparePartId,t.VehicleId,t.Qty,t.Rate,t.Amount,t.DiscountPercent,t.DiscountAmount,CGSTRate, t.CGSTAmount, t.SGSTRate, t.SGSTAmount, t.IGSTRate,t.IGSTAmount ,t.OtherAmount,t.NetAmount,t.MechanicId,t.Remarks,t.ExtraInfoId from dbo.tSpareLog as t where t.VehicleId>0
			union all
			select  rl.PurchaseOrderId,rl.LaborId,rl.VehicleId,rl.LaborQty,rl.LaborRate,rl.Amount,0,0,0,0,0,0,0,0,rl.OtherAmount,rl.NetAmount,rl.MechanicId,rl.Remark,rl.ExtraInfoId from dbo.tRepairLabourLog as rl  where rl.VehicleId>0
		)as t on ei.ID=t.ExtraInfoId
		join dbo.mSpareMaster as sm on sm.Id=t.SparePartId
		left join dbo.mGenericMaster as sg on sg.Id=sm.SpareGroupId
		where t.VehicleId in(select Id from #vehlist) and ei.DocDate between @parameter2 and @parameter3
		group by t.VehicleId,isnull(sg.Name,'NA')
	)as t 
	where rowid<6
Update x set x.Amount=(select sum(Amount) from #vehlist as z where z.Id=x.Id) from #vehlist as x  where x.sortid=0
select SortId,Particulars,Amount from #vehlist order by Id,SortId 
drop table #vehlist
end
else
begin
	create table #splist(Id bigint,Particulars varchar(150),Amount decimal(18,2),SortId tinyint)
		insert #splist(Id,Particulars,SortId)
		select t.Id,t.Name,0 from (
			select 
			gm.Id,gm.Name,rowid=ROW_NUMBER()over(order by sum(isnull(t.NetAmount,0)) desc)
			from dbo.tSpareLogExtraInfo as ei 
			left join(
				select t.PurchaseOrderId, t.SparePartId,t.VehicleId,t.Qty,t.Rate,t.Amount,t.DiscountPercent,t.DiscountAmount,t.CGSTRate, t.CGSTAmount, t.SGSTRate, t.SGSTAmount, t.IGSTRate, t.IGSTAmount,t.OtherAmount,t.NetAmount,t.MechanicId,t.Remarks,t.ExtraInfoId from dbo.tSpareLog as t where t.VehicleId>0
				union all
				select  rl.PurchaseOrderId,rl.LaborId,rl.VehicleId,rl.LaborQty,rl.LaborRate,rl.Amount,0,0,0,0,0,0,0,0,rl.OtherAmount,rl.NetAmount,rl.MechanicId,rl.Remark,rl.ExtraInfoId from dbo.tRepairLabourLog as rl  where rl.VehicleId>0
			)as t on ei.ID=t.ExtraInfoId
			join dbo.mSpareMaster as sm on sm.Id=t.SparePartId
			join dbo.mGenericMaster as gm on gm.Id=sm.SpareGroupId
			where ei.DocDate between @parameter2 and @parameter3
			group by gm.Id,gm.Name
		) as t where t.rowid<6
		--select * from #vehlist
	insert #splist(Id,Particulars,Amount,SortId)
	select 
	t.SpareGroupId,
	t.VehicleRegNo,
	TotalExp,
	1
	from 
	(
		select 
		rowid=row_number()over(partition by sm.SpareGroupId order by sum(isnull(t.NetAmount,0)) desc)
		,vm.VehicleRegNo,sm.SpareGroupId
		,TotalExp=sum(isnull(t.NetAmount,0))	
		from dbo.tSpareLogExtraInfo as ei 
		left join(
			select t.PurchaseOrderId, t.SparePartId,t.VehicleId,t.Qty,t.Rate,t.Amount,t.DiscountPercent,t.DiscountAmount,t.CGSTRate, t.CGSTAmount, t.SGSTRate, t.SGSTAmount, t.IGSTRate, t.IGSTAmount, t.OtherAmount,t.NetAmount,t.MechanicId,t.Remarks,t.ExtraInfoId from dbo.tSpareLog as t where t.VehicleId>0
			union all
			select  rl.PurchaseOrderId,rl.LaborId,rl.VehicleId,rl.LaborQty,rl.LaborRate,rl.Amount,0,0,0,0,0,0,0,0,rl.OtherAmount,rl.NetAmount,rl.MechanicId,rl.Remark,rl.ExtraInfoId from dbo.tRepairLabourLog as rl  where rl.VehicleId>0
		)as t on ei.ID=t.ExtraInfoId
		join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
		join dbo.mSpareMaster as sm on sm.Id=t.SparePartId
		where sm.SpareGroupId in(select Id from #splist)
		and ei.DocDate between @parameter2 and @parameter3
		group by vm.VehicleRegNo,sm.SpareGroupId
	)as t 
	where rowid<6
	Update x set x.Amount=(select sum(Amount) from #splist as z where z.Id=x.Id) from #splist as x  where x.sortid=0
	select SortId,Particulars,Amount from #splist order by Id,SortId 
	drop table #splist
	end
end
GO
