/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1523_Validate]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1523_Validate]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1523_Validate]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Exec Proc_TRANS_1523_Validate 
CREATE Proc [dbo].[Proc_TRANS_1523_Validate]
@parameter1 nvarchar(max)
AS 
BEGIN
select 
[Id]=SL.Id,
[DispatchId]=SL.TripLogId,
[LogType]=SL.LogTypeId,
[AcknowledgeNo]=SL.DeliveryAcknowledgeNo,
[VendorCode]=L.AccountAbbr,
[PartNo]=MM.Code,
[InvoiceNo]=CNMM.InvoiceNo,
SL.InQty,
[DispatchDate]=SL.LogDate,
[OutQtyId]=Sl.OutQty

from tCNStockMMLog as SL
left join mMaterialMaster MM on SL.MaterialId=MM.Id
left join tCNMultiMaterial CNMM on SL.CNMMId=CNMM.Id
left join tCNMaster CNM on SL.CNId=CNM.Id
left join mLedger L on CNM.ConsignorId=L.Id
left join mConstantValue CV on SL.LogTypeId=CV.Id
inner join dbo.SplitString_NEW(@Parameter1,'^') as v on V.Item=(MM.Code+'-'+CNMM.InvoiceNo+'-'+L.AccountAbbr+'-'+CAST(SL.LogTypeId as nvarchar))
END

--select * from tCNStockMMLog 
GO
