/****** Object:  StoredProcedure [dbo].[Proc_Format_1020_1]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1020_1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1020_1]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Format_1020_1]
@parameter1 bigint
as
begin
select 
	VehicleId = t.VehicleId,
	VehicleNo = vm.VehicleNo,
	VehicleModel = vmm.ModelName,
	NoOfTyre = vmm.NoOfTyres,
	OdoReading = t.EndKm,
	KmRun = t.TotalKmRun,
	JobcardId = t.Id,
	DriverName = isnull(dvr.DriverName,0),
	DriverCode = isnull(dvr.DriverCode,0),
	AddessId = dvr.CurrentAddressId,
	LicExpiryDate = case when isnull(dvr.DriverName,0)='NA' then null else dvr.ExpiryDate end,

	JobType = isnull(jt.ConstantName,0),
	JobDate = t.TripStartDate,
	JobNo = t.TriplogNo,
	IsGPSAttached = case when t.IsGPSAttached=1 then 'Y' else 'N' end,
	CompletedDate = t.UnloadingReachDate,
	OutDate = t.UnloadingDate,
	TyreSupervisor = isnull(ts.Name,0),
	MaterialSupervisor = isnull(rs.Name,0),
	op.[PreJobNo],
	op.[PreJobDate],
	op.[PreReading],
	Batteries=ISNULL((STUFF((SELECT  Char(10) + Cast(ISNULL(BatterySerialNo,'') as varchar(50)) From dbo.tBatterylog as blg Where blg.NextLogId is null and blg.BatteryStatusId=1205 and blg.VehicleId=t.VehicleId
						   FOR XML PATH(''), TYPE, ROOT).value('root[1]','nvarchar(max)'),1,1,'')),'')
	from dbo.tVehicleMovementLog as t
	left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id
	left join dbo.mVehicleModel as vmm on vmm.Id=vm.VehicleModelId
	left join dbo.mDriverMaster as dvr on dvr.Id=t.Driver1stId
	left join dbo.mConstantValue as jt on jt.Id=t.JobTypeId
	left join dbo.mGenericMaster as ts on ts.Id=t.TyreSupervisorId
	left join dbo.mGenericMaster as rs on rs.Id=t.RepairSupervisorId
	outer apply (
		select top 1
		[PreJobNo]=[e1].[TriplogNo],
		[PreJobDate]=[e1].[TripStartDate],
		[PreReading]=[e1].[StartKm]
		FROM [dbo].[tVehicleMovementLog] AS [e1]
		WHERE ([e1].[VehicleId] = t.VehicleId)
		AND ([e1].[TripStartDate] < convert(datetime2, t.TripStartDate, 121))
		AND ([e1].[TripTypeId] = 1159) 
		ORDER  BY [e1].[TripStartDate] DESC
	)as op
	where t.TripTypeId=1159 and t.Id=@parameter1
end

GO
