/****** Object:  StoredProcedure [dbo].[Proc_Report_1476]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1476]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1476]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1476]
	@parameter1 bigint--BillTypeId
AS
begin
	select 
	BillNature=t.Name,
	BillType=ty.ConstantName,
	[CreditAccount]=ca.FleetAcName,
	[DebitAccount]=da.FleetAcName,
	[GSTAccount]=gsta.FleetAcName,
	[STAccount]=sta.FleetAcName,
	[OtherAccount1]=o1ca.FleetAcName,
	[OtherAccount2]=o2ca.FleetAcName,
	[OtherAccount3]=o3ca.FleetAcName,
	[OtherAccount4]=o4ca.FleetAcName,
	[OtherAccount5]=o5ca.FleetAcName,
	[OtherAccount6]=o6ca.FleetAcName
	from dbo.mCNBillNature as t
	left join dbo.mConstantValue as ty on ty.Id=t.CNBillTypeId
	left join dbo.mLedger as ca on ca.Id=t.CreditAccountId
	left join dbo.mLedger as da on da.Id=t.DiscountAccountId
	left join dbo.mLedger as gsta on gsta.Id=t.VATAccountId
	left join dbo.mLedger as sta on sta.Id=t.CGSTAccountId
	left join dbo.mLedger as o1ca on o1ca.Id=t.OtherAccount1Id
	left join dbo.mLedger as o2ca on o2ca.Id=t.OtherAccount2Id
	left join dbo.mLedger as o3ca on o3ca.Id=t.OtherAccount3Id
	left join dbo.mLedger as o4ca on o4ca.Id=t.OtherAccount4Id
	left join dbo.mLedger as o5ca on o5ca.Id=t.OtherAccount5Id
	left join dbo.mLedger as o6ca on o6ca.Id=t.OtherAccount6Id
	where (case when @parameter1=0 then 1 when t.CNBillTypeId=@parameter1 then 1 else 0 end)=1

	order by t.Name 
end
    
GO
