/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1107_GetTripDetails]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1107_GetTripDetails]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1107_GetTripDetails]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC [dbo].[Proc_TRNS_1107_GetTripDetails] @parameter1=42464
CREATE PROC [dbo].[Proc_TRNS_1107_GetTripDetails] @parameter1 BIGINT,--TripId     
@parameter2 BIGINT = 0,--Id of current advance which is in edit mode
@parameter3 BIGINT = 0,--selected advancetypeid
@parameter4 BIGINT = 0,--selected payment mode
@parameter5 BIGINT = 0--selected office
AS
BEGIN
  SELECT
    VehicleId
       ,BdgtAdvance=BdgtAdvance+(((CASE
      WHEN PreFoodingDays > 0 THEN PreFoodingDays
      ELSE 0
    END) + (CASE
      WHEN CurFoodingDays > 0 THEN CurFoodingDays
      ELSE 0
    END)+t.TransitUnloadDelay) * 250)
       ,BudgetedCashOnly
       ,BdgtFuelQty
       ,BdgtTripExpense
       ,PaidFuelQty
       ,PaidCashAmt
       ,Driver1stId
       ,DriverName
       ,RouteId
       ,RouteName
       ,TripStartDate
       ,LoadingReachDate
       ,LoadingDate
       ,UnloadingReachDate
       ,UnLoadingDate
       ,PreviousTripUploadDate,
      TransitUnloadDelay,
   TotalBdgtAdvance = BdgtAdvance + (((CASE
      WHEN PreFoodingDays > 0 THEN PreFoodingDays
      ELSE 0
    END) + (CASE
      WHEN CurFoodingDays > 0 THEN CurFoodingDays
      ELSE 0
    END)+t.TransitUnloadDelay) * 250)
   ,TotalFoodingDays = (CASE
      WHEN PreFoodingDays > 0 THEN PreFoodingDays
      ELSE 0
    END) + (CASE
      WHEN CurFoodingDays > 0 THEN CurFoodingDays
      ELSE 0
    END)+t.TransitUnloadDelay
  FROM (SELECT
      trp.*
     ,PreFoodingDays = 0/*DATEDIFF(DAY, ISNULL(trp.PreviousTripUploadDate, ISNULL(trp.LoadingDate, trp.TripStartDate)), ISNULL(trp.LoadingDate, trp.TripStartDate)) - 1*/
     ,CurFoodingDays = (CASE WHEN ISNULL(trp.UnloadingReachDate,trp.UnLoadingDate) IS NULL THEN 0
        WHEN ISNULL(DATEDIFF(DAY, ISNULL(trp.UnloadingReachDate,trp.UnLoadingDate), ISNULL(trp.NextTripDate,GETDATE())), 0) > 1 THEN ISNULL(DATEDIFF(DAY, ISNULL(trp.UnloadingReachDate,trp.UnLoadingDate), ISNULL(trp.NextTripDate,GETDATE())), 0) - 1
        ELSE 0
      END)
    FROM (SELECT
        VehicleId = t.VehicleId
       ,BdgtAdvance = ISNULL(t.BdgtAdvance, 0) + ISNULL(tal.ExtraToll, 0)
       ,BudgetedCashOnly = ISNULL(t.BdgtAdvance, 0)
       ,BdgtFuelQty = ISNULL(t.BdgtFuelQty, 0)
       ,BdgtTripExpense = ISNULL(t.BdgtTripExpense, 0)
       ,PaidFuelQty = ISNULL(tal.TotalFuelPaidQty, 0)
       ,PaidCashAmt = ISNULL(tal.TotalCashPaid, 0)
       ,t.Driver1stId
       ,DriverName = dm.DriverName
       ,RouteId = t.RouteId
       ,RouteName = rm.Name
       ,TripStartDate = ISNULL(t.TripStartDate, NULL)
       ,LoadingReachDate = ISNULL(t.LoadingReachDate, NULL)
       ,LoadingDate = ISNULL(t.LoadingDate, NULL)
       ,UnloadingReachDate = ISNULL(t.UnloadingReachDate, NULL)
       ,UnLoadingDate = ISNULL(t.UnLoadingDate, NULL)
	   ,NextTripDate=(SELECT TOP 1 ISNULL(vml.LoadingReachDate,ISNULL(vml.LoadingDate,vml.TripStartDate)) FROM [dbo].[tVehicleMovementLog] vml WHERE vml.VehicleId=t.VehicleId AND vml.TripStartDate>t.TripStartDate ORDER BY vml.TripStartDate)
       ,PreviousTripUploadDate = (SELECT TOP 1
            pr.UnLoadingDate
          FROM tVehicleMovementLog AS pr
          WHERE pr.TripStartDate < t.TripStartDate
          AND pr.VehicleId = t.VehicleId
          AND pr.Id <> t.Id
          ORDER BY pr.TripStartDate DESC)
       ,PreviousTripReachDate = (SELECT TOP 1
            pr.UnloadingReachDate
          FROM tVehicleMovementLog AS pr
          WHERE pr.TripStartDate < t.TripStartDate
          AND pr.VehicleId = t.VehicleId
          AND pr.Id <> t.Id
          ORDER BY pr.TripStartDate DESC),
      TransitUnloadDelay=(CASE WHEN vtsfooding.TransitUnloadDelayDays>0 THEN vtsfooding.TransitUnloadDelayDays ELSE 0 END)
      FROM tVehicleMovementLog AS t
      LEFT JOIN mDriverMaster dm
        ON t.Driver1stId = dm.Id
      LEFT JOIN mRouteMaster rm
        ON t.RouteId = rm.Id
      LEFT JOIN (
      SELECT vl.TriplogId,TransitUnloadDelayDays=SUM(DATEDIFF(DAY,vl.StartDate,ISNULL(endvl.StartDate,vl.EndDate))-1) FROM dbo.tVTSStatusLog AS vl
      LEFT JOIN dbo.tVTSStatusLog AS endvl ON DATEADD(SECOND,1,endvl.StartDate)>=vl.StartDate AND endvl.DTSStatusId=20/*Transit Unload*/ AND (vl.LocationId=endvl.LocationId) AND vl.TriplogId=endvl.TriplogId AND endvl.Id>vl.Id
      WHERE vl.DTSStatusId IN(19/*Transit Reached*/) GROUP BY vl.TriplogId
      ) AS vtsfooding ON t.Id=vtsfooding.TriplogId
      LEFT JOIN (SELECT
          tal.TripLogId
         ,TotalCashPaid = SUM(CASE
            WHEN tal.AdvanceTypeId = 1 THEN (CASE
                WHEN tal.RequestStatusId = 1596 THEN tal.RequestAmount
                ELSE tal.CashAmount
              END)
            ELSE 0
          END)
         ,ExtraToll = SUM(CASE
            WHEN tal.AdvanceTypeId = 1 AND
              tal.Ref1Id = 161 THEN (CASE
                WHEN tal.RequestStatusId = 1596 THEN tal.RequestAmount
                ELSE tal.CashAmount
              END)
            ELSE 0
          END)
         ,TotalFuelPaidQty = SUM(CASE
            WHEN tal.AdvanceTypeId = 2 THEN (CASE
                WHEN tal.RequestStatusId = 1596 THEN tal.RequestQty
                ELSE tal.FuelQty
              END)
            ELSE 0
          END)
        FROM tTripAdvanceLog tal
        WHERE tal.Id <> @parameter2
        GROUP BY tal.TripLogId) AS tal
        ON t.Id = tal.TripLogId
      WHERE t.Id = @parameter1) AS trp) AS t
END
GO
