/****** Object:  StoredProcedure [dbo].[Proc_Report_1681]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1681]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1681]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Proc_Report_1681]
	@parameter1 date,
	@parameter2 date,
	@parameter3 bigint
as
begin
	select 
	VehicleNo,
	GPSDate=g.LogDate,
	GPSKm=isnull(g.GPSKm,0)
	from dbo.tGPSKmLog as g
	where g.LogDate between @parameter1 and @parameter2
	and (case when @parameter3=0 then 1 when @parameter3=g.VehicleId then 1 else 0 end)=1
	order by g.LogDate,g.VehicleNo
end
GO
