/****** Object:  StoredProcedure [dbo].[Proc_Format_1506_35]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1506_35]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1506_35]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Format_1506_35] 
@parameter1 bigint
AS
BEGIN
select
	cn.TriplogId,
	cn.CNId,
	cn.CNNo,
	cn.CNDate,
	Consignor,
	ConsignorTIN,
	Consignee,
	ConsigneeTIN,
	Origin,
	Destination,
	Contents,
	DespPkg,
	ActualWt,
	ChargeWt,
	[InvoiceNos]=
	case when isnull(InvoiceCounts,0)>6 then
		(select Min(x.InvoiceNo) from dbo.tCNMultiMaterial as x where x.CnId=cn.CNId)+' To '+ 
		(select Max(x.InvoiceNo) from dbo.tCNMultiMaterial as x where x.CnId=cn.CNId)
	when isnull(InvoiceCounts,0)<7 then 
		ISNULL((STUFF((SELECT distinct '/' + Cast(ISNULL(x.InvoiceNo,'') as varchar(50)) from dbo.tCNMultiMaterial as x where x.CnId=cn.CNId
						   FOR XML PATH(''), TYPE, ROOT).value('root[1]','nvarchar(max)'),1,1,'')),'')
	end,
	cn.InvoiceDate
from (
	select 
	cnh.TriplogId,
	cnh.CNId,
	cn.CNNo,
	cn.CNDate,
	Consignor = cnr.FleetAcName,
	ConsignorTIN = cnr.TINNo,
	Consignee = cnr.FleetAcName,
	ConsigneeTIN = cne.TINNo,
	Origin = fp.CityName,
	Destination = tp.CityName,
	Contents = cn.MaterialInfo,
	DespPkg = cn.TotalPackage,
	ActualWt = cnh.ActualWeight,
	ChargeWt = cnh.ActualWeight,
	InvoiceDate=(select min(x.InvoiceDate) from dbo.tCNMultiMaterial as x where x.CnId=cn.Id),
	InvoiceCounts=isnull((select count(x.InvoiceNo) from dbo.tCNMultiMaterial as x where x.CnId=cn.Id),0)
	from dbo.tCNChallan as cnh
	join dbo.tCNMaster as cn on cn.Id=cnh.CNId and cnh.TriplogId=@parameter1 
	left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	left join dbo.mRouteMaster as rm on rm.Id=cnh.RouteId
	left join dbo.mCityMaster as fp on fp.Id=rm.FromPlaceid
	left join dbo.mCityMaster as tp on tp.Id=rm.ToPlaceId
	where cnh.TriplogId=@parameter1 
	)as cn order by cn.CNNo
END
GO
