/****** Object:  StoredProcedure [dbo].[PROC_GLB_ProcessICICIFastTagEvent]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[PROC_GLB_ProcessICICIFastTagEvent]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GLB_ProcessICICIFastTagEvent]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[PROC_GLB_ProcessICICIFastTagEvent]
@parameter1 nvarchar(500)=NULL
AS
BEGIN
print('step 1')
Select evt.EventLogId,data.*,Row_Id=ROW_NUMBER()OVER(PARTITION BY data.VehicleNumber,data.PlazaCode,FORMAT(TransactionDateTime,'yyyy-MM-dd HH') ORDER BY data.TransactionDateTime) 
into #data from EventStorages evt
CROSS APPLY OPENJSON(evt.Properties)
WITH(
TransactionId bigint '$.TransactionId',
LaneCode nvarchar(50) '$.LaneCode',
PlazaCode nvarchar(100) '$.PlazaCode',
TransactionAmount float '$.TransactionAmount',
TransactionDateTime datetimeoffset '$.TransactionDateTime',
ProcessingDateTime datetimeoffset '$.ProcessingDateTime',
TransactionReferenceNumber nvarchar(200) '$.TransactionReferenceNumber',
PlazaName nvarchar(200) '$.PlazaName',
TransactionStatus nvarchar(20) '$.TransactionStatus',
VehicleNumber nvarchar(100) '$.VehicleNumber'
) as data
where evt.EventCode=1102 AND evt.IsProcessed=0 AND 1=(CASE WHEN LEN(ISNULL(@parameter1,''))>0 AND evt.EventLogId=@parameter1 THEN 1 WHEN LEN(ISNULL(@parameter1,''))=0 THEN 1 ELSE 0 END) 
order by data.VehicleNumber,data.TransactionDateTime desc
BEGIN TRY
	BEGIN TRANSACTION
		DECLARE @consolidatedflag INT,@creditaccountid BIGINT,@debitaccountid BIGINT,@batchid NVARCHAR(100)=(CASE WHEN LEN(ISNULL(@parameter1,''))>0 THEN  @parameter1 ELSE NEWID() END),@AccountStatus int;

SELECT @consolidatedflag=CAST(JSON_VALUE(ac.[Value],'$.AllowConsolidatedEntry') AS INT),@creditaccountid=CAST(JSON_VALUE(ac.[Value],'$.CreditAccountId') AS BIGINT),@debitaccountid=CAST(JSON_VALUE(ac.[Value],'$.DebitAccountId') AS BIGINT) FROM dbo.ApiConfigurations AS ac WHERE ac.Id='ICICIFastTagSetting';
SELECT TOP 1
      @AccountStatus = CAST([Value] AS INT)
    FROM ApiConfigurations
    WHERE Id = 'VoucherVisiblityFlag'/*0:NA,1:DirectImport,2:ApprovalRequired*/
	
print('step 2')
delete d from #data d WHERE EXISTS(SELECT 1 FROM #data d1 WHERE d1.TransactionId=d.TransactionId AND d1.Row_Id=1) AND d.Row_Id>1
print('step 3')
select d.TransactionId,d.Row_Id INTO #suspacts from #data d WHERE EXISTS(SELECT 1 FROM #data d1 WHERE d1.TransactionId<>d.TransactionId AND d1.VehicleNumber=d.VehicleNumber AND ((DATEDIFF(MINUTE,d.TransactionDateTime,d1.TransactionDateTime)>=0 AND DATEDIFF(MINUTE,d.TransactionDateTime,d1.TransactionDateTime)<=5)OR DATEDIFF(MINUTE,d1.TransactionDateTime,d.TransactionDateTime)>=0 AND DATEDIFF(MINUTE,d1.TransactionDateTime,d.TransactionDateTime)<=5))
  ORDER BY d.VehicleNumber,d.TransactionDateTime,d.Row_Id

  print('step 4')
SELECT VoucherNo='ETL/'+RIGHT(d.VehicleNumber,6)+'/'+CAST(d.TransactionId AS NVARCHAR)
       ,VehicleId=vm.Id
      ,AdvanceDate=CAST(TransactionDateTime AS date)
      ,OfficeId=ISNULL(vml.OfficeId,vm.OfficeId)
      ,CreditAccountId=@creditaccountid
      ,CashAmount=d.TransactionAmount
      ,FuelQty=0
      ,FuelRate=0
      ,FuelAmount=0
      ,DriverId=vml.Driver1stId
      ,Remark='eToll Paid for Vehicle Number: '+d.VehicleNumber+' using ICICI FastTag on TollPlaza: '+d.PlazaName
      ,ReferenceNo='ETL/'+RIGHT(d.VehicleNumber,6)+'/'+CAST(d.TransactionId AS NVARCHAR)
      ,VoucherId=NULL
      ,CSID=0
      ,CDOE=GETDATE()
      ,DebitAccountId=@debitaccountid
      ,TripLogId=null --vml.Id
      ,AdvanceTypeId=88/*eToll Expense*/
      ,BalanceQty=0
      ,IsBulkEntry=1
      ,ViewId=1576
      ,PaidInId=1516/*eToll Tag*/
      ,Ref1=d.TransactionId
      ,BatchId=@batchid
      ,VDRId=NULL
      ,RequestDate=NULL
      ,RequestQty=0
      ,RequestAmount=0	  
      ,VoucherDate=CAST(TransactionDateTime AS datetime)
      ,Data='{"ICICIFastTagDetail":{"VehicleNo":"'+d.VehicleNumber+'","TransactionId":'+CAST(d.TransactionId AS NVARCHAR)+',"TransactionReferenceNumber":"'+d.TransactionReferenceNumber+'","PlazaName":"'+PlazaName+'","Status":"'+d.TransactionStatus+'","SystemRemark":'+(CASE WHEN ISNULL(s.TransactionId,0)>0 THEN 'Transaction seems to be duplicate.' ELSE '""' END)+'}}'
  ,FYId=f.Id
INTO #etoll
  FROM #data AS d LEFT JOIN [dbo].[tTripAdvanceLog] t ON CAST(d.TransactionId AS NVARCHAR)=t.Ref1/*t.ThirdPartyRefNo*/
  LEFT JOIN dbo.mVehicleMaster AS vm ON (d.VehicleNumber=vm.VehicleRegNo OR d.VehicleNumber=vm.VehicleNo)  
  LEFT JOIN (SELECT vml.Id,vml.OfficeId,vml.VehicleId,vml.Driver1stId,vml.TripStartDate,UnLoadingDate=ISNULL(CAST(vml.UnLoadingDate AS DATETIME),GETDATE()) FROM dbo.tVehicleMovementLog AS vml WHERE vml.VehicleId>0) AS vml ON (CAST(TransactionDateTime AS datetime) BETWEEN vml.TripStartDate AND vml.UnLoadingDate) AND vml.VehicleId=vm.Id
  LEFT JOIN #suspacts AS s ON d.TransactionId=s.TransactionId
  LEFT JOIN [dbo].[mFy] F
        ON CAST(TransactionDateTime AS date) BETWEEN CAST(f.OpeningDate AS DATE) AND CAST(F.ClosingDate AS DATE)
  --WHERE NOT EXISTS(SELECT 1 FROM [dbo].[tTripAdvanceLog] t WHERE CAST(d.TransactionId AS NVARCHAR)=t.Ref1/*t.ThirdPartyRefNo*/)
    WHERE ISNULL(t.Id,0)=0 AND d.TransactionAmount>0
  
  print('step 5')



IF(@consolidatedflag=0)
  BEGIN/*Multiple entries*/print('step 6')
    INSERT INTO dbo.tTripAdvanceLog ( VoucherNo,VehicleId,AdvanceDate,OfficeId,CreditAccountId
      ,CashAmount,FuelQty,FuelRate,FuelAmount,DriverId,Remark,ReferenceNo,VoucherId,CSID,CDOE
      ,DebitAccountId,TripLogId,AdvanceTypeId,BalanceQty,IsBulkEntry,ViewId,PaidInId,Ref1
      ,BatchId,VDRId,RequestDate,RequestQty,RequestAmount,VoucherDate,[Data],ThirdPartyRefNo)
  
  SELECT VoucherNo,VehicleId,AdvanceDate,OfficeId,CreditAccountId,CashAmount,FuelQty,FuelRate,FuelAmount,DriverId
      ,Remark,ReferenceNo,VoucherId,CSID,CDOE,DebitAccountId,TripLogId,AdvanceTypeId,BalanceQty
      ,IsBulkEntry,ViewId,PaidInId,Ref1,BatchId,VDRId,RequestDate,RequestQty,RequestAmount,VoucherDate,#etoll.[Data],Ref1
      FROM #etoll WHERE OfficeId IS NOT NULL
	  print('step 7')

      INSERT INTO tVouchers ([OfficeId], [VoucherNo], [VoucherDate], [VoucherDateTime], [VoucherTypeId], [VchAmount],
    [Account1Id], [Amount1], [Account2Id], [Amount2], [Amount3], [Amount4], [Amount5], [Amount6],
    [CSID], [CDOE], [IsAudited], [IsAccepted], [IsAccountsVisiblity], [Amount7], [Amount8], [Amount9], [Amount10],
        BatchId, FYID, RefTransId, VDCount, IsParent)
      SELECT
        t.OfficeId,t.VoucherNo,t.AdvanceDate,t.VoucherDate,t.AdvanceTypeId,t.CashAmount,t.DebitAccountId
       ,t.CashAmount,t.CreditAccountId,-t.CashAmount,0,0,0,0,0,t.CDOE,0,(CASE @AccountStatus WHEN 1 THEN 1 ELSE 0 END)
       ,(CASE @AccountStatus WHEN 0 THEN 0 ELSE 1 END),0,0,0,0,@batchid,e.FyId,t.Id,2,0
      FROM dbo.tTripAdvanceLog t JOIN #etoll AS e ON t.VoucherNo=e.VoucherNo
        WHERE t.BatchId=@batchid

        print('step 8')
		UPDATE t SET t.VoucherId=v.Id
		FROM tTripAdvanceLog t join tVouchers v on t.VoucherNo=v.VoucherNo
		where t.BatchId=@batchid
		
		print('step 9')
		--SELECT * FROM dbo.tVouchers AS v WHERE v.BatchId=@batchid
      /*Debit VD(+)*/
      INSERT INTO tVoucherVD ([VoucherId], [OfficeId], [AccountId], [OrderId], [VDAmount], [CSID], [CDOE], [BatchId])
        SELECT V.Id,V.OfficeId,V.Account1Id,1,V.Amount1,tal.CSID,tal.CDOE,V.BatchId
        FROM dbo.tTripAdvanceLog AS tal JOIN dbo.tVouchers V ON tal.VoucherId = V.Id
        WHERE ISNULL(V.Id,0)>0 AND tal.BatchId=@batchid
		print('step 10')
        /*Debit VD(1)*/
      INSERT INTO tVoucherVD ([VoucherId], [OfficeId], [AccountId], [OrderId], [VDAmount], [CSID], [CDOE], [BatchId])
        SELECT V.Id,V.OfficeId,V.Account2Id,1,V.Amount2,tal.CSID,tal.CDOE,V.BatchId
        FROM dbo.tTripAdvanceLog AS tal
        JOIN dbo.tVouchers V ON tal.VoucherId = V.Id
        WHERE ISNULL(V.Id,0)>0 AND tal.BatchId=@batchid
		print('step 11')

  END
  ELSE/*Single eToll entry for single day*/
  BEGIN
    PRINT(1)
  END


  /*Mark Event as Processed*/
  UPDATE dbo.EventStorages SET IsProcessed=1,ProcessedTime=GETDATE()
    where EventCode=1102 AND IsProcessed=0 AND 1=(CASE WHEN LEN(ISNULL(@parameter1,''))>0 AND EventLogId=@parameter1 THEN 1 WHEN LEN(ISNULL(@parameter1,''))=0 THEN 1 ELSE 0 END) 
	  
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	PRINT 
		'Error ' + CONVERT(varchar(50), ERROR_NUMBER()) +
  		', Severity ' + CONVERT(varchar(5), ERROR_SEVERITY()) +
  		', State ' + CONVERT(varchar(5), ERROR_STATE()) +
  		', Line ' + CONVERT(varchar(5), ERROR_LINE())
  
	PRINT ERROR_MESSAGE();
  
  	IF XACT_STATE() <> 0 BEGIN
		ROLLBACK TRANSACTION
  	END
END CATCH;
drop table #data;
DROP TABLE #suspacts;
DROP TABLE #etoll
END
GO
