/****** Object:  StoredProcedure [dbo].[Proc_Report_1687]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1687]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1687]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1687]
	@parameter1 date,--fromdate
	@parameter2 date--todate
as
begin
	select [Name] = pm.Name, [Type]=c.ConstantName, JobCardNo=IsNULL(vml.TriplogNo, sl.DocNo), 
	DueAlertDate=vp.DueAlertDate, DueDate=vp.DueDate, JobDate=vp.JobDate, StartKM=vp.StartKM, 
	AlertKM=vp.AlertKM, DueKM=vp.DueKM, AlertDays=vp.AlertDays, DueDays=vp.DueDays,  VehicleNo=v.VehicleNo, 
	ps.AlertDays, ps.AlertKm, ps.ScheduleKm, ps.ScheduleDays 
	
	from tVehiclePMLog as vp 
	join mPMMaster as pm on vp.PMId=pm.Id
	join mPMSchedule as ps on vp.ScheduleId=ps.Id
	
	left join tVehicleMovementLog vml on vml.Id=vp.JobCardId
	left join tSpareLogExtraInfo sl on sl.Id=vp.BillId
	left join mConstantValue as c on pm.NatureID=c.Id	
	left join mVehicleMaster as v on v.Id=vp.VehicleId 
	where vp.NextLogId is null
end
GO
