/****** Object:  StoredProcedure [dbo].[Proc_Report_1670]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1670]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1670]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[Proc_Report_1670] @parameter1 BIGINT=0,--billingpartyid
	@parameter2 BIGINT = 0,--chargedrouteid
	@parameter3 BIGINT = 0,--loadtypeid
	@parameter4 BIGINT = 0,--cntypeid
	@parameter5 BIGINT,--contractid
	@parameter6 DATE=NULL,--fromdate
	@parameter7 DATE = NULL,--todate
	@parameter8 nvarchar(max)=''--CNNos[Optional]
AS
BEGIN
  /*EXEC [dbo].[Proc_Report_1670] @parameter1=10048,@parameter2= 0,@parameter3= NULL,@parameter4= NULL,@parameter5= 6,@parameter6= '2016-11-25',@parameter7= '2016-11-26'*/
  SET NOCOUNT ON
  BEGIN TRAN
  SAVE TRANSACTION savepoint;
  BEGIN TRY
  SELECT Id=Item INTO #cnids FROM dbo.[SplitCommaString](@parameter8)
  DECLARE @AllowBilledCNUpdate bit =(SELECT CAST(ConfigValue as bit) FROM mClientConfiguration WHERE Id='AllowMultipleCnBilled')/*0:Don't 1:Allow*/
    SELECT
      IsOld = CAST(1 AS BIT)
     ,cn.Id
     ,cn.CNNo
     ,cn.CNDate
     ,Route = rm.Name
     ,VehicleType = vt.Name
     ,VehicleNo = ISNULL(vm.VehicleNo, hv.VehicleNo) + ' ' + (CASE
        WHEN cn.HireVehicleId > 0 THEN '[H]'
        WHEN cn.VehicleId > 0 THEN '[O]'
        ELSE ''
      END)
     ,[KM]
     ,[RateId]
     ,[Rate]
     ,[CNBasicAmount]
     ,[Discount]
     ,[CNSubTotalI]
     ,[AChargeI]
     ,[AChargeII]
     ,[AChargeIII]
     ,[AChargeIV]
     ,[AChargeV]
     ,[AChargeVI]
     ,[LChargeI]
     ,[LChargeII]
     ,[LChargeIII]
     ,[LChargeIV]
     ,[CNSubTotalII]
     ,[IServiceTax]
     ,[OServiceTax]
     ,[ODeliveryST]
     ,[PrivateMarka]
     ,[ValueofGoods]
     ,[ContractId]
     ,cn.[BatchId]
     ,[AChargeVII]
     ,[AChargeVIII]
     ,[AChargeIX]
     ,[AChargeX]
     ,[DiscPercent]
     ,[LDetentionRate]
     ,[ULDetentionRate]
     ,[LDPenaltyRate]
     ,[IGSTRate]
     ,[IGSTAmount]
     ,[CGSTRate]
     ,[CGSTAmount]
     ,[SGSTRate]
     ,[SGSTAmount]
     ,[CNTotalFreight] INTO #temprate_table
    FROM [dbo].[tCNMaster] cn 
    LEFT JOIN mRouteMaster rm ON cn.ChgRouteId = rm.Id
    LEFT JOIN mGenericMaster vt ON cn.VehicleTypeId = vt.Id
    LEFT JOIN mVehicleMaster vm ON cn.VehicleId = vm.Id
    LEFT JOIN mHireVehicle hv ON hv.Id = cn.HireVehicleId
    WHERE ((cn.BillingPartyId = @parameter1
    AND (ISNULL(@parameter2, 0) = 0 OR cn.ChgRouteId = ISNULL(@parameter2, 0))
    AND (ISNULL(@parameter3, 0) = 0 OR cn.LoadTypeId = ISNULL(@parameter3, 0))
    AND (ISNULL(@parameter4, 0) = 0 OR cn.CNTypeId = ISNULL(@parameter4, 0))
    AND (@parameter7 IS NULL OR cn.CNDate <= @parameter7)
    AND cn.CNDate >= @parameter6
	AND cn.IsZeroFreightCN=0) OR cn.Id in(Select Id FROm #cnids)) AND 1=(CASE WHEN @AllowBilledCNUpdate=0 AND cn.Id IN (SELECT CNId FROM tCNBillLog) THEN 0 ELSE 1 END) /*exclude zero freight cns*/

    --      CREATE CLUSTERED INDEX TDX_CNTemp_CNId ON #temprate_table(Id)
	/*Update Rate*/
	update cn
	set cn.ContractId=l.ContractId
	from dbo.tCNMaster as cn
	join dbo.mLedger as l on l.ID=cn.BillingPartyId
	where cn.ID in(select Id from #temprate_table)
	and cn.ContractId<>l.ContractId

	 update x
	set x.ContractId=cn.ContractId
	from dbo.tCNMaster as cn
	join #temprate_table as x on x.ID=cn.ID
	where x.ContractId<>cn.ContractId

    /*****Update Rate in CN Table******/
    SELECT
      * INTO #rate_log
    FROM (SELECT
        Row_Num = ROW_NUMBER() OVER (PARTITION BY cn.Id ORDER BY rl.StartDate DESC)
       ,CNid = cn.Id
       ,cn.CNNo
       ,cn.FreightCalVal
       ,CNRateCriteriaId = cn.RateCriteriaId
       ,BaseFactor = (CASE cn.RateCriteriaId
          WHEN 1373/*ActualQty*/ THEN (CASE
              WHEN rl.BaseFactorQty > cn.ActualQty THEN rl.BaseFactorQty
              ELSE cn.ActualQty
            END)
          WHEN 1375/*ActualWeight*/ THEN (CASE
              WHEN rl.BaseFactorQty > cn.ActualWeight THEN rl.BaseFactorQty
              ELSE cn.ActualWeight
            END)
          WHEN 1374/*ChargeQty*/ THEN (CASE
              WHEN rl.BaseFactorQty > cn.ChargedQty THEN rl.BaseFactorQty
              ELSE cn.ChargedQty
            END)
          WHEN 1376 /*ChargeWt*/ THEN (CASE
              WHEN rl.BaseFactorQty > cn.ChargedWeight THEN rl.BaseFactorQty
              ELSE cn.ChargedWeight
            END)
          WHEN 1377/*KM*/ THEN (CASE
              WHEN rl.BaseFactorQty > cn.KM THEN rl.BaseFactorQty
              ELSE cn.KM
            END)
          WHEN 1436/*InvoiceValue*/ THEN (CASE
              WHEN rl.BaseFactorQty > cn.ValueofGoods THEN rl.BaseFactorQty
              ELSE cn.ValueofGoods
            END)
          WHEN 1612/*ChargeQty*km*/ THEN (CASE
              WHEN rl.BaseFactorQty > cn.ChargedQty THEN rl.BaseFactorQty
              ELSE cn.ChargedQty
            END) * cn.KM
          ELSE 1
        END)
       ,rl.*
      FROM (SELECT
          cn.*
         ,lt.RateCriteriaId
         ,FreightCalVal = (CASE lt.RateCriteriaId
            WHEN 1373/*ActualQty*/ THEN cn.ActualQty
            WHEN 1375/*ActualWeight*/ THEN cn.ActualWeight
            WHEN 1374/*ChargeQty*/ THEN cn.ChargedQty
            WHEN 1376 /*ChargeWt*/ THEN cn.ChargedWeight
            WHEN 1377/*KM*/ THEN cn.KM
            WHEN 1436/*InvoiceValue*/ THEN cn.ValueofGoods
            WHEN 1612/*ChargeQty*km*/ THEN cn.ChargedQty * cn.KM
            ELSE 1
          END)
        FROM [dbo].[tCNMaster] cn
        LEFT JOIN [dbo].[mLoadType] lt
          ON cn.LoadTypeId = lt.Id) AS cn

      LEFT JOIN [dbo].[mMaterialMaster] mm
        ON cn.MaterialId = mm.Id
      JOIN [dbo].[mCNRateContractLog] rl
        ON (rl.RateContractId = cn.ContractId
        AND cn.CNDate BETWEEN CAST(rl.StartDate AS DATE) AND CAST(ISNULL(rl.ExpiryDate, GETDATE()) AS DATE)
        AND (rl.LoadTypeId = cn.LoadTypeId
        OR ISNULL(rl.LoadTypeId, 0) = 0)
        AND (rl.RouteId = cn.ChgRouteId
        OR ISNULL(rl.RouteId, 0) = 0)
        AND (rl.VehicleTypeId = cn.VehicleTypeId
        OR ISNULL(rl.VehicleTypeId, 0) = 0)
        AND rl.[Status] = 0
        AND (
        (
        cn.MaterialId > 0
        AND (cn.MaterialId = rl.MaterialId
        OR mm.MaterialGroupId = rl.MaterialGroupId)
        AND (
        (
        cn.FreightCalVal BETWEEN rl.MinValue AND rl.MaxValue/*Material with lower and upper range*/
        OR (rl.MinValue = 0
        AND rl.MaxValue = 0)/*Material without lower and upper range*/
        )
        )
        )

        OR (
        ISNULL(rl.MaterialgroupId, 0) = 0
        AND ISNULL(rl.MaterialId, 0) = 0
        AND (cn.FreightCalVal BETWEEN rl.MinValue AND rl.MaxValue
        OR (rl.MinValue = 0
        AND rl.MaxValue = 0))
        )
        )
        )
      WHERE ((cn.BillingPartyId = @parameter1
      AND (ISNULL(@parameter2, 0) = 0
      OR cn.ChgRouteId = ISNULL(@parameter2, 0))
      AND (ISNULL(@parameter3, 0) = 0
      OR cn.LoadTypeId = ISNULL(@parameter3, 0))      
      AND (@parameter7 IS NULL
      OR cn.CNDate <= @parameter7)
      AND cn.CNDate >= @parameter6
      AND cn.ChgRouteId > 0
	  ) OR cn.Id in(Select Id FROm #cnids))
	  AND (ISNULL(@parameter4, 0) = 0
      OR cn.CNTypeId = ISNULL(@parameter4, 0))
	  AND 1=(CASE WHEN @AllowBilledCNUpdate=0 AND cn.Id NOT IN (SELECT CNId FROM tCNBillLog) THEN 1 WHEN @AllowBilledCNUpdate=0 AND cn.Id IN (SELECT CNId FROM tCNBillLog) THEN 0 ELSE 1 END)) AS cn
    WHERE cn.Row_Num = 1

    UPDATE cn
    SET cn.Rate = rl.Rate
       ,cn.RateId = rl.Id
       ,cn.ContractId = rl.RateContractId
       ,cn.KM = (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END)
       ,CNBasicAmount = (rl.Rate * rl.BaseFactor) + rl.FixedFreight
       ,cn.DiscPercent = rl.Discount
       ,cn.Discount = [dbo].FactorBasedFreightCal(rl.DisFactorId, rl.Discount, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.[CNSubTotalI] = ((rl.Rate * rl.BaseFactor) + rl.FixedFreight) - [dbo].FactorBasedFreightCal(rl.DisFactorId, rl.Discount, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.AChargeI = [dbo].FactorBasedFreightCal(rl.A1FactorId, rl.A1Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.AChargeII = [dbo].FactorBasedFreightCal(rl.A2FactorId, rl.A2Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.[AChargeIII] = [dbo].FactorBasedFreightCal(rl.A3FactorId, rl.A3Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.[AChargeIV] = [dbo].FactorBasedFreightCal(rl.A4FactorId, rl.A4Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.AChargeV = [dbo].FactorBasedFreightCal(rl.A5FactorId, rl.A5Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.AChargeVI = [dbo].FactorBasedFreightCal(rl.A6FactorId, rl.A6Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.AChargeVII = [dbo].FactorBasedFreightCal(rl.A7FactorId, rl.A7Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.AChargeVIII = [dbo].FactorBasedFreightCal(rl.A8FactorId, rl.A8Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.AChargeIX = [dbo].FactorBasedFreightCal(rl.A9FactorId, rl.A9Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.AChargeX = [dbo].FactorBasedFreightCal(rl.A10FactorId, rl.A10Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.LChargeI = [dbo].FactorBasedFreightCal(rl.L1FactorId, rl.L1Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.LChargeII = [dbo].FactorBasedFreightCal(rl.L2FactorId, rl.L2Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.LChargeIII = [dbo].FactorBasedFreightCal(rl.L3FactorId, rl.L3Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))
       ,cn.LChargeIV = [dbo].FactorBasedFreightCal(rl.L4FactorId, rl.L4Charge, cn.ActualQty, cn.ActualWeight, cn.ChargedQty, cn.ChargedWeight, (CASE
          WHEN rl.Km <= 0 THEN cn.KM
          ELSE rl.Km
        END), cn.ValueofGoods, ((rl.Rate * rl.BaseFactor) + rl.FixedFreight))

    FROM [dbo].[tCNMaster] cn
    JOIN #rate_log rl ON cn.Id = rl.CNid

    UPDATE cn
    SET cn.CNSubTotalII = c.CNSubTotalII
       ,IGSTAmount = (CASE
          WHEN cn.IGSTRate > 0 THEN ROUND((c.CNSubTotalII * cn.IGSTRate) / 100, 2)
          ELSE 0
        END)
       ,CGSTAmount = (CASE
          WHEN cn.CGSTRate > 0 THEN ROUND((c.CNSubTotalII * cn.CGSTRate) / 100, 2)
          ELSE 0
        END)
       ,SGSTAmount = (CASE
          WHEN cn.SGSTRate > 0 THEN ROUND((c.CNSubTotalII * cn.SGSTRate) / 100, 2)
          ELSE 0
        END)
       ,CNTotalFreight = c.CNSubTotalII + (CASE
          WHEN cn.IsTaxApplicable = 1 THEN (CASE
              WHEN cn.IGSTRate > 0 THEN ROUND((c.CNSubTotalII * cn.IGSTRate) / 100, 2)
              ELSE 0
            END)
            + (CASE
              WHEN cn.CGSTRate > 0 THEN ROUND((c.CNSubTotalII * cn.CGSTRate) / 100, 2)
              ELSE 0
            END)
            + (CASE
              WHEN cn.SGSTRate > 0 THEN ROUND((c.CNSubTotalII * cn.SGSTRate) / 100, 2)
              ELSE 0
            END)
          ELSE 0
        END)
    FROM [dbo].[tCNMaster] cn
    JOIN #rate_log rl
      ON cn.Id = rl.CNid
    LEFT JOIN (SELECT
        CNSubTotalII = ROUND((cn.CNSubTotalI + cn.AChargeI + cn.AChargeII + cn.AChargeIII + cn.AChargeIV + cn.AChargeV + cn.AChargeVI + cn.AChargeVII + cn.AChargeVIII + cn.AChargeIX + cn.AChargeX) -
        (cn.LChargeI + cn.LChargeII + cn.LChargeIII + cn.LChargeIV), 2)
       ,Id
      FROM [dbo].[tCNMaster] cn) c
      ON cn.Id = c.Id

	    
    UPDATE cn
    SET 
       IGSTAmount = (CASE
          WHEN IGSTRate > 0 THEN ROUND((CNSubTotalII * IGSTRate) / 100, 2)
          ELSE 0
        END)
       ,CGSTAmount = (CASE
          WHEN CGSTRate > 0 THEN ROUND((CNSubTotalII * CGSTRate) / 100, 2)
          ELSE 0
        END)
       ,SGSTAmount = (CASE
          WHEN SGSTRate > 0 THEN ROUND((CNSubTotalII * SGSTRate) / 100, 2)
          ELSE 0
        END)
       ,CNTotalFreight = CNSubTotalII + (CASE
          WHEN IsTaxApplicable = 1 THEN (CASE
              WHEN IGSTRate > 0 THEN ROUND((CNSubTotalII * IGSTRate) / 100, 2)
              ELSE 0
            END)
            + (CASE
              WHEN CGSTRate > 0 THEN ROUND((CNSubTotalII * CGSTRate) / 100, 2)
              ELSE 0
            END)
            + (CASE
              WHEN SGSTRate > 0 THEN ROUND((CNSubTotalII * SGSTRate) / 100, 2)
              ELSE 0
            END)
          ELSE 0
        END)
    FROM [dbo].[tCNMaster] cn
	where cn.ID in(select xcn.ID from #temprate_table xcn)
	and cn.ID not in (select rl.CNID from #rate_log rl)
    /*****ENd Rate Update**************/

    /************Start Sales Log Update*******/
    UPDATE sl
    SET sl.AChargeI = cn.AChargeI
       ,sl.AChargeII = cn.AChargeII
       ,sl.AChargeIII = cn.AChargeIII
       ,sl.AChargeIV = cn.AChargeIV
       ,sl.AChargeIX = cn.AChargeIX
       ,sl.AChargeV = cn.AChargeV
       ,sl.AChargeVI = cn.AChargeVI
       ,sl.AChargeVII = cn.AChargeVII
       ,sl.AChargeVIII = cn.AChargeVIII
       ,sl.AChargeX = cn.AChargeX
       ,sl.ActualQty = cn.ActualQty
       ,sl.ActualWeight = cn.ActualWeight
       ,sl.BasicFreight = cn.CNBasicAmount
       ,sl.CGSTAmount = cn.CGSTAmount
       ,sl.CGSTRate = cn.CGSTRate
       ,sl.ChargeQty = cn.ChargedQty
       ,sl.ChargeWeight = cn.ChargedWeight
       ,sl.DiscPercent = cn.DiscPercent
       ,sl.Discount = cn.Discount
       ,sl.DocNo = cn.CNNo
       ,sl.IGSTAmount = cn.IGSTAmount
       ,sl.IGSTRate = cn.IGSTRate
       ,sl.IsTaxApplicable = cn.IsTaxApplicable
       ,sl.LChargeI = cn.LChargeI
       ,sl.LChargeII = cn.LChargeII
       ,sl.LChargeIII = cn.LChargeIII
       ,sl.LChargeIV = cn.LChargeIV
       ,sl.LDPenaltyDays = cn.LDPenaltyDays
       ,sl.LDPenaltyRate = cn.LDPenaltyRate
       ,sl.LDetentionDays = cn.LDetentionDays
       ,sl.LDetentionRate = cn.LDetentionRate
       ,sl.Rate = cn.Rate
       ,sl.NetFreight = cn.CNTotalFreight
       ,sl.RateChartId = cn.ContractId
       ,sl.RateId = cn.RateId
       ,sl.SGSTAmount = cn.SGSTAmount
       ,sl.GrossFreight = cn.CNSubTotalII
       ,sl.SGSTRate = cn.SGSTRate
       ,sl.SubTotal = cn.CNSubTotalI
       ,sl.ULDetentionDays = cn.ULDetentionDays
       ,sl.ULDetentionRate = cn.ULDetentionRate
    FROM [dbo].[tSalesLog] sl
    JOIN [dbo].[tCNMaster] cn
      ON sl.CNId = cn.Id
    WHERE EXISTS (SELECT
        1
      FROM #temprate_table tt
      WHERE tt.Id = cn.Id)
    /************End Sales Log Update*********/
    /*******Start Sales Voucher Update********/
    /*******Extract Voucher Information*********/
    SELECT
      RowId = ROW_NUMBER() OVER (PARTITION BY sl.SalesVoucherId ORDER BY vdr.Id)
     ,VoucherId = sl.SalesVoucherId
     ,Freight = sl.GrossFreight
     ,VDId = vv.Id
     ,VDRId = vdr.Id INTO #temp_slv
    FROM [dbo].[tSalesLog] sl
    JOIN [dbo].[tVoucherVD] vv
      ON sl.SalesVoucherId = vv.VoucherId
    LEFT JOIN [dbo].[tVoucherVDR] vdr
      ON vv.Id = vdr.VDId
    WHERE EXISTS (SELECT
        1
      FROM #temprate_table tt
      WHERE tt.Id = sl.CNId)
    /***Update Sales Voucher*****/
    UPDATE v
    SET v.VchAmount = ts.Freight
       ,v.Amount1 = (CASE
          WHEN v.Amount1 > 0 THEN 1
          ELSE -1
        END) * ts.Freight
       ,v.Amount2 = (CASE
          WHEN v.Amount2 > 0 THEN 1
          ELSE -1
        END) * ts.Freight
    FROM [dbo].[tVouchers] v
    JOIN #temp_slv ts
      ON v.Id = ts.VoucherId
      AND ts.RowId = 1
    /***Update Sales Voucher Details*****/
    UPDATE vv
    SET vv.VDAmount = (CASE
      WHEN vv.VDAmount > 0 THEN 1
      ELSE -1
    END) * ts.Freight
    FROM [dbo].[tVoucherVD] vv
    JOIN #temp_slv ts
      ON vv.Id = ts.VDId
    /***Update Sales Voucher Detail Reference*****/
    UPDATE vv
    SET vv.VDRAmount = (CASE
      WHEN vv.VDRAmount > 0 THEN 1
      ELSE -1
    END) * ts.Freight
    FROM [dbo].[tVoucherVDR] vv
    JOIN #temp_slv ts
      ON vv.Id = ts.VDRId

    /*******End Sales Voucher Update**********/
    SELECT
      *
    FROM (SELECT
        *
      FROM #temprate_table tt
      UNION ALL

      SELECT
        IsOld = CAST(0 AS BIT)
       ,cn.Id
       ,cn.CNNo
       ,cn.CNDate
       ,Route = rm.Name
       ,VehicleType = vt.Name
       ,VehicleNo = ISNULL(vm.VehicleNo, hv.VehicleNo) + ' ' + (CASE
          WHEN cn.HireVehicleId > 0 THEN '[H]'
          WHEN cn.VehicleId > 0 THEN '[O]'
          ELSE ''
        END)
       ,[KM]
       ,[RateId]
       ,[Rate]
       ,[CNBasicAmount]
       ,[Discount]
       ,[CNSubTotalI]
       ,[AChargeI]
       ,[AChargeII]
       ,[AChargeIII]
       ,[AChargeIV]
       ,[AChargeV]
       ,[AChargeVI]
       ,[LChargeI]
       ,[LChargeII]
       ,[LChargeIII]
       ,[LChargeIV]
       ,[CNSubTotalII]
       ,[IServiceTax]
       ,[OServiceTax]
       ,[ODeliveryST]
       ,[PrivateMarka]
       ,[ValueofGoods]
       ,[ContractId]
       ,cn.[BatchId]
       ,[AChargeVII]
       ,[AChargeVIII]
       ,[AChargeIX]
       ,[AChargeX]
       ,[DiscPercent]
       ,[LDetentionRate]
       ,[ULDetentionRate]
       ,[LDPenaltyRate]
       ,[IGSTRate]
       ,[IGSTAmount]
       ,[CGSTRate]
       ,[CGSTAmount]
       ,[SGSTRate]
       ,[SGSTAmount]
       ,[CNTotalFreight]

      FROM [dbo].[tCNMaster] cn
      LEFT JOIN mRouteMaster rm
        ON cn.ChgRouteId = rm.Id
      LEFT JOIN mGenericMaster vt
        ON cn.VehicleTypeId = vt.Id
      LEFT JOIN mVehicleMaster vm
        ON cn.VehicleId = vm.Id
      LEFT JOIN mHireVehicle hv
        ON hv.Id = cn.HireVehicleId
      WHERE cn.BillingPartyId = @parameter1
      AND (ISNULL(@parameter2, 0) = 0
      OR cn.ChgRouteId = ISNULL(@parameter2, 0))
      AND (ISNULL(@parameter3, 0) = 0
      OR cn.LoadTypeId = ISNULL(@parameter3, 0))
      AND (ISNULL(@parameter4, 0) = 0
      OR cn.CNTypeId = ISNULL(@parameter4, 0))
      AND (@parameter7 IS NULL
      OR cn.CNDate <= @parameter7)
      AND cn.CNDate >= @parameter6) AS result
    ORDER BY result.CNDate, result.CNNo, result.IsOld
    DROP TABLE #temp_slv
    DROP TABLE #rate_log
    DROP TABLE #temprate_table
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0
    BEGIN
      ROLLBACK TRANSACTION savepoint; -- rollback to savepoint
    END
  END CATCH
  COMMIT TRAN

END
GO
