/****** Object:  StoredProcedure [dbo].[Proc_Report_1461]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1461]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1461]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC Proc_Report_1460 10015,'','','2015-01-01','2016-12-12','2'

--SELECT * FROM mObjectCategory

CREATE PROC [dbo].[Proc_Report_1461]
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	t.TripSheetNo,
	t.StartDate,
	t.EndDate,
	m.VehicleNo,
	dvr.DriverName,
	dvr.DriverCode
	FROM dbo.tTripSettlement AS t
	INNER JOIN dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.Driver1Id ELSE t.OfficeId END)
	LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1Id
	WHERE t.SettleDate IS NULL
	ORDER BY CCO.ObjectName 
END
GO
