/****** Object:  StoredProcedure [dbo].[Proc_Report_1613]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1613]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1613]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1613]
	-- hire/own: 1613
	@parameter1 bigint,--categoryid
	@parameter2 nvarchar(max),--classids
	@parameter3 nvarchar(max),--accountids
	@parameter4 datetime,--fromdate
	@parameter5 datetime,--todate
	@parameter6 int,--hireown
	@parameter7 int,--all:pending
	@parameter8 bigint,--hvp
	@parameter9 bigint,--route
	@parameter10 decimal=0,--route
	@parameter11 nvarchar(60)
as
begin
  if(isnull(@parameter10,0)=0)
  begin
	set @parameter10=isnull((select ConfigValue from dbo.mClientConfiguration where Id='ExpectedKmPerDayForTrips'),0)
  end

  IF (DATEDIFF(MONTH, @parameter4, @parameter5) > 6)--Only 2 Month report is allowed
  BEGIN
    RAISERROR ('You can see only 6 months data at a time', 16, 1);
  END

  SET @parameter5 = DATEADD(DAY, 1, @parameter5)

  SELECT

    o.OfficeName
   ,t.TriplogNo
   ,t.TripStartDate
   ,VehicleNo = CASE WHEN t.VehicleId > 0 THEN m.VehicleRegNo ELSE hv.VehicleNo END
   ,TripNature = tt.ConstantName
   ,VehType = CASE WHEN t.VehicleId > 0 THEN 'O' ELSE 'H' END
   ,VehicleSize = CASE WHEN t.VehicleId > 0 THEN ovt.Name ELSE hvt.Name END
   ,dvr.DriverName
   ,CustomerName = bp.FleetAcName
   ,Origin = fp.CityName
   ,Destination = tp.CityName
   ,RouteName = tr.Abbr
   ,DestnState=tpst.[Name]
   ,tr.TransitKm
   ,HireOwnParty =
    CASE
      WHEN t.TriptypeId = 1160 THEN hvp.FleetAcName
      ELSE oho.FleetAcName
    END
   ,t.LoadingReachDate
   ,t.LoadingDate
   ,[ExpectedTransitDays]=CASE WHEN tr.TransitKm>0 AND @parameter10>0 then round(tr.TransitKm/@parameter10,0) else 0 end
   ,[ExpectedReachDate]=DateAdd(day,round(tr.TransitKm/@parameter10,0)+1,cast(t.LoadingDate as date))
   ,[DelayDays]=DateDiff(Day,DateAdd(day,round(tr.TransitKm/@parameter10,0)+1,cast(t.LoadingDate as date)),cast(t.UnloadingReachDate as date))
   ,[OnTimeDelay]=case when 
		DateDiff(Day,DateAdd(day,round(tr.TransitKm/@parameter10,0)+1,cast(t.LoadingDate as date)),cast(t.UnloadingReachDate as date))<=0 then 'OnTime' else 'Delay' end
   ,[LoadingDays]=case when t.TripNatureId=1076 then 0 else datediff(day,cast(t.LoadingReachDate as date),cast(isnull(t.LoadingDate,GETDATE()) as date)) end
   ,PaperReceivedDate = (SELECT
        MIN(x.StartDate)
      FROM dbo.tVTSStatuslog AS x
      WHERE DTSStatusID = 46
      AND x.TriplogId = t.Id)
   ,t.UnloadingReachDate
   ,[TransitDays]=
			case when t.TripNatureId=1076 then 
				case when (datediff(day,cast(t.TripStartDate as date),cast(isnull(t.UnloadingDate,GETDATE()) as date))-1)<0 then 0
				else
				datediff(day,cast(t.TripStartDate as date),cast(isnull(t.UnloadingDate,GETDATE()) as date))-1 
				end
			else
				case when (datediff(day,cast(t.LoadingDate as date),cast(isnull(t.UnloadingReachDate,GETDATE()) as date))-1)<0 then 0
				else
				datediff(day,cast(t.LoadingDate as date),cast(isnull(t.UnloadingReachDate,GETDATE()) as date))-1 
				end 
			end
   ,t.UnloadingDate
   ,CloseStatus=(select Max(dts.[Name]) as s from dbo.tVTSStatuslog as xvts join dbo.mDTSStatus as dts on dts.Id=xvts.DTSStatusId where  xvts.TriplogId=t.Id and dts.DateID In(1527,1529))
   ,[UnloadingDays]=case when t.TripNatureId=1076 then 0 else datediff(day,cast(t.UnloadingReachDate as date),cast(isnull(t.UnLoadingDate,getdate()) as date)) end
   ,[TripDays]=case when t.TripNatureId=1076 then datediff(day,cast(t.TripStartDate as date),cast(isnull(t.UnLoadingDate,getdate()) as date))+1 else datediff(day,cast(t.LoadingReachDate  as date),cast(isnull(t.UnLoadingDate,getdate()) as date))+1 end
   ,pod.PodReceived
   ,pod.PodOk
   ,pod.PodNotOk
   ,NoOfCNs = cn.NoofCn
   ,CNList = ISNULL((STUFF((SELECT
        ',' + CAST(ISNULL(cn.CNNo, '') AS VARCHAR(50))
      FROM dbo.tCNChallan AS c
      INNER JOIN tCNMaster AS cn
        ON c.CNId = cn.Id
      WHERE c.TriplogId = t.Id
      FOR XML PATH (''), TYPE, ROOT)
    .value('root[1]', 'nvarchar(max)'), 1, 1, '')), '')
   ,TripMonth = UPPER(LEFT(DATENAME(MM, t.TripStartDate), 3)) + '-' + DATENAME(YEAR, t.TripStartDate)
   ,Consignee = ISNULL((STUFF((SELECT DISTINCT
        '/' + CAST(ISNULL(cne.FleetAcName, '') AS VARCHAR(50))
      FROM dbo.tCNStockLog AS c
      INNER JOIN tCNMaster AS cn
        ON c.CNId = cn.Id
      JOIN dbo.mLedger AS cne
        ON cne.Id = cn.ConsigneeId
      WHERE c.logtypeid IN(1423,1451,1425)
      AND c.TriplogId = t.Id
      FOR XML PATH (''), TYPE, ROOT)
    .value('root[1]', 'nvarchar(max)'), 1, 1, '')), '')
   ,Consignor = ISNULL((STUFF((SELECT DISTINCT
        '/' + CAST(ISNULL(cnr.FleetAcName, '') AS VARCHAR(50))
      FROM dbo.tCNStockLog AS c
      INNER JOIN tCNMaster AS cn
        ON c.CNId = cn.Id
      JOIN dbo.mLedger AS cnr
        ON cnr.Id = cn.ConsignorId
      WHERE c.logtypeid IN(1423,1451,1425)
      AND c.TriplogId = t.Id
      FOR XML PATH (''), TYPE, ROOT)
    .value('root[1]', 'nvarchar(max)'), 1, 1, '')), '')
   ,TripType = ISNULL((STUFF((SELECT DISTINCT
        '/' + CAST(ISNULL(lt.Name, '') AS VARCHAR(50))
      FROM dbo.tCNStockLog AS c
      INNER JOIN tCNMaster AS cn
        ON c.CNId = cn.Id
      JOIN dbo.mLoadType AS lt
        ON lt.Id = cn.LoadTypeId
      WHERE c.logtypeid IN(1423,1451,1425)
      AND c.TriplogId = t.Id
      FOR XML PATH (''), TYPE, ROOT)
    .value('root[1]', 'nvarchar(max)'), 1, 1, '')), '')
   ,TotalWeight = cn.TotalWeight
   ,BookingFreight = cn.TotalBooking
   ,HireAmount = CASE WHEN t.TriptypeId = 1160 THEN t.HSChg ELSE 0 END
   ,[Advance] =  CASE WHEN t.TriptypeId = 1160 THEN ISNULL(hsa.PaidInCash, 0)+ISNULL(adv.[HSAdvance],0)
      ELSE ISNULL(adv.TotalAdv, 0) END
   ,FuelQty = CASE WHEN t.TriptypeId = 1160 THEN hsa.FuelQty ELSE adv.TotalFuelQty END
   ,[FuelAmount] = CASE WHEN t.TriptypeId = 1160 THEN hsa.PaidInFuelAmount ELSE adv.TotalFuelAmt END
   ,[PumpDetails] = CASE WHEN t.TriptypeId = 1160 THEN hsa.PumpDetails ELSE adv.PumpDetails END
   ,[BPCLCard] = CASE WHEN t.TriptypeId = 1160 THEN hsa.BPCLCard ELSE adv.BPCLCard END
   ,[BalPaidByCheque] = hsa.BalPaidInBank
   ,[ChequeDetails] = hsa.ChequeDetails
   ,[BalPaidByOther] = hsa.BalPaidByOther
   ,[NetBalance] = ISNULL(t.HSChg, 0) - ISNULL(hsa.PaidInCash, 0)-ISNULL(adv.HSAdvance,0) - ISNULL(hsa.PaidInFuelAmount, 0) - ISNULL(hsa.BalPaidInBank, 0) - ISNULL(hsa.BalPaidByOther, 0) - ISNULL(hsa.BPCLCard, 0)
   ,CU = csu.UserName
   ,DOE = t.CDOE
   ,MU = msu.UserName
   ,DOM = t.MDOE
   ,TravelledKmDayLog=
		ISNULL((STUFF((SELECT ',' + (cast(day(c.logDate) as nvarchar(5)) +'-'+ cast(cast(c.GPSKm as bigint) as nvarchar(20))+'   ') FROM dbo.tGPSKmLog AS c where c.VehicleID=t.VehicleId and c.LogDate between cast(t.TripStartDate as Date) and cast(isnull(case when t.TripNatureId=1075 then t.UnloadingReachDate else t.UnloadingDate end,getdate()) as Date) order by c.LogDate	
		FOR XML PATH (''), TYPE, ROOT).value('root[1]', 'nvarchar(max)'), 1, 1, '')), '')
  FROM dbo.tVehicleMovementLog AS t
  LEFT JOIN dbo.mConstantValue AS tt ON tt.ID = t.TripNatureId
  left join
  (
	select TriplogId,PodReceived=Count(pod.Id),PodOk= sum(case when pod.IsPodOk=1 then 1 else 0 end),PodNotOk= sum(case when pod.IsPodOk=1 then 0 else 1 end) from dbo.mCNExtraInfo as pod group by triplogId
  )as pod on pod.TriplogId=t.Id
  JOIN dbo.CCO(@parameter1, @parameter2, @parameter3)
    ON CCO.ObjectId = t.OfficeId
  LEFT JOIN dbo.mVehicleMaster AS m
    ON m.Id = t.VehicleId
  LEFT JOIN dbo.mLedger AS oho
    ON oho.Id = m.OwnerPartyId
  LEFT JOIN dbo.mHireVehicle AS hv
    ON hv.Id = t.HireVehicleId
  LEFT JOIN dbo.mDriverMaster AS dvr
    ON dvr.Id = t.Driver1stId
  LEFT JOIN dbo.mOfficeMaster AS o
    ON o.Id = t.OfficeId
  LEFT JOIN dbo.mConstantValue AS tn
    ON tn.Id = t.TripNatureId
  LEFT JOIN dbo.mLedger AS hvp
    ON hvp.Id = t.HVPId
  LEFT JOIN dbo.mLedger AS bp
    ON bp.Id = t.PartyId
  LEFT JOIN dbo.mRouteMaster AS tr
    ON tr.Id = t.RouteId
  LEFT JOIN dbo.mCityMaster AS tp
    ON tp.Id = tr.ToPlaceId
  left join dbo.mGenericMaster as tpst on tpst.Id=tp.StateId
  LEFT JOIN dbo.mCityMaster AS fp
    ON fp.Id = tr.FromPlaceId
  LEFT JOIN dbo.mGenericMaster AS ovt
    ON ovt.Id = m.VehicleTypeId
  LEFT JOIN dbo.mGenericMaster AS hvt
    ON hvt.Id = hv.VehicleTypeId
  LEFT JOIN (SELECT
      t.TripLogId
     ,TotalAdv = SUM(CASE
        WHEN t.AdvanceTypeId = 1 THEN ISNULL(t.CashAmount, 0)
        ELSE 0
      END)
     ,[TotalFuelQty] = SUM(CASE
        WHEN t.AdvanceTypeId = 2 THEN ISNULL(t.FuelQty, 0)
        ELSE 0
      END)
     ,[TotalFuelAmt] = SUM((CASE
        WHEN t.PaidInId = 1518 AND
          t.AdvanceTypeId = 2 THEN ISNULL(t.FuelAmount, 0)
        ELSE 0
      END))
     ,PumpDetails = MAX((CASE
        WHEN t.PaidInId = 1518 AND
          t.AdvanceTypeId = 2 THEN p.FleetAcName
      END))
     ,[BPCLCard] = SUM((CASE
        WHEN t.PaidInId = 1442 AND
          t.AdvanceTypeId = 2 THEN ISNULL(t.FuelAmount, 0)
        ELSE 0

      END))
    ,[HSAdvance] = SUM((CASE
        WHEN t.AdvanceTypeId IN(76,78) THEN (CASE WHEN (ISNULL(t.FuelAmount, 0)+ISNULL(t.CashAmount, 0))>0 THEN (ISNULL(t.FuelAmount, 0)+ISNULL(t.CashAmount, 0)) ELSE ISNULL(t.RequestAmount,0) END)
        ELSE 0
      END))
    FROM dbo.tTripAdvanceLog AS t
    JOIN dbo.mLedger AS p
      ON t.CreditAccountId = p.Id
    WHERE t.TripLogId > 0
    GROUP BY t.TripLogId) AS adv
    ON adv.TripLogId = t.Id
  LEFT JOIN (SELECT
      HireSlipId
     ,FuelQty = SUM((CASE
        WHEN hsa.PaymentModeId IN (1518, 1442) THEN ISNULL(hsa.FuelQty, 0)
        ELSE 0
      END)) -- and hsa.AdvTypeId=1473
     ,PaidInCash = SUM((CASE
        WHEN hsa.PaymentModeId IN (1430) THEN hsa.Amount
        ELSE 0
      END))--and hsa.AdvTypeId=1473  
     ,PaidInFuelAmount = SUM((CASE
        WHEN hsa.PaymentModeId = 1518 THEN hsa.Amount
        ELSE 0
      END))-- and hsa.AdvTypeId=1473 
     ,PumpDetails = ISNULL(MAX((CASE
        WHEN hsa.PaymentModeId = 1518 THEN p.FleetAcName
      END)), '')-- and hsa.AdvTypeId=1473  
     ,BPCLCard = SUM((CASE
        WHEN hsa.PaymentModeId = 1442 THEN hsa.Amount
        ELSE 0
      END))--and hsa.AdvTypeId=1473  

     ,BalPaidInBank = SUM((CASE
        WHEN hsa.PaymentModeId IN (1427, 1428, 1429, 1481, 1517) THEN hsa.Amount
        ELSE 0
      END))--and hsa.AdvTypeId=1512  
     ,ChequeDetails = ISNULL(STUFF((SELECT
          ', ' + (CASE
            WHEN b.PaymentModeId = 1429 THEN ISNULL(b.ChequeNo, '') + '@' + CONVERT(VARCHAR(10), ChequeDate, 103)
            ELSE ''
          END)
        FROM dbo.tHSAdvance AS b
        WHERE b.HireSlipId = hsa.HireSlipId
        FOR XML PATH (''))
      , 1, 2, ''), '')
     ,BalPaidByOther = SUM((CASE
        WHEN hsa.PaymentModeId IN (1431, 1516, 1482, 1441) THEN hsa.Amount
        ELSE 0
      END))--and hsa.AdvTypeId=1512  
    FROM dbo.tHSAdvance AS hsa
    JOIN dbo.mLedger AS p
      ON hsa.CrAccountId = p.Id
    GROUP BY hsa.HireSlipId) hsa
    ON hsa.HireSlipId = t.Id
  LEFT JOIN (SELECT
      c.TripLogId
     ,NoofCn = COUNT(c.Id)
     ,TotalWeight = SUM(ISNULL(cn.ChargedWeight, 0))
     ,TotalBooking = SUM(ISNULL(cn.CNTotalFreight, 0))
    FROM dbo.tCNStockLog AS c
    INNER JOIN tCNMaster AS cn
      ON c.CNId = cn.Id
    WHERE c.logtypeid IN(1423,1451,1425)
    GROUP BY c.TripLogId) AS cn
    ON cn.TripLogId = t.Id
  LEFT JOIN ApiSessions AS cs
    ON cs.Id = t.CSID
  LEFT JOIN dbo.ApiUsers AS csu
    ON csu.Id = cs.UserId
  LEFT JOIN ApiSessions AS ms
    ON ms.Id = t.MSID
  LEFT JOIN dbo.ApiUsers AS msu
    ON msu.Id = ms.UserId
  WHERE t.TriptypeId IN (1158, 1160)
  AND t.TripStartDate >= @parameter4
  AND t.TripStartDate < @parameter5
and (CASE	  
WHEN cast(t.TripStartDate as date) BETWEEN cast(@parameter4 as date) AND cast( @parameter5 as date) AND @parameter11 = 'Trip Start Date' THEN 1
WHEN cast(t.CDOE as date) BETWEEN cast(@parameter4 as date) AND cast( @parameter5 as date) AND @parameter11 = 'Created Date' THEN 1
WHEN cast(t.LoadingReachDate as date) BETWEEN cast(@parameter4 as date) AND cast( @parameter5 as date) AND @parameter11 = 'Loading Reach Date' THEN 1
WHEN cast(t.LoadingDate as date) BETWEEN cast(@parameter4 as date) AND cast( @parameter5 as date) AND @parameter11 = 'Loading Date' THEN 1
WHEN cast(t.UnloadingReachDate as date) BETWEEN cast(@parameter4 as date) AND cast( @parameter5 as date) AND @parameter11 = 'Unloading Reach Date' THEN 1
WHEN cast(t.UnLoadingDate as date) BETWEEN cast(@parameter4 as date) AND cast( @parameter5 as date) AND @parameter11 = 'UnLoading Date' THEN 1
WHEN cast(t.TripStartDate as date) BETWEEN cast(@parameter4 as date) AND cast( @parameter5 as date) AND @parameter8='' then 1
ELSE 0
END) = 1

  AND (CASE
    WHEN @parameter6 = 0 THEN 1
    WHEN @parameter6 = t.TripTypeId THEN 1
    ELSE 0
  END) = 1
  AND (CASE
    WHEN @parameter7 = 0 THEN 1
    WHEN @parameter7 = 1 AND
      t.UnLoadingDate IS NULL THEN 1
    WHEN @parameter7 = 2 AND
      t.UnLoadingDate IS NOT NULL THEN 1
    ELSE 0
  END) = 1
  AND (CASE
    WHEN @parameter8 = 0 THEN 1
    WHEN @parameter8 = t.HVPId THEN 1
    ELSE 0
  END) = 1
  AND (CASE
    WHEN @parameter9 = 0 THEN 1
    WHEN @parameter9 = t.RouteId THEN 1
    ELSE 0
  END) = 1
  ORDER BY t.TripStartDate
END
GO
