/****** Object:  StoredProcedure [dbo].[Proc_TRANS_fyopcreate]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_fyopcreate]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_fyopcreate]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_fyopcreate]
	@parameter1 bigint,--fyid
	@parameter2 bigint--SessionId
AS
BEGIN
	declare @StartDate date,@VchId bigint,@PreviousFyId int
	if(exists(select Id from dbo.tVouchers as f where f.FYID=@parameter1 and VoucherTypeId=19))
	begin
			raiserror('Failed Db: Selected Financial Year opening balance already exist.',0,11)
		return;
	end
	if (exists(select * from dbo.mFY as f where f.Id=@parameter1 and (f.IsLocked=1 or f.IsActive=0)))
	begin
		raiserror('Failed Db: Selected Financial Year is Closed/Locked.',0,11)
		return;
	end
	else
	begin

		set @StartDate=(select top 1 CAST(f.OpeningDate as date) from dbo.mFY as f where f.Id=@parameter1 and f.IsActive=1 and f.IsLocked=0)
		set @PreviousFyId=(select top 1 f.Id from dbo.mFY as f where f.OpeningDate<@StartDate and f.IsActive=1 and f.IsLocked=0 order by f.OpeningDate desc)		

		delete from dbo.tVouchers where VoucherNo='OP-' + format(@StartDate,'yyyyMMdd')
		
		insert into dbo.tVouchers(FYID,OfficeId,VDCount,ViewId,IsAccountsVisiblity,IsAudited,IsAccepted,VoucherNo,VoucherDate,VoucherDateTime,VoucherTypeId,VchAmount,Amount1,Amount2,Amount3,Amount4,Amount5,Amount6,Amount7,Amount8,Amount9,Amount10,CSID,CDOE)
		select 	
		FYID=@parameter1
		,OfficeId=(select min(o.Id) from [dbo].mOfficeMaster o where o.StatusId=0)
		,VDCount=0
		,ViewId=0
		,IsAccountsVisiblity=1
		,IsAudited=0
		,IsAccepted=1
		,VoucherNo='OP-'+ format(@StartDate,'yyyyMMdd') 
		,VoucherDate = format(@StartDate,'yyyyMMdd')
		,VoucherDateTime=format(@StartDate,'yyyyMMdd')
		,VoucherTypeId=69--FyClosing
		,VchAmount=0
		,Amount1=0
		,Amount2=0
		,Amount3=0
		,Amount4=0
		,Amount5=0
		,Amount6=0
		,Amount7=0
		,Amount8=0
		,Amount9=0
		,Amount10=0
		,CSID=@parameter2
		,CDOE=getdate()
		set	@VchId=SCOPE_IDENTITY()	

		if(@VchId>0)
		begin
		insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,OrderId,VDAmount,CSID,CDOE)

			select 
			VoucherId=@VchId
			,OfficeId=max(l.OfficeID)
			,AccountId=vd.AccountId
			,OrderId=1
			,VDAmount=sum(isnull(vd.VDAmount,0))
			,CSID=@parameter2
			,CDOE=getdate()
				from dbo.tVoucherVD as vd
				join dbo.tVouchers as v on v.Id=vd.VoucherId
				join dbo.mLedger as l on l.Id=vd.AccountId
				where v.VoucherDate<@StartDate and v.IsAccepted=1 and v.IsAccountsVisiblity=1 and v.FYID=@PreviousFyId and 
				(select GroupId from dbo.[Func_GetAllParentGroupsOfGroup](l.GroupId) where GroupId in (1,2)) in(1,2)
				group by vd.AccountId
		end


		INSERT INTO tVoucherVDR
		(
		  VDId,
		  ReferenceNo,
		  VDRTypeID,
		  VDRAmount,
		  CSID,
		  CDOE
		)
		select  VDId = Vd.Id, ReferenceNo = v.VoucherNo, VDRTypeId=1013, VDRAmount = vd.VDAmount, VD.CSID, Vd.CDOE
		from dbo.tVoucherVD as vd
		join dbo.tVouchers v on vd.VoucherId=v.Id
			join dbo.mLedger as l on l.Id=vd.AccountId
			where vd.VoucherId=@VchId AND l.ReferenceFlag=1

		select VoucherDate=@StartDate,l.AccountName,AccountCode=l.AccountAbbr,OpeningBalance=Abs(vd.VDAmount),CrDr=(CASE WHEN vd.VDAmount>=0 THEN 'Dr' ELSE 'Cr' END)
		from dbo.tVoucherVD as vd
		--join dbo.tVouchers v on vd.VoucherId=v.Id
			join dbo.mLedger as l on l.Id=vd.AccountId
			where vd.VoucherId=@VchId
	end
END
GO
