/****** Object:  StoredProcedure [dbo].[Proc_Format_1009_3]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1009_3]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1009_3]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Format_1009_3] 
	@parameter1 bigint
as
begin
	select 
	TripNature=case when t.TripNatureId=1075 then 'L' Else 'E' end,
	TriplogNo=t.TripLogNo,
	LoadingDate=case when t.TripNatureId=1075 then t.LoadingDate Else t.TripStartDate end,
	LoadingRDate=case when t.TripNatureId=1075 then t.LoadingReachDate Else t.TripStartDate end,
	CNNo='',
	UnloadingRDate=t.UnloadingReachDate,
	UnloadingDate=t.UnloadingDate,
	PodUnloadingDate=(Select Max(x.UnloadDate) from dbo.mCNExtraInfo as x where x.TripLogId=t.Id),
	Party=a.FleetAcName,
	RouteName=rm.[Name], 
	Quantity=1,
	FuelQty=case when isnull(t.VehicleAvg,0)=0 then 0 else cast((isnull(t.TotalKmRun,0)/isnull(t.VehicleAvg,0)) as decimal(18,2)) end,
	Freight=t.CNFreight,       
	TotalKmRun=t.TotalKmRun,
	TransitDays=DATEDIFF(day,isnull(t.LoadingDate,t.TripStartDate),isnull(t.UnloadingReachDate,t.UnLoadingDate)),
	TransitHours=DATEDIFF(HOUR,isnull(t.LoadingDate,t.TripStartDate),isnull(t.UnloadingReachDate,t.UnLoadingDate)),
	BDGTDays=round(rm.TransitHours/24,0),
	BDGTHours=rm.TransitHours
	from dbo.tVehicleMovementLog as t
	left join dbo.mRouteMaster as rm on rm.Id=t.RouteId
	left join dbo.mLedger as a on a.Id=t.PartyId
	left join
	(
	   select TriplogId,FuelQty=sum(isnull(FuelQty,0)) from dbo.tTripAdvanceLog where AdvanceTypeId=2
	   group by TriplogId
	)as tal on tal.TriplogId=t.Id
	where t.SettlementId=@parameter1
	order by case when t.TripNatureId=1075 then t.LoadingReachDate Else t.TripStartDate end
END

GO
