/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1567_Delete]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1567_Delete]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1567_Delete]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1567_Delete]
@parameter1 nvarchar(max),/*LogIds Comma Separated*/
@parameter2 nvarchar(max)/*RepVoucherId*/
AS
BEGIN TRAN
DECLARE @Query nvarchar(max)=N'DECLARE @AccountStatus nvarchar(1)
	SET @AccountStatus=(SELECT TOP 1 Value FROM [dbo].[ApiConfigurations] WHERE Id=''VoucherVisiblityFlag'')
	IF(EXISTS(SELECT 1 FROM [dbo].[tVouchers] WHERE Id in('+@parameter2+') AND IsAudited=1) OR (@AccountStatus=2 AND EXISTS(SELECT 1 FROM [dbo].[tVouchers] WHERE Id in('+@parameter2+') AND IsAccepted=1)))
	BEGIN
		RAISERROR(''One of Transaction has been locked, as either it''''s Voucher has been Imported in accounts or has been audited'',11,0)
		RETURN
	END
	UPDATE [dbo].[tLoanLog] SET RepVoucherId=NULL,RepayVoucherNo=NULL,RepDate=NULL,RepAmount=0,TDSRate=0,TDSAmount=0 WHERE Id in('+@parameter1+')
	DELETE [dbo].[tVouchers] WHERE Id in('+@parameter2+')'
	EXEC sp_sqlexec @Query
COMMIT TRAN
GO
