/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1553_ShowVouchers]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1553_ShowVouchers]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1553_ShowVouchers]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRNS_1553_ShowVouchers] 
@parameter1 Date=NULL,--FromDate
@parameter2 Date=NULL,--Todate
@parameter3 bigint=0,--AccountId
@parameter4 bigint=0,--Voucher TypeId
@parameter5 nvarchar(100)='',--Free Text Search
@parameter6 bigint=0,--Office Id
@parameter7 bigint=0
AS
SELECT distinct V.Id into #tmp
FROM [dbo].[tVouchers] V INNER JOIN [dbo].[tVoucherVD] VD ON VD.VoucherId=V.Id
WHERE V.IsAccepted=@parameter7 
AND 1=(CASE WHEN @parameter1 IS NULL THEN 1 WHEN  CAST(v.VoucherDate as date)>=@parameter1 THEN 1 ELSE 0 END)
AND 1=(CASE WHEN @parameter2 IS NULL THEN 1 WHEN  CAST(v.VoucherDate as date)<=@parameter2 THEN 1 ELSE 0 END)
AND 1=(CASE WHEN ISNULL(@parameter4,0)=0 THEN 1 WHEN  v.VoucherTypeId=@parameter4 THEN 1 ELSE 0 END)
AND 1=(CASE WHEN ISNULL(@parameter3,0)=0 THEN 1 WHEN VD.AccountId=@parameter3 THEN 1 ELSE 0 END)
AND 1=(CASE WHEN ISNULL(@parameter6,0)=0 THEN 1 WHEN V.OfficeId=@parameter6 THEN 1 ELSE 0 END)
AND 1=(CASE WHEN LEN(ISNULL(@parameter5,''))=0 THEN 1 WHEN (V.VoucherNo like'%'+@parameter5+'%' OR ISNULL(v.UserRemarks,'') like '%'+@parameter5+'%' OR ISNULL(v.AccNarration,'') like '%'+@parameter5+'%') THEN 1 ELSE 0 END)
DECLARE @template nvarchar(max)=ISNULL((SELECT TOP 1 SQLRule FROM [dbo].[mVoucherType] WHERE Id=@parameter4),'')

IF(@template!='')
BEGIN
print @template
EXEC sp_sqlexec @template
return
END
ELSE
BEGIN
Select [Select]=cast(0 as bit), Id=v.Id,V.VoucherNo,
[Date]=v.VoucherDate,OfficeName=O.OfficeName,
UserRemark=v.UserRemarks,
Narration=v.AccNarration,PaymentMode=PM.ConstantName,
AccountName=L.AccountName,
Amount=ABS(VD.VDAmount),
CrDr=(CASE WHEN VD.VDAmount>0 THEN 'Dr' ELSE 'Cr' END),VoucherType=VT.VoucherTypeName,
FinancialYear=FY.Abbreviation,ModefiedDate=v.MDOE,
CreatedDate=v.CDOE,CU.FirstName+ +CU.LastName AS CreatedBy,MU.FirstName+ +MU.LastName AS ModifiedBy

FROM [dbo].[tVouchers] V join #tmp t on v.id=t.Id
LEFT JOIN [dbo].[mConstantValue] PM ON V.PaymentModeId=PM.Id
INNER JOIN [dbo].[tVoucherVD] VD ON VD.VoucherId=V.Id
INNER JOIN [dbo].[mLedger] L ON VD.AccountId=L.Id
INNER JOIN [dbo].[mVoucherType] VT ON v.VoucherTypeId= VT.Id
INNER JOIN [dbo].[mFY] FY ON v.FYID= FY.id
LEFT JOIN [dbo].[ApiSessions] CS on v.CSID=CS.Id
LEFT JOIN [dbo].[ApiUsers] CU on CS.UserId=CU.Id
LEFT JOIN [dbo].[ApiSessions] MS on v.MSID=MS.Id
LEFT JOIN [dbo].[ApiUsers] MU on MS.UserId=MU.Id
INNER JOIN [dbo].[mOfficeMaster] O ON O.Id=V.OfficeId
END
GO
