/****** Object:  StoredProcedure [dbo].[Proc_Report_1605]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1605]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1605]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- select * from mObjectcategory
-- Exec [Proc_Report_1605] 1,'','','2016-01-01','2017-07-01',0

CREATE PROC [dbo].[Proc_Report_1605]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	o.OfficeName,
	t.TripStartDate,
	t.TriplogNo,
	VehicleNo=m.VehicleRegNo,
	VehicleType=isnull((select name from dbo.mGenericMaster as g where g.Id=m.VehicleTypeId),''),	
	NoOfCNs=cn.NoofCn,
	dvr.DriverName,
	dvr.DriverCode,
	PartyName=pm.FleetAcName,
	RouteName=tr.Abbr,
	t.UnloadingDate,
	TripDays=DATEDIFF(day,t.TripStartDate,t.UnLoadingDate),
	t.StartKm,
	t.EndKm,
	t.GpsKmRun,
	t.TotalKmRun,
	TripNature=tn.ConstantName,
	t.Remarks,

	BdgtFuel=texp.TotBdgtFuelQty,
	FuelActaul=texp.TotActaulFuelQty,
	FuelDiff=texp.TotActaulFuelQty-texp.TotBdgtFuelQty,

	FuelBySlip=adv.FuelBySlip,
	FuelByPetroCard=adv.FuelByFuelCard,
	FuelByOther=adv.FuelByOther,
	TotalFuelAmount=adv.TotalFuelAmount,	

	--BdgtAdv=0,
	AdvCash=adv.AdvCash,
	AdvCheque=adv.AdvCheque,
	AdveTollTag=adv.AdveTollTag,
	AdvCard=adv.AdvCard,
	TotalAdv=adv.TotalAdv,		
	--AdvDiff=0-adv.TotalAdv,--bdgtd-Actaul

	BdgtExp=texp.TotBdgtTripExp,
	ActalExp=texp.TotTripExp,
	ExpDiff=texp.TotTripExp-texp.TotBdgtTripExp,

	TotalWeight=cn.TotalWeight,	
	Destination=dct.CityName,

	CNBookingFreight=cn.TotalBooking,	
	NetSaving=cn.TotalBooking-texp.TotTripExp
	
	FROM dbo.tVehicleMovementLog as t
	Inner Join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId else t.OfficeId end)
	LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1stId
	left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
	left join dbo.mConstantValue as tn on tn.Id=t.TripNatureId
	left join dbo.mLedger as pm on pm.Id=t.PartyId
	left join dbo.mRouteMaster as tr on tr.Id=t.RouteId
	left join dbo.mCityMaster as dct on dct.Id=tr.ToPlaceId
	left join
	(
		select t.TripLogId, 
		FuelBySlip=sum(case when t.AdvanceTypeId=2 and t.PaidInId=1518 then isnull(t.FuelAmount,0)  else 0 end),		
		FuelByFuelCard=sum(case when t.AdvanceTypeId=2 and t.PaidInId=1442 then isnull(t.FuelAmount,0)  else 0 end),		
		FuelByOther=sum(case when t.AdvanceTypeId=2 and t.PaidInId Not In(1442,1518) then isnull(t.FuelAmount,0)  else 0 end),		
		AdvCash=sum(case when t.AdvanceTypeId=1 and t.PaidInId=1430 then isnull(t.CashAmount,0)  else 0 end),
		AdvCheque=sum(case when t.AdvanceTypeId=1 and t.PaidInId=1429 then isnull(t.CashAmount,0)  else 0 end),
		AdveTollTag=sum(case when t.AdvanceTypeId=1 and t.PaidInId=1516 then isnull(t.CashAmount,0)  else 0 end),
		AdvCard=sum(case when t.AdvanceTypeId=1 and t.PaidInId=1517 then isnull(t.CashAmount,0)  else 0 end),
		TotalAdv=sum(case when t.AdvanceTypeId=1 then isnull(t.CashAmount,0)  else 0 end),		
		TotalFuelAmount=sum(case when t.AdvanceTypeId=2 then isnull(t.FuelAmount,0) else 0 end)
		from dbo.tTripAdvanceLog as t where t.TripLogId>0 group by t.TripLogId
	)as adv on adv.TripLogId=t.Id
	left join(
		select t.TripLogId,TotBdgtFuelQty=sum(isnull(t.BudgetedQty,0)),TotActaulFuelQty=sum(isnull(t.FuelQty,0)),TotBdgtTripExp=sum(isnull(t.ClaimAmount,0)) ,TotTripExp=sum((case when em.NatureId=1497 and t.BudgetedQty>0 then 0 else isnull(t.SettledAmount,0) end)) from dbo.tTripExpenseLog as t left join dbo.mExpenseMaster as em on t.ExpenseTypeId=em.Id  where TripLogId>0 group by t.TripLogId
	)as texp on texp.TripLogId=t.Id
	left join 
	(
		Select c.TripLogId,NoofCn=Count(c.Id),TotalWeight=sum(isnull(cn.ChargedWeight,0)),TotalBooking=Sum(isnull(cn.CNTotalFreight,0)) from dbo.tCNStockLog as c inner join tCNMaster as cn on c.CNId=cn.Id where c.logtypeid=1423 group by c.TripLogId
	)as cn on cn.TripLogId=t.Id
	WHERE t.TripStartDate>=@parameter4 and t.TripStartDate<=@parameter5 and t.TripTypeId = 1158
	ORDER BY t.TripStartDate 
END


GO
