/****** Object:  StoredProcedure [dbo].[Proc_Report_1366]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1366]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1366]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC  [dbo].[Proc_Report_1366] 
--	1366	Latest Trip Details
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	set @parameter5=DATEADD(day,1,@parameter5)
	SET NOCOUNT ON;
	SELECT 
	
	Office=ofc.OfficeName
	,VehicleNo=v.VehicleRegNo
	,TripNo=t.TriplogNo
	,TripDate=t.TripStartDate
	,Party=bp.FleetAcName
	,RouteName=rt.Name
	,TotalKmRun
	,LastGPSStatus=dts.Name +' [' + dts.Abbr +']'
	,LastGPSDate=vts.StartDate
	,LastLocation=ctv.CityName
	,GPSVendor=gps.FleetAcName
	,Nature= nt.ConstantName
	from dbo.tVehicleMovementLog as t
	join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	join dbo.mVehicleMaster as v on v.Id=t.VehicleId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1130 then  t.VehicleId else t.PartyId end)
	left join dbo.mLedger as bp on bp.Id=t.PartyId
	left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
	left join dbo.tVTSStatusLog as vts on vts.VehicleId=t.VehicleId  and vts.TriplogId=t.Id and isnull(vts.NextLogId,0)=0
	left join dbo.mCityMaster as ctv on ctv.Id=vts.LocationId
	left join dbo.mDTSStatus as dts on dts.Id=vts.DTSStatusId
	left join dbo.mLedger as gps on gps.Id=v.GPSVendorId
	left join dbo.mConstantValue as nt on nt.Id=t.TripNatureId
	where t.TripStartDate>=@parameter4 and t.TripStartDate<@parameter5 and isnull(t.NextLogId,0)=0
	
END

GO
