/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_CNFormatV2]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_CNFormatV2]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_CNFormatV2]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	EXEC [Proc_Report_1538_CNFormatV2] '41770'

CREATE proc [dbo].[Proc_Report_1538_CNFormatV2] 
--1604	CN Bill Statement
@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	SELECT  
	BranchName,
	Customer,
	Consignor,
	[Consignee],
	[Mode],
	[LRNo],
	[LRDate],
	[FTL],
	[Vehicle],
	[InvoiceNo],
	[PartNo],
	[InvoiceDate],
	[Quantity],
	[Pckgs]=case when RowId=1 then cn.[Pckgs] else null end,
	[AWeight]=case when RowId=1 then cn.[AWeight] else null end,
	[CWeight]=case when RowId=1 then cn.[CWeight] else null end,
	[LRCh]=case when RowId=1 then cn.[LRCh] else null end,
	[PickCh]=case when RowId=1 then cn.[PickCh] else null end,
	[DeliveryCh]=case when RowId=1 then cn.[DeliveryCh] else null end,
	[Freight]=case when RowId=1 then cn.[Freight] else null end
	FROM (
	SELECT
		RowId=ROW_NUMBER()OVER(PARTITION BY t.CNNo ORDER BY mm.InvoiceNo),	
		[BranchName]=lo.OfficeName,
		[Customer]=m.FleetAcName,
		[Consignor]=co.FleetAcName,
		[Consignee]=cn.FleetAcName,
		Mode=mo.ConstantName,
		CNId=t.Id,
		MMId=mm.Id,
		[LRNo]=t.CNNo,
		[LRDate]=t.CNDate,
		[FTL]=case when vml.TripTypeId=1543 then 'No' when vml.TripTypeId=1158  then 'Yes' else '-' end,
		[Vehicle]=case when vm.Id>0 then vm.VehicleRegNo else hvm.RegistrationNo end,
		[InvoiceNo]=mm.InvoiceNo,
		[PartNo]=mmt.Code,
		[InvoiceDate]=mm.InvoiceDate,
		[Quantity]=mm.ActualQty,
		[Pckgs]=t.TotalPackage,
		[AWeight]=t.ActualWeight,
		[CWeight]=t.ChargedWeight,
		[LRCh]=t.AChargeI,
		[PickCh]=t.AChargeII,
		[DeliveryCh]=t.AChargeIII,
		[Freight]=t.CNTotalFreight
		FROM dbo.tCNMaster as t
		join dbo.tCNMultiMaterial as mm on mm.CnId=t.Id
		join dbo.mMaterialMaster as mmt on mmt.Id=mm.MaterialId
		left join dbo.tCNChallan as chn on chn.CNId=t.Id and chn.LogTypeId=1422 and chn.RefStockId=null
		left join dbo.tVehicleMovementLog as vml on vml.Id=chn.TriplogId
		left join dbo.mVehicleMaster as vm on vm.Id=vml.VehicleId
		left join dbo.mHireVehicle as hvm on hvm.Id=vml.HireVehicleId
	
		LEFT JOIN dbo.mLedger as m on m.Id=t.BillingPartyId
		LEFT JOIN dbo.mRouteMaster as ar on ar.Id=t.ChgRouteId
		LEFT JOIN dbo.mLedger as co on co.Id=t.ConsignorId
		LEFT JOIN dbo.mLedger as cn on cn.Id=t.ConsigneeId
		LEFT JOIN dbo.mLedger as bp on bp.Id=t.BillingPartyId
		Left JOIN dbo.mConstantValue as cnt on cnt.Id=t.CNTypeId
		Left JOIN dbo.mOfficeMaster as lo on lo.Id=t.LoadingOfficeId
		left join dbo.mConstantValue as mo on mo.Id=t.TransportModeId
		WHERE t.Id in (select Item from dbo.SplitCommaString(@parameter1))
	)as cn
END

GO
