/****** Object:  StoredProcedure [dbo].[Proc_Format_1506_34]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1506_34]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1506_34]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Format_1506_34] 
@parameter1 bigint
AS
BEGIN
	select 
	t.Id,
	t.TriplogNo,
	t.TripStartDate,
	VehicleNo=case when vm.Id>0 then vm.VehicleNo +'  -  Own' else hvm.VehicleNo+'  -  Hire' end,
	FromPlace = fp.CityName,
	ToPlace = tp.CityName,
	OwnerName = l.FleetAcName,
	DriverName = dr.DriverName,
	MobileNo = t.DriverPhone,
	[BrokerName] = t.BrokerName,
	[CreatedBy]='['+ uu.UserName +'] ' + +uu.FirstName + ' ' + uu.LastName
	from dbo.tVehicleMovementLog as t
	left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id
	left join dbo.mHireVehicle as hvm on t.HireVehicleId=hvm.Id
	left join dbo.mRouteMaster as rm on rm.Id=t.RouteId
	left join dbo.mCityMaster as fp on fp.Id=rm.FromplaceId
	left join dbo.mCityMaster as tp on tp.Id=rm.ToplaceId
	left join dbo.mDriverMaster as dr on dr.Id=t.Driver1stId
	left join dbo.mLedger as l on l.Id=t.HireOwnerId
	left join dbo.apisessions as ss on ss.Id=t.CSID
	left join dbo.apiusers as uu on uu.Id=ss.UserId
	where t.Id=@parameter1
END
GO
