/****** Object:  StoredProcedure [dbo].[Proc_Report_1429]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1429]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1429]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1431] '2015-01-01','2016-12-27','',2
CREATE PROC [dbo].[Proc_Report_1429]
--1429: Tyre Claim Reject
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime--todate	
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		Office = o.OfficeName,
		DocDate = t.VoucherDate,        
        DocNo = t.VoucherNo,		
		TyreNo = t.TyreNo,
		TyreLife = t.TyreLife,
		BrandName = bm.BrandName,
        Store = dr.FleetAcName,
		Vendor = cr.FleetAcName,
		NetAmount=isnull(t.NetAmount,0),
		t.Remark,
		[Type]=vt.VoucherTypeName,
		TyreStatus=cv.ConstantName,
		Reason=rm.Name
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLog as t on  CCO.ObjectId=(CASE @RoleId When 1029 THEN  t.DebitAccountId WHEN 1031 THEN t.CreditAccountId end)
	join dbo.tTyreLogExtraInfo as ei on ei.Id=t.ExtraInfoId	
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mTyreMaster as tm on tm.Id=t.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	join dbo.mConstantValue as cv on cv.Id=TyreStatusId
	join dbo.mVoucherType as vt on vt.Id=ei.VoucherTypeId
	left join dbo.tPurchaseOrder as po on po.Id=t.PurchaseOrderId
	left join dbo.mGenericMaster as rm on rm.Id=t.ReasonId
	where t.VoucherDate between @parameter4 and @parameter5 and (t.VoucherTypeId=31)
	order by t.VoucherDate
	
end
GO
