/****** Object:  StoredProcedure [dbo].[Proc_TRANS_GetStationary]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_GetStationary]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_GetStationary]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_GetStationary]
	@parameter1 bigint,--fieldId
	@parameter2 bigint=0,--viewId
	@parameter3 bigint=0,--typeId
	@parameter4 bigint=0,--officeid,
	@parameter5 nvarchar(100)='',--TransactionDate
	@parameter6 nvarchar(100)='',--serachtext
	@parameter7 int=1--count
AS
BEGIN
	DECLARE @booktypeid bigint=ISNULL((SELECT TOP 1 BookTypeId FROM [dbo].[mViewFieldBookMap] WHERE FieldId=@parameter1 AND ViewId=@parameter2 AND ISNULL(TypeId,0)=@parameter3 ORDER BY CDOE DESC),0)
	IF(@booktypeid=0)
	BEGIN
		SET @booktypeid =ISNULL((SELECT TOP 1 BookTypeId FROM mViewField WHERE Id=@parameter1),0)
	END
	if(@booktypeid=0)
	BEGIN
		SELECT Id=0,PageNo=''
		RETURN
	END
	declare @query nvarchar(max)=N'SELECT TOP '+CAST(@parameter7 as nvarchar)+' Id,PageNo FROM mBookLog WHERE TypeId='+CAST(@booktypeid as nvarchar)
	SET @query=@query+(CASE WHEN @parameter4>0 THEN ' AND OfficeId='+CAST(@parameter4 as nvarchar) ELSE '' END)
	SET @query=@query+(CASE WHEN LEN(@parameter5)>5 THEN ' AND (AllotedDate<='''+@parameter5+''' AND isnull(ExpiryDate,DATEADD(DAY,10,getdate()))>='''+@parameter5+''')' ELSE '' END)
	SET @query=@query+(CASE WHEN LEN(@parameter6)>5 THEN ' AND PageNo LIKE ''%'+@parameter6+'%''' ELSE '' END)
	PRINT(@query)
	SET @query=@query+' ORDER BY AllotedDate,Id'
	EXEC sp_sqlexec @query
END
GO
