/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_RemoveTLVTS]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1624_RemoveTLVTS]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_RemoveTLVTS]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRANS_1624_RemoveTLVTS]
@parameter1 bigint--TripLog/JobCard Id
AS
BEGIN
	DECLARE @PreviousVTSId bigint,@NextVTSId bigint,@PriviousTripId bigint, @NextTripId bigint
	SELECT TOP 1 @PreviousVTSId=Min(PreviousLogId) FROM [dbo].[tVTSStatusLog] V WHERE V.TriplogId=@parameter1
	SELECT TOP 1 @NextVTSId=Max(NextLogId) FROM [dbo].[tVTSStatusLog] V WHERE V.TriplogId=@parameter1

	SELECT TOP 1 @PriviousTripId=PreviousLogId FROM [dbo].[tVehicleMovementLog] V WHERE V.Id=@parameter1
	SELECT TOP 1 @NextTripId=NextLogId FROM [dbo].[tVehicleMovementLog] V WHERE V.Id=@parameter1

	UPDATE [dbo].[tVehicleMovementLog] SET NextLogId=@NextTripId WHERE Id=@PriviousTripId
	UPDATE [dbo].[tVehicleMovementLog] SET PreviousLogId=@PriviousTripId WHERE Id=@NextTripId

	UPDATE [dbo].[tVTSStatusLog] SET NextLogId=NULL,PreviousLogId=NULL WHERE TriplogId=@parameter1
	UPDATE [dbo].[tVTSStatusLog] SET NextLogId=@NextVTSId WHERE Id=@PreviousVTSId
	UPDATE [dbo].[tVTSStatusLog] SET PreviousLogId=@PreviousVTSId WHERE Id=@NextVTSId
	UPDATE [dbo].[tVTSStatusLog] SET NextLogId=NULL WHERE NextLogId IS NOT NULL AND NextLogId in(SELECT tvt.Id FROM tVTSStatusLog tvt WHERE tvt.TriplogId=@parameter1)
	UPDATE [dbo].[tVTSStatusLog] SET PreviousLogId=NULL WHERE PreviousLogId IS NOT NULL AND PreviousLogId in(SELECT tvt.Id FROM tVTSStatusLog tvt WHERE tvt.TriplogId=@parameter1)

	DELETE FROM [dbo].[tVTSStatusLog] WHERE TriplogId=@parameter1
END
GO
