/****** Object:  StoredProcedure [dbo].[Proc_Report_1408]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1408]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1408]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC Proc_Report_1408  10010,'',''
-- SELECT * FROM mObjectCategory
CREATE PROC [dbo].[Proc_Report_1408]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)--AccountIds
As
begin
	DECLARE @RoleId int,@StartDate datetime,@EndDate datetime,@DateType int,@KmCalcTypeId bigint
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	
	Select 
	CCO.CategoryName,
	CCO.ClassName,
	VehicleNo = v.VehicleNo,
	VehicleModel = vm.ModelName,
	BNoOfTyres =  isnull(vm.NoOfTyres,0),
	BNoOfStpny = isnull(vm.NoOfStphny,0),
	ANoOfTyres = isnull(t.NoofTyres,0),
	ANoOfStpny = isnull(t.Noofstpny,0),
	TyreDiff = isnull(vm.NoOfTyres,0) - isnull(t.NoofTyres,0),
	StpnyDiff= isnull(vm.NoOfStphny,0) - isnull(t.Noofstpny,0)
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.mVehicleMaster as v on v.Id=CCO.ObjectId
	join dbo.mVehicleModel as vm on vm.Id=v.VehicleModelId

	left join 
	(
		select tt.VehicleId , sum((case when tt.IsStepney=0 then 1 else 0 end)) as NoofTyres,sum((case when tt.IsStepney=1 then 1 else 0 end)) as Noofstpny from dbo.tTyreLog as tt
		where tt.NextLogId is null and tt.VehicleId>0 and tt.TyreStatusId=1103
		group by tt.VehicleId
	)as t on CCO.ObjectId=t.VehicleId

	where (isnull(vm.NoOfTyres,0) - isnull(t.NoofTyres,0))<>0 or (isnull(vm.NoOfStphny,0) - isnull(t.Noofstpny,0))<>0
	
End
GO
