/****** Object:  StoredProcedure [dbo].[Proc_Report_1409]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1409]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1409]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1409]
	@parameter1 date,
	@parameter2 date,
	@parameter3 nvarchar(max), --1: BrandList
	@parameter4 int --1: Purchase Date ,2: Scrap Date
as
begin
	declare @RoleId int,@StartDate datetime,@EndDate datetime,@DateType int,@KmCalcTypeId bigint
	set @RoleId=case when @parameter4<=0 then 1 else @parameter4 end
	
	select @KmCalcTypeId=value from dbo.ApiConfigurations where id='DefaultKmSourceForReporting'
	
	set nocount on;
	select 
	t.TyreId
	,TyreNo
	,TyreLife
	,BrandName
	,Manufacturer
	,TyrePurchaseDate
	,TyreScrapDate
	,TyreCost
	,TyreTPCost
	,TyreScrapCost
	,TyreNetCost
	,TyreKmRun
	,CPKM=round(case when isnull(TyreKmRun,0)=0 then 0 else  isnull(TyreNetCost,0)/TyreKmRun end,2)
	from 
	(
		select
		t.TyreId
		,TyreNo
		,t.TyreLife
		,BrandName
		,Manufacturer
		,TyrePurchaseDate
		,TyreScrapDate
		,TyreCost
		,TyreTPCost
		,TyreScrapCost
		,TyreNetCost
		,TyreKmRun =tp.KmRun-- (isnull((case when @KmCalcTypeId=1130 then isnull(tp.TyreLifeMileage,0) +isnull(tp.TyrePreviousMileage,0) when @KmCalcTypeId=1158 then isnull(tp.TLLifeMileage,0) + isnull(tp.TLPreviousMileage,0) when @KmCalcTypeId=1159 then isnull(tp.JSLifeMileage,0) +isnull(tp.JSPreviousMileage,0) else 0 end),0))
		--,CPKM=round(isnull(TyreNetCost,0)/(case when isnull(TyreNetCost,0)=0 then 0 else (isnull((case when @KmCalcTypeId=1130 then isnull(tp.TyreLifeMileage,0) +isnull(tp.TyrePreviousMileage,0) when @KmCalcTypeId=1158 then isnull(tp.TLLifeMileage,0) + isnull(tp.TLPreviousMileage,0) when @KmCalcTypeId=1159 then isnull(tp.JSLifeMileage,0) +isnull(tp.JSPreviousMileage,0) else 0 end),0)) end),2)
		from (
			select 
			t.TyreId
			,t.TyreNo
			,t.TyreLife
			,bm.BrandName
			,Manufacturer=tman.Name
			,TyrePurchaseDate = convert(varchar(10),max(tm.PurchaseDate),103)
			,TyreCost=sum(isnull(case when t.[VoucherTypeId] in(27,28,29,32,33,41,66,42) then t.NetAmount else 0 end,0))
			,TyreTPCost = Sum(isnull(t.[TransferPrice],0))
			,TyreScrapCost = Sum(isnull(t.[ScrapCost],0)+case when t.VoucherTypeId=37 then t.NetAmount  else 0 end)
			,TyreNetCost = Sum(isnull(case when t.VoucherTypeId in(27,28,29,32,33,41,66,42) then t.NetAmount when t.VoucherTypeId=37 then -t.NetAmount  else 0 end,0)) + Sum(isnull(t.TransferPrice,0)) - Sum(isnull(t.ScrapCost,0))
			,TyreScrapDate =convert(varchar(10),max(ScrapDate),103)
		
			from 
			(
				select tm.Id,tm.BrandId,tt.VoucherDate as PurchaseDate,case when tm.Status_VoucherTypeId =37 then t.VoucherDate else null end as ScrapDate from dbo.mTyreMaster as tm 			
				join dbo.tTyreLog as tt on tt.Id=tm.PurchaseLogId
				join dbo.tTyreLog as t on tm.Status_TyreLogId=t.Id
				where 
				(case when @parameter4=1 and cast(tt.VoucherDate as date) between @parameter1 and @parameter2 then 1 --Tyre purchase date
				when @parameter4=2 and cast(tm.Status_VoucherDate  as date) between @parameter1 and @parameter2 and tm.Status_VoucherTypeId = 37 then 1  --Scrap Types
				else 0 end)=1
				and (case when len(isnull(@parameter3,''))=0 then 1 when len(isnull(@parameter3,''))>0 and tm.BrandId in(select item from dbo.SplitCommaString(@parameter3)) then 1  else 0 end)=1

			)as tm
			join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
			join dbo.mGenericMaster as tman on tman.Id=bm.ManufacturerId
			join dbo.tTyreLog as t on t.TyreId=tm.Id
			--left join dbo.mLedger as cr on cr.Id=t.CreditAccountId
		
			group by t.TyreId,t.TyreNo,t.TyreLife,bm.BrandName,tman.Name
		)as t 
		LEFT JOIN 
		(select sum(isnull(tp.KmRun,0)) as KmRun,tp.TyreId,tp.TyreLife from dbo.vwTyreLifeMileage as tp group by tp.TyreId,tp.TyreLife)as tp on tp.TyreId=t.TyreId and tp.TyreLife=t.TyreLife
	) as t
End
GO
