/****** Object:  StoredProcedure [dbo].[Proc_Report_1358]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1358]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1358]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1358]
	@parameter1 bigint--Categoryid
AS
begin
 select 
 t.BrandName,
 t.BrandAbbr,
 Manufacturer=mn.Name,
 Nature=nt.Name,
 PlyRating=pr.Name,
 Size=sz.Name,
 t.BudgetedKmLife,
 t.MinNSD,
 STDNSD=t.STD,
 t.Remark
 from dbo.mBrandMaster as t
 left join dbo.mGenericMaster as nt on nt.Id=t.NatureId
 left join dbo.mGenericMaster as pr on pr.Id=t.PlyRatingId
 left join dbo.mGenericMaster as sz on sz.Id=t.SizeId
 left join dbo.mGenericMaster as mn on mn.Id=t.ManufacturerId
 where t.RelatedTypeId=1135
 and (case when @parameter1=0 then 1 when @parameter1=t.ManufacturerId then 1 else 0 end)=1
 
end
GO
