/****** Object:  StoredProcedure [dbo].[Proc_Report_1328]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1328]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1328]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1328]
	@parameter1 bigint--SpareGroupId
AS
begin
	select 
	ItemName = x.SpareName,
	Abbr = x.SpareAbbr,
	AdditionalInfo = x.Remarks,
	[SpareGroup] = gp.Name,
	Unit = um.UnitName,
	Kit = x.IsKit,
	AfterUse = au.ConstantName,
	Monitoring = x.Monitoring,
	[Status] = x.[StatusId]
	from dbo.mSpareMaster as x
	left join dbo.mGenericMaster as gp on  gp.Id=x.SpareGroupId
	left join dbo.mUnitMaster as um on um.Id=x.BaseUnitId
	left join dbo.mConstantValue as au on au.Id=x.AfterUsedId
	order by x.SpareName
	
end
GO
