/****** Object:  StoredProcedure [dbo].[Proc_Report_1696]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1696]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1696]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Report_1696]
	@parameter1 bigint,
	@parameter2 nvarchar(max),
	@parameter3 nvarchar(max),
	@parameter4 date,
	@parameter5 date
	-- ReportName: Vehicle Expense Summary Actual
	-- Category: Vehicle
	-- Date: From Date and To Date
as
begin
	create table #tmpExpenseSummary(ClassName nvarchar(100),ExpenseName nvarchar(100),[Year] int,[Jan] decimal(18,2),[Feb] decimal(18,2),[Mar] decimal(18,2),[Apr] decimal(18,2),[May] decimal(18,2),[Jun] decimal(18,2),[Jul] decimal(18,2),[Aug] decimal(18,2),[Sep] decimal(18,2),[Oct] decimal(18,2),[Nov] decimal(18,2),[Dec] decimal(18,2),[Total] decimal(18,2))
	
	insert into #tmpExpenseSummary
	select 
	ClassName=o.ClassName
	,ExpenseName='Loads'
	,[Year]=Year(te.TripStartDate)
	,[Jan]=Sum(Case Month(te.TripStartDate) when 1 then 1 else 0 end)
	,[Feb]=Sum(Case Month(te.TripStartDate) when 2 then 1 else 0 end)
	,[Mar]=Sum(Case Month(te.TripStartDate) when 3 then 1 else 0 end)
	,[Apr]=Sum(Case Month(te.TripStartDate) when 4 then 1 else 0 end)
	,[May]=Sum(Case Month(te.TripStartDate) when 5 then 1 else 0 end)
	,[Jun]=Sum(Case Month(te.TripStartDate) when 6 then 1 else 0 end)
	,[Jul]=Sum(Case Month(te.TripStartDate) when 7 then 1 else 0 end)
	,[Aug]=Sum(Case Month(te.TripStartDate) when 8 then 1 else 0 end)
	,[Sep]=Sum(Case Month(te.TripStartDate) when 9 then 1 else 0 end)
	,[Oct]=Sum(Case Month(te.TripStartDate) when 10 then 1 else 0 end)
	,[Nov]=Sum(Case Month(te.TripStartDate) when 11 then 1 else 0 end)
	,[Dec]=Sum(Case Month(te.TripStartDate) when 12 then 1 else 0 end)
	,[Total]=0--Sum(1)

	from dbo.tVehicleMovementlog as te
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as o on o.ObjectId=te.VehicleId
	where cast(te.TripStartDate as date) between @parameter4 and @parameter5 and te.TripNatureId=1075
	Group by Year(te.TripStartDate),o.ClassName

	insert into #tmpExpenseSummary
	select 
	ClassName=o.ClassName
	,ExpenseName='Sales/Freight'
	,[Year]=Year(te.CNDate)
	,[Jan]=Sum(Case Month(te.CNDate) when 1 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Feb]=Sum(Case Month(te.CNDate) when 2 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Mar]=Sum(Case Month(te.CNDate) when 3 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Apr]=Sum(Case Month(te.CNDate) when 4 then isnull(te.CNTotalFreight,0) else 0 end)
	,[May]=Sum(Case Month(te.CNDate) when 5 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Jun]=Sum(Case Month(te.CNDate) when 6 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Jul]=Sum(Case Month(te.CNDate) when 7 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Aug]=Sum(Case Month(te.CNDate) when 8 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Sep]=Sum(Case Month(te.CNDate) when 9 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Oct]=Sum(Case Month(te.CNDate) when 10 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Nov]=Sum(Case Month(te.CNDate) when 11 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Dec]=Sum(Case Month(te.CNDate) when 12 then isnull(te.CNTotalFreight,0) else 0 end)
	,[Total]=0--Sum(1)
	from dbo.tCNMaster as te
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as o on o.ObjectId=te.VehicleId
	where cast(te.CNDate as date) between @parameter4 and @parameter5
	Group by Year(te.CNDate),o.ClassName

	insert into #tmpExpenseSummary
	select 
	ClassName=o.ClassName
	,ExpenseName=case  when vt.ID=1 and a.AccountName like '%happay%' then 'Happay' when  vt.ID=1  and a.AccountName not like '%happay%' then 'Advance' when vt.ID=2 then 'Fuel' else vt.VoucherTypeName end
	,[Year]=Year(ta.AdvanceDate)
	,[Jan]=Sum(Case Month(ta.AdvanceDate) when 1 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Feb]=Sum(Case Month(ta.AdvanceDate) when 2 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Mar]=Sum(Case Month(ta.AdvanceDate) when 3 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Apr]=Sum(Case Month(ta.AdvanceDate) when 4 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[May]=Sum(Case Month(ta.AdvanceDate) when 5 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Jun]=Sum(Case Month(ta.AdvanceDate) when 6 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Jul]=Sum(Case Month(ta.AdvanceDate) when 7 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Aug]=Sum(Case Month(ta.AdvanceDate) when 8 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Sep]=Sum(Case Month(ta.AdvanceDate) when 9 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Oct]=Sum(Case Month(ta.AdvanceDate) when 10 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Nov]=Sum(Case Month(ta.AdvanceDate) when 11 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Dec]=Sum(Case Month(ta.AdvanceDate) when 12 then case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end else 0 end)
	,[Total]=0--Sum(case  when vt.ID=2 then isnull(ta.FuelAmount,0) else isnull(ta.CashAmount,0) end)
	from dbo.tTripAdvanceLog as ta 
	join dbo.mledger as a on a.id=ta.creditaccountid
	join dbo.mVoucherType as vt on vt.Id=ta.AdvanceTypeId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as o on o.ObjectId=ta.VehicleId
	where cast(ta.AdvanceDate as date) between @parameter4 and @parameter5
	Group by Year(ta.AdvanceDate),o.ClassName,case  when vt.ID=1 and a.AccountName like '%happay%' then 'Happay' when  vt.ID=1  and a.AccountName not like '%happay%' then 'Advance' when vt.ID=2 then 'Fuel' else vt.VoucherTypeName end

	insert into #tmpExpenseSummary
	select 
	ClassName=o.ClassName
	,ExpenseName='Tyre Expense'
	,[Year]=Year(ta.VoucherDate)
	,[Jan]=Sum(Case Month(ta.VoucherDate) when 1 then isnull(ta.NetAmount,0) else 0 end)
	,[Feb]=Sum(Case Month(ta.VoucherDate) when 2 then isnull(ta.NetAmount,0) else 0 end)
	,[Mar]=Sum(Case Month(ta.VoucherDate) when 3 then isnull(ta.NetAmount,0) else 0 end)
	,[Apr]=Sum(Case Month(ta.VoucherDate) when 4 then isnull(ta.NetAmount,0) else 0 end)
	,[May]=Sum(Case Month(ta.VoucherDate) when 5 then isnull(ta.NetAmount,0) else 0 end)
	,[Jun]=Sum(Case Month(ta.VoucherDate) when 6 then isnull(ta.NetAmount,0) else 0 end)
	,[Jul]=Sum(Case Month(ta.VoucherDate) when 7 then isnull(ta.NetAmount,0) else 0 end)
	,[Aug]=Sum(Case Month(ta.VoucherDate) when 8 then isnull(ta.NetAmount,0) else 0 end)
	,[Sep]=Sum(Case Month(ta.VoucherDate) when 9 then isnull(ta.NetAmount,0) else 0 end)
	,[Oct]=Sum(Case Month(ta.VoucherDate) when 10 then isnull(ta.NetAmount,0) else 0 end)
	,[Nov]=Sum(Case Month(ta.VoucherDate) when 11 then isnull(ta.NetAmount,0) else 0 end)
	,[Dec]=Sum(Case Month(ta.VoucherDate) when 12 then isnull(ta.NetAmount,0) else 0 end)
	,[Total]=0--Sum(isnull(ta.NetAmount,0))
	from dbo.tTyreLog as ta 
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as o on o.ObjectId=ta.VehicleId
	where cast(ta.VoucherDate as date) between @parameter4 and @parameter5 and ta.VoucherTypeId=34
	Group by Year(ta.VoucherDate),o.ClassName

	insert into #tmpExpenseSummary
	select 
	ClassName=o.ClassName
	,ExpenseName='Battery Expense'
	,[Year]=Year(ta.DocDate)
	,[Jan]=Sum(Case Month(ta.DocDate) when 1 then isnull(ta.NetAmount,0) else 0 end)
	,[Feb]=Sum(Case Month(ta.DocDate) when 2 then isnull(ta.NetAmount,0) else 0 end)
	,[Mar]=Sum(Case Month(ta.DocDate) when 3 then isnull(ta.NetAmount,0) else 0 end)
	,[Apr]=Sum(Case Month(ta.DocDate) when 4 then isnull(ta.NetAmount,0) else 0 end)
	,[May]=Sum(Case Month(ta.DocDate) when 5 then isnull(ta.NetAmount,0) else 0 end)
	,[Jun]=Sum(Case Month(ta.DocDate) when 6 then isnull(ta.NetAmount,0) else 0 end)
	,[Jul]=Sum(Case Month(ta.DocDate) when 7 then isnull(ta.NetAmount,0) else 0 end)
	,[Aug]=Sum(Case Month(ta.DocDate) when 8 then isnull(ta.NetAmount,0) else 0 end)
	,[Sep]=Sum(Case Month(ta.DocDate) when 9 then isnull(ta.NetAmount,0) else 0 end)
	,[Oct]=Sum(Case Month(ta.DocDate) when 10 then isnull(ta.NetAmount,0) else 0 end)
	,[Nov]=Sum(Case Month(ta.DocDate) when 11 then isnull(ta.NetAmount,0) else 0 end)
	,[Dec]=Sum(Case Month(ta.DocDate) when 12 then isnull(ta.NetAmount,0) else 0 end)
	,[Total]=0--Sum(isnull(ta.NetAmount,0))
	from dbo.tBatteryLog as ta 
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as o on o.ObjectId=ta.VehicleId
	where cast(ta.DocDate as date) between @parameter4 and @parameter5 and ta.VoucherTypeId=50
	Group by Year(ta.DocDate),o.ClassName

	insert into #tmpExpenseSummary
	select 
	ClassName=o.ClassName
	,ExpenseName='Spare Expense'
	,[Year]=Year(ta.VoucherDate)
	,[Jan]=Sum(Case Month(ta.VoucherDate) when 1 then isnull(ta.NetAmount,0) else 0 end)
	,[Feb]=Sum(Case Month(ta.VoucherDate) when 2 then isnull(ta.NetAmount,0) else 0 end)
	,[Mar]=Sum(Case Month(ta.VoucherDate) when 3 then isnull(ta.NetAmount,0) else 0 end)
	,[Apr]=Sum(Case Month(ta.VoucherDate) when 4 then isnull(ta.NetAmount,0) else 0 end)
	,[May]=Sum(Case Month(ta.VoucherDate) when 5 then isnull(ta.NetAmount,0) else 0 end)
	,[Jun]=Sum(Case Month(ta.VoucherDate) when 6 then isnull(ta.NetAmount,0) else 0 end)
	,[Jul]=Sum(Case Month(ta.VoucherDate) when 7 then isnull(ta.NetAmount,0) else 0 end)
	,[Aug]=Sum(Case Month(ta.VoucherDate) when 8 then isnull(ta.NetAmount,0) else 0 end)
	,[Sep]=Sum(Case Month(ta.VoucherDate) when 9 then isnull(ta.NetAmount,0) else 0 end)
	,[Oct]=Sum(Case Month(ta.VoucherDate) when 10 then isnull(ta.NetAmount,0) else 0 end)
	,[Nov]=Sum(Case Month(ta.VoucherDate) when 11 then isnull(ta.NetAmount,0) else 0 end)
	,[Dec]=Sum(Case Month(ta.VoucherDate) when 12 then isnull(ta.NetAmount,0) else 0 end)
	,[Total]=0--Sum(isnull(ta.NetAmount,0))
	from dbo.tSpareLog as ta 
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as o on o.ObjectId=ta.VehicleId
	where cast(ta.VoucherDate as date) between @parameter4 and @parameter5 and ta.VoucherTypeId in(22,24)
	Group by Year(ta.VoucherDate),o.ClassName

	insert into #tmpExpenseSummary
	select 
	ClassName=o.ClassName
	,ExpenseName='Labour Expense'
	,[Year]=Year(te.DocDate)
	,[Jan]=Sum(Case Month(te.DocDate) when 1 then isnull(ta.NetAmount,0) else 0 end)
	,[Feb]=Sum(Case Month(te.DocDate) when 2 then isnull(ta.NetAmount,0) else 0 end)
	,[Mar]=Sum(Case Month(te.DocDate) when 3 then isnull(ta.NetAmount,0) else 0 end)
	,[Apr]=Sum(Case Month(te.DocDate) when 4 then isnull(ta.NetAmount,0) else 0 end)
	,[May]=Sum(Case Month(te.DocDate) when 5 then isnull(ta.NetAmount,0) else 0 end)
	,[Jun]=Sum(Case Month(te.DocDate) when 6 then isnull(ta.NetAmount,0) else 0 end)
	,[Jul]=Sum(Case Month(te.DocDate) when 7 then isnull(ta.NetAmount,0) else 0 end)
	,[Aug]=Sum(Case Month(te.DocDate) when 8 then isnull(ta.NetAmount,0) else 0 end)
	,[Sep]=Sum(Case Month(te.DocDate) when 9 then isnull(ta.NetAmount,0) else 0 end)
	,[Oct]=Sum(Case Month(te.DocDate) when 10 then isnull(ta.NetAmount,0) else 0 end)
	,[Nov]=Sum(Case Month(te.DocDate) when 11 then isnull(ta.NetAmount,0) else 0 end)
	,[Dec]=Sum(Case Month(te.DocDate) when 12 then isnull(ta.NetAmount,0) else 0 end)
	,[Total]=0--Sum(isnull(ta.NetAmount,0))
	from dbo.tRepairLabourLog as ta 
	join dbo.tSpareLogExtraInfo as te on te.ID=ta.ExtraInfoId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as o on o.ObjectId=ta.VehicleId
	where cast(te.DocDate as date) between @parameter4 and @parameter5 and te.VoucherTypeId in(22,24)
	Group by Year(te.DocDate),o.ClassName

	insert into #tmpExpenseSummary
	select 
	ClassName=o.ClassName
	,ExpenseName='AMC Expense'
	,[Year]=Year(te.DocDate)
	,[Jan]=Sum(Case Month(te.DocDate) when 1 then isnull(ta.NetAmount,0) else 0 end)
	,[Feb]=Sum(Case Month(te.DocDate) when 2 then isnull(ta.NetAmount,0) else 0 end)
	,[Mar]=Sum(Case Month(te.DocDate) when 3 then isnull(ta.NetAmount,0) else 0 end)
	,[Apr]=Sum(Case Month(te.DocDate) when 4 then isnull(ta.NetAmount,0) else 0 end)
	,[May]=Sum(Case Month(te.DocDate) when 5 then isnull(ta.NetAmount,0) else 0 end)
	,[Jun]=Sum(Case Month(te.DocDate) when 6 then isnull(ta.NetAmount,0) else 0 end)
	,[Jul]=Sum(Case Month(te.DocDate) when 7 then isnull(ta.NetAmount,0) else 0 end)
	,[Aug]=Sum(Case Month(te.DocDate) when 8 then isnull(ta.NetAmount,0) else 0 end)
	,[Sep]=Sum(Case Month(te.DocDate) when 9 then isnull(ta.NetAmount,0) else 0 end)
	,[Oct]=Sum(Case Month(te.DocDate) when 10 then isnull(ta.NetAmount,0) else 0 end)
	,[Nov]=Sum(Case Month(te.DocDate) when 11 then isnull(ta.NetAmount,0) else 0 end)
	,[Dec]=Sum(Case Month(te.DocDate) when 12 then isnull(ta.NetAmount,0) else 0 end)
	,[Total]=0--Sum(isnull(ta.NetAmount,0))
	from dbo.tRepairLabourLog as ta 
	join dbo.tSpareLogExtraInfo as te on te.ID=ta.ExtraInfoId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as o on o.ObjectId=ta.VehicleId
	where cast(te.DocDate as date) between @parameter4 and @parameter5 and te.VoucherTypeId=83 and te.RelatedVoucherId>0
	Group by Year(te.DocDate),o.ClassName

	select * from #tmpExpenseSummary order by Year,ClassName,ExpenseName
	drop table #tmpExpenseSummary 
end
GO
