/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1494_GetOnAccount]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1494_GetOnAccount]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1494_GetOnAccount]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRNS_1494_GetOnAccount] 
@parameter1 bigint,--Party
@parameter2 Date,--Date 
@parameter3 bigint=0 --PaymentId
AS
BEGIN 
declare @query nvarchar(max)=N'SELECT P.Id, P.PaymentId, Payment=PP.DocumentNo, P.AccountId, Account=ISNULL(AC.AccountName, AC.BookingAcName), 
P.OfficeId, Office= OM.OfficeName, P.TypeId, P.BillId, CnNoId=P.CnId, CnNo=CN.CnNo
,Amount=(CASE WHEN P.TypeId=1434 THEN CN.CNTotalFreight ELSE 0 END), OnAcAmount=(CASE WHEN P.TypeId=1434 THEN CN.CNTotalFreight ELSE 0 END), BalanceAmount=P.OnAccBalAmt,
AdvanceAmount=(CASE WHEN P.TypeId=1443 THEN P.Amount ELSE 0 END),
P.Amount, P.Remark, P.OnAccountRefId, P.BillLogId, P.OnAccBalAmt, P.OnAcAdjustedAmt, P.VDRId, 
PP.DocumentNo, PP.DocumentDate, PP.AdviceNo, PP.AdviceDate, PP.ChequeNo, PP.ChequeDate, PP.BankCashAccountId, BankCash=BC.AccountName,
PP.TDSLedgerAcId, PP.Other1AcId, PP.Other2AcId, PP.DraweeBank, PP.DraweeBranch, PP.PaymentModeId, PP.BankCashAmount, 
PP.TDSAmount, PP.OtherAmount, AdviceAmount=PP.AdviceAmount, PP.VoucherId, PP.DeductionAmt, PP.BillSettledAmt,
PP.OnAcAdjustedAmt, PP.CNAdvanceAmt, PP.BankCashAmount, VDRRefNoId=VR.ReferenceNo
FROM [dbo].[tCNBillPaymentLog] P 
LEFT JOIN [dbo].[tCNBillPaymentLog] C ON P.Id=C.OnAccountRefId 
JOIN [dbo].[tCNBillPayment] PP ON P.PaymentId=PP.Id
LEFT JOIN [dbo].[mLedger] AC ON P.AccountId=AC.Id
LEFT JOIN [dbo].[mLedger] BC ON PP.BankCashAccountId=BC.Id
LEFT JOIN [dbo].[mOfficeMaster] OM ON P.OfficeId=OM.Id
LEFT JOIN [dbo].[tCNMaster] CN ON P.CNId=CN.Id
LEFT JOIN [dbo].[tVoucherVDR] VR ON P.VDRId=VR.Id
WHERE P.AccountId= '+CAST(@parameter1 as nvarchar)+' AND PP.DocumentDate<='''+CONVERT(nvarchar(10),@parameter2,111)+''' AND P.TypeId=1434'
print(@query)
exec sp_sqlexec @query
END
GO
