/****** Object:  StoredProcedure [dbo].[Proc_Format_1514_1]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1514_1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1514_1]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Format_1514_1]
@parameter1 bigint
as
begin
	select
	BranchAddress= ofc.PrintingAddress,
	CNId=cn.Id,
	CNNo=cn.CNNo,
	CNDate=cn.CNDate,
	ModeOfDelivery='Godown Delivery',
	--STPaidBy= cn.Fk_ServiceTaxPaidBy==null?null:cn.Fk_ServiceTaxPaidBy.ConstantName,
	STNo='',
	PANNo='',
	ConsignorName=con.FleetAcName,
	ConsignorAdd= conad.AddressLine1,
	ConsignorTINNo= con.TINNo,
	ConsigneeName = cne.FleetAcName,
	ConsigneeAdd = cnead.AddressLine1,
	ConsigneeTINNo = cne.TINNo,
	Company='',
	PolicyNo='',
	AmountRisk=null,
	VehicleNo=null,
	FromPlace= fp.CityName,
	ToPlace = tp.CityName,
	LRType= ctp.ConstantName,
	BookingPlace=ofc.OfficeName,
	Freight=cn.CNBasicAmount,
	OctroiChg = null,
	OctroiSurChg=null,
	MiscChg=cn.AChargeIV,
	CollectionChg=null,
	SurChg=cn.AChargeI,
	STChg=cn.AChargeII,
	HamaliChg=cn.AChargeIII,--60566048 
	Total= cn.CNSubTotalII,
	ServiceTax=cn.IServiceTax,
	GTotal= cn.CNTotalFreight,
	NoofPkg=cn.TotalPackage,
	MaterialDescription=mm.Code,
	NetWeight=cn.ActualWeight,
	GrossWeight=cn.ActualWeight,
	CNRemark=cn.Remark
	from dbo.tCNMaster as cn 
	left join dbo.mOfficeMaster as ofc on ofc.Id=cn.LoadingOfficeId
	left join dbo.mLedger as con on con.Id=cn.ConsignorId
	left join dbo.mPostalAddress as conad on conad.Id=con.AddressId
	left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	left join dbo.mPostalAddress as cnead on cnead.Id=cne.AddressId
	left join dbo.mMaterialMaster as mm on mm.Id=cn.MaterialId
	left join dbo.mRouteMaster as rt on rt.Id=cn.ActRouteId
	left join dbo.mCityMaster as fp on fp.Id=rt.FromPlaceId
	left join dbo.mCityMaster as tp on tp.Id=rt.ToPlaceId
	left join dbo.mConstantValue as ctp on ctp.Id=cn.CNTypeId
	where cn.Id=@parameter1
end
GO
