/****** Object:  StoredProcedure [dbo].[Proc_Mob_TRAN_5112_Show]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_TRAN_5112_Show]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_TRAN_5112_Show]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Mob_TRAN_5112_Show]
@parameter1 bigint,--Recordid
@parameter2 bigint--RelatedId
AS
BEGIN
	IF(@parameter2=1663)/*POD*/
	BEGIN
	SELECT DocNo=ISNULL(pod.ReferenceNo,'')+'['+ISNULL(ISNULL(cn.CNNo,vml.TriplogNo),'')+']',DocDate=pod.PODDate,DocType=(CASE WHEN ISNULL(pod.CNId,0)=0 THEN 'Trip based ' ELSE 'CN based ' END)+ 'POD'
	FROM [dbo].[mCNExtraInfo] pod 
	LEFT JOIN [dbo].[tCNMaster] cn on pod.CNId=cn.Id
	LEFT JOIN [dbo].[tVehicleMovementLog] vml on pod.TripLogId=vml.Id
	WHERE pod.Id=@parameter1
	return;
	END

	IF(@parameter2=1671)/*Driver Payment*/
	BEGIN
	SELECT DocNo=ISNULL(tl.VoucherNo,'')+'['+ISNULL(tl.ReferenceNo,'')+']',DocDate=tl.AdvanceDate,DocType='Driver Payment'
	FROM [dbo].[tTripAdvanceLog] tl where tl.Id=@parameter1
	return;
	END

	IF(@parameter2=1341)/*Dues*/
	BEGIN
	SELECT DocNo=ISNULL(dl.VoucherNo,'')+'['+ISNULL(vm.VehicleRegNo,'')+']',DocDate=dl.PaidDate,DocType='Dues'+ISNULL(d.[Name],'')
	FROM [dbo].[tDueTransactionLog] dl
	LEFT JOIN [dbo].[mDueMaster] d on dl.DueTypeId=d.Id
	LEFT JOIN [dbo].[mVehicleMaster] vm on dl.VehicleId=vm.Id
	WHERE dl.id=@parameter1
	return;
	END
	SELECT DocNo='Not Implemented',DocDate=NULL,DocType=ISNULL((SELECT TOP 1 ConstantName FROM [dbo].[mConstantValue] WHERE Id=@parameter2),'')
END
GO
