/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1617_GetStockFromChallan]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1617_GetStockFromChallan]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1617_GetStockFromChallan]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[Proc_TRANS_1617_GetStockFromChallan]
@parameter1 bigint--ChallanId
as
BEGIN
if(ISNULL(@parameter1,0)>0)--Challan Id
begin
    select Id = mm.Id, RefStockLogId = csl.RefStockId, mm.StockLogId, Remark='',
    StockQty = cast(isnull(mm.OutQty,0) as decimal(18,2)), mm.CNId, c.CNNo, AckQty=mm.InQty,
    CNDate = cast(c.CNDate as date), DelvQty=cast(isnull(mm.OutQty,0) as decimal(18,2)), SRVNo='',
    NewInvoiceNo = cln.ChallanNo, NewInvoiceDate=cast(cln.ChallanDate as date),
    InvoiceNo = mm1.InvoiceNo, InvoiceDate = cast(mm1.InvoiceDate as date), PartName = m.Name, PartNo = m.Code,
    CNMMId = mm.CNMMId, RefMMStockLogId = mm.RefStockId, PartId = mm.MaterialId, TempId='', ExciseAmt = mm1.ExciseAmount,
    SalesTax = mm1.ServiceTaxAmount, PerBinQty=CAST(m.QtyPerPkg as int), PONo = mm.Ref1, Indicator = i.Abbr,
    ChallanCNId = mm.ChallanCNId, Source = cln.ViewId, ChallanId = cln.Id
    from 
    tChallanMaster cln 
    join tCNChallan cnl on cnl.ChallanId=cln.Id
    join tCNStockLog csl on csl.ChallanCNId=cnl.Id
    join tCNStockMMLog mm on mm.StockLogId=csl.Id 
    INNER JOIN [dbo].[tCNMaster] AS [c] ON [mm].[CNId] = [c].[Id]	
    LEFT OUTER JOIN [dbo].[tCNMultiMaterial] AS [mm1] ON [mm].[CNMMId] = [mm1].[Id]	
    LEFT OUTER JOIN [dbo].[mMaterialMaster] AS [m] ON [mm].[MaterialId] = [m].[Id]
    LEFT OUTER JOIN [dbo].[mGenericMaster] AS [i] ON [mm1].[Ref1Id] = [i].[Id]
    where cln.Id=@parameter1 
    AND mm.LogTypeId=1454 and 
    cln.TriplogId is null 
end
END

GO
