/****** Object:  StoredProcedure [dbo].[Proc_Report_1340]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1340]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1340]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1340]
	@parameter1 bigint--AccountRoleId
AS
begin
	select 
	[HeadOffice]=ofc.OfficeName,
	[BillingOffice]=bofc.OfficeName,
	x.AccountName,
	x.AccountAbbr,
	x.FleetAcName,
	x.IsAccountImpact,
	ag.GroupName,
	[PartyRole]=pt.ConstantName,
	x.PanNo,
	x.GSTIN,
	x.TINNo,
	x.STNo,
	[CreditNature]=cn.Name,
	x.CreditPeriod,
	x.IsDefaulter,
	x.ReferenceFlag,
	[RateChartName]=rc.Name,
	x.PrintingName,
	x.BankName,
	x.BankAccountName,
	x.BankAccountNo,
	x.BankIFSCCode,
	x.BankAddress,
	Address_c = pa.FullAddress
	from dbo.mLedger as x
	left join dbo.mOfficeMaster as ofc on ofc.Id=x.OfficeId
	left join dbo.mOfficeMaster as bofc on bofc.Id=x.BillingOfficeId
	left join dbo.mAccountGroup as ag on ag.Id=x.GroupId
	left join dbo.mConstantValue as pt on pt.Id=x.AccountRoleID
	left join dbo.mGenericMaster as cn on cn.Id=x.CreditNatureId
	left join dbo.mRateContract as rc on rc.Id=x.ContractId
	left join dbo.mPostalAddress as pa on pa.Id=x.AddressId

	Where 
	(case when @parameter1=0 and AccountRoleID>0 then 1 when (Select count(*) from dbo.mLedgerRole Where RoleId=@parameter1 and LedgerId=x.Id)>0 then 1 else 0 end)=1
	
end
GO
