/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_ShowVTSStatus]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1624_ShowVTSStatus]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_ShowVTSStatus]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_TRANS_1624_ShowVTSStatus]
	@parameter1 bigint, --VehicleNo
	@parameter2 datetime=null, --fromDate
	@parameter3 datetime=null,--ToDate
	@parameter4 int--HireOwn
AS
BEGIN
	Declare @SQL nvarchar(max)= N'SELECT top 100 [Select]=CAST(0 as bit), V.Id, V.StartDate,[CurrentDate]=V.LastAckDate, V.DriverId, Driver=D.DriverName, Delay=CAST(V.DelayMinutes as nvarchar), 
	TimeTaken=CAST((case when V.NextLogId is null then  DateDiff(m,V.StartDate,GetDate())  else  V.ConsumedMinutes end) as nvarchar), TriplogId,[LoadDate]=T.LoadingDate ,
	Triplog=T.TriplogNo, T.PartyId, Party=P.AccountName, StatusId=V.DTSStatusId, Status=DT.Name, LocationId=V.LocationId, Location=L.CityName, V.Remark,[RouteName]=RT.Name
	,GPSLocation=V.GPSLocation, V.NextlogId, PreviouLogId=V.PreviousLogId, V.VehicleId, TimeStampId=V.TimeStamp, DT.DateId, V.IsAuto,[IsInEditMode]=CAST(0 as bit)
	FROM [dbo].[tVTSStatusLog] V
	INNER JOIN [dbo].[mDTSStatus] DT ON V.DTSStatusId=DT.Id
	LEFT JOIN [dbo].[mDriverMaster] D ON V.DriverId=D.Id
	LEFT JOIN [dbo].[tVehicleMovementLog] T ON V.TriplogId=T.Id
	left join dbo.mRouteMaster as RT on RT.Id=T.RouteId
	LEFT JOIN [dbo].[mLedger] P ON T.PartyId=P.Id
	LEFT JOIN [dbo].[mCityMaster] L ON V.LocationId=L.Id where'
	Declare  @where nvarchar(max)=''
		IF(@parameter4=1)
		BEGIN
			SET @where=' V.HireVehicleId='+CAST(@parameter1 as nvarchar)
		END
		else
		begin
			SET @where=' V.VehicleId='+CAST(@parameter1 as nvarchar)
		end

		IF(@parameter2 IS NOT NULL)
		BEGIN
			SET @where=@where +' AND V.StartDate>='''+CONVERT(nvarchar(19),@parameter2,120)+''''
		END
		IF(@parameter3 IS NOT NULL)
		BEGIN
			SET @where=@where +' AND V.StartDate<='''+CONVERT(nvarchar(19),@parameter3,120)+''''
		END

DECLARE @mainsql nvarchar(max)=@sql+@where+' ORDER BY V.StartDate DESC,V.Id desc'
print @mainSQL
exec sp_sqlexec @mainsql
END
GO
