/****** Object:  StoredProcedure [dbo].[Proc_Report_1689]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1689]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1689]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * from mVOucherType where Id in(SELECT distinct VoucherTypeId FROM tBatteryLogExtraInfo)
CREATE PROC [dbo].[Proc_Report_1689]
@parameter1 date,--FromDate
@parameter2 date,--ToDate
@parameter3 bigint,--Vendor
@parameter4 bigint--Office
AS
BEGIN
select SrNo=ROW_NUMBER()OVER(ORDER BY InvoiceDate),VoucherType=vt.VoucherTypeName,[Month],VoucherNo,InvoiceNo,InvoiceDate,Office=o.OfficeName,Vendor=cr.AccountName,DebitLedger=sto.AccountName,d.TaxableAmount,
UnregistredSupplyAmount,IGST,CGST,SGST,TotalGST,RoundUp,TotalBillAmount=NetAmount
from (Select ti.VoucherTypeId,[Month]=FORMAT(ti.VoucherDate,'MMM-yyyy'),
VoucherNo=ti.VoucherNo,
InvoiceNo=(CASE WHEN ''<>ISNULL(ti.VendorReferenceNo,'') THEN ISNULL(ti.VendorReferenceNo,'') ELSE ti.VoucherNo END),
InvoiceDate=CAST(ti.VoucherDate as date),VendorId=ti.CrAccountId,ti.OfficeId,StoreId=ti.DrAccountId,
TaxableAmount=(CASE WHEN tl.IGST+tl.CGST+tl.SGST>0 THEN tl.TaxableAmount ELSE 0 END),
UnregistredSupplyAmount=(CASE WHEN tl.IGST+tl.CGST+tl.SGST=0 THEN tl.TaxableAmount ELSE 0 END),
tl.IGST,tl.CGST,tl.SGST,
TotalGST=tl.IGST+tl.CGST+tl.SGST,
tl.RoundUp,
NetAmount=tl.TaxableAmount+tl.IGST+tl.CGST+tl.SGST+tl.RoundUp
from tTyreLogExtraInfo as ti 
join (SELECT ExtraInfoId,TaxableAmount=SUM(SubTotal+TubeSubTotal+FlapSubTotal),
IGST=SUM(IGSTAmount+TubeIGSTAmount+FlapIGSTAmount),CGST=SUM(CGSTAmount+TubeCGSTAmount+FlapCGSTAmount),
SGST=SUM(SGSTAmount+TubeSGSTAmount+FlapSGSTAmount),
RoundUp=SUM(RoundUpAmount) FROM tTyreLog t GROUP BY ExtraInfoId) as tl on ti.Id=tl.ExtraInfoId
WHERE ti.VoucherTypeId in(27) AND CAST(ti.VoucherDate as date) between @parameter1 and @parameter2
UNION ALL

Select si.VoucherTypeId,[Month]=FORMAT(si.DocDate,'MMM-yyyy'),
VoucherNo=si.DocNo,
InvoiceNo=(CASE WHEN ''<>ISNULL(si.VendorRefNo,'') THEN ISNULL(si.VendorRefNo,'') ELSE si.DocNo END),
InvoiceDate=CAST(si.DocDate as date),VendorId=si.CrAccountId,si.OfficeId,StoreId=si.DrAccountId,
TaxableAmount=(CASE WHEN tl.IGST+tl.CGST+tl.SGST>0 THEN tl.TaxableAmount ELSE 0 END),
UnregistredSupplyAmount=(CASE WHEN tl.IGST+tl.CGST+tl.SGST=0 THEN tl.TaxableAmount ELSE 0 END),
tl.IGST,tl.CGST,tl.SGST,
TotalGST=tl.IGST+tl.CGST+tl.SGST,
tl.RoundUp,
NetAmount=tl.TaxableAmount+tl.IGST+tl.CGST+tl.SGST+tl.RoundUp
from tSpareLogExtraInfo as si 

left join (select ExtraInfoId,TaxableAmount=SUM(SubTotal),
IGST=SUM(IGSTAmount),CGST=SUM(CGSTAmount),
SGST=SUM(SGSTAmount),
RoundUp=SUM(OtherAmount) FROM tSpareLog GROUP BY ExtraInfoId
UNION ALL 
select ExtraInfoId,TaxableAmount=SUM(SubTotal),
IGST=SUM(IGSTAmount),CGST=SUM(CGSTAmount),
SGST=SUM(SGSTAmount),
RoundUp=SUM(OtherAmount) FROM tRepairLabourLog GROUP BY ExtraInfoId) as tl on si.Id=tl.ExtraInfoId
WHERE si.VoucherTypeId in(22,61) AND cast(si.DocDate as date) between @parameter1 and @parameter2

UNION ALL
Select ti.VoucherTypeId,[Month]=FORMAT(ti.DocDate,'MMM-yyyy'),
VoucherNo=ti.DocNo,
InvoiceNo=(CASE WHEN ''<>ISNULL(ti.VendorReferenceNo,'') THEN ISNULL(ti.VendorReferenceNo,'') ELSE ti.DocNo END),
InvoiceDate=CAST(ti.DocDate as date),VendorId=ti.CrAccountId,ti.OfficeId,StoreId=ti.DrAccountId,
TaxableAmount=(CASE WHEN tl.IGST+tl.CGST+tl.SGST>0 THEN tl.TaxableAmount ELSE 0 END),
UnregistredSupplyAmount=(CASE WHEN tl.IGST+tl.CGST+tl.SGST=0 THEN tl.TaxableAmount ELSE 0 END),
tl.IGST,tl.CGST,tl.SGST,
TotalGST=tl.IGST+tl.CGST+tl.SGST,
tl.RoundUp,
NetAmount=tl.TaxableAmount+tl.IGST+tl.CGST+tl.SGST+tl.RoundUp
from tBatteryLogExtraInfo as ti 
join (SELECT ExtraInfoId,TaxableAmount=SUM(SubTotal),
IGST=SUM(IGSTAmount),CGST=SUM(CGSTAmount),
SGST=SUM(SGSTAmount),
RoundUp=SUM(t.OtherAmount) FROM tBatteryLog t GROUP BY ExtraInfoId) as tl on ti.Id=tl.ExtraInfoId
WHERE ti.VoucherTypeId in(43) AND cast(ti.DocDate as date) between @parameter1 and @parameter2) as d
LEFT JOIN mVoucherType vt on d.VoucherTypeId=vt.id
LEFT JOIN mLedger cr ON d.VendorId=cr.Id
LEFT JOIN mLedger sto ON d.StoreId=sto.Id
LEFT JOIN mOfficeMaster o ON o.Id=d.OfficeId
WHERE 1=(CASE WHEN ISNULL(@parameter3,0)=0 THEN 1 WHEN @parameter3=d.VendorId THEN 1 ELSE 0 END)
AND 1=(CASE WHEN ISNULL(@parameter4,0)=0 THEN 1 WHEN @parameter3=d.OfficeId THEN 1 ELSE 0 END)
END
GO
