/****** Object:  StoredProcedure [dbo].[Proc_Report_1462]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1462]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1462]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1462]
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 datetime,--FromDate
@parameter5 datetime--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	t.TriplogNo,
	t.TripStartDate,
	m.VehicleNo,
	RouteName=rm.[Name],
	dvr.DriverName,
	dvr.DriverCode,
	t.UnloadingReachDate,
	t.UnLoadingDate,
	TripNature=TT.ConstantName
	FROM dbo.tVehicleMovementLog AS t
	INNER JOIN dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.Driver1stId ELSE t.OfficeId END)
	LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1stId
	LEFT JOIN dbo.mConstantValue TT ON t.TripNatureId=TT.Id
	LEFT JOIN dbo.mRouteMaster rm on t.RouteId=rm.Id
	WHERE t.SettlementId IS NULL and t.TripTypeId=1158
	AND ((@parameter4 IS NOT NULL AND @parameter5 IS NOT NULL AND  t.TripStartDate Between @parameter4 AND @parameter5) OR  (@parameter4 IS NOT NULL AND @parameter5 IS NULL AND t.TripStartDate>=@parameter4))
	ORDER BY CCO.ObjectName,t.TripStartDate
END
GO
