/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1555_Delete]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1555_Delete]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1555_Delete]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mukesh Rebari
-- Create date: 2017-05-13 11:36 AM
-- Description:	Delete CNStatus
-- =============================================
CREATE PROCEDURE [dbo].[Proc_TRANS_1555_Delete]
	@parameter1 bigint = 0--Primary Key
AS
BEGIN
	SET NOCOUNT ON;
	IF(EXISTS(SELECT 1 FROM [dbo].[tCNDTSStatusLog] WHERE PreviousLogId=@parameter1))
	BEGIN
	RAISERROR('Cannot delete this status as Next Status Exists',11,0)
	RETURN
	END
	UPDATE [dbo].[tCNDTSStatusLog] SET NextLogId=NULL WHERE NextLogId=@parameter1
	DELETE [dbo].[tCNDTSStatusLog] WHERE Id=@parameter1
END
GO
