/****** Object:  StoredProcedure [dbo].[Proc_Report_1511]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1511]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1511]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [Proc_Report_1511] 78,0,0,0,0

CREATE PROC [dbo].[Proc_Report_1511]
	@parameter1 bigint,--OfficeId
	@parameter2 bigint,--@ConsigneeId
	@parameter3 bigint,--@ConsignorId
	@parameter4 bigint,--CNId
	@parameter5 bigint--MMID
as
begin	
	select
	ofc.OfficeName,
	Consignee=cne.FleetAcName,
	Consignor=cnr.FleetAcName,
	VehicleNo=vm.VehicleRegNo,
	LRNo=cn.CNNo,
	LRDate=cn.CNDate,
	LRMaterial=cn.MaterialInfo,
	cnm.InvoiceNo,
	cnm.InvoiceDate,
	ReceivedQty=tt.InQty,
	DisptachQty=isnull(o.DispatchQty,0),
	StockQty=isnull(tt.InQty,0)-isnull(o.DispatchQty,0)
	,t.LogTypeId,
	LRRemark=cn.Remark
	from dbo.tCNStockMMLog as tt 
	join dbo.tCNStockLog as t on t.Id=tt.StockLogId
	join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	left join dbo.tVehicleMovementLog as tl on tl.Id=t.TriplogId
	left join dbo.mconstantvalue as st on st.Id=t.LogTypeId
	left join dbo.mVehicleMaster as vm on vm.Id=tl.VehicleId
	
	
	left join dbo.tCNMultiMaterial as cnm on tt.CNMMId=cnm.Id
	left join dbo.tCNMaster as cn on t.CNId=cn.Id
	left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	left join 
	(
		Select x.RefStockId,Sum(isnull(x.OutQty,0)) as DispatchQty from dbo.tCNStockMMLog as x	group by x.RefStockId
	)as o on o.RefStockId=tt.Id
	where t.OfficeId=@parameter1 and t.LogTypeId in(1422,1455)
	and (case when isnull(@parameter2,0)>0 and cne.Id=@parameter2 then 1 when isnull(@parameter2,0)=0 then 1 else 0 end)=1
	and (case when isnull(@parameter3,0)>0 and cnr.Id=@parameter3 then 1 when isnull(@parameter3,0)=0 then 1 else 0 end)=1
	and (case when isnull(@parameter4,0)>0 and cn.Id=@parameter4 then 1 when isnull(@parameter4,0)=0 then 1 else 0 end)=1
	and (case when isnull(@parameter5,0)>0 and cnm.Id=@parameter5 then 1 when isnull(@parameter5,0)=0 then 1 else 0 end)=1
	order by t.LogDate 
end
GO
