/****** Object:  StoredProcedure [dbo].[Proc_Report_1314]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1314]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1314]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- select * from mObjectcategory
-- Exec Proc_Report_1314 11001,'','','2016-01-01','2017-07-01'
CREATE PROC [dbo].[Proc_Report_1314]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	o.OfficeName,
	[JobNo]=t.TriplogNo,
	[JobDate]=t.TripStartDate,
	VehicleNo=m.VehicleRegNo,
	dvr.DriverName,
	dvr.DriverCode,
	OutDate = t.UnloadingReachDate,
	MeterReading = t.StartKm,
	KmRun = t.KmRun,
	ToDate = t.UnloadingDate,	
	t.Remarks
	FROM dbo.tVehicleMovementLog as t
	INNER JOIN dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId else t.OfficeId end)
	LEFT JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1stId
	left join dbo.mOfficeMaster as o on o.Id=t.OfficeId
	WHERE t.TripStartDate>=@parameter4 and t.TripStartDate<=@parameter5 and t.TripTypeId = 1159
	
	ORDER BY t.TripStartDate
	
END

GO
