/****** Object:  StoredProcedure [dbo].[Proc_Report_1535]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1535]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1535]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC Proc_Report_1535 10015,'','','2015-01-01','2016-12-12'

--SELECT * FROM mObjectCategory

CREATE PROC [dbo].[Proc_Report_1535]
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max)--ToDate
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	m.VehicleNo,
	VehicleModel=vm.ModelName,
	JobNo=t.TriplogNo,
	JobDate=t.TripStartDate,
	dvr.DriverName,
	dvr.DriverCode,
	DriverContactNo=dvr.DriverContactNo1,
	TyreSupervisor=tps.Name,
	MaintenanceSupervisor=mps.Name,
	StartLifeReading=t.StartKm,
	EndLifeReading=t.EndKm,
	AddKm=t.KmRunAdd,
	KmRun=t.TotalKmRun
	FROM dbo.tVehicleMovementLog AS t
	JOIN dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.Driver1stId ELSE t.OfficeId END)
	JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	JOIN dbo.mVehicleModel as vm on vm.Id=m.VehicleModelId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=t.Driver1stId
	LEFT JOIN dbo.mGenericMaster AS tps on tps.Id=t.TyreSupervisorId
	LEFT JOIN dbo.mGenericMaster AS mps on tps.Id=t.RepairSupervisorId
	WHERE t.UnLoadingDate IS NULL and t.TripTypeId=1159
	ORDER BY CCO.ObjectName  
END
GO
