/****** Object:  StoredProcedure [dbo].[Proc_Report_1372]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1372]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1372]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC  [dbo].[Proc_Report_1372] 
--	1372	VTS Status Report
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max)--AccountIds
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	update dbo.tVTSStatuslog set enddate=null where enddate<='01/01/1901'

	SET NOCOUNT ON;
	SELECT 	
	Incharge=CCO.ClassName
	,VehicleNo=v.VehicleRegNo
	,TripMode=case when t.UnLoadingDate is  null then n.Name else '' end	--its
	,Touching=case when t.UnLoadingDate is  null then t.Remarks else '' end--its
	,LoadingDate=case when t.UnLoadingDate is  null then t.LoadingDate else null end
	,ExpTime=case when t.UnLoadingDate is  null then t.ExpTime else null end
	,ETA=t.ExpDeliveryDate
	,CurrentTime=case when t.UnLoadingDate is  null then GETDATE() else null end--its
	,TimeElapsed=case when t.UnLoadingDate is  null then DATEDIFF(hour,t.LoadingDate,GETDATE()) else null end--its
	,RemainingHrs=case when t.UnLoadingDate is  null then t.ExpTime-isnull(DATEDIFF(hour,t.LoadingDate,GETDATE()),0) else null end
	,Office=ofc.OfficeName
	,VehicleNo=v.VehicleRegNo
	,VehicleSize=vt.Name

	,StatusName=dts.Name
	,StatusDate=convert(nvarchar(10),vts.StartDate,103) +'  ' +convert(nvarchar(10),vts.StartDate,108)
	,StatusLocation=ctv.CityName
	,GPSVendor=gps.FleetAcName
	,TripNo=case when t.UnLoadingDate is null then t.TriplogNo else '' end
	,TripDate=case when t.UnLoadingDate is null then convert(nvarchar(10),t.TripStartDate,103) +'  ' +convert(nvarchar(10),t.TripStartDate,108) else null end
	,Party=case when t.UnLoadingDate is  null then bp.FleetAcName else '' end
	,RouteName=case when t.UnLoadingDate is  null then rt.Name else '' end
	,FromPlace=case when t.UnLoadingDate is  null then fp.CityName else '' end
	,ToPlace=case when t.UnLoadingDate is  null then tp.CityName else '' end
	,TotalKmRun=case when t.UnLoadingDate is  null then t.TotalKmRun else null end
	,Remark=vts.Remark
	,CU=csu.UserName
	,DOE=convert(nvarchar(10),vts.CDOE,103) +'  ' +convert(nvarchar(10),vts.CDOE,108)
	,MU=msu.UserName
	,DOM=convert(nvarchar(10),vts.MDOE,103) +'  ' +convert(nvarchar(10),vts.MDOE,108)
	from dbo.tVTSStatusLog vts 
	join dbo.tVehicleMovementLog as t on vts.TriplogId=t.Id	
	left join dbo.mGenericMaster as n on n.Id=t.TripModeId
	join dbo.mVehicleMaster as v on v.Id=t.VehicleId	
	join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1130 then  t.VehicleId else t.PartyId end)
	left join dbo.mGenericMaster as vt on vt.Id=v.VehicleTypeId
	left join dbo.mLedger as bp on bp.Id=t.PartyId
	left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
	left join dbo.mCityMaster as fp on fp.Id=rt.FromPlaceId
	left join dbo.mCityMaster as tp on tp.Id=rt.ToPlaceId
	left join dbo.mCityMaster as ctv on ctv.Id=vts.LocationId
	left join dbo.mDTSStatus as dts on dts.Id=vts.DTSStatusId
	left join dbo.mLedger as gps on gps.Id=v.GPSVendorId
	left join ApiSessions as cs on cs.Id=vts.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	left join ApiSessions as ms on ms.Id=vts.MSID
	left join dbo.ApiUsers as msu on msu.Id=ms.UserId
	where isnull(vts.NextLogId,0)=0
	
END

--delete from dbo.mreportparams where id in(322,321)
GO
