/****** Object:  StoredProcedure [dbo].[Proc_Report_1691]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1691]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1691]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	exec Proc_Report_Sanjay2 '2017-06-01','2018-12-01',3632,0,2
CREATE proc [dbo].[Proc_Report_1691]
	@parameter1 date,
	@parameter2 date,
	@parameter3 bigint, ---Customerwise
	@parameter4 bigint, ---Plant
	@parameter5 bigint ---1:1 Daily,2:Monthly
as
begin
/*Simple Substraction of dates without any plus one and minus one*/
/**/
	if(@parameter5=1)
	begin
		select 
		GroupValue1=l.AccountName
		,GroupValue2=ct.CityName
		,Particulars='Idle Waiting     '
		,ReportingDate=t.UnloadDate
		,[1]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),1) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),1) then 1 else 0 end
		,[2]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),2) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),2) then 1 else 0 end
		,[3]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),3) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),3) then 1 else 0 end
		,[4]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),4) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),4) then 1 else 0 end
		,[5]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),5) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),5) then 1 else 0 end
		,[6]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),6) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),6) then 1 else 0 end
		,[7]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),7) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),7) then 1 else 0 end
		,[8]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),8) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),8) then 1 else 0 end
		,[9]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),9) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),9) then 1 else 0 end
		,[10]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),10) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),10) then 1 else 0 end
		,[11]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),11) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),11) then 1 else 0 end
		,[12]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),12) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),12) then 1 else 0 end
		,[13]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),13) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),13) then 1 else 0 end
		,[14]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),14) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),14) then 1 else 0 end
		,[15]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),15) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),15) then 1 else 0 end
		,[16]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),16) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),16) then 1 else 0 end
		,[17]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),17) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),17) then 1 else 0 end
		,[18]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),18) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),18) then 1 else 0 end
		,[19]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),19) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),19) then 1 else 0 end
		,[20]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),20) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),20) then 1 else 0 end
		,[21]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),21) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),21) then 1 else 0 end
		,[22]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),22) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),22) then 1 else 0 end
		,[23]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),23) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),23) then 1 else 0 end
		,[24]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),24) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),24) then 1 else 0 end
		,[25]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),25) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),25) then 1 else 0 end
		,[26]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),26) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),26) then 1 else 0 end
		,[27]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),27) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),27) then 1 else 0 end
		,[28]=case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),28) and  tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),28) then 1 else 0 end
		,[29]=case when Day(EOMONTH(t.StartDate))>=29 then case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),29) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),29) then 1 else 0 end else 0 end
		,[30]=case when Day(EOMONTH(t.StartDate))>=30 then case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),30) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),30) then 1 else 0 end else 0 end
		,[31]=case when Day(EOMONTH(t.StartDate))>=31 then case when t.UnloadDate<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),31) and tt.NextDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),31) then 1 else 0 end else 0 end
		into #tmp_1
		from dbo.tVehiclemovementlog as o
		join dbo.mLedger as l on l.ID=o.PartyId		
		join (
			select row_number()over(partition by t.vehicleid order by t.TripStartDate) as rowid,t.VehicleId,t.Id,UnloadDate=cast(t.UnloadingDate as date) ,StartDate=case when cast(t.UnloadingDate as date)<@parameter1 then @parameter1 else cast(t.UnloadingDate as date) end
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as t on o.Id=t.Id
		left join (
			select row_number()over(partition by t.vehicleid order by t.TripStartDate) as rowid,NextDate=cast(t.TripStartDate as date),t.* 
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as tt on t.VehicleId=tt.VehicleId and t.rowid=tt.rowid-1 
		left join dbo.mRouteMaster as rt on rt.Id=o.RouteId
		left join dbo.mCityMaster as ct on ct.Id=rt.FromplaceId
		where datediff(day,t.UnloadDate,tt.NextDate)>=1 
		and (cast(t.UnloadDate as date) between @parameter1 and @parameter2)
		and (case when @parameter3=0 then 1 when o.PartyId=@parameter3 then 1 else 0 end)=1
		and (case when @parameter4=0 then 1 when rt.FromPlaceId=@parameter4 then 1 else 0 end)=1

		insert into #tmp_1
		select 
		GroupValue1=l.AccountName
		,GroupValue2=ct.CityName
		,Particulars='Loading Waiting'
		,ReportingDate=t.LRD
		,[1]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),1) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),1) then 1 else 0 end
		,[2]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),2) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),2) then 1 else 0 end
		,[3]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),3) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),3) then 1 else 0 end
		,[4]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),4) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),4) then 1 else 0 end
		,[5]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),5) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),5) then 1 else 0 end
		,[6]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),6) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),6) then 1 else 0 end
		,[7]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),7) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),7) then 1 else 0 end
		,[8]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),8) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),8) then 1 else 0 end
		,[9]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),9) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),9) then 1 else 0 end
		,[10]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),10) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),10) then 1 else 0 end
		,[11]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),11) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),11) then 1 else 0 end
		,[12]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),12) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),12) then 1 else 0 end
		,[13]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),13) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),13) then 1 else 0 end
		,[14]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),14) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),14) then 1 else 0 end
		,[15]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),15) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),15) then 1 else 0 end
		,[16]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),16) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),16) then 1 else 0 end
		,[17]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),17) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),17) then 1 else 0 end
		,[18]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),18) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),18) then 1 else 0 end
		,[19]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),19) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),19) then 1 else 0 end
		,[20]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),20) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),20) then 1 else 0 end
		,[21]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),21) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),21) then 1 else 0 end
		,[22]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),22) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),22) then 1 else 0 end
		,[23]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),23) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),23) then 1 else 0 end
		,[24]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),24) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),24) then 1 else 0 end
		,[25]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),25) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),25) then 1 else 0 end
		,[26]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),26) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),26) then 1 else 0 end
		,[27]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),27) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),27) then 1 else 0 end
		,[28]=case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),28) and  t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),28) then 1 else 0 end
		,[29]=case when Day(EOMONTH(t.StartDate))>=29 then case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),29) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),29) then 1 else 0 end else 0 end
		,[30]=case when Day(EOMONTH(t.StartDate))>=30 then case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),30) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),30) then 1 else 0 end else 0 end
		,[31]=case when Day(EOMONTH(t.StartDate))>=31 then case when t.LRD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),31) and t.LoadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),31) then 1 else 0 end else 0 end
		from dbo.tVehiclemovementlog as o
		join dbo.mLedger as l on l.ID=o.PartyId
		join (
			select t.*,LRD=cast(t.LoadingReachDate as date),StartDate=cast(t.LoadingReachDate as date)
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as t on o.Id=t.Id	
		left join dbo.mRouteMaster as rt on rt.Id=o.RouteId
		left join dbo.mCityMaster as ct on ct.Id=rt.FromplaceId
		where t.TripNatureId=1075 and datediff(day,t.LRD,t.LoadingDate)>=1 
		and (cast(t.LRD as date) between @parameter1 and @parameter2)
		and (case when @parameter3=0 then 1 when o.PartyId=@parameter3 then 1 else 0 end)=1
		and (case when @parameter4=0 then 1 when rt.FromPlaceId=@parameter4 then 1 else 0 end)=1

		insert into #tmp_1
		select 
		GroupValue1=l.AccountName
		,GroupValue2=ct.CityName
		,Particulars='Unloading Waiting'
		,ReportingDate=t.URD
		,[1]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),1) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),1) then 1 else 0 end
		,[2]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),2) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),2) then 1 else 0 end
		,[3]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),3) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),3) then 1 else 0 end
		,[4]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),4) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),4) then 1 else 0 end
		,[5]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),5) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),5) then 1 else 0 end
		,[6]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),6) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),6) then 1 else 0 end
		,[7]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),7) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),7) then 1 else 0 end
		,[8]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),8) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),8) then 1 else 0 end
		,[9]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),9) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),9) then 1 else 0 end
		,[10]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),10) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),10) then 1 else 0 end
		,[11]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),11) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),11) then 1 else 0 end
		,[12]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),12) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),12) then 1 else 0 end
		,[13]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),13) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),13) then 1 else 0 end
		,[14]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),14) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),14) then 1 else 0 end
		,[15]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),15) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),15) then 1 else 0 end
		,[16]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),16) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),16) then 1 else 0 end
		,[17]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),17) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),17) then 1 else 0 end
		,[18]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),18) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),18) then 1 else 0 end
		,[19]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),19) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),19) then 1 else 0 end
		,[20]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),20) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),20) then 1 else 0 end
		,[21]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),21) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),21) then 1 else 0 end
		,[22]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),22) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),22) then 1 else 0 end
		,[23]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),23) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),23) then 1 else 0 end
		,[24]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),24) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),24) then 1 else 0 end
		,[25]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),25) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),25) then 1 else 0 end
		,[26]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),26) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),26) then 1 else 0 end
		,[27]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),27) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),27) then 1 else 0 end
		,[28]=case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),28) and  t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),28) then 1 else 0 end
		,[29]=case when Day(EOMONTH(t.StartDate))>=29 then case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),29) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),29) then 1 else 0 end else 0 end
		,[30]=case when Day(EOMONTH(t.StartDate))>=30 then case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),30) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),30) then 1 else 0 end else 0 end
		,[31]=case when Day(EOMONTH(t.StartDate))>=31 then case when t.URD<DATEFROMPARTS(year(t.StartDate),month(t.StartDate),31) and t.UnloadingDate>DATEFROMPARTS(year(t.StartDate),month(t.StartDate),31) then 1 else 0 end else 0 end
		from dbo.tVehiclemovementlog as o
		join dbo.mLedger as l on l.ID=o.PartyId
		join (
			select t.*,URD=cast(t.UnloadingReachDate as date) ,StartDate=cast(t.UnloadingReachDate as date)
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as t on o.Id=t.Id	
		left join dbo.mRouteMaster as rt on rt.Id=o.RouteId
		left join dbo.mCityMaster as ct on ct.Id=rt.FromplaceId
		where 
		(cast(t.URD as date) between @parameter1 and @parameter2)
		and (case when @parameter3=0 then 1 when o.PartyId=@parameter3 then 1 else 0 end)=1
		and (case when @parameter4=0 then 1 when rt.FromPlaceId=@parameter4 then 1 else 0 end)=1		

		select GroupValue1=case when isnull(@parameter3,0)>0 then GroupValue1 else '' end,GroupValue2=case when isnull(@parameter4,0)>0 then GroupValue2 else '' end,ReportingYear=Year(ReportingDate),ReportingMonth=Month(ReportingDate),Particulars 
		,[1]=sum([1])	,[2]=sum([2])	,[3]=sum([3])	,[4]=sum([4])	,[5]=sum([5])	,[6]=sum([6])	,[7]=sum([7])
		,[8]=sum([8])	,[9]=sum([9])	,[10]=sum([10])	,[11]=sum([11])	,[12]=sum([12])	,[13]=sum([13])	,[14]=sum([14])
		,[15]=sum([15])	,[16]=sum([16])	,[17]=sum([17])	,[18]=sum([18])	,[19]=sum([19])	,[20]=sum([20])	,[21]=sum([21])
		,[22]=sum([22])	,[23]=sum([23])	,[24]=sum([24])	,[25]=sum([25])	,[26]=sum([26])	,[27]=sum([27])	,[28]=sum([28])
		,[29]=sum([29])	,[30]=sum([30])	,[31]=sum([31])
	
		from #tmp_1 group by case when isnull(@parameter3,0)>0 then GroupValue1 else '' end,case when isnull(@parameter4,0)>0 then GroupValue2 else '' end,Particulars,Year(ReportingDate),Month(ReportingDate)
		order by GroupValue1,GroupValue2,Year(ReportingDate),Month(ReportingDate),Particulars
		drop table #tmp_1
	end
	else
	begin
		select 
		GroupValue1=l.AccountName
		,GroupValue2=ct.CityName
		,Particulars='Idle Waiting     '
		,m.VehicleNo
		,StartDate=t.UnloadDate
		,tt.NextDate
		,[1]=case when Year(t.UnloadDate)*100+1 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),1,1) then DATEFROMPARTS(year(t.UnloadDate),1,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),1,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),1,1))) else tt.NextDate end)) else 0 end
		,[2]=case when Year(t.UnloadDate)*100+2 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),2,1) then DATEFROMPARTS(year(t.UnloadDate),2,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),2,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),2,1))) else tt.NextDate end)) else 0 end
		,[3]=case when Year(t.UnloadDate)*100+3 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),3,1) then DATEFROMPARTS(year(t.UnloadDate),3,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),3,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),3,1))) else tt.NextDate end)) else 0 end
		,[4]=case when Year(t.UnloadDate)*100+4 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),4,1) then DATEFROMPARTS(year(t.UnloadDate),4,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),4,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),4,1))) else tt.NextDate end)) else 0 end
		,[5]=case when Year(t.UnloadDate)*100+5 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),5,1) then DATEFROMPARTS(year(t.UnloadDate),5,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),5,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),5,1))) else tt.NextDate end)) else 0 end
		,[6]=case when Year(t.UnloadDate)*100+6 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),6,1) then DATEFROMPARTS(year(t.UnloadDate),6,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),6,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),6,1))) else tt.NextDate end)) else 0 end
		,[7]=case when Year(t.UnloadDate)*100+7 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),7,1) then DATEFROMPARTS(year(t.UnloadDate),7,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),7,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),7,1))) else tt.NextDate end)) else 0 end
		,[8]=case when Year(t.UnloadDate)*100+8 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),8,1) then DATEFROMPARTS(year(t.UnloadDate),8,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),8,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),8,1))) else tt.NextDate end)) else 0 end
		,[9]=case when Year(t.UnloadDate)*100+9 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),9,1) then DATEFROMPARTS(year(t.UnloadDate),9,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),9,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),9,1))) else tt.NextDate end)) else 0 end
		,[10]=case when Year(t.UnloadDate)*100+10 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),10,1) then DATEFROMPARTS(year(t.UnloadDate),10,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),10,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),10,1))) else tt.NextDate end)) else 0 end
		,[11]=case when Year(t.UnloadDate)*100+11 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),11,1) then DATEFROMPARTS(year(t.UnloadDate),11,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),11,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),11,1))) else tt.NextDate end)) else 0 end
		,[12]=case when Year(t.UnloadDate)*100+12 between Year(t.StartDate)*100+Month(t.StartDate) and Year(tt.NextDate)*100+Month(tt.NextDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.UnloadDate),12,1) then DATEFROMPARTS(year(t.UnloadDate),12,1) else t.StartDate end),(case when tt.NextDate>EOMONTH(DATEFROMPARTS(year(t.UnloadDate),12,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.UnloadDate),12,1))) else tt.NextDate end)) else 0 end
		into #tmp_2
		from dbo.tVehiclemovementlog as o
		join dbo.mLedger as l on l.ID=o.PartyId
		join dbo.mVehicleMaster as m on m.ID=o.VehicleId
		join (
			select row_number()over(partition by t.vehicleid order by t.TripStartDate) as rowid,t.VehicleId,t.Id,UnloadDate=cast(t.UnloadingDate as date),StartDate=case when cast(t.UnloadingDate as date)<@parameter1 then @parameter1 else cast(t.UnloadingDate as date) end
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as t on o.Id=t.Id
		left join (
			select row_number()over(partition by t.vehicleid order by t.TripStartDate) as rowid,NextDate=cast(isnull(t.LoadingDate,t.TripStartDate) as date),t.* 
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as tt on t.VehicleId=tt.VehicleId and t.rowid=tt.rowid-1 
		left join dbo.mRouteMaster as rt on rt.Id=o.RouteId
		left join dbo.mCityMaster as ct on ct.Id=rt.FromplaceId
		where 
		(cast(t.UnloadDate as date) between @parameter1 and @parameter2)
		and (case when @parameter3=0 then 1 when o.PartyId=@parameter3 then 1 else 0 end)=1
		and (case when @parameter4=0 then 1 when rt.FromPlaceId=@parameter4 then 1 else 0 end)=1

		insert into #tmp_2
		select 
		GroupValue1=l.AccountName
		,GroupValue2=ct.CityName
		,Particulars='Loading Waiting     '
		,m.VehicleNo
		,t.LRD
		,t.LoadingDate
		,[1]=case when Year(t.LRD)*100+1 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),1,1) then DATEFROMPARTS(year(t.LRD),1,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),1,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),1,1))) else t.LoadingDate end)) else 0 end
		,[2]=case when Year(t.LRD)*100+2 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),2,1) then DATEFROMPARTS(year(t.LRD),2,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),2,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),2,1))) else t.LoadingDate end)) else 0 end
		,[3]=case when Year(t.LRD)*100+3 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),3,1) then DATEFROMPARTS(year(t.LRD),3,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),3,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),3,1))) else t.LoadingDate end)) else 0 end
		,[4]=case when Year(t.LRD)*100+4 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),4,1) then DATEFROMPARTS(year(t.LRD),4,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),4,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),4,1))) else t.LoadingDate end)) else 0 end
		,[5]=case when Year(t.LRD)*100+5 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),5,1) then DATEFROMPARTS(year(t.LRD),5,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),5,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),5,1))) else t.LoadingDate end)) else 0 end
		,[6]=case when Year(t.LRD)*100+6 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),6,1) then DATEFROMPARTS(year(t.LRD),6,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),6,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),6,1))) else t.LoadingDate end)) else 0 end
		,[7]=case when Year(t.LRD)*100+7 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),7,1) then DATEFROMPARTS(year(t.LRD),7,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),7,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),7,1))) else t.LoadingDate end)) else 0 end
		,[8]=case when Year(t.LRD)*100+8 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),8,1) then DATEFROMPARTS(year(t.LRD),8,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),8,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),8,1))) else t.LoadingDate end)) else 0 end
		,[9]=case when Year(t.LRD)*100+9 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),9,1) then DATEFROMPARTS(year(t.LRD),9,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),9,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),9,1))) else t.LoadingDate end)) else 0 end
		,[10]=case when Year(t.LRD)*100+10 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),10,1) then DATEFROMPARTS(year(t.LRD),10,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),10,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),10,1))) else t.LoadingDate end)) else 0 end
		,[11]=case when Year(t.LRD)*100+11 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),11,1) then DATEFROMPARTS(year(t.LRD),11,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),11,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),11,1))) else t.LoadingDate end)) else 0 end
		,[12]=case when Year(t.LRD)*100+12 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.LoadingDate)*100+Month(t.LoadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.LRD),12,1) then DATEFROMPARTS(year(t.LRD),12,1) else t.StartDate end),(case when t.LoadingDate>EOMONTH(DATEFROMPARTS(year(t.LRD),12,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.LRD),12,1))) else t.LoadingDate end)) else 0 end
		from dbo.tVehiclemovementlog as o
		join dbo.mLedger as l on l.ID=o.PartyId
		join dbo.mVehicleMaster as m on m.ID=o.VehicleId		
		join (
			select t.TripNatureId,t.VehicleId,t.Id,LRD=cast(t.LoadingReachDate as date),StartDate=case when cast(t.LoadingReachDate as date)<@parameter1 then @parameter1 else cast(t.LoadingReachDate as date) end,t.LoadingDate
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as t on o.Id=t.Id 
		left join dbo.mRouteMaster as rt on rt.Id=o.RouteId
		left join dbo.mCityMaster as ct on ct.Id=rt.FromplaceId
		where t.TripNatureId=1075 
		and (cast(t.LRD as date) between @parameter1 and @parameter2)
		and (case when @parameter3=0 then 1 when o.PartyId=@parameter3 then 1 else 0 end)=1
		and (case when @parameter4=0 then 1 when rt.FromPlaceId=@parameter4 then 1 else 0 end)=1

		insert into #tmp_2
		select 
		GroupValue1=l.AccountName
		,GroupValue2=ct.CityName
		,Particulars='Unloading Waiting     '
		,m.VehicleNo
		,t.URD
		,t.UnloadingDate
		,[1]=case when Year(t.URD)*100+1 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),1,1) then DATEFROMPARTS(year(t.URD),1,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),1,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),1,1))) else t.UnloadingDate end))-1 else 0 end
		,[2]=case when Year(t.URD)*100+2 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),2,1) then DATEFROMPARTS(year(t.URD),2,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),2,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),2,1))) else t.UnloadingDate end))-1 else 0 end
		,[3]=case when Year(t.URD)*100+3 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),3,1) then DATEFROMPARTS(year(t.URD),3,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),3,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),3,1))) else t.UnloadingDate end))-1 else 0 end
		,[4]=case when Year(t.URD)*100+4 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),4,1) then DATEFROMPARTS(year(t.URD),4,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),4,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),4,1))) else t.UnloadingDate end))-1 else 0 end
		,[5]=case when Year(t.URD)*100+5 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),5,1) then DATEFROMPARTS(year(t.URD),5,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),5,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),5,1))) else t.UnloadingDate end))-1 else 0 end
		,[6]=case when Year(t.URD)*100+6 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),6,1) then DATEFROMPARTS(year(t.URD),6,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),6,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),6,1))) else t.UnloadingDate end))-1 else 0 end
		,[7]=case when Year(t.URD)*100+7 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),7,1) then DATEFROMPARTS(year(t.URD),7,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),7,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),7,1))) else t.UnloadingDate end))-1 else 0 end
		,[8]=case when Year(t.URD)*100+8 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),8,1) then DATEFROMPARTS(year(t.URD),8,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),8,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),8,1))) else t.UnloadingDate end))-1 else 0 end
		,[9]=case when Year(t.URD)*100+9 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),9,1) then DATEFROMPARTS(year(t.URD),9,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),9,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),9,1))) else t.UnloadingDate end))-1 else 0 end
		,[10]=case when Year(t.URD)*100+10 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),10,1) then DATEFROMPARTS(year(t.URD),10,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),10,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),10,1))) else t.UnloadingDate end))-1 else 0 end
		,[11]=case when Year(t.URD)*100+11 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),11,1) then DATEFROMPARTS(year(t.URD),11,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),11,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),11,1))) else t.UnloadingDate end))-1 else 0 end
		,[12]=case when Year(t.URD)*100+12 between Year(t.StartDate)*100+Month(t.StartDate) and Year(t.UnloadingDate)*100+Month(t.UnloadingDate)  then datediff(day,(case when t.StartDate<DATEFROMPARTS(year(t.URD),12,1) then DATEFROMPARTS(year(t.URD),12,1) else t.StartDate end),(case when t.UnloadingDate>EOMONTH(DATEFROMPARTS(year(t.URD),12,1)) then DateAdd(day,1,EOMONTH(DATEFROMPARTS(year(t.URD),12,1))) else t.UnloadingDate end))-1 else 0 end
		from dbo.tVehiclemovementlog as o
		join dbo.mLedger as l on l.ID=o.PartyId
		join dbo.mVehicleMaster as m on m.ID=o.VehicleId
		
		join (
			select t.TripNatureId,t.VehicleId,t.Id,URD=cast(t.UnloadingReachDate as date),StartDate=case when cast(t.UnloadingReachDate as date)<@parameter1 then @parameter1 else cast(t.LoadingReachDate as date) end,t.UnLoadingDate
			from dbo.tVehiclemovementlog as t where t.VehicleID>0
		)as t on o.Id=t.Id 
		left join dbo.mRouteMaster as rt on rt.Id=o.RouteId
		left join dbo.mCityMaster as ct on ct.Id=rt.FromplaceId
		where t.TripNatureId=1075 
		and (cast(t.URD as date) between @parameter1 and @parameter2)
		and (case when @parameter3=0 then 1 when o.PartyId=@parameter3 then 1 else 0 end)=1
		and (case when @parameter4=0 then 1 when rt.FromPlaceId=@parameter4 then 1 else 0 end)=1

		--select * from #tmp_2 order by GroupValue1,Particulars,startdate
		select GroupValue1=case when isnull(@parameter3,0)>0 then GroupValue1 else '' end,GroupValue2=case when isnull(@parameter4,0)>0 then GroupValue2 else '' end,ReportingYear=Year(StartDate),ReportingMonth=Month(StartDate) ,Particulars
		,[1]=sum([1])	,[2]=sum([2])	,[3]=sum([3])	,[4]=sum([4])	,[5]=sum([5])	,[6]=sum([6])	,[7]=sum([7])
		,[8]=sum([8])	,[9]=sum([9])	,[10]=sum([10])	,[11]=sum([11])	,[12]=sum([12])	
		from #tmp_2 group by case when isnull(@parameter3,0)>0 then GroupValue1 else '' end,case when isnull(@parameter4,0)>0 then GroupValue2 else '' end,Particulars,Year(StartDate),Month(StartDate)
		order by GroupValue1,GroupValue2,Year(StartDate),Month(StartDate),Particulars
		drop table #tmp_2
	end
end

GO
