/****** Object:  StoredProcedure [dbo].[Proc_Report_1635]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1635]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1635]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----1635	1635	F	Loan Register
----1636	1636	F	Monthly EMI Alert
----1637	1637	F	Loan Repayment Register

CREATE PROC [dbo].[Proc_Report_1635]
	--1635	1635	F	Loan Register
	@parameter1 bigint,--Financer
	@parameter2 nvarchar(max),--FromDate
	@parameter3 nvarchar(max)--ToDate
As
BEGIN
	SET NOCOUNT ON;
	
	SELECT 
	o.OfficeName,
	ln.LoanNo,
	ln.LoanDate,
	NoofVehicles=ll.NoofVehicles,
	Financer=cr.FleetAcName,
	PaidTo=dr.FleetAcName,
	ln.LoanTenure,
	ln.NoofEMI,		
	ln.RateOfInterest,
	ln.PrincipalAmount,
	ln.InterestAmount,
	ln.InstallmentAmount,
	ln.NoofInstallment,
	ln.FirstInstallmentDate,
	ln.PrecloserDate,
	ln.Remarks
	from dbo.tLoan as ln
	join dbo.mOfficeMaster as o on o.Id=ln.OfficeId
	join dbo.mLedger as cr on cr.Id=ln.CreditAcId
	join dbo.mLedger as dr on dr.Id=ln.DebitAcId
	left join
	(
		Select LoanId,count(distinct VehicleId) as NoofVehicles from dbo.tLoanLog as ll group by LoanId
	)as ll on ln.Id=ll.LoanId
	WHERE ln.TypeId=1552 and (cast(ln.LoanDate as date) between @parameter2 and @parameter3 )
	and (case when @parameter1=0 then 1 when ln.CreditAcId=@parameter1 then 1 else 0 end)=1
	ORDER BY ln.LoanDate
END
GO
