/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_ApplyTLDateLogic]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1624_ApplyTLDateLogic]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_ApplyTLDateLogic]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1624_ApplyTLDateLogic]
@parameter1 bigint,--statuslogid
@parameter2 bigint,--TripLogId
@parameter3 bigint,--DateId
@parameter4 bigint=0,--NextStatusId
@parameter5 bigint=0,--NextStatusDateId
@parameter6 int=1--VTSStatus Action 1:Create,2:Update,3:Delete
AS
/*Used In WebApi on VTSStatusLogsController to Run Date Logic after Creating or Update VTS Status*/
/*Dont use Begin Transaction because web api will execute this proc under ReadCommited Isolation Transaction*/
/*You can through error from here and the transaction started by api would be rolled back*/
BEGIN
	DECLARE @TripTypeId bigint,@TripNatureId int
	DECLARE @Id bigint=@parameter1;
	SELECT TOP 1 @TripTypeId=TripTypeId,@TripNatureId=TripNatureId FROM [dbo].[tVehicleMovementLog] WHERE Id=@parameter2
	IF(@parameter3 in(1523,1528,1530,1531))
	BEGIN
		RAISERROR('This Status is not allowed from this Form',11,0)
		RETURN
	END
	IF(@parameter6 in(1,2))--StatusLog Created/Updated
	BEGIN
		/* VTS Status Date Logic when status updated or created will be written here*/
		DECLARE @StatusDate datetime
		SELECT @StatusDate=StartDate FROM tVTSStatusLog WHERE Id=@parameter1
		IF(@parameter3=1524 AND @parameter2>0)--Loading Point IN
		BEGIN
			UPDATE tVehicleMovementLog SET LoadingReachDate=@StatusDate WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1525 AND @parameter2>0)--Loading Point Out
		BEGIN
			UPDATE tVehicleMovementLog SET LoadingDate=@StatusDate,LoadingReachDate=(case when LoadingReachDate is null then DateAdd(Minute,1,TripStartDate) else LoadingReachDate end) WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1526 AND @parameter2>0)--UnLoading Point IN
		BEGIN
			UPDATE tVehicleMovementLog SET UnloadingReachDate=@StatusDate WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1529 AND @parameter2>0)--EmptyEnd
		BEGIN
			UPDATE tVehicleMovementLog SET UnLoadingDate=@StatusDate,UnloadingReachDate=null,LoadingDate=null,LoadingReachDate=null WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1542 AND @parameter2>0)--Cancelled
		BEGIN
			if(@TripNatureId=1076)--empty trip
			begin
				UPDATE tVehicleMovementLog SET UnLoadingDate=@StatusDate,UnloadingReachDate=null,LoadingDate=null,LoadingReachDate=null WHERE Id=@parameter2
			end
			else
			begin
				UPDATE tVehicleMovementLog SET UnloadingReachDate=ISNULL(UnloadingReachDate,@StatusDate),UnLoadingDate=@StatusDate,LoadingReachDate=ISNULL(LoadingReachDate,TripStartDate),LoadingDate=ISNULL(LoadingDate,TripStartDate) WHERE Id=@parameter2
			end
		END
		ELSE IF(@parameter3=1543 AND @parameter2>0)--Terminate
		BEGIN
			if(@TripNatureId=1076)--empty trip
			begin
				UPDATE tVehicleMovementLog SET UnLoadingDate=@StatusDate,UnloadingReachDate=null,LoadingDate=null,LoadingReachDate=null WHERE Id=@parameter2
			end
			else
			begin
				UPDATE tVehicleMovementLog SET UnloadingReachDate=ISNULL(UnloadingReachDate,@StatusDate),UnLoadingDate=@StatusDate,LoadingReachDate=ISNULL(LoadingReachDate,TripStartDate),LoadingDate=ISNULL(LoadingDate,TripStartDate) WHERE Id=@parameter2
			end
		END
		ELSE IF(@parameter3=1544 AND @parameter2>0)--Transhipment
		BEGIN
			UPDATE tVehicleMovementLog SET UnloadingReachDate=ISNULL(UnloadingReachDate,@StatusDate),UnLoadingDate=@StatusDate,LoadingReachDate=ISNULL(LoadingReachDate,TripStartDate),LoadingDate=ISNULL(LoadingDate,TripStartDate) WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1527 AND @parameter2>0)--UnLoading Point Out
		BEGIN
			UPDATE tVehicleMovementLog SET UnLoadingDate=@StatusDate WHERE Id=@parameter2
			IF(EXISTS(Select Id FROM [dbo].[tCNChallan] WHERE TriplogId=@parameter2))--Check if CN are attached to TripLog
			BEGIN				
				IF(@TripTypeId in(1160,1158))--TripLog and HireSlip
				BEGIN
					UPDATE [dbo].[tCNChallan] SET ArrivalDate=@StatusDate,ArrivalQty=Qty WHERE TriplogId=@parameter2
					UPDATE [dbo].[tCNStockLog] SET LogTypeId=1422,InQty=OutQty,LogDate=@StatusDate WHERE TriplogId=@parameter2 AND LogTypeId=1424
					UPDATE [dbo].[tCNStockMMLog] SET LogTypeId=1422,InQty=OutQty,LogDate=@StatusDate WHERE TriplogId=@parameter2 AND LogTypeId=1424
				END
				IF(@TripTypeId in(1453))--Local Delivery
				BEGIN
					UPDATE [dbo].[tCNChallan] SET ArrivalDate=@StatusDate,ArrivalQty=Qty WHERE TriplogId=@parameter2
					UPDATE [dbo].[tCNStockLog] SET LogTypeId=1425,InQty=OutQty,LogDate=@StatusDate WHERE TriplogId=@parameter2 AND LogTypeId=1451
					UPDATE [dbo].[tCNStockMMLog] SET LogTypeId=1425,InQty=OutQty,LogDate=@StatusDate WHERE TriplogId=@parameter2 AND LogTypeId=1451
				END
			END
		END
	END
	IF(@parameter6=3)--StatusLog  Deleted
	BEGIN	
	/* VTS Status Date Logic when status deleted will be written here*/
		IF(@parameter3=1524 AND @parameter2>0)--Loading Point IN
		BEGIN
			UPDATE tVehicleMovementLog SET LoadingReachDate=NULL WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1525 AND @parameter2>0)--Loading Point Out
		BEGIN
			UPDATE tVehicleMovementLog SET LoadingDate=NULL WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1526 AND @parameter2>0)--UnLoading Point IN
		BEGIN
			UPDATE tVehicleMovementLog SET UnloadingReachDate=NULL WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1529 AND @parameter2>0)--EmptyEnd
		BEGIN
			UPDATE tVehicleMovementLog SET UnloadingReachDate=NULL,UnLoadingDate=NULL WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1542 AND @parameter2>0)--Cancelled
		BEGIN
			UPDATE tVehicleMovementLog SET UnloadingReachDate=NULL,UnLoadingDate=NULL WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1543 AND @parameter2>0)--Terminate
		BEGIN
			UPDATE tVehicleMovementLog SET UnloadingReachDate=NULL,UnLoadingDate=NULL WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1544 AND @parameter2>0)--Transhipment
		BEGIN
			UPDATE tVehicleMovementLog SET UnloadingReachDate=NULL,UnLoadingDate=NULL WHERE Id=@parameter2
		END
		ELSE IF(@parameter3=1527 AND @parameter2>0)--UnLoading Point Out
		BEGIN
			UPDATE tVehicleMovementLog SET UnLoadingDate=NULL WHERE Id=@parameter2
			IF(EXISTS(Select Id FROM [dbo].[tCNChallan] WHERE TriplogId=@parameter2))--Check if CN are attached to TripLog
			BEGIN				
				IF(@TripTypeId in(1160,1158))--TripLog and HireSlip
				BEGIN
				UPDATE [dbo].[tCNChallan] SET ArrivalDate=NULL,ArrivalQty=0 WHERE TriplogId=@parameter2
				UPDATE t  SET LogTypeId=1424,InQty=0,LogDate=(SELECT TOP 1 LogDate FROM [dbo].[tCNStockLog] WHERE Id=t.RefStockId) FROM [dbo].[tCNStockLog] t WHERE TriplogId=@parameter2 AND LogTypeId=1422
				UPDATE t SET LogTypeId=1424,InQty=0,LogDate=(SELECT TOP 1 LogDate FROM [dbo].[tCNStockMMLog] WHERE Id=t.RefStockId) FROM [dbo].[tCNStockMMLog] t WHERE TriplogId=@parameter2 AND LogTypeId=1422
				END
				IF(@TripTypeId in(1453))--Local Delivery
				BEGIN
				UPDATE [dbo].[tCNChallan] SET ArrivalDate=NULL,ArrivalQty=0 WHERE TriplogId=@parameter2
				UPDATE t SET LogTypeId=1451,InQty=0,LogDate=(SELECT TOP 1 ShipmentDate FROM [dbo].[tCNChallan] WHERE Id=t.ChallanCNId) FROM [dbo].[tCNStockLog] t WHERE TriplogId=@parameter2 AND LogTypeId=1425
				UPDATE t SET LogTypeId=1451,InQty=0,LogDate=(SELECT TOP 1 ShipmentDate FROM [dbo].[tCNChallan] WHERE Id=t.ChallanCNId) FROM [dbo].[tCNStockMMLog] t WHERE TriplogId=@parameter2 AND LogTypeId=1425
				END
			END
		END
	END
	IF(@parameter4>0)--If Next Status has to be auto Triggred
	BEGIN
		
		INSERT INTO tVTSStatusLog(Isauto,VehicleId,HireVehicleId,DriverId,DTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId,StatusId,CSID,CDOE,StartDate,LocationId,DelayMinutes,ConsumedMinutes,GPSLocation,EndDate)
		SELECT TOP 1 1, VehicleId,HireVehicleId,DriverId,DTSStatusId=@parameter4,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId=Id,StatusId,CSID,CDOE,StartDate,LocationId,DelayMinutes=0,ConsumedMinutes=0,GPSLocation,NULL
		FROM [dbo].[tVTSStatusLog] WHERE Id=@parameter1
		
		DECLARE @nextIdentity bigint=SCOPE_IDENTITY()		
		UPDATE [dbo].[tVTSStatusLog] SET EndDate=StartDate,ConsumedMinutes=0,NextLogId=@nextIdentity WHERE Id=@parameter1
		
		DECLARE @nextstatus bigint,@nextstatusdateid bigint
		SELECt @nextstatus=NextStatusId,@nextstatusdateid=DateId FROM mDTSStatus WHERE Id=@parameter4
		
		EXEC @Id=[dbo].[Proc_TRANS_1624_ApplyTLDateLogic] @nextIdentity,@parameter2,@parameter5,@nextstatus,@nextstatusdateid,@parameter6--Rerun the Same procedure if NextStatus has Next Status
		
		IF(ISNULL(@Id,0)=0) SET @Id=@nextIdentity
	END
	RETURN @Id
END
GO
