/****** Object:  StoredProcedure [dbo].[Proc_Report_1423]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1423]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1423]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1423]
	@parameter1 datetime,
	@parameter2 datetime,
	@parameter3 int --1:Purchase Date ,2: Scrap Date
as
begin
	declare @StartDate datetime,@EndDate datetime,@DateType int
	set @parameter3=case when @parameter3<=0 then 1 else @parameter3 end

	set nocount on;
	select
	t.*
	,AvgTyreCost = case when t.TyreCount= 0 then  0 else t.TyreCost/t.TyreCount end
    ,AvgScrapCost = case when t.TyreCount= 0 then  0 else t.TyreScrapCost/t.TyreCount end
    ,AvgNetCost = case when t.TyreCount= 0 then  0 else t.TyreNetCost/t.TyreCount end
    ,AvgMileage = case when t.TyreCount= 0 then  0 else t.TyreKmRun/t.TyreCount end
	,CPKMInPaise=cast(((case when isnull(TyreKmRun,0)=0 then 0 else isnull(TyreNetCost,0)/isnull(TyreKmRun,0) end))as decimal(18,3))
	from (
		select 
		bm.BrandName
		,TyreCount=count(tm.Id)		
		,TyreCost=sum(isnull(t.ActaulTyreCost,0))
		,TyreScrapCost = sum(isnull(t.ActualScrapCost,0))
		,TyreNetCost = sum(isnull(t.ActaulTyreCost,0)-isnull(t.ActualScrapCost,0))        
		,TyreKmRun = sum(isnull(t.KmRun,0))
		,TyreUsedMonth = sum(isnull(t.ReceiptMonth,0))
		from dbo.mTyreMaster as tm
		join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
		join dbo.tTyreLog as tt on tt.Id=tm.PurchaseLogId
		join 
		(
			select  tt.TyreId,tt.TyreLife
			,ActaulTyreCost=sum(isnull(tt.ActaulTyreCost,0))
			,ActualScrapCost=sum(isnull(tt.ActualScrapCost,0))
			,KmRun=sum(isnull(tt.KmRun,0))
			,ReceiptMonth=sum(isnull(tt.ReceiptMonth,0))
			from dbo.vwTyreLifeMileage as tt group by tt.TyreId,tt.TyreLife
		)as t on t.TyreId=tm.Id
		where 
		(case when @parameter3=1 and tt.VoucherDate between @parameter1 and @parameter2 and tm.Status_VoucherTypeId = 37 then 1 --Tyre purchase date
		when @parameter3=2 and tm.Status_VoucherDate between @parameter1 and @parameter2 and tm.Status_VoucherTypeId = 37 then 1  --Scrap Types
		else 0 end)=1
		group by bm.BrandName
	)as t 
end
GO
