/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1555_CreateDTSForStockLog]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1555_CreateDTSForStockLog]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1555_CreateDTSForStockLog]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1555_CreateDTSForStockLog]
@parameter1 bigint--stocklogid
AS
BEGIN
	IF(1<>(SELECT TOP 1 CAST([Value] as int) From [dbo].[ApiConfigurations] WHERE [Id]='IsCNTrackEnabled')) RETURN;

	IF(EXISTS(Select 1 FROM [dbo].[tCNDTSStatusLog] WHERE StockLogId=@parameter1))
	BEGIN
	 /*Update Previous Log Id,Qty and LogDate in Current DTS Status Log*/
		UPDATE L SET L.StartDate=T.LogDate,L.Qty=(CASE WHEN T.OutQty>0 THEN T.OutQty ELSE T.InQty END),L.PreviousLogId=TP.Id,L.IsAuto=1
		FROM [dbo].[tCNDTSStatusLog] L
		JOIN [dbo].[tCNStockLog] T ON L.StockLogId=T.Id
		LEFT JOIN [dbo].[tCNDTSStatusLog] TP ON T.RefStockId=TP.StockLogId
		 WHERE T.Id=@parameter1
		 /*Update Consumed Time and Next Log Id in Previous DTS Status Log*/
		UPDATE TP SET TP.EndDate=L.StartDate,TP.NextLogId=L.Id,TP.ConsumedMinutes=DATEDIFF(MINUTE,TP.StartDate,L.StartDate)
		FROM [dbo].[tCNDTSStatusLog] L
		JOIN [dbo].[tCNStockLog] T ON L.StockLogId=T.Id
		LEFT JOIN [dbo].[tCNDTSStatusLog] TP ON T.RefStockId=TP.StockLogId
		WHERE T.Id=@parameter1
	END
	ELSE
	BEGIN
		DECLARE @StatusId bigint,@IsIntialLog bit,@PreviousStatusId bigint,@PreviousDTSLogId bigint,@NextAutoStatusId bigint,@NextAutoStockLogId bigint,@NextDateId bigint
		SELECT @StatusId=ISNULL(D.Id,0),@NextAutoStatusId=ISNULL(D.NextStatusId,0),@PreviousStatusId=ISNULL(SP.StatusId,0),@PreviousDTSLogId=SP.Id,@NextDateId=NM.DateId,@IsIntialLog=(CASE WHEN ISNULL(L.RefStockId,0)=0 AND L.LogTypeId=1422 THEN 1 ELSE 0 END)
		FROM [dbo].[tCNStockLog] L LEFT JOIN [dbo].[mDTSStatus] D ON L.LogTypeId=D.DateId
		LEFT JOIN [dbo].[tCNStockLog] LP ON L.RefStockId=LP.Id
		LEFT JOIN [dbo].[tCNStockLog] LN ON LP.RefStockId=L.Id
		LEFT JOIN [dbo].[tCNDTSStatusLog] SP ON LP.Id=SP.StockLogId
		LEFT JOIN [dbo].[mDTSStatus] NM ON D.NextStatusId=NM.Id
		WHERE L.Id=@parameter1

		IF(@StatusId>0)
		BEGIN
			IF(@IsIntialLog=0 AND 1=(SELECT TOP 1 CAST([Value] as int) From [dbo].[ApiConfigurations] WHERE [Id]='InForceCNStatusOrder') AND NOT EXISTS(SELECT 1 FROM [dbo].[mDTSStatusMap] WHERE CurrentStatusId=@PreviousStatusId AND NextStatusId=@StatusId))
			BEGIN
			RAISERROR('Invalid CN Status Entry Attempt',11,0)
			RETURN
			END
			INSERT INTO [dbo].[tCNDTSStatusLog](CNId,IsAuto,StartDate,OfficeId1,Qty,StatusId,StockLogId,PreviousLogId,ConsumedMinutes,CSID,CDOE)
			SELECT L.CNId,IsAuto=1,StartDate=L.LogDate,OfficeId1=L.OfficeId,Qty=(CASE WHEN L.OutQty > 0 THEN L.OutQty ELSE L.InQty END),StatusId=(CASE WHEN @IsIntialLog=1 THEN 43 ELSE @StatusId END),StockLogId=L.Id,
			PreviousLogId=@PreviousDTSLogId,ConsumedMinutes=0,CSID=L.CSID,CDOE=L.CDOE
			FROM [dbo].[tCNStockLog] L
			WHERE L.Id=@parameter1
			SET @PreviousDTSLogId=SCOPE_IDENTITY();
			IF(@NextAutoStatusId>0)
			BEGIN
				UPDATE P SET P.EndDate=C.StartDate,P.NextLogId=C.Id,P.ConsumedMinutes=DATEDIFF(MINUTE,P.StartDate,C.StartDate)
				FROM [dbo].[tCNDTSStatusLog] C LEFT JOIN [dbo].[tCNDTSStatusLog] P ON C.PreviousLogId=P.Id
				WHERE C.Id=@PreviousDTSLogId

				IF(@NextAutoStockLogId>0)
				BEGIN
				EXEC [dbo].[Proc_TRANS_1555_CreateDTSForStockLog]@NextAutoStockLogId
				END
				ELSE
				BEGIN
				INSERT INTO [dbo].[tCNDTSStatusLog](CNId,IsAuto,StartDate,OfficeId1,Qty,StatusId,StockLogId,PreviousLogId,ConsumedMinutes,CSID,CDOE)
				SELECT L.CNId,IsAuto=1,StartDate=L.LogDate,OfficeId1=L.OfficeId,Qty=(CASE WHEN L.OutQty > 0 THEN L.OutQty ELSE L.InQty END),StatusId=@NextAutoStatusId,StockLogId=L.Id,
				PreviousLogId=@PreviousDTSLogId,ConsumedMinutes=0,CSID=L.CSID,CDOE=L.CDOE
				FROM [dbo].[tCNStockLog] L
				WHERE L.Id=@parameter1
				SET @PreviousDTSLogId=SCOPE_IDENTITY();

				UPDATE P SET P.EndDate=C.StartDate,P.NextLogId=C.Id,P.ConsumedMinutes=DATEDIFF(MINUTE,P.StartDate,C.StartDate)
				FROM [dbo].[tCNDTSStatusLog] C LEFT JOIN [dbo].[tCNDTSStatusLog] P ON C.PreviousLogId=P.Id
				WHERE C.Id=@PreviousDTSLogId
				END
			END
			ELSE
			BEGIN
				UPDATE P SET P.EndDate=C.StartDate,P.NextLogId=C.Id,P.ConsumedMinutes=DATEDIFF(MINUTE,P.StartDate,C.StartDate)
				FROM [dbo].[tCNDTSStatusLog] C LEFT JOIN [dbo].[tCNDTSStatusLog] P ON C.PreviousLogId=P.Id
				WHERE C.Id=@PreviousDTSLogId
			END
		END
	END
END
GO
