/****** Object:  StoredProcedure [dbo].[Proc_Report_1431]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1431]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1431]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1431]
--1431: Tyre Remould Receipt
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate	
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		Office = o.OfficeName,
		DocDate = t.VoucherDate,        
        DocNo = t.VoucherNo,	
		RefNo=ei.VendorReferenceNo,	
		TyreNo = t.TyreNo,
		TyreLife = t.TyreLife,
		BrandName = bm.BrandName,
        Store = dr.FleetAcName,
		Vendor = cr.FleetAcName,
		CarriedCost=isnull(t.TransferPrice,0),
		CGSTAmount=t.CGSTAmount,
		SGSTAmount=t.SGSTAmount,
		IGSTAmount=t.IGSTAmount,
		NetAmount=isnull(t.NetAmount,0) + (case when ei.CalVat=1 then (isnull(t.CGSTAmount,0) +isnull(t.SGSTAmount,0) +isnull(t.IGSTAmount,0)) else 0 end),
		t.Remark,
		[Type]=vt.VoucherTypeName,
		TyreStatus=cv.ConstantName
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLog as t on  CCO.ObjectId=(CASE @RoleId When 1029 THEN  t.DebitAccountId WHEN 1031 THEN t.CreditAccountId end)
	join dbo.tTyreLogExtraInfo as ei on ei.Id=t.ExtraInfoId	
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mTyreMaster as tm on tm.Id=t.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	join dbo.mConstantValue as cv on cv.Id=TyreStatusId
	join dbo.mVoucherType as vt on vt.Id=ei.VoucherTypeId
	left join dbo.tPurchaseOrder as po on po.Id=t.PurchaseOrderId
	left join dbo.mGenericMaster as rm on rm.Id=t.ReasonId
	where cast(t.VoucherDate as date) between @parameter4 and @parameter5 and (t.VoucherTypeId=29)
	order by t.VoucherDate 
end
GO
