/****** Object:  StoredProcedure [dbo].[proc_VRFY_1521_Masters]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[proc_VRFY_1521_Masters]
GO
/****** Object:  StoredProcedure [dbo].[proc_VRFY_1521_Masters]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[proc_VRFY_1521_Masters]
	@parameter1 int,
	@parameter2 nvarchar(max)
as
begin
	if(@parameter1=1)--Ledger
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mLedger as m on (v.Item=m.FleetAcName or v.Item=m.AccountAbbr)
	end
	else if(@parameter1=2)--Material
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mMaterialMaster as m on (v.Item=m.Name or v.Item=m.Code)
	end
	else if(@parameter1=3)--Vehicle
	begin
	select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mVehicleMaster as m on (v.Item=m.VehicleNo or v.Item=m.VehicleRegNo)
	end
	else if(@parameter1=4)--Route
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mRouteMaster as m on (v.Item=m.Name or v.Item=m.Abbr)
	end
	else if(@parameter1=5)--LoadType
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mLoadType as m on (v.Item=m.Name or v.Item=m.Code)
	end
	else if(@parameter1=6)--ServiceTaxPaidBy
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mConstantValue as m on (v.Item=m.ConstantName or v.Item=m.ConstantAbbr) and m.ConstantTypeId=107
	end
	else if(@parameter1=7)--ServiceTaxType
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mTaxServiceType as m on (v.Item=m.Code) --(v.Item=m.Name or v.Item=m.Code)
	end
	else if(@parameter1=8)--RateContract
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mRateContract as m on v.Item=m.Name
	end
	else if(@parameter1=9)--CNType
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mConstantValue as m on (v.Item=m.ConstantName or v.Item=m.ConstantAbbr) and m.ConstantTypeId=102
	end
	else if(@parameter1=10)--MM Indicator
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mGenericMaster as m on (v.Item=m.Name or v.Item=m.Abbr) and m.ConstantId=1466
	end	
	else if(@parameter1=11)--Unit
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mUnitMaster as m on (v.Item=m.UnitName or v.Item=m.Alias)
	end
	else if(@parameter1=12)--Office
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mOfficeMaster as m on (v.Item=m.OfficeName or v.Item=m.OfficeAbbr)
	end
	else if(@parameter1=13)--TransportMode
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mConstantValue as m on (v.Item=m.ConstantName or v.Item=m.ConstantAbbr) and m.ConstantTypeId=114
	end
	else if(@parameter1=14)--Triplog
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.tVehicleMovementLog as m on v.Item=m.TriplogNo
	end
	else if(@parameter1=15)--ViewId
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.ApiViews as m on (v.Item=m.Id or v.Item=m.Name)
	end
	else if(@parameter1=16)-- Stationary page Verification
	begin
	select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mBookLog as m on (v.Item=m.Id or v.Item=m.PageNo)
	end
	else if(@parameter1=17)--Driver
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mDriverMaster as m on (v.Item=m.DriverName or v.Item=m.DriverCode)
	end	
	else if(@parameter1=18)--InvoiceNo
	begin
	SELECT DISTINCT Id=cn.Id,Name=('['+ISNULL(v.Item,'')+' in '+ISNULL(cn.CNNo,'')+']') from dbo.tCNMultiMaterial mm join dbo.SplitString_NEW(@parameter2,'^') as v on v.Item=mm.InvoiceNo join dbo.tCNMaster cn on mm.CnId=cn.Id
	end
		else if(@parameter1=19)--Material Group
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mMaterialGroup as m on (v.Item=m.Name or v.Item=m.Code)
	end
		else if(@parameter1=20)--Spare Master
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mSpareMaster as m on (v.Item=m.SpareName or v.Item=m.SpareAbbr)
	end
		else if(@parameter1=21)-- Purchase Order
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.tPurchaseOrder as m on (v.Item=m.PONo or v.Item=m.PONo)
	end
	else if(@parameter1=22)--Mechanic
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mGenericMaster as m on (v.Item=m.Name or v.Item=m.Abbr) and m.ConstantId=1096
	end
	else if(@parameter1=23)--FuelType
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mGenericMaster as m on (v.Item=m.Name or v.Item=m.Abbr) and m.ConstantId=1011
	end
	else if(@parameter1=24)--Triplog Hire slip 1160
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.tVehicleMovementLog as m on v.Item=m.TriplogNo and m.TripTypeId=1160
	end
	else if(@parameter1=25)--DeleveryType
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mConstantValue as m on (v.Item=m.ConstantName or v.Item=m.ConstantAbbr) and m.ConstantTypeId=128
	end
	else if(@parameter1=26)--City
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mCityMaster as m on (v.Item=m.CityName or v.Item=m.CityAbbr)
	end
	else if(@parameter1=27)--Nature
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mGenericMaster as m on (v.Item=m.Name or v.Item=m.Abbr) and m.ConstantId=1468
	end
	else if(@parameter1=28)--Hire Vehicle Master
	begin
		select h.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mHireVehicle as h on (v.Item=h.VehicleNo or v.Item=h.RegistrationNo)
	end
    else if(@parameter1=29)--CNType
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mConstantValue as m on (v.Item=m.ConstantName or v.Item=m.ConstantAbbr) and m.ConstantTypeId=50
	end
    else if(@parameter1=30)--Vehicle Type
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mGenericMaster as m on (v.Item=m.Name or v.Item=m.Abbr) and m.ConstantId=1164
	end
    else if(@parameter1=31)--TripNature
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mConstantValue as m on (v.Item=m.ConstantName or v.Item=m.ConstantAbbr) and m.ConstantTypeId=72
	end
	else if(@parameter1=32)--ExpenseMaster
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mExpenseMaster as m on (v.Item=m.Name or v.Item=m.Abbr)
	end
	else if(@parameter1=33)--VoucherType
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mVoucherType as m on (v.Item=m.VoucherTypeName or v.Item=m.Abbr)
	end
	else if(@parameter1=34)--File Type
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mGenericMaster as m on (v.Item=m.Name or v.Item=m.Abbr) and m.ConstantId=1444
	end	
	else if(@parameter1=35)--File Type
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mVoucherType as m on (v.Item=m.VoucherTypeName or v.Item=m.Abbr) and m.Id IN(1, 2, 3, 11, 13, 14, 15, 16, 88, 17, 86,76,78)
	end	
	else if(@parameter1=36)--Incharge
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mGenericMaster as m on (v.Item=m.Name or v.Item=m.Abbr) and m.ConstantId=1468
	end	
    else if(@parameter1=37)--GSTNature
	begin
		select m.Id,v.Item as Name from dbo.SplitString_NEW(@parameter2,'^') as v left join dbo.mConstantValue as m on (v.Item=m.ConstantName or v.Item=m.ConstantAbbr) and m.ConstantTypeId=138
	end
end
GO
