/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1620_UpdateStatus]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1620_UpdateStatus]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1620_UpdateStatus]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_TRANS_1620_UpdateStatus]
@Parameter1 bigint
as
begin
	update x 
	set OfficeId=(Select top 1 t.OfficeId from dbo.mOfficeVehicleMapping as t where t.VehicleId=@Parameter1 and t.StatusId=0 order by t.MappingDate desc)
	from dbo.mVehicleMaster as x where ID=@Parameter1
end
GO
