/****** Object:  StoredProcedure [dbo].[Proc_CustomReport_1464]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_CustomReport_1464]
GO
/****** Object:  StoredProcedure [dbo].[Proc_CustomReport_1464]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_CustomReport_1464]   
 @parameter1 bigint,--Categoryid  
 @parameter2 nvarchar(max),--ClassIds  
 @parameter3 nvarchar(max),--AccountIds  
 @parameter4 datetime,--FromDate  
 @parameter5 datetime,--ToDate  
 @parameter6 bigint,  
 @parameter7 bigint --Client  
As  
BEGIN  
 DECLARE @RoleId int  
 SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)  
   
 if(DATEDIFF(MONTH,@parameter4,@parameter5)>2)--Only 2 Month report is allowed  
 begin  
  RAISERROR ('You can see only 2 months data at a time',16,1);  
 end  
  
 SET NOCOUNT ON;  
 SELECT   
 LoadingDate=tl.LoadingDate,	
 BookingBranch=lo.OfficeName,
 VehicleNumber	= Isnull(vm.VehicleNo,hvm.VehicleNo),
 VehicleType=vt.Name,
 TripNo=tl.TriplogNo,
 Client=bp.AccountName,
 Consignor=co.AccountName,
 Consignee=ce.AccountName,
 [FromPlace]=fp.CityName,
 [ToPlace]=tp.CityName,
 Freight=t.CNTotalFreight,
 AdvanceReceived=ISNULL(pb.PaymentAmt,0),
 DriverAdvance	=ISNULL(pb.TripAdvance,0),
 TDS	=ISNULL(pb.TDSAmount,0),
 Labour=ISNULL(pb.Labour,0),
 Balance=t.CNTotalFreight-ISNULL(pb.PaymentAmt,0)-ISNULL(pb.TDSAmount,0)-ISNULL(pb.Labour,0),
 ToPay='',
 ExpectedPaymentTransferDate=''
 FROM dbo.tCNMaster as t  
 Join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1130 then t.VehicleId else t.LoadingOfficeId end)   
 left JOIN dbo.mLedger as bp on bp.Id=t.BillingPartyId  
 left join dbo.mLedger as ce on ce.Id=t.ConsigneeId
 left join dbo.mLedger as co on co.Id=t.ConsignorId
 left JOIN dbo.mOfficeMaster as lo on lo.Id=t.LoadingOfficeId  
 --left JOIN dbo.mConstantValue as cnt on cnt.Id=t.CNTypeId  
 left JOIN dbo.mVehicleMaster  as vm on vm.Id=t.VehicleId  
 left JOIN dbo.mHireVehicle  as hvm on hvm.Id=t.HireVehicleId    
 left join dbo.mLedger as hvp on hvp.Id=hvm.HirePartyId
 left join dbo.mLedger as opt on opt.Id=vm.OwnerPartyId
-- left join dbo.mGenericMaster as inc on inc.Id=vm.Ref1Id   
 left join dbo.mGenericMaster as vt on vt.Id=vm.VehicleTypeId  
 left join dbo.mRouteMaster as cr on t.ActRouteId=cr.Id  
 left join dbo.mCityMaster as fp on fp.Id=cr.FromPlaceId  
 left join dbo.mCityMaster as tp on tp.Id=cr.ToPlaceId  
 --Left JOIN dbo.tCNBillMaster as cb on cb.Id=t.BillId  
 Left JOIN dbo.tVehicleMovementLog as tl on tl.Id=t.TripLogId  
 --left join dbo.mGenericMaster as n on n.Id=tl.TripModeId  
 --left JOIN dbo.mConstantValue as tpy on tpy.Id=tl.TripNatureId   
 --left join dbo.mLoadType as lt on lt.Id=t.LoadTypeId  
 --left join ApiSessions as cs on cs.Id=t.CSID  
 --left join dbo.ApiUsers as csu on csu.Id=cs.UserId  
 --left join ApiSessions as ms on ms.Id=t.MSID  
 --left join dbo.ApiUsers as msu on msu.Id=ms.UserId  
 left join (select pb.CNId,PaymentAmt=SUM(pb.PaymentAmt),TripAdvance=SUM(pb.TripAdvance),TDSAmount=SUM(CASE WHEN pb.RowId=1 THEN p.TDSAmount ELSE 0 END),Labour=SUM(CASE WHEN pb.RowId=1 THEN p.OtherAmount ELSE 0 END) from tCNBillPayment p LEFT JOIN 
(SELECT RowId=Row_Number()OVER(PARTITION BY PaymentId ORDER BY CNId),PaymentId,CNId,PaymentAmt=SUM(p.Amount),TripAdvance=SUM(ISNULL(t.CashAmount,0)) FROM dbo.[tCNBillPaymentLog] p LEFT JOIN [dbo].[tTripAdvanceLog] t on ISNULL(p.TripAdvanceId,0)=t.Id GROUP BY PaymentId,CNId) as pb ON p.Id=pb.PaymentId
GROUP BY pb.CNId) as pb ON pb.CNId=t.Id
 WHERE t.CNDate between @parameter4 and @parameter5  
 and (case when @parameter6=0 then 1 when vm.Ref1Id=@parameter6 then 1 else 0 end)=1  
  and (case when @parameter7=0 then 1 when t.BillingPartyId=@parameter7 then 1 else 0 end)=1  
 order by t.CNDate   
END  
GO
