/****** Object:  StoredProcedure [dbo].[Proc_Report_1695]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1695]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1695]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1695]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 bit--IsAmcPayment
As
BEGIN
    DECLARE @RoleId int
    SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
    SET NOCOUNT ON;
    SELECT 		
    BillNo=ei.DocDate,
    BillDate=ei.DocDate,
    ExpenseAccount=dr.AccountName,
    Vender= cr.AccountName,
    PaymentVoucherNo=v.VoucherNo,
    VehicleNo= vh.VehicleNo,
    NetAmount= x.NetAmount
    from dbo.tRepairLabourLog as x 
    join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=x.VehicleId
    join dbo.tSpareLogExtraInfo as ei on ei.Id=x.ExtraInfoId
    left join dbo.mLedger as dr on ei.DrAccountId=dr.Id
    left join dbo.mLedger as cr on ei.CrAccountId=cr.Id
    left join dbo.mVehicleMaster vh on x.VehicleId=vh.Id
    left join dbo.tVouchers as v on ei.RelatedVoucherId=v.Id
    where 
    ei.DocDate >= @parameter4 
    AND ei.DocDate <= @parameter5 
    AND ei.VoucherTypeId=83 and 1=(CASE	  
    WHEN isnull(ei.RelatedVoucherId,0)>0 and @parameter6 = 1 THEN 1
    WHEN @parameter6 = 0 THEN 1
    ELSE 0
    END)

    order by ei.DocDate,x.VehicleId
END
GO
