/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1109_BulkuploadAdvanceRequest]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1109_BulkuploadAdvanceRequest]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1109_BulkuploadAdvanceRequest]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_TRANS_1109_BulkuploadAdvanceRequest] 
	@reportrequestid bigint
AS
BEGIN
	DECLARE @count bigint, @xml xml,@batchid nvarchar(100), @CSID bigint, @Referenceno nvarchar(100), @defaultaccount bigint, @crid bigint
	select @defaultaccount=ConfigValue from mClientConfiguration where Id='DefaultTruckControlAcId';
	SELECT TOP 1 @xml=XmlParameter,@batchid=Parameter1, @CSID=Parameter2, @crid=Parameter3 FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
	if(@xml IS NULL)return;
	DECLARE @hdoc AS INT
		DECLARE @PrepareXmlStatus INT 
		EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml

	insert into dbo.tTripAdvanceLog([VoucherNo],[ReferenceNo],[VehicleId],[HireVehicleId], [OfficeId],
	[CreditAccountId],[DebitAccountId],[FuelId],[DriverId],[ViewId],[PaidInId],[AdvanceTypeId],
	[RequestDate],[AdvanceDate],[RequestQty],[BalanceQty],[RequestAmount],
	[TripLogId],[RequestStatusId],[CSID], [CDOE],[BatchId],[CashAmount],[FuelQty],[FuelRate],[FuelAmount],[IsBulkEntry])

	SELECT 
	   VoucherNo=temp.RequestNo,
	   ReferenceNo=temp.RequestNo,
	   VehicleId = ISNULL(t.VehicleId,null),
	   HireVehicleId = ISNULL(t.HireVehicleId,null),
	   OfficeId = ISNULL(t.OfficeId, 0),
	   CreditAccountId=@crid,
	   DebitAccountId=case when ISNULL(t.HireVehicleId,0)>0 then hv.HirePartyId else @defaultaccount end,
	   FuelId=null,
	   DriverId = ISNULL(t.Driver1stId, null),
	   ViewId=1109,
	   PaidInId=1517,
	   AdvanceTypeId=case when ISNULL(t.HireVehicleId,0)>0 then 77 else 1 end,
	   RequestDate=CAST(Getdate() as date),
	   AdvanceDate=CAST(Getdate() as date),
	   RequestQty = 0,
	   BalanceQty=0,
	   RequestAmt=temp.PassedValue,
	   TripId=ISNULL(temp.TripId,0),
	   RequestStatusId =1596,
	   CSID=@CSID,
	   CDOE= GETDATE(),
	   BatchId=@batchid,
	   CashAmount=0,
	   FuelQty=0,
	   FuelRate=0,
	   FuelAmount=0,
	   [IsBulkEntry]=0
	FROM dbo.tVehicleMovementLog as t
	left join mHireVehicle as hv on t.HireVehicleId=hv.Id
	join 
	OPENXML(@hdoc, '/ArrayOfVW_BulkADV_Details1/VW_BulkADV_Details1',2)
		WITH (

		  TripId bigint,
            PassedValue decimal,
            RequestDate DateTime,
		  RequestNo nvarchar(150)
		) as temp on temp.TripId= t.Id

END

GO
