/****** Object:  StoredProcedure [dbo].[Proc_Report_1483]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1483]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1483]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	[Proc_Report_1483_tmp] 0,'2017-04-01','2018-03-31',1,2
CREATE procedure [dbo].[Proc_Report_1483] 
(
	@parameter1 bigint=0,--GroupFilter
	@parameter2 DATETIME,--FromDate
	@parameter3 datetime,--ToDate
	@Parameter4 bigint,--Nature: 1-Normal,2-Groupwise,3-Ledgerwise
	@Parameter5 bigint--Type:1-Normal,2-WithOpeningClosing
)
AS 
BEGIN
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter2 between OpeningDate and ClosingDate),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter3 between OpeningDate and ClosingDate),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end

	DECLARE @TabGroups TABLE(GroupID BIGINT, GroupName nvarchar(100),ParentGroup nvarchar(100))
	if(@parameter1>0)
	begin
		INSERT INTO @TabGroups
		Select GroupID,GroupName,(select top 1 x.GroupName From [Func_GetAllParentGroupsOfGroup](GroupID) as x where x.ParentGroupId Is Not Null) 
		From dbo.[Func_GetAllAccountParentChildGroups](@parameter1)
	end
	else
	begin
		INSERT INTO @TabGroups
		SELECT a.Id,a.GroupName,(select top 1 x.GroupName From [Func_GetAllParentGroupsOfGroup](a.ID) as x where x.ParentGroupId Is Not Null) 
		FROM dbo.mAccountGroup as a  where a.ParentGroupId is not null
	end	
	declare @mismatchamount decimal(18,2)
	DECLARE @GroupTrialBalance TABLE
	(RowID BIGINT IDENTITY(1,1),ParentGroupName VARCHAR(200),GroupName VARCHAR(200),AccountName VARCHAR(200),OpeningBalance DECIMAL(18,2),DebitAmount DECIMAL(18,2),CreditAmount DECIMAL(18,2),OrderId Int, ClosingBalance DECIMAL(18,2))
	if(@Parameter5=1)
	begin
		INSERT INTO @GroupTrialBalance(ParentGroupName,GroupName,AccountName,DebitAmount,CreditAmount)
		SELECT 
		g.ParentGroup,
		g.GroupName,
		ISNULL(v.AccountName,''),
		[DebitAmount]=sum(case when isnull(Closing,0)>0 then isnull(Closing,0) else 0 end),
		[CreditAmount]=abs(sum(case when isnull(Closing,0)<0 then isnull(Closing,0) else 0 end))
		From dbo.mLedger as a 
		join @TabGroups as g on a.GroupId=g.GroupID
		left join(
			Select
			a.GroupId, 
			a.Id,
			a.AccountName,
			[Closing]=sum(isnull(vd.VDAmount,0))				
			from dbo.tVouchers as v 
			inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
			inner join dbo.mLedger as a on a.Id=vd.AccountId
			where v.FYID=@FFYId and v.VoucherDate<=@parameter3 and v.IsAccepted=1 and IsAccountsVisiblity=1
			group by a.GroupId,a.Id,a.AccountName
		)as v on a.Id=v.Id		
		where isnull(v.Closing,0)<>0
		group by g.ParentGroup,g.GroupName,ISNULL(v.AccountName,'')

		
		set	@MismatchAmount=(SELECT sum(isnull(DebitAmount,0))-sum(isnull(CreditAmount,0))+sum(isnull(OpeningBalance,0)) FROM @GroupTrialBalance)
		if(@MismatchAmount<>0)
		begin
			INSERT INTO @GroupTrialBalance(ParentGroupName,GroupName,AccountName,OpeningBalance,DebitAmount,CreditAmount,OrderId)
			values('Difference in Opening Balances','','',0,case when @MismatchAmount<0 then abs(@MismatchAmount) else 0 end,case when @MismatchAmount>0 then abs(@MismatchAmount) else 0 end,10)
		end
	end
	else if(@Parameter5=2)
	begin
		INSERT INTO @GroupTrialBalance(ParentGroupName,GroupName,AccountName,OpeningBalance,DebitAmount,CreditAmount)
		SELECT 
		g.ParentGroup,
		g.GroupName,
		a.AccountName,
		OpendingBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId join mLedger xa on xa.Id=xvd.AccountId where xa.Id=a.Id and xv.FYID=@FFYId and (xv.VoucherDate < @parameter2 or xv.VoucherTypeId In(19,69)) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0),
		[DebitAmount]=isnull([DebitAmount],0),
		[CreditAmount]=isnull([CreditAmount],0)
		From dbo.mLedger as a 
		join @TabGroups as g on a.GroupId=g.GroupId
		left join 
		(
			Select
			a.GroupId, 
			a.Id,
			a.AccountName,
			[DebitAmount]=sum(abs(case when isnull(vd.VDAmount,0)>0 then isnull(vd.VDAmount,0) else 0 end)),
			[CreditAmount]=sum(abs(case when isnull(vd.VDAmount,0)<0 then isnull(vd.VDAmount,0) else 0 end))
			from dbo.tVouchers as v 
			inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
			inner join dbo.mLedger as a on a.Id=vd.AccountId
			where v.FYID=@FFYId  and (v.VoucherDate between @parameter2 and @parameter3) and v.VoucherTypeId not in(19,69)  and v.IsAccepted=1 and IsAccountsVisiblity=1
			group by a.GroupId,a.Id,a.AccountName
		)as v on a.Id=v.Id
		
		update @GroupTrialBalance set ClosingBalance=isnull(DebitAmount, 0.00)-isnull(CreditAmount, 0.00)+isnull([OpeningBalance],0)
		
		set	@MismatchAmount=(SELECT sum(isnull(DebitAmount,0))-sum(isnull(CreditAmount,0))+sum(isnull(OpeningBalance,0)) FROM @GroupTrialBalance)

		if(@MismatchAmount<>0)
		begin
			INSERT INTO @GroupTrialBalance(ParentGroupName,OpeningBalance,OrderId)
			values('Difference in Opening Balances',-@MismatchAmount,10)
		end
	end
	
	--@Parameter4 bigint,--Nature: 1-Normal,2-Groupwise,3-Ledgerwise
	--@Parameter5 bigint--Type:1-Normal,2-WithOpeningClosing
	if(@Parameter4=1)
	begin
		if(@Parameter5=1)
		begin
			SELECT OrderId=isnull(OrderId,0),ParentGroupName, DebitAmount = sum(isnull(DebitAmount,0)),CreditAmount = sum(isnull(CreditAmount,0)) 
			FROM @GroupTrialBalance Group By isnull(OrderId,0),ParentGroupName order by isnull(OrderId,0),ParentGroupName
		end
		if(@Parameter5=2)
		begin
			SELECT OrderId=isnull(OrderId,0),ParentGroupName,OpeningBalance= abs(Sum(Isnull(OpeningBalance,0))),
			[ODrCr]=case when Sum(Isnull(OpeningBalance,0))>0 then 'Dr' when Sum(Isnull(OpeningBalance,0))<0 then 'Cr' else '' end 
			,DebitAmount = sum(isnull(DebitAmount,0)),CreditAmount = abs(sum(isnull(CreditAmount,0))),ClosingBalance=abs(Sum(Isnull(ClosingBalance,0))),
			[CDrCr]=case when Sum(Isnull(ClosingBalance,0))>0 then 'Dr' when Sum(Isnull(ClosingBalance,0))<0 then 'Cr' else '' end
			FROM @GroupTrialBalance Group By isnull(OrderId,0),ParentGroupName
			Having  (abs(Sum(Isnull(OpeningBalance,0)))+sum(isnull(DebitAmount,0))+sum(isnull(CreditAmount,0)))<>0
			order by isnull(OrderId,0),ParentGroupName
		end
	end
	if(@Parameter4=2)
	begin
		if(@Parameter5=1)
		begin
			SELECT OrderId=isnull(OrderId,0),ParentGroupName,GroupName=case when GroupName=ParentGroupName then AccountName else GroupName end, DebitAmount = sum(isnull(DebitAmount,0)),CreditAmount = sum(isnull(CreditAmount,0)) 
			FROM @GroupTrialBalance Group By isnull(OrderId,0),ParentGroupName,case when GroupName=ParentGroupName then AccountName else GroupName end
			order by isnull(OrderId,0),ParentGroupName,case when GroupName=ParentGroupName then AccountName else GroupName end
		end
		if(@Parameter5=2)
		begin
			SELECT OrderId=isnull(OrderId,0),ParentGroupName,GroupName=case when GroupName=ParentGroupName then AccountName else GroupName end,OpeningBalance= abs(Sum(Isnull(OpeningBalance,0))),
			[ODrCr]=case when Sum(Isnull(OpeningBalance,0))>0 then 'Dr' when Sum(Isnull(OpeningBalance,0))<0 then 'Cr' else '' end 
			,DebitAmount = sum(isnull(DebitAmount,0)),CreditAmount = abs(sum(isnull(CreditAmount,0))),ClosingBalance=abs(Sum(Isnull(ClosingBalance,0))),
			[CDrCr]=case when Sum(Isnull(ClosingBalance,0))>0 then 'Dr' when Sum(Isnull(ClosingBalance,0))<0 then 'Cr' else '' end
			FROM @GroupTrialBalance Group By isnull(OrderId,0),ParentGroupName,case when GroupName=ParentGroupName then AccountName else GroupName end
			Having  (abs(Sum(Isnull(OpeningBalance,0)))+sum(isnull(DebitAmount,0))+abs(sum(isnull(CreditAmount,0))))<>0
			order by isnull(OrderId,0),ParentGroupName,case when GroupName=ParentGroupName then AccountName else GroupName end
		end
	end
	if(@Parameter4=3)
	begin
		if(@Parameter5=1)
		begin
			SELECT OrderId=isnull(OrderId,0),ParentGroupName,GroupName,AccountName, DebitAmount = sum(isnull(DebitAmount,0)),CreditAmount = sum(isnull(CreditAmount,0)) 
			FROM @GroupTrialBalance Group By isnull(OrderId,0),ParentGroupName,GroupName,AccountName
			order by isnull(OrderId,0),ParentGroupName,GroupName,AccountName
		end
		if(@Parameter5=2)
		begin
			SELECT OrderId=isnull(OrderId,0),ParentGroupName,GroupName,AccountName,OpeningBalance= abs(Sum(Isnull(OpeningBalance,0))),
			[ODrCr]=case when Sum(Isnull(OpeningBalance,0))>0 then 'Dr' when Sum(Isnull(OpeningBalance,0))<0 then 'Cr' else '' end 
			,DebitAmount = sum(isnull(DebitAmount,0)),CreditAmount = abs(sum(isnull(CreditAmount,0))),ClosingBalance=abs(Sum(Isnull(ClosingBalance,0))),
			[CDrCr]=case when Sum(Isnull(ClosingBalance,0))>0 then 'Dr' when Sum(Isnull(ClosingBalance,0))<0 then 'Cr' else '' end
			FROM @GroupTrialBalance Group By isnull(OrderId,0),ParentGroupName,GroupName,AccountName
			Having  (abs(Sum(Isnull(OpeningBalance,0)))+sum(isnull(DebitAmount,0))+abs(sum(isnull(CreditAmount,0))))<>0
			order by isnull(OrderId,0),ParentGroupName,GroupName,AccountName
		end
	end
END
GO
