/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1033_BulkuploadRouteMaster]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1033_BulkuploadRouteMaster]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1033_BulkuploadRouteMaster]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_TRANS_1033_BulkuploadRouteMaster] 
	@reportrequestid bigint
AS
BEGIN

	   DECLARE @xml xml, @CSID bigint

	   SELECT TOP 1 @xml=XmlParameter, @CSID=Parameter1 FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
	   if(@xml IS NULL)return;
	   DECLARE @hdoc AS INT, @PrepareXmlStatus INT
	   EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml
    
	   create table #route(Id int Identity(1,1) primary key,RouteName nvarchar(300) collate Latin1_General_CI_AS ,FromPlaceId bigint,[ToPlaceId] bigint,
	   TotalDistance decimal,TotalTransitTime decimal,NoofWayPoints tinyint
	   ,Waypoint1Id bigint,WaypointI nvarchar(200),DistanceI decimal,TransitTimeI decimal,Type1Id int
	   ,Waypoint2Id bigint,WaypointII nvarchar(200), DistanceII decimal,TransitTimeII decimal,Type2Id int,
	   Waypoint3Id bigint,WaypointIII nvarchar(200),DistanceIII decimal,TransitTimeIII decimal,Type3Id int,
	   Waypoint4Id bigint,WaypointIV nvarchar(200),DistanceIV decimal,TransitTimeIV decimal,Type4Id int,
	   Waypoint5Id bigint,WaypointV nvarchar(200),DistanceV decimal,TransitTimeV decimal,Type5Id int,
	   Waypoint6Id bigint,WaypointVI nvarchar(200),DistanceVI decimal,TransitTimeVI decimal,Type6Id int,
	   IsReturnRoute bit)
    
	   insert into #route
	   select RouteName=isnull(temp.WaypointI,'') +' - '+ isnull(temp.WaypointII,'') + (case when len(isnull(temp.WaypointIII,''))>0 then ' - '+isnull(temp.WaypointIII,'') else '' end) + (case when len(isnull(temp.WaypointIV,''))>0 then ' - '+isnull(temp.WaypointIV,'') else '' end) + (case when len(isnull(temp.WaypointV,''))>0 then ' - '+isnull(temp.WaypointV,'')else '' end) + (case when len(isnull(temp.WaypointVI,''))>0 then ' - '+isnull(temp.WaypointVI,'')else '' end)
	   ,[FromPlaceId] = temp.Waypoint1Id
	   ,[ToPlaceId] = case when temp.Waypoint6Id>0 then temp.Waypoint6Id when temp.Waypoint5Id>0 then temp.Waypoint5Id when temp.Waypoint4Id>0 then temp.Waypoint4Id when temp.Waypoint3Id>0 then temp.Waypoint3Id else temp.Waypoint2Id end
	   ,TotalDistance=isnull(temp.DistanceI,0) + isnull(temp.DistanceII,0) + (case when len(isnull(temp.WaypointIII,''))>0 then isnull(temp.DistanceIII,0) else 0  end) + (case when len(isnull(temp.WaypointIV,''))>0 then isnull(temp.DistanceIV,0)  else 0 end) + (case when len(isnull(temp.WaypointV,''))>0 then isnull(temp.DistanceV,0) else 0  end) + (case when len(isnull(temp.WaypointVI,''))>0 then isnull(temp.DistanceVI,0)  else 0 end)
	   ,TotalTransitTime=isnull(temp.TransitTimeI,0) + isnull(temp.TransitTimeII,0) + (case when len(isnull(temp.WaypointIII,''))>0 then isnull(temp.TransitTimeIII,0)  else 0 end) + (case when len(isnull(temp.WaypointIV,''))>0 then isnull(temp.TransitTimeIV,0)  else 0 end) + (case when len(isnull(temp.WaypointV,''))>0 then isnull(temp.TransitTimeV,0)  else 0 end) + (case when len(isnull(temp.WaypointVI,''))>0 then isnull(temp.TransitTimeVI,0)  else 0 end)
	   ,NoofWayPoints=2 + (case when len(isnull(temp.WaypointIII,''))>0 then 1 else 0 end) + (case when len(isnull(temp.WaypointIV,''))>0 then 1 else 0 end) + (case when len(isnull(temp.WaypointV,''))>0 then 1 else 0 end) + (case when len(isnull(temp.WaypointVI,''))>0 then 1 else 0 end)
	   ,*

	   FROM  OPENXML(@hdoc, '/ArrayOfDU_RouteMaster/DU_RouteMaster',2)
	   WITH (
		  Waypoint1Id bigint,
		  WaypointI nvarchar(200),
		  DistanceI decimal,
		  TransitTimeI decimal,
		  Type1Id int,

		  Waypoint2Id bigint,
		  WaypointII nvarchar(200),
		  DistanceII decimal,
		  TransitTimeII decimal,
		  Type2Id int,

		  Waypoint3Id bigint,
		  WaypointIII nvarchar(200),
		  DistanceIII decimal,
		  TransitTimeIII decimal,
		  Type3Id int,

		  Waypoint4Id bigint,
		  WaypointIV nvarchar(200),
		  DistanceIV decimal,
		  TransitTimeIV decimal,
		  Type4Id int,

		  Waypoint5Id bigint,
		  WaypointV nvarchar(200),
		  DistanceV decimal,
		  TransitTimeV decimal,
		  Type5Id int,

		  Waypoint6Id bigint,
		  WaypointVI nvarchar(200),
		  DistanceVI decimal,
		  TransitTimeVI decimal,
		  Type6Id int,

		  IsReturnRoute bit
	    ) as temp 

		delete x from #route as x
		join(
		select max(Id) as Id,RouteName from #route Group by RouteName having count(RouteName)>1
		)xx on x.Id<xx.Id and x.RouteName=xx.RouteName

	    update r
	    set 
	    r.[FromPlaceId]=case when isnull(r.[FromPlaceId],0)=0 then null else r.[FromPlaceId] end,
	    r.[ToPlaceId]=case when isnull(r.[ToPlaceId],0)=0 then null else r.[ToPlaceId] end,
	    r.Waypoint1Id=case when isnull(r.Waypoint1Id,0)=0 then null else r.Waypoint1Id end,
	    r.Waypoint2Id=case when isnull(r.Waypoint2Id,0)=0 then null else r.Waypoint2Id end,
	    r.Waypoint3Id=case when isnull(r.Waypoint3Id,0)=0 then null else r.Waypoint3Id end,
	    r.Waypoint4Id=case when isnull(r.Waypoint4Id,0)=0 then null else r.Waypoint4Id end,
	    r.Waypoint5Id=case when isnull(r.Waypoint5Id,0)=0 then null else r.Waypoint5Id end,
	    r.Waypoint6Id=case when isnull(r.Waypoint6Id,0)=0 then null else r.Waypoint6Id end,

	    r.Type1Id=case when isnull(r.Type1Id,0)=0 then null else r.Type1Id end,
	    r.Type2Id=case when isnull(r.Type2Id,0)=0 then null else r.Type2Id end,
	    r.Type3Id=case when isnull(r.Type3Id,0)=0 then null else r.Type3Id end,
	    r.Type4Id=case when isnull(r.Type4Id,0)=0 then null else r.Type4Id end,
	    r.Type5Id=case when isnull(r.Type5Id,0)=0 then null else r.Type5Id end,
	    r.Type6Id=case when isnull(r.Type6Id,0)=0 then null else r.Type6Id end
	    from #route as r
	
	   create table #RouteWayPoint(Id int Identity(1,1) primary key,RouteName nvarchar(300) collate Latin1_General_CI_AS ,TypeId int,CityId bigint ,Distance int,TransitTime int,OrderId int)
	   insert into #RouteWayPoint(RouteName,TypeId,CityId,Distance,TransitTime,OrderId)
	   Select r.RouteName,isnull(r.Type1Id,1613),r.Waypoint1Id,isnull(r.DistanceI,0),isnull(r.TransitTimeI,0),1 FROM #route r where r.Waypoint1Id>0
	   insert into #RouteWayPoint(RouteName,TypeId,CityId,Distance,TransitTime,OrderId)
	   Select r.RouteName,isnull(r.Type2Id,1613),r.Waypoint2Id,isnull(r.DistanceII,0),isnull(r.TransitTimeII,0),2 FROM #route r where r.Waypoint2Id>0
	   insert into #RouteWayPoint(RouteName,TypeId,CityId,Distance,TransitTime,OrderId)
	   Select r.RouteName,isnull(r.Type3Id,1613),r.Waypoint3Id,isnull(r.DistanceIII,0),isnull(r.TransitTimeIII,0),3 FROM #route r where r.Waypoint3Id>0
	   insert into #RouteWayPoint(RouteName,TypeId,CityId,Distance,TransitTime,OrderId)
	   Select r.RouteName,isnull(r.Type4Id,1613),r.Waypoint4Id,isnull(r.DistanceIV,0),isnull(r.TransitTimeIV,0),4 FROM #route r where r.Waypoint4Id>0
	   insert into #RouteWayPoint(RouteName,TypeId,CityId,Distance,TransitTime,OrderId)
	   Select r.RouteName,isnull(r.Type5Id,1613),r.Waypoint5Id,isnull(r.DistanceV,0),isnull(r.TransitTimeV,0),5 FROM #route r where r.Waypoint5Id>0
	   insert into #RouteWayPoint(RouteName,TypeId,CityId,Distance,TransitTime,OrderId)
	   Select r.RouteName,isnull(r.Type6Id,1613),r.Waypoint6Id,isnull(r.DistanceVI,0),isnull(r.TransitTimeVI,0),6 FROM #route r where r.Waypoint6Id>0


	   -- Validation
	   if exists(select * from #route where isnull(FromPlaceId,0)=0)
	   begin
		  select 'Error: From Place cannot be left blank' as Error from #route where isnull(FromPlaceId,0)=0
		  return;
	   end
	   if exists(select * from #route where isnull(ToPlaceId,0)=0)
	   begin
		  select 'Error: To Place cannot be left blank' as Error from #route where isnull(ToPlaceId,0)=0
		  return;
	   end
	 
	   if exists(select * from dbo.mRouteMaster where [Name] in (select RouteName from #route))
	   begin
		
		  select distinct 'Error: Duplicate Route Found : '+ [Name] as Error,r.Id from dbo.mRouteMaster as r join #route as s on r.[Name]=s.RouteName
		 
		delete from #route where RouteName in(select distinct [Name] from dbo.mRouteMaster)

		delete from #route where RouteName in(select distinct [Abbr] from dbo.mRouteMaster)

	   end
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED
	BEGIN TRY
		BEGIN TRANSACTION
		  INSERT INTO[dbo].[mRouteMaster]([Name],[Abbr],[FromPlaceId],[ToPlaceId],[TransitKm],[TransitHours],[StatusId],[IsReturnRoute],[CSID],[CDOE])
		   SELECT Distinct
			 [Name] =temp.RouteName,
			 [Abbr] =temp.RouteName,
			 [FromPlaceId] = temp.[FromPlaceId],
			 [ToPlaceId] = temp.[ToPlaceId],
			 [TransitKm] = temp.TotalDistance,
			 [TransitHours] = temp.TotalTransitTime,
			 [StatusId] =0,
			 [IsReturnRoute] = temp.IsReturnRoute,
			 [CSID] = @CSID,
			 [CDOE] = GETDATE()
		   from #route as temp
	
	   
		  Update x
		  set x.OrderId=r.rowid
		  from #RouteWayPoint x
		  join (
			 select rowid= Row_number()over(Partition by RouteName Order by RouteName,OrderId),r.Id
			 from #RouteWayPoint as r
		  )as r on r.Id=x.Id

		  insert into dbo.mRouteWayPoint(RouteId,TypeId,CityId,Distance,TransitTime,OrderId,CSID,CDOE)
		  select rm.Id,r.TypeId,r.CityId,r.Distance,r.TransitTime,r.OrderId,@CSID,getdate() from #RouteWayPoint as r join dbo.mRouteMaster as rm on r.RouteName=rm.[Name]
	   COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK			
		DECLARE @ERR nvarchar(max)
		Set @ERR=ERROR_MESSAGE()
		Select @ERR
	END CATCH
     drop table #route
     drop table #RouteWayPoint
END
GO
