/****** Object:  StoredProcedure [dbo].[Proc_Custom_Report_1481]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Custom_Report_1481]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Custom_Report_1481]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Custom_Report_1481]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 bigint--Incharge
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	
	SET NOCOUNT ON;
	SELECT 
	Incharge=inc.Name,
	VehicleNo=m.VehicleNo,
	VehicleSize=ovt.Name,
	CustomerName=pm.FleetAcName,
	SalesType=ltype.[Name],
	t.TriplogNo,
	TripMode=n.Name,
	TripNature=tn.ConstantName,
	Origin=fp.CityName,
	Destination=tpm.CityName,
	Distance=t.TotalKmRun,
	--TAT=dbo.IntToHHMMSS(t.ExpTime*60*60),
	ActualDeparture=t.LoadingDate, 
	ReachDestn=t.UnloadingReachDate, 
	UnloadCompleted=t.UnloadingDate, 
	TotTouchingTime=dbo.IntToHHMMSS((isnull(DATEDIFF(Second,vt.Touching1InDate,vt.Touching1OutDate),0)+isnull(DATEDIFF(Second,vt.Touching2InDate,vt.Touching2OutDate),0)+isnull(DATEDIFF(Second,vt.Touching3InDate,vt.Touching3OutDate),0))),
	NetTransitTime= dbo.IntToHHMMSS(DATEDIFF(second,t.LoadingDate,t.UnLoadingReachDate)-(isnull(DATEDIFF(second,vt.Touching1InDate,vt.Touching1OutDate),0)+isnull(DATEDIFF(second,vt.Touching2InDate,vt.Touching2OutDate),0)+isnull(DATEDIFF(second,vt.Touching3InDate,vt.Touching3OutDate),0))),
	TravelledHrs=dbo.IntToHHMMSS(DATEDIFF(SECOND,t.LoadingDate,t.UnLoadingReachDate)),
	 
	
	vt.Touching1InDate,
	vt.Touching1Location,
	vt.Touching1OutDate,
	vt.Touching2InDate,
	vt.Touching2Location,
	vt.Touching2OutDate,
	vt.Touching3InDate,
	vt.Touching3Location,
	vt.Touching3OutDate,
	t.Remarks
	FROM dbo.tVehicleMovementLog as t
	INNER JOIN dbo.[CCO](@parameter1,@parameter2,@parameter3) as CCO on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.OfficeId end)
	left join dbo.tCNMaster as CN on CN.triplogId=t.Id
	left join dbo.mLoadType as ltype on ltype.ID=cn.LoadTypeId
	JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	left join dbo.mGenericMaster as inc on inc.Id=m.Ref1Id
	left join dbo.mGenericMaster as n on n.Id=t.TripModeId
	left join dbo.mGenericMaster as ovt on ovt.Id=m.VehicleTypeId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=isnull(t.Driver1stId,0)
	left join dbo.mConstantValue as tn on tn.Id=isnull(t.TripNatureId,0)
	left join dbo.mLedger as pm on pm.Id=isnull(t.PartyId,0)
	left join dbo.mRouteMaster as tr on tr.Id=isnull(t.RouteId,0)
	left join dbo.mCityMaster as fp on fp.Id=tr.FromPlaceId
	left join dbo.mCityMaster as tpm on tpm.Id=tr.ToPlaceId
	left join
	(
		Select
		TriplogId,
		Touching1InDate,
		Touching1Location,
		Touching1OutDate=(select Min(StartDate) from dbo.tVTSStatusLog as x where x.TriplogId=t.TriplogId and x.Id<>t.VtsLog1Id and x.StartDate>=t.Touching1InDate),
		Touching2InDate,
		Touching2Location,
		Touching2OutDate=(select Min(StartDate) from dbo.tVTSStatusLog as x where x.TriplogId=t.TriplogId and x.Id<>t.VtsLog2Id and x.StartDate>=t.Touching2InDate),
		Touching3InDate,
		Touching3Location,
		Touching3OutDate=(select Min(StartDate) from dbo.tVTSStatusLog as x where x.TriplogId=t.TriplogId and x.Id<>t.VtsLog3Id and x.StartDate>=t.Touching3InDate)
		from (
			Select triplogid,
			VtsLog1Id=Min(case when rowid=1 then Id end),
			Touching1InDate=Min(case when rowid=1 then TouchingDate  else null end),
			Touching1Location=Min(case when rowid=1 then TouchingLocation end),
			VtsLog2Id=Min(case when rowid=2 then Id end),
			Touching2InDate=Min(case when rowid=2 then TouchingDate else null end),
			Touching2Location=Min(case when rowid=2 then TouchingLocation end),
			VtsLog3Id=Min(case when rowid=3 then Id end),
			Touching3InDate=Min(case when rowid=3 then TouchingDate  else null end),
			Touching3Location=Min(case when rowid=3 then TouchingLocation end)
			from (
				select triplogid,vt.Id, TouchingDate=vt.StartDate,TouchingLocation=ct.CityName,ROW_NUMBER()Over(Partition by vt.TriplogId Order by vt.StartDate)as rowid 
				from dbo.tVTSStatusLog as vt
				left join dbo.mCityMaster as ct on ct.ID=vt.LocationId
				where vt.DTSStatusId=218
			)as t where rowid<=3
		group by TriplogId
		)as t
	)as vt on vt.TriplogId=t.Id
	
	WHERE t.TripStartDate>=@parameter4 and t.TripStartDate<=@parameter5 and t.TripTypeId in (1160,1158)
	and (case when @parameter6=0 then 1 when m.Ref1Id=@parameter6 then 1 else 0 end)=1
	
	ORDER BY t.TripStartDate 
END
GO
