/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1675_GetTripSettlementData]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1675_GetTripSettlementData]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1675_GetTripSettlementData]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_TRANS_1675_GetTripSettlementData] @parameter1 DATETIME = NULL, --StartDate
	@parameter2 DATETIME, --EndDate
	@parameter3 BIGINT = 0 --vehicleId
AS
BEGIN
  INSERT INTO tTripExpenseLog (ClaimAmount, BudgetedQty, FuelQty, FuelRate, SettledAmount, TripLogId, ExpenseTypeId, ViewId, TripAdvanceLogId, ShortFuelQty, ShortFuelAmt, IsAuto, CSID, CDOE)
    SELECT
      *
    FROM (SELECT
        ClaimAmount = (CASE
          WHEN t.FuelQty > 0 THEN t.FuelAmount
          ELSE t.CashAmount
        END)
       ,BudgetedQty = 0
       ,t.FuelQty
       ,t.FuelRate
       ,SettledAmount = 0
       ,t.TripLogId
       ,ExpenseTypeId = ISNULL(t.ExpenseId, (CASE
          WHEN t.FuelQty > 0 THEN (SELECT TOP 1
                ex.Id
              FROM mExpenseMaster ex
              WHERE ex.NatureId = 1479)
          ELSE 0
        END))
       ,ViewId = t.ViewId
       ,TripAdvanceLogId = t.Id
       ,ShortFuelQty = 0
       ,ShortFuelAmt = 0
       ,IsAuto = 1
       ,CSID = t.CSID
       ,t.CDOE
      FROM tTripAdvanceLog t
      LEFT JOIN tTripExpenseLog tel
        ON t.Id = tel.TripAdvanceLogId
      WHERE t.AdvanceTypeId = 2
      AND ISNULL(tel.Id, 0) = 0
      AND t.SettlementId IS NULL
      AND t.TripLogId > 0
      AND ISNULL(t.RequestStatusId, 0) != 1596) AS tempExp
    WHERE ExpenseTypeId > 0

  SELECT
    [Select] = CAST(0 AS BIT)
   ,TriplogId = t.Id

   ,VehicleNo = v.VehicleRegNo
   ,VehicleType = vt.Name

   ,TripNature = n.ConstantName
   ,[Route] = r.Name
   ,KM = t.TotalKmRun
   ,FuelVariance = ROUND(ISNULL(t.BdgtFuelQty, 0) - ISNULL(fuelad.FuelQty, 0) - ISNULL(fuelad.PendingFuelQty, 0),0)
   ,CashVariance = (ISNULL(t.BdgtAdvance, 0) + ISNULL(expn.UnBdgCashExpance, 0)) - ISNULL(cashad.CashPaid, 0)

   ,[BdgtCashAdv] = ISNULL(t.BdgtAdvance, 0)
   ,UnBdgCashExpance = ISNULL(expn.UnBdgCashExpance, 0)
   ,[PaidCashAmt] = ISNULL(cashad.CashPaid, 0)
   ,[BdgtFuelQty] = ROUND(ISNULL(t.BdgtFuelQty, 0),0)
   ,ExpBookedFuelQty= ROUND(ISNULL(expn.ExpFuelQty, 0),0)
   ,[PaidFuelQty] = ROUND(ISNULL(fuelad.FuelQty, 0),0)
   ,[PaidFuelRate] = ROUND(ISNULL(fuelad.FuelRate, 0),2)
   ,[SettlementDate] = GETDATE()
   ,LoadingDate = ISNULL(t.LoadingDate, t.TripStartDate)
   ,t.UnLoadingDate
   ,t.TriplogNo
    ---  ,[ExtraPassFuelQty] = 0
    ---   ,[ExtraFuelPassRate] = ISNULL(fuelad.MinRate, 0)
    ---   ,[ExtraFuelPassAmt] = 0
    ---   ,[ExtraCashPass] = 0

   ,[Avg] = CAST(ROUND((CASE
      WHEN t.VehicleAvg > 0 THEN t.VehicleAvg
      ELSE (CASE t.TripNatureId
          WHEN 1075/*Loaded*/ THEN v.LoadedMileage
          WHEN 1076 /*Empty*/ THEN v.EmptyMileage
          ELSE (CASE
              WHEN (v.LoadedMileage + v.EmptyMileage) > 0 THEN (v.LoadedMileage + v.EmptyMileage) / 2
              ELSE 0
            END)
        END)
    END), 2) AS DECIMAL(18, 2))

   ,DriverName = d.DriverName
    --,[TotalDriverDebit] = ISNULL(cashad.DriverDebit, 0)
    --,[IncentivePaid] = ISNULL(cashad.IncentivePaid, 0)
    --,[IncentiveBooked] = ISNULL(cashad.IncentiveBooked, 0)
    -- --[SalaryPaid]=cashad.SalaryPaid,

   ,VehicleId = t.VehicleId
   ,DriverId = t.Driver1stId
   ,VehicletypeId = v.VehicleTypeId


    --FuelQtyDiff=ISNULL(t.BdgtFuelQty,0)-ISNULL(expn.UnBdgFuelQty,0),
    --CashDiff=ISNULL(t.BdgtAdvance, 0) - ISNULL(expn.UnBdgCashExpance,0),
   ,BatchId = NEWID()
  FROM tVehicleMovementLog AS t
  JOIN mVehicleMaster v
    ON v.Id = t.VehicleId
  JOIN mDriverMaster d
    ON d.Id = t.Driver1stId
  LEFT JOIN mGenericMaster vt
    ON vt.Id = v.VehicleTypeId
  LEFT JOIN mConstantValue n
    ON n.Id = t.TripNatureId
  LEFT JOIN mRouteMaster r
    ON r.Id = t.RouteId
  LEFT JOIN (SELECT
      MinRate = MIN(tal.FuelRate)
     ,FuelQty = SUM(CASE
        WHEN ISNULL(tal.RequestStatusId, 0) <> 1596 THEN tal.FuelQty
        ELSE 0
      END)
     ,FuelRate = AVG(CASE
        WHEN ISNULL(tal.RequestStatusId, 0) <> 1596 THEN tal.FuelRate
        ELSE 0
      END)
     ,FuelAmount = SUM(CASE
        WHEN ISNULL(tal.RequestStatusId, 0) <> 1596 THEN tal.FuelAmount
        ELSE 0
      END)
     ,PendingFuelQty = SUM(CASE
        WHEN ISNULL(tal.RequestStatusId, 0) = 1596 THEN tal.FuelQty
        ELSE 0
      END)
     ,PendingFuelAmt = SUM(CASE
        WHEN ISNULL(tal.RequestStatusId, 0) = 1596 THEN tal.FuelAmount
        ELSE 0
      END)
     ,tal.TripLogId
    FROM [dbo].[tTripAdvanceLog] tal
    WHERE tal.AdvanceTypeId = 2
    GROUP BY tal.TripLogId) AS fuelad
    ON t.Id = fuelad.TripLogId
  LEFT JOIN (SELECT
      ExpFuelQty = SUM(CASE
        WHEN em.NatureId = 1479 THEN tel.FuelQty
        ELSE 0
      END)
     ,
      --UnBdgFuelAmount=SUM(CASE WHEN em.NatureId=1479 AND tel.IsBudgeted=0 THEN tel.ClaimAmount ELSE 0 END),
      UnBdgCashExpance = SUM(CASE
        WHEN em.NatureId <> 1479 AND
          tel.IsBudgeted = 0 THEN (CASE WHEN tel.SettledAmount>0 THEN  tel.SettledAmount ELSE tel.ClaimAmount END)
        ELSE 0
      END)
     ,tel.TripLogId
    FROM [dbo].[tTripExpenseLog] tel
    JOIN [dbo].[mExpenseMaster] em
      ON tel.ExpenseTypeId = em.Id
    GROUP BY tel.TripLogId) AS expn
    ON t.Id = expn.TripLogId
  LEFT JOIN (SELECT
      CashPaid = SUM(CASE
        WHEN tal.AdvanceTypeId = 1 AND
          ISNULL(tal.RequestStatusId, 0) <> 1596 THEN tal.CashAmount
        ELSE 0
      END)
     ,IncentivePaid = SUM(CASE
        WHEN tal.AdvanceTypeId = 15 AND
          ISNULL(tal.RequestStatusId, 0) <> 1596 THEN tal.CashAmount
        ELSE 0
      END)
     ,DriverDebit = SUM(CASE
        WHEN tal.AdvanceTypeId = 91 AND
          ISNULL(tal.RequestStatusId, 0) <> 1596 THEN tal.CashAmount
        ELSE 0
      END)
     ,SalaryPaid = SUM(CASE
        WHEN tal.AdvanceTypeId = 59 AND
          ISNULL(tal.RequestStatusId, 0) <> 1596 THEN tal.CashAmount
        ELSE 0
      END)
     ,IncentiveBooked = SUM(CASE
        WHEN tal.AdvanceTypeId = 8 AND
          ISNULL(tal.RequestStatusId, 0) <> 1596 THEN tal.CashAmount
        ELSE 0
      END)
     ,PendingCash = SUM(CASE
        WHEN ISNULL(tal.RequestStatusId, 0) = 1596 THEN tal.RequestAmount
        ELSE 0
      END)
     ,tal.TripLogId
    FROM [dbo].[tTripAdvanceLog] tal
    WHERE tal.AdvanceTypeId <> 2
    GROUP BY tal.TripLogId) AS cashad
    ON t.Id = cashad.TripLogId
  WHERE t.UnLoadingDate IS NOT NULL
  AND (@parameter3 = 0
  OR t.VehicleId = @parameter3)
  AND (@parameter1 IS NULL
  OR t.TripStartDate >= @parameter1)
  AND t.TripStartDate <= @parameter2
  --AND t.TripStartDate BETWEEN cast(@StartDate as date) AND cast(@EndDate as date)
  AND ISNULL(t.SettlementId, 0) = 0
  AND t.TripTypeId = 1158
  ORDER BY ISNULL(t.LoadingDate, t.TripStartDate) DESC
END
GO
