/****** Object:  StoredProcedure [dbo].[Proc_Report_1323]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1323]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1323]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC Proc_Report_1323 10015,'','','2020-12-12'

--SELECT * FROM mObjectCategory

CREATE PROC [dbo].[Proc_Report_1323]
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 datetime
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	select 
	CCO.CategoryName,
	CCO.ClassName,
	OfficeName = o.OfficeName,
	RefNo = x.RefNo1,
	CovertNote = x.RefNo2,
	StartDate = x.StartDate,
	ExpiryDate = x.ExpiryDate,
	DueAmount = x.DueAmount,
	OtherAmount = x.OtherAmount,
	VehicleNo = vm.VehicleNo,
	OwnerName = a.AccountName,
	DueTypeName = dm.Name,
	Remark = x.Remark
	from dbo.tDueTransactionLog AS x
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId When 1130 THEN  x.VehicleId else x.OfficeId END)
	join dbo.mDueMaster AS dm on dm.Id=x.DueTypeId
	join dbo.mOfficeMaster as o on o.Id=x.OfficeId
	join dbo.mVehicleMaster as vm on vm.Id=x.VehicleId
	left join dbo.mLedger as a on a.Id=x.OwnerId
	where x.ExpiryDate<=@parameter4 and x.NextLogId is null
	order by x.StartDate
	
END
GO
