/****** Object:  StoredProcedure [dbo].[Proc_Format_1506_28]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1506_28]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1506_28]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Format_1506_28] 
@parameter1 bigint
AS
BEGIN
	select 
	cnh.TriplogId,
	cnh.CNId,
	cn.CNNo,
	cn.CNDate,
	Consignor = cnr.FleetAcName,
	ConsignorTIN = cnr.TINNo,
	Consignee = cne.FleetAcName,
	ConsigneeTIN = cne.TINNo,
	Origin = fp.CityName,
	Destination = tp.CityName,
	Contents = cn.MaterialInfo,
	BookedPkg=cn.TotalPackage,
	DespPkg = cn.TotalPackage,
	ActualWt = cnh.ActualWeight,
	ChargeWt = cnh.ActualWeight,
	eWayBillNo=cn.EWayBillCn,
	eWayExDate=cn.eWayBillValidity
	from dbo.tCNChallan as cnh
	join dbo.tCNMaster as cn on cn.Id=cnh.CNId and cnh.TriplogId=@parameter1 
	left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	left join dbo.mRouteMaster as rm on rm.Id=cnh.RouteId
	left join dbo.mCityMaster as fp on fp.Id=rm.FromPlaceid
	left join dbo.mCityMaster as tp on tp.Id=rm.ToPlaceId
	where cnh.TriplogId=@parameter1 
	order by cn.CNNo
END
GO
