/****** Object:  StoredProcedure [dbo].[Proc_Report_1634]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1634]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1634]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Report_1634]
	@parameter1 as bigint=0,--UserId
	@parameter2 as date,--FromDate
	@parameter3 as date--ToDate
as
begin
	select 
	LoginId=um.UserName,
	um.FirstName,
	um.LastName,
	UserType=case when um.TypeId=200 then 'Admin' else 'User' end,
	FormName=fm.DisplayText,
	Created=sum(case when al.TypeId=1 then 1 else 0 end),
	Modified=sum(case when al.TypeId=2 then 1 else 0 end),
	[Date]=Cast(cs.StartDateTime as date)
	from dbo.vw_UserActivitylog as al
	join dbo.ApiViews as fm on fm.Id=al.ViewId
	left join dbo.ApiSessions as cs on cs.Id=al.SessionId
	left join dbo.ApiUsers as um on um.Id=cs.UserId
	where (cast(cs.StartDateTime as date) between @parameter2 and @parameter3)
	and (case when @parameter1=0 then 1 when um.Id=@parameter1 then 1 else 0 end)=1
	group by um.UserName,um.FirstName,um.LastName,um.TypeId,al.DisplayText,fm.DisplayText, cast(cs.StartDateTime as date)
	order by um.UserName,um.FirstName,um.LastName,fm.DisplayText
end


GO
