/****** Object:  StoredProcedure [dbo].[Proc_Report_1666_TE]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1666_TE]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1666_TE]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	exec Proc_Report_1666_TE 0,16,0,'2017-04-01' ,'2018-03-31',0
CREATE Proc [dbo].[Proc_Report_1666_TE]  
 @Parameter1 bigint, --OfficeId
 @Parameter2 bigint, --LedgerId
 @Parameter3 bigint, --VouherTypeId
 @Parameter4 date, --FromDate
 @Parameter5 date, --ToDate
 @Parameter6 bigint --VoucherId
 AS  
 Begin  
	 -- 1449:	Ledger
		Declare @FFYId int,@TFYId int,@FYName nvarchar(150)
		SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE CAST(@Parameter4 as Date) between cast(OpeningDate as Date) and CAST(ClosingDate as date)),0)
		SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE CAST(@Parameter5 as date) between CAST(OpeningDate as date) and CAST(ClosingDate as date)),0)
		if(@FFYId<>@TFYId)
		begin
			RAISERROR ('From Date and To Date should be in same financial year',16,1);  
			RETURN;
		end
		set @FYName=(select x.Abbreviation from dbo.mFY as x where Id=@FFYId)

		Declare @CTR int,@TotalVouchers int,@PackageID INT,@GUID AS varchar(255),@TallyFile As Varchar(max),@CompanyName AS Varchar(100),@Vouchers As Varchar(Max)  
		Declare @VoucherTable Table(VoucherID Int Primary Key)  

		INSERT INTO @VoucherTable(VoucherID)   
		SELECT distinct v.Id 
		FROM dbo.tVouchers as v
		join dbo.tVoucherVD as vd on v.Id=vd.VoucherId
		WHERE v.VoucherDate between @Parameter4 and @Parameter5
		and (case when isnull(@Parameter1,0)=0 then 1 when @Parameter1=v.OfficeId then 1 else 0 end)=1
		and (case when isnull(@Parameter2,0)=0 then 1 when @Parameter2=vd.AccountId then 1 else 0 end)=1
		and (case when isnull(@Parameter3,0)=0 then 1 when @Parameter3=v.VoucherTypeId then 1 else 0 end)=1
		and (case when isnull(@Parameter6,0)=0 then 1 when @Parameter6=v.Id then 1 else 0 end)=1

		
		SET @CompanyName=@FYName
		SET @Vouchers=''  

		SET @TallyFile='<ENVELOPE>  
						<HEADER>  
						<TALLYREQUEST>Import Data</TALLYREQUEST>  
						</HEADER>  
						<BODY>  
						<IMPORTDATA>  
						<REQUESTDESC>  
						<REPORTNAME>Vouchers</REPORTNAME>  
						<STATICVARIABLES>  
						<SVCURRENTCOMPANY>'+isnull(@CompanyName,'')+'</SVCURRENTCOMPANY>  
						</STATICVARIABLES>  
						</REQUESTDESC>  
						<REQUESTDATA>  
						<TALLYMESSAGE xmlns:UDF="TallyUDF">  
						[TALLYIWLTVoucherContent]  
						</TALLYMESSAGE>  
						</REQUESTDATA>  
						</IMPORTDATA>  
						</BODY>  
						</ENVELOPE>'  

		Begin  


		Select  
		@Vouchers=@Vouchers+'<VOUCHER REMOTEID="'+(Select Cast(NEWID() AS Varchar(255)))+'" VCHTYPE="'+ISNULL(vt.VoucherTypeName,'')+'" ACTION="Create">'+'<ISOPTIONAL>No</ISOPTIONAL>  
						<USEFORGAINLOSS>No</USEFORGAINLOSS>  
						<USEFORCOMPOUND>No</USEFORCOMPOUND>  
						<VOUCHERTYPENAME>'+ ISNULL(vt.VoucherTypeName,'') +'</VOUCHERTYPENAME>  
						<DATE>'+ Convert(Varchar(13),VM.VoucherDate,112) +'</DATE>  
						<EFFECTIVEDATE>'+ Convert(Varchar(13),VM.VoucherDate,112) +'</EFFECTIVEDATE>  
						<ISCANCELLED>No</ISCANCELLED>  
						<USETRACKINGNUMBER>No</USETRACKINGNUMBER>  
						<ISPOSTDATED>No</ISPOSTDATED>  
						<ISINVOICE>No</ISINVOICE>  
						<DIFFACTUALQTY>No</DIFFACTUALQTY>  
						<VOUCHERNUMBER>'+ 
							dbo.FUN_Vouchers_ReplaceAnd(ISNULL(VM.VoucherNo,''))
						
						+'</VOUCHERNUMBER>  
						<REFERENCE>'+ dbo.FUN_Vouchers_ReplaceAnd(ISNULL(VM.VoucherNo,'')) +'</REFERENCE>
						<NARRATION>'+ (dbo.FUN_Vouchers_ReplaceAnd(ISNULL(VM.AccNarration,''))) +'</NARRATION>  
						<GUID>'+ (Select Cast(NEWID() AS Varchar(255))) +'</GUID>  
						<ALTERID>'+VM.VoucherNo+'</ALTERID>'+ISNULL((Select dbo.FUN_Report_1666_TEDRCR(VM.Id)),'') +'</VOUCHER>'  
						From dbo.tVouchers AS VM 
						join dbo.mVoucherType as vt on vm.VoucherTypeId=vt.Id
						Where VM.Id In(Select VoucherID From @VoucherTable)  
						
						
		End  
		Set @TallyFile=Replace(@TallyFile,'[TALLYIWLTVoucherContent]',@Vouchers)  
		Select @TallyFile AS TallyXMLData
End


----=====================================================
GO
