/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatUniversal]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatUniversal]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatUniversal]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec [Proc_Report_1538_BillFormatUniversal] 1
CREATE PROC [dbo].[Proc_Report_1538_BillFormatUniversal]
	@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	SELECT
        [Id] = cn.Id,
		[BillID] = b.Id,
        [ClientName] = l.AccountName ,
        [ClientCode] = l.AccountAbbr,
        [PrintingName] = l.PrintingName,
        [CustomerAdress] = padd.FullAddress,
        [ClientPanNo] = l.Panno,
        [ClientServiceTaxNo] = l.STNo,
        [ClientCINNo] = '',
        [ClientGSTNo] = l.GSTIN,
        [ClientHSNCode] = LEFT(ts.Code, 4),
        [ClientStateName] = sgc.[Name],
		[ClientStateCode] = sgc.[Name],
		[DescriptionofGoods] = ts.[Description],
		[HSNCode] = LEFT(ts.Code, 4),
        [BankName] = l.BankName,
        [BankAccountNo] = l.BankAccountNo,
        [BankIFSCCode] = l.BankIFSCCode,
        [BankBranch] = '',
        [CompanyName] = '',
        [CompanyPANNo] = '',
		[CompanyAddress]=boff.PrintingAddress,
        [CompanyServiceType] = '',
        [CompanyHSNCode] = LEFT(ts.Code, 4),
        [CompanyGSTNo] = boff.GSTNo,
        [CompanyStateName] = std.Name,
		[CompanyStateCode] = std.Abbr,
        [PlaceOfSupply] = sgc.[Name],
        [BillingOffice] = boff.OfficeName,
        [BillDate] = b.BillDate,
        [BillNo] = b.BillNo,
		[BillSubDate]=b.BillSubDate,
        [IsTaxPayableonReverseChg] = b.IsTaxApplicable,
        [BillRef1] = b.BillRef1,
        [BillRef2] = b.BillRef2,
        [BillRef3] = b.BillRef3,
        [BillRef4] = b.BillRef4,
        [BillRef5] = '',
        [VehicleNo] = vm.VehicleRegNo,
		[VehicleCapacity]=isnull(vm.Capacity,0),
        [VehicleModel] = '',
        [VehicleType] = isnull(case when trp.TripTypeId=1158 then vtype.Name else hvtype.Name end,''),
		[VehicleTypeCode] = isnull(case when trp.TripTypeId=1158 then vtype.Abbr else hvtype.Abbr end,''),
        [TripRef1] = '',
        [TripRef2] = '',
        [TripRef3] = '',
        [TripRef4] = '',
        [TripDate1] = '',
        [TripDate2] = '',
        [TripDate3] = '',
        [TripDate4] = '',
        [FromPlace] = frm.CityName,
		[ViaPlace]='',
        [ToPlace] = tpl.CityName,
		[FromPlaceCode] = frm.CityAbbr,
        [ToPlaceCode] = tpl.CityAbbr, 
		[ToPlaceStateAbbr]=upper(left(tst.[Name],2)),
        [SFL] = trp.TripStartDate,
        [LRD] = trp.LoadingReachDate,
        [LD] = trp.LoadingDate,
        [URD] = trp.UnloadingReachDate,
        [UD] = trp.UnLoadingDate,
        [TAT] = trp.ExpTime,
		[TATHHMMSS] =dbo.IntToHHMMSS(trp.ExpTime*60*60),

        [TransitTime] = DATEDIFF(hour,trp.LoadingDate,trp.UnloadingReachDate),
		[TTHHMMSS] =dbo.IntToHHMMSS(DATEDIFF(SECOND,trp.LoadingDate,trp.UnloadingReachDate)),
		
		[TTTHHMMSS] =dbo.IntToHHMMSS(DATEDIFF(SECOND,trp.LoadingDate,trp.UnloadingReachDate)-(isnull(DATEDIFF(second,vt.Touching1InDate,vt.Touching1OutDate),0)+isnull(DATEDIFF(second,vt.Touching2InDate,vt.Touching2OutDate),0)+isnull(DATEDIFF(second,vt.Touching3InDate,vt.Touching3OutDate),0))),
		[TOTHHMMSS] =dbo.IntToHHMMSS((isnull(DATEDIFF(Second,vt.Touching1InDate,vt.Touching1OutDate),0)+isnull(DATEDIFF(Second,vt.Touching2InDate,vt.Touching2OutDate),0)+isnull(DATEDIFF(Second,vt.Touching3InDate,vt.Touching3OutDate),0))),
        
		[RouteKm] = trp.KmRun,
        [TouchingTime] = (isnull(DATEDIFF(hour,vt.Touching1InDate,vt.Touching1OutDate),0)+isnull(DATEDIFF(hour,vt.Touching2InDate,vt.Touching2OutDate),0)+isnull(DATEDIFF(hour,vt.Touching3InDate,vt.Touching3OutDate),0)),
		[TouchingPoints] = isnull(vt.Touching1Location,'') + case when len(isnull(vt.Touching2Location,''))>0 then ','+isnull(vt.Touching2Location,'') else '' end
		+ case when len(isnull(vt.Touching3Location,''))>0 then ','+isnull(vt.Touching3Location,'') else '' end,
        [CNNo] = cn.CNNo,
        [CNDate] = cn.CNDate,
		AdditionalTouching=0,
		AnyOtherCharges=0,
		[InvoiceNo]=cn.InvoiceNo,
		[InvoiceDate]=cn.InvoiceDate,
		
        [TransportMode] = '',
        [ConsigneeName] = cne.AccountName,
        [ConsigneeAdd] = '',
        [ConsignorName] = cnr.AccountName,
        [ConsignorAdd] = '',
		
        [LoadTypeName] = lt.Name,
		[LoadTypeAbbr] = lt.Code,
        [ActualRoute] = art.Name,
		[ActualRouteCode] = crt.Abbr,
        [ChargeRoute] = crt.Name,
		[ChargeRouteCode] = crt.Abbr,
		[MaterialName]=mm.[Name],
		[MaterialGroup]=gmm.[Name],
        [CNRef1] = cn.RefI,
        [CNRef2] = cn.RefII,
        [CNRef3] = cn.RefIII,
        [CNRef4] = cn.RefIV,
        [CNRef5] = cn.RefV,
        [CNRefDate1] = '',
        [CNRefDate2] = '',
        [CNRefDate3] = '',
		[PODRemarks]=ci.Remark,
		[PODReachDate]=ci.ReachDate,
		[PODUnloadDate]=ci.UnloadDate,
		[PODShortQty]=isnull(ci.ShortageQty,0),
		[PODDamageQty]=isnull(ci.DamageQty,0),
		[PODScratchQty]=isnull(ci.ScratchQty,0),
		[PODShortAmount]=isnull(ci.ShortageAmount,0),
		[PODDamageAmount]=isnull(ci.ScratchAmount,0),
		[PODScratchAmount]=isnull(ci.ScratchAmount,0),
		[ActualDays]=isnull(DateDiff(day, ci.ReachDate,ci.UnloadDate),0),
        [PODDate] = cn.PODDate,
        [Rate1] = 0,
        [Rate2] = 0,
        [DisP] = cn.DiscPercent,
        [DisAmt] = cn.Discount,
        [ChargeQty] = isnull(cn.ChargedQty,0),
        [ActaulQty] = isnull(cn.ActualQty,0),
        [ActaulQtyUnit] = '',
        [ChargeQtyUnit] = '',
        [ActaulWt] = isnull(cn.ActualWeight,0),
        [ChargeWt] = isnull(cn.ChargedWeight,0),
        [ActaulWtUnit] = '',
        [ChargeWtUnit] = '',
        [Rate] = cn.Rate,

        [BasicFreight] = isnull(cn.CNBasicAmount,0),
        [AddChg1] = isnull(cn.AChargeI,0),
        [AddChg2] = cn.AChargeII,
        [AddChg3] = cn.AChargeIII,
        [AddChg4] = cn.AChargeIV,
        [AddChg5] = cn.AChargeV,
        [AddChg6] = cn.AChargeVI,
        [AddChg7] = 0,
        [AddChg8] = 0,
        [AddChg9] = 0,
        [AddChg10] = 0,
        [AddChg11] = 0,
        [AddChg12] = 0,
        [AddChg13] = 0,
        [AddChg14] = 0,
        [AddChg17] = 0,
        [LessChg1] = bl.LOther1Amount,
        [LessChg2] = bl.LOther2Amount,
        [LessChg3] = bl.LOther3Amount,
        [LessChg4] = bl.LOther4Amount,
        [LessChg5] = 0,
        [LessChg6] = 0,
        [LoadingDetnRate] = cn.LDetentionRate,
        [LoadingDetnDays] = cn.LDetentionDays,
        [UnLoadingDetnRate] = cn.ULDetentionRate,
        [UnLoadingDetnDays] = cn.ULDetentionDays,
        [CGSTRate] = bl.SGSTRate,
        [CGSTAmount] = bl.SGSTAmount,
        [SGSTRate] = bl.SGSTRate,
        [SGSTAmount] = bl.SGSTAmount,
        [IGSTRate] = bl.IGSTRate,
        [IGSTAmount] = bl.IGSTAmount,
        [TotalAmount] = isnull(cn.CNTotalFreight,0),
        [CNRemarks] = cn.Remark,
        [TripRemarks] = trp.Remarks,
		TripAdvance=0
        
		FROM [dbo].[tCNBillMaster] b
		JOIN dbo.tCNBillLog as bl on bl.BillId=b.Id
		JOIN [dbo].[tCNMaster] cn ON cn.Id=bl.CNId
		JOIN [dbo].[mLedger] l ON l.Id=b.BillingPartyAcId
		left join dbo.mLoadType as lt on lt.ID=cn.LoadTypeId
		left join dbo.mCNExtraInfo as ci on ci.CNId=cn.Id
		LEFT JOIN [dbo].[mOfficeMaster] boff ON boff.Id = b.BillOfficeId
		LEFT JOIN [dbo].[mGenericMaster] std ON std.Id = boff.StateId
		LEFT JOIN [dbo].[mTaxServiceType] ts ON ts.Id = l.ServiceTypeId
		LEFT JOIN [dbo].[mPostalAddress] padd ON padd.Id = l.AddressId
		LEFT JOIN [dbo].[mGenericMaster] sgc ON sgc.Id = padd.StateId
		left JOIN [dbo].[mLedger] cne ON cne.Id=cn.ConsigneeId
		left JOIN [dbo].[mLedger] cnr ON cnr.Id=cn.ConsignorId
		LEFT JOIN [dbo].[tVehicleMovementLog] trp ON trp.Id=cn.TripLogId
		Left Join dbo.mRouteMaster as art on art.ID=cn.ActRouteId
		Left Join dbo.mRouteMaster as crt on crt.ID=cn.ChgRouteId
		
		LEFT JOIN [dbo].[mVehicleMaster] vm ON vm.Id=cn.VehicleId
		LEFT JOIN [dbo].[mHireVehicle] hvm ON hvm.Id=cn.HireVehicleId
		LEFT JOIN [dbo].[mGenericMaster] vtype ON vtype.Id=vm.VehicleTypeId
		LEFT JOIN [dbo].[mGenericMaster] hvtype ON hvtype.Id=hvm.VehicleTypeId
		LEFT JOIN [dbo].[mCityMaster] frm ON frm.Id=crt.FromPlaceId
		LEFT JOIN [dbo].[mCityMaster] tpl ON tpl.Id=crt.ToPlaceId
		left join [dbo].[mGenericMaster] tst on tst.Id=tpl.StateId
 		left join [dbo].mMaterialMaster as mm on mm.Id=cn.MaterialId
		left join [dbo].mMaterialMaster as gmm on gmm.Id=mm.MaterialGroupId
		left join
	(
		Select
		TriplogId,
		Touching1InDate,
		Touching1Location,
		Touching1OutDate=(select Min(StartDate) from dbo.tVTSStatusLog as x where x.TriplogId=t.TriplogId and x.Id<>t.VtsLog1Id and x.StartDate>=t.Touching1InDate),
		Touching2InDate,
		Touching2Location,
		Touching2OutDate=(select Min(StartDate) from dbo.tVTSStatusLog as x where x.TriplogId=t.TriplogId and x.Id<>t.VtsLog2Id and x.StartDate>=t.Touching2InDate),
		Touching3InDate,
		Touching3Location,
		Touching3OutDate=(select Min(StartDate) from dbo.tVTSStatusLog as x where x.TriplogId=t.TriplogId and x.Id<>t.VtsLog3Id and x.StartDate>=t.Touching3InDate)
		from (
			Select triplogid,
			VtsLog1Id=Min(case when rowid=1 then Id end),
			Touching1InDate=Min(case when rowid=1 then TouchingDate  else null end),
			Touching1Location=Min(case when rowid=1 then TouchingLocation end),
			VtsLog2Id=Min(case when rowid=2 then Id end),
			Touching2InDate=Min(case when rowid=2 then TouchingDate else null end),
			Touching2Location=Min(case when rowid=2 then TouchingLocation end),
			VtsLog3Id=Min(case when rowid=3 then Id end),
			Touching3InDate=Min(case when rowid=3 then TouchingDate  else null end),
			Touching3Location=Min(case when rowid=3 then TouchingLocation end)
			from (
				select triplogid,vt.Id, TouchingDate=vt.StartDate,TouchingLocation=ct.CityName,ROW_NUMBER()Over(Partition by vt.TriplogId Order by vt.StartDate)as rowid 
				from dbo.tVTSStatusLog as vt
				left join dbo.mCityMaster as ct on ct.ID=vt.LocationId
				where vt.DTSStatusId=218
			)as t where rowid<=3
		group by TriplogId
		)as t
	)as vt on vt.TriplogId=trp.Id
		WHERE b.Id in(select item from dbo.SplitCommaString(@parameter1))
END
GO
