/****** Object:  StoredProcedure [dbo].[Proc_Report_1317]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1317]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1317]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1317]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate	
as
begin
	select 
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	ofc.OfficeName,
	y.RefNo,
	RefDate = y.RefDate,
	Driver = dvr.DriverName,
	TypeName = ty.Name,
	Vehicle = vm.VehicleNo,
	y.Remarks,
	y.Comments,
	y.DriverPoints
   from dbo.tDriverIncidentLog as y
   join dbo.mDriverMaster as dvr on dvr.Id=y.DriverId
   join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=y.DriverId
   left join dbo.mOfficeMaster as ofc on ofc.Id=y.Officeid   
   left join dbo.mVehicleMaster as vm on vm.Id=y.VehicleId
   left join dbo.mGenericMaster as ty on ty.Id=y.TypeId
   where y.RefDate Between @parameter4 and @parameter5
   order by y.RefDate
   
end
GO
