/****** Object:  StoredProcedure [dbo].[Proc_Report_1439]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1439]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1439]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1439]
--1439: New Tyre Stock Ledger
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime--todate	
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		Office = o.OfficeName,
		DocDate = t.VoucherDate,        
        DocNo = t.VoucherNo,
		VendorRefNo = ei.VendorReferenceNo,
		TyreNo = t.TyreNo,
		TyreLife = t.TyreLife,
		BrandName = bm.BrandName,
		ProdMonth=tm.ProdMonth,
        Store = dr.FleetAcName,
		Vendor = cr.FleetAcName,
		PONo = po.PONo,
		t.DiscountPercent,
		t.DiscountAmount,
		--t.VatPercent,
		--t.VatAmount,
		t.CGSTPercent, 
		t.CGSTAmount,
		t.SGSTPercent, 
		t.SGSTAmount,
		t.IGSTPercent, 
		t.IGSTAmount, 
		t.OtherAmount,
		t.NetAmount,
		t.Rate,
		t.Remark,
		[Type]=vt.VoucherTypeName,
		TyreStatus=cv.ConstantName,
		Reason = rm.Name
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLogExtraInfo as ei on CCO.ObjectId=(CASE @RoleId When 1029 THEN  ei.DrAccountId WHEN 1031 THEN ei.CrAccountId end)
	join dbo.tTyreLog as t on  ei.Id=t.ExtraInfoId
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mTyreMaster as tm on tm.Id=t.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	join dbo.mConstantValue as cv on cv.Id=TyreStatusId
	join dbo.mVoucherType as vt on vt.Id=ei.VoucherTypeId
	left join dbo.tPurchaseOrder as po on po.Id=t.PurchaseOrderId
	left join dbo.mGenericMaster as rm on rm.Id=t.ReasonId
	where t.VoucherDate between @parameter4 and @parameter5 and (t.TyreStatusId=1099)
	order by ei.VoucherDate 
end
GO
