/****** Object:  StoredProcedure [dbo].[Proc_Report_1468]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1468]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1468]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select top 10 * from tReportRequestPool order by id desc
--	SELECT * FROM mobjectcategory

-- Proc_Report_1469 '30015','','','2016-08-01','2016-10-10','2'
CREATE proc  [dbo].[Proc_Report_1468] 
	--1468		CN Outstanding Partywise/Officewise
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--FromDate
	@parameter5 date,--ToDate
	@parameter6 date--AsOfDate
as
begin
	SET @parameter6=ISNULL(@parameter6,@parameter5)
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	select 
	ccf.CategoryName,
	ccf.ClassName,
	[BillingOffice]=bo.OfficeName,
	cn.CNNo,
	cn.CNDate,	
	BillingParty=bp.FleetAcName,
	Booking=isnull(cn.CNTotalFreight,0),
	Unbilled=isnull(cn.CNTotalFreight,0)-ISNULL(px.Billed,0),
	Billed=ISNULL(px.Billed,0),
	PaymentReceived=isnull(rc.PaymentReceived,0),
	AdvanceReceived=isnull(rc.AdvanceReceived,0),
	Outstanding=(isnull(cn.CNTotalFreight,0)-isnull(rc.PaymentReceived,0)-isnull(rc.AdvanceReceived,0))
	from dbo.tCNMaster as cn 
	join dbo.mLedger as bp on bp.Id=cn.BillingPartyId
	join dbo.mOfficeMaster as bo on bo.Id=cn.BillingOfficeId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) as ccf on ccf.ObjectId=case @roleId when 1022 then cn.BillingPartyId else cn.BillingOfficeId end	
	left join 
	(
		select CNId= bl.CNId,BillId=bl.BillId,Billed=(isnull(bl.TotalBillAmount,0))
		from dbo.tCNBillMaster as bm
		inner join tCNBillLog as bl on bm.Id=bl.BillId
		where cast(bm.BillDate as date)<=@parameter6
	)as px on px.CNId=cn.Id and px.BillId=Cn.BillId
	left join
	(
		select CNId= bpl.CNId,BillId=bpl.BillId,PaymentReceived=Sum(CASE WHEN ISNULL(bpl.BillId,0)>0 THEN bpl.Amount ELSE 0 END),
		AdvanceReceived=Sum(CASE WHEN ISNULL(bpl.BillId,0)=0 THEN bpl.Amount ELSE 0 END)	
		from dbo.tCNBillpaymentLog as bpl 
		inner join dbo.tCNBillpayment as bp on bpl.PaymentId=bp.Id
		left join dbo.tCNBillMaster as bm on bpl.BillId=bm.Id 
		where cast(bp.documentdate as date)<=@parameter6
		group by bpl.CNId,bpl.BillId
	) as rc on rc.CNId=cn.Id-- and rc.BillId=Cn.BillId
	
	where cast(cn.CNDate as date) between @parameter4 and @parameter5 and cn.CNTypeId<>1369 --and cn.PODDate IS NOT NULL
	and (isnull(cn.CNTotalFreight,0)-isnull(rc.PaymentReceived,0)-isnull(rc.AdvanceReceived,0))>0
	order by cn.CNDate 
end
GO
