/****** Object:  StoredProcedure [dbo].[Proc_Report_1312]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1312]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1312]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1312]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max)--ToDate
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	

	SET NOCOUNT ON;
	SELECT 
	
	Office = O.OfficeName,
	CCO.CategoryName,
	CCO.ClassName,
	ei.DocNo,
	MaterialBillNo=t.MaterialBillNo,
	ei.DocDate,
	[Storec]=cr.FleetAcName,
	[ExpenseAc]=dr.FleetAcName,
	[PurchasedFrom]=t.PurchasedFrom,
	ei.Remark,
	vm.VehicleNo,
	VehicleModel=vmod.ModelName,
	sm.SpareName,
	sm.SpareAbbr,
	t.Qty,
	t.Rate,
	t.NetAmount,
	ItemRemark=t.Remarks

	from dbo.tSpareLogExtraInfo as ei 
	join(
		select t.SparePartId,t.VehicleId,t.Qty,t.Rate,t.Amount,t.DiscountPercent,t.DiscountAmount,t.CGSTRate, t.CGSTAmount, t.SGSTRate, t.SGSTAmount,t.IGSTRate, t.IGSTAmount,t.OtherAmount,t.NetAmount,t.MechanicId,t.Remarks,t.ExtraInfoId,PurchasedFrom=a.FleetAcName , MaterialBillNo=tt.VoucherNo
		from dbo.tSpareLog as t 
		left join dbo.tSpareLog as tt on tt.Id=t.RefId 
		left join mLedger as a on tt.CrAccountId=a.Id
		union all
		select  rl.LaborId,rl.VehicleId,rl.LaborQty,rl.LaborRate,rl.Amount,0,0,0,0,0,0,0,0,rl.OtherAmount,rl.NetAmount,rl.MechanicId,rl.Remark,rl.ExtraInfoId,PurchasedFrom='', MaterialBillNo='' 
		from dbo.tRepairLabourLog as rl
	)as t on ei.ID=t.ExtraInfoId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1030 then  ei.CrAccountId when 1130 then  t.VehicleId else ei.OfficeId end)
	join dbo.mOfficeMaster as O on O.Id=ei.OfficeId
	join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	join dbo.mVehicleModel as vmod on vmod.Id=vm.VehicleModelId
	join dbo.mSpareMaster as sm on sm.Id=t.SparePartId
	left join dbo.mLedger as dr on dr.Id=ei.DrAccountId
	left join dbo.mLedger as cr on cr.Id=ei.CrAccountId

	where ei.VoucherTypeId=24 and ei.DocDate between @parameter4 and @parameter5
	
end
GO
