/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5000_vts]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5000_vts]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5000_vts]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_Mob_Report_5000_vts]
	@parameter1 bigint,
@parameter2 bit--Vehicle Type 0:Own,1:Hire
as
	select top 1
	Id = vts.Id,
    TriplogId = vts.TriplogId,
    StatusDate = vts.StartDate,
	StatusName=st.Name,
	GPSLocation=vts.GPSLocation,
	ManualLocation=ct.CityAbbr,
	Remarks=vts.Remark
	From dbo.tVTSStatusLog as vts
	left join dbo.mVehicleMaster as vm on vm.Id=vts.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=vts.HireVehicleId
	left join dbo.mDTSStatus as st on st.Id=vts.DTSStatusId
	left join dbo.mCityMaster as ct on ct.Id=vts.LocationId
	where (case when @parameter2=0 and vts.VehicleId=@parameter1 then 1 WHEN @parameter2=1 and vts.HireVehicleId=@parameter1 THEN 1 ELSE 0 END)=1
	Order by vts.StartDate desc
GO
