/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV25]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatV25]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV25]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1538_BillFormatV25] 
--1538	Bill Format 1
@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		Id=b.Id,    
		[Customer]=cne.BookingAcName,
		[CustomerAdress]=cadd.FullAddress,
		[Date]=b.BillDate,
		[BillNo]=b.BillNo,
		[VehicleNo]=vh.VehicleRegNo,
     [VendorCode]=l.AccountAbbr,
	 [THCDate]=trp.TripStartDate,
      [THCNumber]=trp.TriplogNo,
      [Origin]=fp.CityName,
      [Destination]=tp.CityName,
       [THCAmunt]=cn.CNBasicAmount,
	   [Discount]=200,
       [BalanceAmount]=cn.CNTotalFreight,
       [TDS]=100,
	   [NetPayable]=cn.CNTotalFreight,
       [ActDEpartuuteDateTime]=trp.LoadingReachDate,
       [ArrivalDateTime]=trp.UnloadingReachDate,
      [TakenTotalTransitHrs]=1,
      [ExtraHalting]=1,
      [ActTransitTime]=1,
      [BethiNo]='D5A4545',
	  [OnTimeDelay]='Delay',
      [RemarkIfAny]='TESTING',
       [TotalNoOfTrip]=4,
       [NoOfOntime]=4,
       [NoOfDelay]=2,
       [DelayAttachedMail]=1,  
       [PanNo]=cne.PanNo

	   	from dbo.tCNBillMaster as b
		join dbo.tCNBillLog as bl on bl.BillId=b.Id
		join dbo.mLedger as l on l.Id=b.BillingPartyAcId
		join dbo.tCNMaster as cn on cn.Id=bl.CNId
		left join dbo.tVehicleMovementLog as trp on trp.Id=cn.TripLogId
		left join dbo.mRouteMaster as rt on rt.Id=cn.ChgRouteId
		left join dbo.mCityMaster as fp on fp.ID=rt.FromPlaceId
		left join dbo.mCityMaster as tp on tp.ID=rt.ToPlaceId
		left join dbo.mVehicleMaster as vh on vh.Id=cn.VehicleId
		left join dbo.mGenericMaster as vht on vht.Id=vh.VehicleTypeId
		left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
		left join dbo.mPostalAddress as cadd on cadd.Id=l.AddressId
		where b.Id in(Select Item from dbo.SplitCommaString(@parameter1))

	  
	   END
GO
