/****** Object:  StoredProcedure [dbo].[Proc_Report_1449]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1449]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1449]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Proc_Report_1449] 
(
	@parameter1 DATETIME,@parameter2 datetime,@parameter3 BIGINT
)
AS 
BEGIN
-- 1449: Ledger
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE CAST(@parameter1 as date) between CAST(OpeningDate as date) and CAST(ClosingDate as date)),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE CAST(@parameter2 as date) between CAST(OpeningDate as date) and CAST(ClosingDate as date)),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end

	DECLARE @Ledger TABLE
	(RowID BIGINT IDENTITY(1,1),VoucherId bigint,VdId bigint,OfficeId bigint,VoucherDate datetime,Office nvarchar(255),VoucherNo nvarchar(255),ChequeNo varchar(255),VoucherType varchar(255),Particulars VARCHAR(1000), Debit decimal(18,2),Credit decimal(18,2),Narration nvarchar(500) ,OrderId int)

	Declare @OpBalance DECIMAL(18,2),@ClBalance DECIMAL(18,2)
	Set @OpBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId where  xvd.AccountId=@parameter3 and  xv.FYID=@FFYId and ((xv.VoucherTypeId in(19,69) AND xv.VoucherDate <= @parameter1) OR  (xv.VoucherDate < @parameter1)) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0)
	insert into @Ledger(Particulars,Debit,Credit,OrderId) values('Opening Balance',case when @OpBalance>0 then @OpBalance else null end,case when @OpBalance<0 then abs(@OpBalance) else null end,2)

	insert into @Ledger(VoucherId,VdId,OfficeId,VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,Narration,OrderId)
	
	Select 
	v.Id
	,vd.Id
	,OfficeId=v.OfficeId
	,VoucherDate =v.VoucherDate
	,Office=o.OfficeName
	,v.VoucherNo
	,vd.ChequeNo
	,vt.VoucherTypeName
	,Particulars=(select top 1 a.AccountName from dbo.mLedger as a join dbo.tVoucherVD as xvd on xvd.AccountId=a.Id where xvd.VoucherId=v.Id and xvd.AccountId<>vd.AccountId and xvd.orderid<3)--case when isnull(xvd.AccountId,0)=0 or v.VoucherTypeId=18 then 'as per detail' else a.FleetAcName end
	--case when v.Account3Id>0 or VoucherTypeId=18 then 'as per detail' else (case when v.Account1Id=vd.AccountId then a1.FleetAcName else a.FleetAcName end) end
	,[DebitAmount]=case when ISNULL(vd.VDAmount,0)>0 then ISNULL(vd.VDAmount,0) else 0 end
	,[CreditAmount]=abs(case when ISNULL(vd.VDAmount,0)<0 then ISNULL(vd.VDAmount,0) else 0 end)
	,Narration=isnull(v.AccNarration,'') + case when len(isnull(vd.Narration,''))>0 then ' '+ isnull(vd.Narration,'') else '' end 
	
	,1
	from dbo.tVouchers as v 
	inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
	inner join dbo.mOfficeMaster as o on o.Id=v.OfficeId
	inner join dbo.mVoucherType as vt on vt.Id=v.VoucherTypeId
	where isnull(v.FYID,1)=@FFYId and v.VoucherDate between @parameter1 and @parameter2 and v.IsAccepted=1 and IsAccountsVisiblity=1
	and vd.AccountId=@parameter3 and v.VoucherTypeId not in(19,69)
	order by v.VoucherDate
	insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	select 'Transaction Total',Sum(Debit),Sum(Credit),3 from @Ledger where OrderId=1

	set @ClBalance=isnull((select Sum(Debit)-Sum(Credit) from @Ledger where OrderId in(2,3)),0)
	insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	values('Closing Balance',case when ISNULL(@ClBalance,0)>0 then ISNULL(@ClBalance,0) else 0 end,abs(case when ISNULL(@ClBalance,0)<0 then ISNULL(@ClBalance,0) else 0 end),4)

	select VoucherId,VdId,OfficeId,VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,Narration,OrderId from @Ledger order by OrderId,VoucherDate

END
GO
