/****** Object:  StoredProcedure [dbo].[Proc_TRNS_STNRY_DuplicateCheck]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_STNRY_DuplicateCheck]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_STNRY_DuplicateCheck]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_TRNS_STNRY_DuplicateCheck]
	@BookId bigint,
	@BookTypeId bigint,
	@StartingNumber bigint,
	@NoofPages bigint,
	@Prefix nvarchar(20)=''
as
begin
declare @EndNumber bigint
set @EndNumber=@StartingNumber + @NoofPages-1

	select top 1 b.Name+'^'+ISNULL(o.OfficeName,'')
	from dbo.mBook as b
	 LEFT OUTER JOIN [dbo].[mOfficeMaster] AS [o]
	ON b.[OfficeId] = [o].[Id]
	where b.Id <>@BookId and b.TypeId=@BookTypeId and b.Prefix=@Prefix and
	(@StartingNumber between b.StartingNumber and (b.StartingNumber+b.NoOfPages-1)
	or @EndNumber between b.StartingNumber and (b.StartingNumber+b.NoOfPages-1)
	or b.StartingNumber between @StartingNumber and @EndNumber
	or (b.StartingNumber+b.NoOfPages-1) between @StartingNumber and @EndNumber)

end
GO
