/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1555_ShowCNTracking]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1555_ShowCNTracking]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1555_ShowCNTracking]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[Proc_TRANS_1555_ShowCNTracking]
@parameter1 bigint=0 --CnNumber NULLABLE

AS
BEGIN
Declare @SQL nvarchar(max)= N'SELECT CNDTS.Id, CNDTS.Remark,CNDTS.StartDate, DeliveryDate=CN.DeliveryDate, CN.CNDate, CNDTS.CNId, CN.CNNo, CNDTS.CNDTSStatusId, SS.DocNo,
StatusId=CNDTS.StatusId, Status=d.Name, [Office]= OFCM.OfficeName, OfficeId=CNDTS.OfficeId1,CityLocation=CM.CityName, CityLocationId=CNDTS.LocationId, [Route]=CNRM.Name,
BillingParty=ISNULL(BP.BookingAcName,BP.AccountName), Consignor=ISNULL(CO.BookingAcName,CO.AccountName),TriplogNo=ISNULL(VL.TriplogNo,NULL), 
PreviousLogId=IsNULL(CNDTS.PreviousLogId, 0),NextLogId=ISNULL(CNDTS.NextLogId,0), CNDTSStatusId=ISNULL(CNDTS.CNDTSStatusId,0), CNDTS.IsAuto
from
[dbo].[tCNDTSStatusLog] CNDTS 
INNER JOIN [dbo].[mDTSStatus] D ON CNDTS.StatusId=D.Id
INNER JOIN [dbo].[tCNMaster] CN ON CNDTS.CNId=CN.Id
LEFT JOIN [dbo].[tCNDTSStatus] SS ON CNDTS.CNDTSStatusId=SS.Id
LEFT JOIN [dbo].[mLedger] BP ON CN.BillingPartyId=BP.Id
LEFT JOIN [dbo].[mLedger] CE ON CN.ConsigneeId=CE.Id
LEFT JOIN [dbo].[mLedger] CO ON CN.ConsignorId=CO.Id
LEFT JOIN [dbo].[mOfficeMaster] OFCM ON CNDTS.OfficeId1=OFCM.Id
LEFT JOIN [dbo].[mOfficeMaster] OFM ON CNDTS.OfficeId2=OFM.Id
LEFT JOIN [dbo].[mRouteMaster] CNRM ON CN.ACTRouteId=CNRM.Id
LEFT JOIN [dbo].[mCityMaster] CM ON CNDTS.LocationId=CM.Id
LEFT JOIN [dbo].[tCNStockLog] CL ON CNDTS.StockLogId=CL.Id
LEFT JOIN [dbo].[tVehicleMovementLog] VL ON CL.TriplogId=VL.Id where'
Declare  @where nvarchar(max)=' CNDTS.CNId='+CAST(@parameter1 as nvarchar) +''

DECLARE @mainsql nvarchar(max)=@sql+@where+' ORDER BY CONVERT(date,CNDTS.StartDate) DESC,CNDTS.Id desc'
print @mainSQL
exec sp_sqlexec @mainsql
END
GO
