/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1005_BulkDisbursement_ITS]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1005_BulkDisbursement_ITS]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1005_BulkDisbursement_ITS]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1005_BulkDisbursement_ITS] @reportrequestid BIGINT
AS
BEGIN
  
    DECLARE @xml AS XML
           ,@hdoc INT
           ,@PrepareXmlStatus INT
           ,@AccountStatus NVARCHAR(10)
           ,@VCOUNT INT
           ,@VD1Count INT
           ,@VD2Count INT
           ,@VDRCount INT
           ,@DOE DATETIME = GETDATE()
    SELECT TOP 1
      @AccountStatus = [Value]
    FROM ApiConfigurations
    WHERE Id = 'VoucherVisiblityFlag'/*0:NA,1:DirectImport,2:ApprovalRequired*/
    SELECT TOP 1
      @xml = XmlParameter
    FROM [dbo].[tReportRequestPool]
    WHERE Id = @reportrequestid
    CREATE TABLE #Disbursement (
      CreditAcId BIGINT
     ,PaidDate DATE
     ,PaidAmount DECIMAL(18, 2)
     ,ReferenceNo NVARCHAR(200) collate SQL_Latin1_General_CP1_CI_AS
     ,TransactionId BIGINT
     ,FuelPaidRate DECIMAL(18, 2)
     ,FuelPaidQty DECIMAL(18, 2)
     ,BatchId NVARCHAR(150) collate SQL_Latin1_General_CP1_CI_AS
     ,SessionId BIGINT
     ,Error NVARCHAR(MAX)
     ,Id BIGINT NULL
     ,FyId BIGINT NULL
    )
    EXEC @PrepareXmlStatus = sp_xml_preparedocument @hdoc OUTPUT
                                                   ,@xml
    INSERT INTO #Disbursement (CreditAcId, PaidDate, PaidAmount, ReferenceNo, FuelPaidRate, FuelPaidQty, BatchId, SessionId, TransactionId, Id, FyId, Error)
      SELECT
        l.CreditAccountId
       ,temp.PaidDate
       ,temp.PaidAmount
       ,l.ReferenceNo
       ,FuelPaidRate = (CASE
          WHEN L.PaidInId = 1517/*Fuel Paid in Bank Card as Cash*/ AND L.RequestQty > 0 THEN ROUND(temp.PaidAmount / L.RequestQty, 2)
          ELSE ISNULL(fl.FuelRate, ISNULL(temp.FuelPaidRate, 0))
        END)/*ISNULL(fl.FuelRate,0)*/
       ,FuelPaidQty = (CASE
          WHEN ISNULL(temp.FuelPaidQty, 0) = 0 THEN ISNULL(L.RequestQty, 0)
          ELSE ISNULL(temp.FuelPaidQty, 0)
        END)
       ,temp.BatchId
       ,temp.SessionId
       ,temp.TransactionId
       ,L.Id
       ,F.Id
       ,Error = (CASE
          WHEN F.IsActive = 0 THEN 'Financial Year is Not Active'
          WHEN F.IsLocked = 1 THEN 'Financial Year is Locked'
          ELSE NULL
        END)
      FROM OPENXML(@hdoc, '/ArrayOfDU_TripAdvanceDisbursement/DU_TripAdvanceDisbursement', 2)
      WITH (
      CrAccountId BIGINT,
      PaidDate DATE,
      PaidAmount DECIMAL(18, 2),
      /*ReferenceNo NVARCHAR(200),*/
      FuelPaidRate DECIMAL(18, 2),
      FuelPaidQty DECIMAL(18, 2),
      BatchId NVARCHAR(150),
      SessionId BIGINT,
      TransactionId BIGINT
      ) AS temp
      LEFT JOIN [dbo].[tTripAdvanceLog] L
        ON temp.TransactionId = L.Id
      LEFT JOIN [dbo].[mFy] F
        ON CAST(temp.PaidDate AS DATE) BETWEEN CAST(f.OpeningDate AS DATE) AND CAST(F.ClosingDate AS DATE)
      LEFT JOIN (SELECT
          RowNum = ROW_NUMBER() OVER (PARTITION BY PumpId, FuelId, CAST(FromDate AS DATE) ORDER BY FromDate DESC)
         ,*
        FROM [dbo].[mFuelRateLog]) AS fl
        ON (CAST(temp.PaidDate AS DATE) BETWEEN CAST(fl.FromDate AS DATE) AND CAST(ISNULL(fl.ToDate, GETDATE()) AS DATE))
          AND fl.RowNum = 1
          AND fl.PumpId = L.CreditAccountId;

    UPDATE #Disbursement
    SET PaidAmount = FuelPaidRate * FuelPaidQty
    WHERE PaidAmount = 0
    AND FuelPaidQty > 0

    --select * from #Disbursement

    SELECT
      BatchId = temp.BatchId
     ,temp.TransactionId
     ,Error = (CASE
        WHEN temp.PaidAmount > t.RequestAmount AND
          temp.FuelPaidQty <= 0 THEN 'Paid amount can''t be greater than request amount' /*1*/
        WHEN temp.FuelPaidQty > t.RequestQty THEN 'Paid Fuel Qty can''t be greater than Request Qty' /*2*/
        WHEN CONVERT(DATE, temp.PaidDate) < CONVERT(DATE, t.RequestDate) THEN 'Paid Date can''t be less than Request Date' /*3*/
        WHEN temp.Id IS NULL THEN 'Request Record not found.' /*4*/
        WHEN t.RequestStatusId = 1597 THEN 'Request has been already approved' /*5*/
        WHEN t.RequestStatusId = 1598 THEN 'Request is in Rejected Status.' /*5*/
        WHEN t.AdvanceTypeId = 2 AND
          temp.FuelPaidRate = 0 THEN 'Fuel Paid Rate Cannot be Zero'
        ELSE (CASE
            WHEN LEN(ISNULL(temp.Error, '')) > 0 THEN temp.Error
            ELSE 'unkown error'
          END)
      END) INTO #invalids
    FROM #Disbursement AS temp
    LEFT JOIN dbo.tTripAdvanceLog t
      ON temp.Id = t.Id
    WHERE (temp.PaidAmount > t.RequestAmount
    AND temp.FuelPaidQty <= 0) /*1*/
    OR temp.FuelPaidQty > t.RequestQty /*2*/
    OR CONVERT(DATE, temp.PaidDate) < CONVERT(DATE, t.RequestDate) /*3*/
    OR temp.Id IS NULL /*4*/
    OR LEN(ISNULL(temp.Error, '')) > 1
    OR t.RequestStatusId <> 1596/*Pending*/ /*5*/
    OR (t.AdvanceTypeId = 2
    AND (temp.FuelPaidQty = 0
    OR temp.FuelPaidRate = 0))


    IF (EXISTS (SELECT       *     FROM #invalids)    )    
    BEGIN
      DELETE FROM #Disbursement WHERE BatchId IN (SELECT  BatchId FROM #invalids)
    --SELECT * FROM #invalids;
    --DROP TABLE #invalids; 
    --Return;
    END
    /*Set the batch Id on Advances*/
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
  BEGIN TRY
    BEGIN TRANSACTION
	   UPDATE ad
	   SET ad.BatchId = D.BatchId
		 ,ad.VoucherNo = ISNULL(ad.VoucherNo,ad.ReferenceNo)+(CASE WHEN ISNULL(v.Id,0)>0 THEN  '-' + CAST(ad.CreditAccountId AS NVARCHAR) ELSE '' END)
		 ,ad.CreditAccountId = D.CreditAcId
		 ,ad.AdvanceDate = CAST(D.PaidDate AS DATE)
		,ad.VoucherDate=D.PaidDate
		,ad.CashAmount=(CASE WHEN D.FuelPaidQty>0 THEN 0 ELSE D.PaidAmount END)    
		,ad.FuelAmount=(CASE WHEN D.FuelPaidQty>0 THEN D.PaidAmount ELSE 0 END)
		,ad.Remark =ad.RequestRemark
	   FROM [dbo].[tTripAdvanceLog] ad
	   JOIN #Disbursement D ON ad.Id = D.Id
	   LEFT JOIN tVouchers v ON cast(v.VoucherNo as nvarchar(100))=cast(ISNULL(ad.VoucherNo,ad.ReferenceNo) as nvarchar(100))

	   INSERT INTO tVouchers ([OfficeId], [VoucherNo], [VoucherDate], [VoucherDateTime], [VoucherTypeId], [VchAmount],
	   [Account1Id], [Amount1], [Account2Id], [Amount2], [Amount3], [Amount4], [Amount5], [Amount6],
	   [CSID], [CDOE], [IsAudited], [IsAccepted], [IsAccountsVisiblity], [Amount7], [Amount8], [Amount9], [Amount10], BatchId, FYID, RefTransId, VDCount, IsParent)
		SELECT
		  t.OfficeId
		 ,t.VoucherNo
		 ,CAST(temp.PaidDate AS DATE)
		 ,temp.PaidDate
		 ,t.AdvanceTypeId
		 ,temp.PaidAmount
		 ,t.DebitAccountId
		 ,temp.PaidAmount
		 ,t.CreditAccountId
		 ,-temp.PaidAmount
		 ,0
		 ,0
		 ,0
		 ,0
		 ,temp.SessionId
		 ,@DOE
		 ,0
		 ,(CASE @AccountStatus
		    WHEN 1 THEN 1
		    ELSE 0
		  END)
		 ,(CASE @AccountStatus
		    WHEN 0 THEN 0
		    ELSE 1
		  END)
		 ,0
		 ,0
		 ,0
		 ,0
		 ,temp.BatchId
		 ,temp.FyId
		 ,t.Id
		 ,2
		 ,0
		FROM #Disbursement AS temp
		JOIN dbo.tTripAdvanceLog t ON temp.Id = t.Id
    SET @VCOUNT = @@ROWCOUNT;
    IF (@VCOUNT > 0)
    BEGIN
      /*Debit VD(-)*/
      INSERT INTO tVoucherVD ([VoucherId], [OfficeId], [AccountId], [OrderId], [VDAmount], [CSID], [CDOE], [BatchId])
        SELECT
          V.Id
         ,V.OfficeId
         ,V.Account1Id
         ,1
         ,V.Amount1
         ,temp.SessionId
         ,@DOE
         ,V.BatchId
        FROM #Disbursement AS temp
        JOIN dbo.tVouchers V
          ON temp.BatchId = V.BatchId
        WHERE V.Id IS NOT NULL
      SET @VD1Count = @@ROWCOUNT;
      IF (@VD1Count > 0)
      BEGIN
        INSERT INTO tVoucherVDR ([VDId], [ReferenceNo], [VDRTypeID], [VDRAmount], [AccountId], [CSID], [CDOE], [TransactionId], [DueDate])
          SELECT
            VD.Id
           ,(CASE WHEN ISNULL(vv.Id,0)>0 THEN t.ReferenceNo+t.VoucherNo ELSE t.ReferenceNo END)
           ,1013/*NewRef*/
           ,VD.VDAmount
           ,VD.AccountId
           ,VD.CSID
           ,@DOE
           ,temp.Id
           ,DATEADD(DAY, ISNULL(L.CreditPeriod, 0), v.VoucherDate)
          FROM #Disbursement AS temp
            
          JOIN dbo.tVouchers V
            ON temp.BatchId = V.BatchId
          JOIN dbo.tVoucherVD VD
            ON V.Id = VD.VoucherId
            JOIN dbo.tTripAdvanceLog t
        ON temp.Id = t.Id
            LEFT JOIN tVoucherVDR vv ON vv.ReferenceNo=t.ReferenceNo AND vv.AccountId=vd.AccountId AND vv.VDRTypeID=1013
          LEFT JOIN dbo.mLedger L
            ON VD.AccountId = L.Id
          WHERE VD.OrderId = 1
      END
      /*Credit VD(-)*/
      INSERT INTO tVoucherVD ([VoucherId], [OfficeId], [AccountId], [OrderId], [VDAmount], [CSID], [CDOE], [BatchId])
        SELECT
          V.Id
         ,V.OfficeId
         ,V.Account2Id
         ,2
         ,V.Amount2
         ,temp.SessionId
         ,@DOE
         ,V.BatchId
        FROM #Disbursement AS temp
        JOIN dbo.tVouchers V
          ON temp.BatchId = V.BatchId
        WHERE V.Id IS NOT NULL
      SET @VD2Count = @@ROWCOUNT;
      IF (@VD2Count > 0)
      BEGIN
        INSERT INTO tVoucherVDR ([VDId], [ReferenceNo], [VDRTypeID], [VDRAmount], [AccountId], [CSID], [CDOE], [TransactionId], [DueDate])
          SELECT
            VD.Id
           ,(CASE WHEN ISNULL(vv.Id,0)>0 THEN t.ReferenceNo+t.VoucherNo ELSE t.ReferenceNo END)
           ,1013/*NewRef*/
           ,VD.VDAmount
           ,VD.AccountId
           ,VD.CSID
           ,@DOE
           ,temp.Id
           ,DATEADD(DAY, ISNULL(L.CreditPeriod, 0), v.VoucherDate)
          FROM #Disbursement AS temp
          JOIN dbo.tVouchers V
            ON temp.BatchId = V.BatchId
          JOIN dbo.tVoucherVD VD
            ON V.Id = VD.VoucherId
          LEFT JOIN dbo.mLedger L
            ON VD.AccountId = L.Id
            JOIN dbo.tTripAdvanceLog t
        ON temp.Id = t.Id
            LEFT JOIN tVoucherVDR vv ON vv.ReferenceNo=t.ReferenceNo AND vv.AccountId=vd.AccountId AND vv.VDRTypeID=1013
          WHERE VD.OrderId = 2
          AND L.ReferenceFlag = 1
      END
      UPDATE t
      SET t.AdvanceDate = temp.PaidDate
         /*,t.CashAmount = (CASE
            WHEN temp.FuelPaidQty > 0 THEN 0
            ELSE temp.PaidAmount
          END)*/
         ,t.FuelQty = temp.FuelPaidQty
         ,t.FuelRate = temp.FuelPaidRate
         /*,t.FuelAmount = ISNULL((temp.FuelPaidQty * temp.FuelPaidRate), 0)*/
         ,t.MSID = temp.SessionId
         ,t.MDOE = @DOE
         ,t.VoucherId = V.id
         ,VDRId = VDR.Id
         ,t.RequestStatusId = 1597--Approved
      FROM tTripAdvanceLog t
      JOIN #Disbursement temp
        ON t.Id = temp.Id
      JOIN tVouchers V
        ON temp.BatchId = V.BatchId
      JOIN tVoucherVD VD
        ON V.Id = VD.VoucherId
        AND VD.OrderId = 1
      LEFT JOIN tVoucherVDR VDR
        ON VD.Id = VDR.VDId

      /*Delete Existing Expense if Any*/
      DELETE tTripExpenseLog  WHERE TripAdvanceLogId IN (SELECT  Id  FROM #Disbursement)

      INSERT INTO tTripExpenseLog (ClaimAmount, BudgetedQty, FuelQty, FuelRate, SettledAmount, TripLogId, ExpenseTypeId, ViewId, TripAdvanceLogId, ShortFuelQty, ShortFuelAmt, IsAuto, CSID, CDOE)
        SELECT
          *
        FROM (SELECT
            ClaimAmount = (CASE
              WHEN t.FuelQty > 0 THEN t.FuelAmount
              ELSE t.CashAmount
            END)
           ,BudgetedQty = 0
           ,t.FuelQty
           ,t.FuelRate
           ,SettledAmount = 0
           ,t.TripLogId
           ,ExpenseTypeId = ISNULL(t.ExpenseId, (CASE
              WHEN t.FuelQty > 0 THEN (SELECT TOP 1
                    ex.Id
                  FROM mExpenseMaster ex
                  WHERE ex.NatureId = 1479)
              ELSE 0
            END))
           ,ViewId = t.ViewId
           ,TripAdvanceLogId = t.Id
           ,ShortFuelQty = 0
           ,ShortFuelAmt = 0
           ,IsAuto = 1
           ,CSID = temp.SessionId
           ,t.MDOE
          FROM tTripAdvanceLog t
          JOIN #Disbursement temp
            ON t.Id = temp.Id
          WHERE t.TripLogId > 0) AS tempExp
        WHERE ExpenseTypeId > 0

    END
    SELECT
      *
    FROM #invalids;
    DROP TABLE #invalids;

    COMMIT TRANSACTION
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0
      ROLLBACK
    DECLARE @ERR NVARCHAR(MAX)
    SET @ERR = ERROR_MESSAGE()
    RAISERROR (@ERR, 11, 0)
  END CATCH
END
GO
