/****** Object:  StoredProcedure [dbo].[PROC_TRANS_UploadVouchers]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[PROC_TRANS_UploadVouchers]
GO
/****** Object:  StoredProcedure [dbo].[PROC_TRANS_UploadVouchers]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_TRANS_UploadVouchers]
@reportrequestid bigint
AS
BEGIN

--  delete from dbo.tVouchers where VoucherNo like '%VoucherNo%'
    DECLARE @xml xml,@batchid nvarchar(100),@sessionId bigint,@hdoc AS INT;
    SELECT TOP 1 @xml=XmlParameter, @sessionId=CAST(Parameter1 as bigint) FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
    if(@xml IS NULL)return;
    DECLARE @PrepareXmlStatus INT 	

    EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml --Preparing XML handle
    select  
    
	   OfficeId,
        VoucherNo,
        VoucherDate,
        VoucherTypeId,
	    DRAccountName1Id, DRAccountValue1, DRAccountRef1, DRAccountNarration1,
         DRAccountName2Id, DRAccountValue2, DRAccountRef2, DRAccountNarration2,
         DRAccountName3Id, DRAccountValue3, DRAccountRef3, DRAccountNarration3,
         DRAccountName4Id, DRAccountValue4, DRAccountRef4, DRAccountNarration4,
         DRAccountName5Id, DRAccountValue5, DRAccountRef5, DRAccountNarration5,
         DRAccountName6Id, DRAccountValue6, DRAccountRef6, DRAccountNarration6,
         DRAccountName7Id, DRAccountValue7, DRAccountRef7, DRAccountNarration7,
         DRAccountName8Id, DRAccountValue8, DRAccountRef8, DRAccountNarration8,
         DRAccountName9Id, DRAccountValue9, DRAccountRef9, DRAccountNarration9,
         DRAccountName10Id, DRAccountValue10, DRAccountRef10, DRAccountNarration10,
         CRAccountName1Id, CRAccountValue1, CRAccountRef1, CRAccountNarration1, 
         CRAccountName2Id, CRAccountValue2, CRAccountRef2, CRAccountNarration2, 
         CRAccountName3Id, CRAccountValue3, CRAccountRef3, CRAccountNarration3,
         CRAccountName4Id, CRAccountValue4, CRAccountRef4, CRAccountNarration4,
         CRAccountName5Id, CRAccountValue5, CRAccountRef5, CRAccountNarration5,
         CRAccountName6Id, CRAccountValue6, CRAccountRef6, CRAccountNarration6,
         CRAccountName7Id, CRAccountValue7, CRAccountRef7, CRAccountNarration7,
         CRAccountName8Id, CRAccountValue8, CRAccountRef8, CRAccountNarration8,
         CRAccountName9Id, CRAccountValue9, CRAccountRef9, CRAccountNarration9,
         CRAccountName10Id, CRAccountValue10, CRAccountRef10, CRAccountNarration10,
         FileID= nullif(FileTypeId,0), 
         FileNo,
         VoucherNarration,VoucherId=0,
     FYId=0,
	VoucherTotal=0,
	IsAccepted=1,
	IsAccountVisibilityId=1,
	NoofVDs=0,
	BatchId='llllllllllllllllllllllllllllllllllllllllllllllllllllllll',
	DrTotal=0
     INTO #Vouchers
	FROM OPENXML(@hdoc, '/ArrayOfDU_Vouchers/DU_Vouchers',2)
	WITH (
	    OfficeId bigint,
         VoucherNo nvarchar(120),
         VoucherDate DateTime,
         VoucherTypeId bigint,

	    DRAccountName1Id bigint, DRAccountValue1 decimal(18,2), DRAccountRef1 nvarchar(200),
         DRAccountNarration1 nvarchar(200),

         DRAccountName2Id bigint,
         DRAccountValue2 decimal(18,2),
         DRAccountRef2 nvarchar(200),
         DRAccountNarration2 nvarchar(200),

         DRAccountName3Id bigint,
         DRAccountValue3 decimal(18,2),
         DRAccountRef3 nvarchar(200),
         DRAccountNarration3 nvarchar(200),

         DRAccountName4Id bigint,
         DRAccountValue4 decimal(18,2),
         DRAccountRef4 nvarchar(200),
         DRAccountNarration4 nvarchar(200),

         DRAccountName5Id bigint,
         DRAccountValue5 decimal(18,2),
         DRAccountRef5 nvarchar(200),
         DRAccountNarration5 nvarchar(200),

         DRAccountName6Id bigint,
         DRAccountValue6 decimal(18,2),
         DRAccountRef6 nvarchar(200),
         DRAccountNarration6 nvarchar(200),

         DRAccountName7Id bigint, 
         DRAccountValue7 decimal(18,2),
         DRAccountRef7 nvarchar(200),
         DRAccountNarration7 nvarchar(200),

         DRAccountName8Id bigint,
         DRAccountValue8 decimal(18,2),
         DRAccountRef8 nvarchar(200),
         DRAccountNarration8 nvarchar(200),

         DRAccountName9Id bigint,
         DRAccountValue9 decimal(18,2),
         DRAccountRef9 nvarchar(200),
         DRAccountNarration9 nvarchar(200),

         DRAccountName10Id bigint,
         DRAccountValue10 decimal(18,2),
         DRAccountRef10 nvarchar(200),
         DRAccountNarration10 nvarchar(200),

         CRAccountName1Id bigint,
         CRAccountValue1 decimal(18,2),
         CRAccountRef1 nvarchar(200),
         CRAccountNarration1 nvarchar(200), 

         CRAccountName2Id bigint,
         CRAccountValue2 decimal(18,2),
         CRAccountRef2 nvarchar(200),
         CRAccountNarration2 nvarchar(200), 

         CRAccountName3Id bigint,
         CRAccountValue3 decimal(18,2),
         CRAccountRef3 nvarchar(200),
         CRAccountNarration3 nvarchar(200),

         CRAccountName4Id bigint,
         CRAccountValue4 decimal(18,2),
         CRAccountRef4 nvarchar(200),
         CRAccountNarration4 nvarchar(200),

         CRAccountName5Id bigint, 
         CRAccountValue5 decimal(18,2),
         CRAccountRef5 nvarchar(200),
         CRAccountNarration5 nvarchar(200),

         CRAccountName6Id bigint,
         CRAccountValue6 decimal(18,2),
         CRAccountRef6 nvarchar(200),
         CRAccountNarration6 nvarchar(200),

         CRAccountName7Id bigint,
         CRAccountValue7 decimal(18,2),
         CRAccountRef7 nvarchar(200),
         CRAccountNarration7 nvarchar(200),

         CRAccountName8Id bigint,
         CRAccountValue8 decimal(18,2),
         CRAccountRef8 nvarchar(200),
         CRAccountNarration8 nvarchar(200),

         CRAccountName9Id bigint,
         CRAccountValue9 decimal(18,2),
         CRAccountRef9 nvarchar(200),
         CRAccountNarration9 nvarchar(200),

         CRAccountName10Id bigint,
         CRAccountValue10 decimal(18,2),
         CRAccountRef10 nvarchar(200),
         CRAccountNarration10 nvarchar(200),


         FileTypeId bigint,
         FileNo nvarchar(200),
         VoucherNarration nvarchar(400)
	   ) as temp

	  DECLARE @validationerror NVARCHAR(max)
	  UPDATE t 
		SET 
		t.FYId=(select fy.Id from dbo.mfy as fy where t.VoucherDate>=fy.OpeningDate and t.VoucherDate<DateAdd(day,1,fy.ClosingDate) )
		FROM #Vouchers AS t
	  
	  UPDATE v
	  SET v.VoucherTotal=(ISNULL(v.DRAccountValue1,0)+ISNULL(v.DRAccountValue2,0)+ISNULL(v.DRAccountValue3,0)+ISNULL(v.DRAccountValue4,0)
		+ISNULL(v.DRAccountValue5,0)+ISNULL(v.DRAccountValue6,0)+ISNULL(v.DRAccountValue7,0)+ISNULL(v.DRAccountValue8,0)
		+ISNULL(v.DRAccountValue9,0)+ISNULL(v.DRAccountValue10,0))
		-(ISNULL(v.CRAccountValue1,0)+ISNULL(v.CRAccountValue2,0)+ISNULL(v.CRAccountValue3,0)+ISNULL(v.CRAccountValue4,0)
		+ISNULL(v.CRAccountValue5,0)+ISNULL(v.CRAccountValue6,0)+ISNULL(v.CRAccountValue7,0)+ISNULL(v.CRAccountValue8,0)
		+ISNULL(v.CRAccountValue9,0)+ISNULL(v.CRAccountValue10,0))
		,v.DRTotal=(ISNULL(v.DRAccountValue1,0)+ISNULL(v.DRAccountValue2,0)+ISNULL(v.DRAccountValue3,0)+ISNULL(v.DRAccountValue4,0)
		+ISNULL(v.DRAccountValue5,0)+ISNULL(v.DRAccountValue6,0)+ISNULL(v.DRAccountValue7,0)+ISNULL(v.DRAccountValue8,0)
		+ISNULL(v.DRAccountValue9,0)+ISNULL(v.DRAccountValue10,0))
		,v.NoofVDs=CASE WHEN ISNULL(v.DRAccountName1Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.DRAccountName2Id,0)>0 THEN 1 ELSE 0 END
		+CASE WHEN ISNULL(v.DRAccountName3Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.DRAccountName4Id,0)>0 THEN 1 ELSE 0 END
		+CASE WHEN ISNULL(v.DRAccountName5Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.DRAccountName6Id,0)>0 THEN 1 ELSE 0 END
		+CASE WHEN ISNULL(v.DRAccountName7Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.DRAccountName8Id,0)>0 THEN 1 ELSE 0 END
		+CASE WHEN ISNULL(v.DRAccountName9Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.DRAccountName10Id,0)>0 THEN 1 ELSE 0 END
    
		+CASE WHEN ISNULL(v.CRAccountName1Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.CRAccountName2Id,0)>0 THEN 1 ELSE 0 END
		+CASE WHEN ISNULL(v.CRAccountName3Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.CRAccountName4Id,0)>0 THEN 1 ELSE 0 END
		+CASE WHEN ISNULL(v.CRAccountName5Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.CRAccountName6Id,0)>0 THEN 1 ELSE 0 END
		+CASE WHEN ISNULL(v.CRAccountName7Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.CRAccountName8Id,0)>0 THEN 1 ELSE 0 END
		+CASE WHEN ISNULL(v.CRAccountName9Id,0)>0 THEN 1 ELSE 0 END+CASE WHEN ISNULL(v.CRAccountName10Id,0)>0 THEN 1 ELSE 0 END    
		FROM #Vouchers v
		 
	  if exists(select t.* from #Vouchers t where isnull(t.FyId,0)=0)
	  begin
		select 'Wrong Financial Year' as Error,* from #Vouchers t where isnull(t.FyId,0)=0
		return;
	  end
	  if exists(select count(t.VoucherNo) from #Vouchers t group by t.VoucherNo having count(t.VoucherNo)>1)
	  begin
		select 'Voucher No Duplicate in Uploaded Data' as Error,t.VoucherNo,Count(t.VoucherNo) AS DuplicateVoucherNos from #Vouchers t group by t.VoucherNo having count(t.VoucherNo)>1
		return;
	  end
	 
	  if isnull((select count(*) from dbo.tVouchers t where VoucherNo in(select isnull(VoucherNo,'') from #Vouchers)),0)>0
	  begin
		select 'Voucher No Duplicate In ERP' as Error,t.VoucherNo,t.VoucherDate from dbo.tVouchers t where VoucherNo in(select VoucherNo from #Vouchers)

		return;
	  end

	  IF EXISTS(SELECT * FROM #Vouchers v WHERE ISNULL(v.VoucherTypeId,0)=0)
	  BEGIN
		SELECT DISTINCT 'Some of the Voucher types are not in ERP' AS Error, v.VoucherType FROM #Vouchers v WHERE ISNULL(v.VoucherTypeId,0)=0
		return;
	  END 
  
	  IF EXISTS(SELECT * FROM #Vouchers v WHERE ISNULL(v.OfficeId,0)=0)
	  BEGIN
		SELECT DISTINCT 'The above Office(s) not found in ERP' as Error,v.OfficeName  FROM #Vouchers v WHERE ISNULL(v.OfficeId,0)=0
		return;
	  END
	  IF EXISTS(SELECT * FROM #Vouchers v WHERE ISNULL(v.NoofVDs,0)<=1 AND v.VoucherTypeId<>19)
	  BEGIN
		SELECT 'Only One Account in Voucher is not allowed' as Error,v.VoucherNo FROM #Vouchers v WHERE ISNULL(v.NoofVDs,0)<=1 AND v.VoucherTypeId<>19
		return;
	  END
	  IF EXISTS(SELECT * FROM #Vouchers v WHERE ISNULL(v.VoucherTotal,0)<>0)
	  BEGIN
		SELECT 'Sum of Debit Credit total is not matching' as Error,v.VoucherNo FROM #Vouchers v WHERE ISNULL(v.VoucherTotal,0)<>0
		return;
	  END
	--select * from #Vouchers
    --select 'Ready For Upload'	
    DECLARE @NEWID nvarchar(500)
    set @NEWID=NEWID()
    UPDATE #Vouchers set BatchId=@NEWID

	SET TRANSACTION ISOLATION LEVEL READ COMMITTED
     BEGIN TRANSACTION
     BEGIN TRY
	  
	  INSERT INTO dbo.tVouchers(PageId,PaymentModeId, Amount1,Amount2,Amount3,Amount4,Amount5,Amount6,Amount7,Amount8,Amount9,Amount10,
	  VchAmount,Isaudited,IsAccepted,IsAccountsVisiblity,FYID,OfficeID,VoucherTypeId,VoucherNo,VoucherDate,VoucherDateTime,FileTypeId,FileNo,AccNarration,BatchId,CSID,CDOE)
	  SELECT 1,1441,0,0,0,0,0,0,0,0,0,0,v.DrTotal,0,v.IsAccepted,v.IsAccountVisibilityId,v.FYID,v.OfficeId,v.VoucherTypeId,v.VoucherNo,v.VoucherDate,v.VoucherDate,v.FileID,v.FileNo,v.VoucherNarration,@NEWID,0,getdate() FROM #Vouchers v
	
	  UPDATE v
	  set v.VoucherId=t.Id
	  from #Vouchers as v
	  join dbo.tVouchers as t on t.BatchId=v.BatchId and v.VoucherNo=t.VoucherNo
	  where t.BatchId=@NEWID
	 
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName1Id,DRAccountValue1,1,@NEWID,0,getdate() from #Vouchers where DRAccountName1Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName2Id,DRAccountValue2,2,@NEWID,0,getdate() from #Vouchers where DRAccountName2Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName3Id,DRAccountValue3,3,@NEWID,0,getdate() from #Vouchers where DRAccountName3Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName4Id,DRAccountValue4,4,@NEWID,0,getdate() from #Vouchers where DRAccountName4Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName5Id,DRAccountValue5,5,@NEWID,0,getdate() from #Vouchers where DRAccountName5Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName6Id,DRAccountValue6,6,@NEWID,0,getdate() from #Vouchers where DRAccountName6Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName7Id,DRAccountValue7,7,@NEWID,0,getdate() from #Vouchers where DRAccountName7Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName8Id,DRAccountValue8,8,@NEWID,0,getdate() from #Vouchers where DRAccountName8Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName9Id,DRAccountValue9,9,@NEWID,0,getdate() from #Vouchers where DRAccountName9Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,DRAccountName10Id,DRAccountValue10,10,@NEWID,0,getdate() from #Vouchers where DRAccountName10Id>0

	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName1Id,-CRAccountValue1,11,@NEWID,0,getdate() from #Vouchers where CRAccountName1Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName2Id,-CRAccountValue2,12,@NEWID,0,getdate() from #Vouchers where CRAccountName2Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName3Id,-CRAccountValue3,13,@NEWID,0,getdate() from #Vouchers where CRAccountName3Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName4Id,-CRAccountValue4,14,@NEWID,0,getdate() from #Vouchers where CRAccountName4Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName5Id,-CRAccountValue5,15,@NEWID,0,getdate() from #Vouchers where CRAccountName5Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName6Id,-CRAccountValue6,16,@NEWID,0,getdate() from #Vouchers where CRAccountName6Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName7Id,-CRAccountValue7,17,@NEWID,0,getdate() from #Vouchers where CRAccountName7Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName8Id,-CRAccountValue8,18,@NEWID,0,getdate() from #Vouchers where CRAccountName8Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName9Id,-CRAccountValue9,19,@NEWID,0,getdate() from #Vouchers where CRAccountName9Id>0
	  Insert into dbo.tVoucherVD(VoucherId,OfficeId,AccountId,VDAmount,OrderId,BatchId,CSID,CDOE)
	  select VoucherId,OfficeId,CRAccountName10Id,-CRAccountValue10,20,@NEWID,0,getdate() from #Vouchers where CRAccountName10Id>0

	  --Select 'Done'	  
	  --Select * from #Vouchers	
	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK			
		DECLARE @ERR nvarchar(max)
		Set @ERR=LEFT(ERROR_MESSAGE(),4000)
		RAISERROR(@ERR,11,0)
	END CATCH
END
GO
