/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1107_GetVehicleDetails]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1107_GetVehicleDetails]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1107_GetVehicleDetails]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRNS_1107_GetVehicleDetails]
 @parameter1 bigint--VehicleId     
as  
begin

select VehicleBudgDriverExp=isnull(v.VehBudgDriverExp,0), VehBudgTripExp=isnull(v.VehBudgTripExp,0) from mVehicleMaster v where v.Id=@parameter1
END
GO
