/****** Object:  StoredProcedure [dbo].[Proc_Report_1492]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1492]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1492]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1492] 0,'2016-04-01','2017-03-31'
CREATE procedure [dbo].[Proc_Report_1492] 
(
	@parameter1 BIGINT,@parameter2 DATETIME,@parameter3 datetime
)
AS 
BEGIN
-- 1492: Trial Balance:- Group - Hierarchical
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter2 between OpeningDate and ClosingDate),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter3 between OpeningDate and ClosingDate),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end


	DECLARE @GroupTrialBalance TABLE
	(RowID BIGINT IDENTITY(1,1),GroupID BIGINT, GroupName VARCHAR(200),AccountId bigint,AccountName VARCHAR(200),OpeningBalance DECIMAL(18,2),[O DrCr] varchar(2), DebitAmount DECIMAL(18,2),CreditAmount DECIMAL(18,2),OrderId Int,CommonGroupId int, ClosingBalance DECIMAL(18,2),[C DrCr] varchar(2))

	DECLARE @TabGroups TABLE(RowID BIGINT IDENTITY(1,1),GroupID BIGINT, GroupName VARCHAR(200), ParentGroupId BIGINT)
	if(@parameter1>0)
	begin
		INSERT INTO @TabGroups
		SELECT Id,GroupName,ParentGroupId FROM dbo.mAccountGroup where Id=@parameter1
	end
	else
	begin
		INSERT INTO @TabGroups
		SELECT Id,GroupName,ParentGroupId FROM dbo.mAccountGroup where ParentGroupId in(SELECT Id FROM dbo.mAccountGroup where ParentGroupId is null)
	end

	DECLARE @FromRowID BIGINT,@ToRowID BIGINT,@GroupID BIGINT,@GroupName VARCHAR(200),@ParentGroupName VARCHAR(200),@ParentGroupId BIGINT
	SET @FromRowID = 0
	SET @ToRowID = (SELECT MAX(RowID) from @TabGroups)
	WHILE @FromRowID < @ToRowID
	BEGIN
		SET @FromRowID = @FromRowID + 1
		SET @GroupID = ISNULL((SELECT GroupID FROM @TabGroups WHERE RowID = @FromRowID),0)
		SET @GroupName = ISNULL((SELECT GroupName FROM @TabGroups WHERE RowID = @FromRowID),'')
		SET @ParentGroupId=ISNULL((SELECT ParentGroupId FROM @TabGroups WHERE GroupID = @GroupID),0)
		DECLARE @Debit_Amount DECIMAL(18,2), @Credit_Amount DECIMAL(18,2),@OpBalance DECIMAL(18,2)
		
		Set @OpBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId join mLedger xa on xa.Id=xvd.AccountId where xa.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID)) and  xv.FYID=@FFYId and (xv.VoucherDate < @parameter2 or xv.VoucherTypeId in(19,69)) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0)
		--==================Grouping======================
		INSERT INTO @GroupTrialBalance(GroupID,GroupName,OpeningBalance,DebitAmount,CreditAmount,OrderId,CommonGroupId)
		SELECT 
		@GroupID,
		@GroupName,
		OpBalance=@OpBalance,
		[DebitAmount]=isnull([DebitAmount],0),
		[CreditAmount]=isnull([CreditAmount],0),
		orderid=0,
		@GroupID
		
		FROM
		(
			Select 
			[DebitAmount]=sum(abs(case when ISNULL(vd.VDAmount,0)>0 then ISNULL(vd.VDAmount,0) else 0 end)),
			[CreditAmount]=sum(abs(case when ISNULL(vd.VDAmount,0)<0 then ISNULL(vd.VDAmount,0) else 0 end))		
			from dbo.tVouchers as v 
			inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
			inner join dbo.mLedger as a on a.Id=vd.AccountId
			where v.FYID=@FFYId and v.VoucherDate between @parameter2 and @parameter3  and v.IsAccepted=1 and IsAccountsVisiblity=1
			and a.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID))
		)as v

		INSERT INTO @GroupTrialBalance(GroupID,GroupName,AccountId,AccountName,OpeningBalance,DebitAmount,CreditAmount,OrderId,CommonGroupId)
		SELECT 
		g.Id,
		g.GroupName,
		v.Id,
		v.AccountName,
		OpendingBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId join mLedger xa on xa.Id=xvd.AccountId where xa.Id=v.Id and xv.FYID=@FFYId and (xv.VoucherDate < @parameter2 or xv.VoucherTypeId in(19,69)) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0),
		[DebitAmount]=isnull([DebitAmount],0),
		[CreditAmount]=isnull([CreditAmount],0),
		orderid=2,
		@GroupID
		FROM
		(
			Select
			a.GroupId, 
			a.Id,
			a.AccountName,
			[DebitAmount]=sum(abs(case when ISNULL(vd.VDAmount,0)>0 then ISNULL(vd.VDAmount,0) else 0 end)),
			[CreditAmount]=sum(abs(case when ISNULL(vd.VDAmount,0)<0 then ISNULL(vd.VDAmount,0) else 0 end))		
			from dbo.tVouchers as v 
			inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
			inner join dbo.mLedger as a on a.Id=vd.AccountId
			where v.VoucherDate between @parameter2 and @parameter3 and  v.IsAccepted=1 and IsAccountsVisiblity=1
			and a.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID))  
			group by a.GroupId,a.Id,a.AccountName
		)as v
		inner join dbo.mAccountGroup as g on v.GroupId=g.Id
				
		--========================================
	END
	Update @GroupTrialBalance set ClosingBalance=ISNULL(DebitAmount, 0.00)- ISNULL(CreditAmount, 0.00) + isnull([OpeningBalance],0)

	Update @GroupTrialBalance set [O DrCr]=case when OpeningBalance>0 then 'Dr' when OpeningBalance<0 then 'Cr' end,[C DrCr]=case when ClosingBalance>0 then 'Dr' when ClosingBalance<0 then 'Cr' end  ,OpeningBalance=abs(OpeningBalance),ClosingBalance=abs(ClosingBalance)


	DECLARE @PLAmount DECIMAL(18,2), @PLOpAmount DECIMAL(18,2),@PLDrAmount DECIMAL(18,2), @PLCrAmount DECIMAL(18,2)

	SELECT @PLDrAmount=DebitAmount,@PLCrAmount=CreditAmount FROM @GroupTrialBalance WHERE GroupName = 'Profit & Loss A/c' and OrderId=0

	IF @PLDrAmount IS NULL SET @PLDrAmount = 0
	IF @PLCrAmount IS NULL SET @PLCrAmount = 0

	BEGIN
		IF(@PLAmount + @PLOpAmount + @PLDrAmount - @PLCrAmount) >= 0
		BEGIN
			UPDATE @GroupTrialBalance SET DebitAmount = (@PLAmount + @PLOpAmount + @PLDrAmount - @PLCrAmount),CreditAmount = NULL WHERE GroupName = 'Profit & Loss A/c'
		END
		ELSE
		BEGIN
			UPDATE @GroupTrialBalance SET CreditAmount = -(@PLAmount + @PLOpAmount + @PLDrAmount - @PLCrAmount),DebitAmount = NULL WHERE GroupName = 'Profit & Loss A/c'
		END
	END

	DECLARE @Dr_Total DECIMAL(18,2), @Cr_Total DECIMAL(18,2)
	SELECT @Dr_Total = SUM(DebitAmount), @Cr_Total = SUM(CreditAmount) FROM @GroupTrialBalance where OrderId=0

	--INSERT INTO @GroupTrialBalance (GroupName, DebitAmount, CreditAmount,OrderId,CommonGroupId)
	--VALUES ('Grand Total', @Dr_Total, @Cr_Total,99,9999999)
	
	SELECT GroupID, GroupName, AccountId,AccountName, OpeningBalance=ISNULL(OpeningBalance, 0.00),[O DrCr],  DebitAmount = ISNULL(DebitAmount, 0.00),CreditAmount = ISNULL(CreditAmount, 0.00),ClosingBalance=ISNULL(ClosingBalance, 0.00),[C DrCr] ,OrderId FROM @GroupTrialBalance 
	WHERE (ISNULL(DebitAmount, 0.00)>0 OR ISNULL(CreditAmount, 0.00)>0) order by CommonGroupId, OrderId,GroupName,AccountName
	
END
GO
