/****** Object:  StoredProcedure [dbo].[Proc_Report_1344]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1344]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1344]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1344] 
--1344 Driver Account Details
@parameter1 bigint,--DriverId
@parameter2 nvarchar(max),--FromDate
@parameter3 nvarchar(max)--ToDate
As
BEGIN 

	select 
	DocDate=@parameter2
	,DocRefNo=''
	,VehicleNo=''
	,DocType='Opening Balance'
	,Particulars=''
	,OtherRemark=''
	,DebitAmount=case when sum(isnull(t.DebitAmount,0))-sum(isnull(t.CreditAmount,0))>0 then sum(isnull(t.DebitAmount,0))-sum(isnull(t.CreditAmount,0)) else 0 end
	,CreditAmount=case when sum(isnull(t.DebitAmount,0))-sum(isnull(t.CreditAmount,0))>=0 then 0 else sum(isnull(t.DebitAmount,0))-sum(isnull(t.CreditAmount,0))  end
	,Remarks=''
	,t.DriverId
	from dbo.vw_DriverAccountDetail as t 
	where t.DriverId=@parameter1 and t.DocDate<@parameter2
	group by t.DriverId

	union all
	select 
	t.DocDate
	,t.DocRefNo
	,t.VehicleNo
	,t.DocType
	,t.Particulars
	,t.OtherRemark
	,t.DebitAmount
	,t.CreditAmount
	,t.Remarks
	,t.DriverId
	from dbo.vw_DriverAccountDetail as t 
	where t.DriverId=@parameter1 and t.DocDate>=@parameter2 and t.DocDate<=@parameter3
	
end
GO
