/****** Object:  StoredProcedure [dbo].[Proc_Report_1310]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1310]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1310]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1310]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max)--ToDate
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)

	

	SET NOCOUNT ON;
	SELECT 
	
	Office = O.OfficeName,
	CCO.CategoryName,
	CCO.ClassName,
	ei.DocNo,
	ei.DocDate,
	[VendorRefNo]=ei.VendorRefNo,
	[VendorAc]=cr.FleetAcName,
	[StoreAc]=dr.FleetAcName,
	
	ei.Remark,
	
	sm.SpareName,
	sm.SpareAbbr,
	t.Qty,
	t.Rate,
	t.Amount,
	t.DiscountPercent,
	t.DiscountAmount,
	--t.VatPercent,
	--t.VatAmount,
	t.CGSTRate, 
	t.CGSTAmount, 
	t.SGSTRate, 
	t.SGSTAmount, 
	t.IGSTRate,
	t.IGSTAmount,
	t.OtherAmount,
	t.NetAmount,
	PONo = PO.PONo,
	ItemRemark=t.Remarks,
	CreatedBy=dbo.GetUserBySessionId(ei.CSID),
	CDOE=t.CDOE, 
	ModifyBy= dbo.GetUserBySessionId(ei.MSID),
	MDOE=t.MDOE
	from dbo.tSpareLogExtraInfo as ei 
	join dbo.tSpareLog as t on ei.Id=t.ExtraInfoId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(case @RoleId when 1030 then  ei.CrAccountId else ei.OfficeId end)
	join dbo.mOfficeMaster as O on O.Id=ei.OfficeId
	
	join dbo.mSpareMaster as sm on sm.Id=t.SparePartId
	left join dbo.mLedger as dr on dr.Id=ei.DrAccountId
	left join dbo.mLedger as cr on cr.Id=ei.CrAccountId
	left join dbo.tVouchers as v on v.Id=ei.VoucherId
	left join dbo.mLedger as dr1 on dr1.Id=v.Account6Id
	left join dbo.tPurchaseOrder as PO on PO.Id=t.PurchaseOrderId
	where ei.VoucherTypeId=23 and ei.DocDate between @parameter4 and @parameter5
	
end

GO
