/****** Object:  StoredProcedure [dbo].[Proc_Report_1388]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1388]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1388]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- EXEC Proc_Report_1388  12,null,null,'2015-01-01','2016-12-12',null,null
-- SELECT * FROM mObjectCategory
CREATE PROC [dbo].[Proc_Report_1388]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--StartDate
	@parameter5 nvarchar(max),--EndDate
	@parameter6 nvarchar(max),--Date TypeId: StartDate,EndDate,SettleDate
	@parameter7 nvarchar(max)--1:Ledger,2:Expense-Category,3:Expense
As
begin
	DECLARE @RoleId int,@StartDate datetime,@EndDate datetime,@DateType int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	
	SET @StartDate=@parameter4
	SET @EndDate=DATEADD(DAY,1,@parameter5)
	SET @DateType=CAST(@parameter6 as int)
	
	Declare @StartDateString Varchar(255)
	Declare @EndDateString Varchar(255)
	Declare @ColumnName Varchar(255)
	Declare @CCAString varchar(2000)

	SET @StartDateString= '''' + Convert(Varchar,@StartDate,101) + ''''
	SET @EndDateString= '''' + Convert(Varchar,@EndDate,101) +  ''''
	SET @DateType=(Case When ISNULL(@DateType,0)=0 Then 1 Else @DateType End)
	
SET @ColumnName=(Case @DateType When 1 Then ' TS.StartDate ' When 2 Then ' TS.EndDate ' When 3 Then ' TS.SettleDate ' End)

SET @CCAString= 'dbo.CCO(' + CAST(@parameter1 as varchar(50)) + ',''' +  isnull(@parameter2,'') + ''',''' + isnull(@parameter3,'') +''')'


Create  TABLE #CCO(SettlementID int Primary Key,[CategoryName] Varchar(255),  [ClassName] Varchar(255),ObjectName Varchar(255),ObjectId bigint )  
		
		
		Exec('
		Insert Into #CCO(SettlementID,[CategoryName],[ClassName],[ObjectName],[ObjectID])		
		Select Id,[CategoryName],[ClassName],CCA.[ObjectName],CCA.[ObjectID] 
		From dbo.tTripSettlement as TS 
		Inner Join ' +  @CCAString + ' as CCA ON CCA.ObjectId=TS.VehicleId		
		Where ' + @ColumnName  + '>=' +  @StartDateString +' and ' + @ColumnName  + '<=' +  @EndDateString)



Declare @ColList as Varchar(Max)

IF(@parameter7=1)
	Select  @ColList= ISNULL(@ColList + ',' ,'') + '[' + Ltrim(Rtrim(FleetAcName)) +']' From dbo.mLedger Where Id In (Select LedgerId From dbo.mExpenseMaster Where Id in(Select ExpenseTypeId From dbo.tTripExpenseLog Where SettlementId in(Select SettlementID From #CCO)))  
Else IF(@parameter7=2)
	Select @ColList=ISNULL(@ColList + ',' ,'') + '[' + Name + ']' From dbo.mGenericMaster Where Id In (Select ExpenseCategoryId From dbo.mExpenseMaster Where Id in(Select ExpenseTypeId From dbo.tTripExpenseLog Where SettlementId in(Select SettlementID From #CCO)))
Else
	Select @ColList=ISNULL(@ColList + ',' ,'') + '[' + Name + ']'  From dbo.mExpenseMaster Where Id in(Select ExpenseTypeId From dbo.tTripExpenseLog Where SettlementId in(Select SettlementID From #CCO))  Order By Name

DECLARE @Group VARCHAR(255)
SET @Group=(CASE  @parameter7 When 1 Then  'LTrim(RTrim(AM.FleetAcName))' When 2 Then 'ET.Name' else  'E.Name'  End)

SET  @ColList=ISNULL(@ColList,'[NoColumn]')
print @ColList

Exec('
Select *  

From
(Select
[CategoryName],
[ClassName],
VehicleNo=CCA.[ObjectName],
TS.Id, 
TS.TripSheetNo,
TS.StartDate,
TS.EndDate,
TS.SettleDate,
TS.TripRoute,
[DriverName]=FD.DriverName,
[DriverCode]=FD.DriverCode,
TotalKMrun=tl.TotalKmRun,
TripDays=DateDiff(DD,TS.StartDate,TS.EndDate)+ 1,
[BookingFreight]=cn.BookingFreight,
[TotalExpense]=TS.[TripExpense],
[TotalAdvance]=TS.[TripAdvance],
[Diff]=isnull(TS.[TripExpense],0)-isnull(TS.[TripAdvance],0),
[TotalFuelQuantity]=fl.[FuelQty],
[TotalFuelAmount]=fl.[FuelAmount],
[GroupByValue]=' + @Group +',
[Remarks]=ISNULL(TS.Remarks,''''),
SettledAmount=ISNULL(TE.SettledAmount,0)
From dbo.tTripSettlement as TS
Inner Join #CCO as CCA ON CCA.SettlementID=TS.Id
left join
(
	select adv.SettlementId,FuelQty=sum(isnull(adv.FuelQty,0)),FuelAmount=sum(isnull(adv.FuelAmount,0)) from dbo.tTripAdvancelog as adv where adv.AdvanceTypeId=2 group by adv.SettlementId
)as fl on fl.SettlementId=TS.Id
left join
(
	select tl.SettlementId, TotalKmRun=sum(isnull(tl.TotalKmRun,0)) from dbo.tVehiclemovementLog as tl group by tl.SettlementId 
)as tl on tl.SettlementId=TS.Id
left join
(
	select tl.SettlementId, BookingFreight=sum(isnull(cn.CNTotalFreight,0)) from dbo.tVehiclemovementLog as tl 
	join dbo.tCNMaster as cn on cn.TriplogId=tl.Id
	group by tl.SettlementId 
)as cn on cn.SettlementId=TS.Id
Left Join dbo.tTripExpenseLog as TE ON TE.SettlementID=TS.Id
Left Join dbo.mExpenseMaster E ON E.Id=TE.ExpenseTypeId
Left Join dbo.mGenericMaster AS ET ON ET.Id=E.ExpenseCategoryId
Left Join dbo.mDriverMaster as FD ON FD.Id=TS.Driver1Id
Left Join dbo.mLedger As AM On AM.Id=E.LedgerId

)as Res
PIVOT
(
	Sum(SettledAmount)	
	FOR [GroupByValue]
	IN(' + @ColList + ')
) as PVT

ORDER BY EndDate ASC 
')

End
GO
