/****** Object:  StoredProcedure [dbo].[Proc_Report_1576_TripApporval]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1576_TripApporval]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1576_TripApporval]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1576_TripApporval] 
@parameter1 NVARCHAR(150), --Free Text
@parameter2 NVARCHAR(20), -- FromDate,
@parameter3 NVARCHAR(20), --Todate
@parameter4 bigint=0
AS
BEGIN
  DECLARE @configvalue INT
  SET @configvalue = (SELECT
      ConfigValue
    FROM dbo.mClientConfiguration
    WHERE Id = 'NextTripHoursDifferanceAllowed');

	select * into #trips from (
		SELECT TLID=v.Id,
		v.VehicleId,v.HireVehicleId,TripStartDate,UnLoadingDate,
		rowid = ROW_NUMBER() OVER (PARTITION BY ISNULL(v.VehicleId,0),ISNULL(v.HireVehicleId,0) ORDER BY v.TripStartdate DESC)
		FROM dbo.tVehicleMovementLog AS v  
		WHERE v.TripTypeId IN (1158, 1160)
					) AS t where t.rowid=1

  SELECT
  SrNo=ROW_NUMBER()OVER(Order BY v.Id),
    [Select] = CAST(0 AS BIT)
   ,Id = v.Id
   ,TriplogNo = v.TriplogNo
   ,cc.ClassName
   ,TripDate = CAST(v.TripStartDate AS DATETIME)
   ,LoadingReachDate = CAST(v.LoadingReachDate AS DATETIME)
   ,LoadingDate = CAST(v.LoadingDate AS DATETIME)
   ,UnloadingReachDate = CAST(v.UnloadingReachDate AS DATETIME)
   ,UnloadingDate = CAST(v.UnLoadingDate AS DATETIME)
   ,VehicleNo = vm.VehicleNo
    ,VehicleType=gm.Name
   ,DriverName = d.DriverName
   ,[Route] = r.Name
   ,Party = p.AccountName
   ,Office = o.OfficeName
   ,TripNature = n.ConstantName
   ,TripMode = g.Name
   ,IsApproved = (CASE
      WHEN v.IsApproved = 1 THEN 'Approved'
      WHEN v.IsApproved = 0 THEN 'Not Approved'
    END)
    , Incharge=inc.Name
	,GPSLocation=gps.GPSLocation
	,ExtraKM=(select KM=SUM(g.GPSKM) from tGPSKmLog g where g.LogDate>=CAST(v.UnLoadingDate as date) AND g.VehicleId=v.VehicleId group by g.VehicleId)
  FROM dbo.tVehicleMovementLog AS v
  JOIN #trips AS t
    ON t.TLID = v.Id
	  LEFT JOIN (
		SELECT VehicleId=VehicleId,HireVehicleId,
		RowId=ROW_NUMBER()OVER(PARTITION BY ISNULL(VehicleId,0),ISNULL(HireVehicleId,0) ORDER BY Id DESC),
		TripLogId,
		GPSLocation=GPSLocation 
		FROM  dbo.[tGPSStatusLog] 
	) as gps on gps.RowId=1 AND gps.VehicleId=v.VehicleId AND ISNULL(gps.HireVehicleId,0)=ISNULL(v.HireVehicleId,0)

  LEFT JOIN mRouteMaster r
    ON r.Id = v.RouteId
  LEFT JOIN mVehicleMaster vm
    ON vm.Id = v.VehicleId
    LEFT JOIN mGenericMaster gm ON vm.VehicleTypeId = gm.Id
  LEFT JOIN mLedger p
    ON p.Id = v.PartyId
  LEFT JOIN mOfficeMaster o
    ON o.Id = v.OfficeId
  LEFT JOIN mConstantValue n
    ON n.Id = v.TripNatureId
  LEFT JOIN mGenericMaster g
    ON g.Id = v.TripModeId
  LEFT JOIN mDriverMaster d
    ON d.Id = v.Driver1stId
    LEFT JOIN dbo.mGenericMaster inc
    ON inc.Id=vm.Ref1Id
    LEFT JOIN dbo.CCO(@parameter4,'','') cc on cc.ObjectId=v.VehicleId
	
  WHERE vm.SoldDate IS NULL AND v.IsApproved=0 AND DATEDIFF(HOUR, Isnull(v.UnLoadingDate,GETDATE()), GETDATE()) >= @configvalue
  AND (CASE
    WHEN LEN(ISNULL(@parameter1, '')) = 0 THEN 1
    WHEN vm.VehicleNo LIKE '%' + CAST(@parameter1 AS NVARCHAR(100)) + '%' OR
      r.Name LIKE '%' + CAST(@parameter1 AS NVARCHAR(100)) + '%' OR
      d.DriverName LIKE '%' + CAST(@parameter1 AS NVARCHAR(100)) + '%' OR
      v.TriplogNo LIKE '%' + CAST(@parameter1 AS NVARCHAR(100)) + '%' THEN 1
    ELSE 0
  END) = 1
  AND (CASE
    WHEN ISNULL(@parameter2, '') = '' AND
      ISNULL(@parameter3, '') = '' THEN 1
    WHEN CAST(v.TripStartDate AS DATE) BETWEEN CAST(@parameter2 AS DATE) AND CAST(@parameter3 AS DATE) THEN 1
    ELSE 0
  END) = 1

END
GO
