/****** Object:  StoredProcedure [dbo].[Proc_Report_1649]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1649]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1649]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_Report_1649]
	@parameter1 bigint=0,--Spare
	@parameter2 bigint=0,--Labour
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 bigint=0,--0:both;1:Sparepart,2:Labour
	@parameter7 bigint=0--0:None,1:Vehicle,2:Vendor,3:Vehicle+Vendor
as
begin
	
	set nocount on;
	select 
	Vendor=l.AccountName,
	vm.VehicleNo,
	[SpareOrLabourName]=spm.SpareName,
	sp.TotalAmount,
	sp.TotalIssuedQty,
	sp.TransactionType
	into #tmp1649
	from 
	 
	(
		select sp.VehicleId,SparePartId=sp.SparePartId,ei.CrAccountId,sum(isnull(sp.NetAmount,0)) As TotalAmount,sum(isnull(sp.Qty,0)) as TotalIssuedQty,'SparePart' [TransactionType] from dbo.tSpareLog as sp 
		join dbo.tSpareLogExtraInfo as ei on ei.Id=sp.ExtraInfoId
		where ei.DocDate between @parameter4 and @parameter5	
		and (case when @parameter6 in(0,1) then 1 else 0 end)=1	
		and (case when @parameter1=0 then 1 when @parameter1=sp.SparePartId then 1 else 0 end)=1
		group by sp.VehicleId,sp.SparePartId,ei.CrAccountId

		union all
		
		select lbr.VehicleId,SparePartId=lbr.LaborId,ei.CrAccountId,sum(isnull(lbr.NetAmount,0)) As TotalAmount,sum(isnull(lbr.NetAmount,0)) as TotalIssuedQty,'Labour' [TransactionType] from dbo.tRepairLabourLog as lbr 
		join dbo.tSpareLogExtraInfo as ei on ei.Id=lbr.ExtraInfoId
		where ei.DocDate between @parameter4 and @parameter5	
		and (case when @parameter6 in(0,2) then 1 else 0 end)=1		
		and (case when @parameter2=0 then 1 when @parameter2=lbr.LaborId then 1 else 0 end)=1
		group by lbr.VehicleId,lbr.LaborId,ei.CrAccountId
	)as sp
	join dbo.mSpareMaster as spm on spm.ID=sp.SparePartId
	left join dbo.mLedger l on sp.CrAccountId=l.Id
	left join dbo.mVehicleMaster vm on vm.Id=sp.VehicleId
	
	if(@parameter7=3)
	begin
		select x.* from #tmp1649 as x order by x.TotalAmount desc
	end
	else if(@parameter7=1)--0:None,1:Vehicle,2:Vendor,3:Vehicle+Vendor
	begin
		select VehicleNo,[SpareOrLabourName],TransactionType,TotalAmount=round(sum(isnull(TotalAmount,0)),0),TotalIssuedQty=round(sum(isnull(TotalIssuedQty,0)),0) from #tmp1649 as x group by TransactionType,VehicleNo,[SpareOrLabourName] order by sum(isnull(TotalAmount,0)) desc
	end
	else if(@parameter7=2)--0:None,1:Vehicle,2:Vendor,3:Vehicle+Vendor
	begin
		select Vendor,[SpareOrLabourName],TransactionType,TotalAmount=round(sum(isnull(TotalAmount,0)),0),TotalIssuedQty=round(sum(isnull(TotalIssuedQty,0)),0) from #tmp1649 as x group by TransactionType,Vendor,[SpareOrLabourName] order by sum(isnull(TotalAmount,0)) desc
	end
	else if(@parameter7=0)--0:None,1:Vehicle,2:Vendor,3:Vehicle+Vendor
	begin
		select [SpareOrLabourName],TransactionType,TotalAmount=round(sum(isnull(TotalAmount,0)),0),TotalIssuedQty=round(sum(isnull(TotalIssuedQty,0)),0) from #tmp1649 as x group by TransactionType,[SpareOrLabourName] order by sum(isnull(TotalAmount,0)) desc
	end
end
GO
