/****** Object:  StoredProcedure [dbo].[Proc_Report_1295]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1295]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1295]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_Report_1295]
@parameter1 bigint,/*categoryId*/
@parameter2 nvarchar(max),/*@classIds*/
@parameter3 nvarchar(max),/*@accountIds*/
@parameter4 DateTime,/*@fromDate*/
@parameter5 DateTime/*@toDate*/
AS
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	print @roleId
	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	[Office]=[OfficeName],
	[RefNo]=[tl].[VoucherNo],
	[TyreNo]=[tm].[TyreNo],
	[RefDate]=[tle].[VoucherDate],
	[vm].[VehicleNo],
	[bm].[BrandName],
	[tl].[NetAmount],
	[tl].[Remark],
	[WpDate]=[tc].[CheckDate],
	[Wp]=[gm].[Abbr],
	[NSD1]=[tc].[TreadDepth],
	[NSD2]=[tc].[TreadDepth2],
	[NSD3]=[tc].[TreadDepth3],
	[PSI]=[tc].[AirPressure],
	[tc].[KmRun],
	[tc].[Remarks]
	,[PrevStatus]=pntlv.VoucherTypeName
	,[PrevStatusDt]=pntl.VoucherDate
	,[NextStatus]=nxtlv.VoucherTypeName
	,[NextStatusDt]=nxtl.VoucherDate
	FROM  [dbo].[tTyreLog] AS [tl] 	
	JOIN [dbo].[tTyreLogExtraInfo] AS [tle] 	ON [tl].[ExtraInfoId] = [tle].[Id]
	JOIN [dbo].[mTyreMaster] AS [tm] 	ON [tl].[TyreId] = [tm].[Id]
	JOIN [dbo].[mBrandMaster] AS [bm] 	ON [tm].[BrandId] = [bm].[Id]
	LEFT JOIN [dbo].[tTyreCheck] AS [tc] 	ON [tl].[TyreCheckId] = [tc].[Id]
	LEFT JOIN [dbo].[mGenericMaster] AS [gm] 	ON [tc].[WPID] = [gm].[Id]
	
	
	LEFT JOIN [dbo].[mOfficeMaster] AS [om] 	ON [tle].[OfficeId] = [om].[Id]
	LEFT JOIN [dbo].[mVehicleMaster] vm on [tl].VehicleId=vm.Id
	
	left join dbo.tTyreLog as nxtl on nxtl.Id=tl.NextLogId
	left join dbo.tTyreLog as pntl on pntl.Id=tl.ParentLogId
	left join dbo.mVoucherType as nxtlv on nxtlv.Id=nxtl.VoucherTypeId
	left join dbo.mVoucherType as pntlv on pntlv.Id=pntl.VoucherTypeId
	JOIN [dbo].CCO(@parameter1,@parameter2,@parameter3)  ON CCO.ObjectId=(CASE @RoleId WHEN 1029 THEN tl.CreditAccountId WHEN 1130 THEN tl.VehicleId ELSE tle.OfficeId END)
	WHERE  (tle.[VoucherDate] >= @parameter4 AND tle.[VoucherDate] <= @parameter5)
    AND ([tl].[ExtraInfoId] > 0)
    AND ([tl].[VoucherTypeId] = 34)
	Order By tle.VoucherDate
	
END
GO
