/****** Object:  StoredProcedure [dbo].[Proc_Report_1398]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1398]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1398]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_Report_1398]
	@parameter1 bigint,/*categoryId*/
	@parameter2 nvarchar(max),/*@classIds*/
	@parameter3 nvarchar(max)
AS
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	print @roleId
	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	[Office]=[OfficeName],
	[RefNo]=[tl].[VoucherNo],
	[RefDate]=[tle].[VoucherDate],
	[TyreNo]=[tm].[TyreNo],
	[bm].[BrandName],
	[tl].[Remark]
	FROM  [dbo].[tTyreLog] AS [tl] 	
	JOIN [dbo].[tTyreLogExtraInfo] AS [tle] 	ON [tl].[ExtraInfoId] = [tle].[Id]
	JOIN [dbo].[mTyreMaster] AS [tm] 	ON [tl].[TyreId] = [tm].[Id]
	JOIN [dbo].[mBrandMaster] AS [bm] 	ON [tm].[BrandId] = [bm].[Id]
	LEFT JOIN [dbo].[mOfficeMaster] AS [om] 	ON [tle].[OfficeId] = [om].[Id]
	JOIN [dbo].CCO(@parameter1,@parameter2,@parameter3)  ON CCO.ObjectId=(CASE @RoleId WHEN 1029 THEN tl.CreditAccountId WHEN 1031 THEN tl.DebitAccountId END)
	WHERE ([tl].[ExtraInfoId] > 0) AND ([tl].[VoucherTypeId] = 39) and isnull(tl.NextLogId,0)=0
	Order By tle.VoucherDate,tl.TyreNo
	
END
GO
