/****** Object:  StoredProcedure [dbo].[Proc_GLB_GetStationary]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_GLB_GetStationary]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GLB_GetStationary]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_GLB_GetStationary]
@parameter1 bigint,/*FieldId*/
@parameter2 bigint,/*officeid*/
@parameter3 bigint,/*partyid*/
@parameter4 bigint,/*viewid*/
@parameter5 bigint,/*extratypeid*/
@parameter6 Date,/*Document Date*/
@parameter7 nvarchar(100)/*SearchTerm*/
AS
BEGIN
/*exec [dbo].[Proc_GLB_GetStationary] @parameter1=1095,@parameter2=14,@parameter3=0,@parameter4=1576,@parameter5=0,@parameter6='2018-03-11 23:59:59',@parameter7=N'%'*/
	DECLARE @booktypeid bigint=0;
	SELECT TOP 1 @booktypeid=BookTypeId FROM [dbo].[mViewFieldBookMap] WHERE FieldId=@parameter1 AND ViewId=@parameter4 AND ISNULL(TypeId,0)=@parameter5 ORDER BY CDOE DESC

	IF(ISNULL(@booktypeid,0)=0)
	BEGIN
	SELECT TOP 1 @booktypeid=BookTypeId FROM [dbo].[mViewField] WHERE Id=@parameter1
	END

	IF(ISNULL(@booktypeid,0)=0)
	BEGIN
	RETURN
	END
	SELECT l.Id,l.PageNo, l.NatureId FROM(SELECT l.Id,l.PageNo,l.NatureId,ROW_NUMBER () OVER (PARTITION BY BookId ORDER BY l.AllotedDate,l.PageNo) as RowNum
	FROM [dbo].[mBookLog] l
	WHERE l.AllotedDate<=ISNULL(@parameter6,GETDATE()) AND ISNULL(l.OfficeId,0) IN(0,@parameter2)
	AND ISNULL(l.ClientId,0) IN(0,@parameter3) AND l.TypeId=@booktypeid AND l.NatureId=1232 
	AND l.PageNo like '%'+@parameter7+'%' 
	AND (l.ExpiryDate IS NULL OR l.ExpiryDate>=ISNULL(@parameter6,GETDATE()))/*Auto*/)
	AS l WHERE RowNum=1
	UNION ALL
	SELECT l.Id,l.PageNo, l.NatureId FROM(SELECT l.Id,l.PageNo,l.NatureId,ROW_NUMBER () OVER (PARTITION BY BookId ORDER BY l.AllotedDate,l.PageNo) as RowNum
	FROM [dbo].[mBookLog] l
	WHERE l.AllotedDate<=ISNULL(@parameter6,GETDATE()) AND ISNULL(l.OfficeId,0) IN(0,@parameter2)
	AND ISNULL(l.ClientId,0) IN(0,@parameter3) AND l.TypeId=@booktypeid AND l.NatureId=1233 AND l.PageNo like '%'+@parameter7+'%' AND (l.ExpiryDate IS NULL OR l.ExpiryDate>=ISNULL(@parameter6,GETDATE()))/*Book*/
	) AS l WHERE RowNum<=2
	UNION ALL
	SELECT l.Id,l.PageNo, l.NatureId FROM(SELECT l.Id,l.PageNo,l.NatureId,ROW_NUMBER () OVER (PARTITION BY BookId ORDER BY l.AllotedDate,l.PageNo) as RowNum
	FROM [dbo].[mBookLog] l
	WHERE l.AllotedDate<=ISNULL(@parameter6,GETDATE()) AND ISNULL(l.OfficeId,0) IN(0,@parameter2)
	AND ISNULL(l.ClientId,0) IN(0,@parameter3) AND l.TypeId=@booktypeid AND l.NatureId=1234 AND l.PageNo like '%'+@parameter7+'%' AND (l.ExpiryDate IS NULL OR l.ExpiryDate>=ISNULL(@parameter6,GETDATE()))/*Manual*/
	) AS l WHERE RowNum=1
	UNION ALL
	SELECT l.Id,l.PageNo, l.NatureId FROM(SELECT l.Id,l.PageNo,l.NatureId,ROW_NUMBER () OVER (PARTITION BY BookId ORDER BY l.AllotedDate,l.PageNo) as RowNum
	FROM [dbo].[mBookLog] l
	WHERE l.AllotedDate<=ISNULL(@parameter6,GETDATE()) AND ISNULL(l.OfficeId,0) IN(0,@parameter2)
	AND ISNULL(l.ClientId,0) IN(0,@parameter3) AND l.TypeId=@booktypeid AND l.NatureId=1624 AND l.PageNo like '%'+@parameter7+'%' AND (l.ExpiryDate IS NULL OR l.ExpiryDate>=ISNULL(@parameter6,GETDATE()))/*Serial*/
	) AS l WHERE RowNum=1
	UNION ALL
	SELECT l.Id,l.PageNo, l.NatureId FROM(SELECT l.Id,l.PageNo,l.NatureId,ROW_NUMBER () OVER (PARTITION BY BookId ORDER BY l.AllotedDate,l.PageNo) as RowNum
	FROM [dbo].[mBookLog] l
	WHERE l.AllotedDate<=ISNULL(@parameter6,GETDATE()) AND ISNULL(l.OfficeId,0) IN(0,@parameter2)
	AND ISNULL(l.ClientId,0) IN(0,@parameter3) AND l.TypeId=@booktypeid AND l.NatureId=1625 AND l.PageNo like '%'+@parameter7+'%' AND (l.ExpiryDate IS NULL OR l.ExpiryDate>=ISNULL(@parameter6,GETDATE()))/*Pattern*/
	) AS l WHERE RowNum=1
END
GO
