/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1521_LedgerImportPostScript]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1521_LedgerImportPostScript]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1521_LedgerImportPostScript]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_TRNS_1521_LedgerImportPostScript]
    @reportrequestid bigint
AS
BEGIN   
    DECLARE @xml xml,@hdoc AS INT,@PrepareXmlStatus INT ,@batchId nvarchar(200)
	   
	   SELECT @xml=XmlParameter,@batchId=Parameter1 FROM [dbo].[tReportRequestPool] where Id=@reportrequestid
		  EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml
		 
		  IF(@xml IS NULL AND ISNULL(@batchId,'')='') return;

		  CREATE TABLE #temp(string nvarchar(200) collate SQL_Latin1_General_CP1_CI_AS)

		  INSERT INTO #temp(string)
		  SELECT temp.string
		  FROM OPENXML(@hdoc, '/ArrayOfString/*',2)
		  WITH (string nvarchar(max) '.') as temp
		  IF(NOT EXISTS(SELECT 1 FROM #temp) AND ISNULL(@batchId,'')<>'')
		  BEGIN
		  INSERT INTO #temp(string)
		  SELECT @batchId
		  END

		   IF(EXISTS(SELECT 1 FROM #temp))
		   BEGIN
		   --Map Inserted Ledgers to Class
		  INSERT INTO tObjectClassMap(ObjectId,ClassId,CategoryId,CSID,CDOE)
		  SELECT ObjectId=L.Id,CL.ClassId,CL.CategoryId,L.CSID,L.CDOE 
		  FROM (Select ClassId=CL.Id,CategoryId=CL.CategoryId,CL.RoleId,CT.RoleTypeId from [dbo].[mObjectClass] CL JOIN [dbo].[mObjectCategory] CT ON CL.CategoryId=CT.Id AND CT.RoleTypeId in(1145,1146) AND CL.ClassName='All') AS CL 
		  JOIN [dbo].[mLedger] L on (L.AccountRoleID=CL.RoleId and CL.RoleTypeId=1145) or (L.GroupId=CL.RoleId and CL.RoleTypeId=1146)
		  LEFT JOIN [dbo].[tObjectClassMap] O ON CL.CategoryId=O.CategoryId AND CL.ClassId=O.ClassId AND O.ObjectId=L.Id
		  JOIN #temp as temp 
		  on L.BatchId=temp.string
		  WHERE O.Id IS NULL
    
		  -- Insert Ledger Role for Uploaded Ledgers
		  INSERT INTO mLedgerRole(LedgerId,RoleId,IsDefault,CSID,CDOE)
		  SELECT LedgerId=L.Id,RoleId=L.AccountRoleID,IsDefault=1,L.CSID,L.CDOE FROM [dbo].[mLedger] L 
		  LEFT JOIN [dbo].[mLedgerRole] LR ON L.AccountRoleID=LR.RoleId AND L.Id=LR.LedgerId 
		  JOIN #temp as temp on L.BatchId=temp.string
		  WHERE LR.Id IS NULL AND L.AccountRoleID IS NOT NULL
		   END	  
		  	 
		  drop table #temp
END

GO
