/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1564_DeleteMM]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1564_DeleteMM]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1564_DeleteMM]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[Proc_TRNS_1564_DeleteMM]
@parameter1 bigint--Id
AS 
BEGIN

IF(exists(select CNMMId from [dbo].[tCNStockMMLog] WHERE CNMMId=@parameter1 AND ISNULL(RefStockId,0)>0))
BEGIN 
RAISERROR ('This Invoice has been dispatched. So cannot delete.',11,0)
RETURN;
END
ELSE
BEGIN
DECLARE @CNID bigint=(SELECT TOP 1 CNId FROM [dbo].[tCNMultiMaterial] WHERE Id=@parameter1)
UPDATE tCNStockMMLog SET RefStockId=NULL WHERE CNMMId=@CNID
DELETE FROM [dbo].[tCNStockMMLog] WHERE CNMMId=@parameter1
DELETE FROM [dbo].[tCNMultiMaterial] WHERE Id=@parameter1
UPDATE CN SET ActualQty=ISNULL(M.Qty,0) FROM [dbo].[tCNMaster] CN LEFT JOIN (SELECT CNId,SUM(MM.ActualQty) Qty FROM [dbo].[tCNMultiMaterial] MM WHERE MM.CnId=@CNID GROUP BY MM.CnId) AS M ON CN.Id=M.CnId
WHERE Id=@CNID
END

END
GO
