/****** Object:  StoredProcedure [dbo].[Proc_Custom_Report_1481_24]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Custom_Report_1481_24]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Custom_Report_1481_24]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Custom_Report_1481_24]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 bigint--Incharge
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	o.OfficeName,
	t.TripStartDate,
	t.TriplogNo,	
	m.VehicleNo,
	VehicleSize=ovt.Name,
	TripMode=n.Name,--its
	dvr.DriverName,
	dvr.DriverCode,
	PartyName=pm.FleetAcName, --custemername
	RouteName=tr.Abbr,
	t.LoadingDate, --LD
	t.UnloadingReachDate, --URD
	t.UnloadingDate, --UD
	TripDays=DATEDIFF(day,t.TripStartDate,t.UnLoadingDate),
	t.StartKm,
	t.EndKm,
	t.GpsKmRun,
	t.TotalKmRun,
	TripNature=tn.ConstantName,
	TSNo=tp.TripSheetNo,
	TSSettledDate=tp.SettleDate,
	BdgtTripExp=texp.TotBdgtTripExp,
	BdgtTripFuel=cast((case when isnull(t.VehicleAvg,0)=0 then 0 else isnull(t.TotalKmRun,0)/isnull(t.VehicleAvg,0) end) as decimal(18,2)),
	CashTripAdvance=isnull(adv.TotCashAmount,0),
	eTollTripAdvance=isnull(etoll.PaidAmount,0),	
	CardTripAdvance=isnull(adv.TotCardAmount,0),
	TotalTripAdvance=isnull(adv.TotTripadv,0),
	TotalFuelAmount=isnull(adv.TottripFuel,0),
	ExtraTollTripAdvance=isnull(adv.TotExtraTollAmount,0),
	TotalTollPaid=isnull(etoll.PaidAmount,0)+isnull(adv.TotExtraTollAmount,0),
	FuelQty=isnull(adv.TotalFuelQty,0),
	FuelRate=CASE WHEN isnull(adv.TotalFuelQty,0) <> 0 THEN isnull(adv.TottripFuel,0) / isnull(adv.TotalFuelQty,0) ELSE 0 END,
	AdditionalFuelQty=isnull(t.AddFuelQty,0),
	TripExpense=isnull(texp.TotTripExp,0),
	TripBooking=isnull(t.CNFreight,0),
	Net=isnull(t.CNFreight,0)-isnull(t.BdgtTripExpense,0),	
	Freight=isnull(t.CNFreight,0)-isnull(t.BdgtTripExpense,0),	
	t.ReferFuelQty,
	t.ExpTime,--its TAT
	FromPlace=fp.CityName,--its
	ToPlace=tpm.CityName,--its
	Touching=t.Remarks,--its
	--PODDate=null,
	NoOfCNs=ISNULL(chcn.CNCount,0),
	PendingPOD=ISNULL(chcn.CNCount,0)-(ISNULL(pod.NotOkCount,0)+ISNULL(pod.OKPODCount,0)),
	OKPOD=ISNULL(pod.OKPODCount,0),
	NotOkPOD=ISNULL(pod.NotOkCount,0),
	TransitTimeHrs=DATEDIFF(Hour,t.LoadingDate,t.UnLoadingReachDate),
	Vehicle1Ref=inc.[Name] --incharge
	FROM dbo.tVehicleMovementLog as t
	INNER JOIN dbo.[CCO](@parameter1,@parameter2,@parameter3) as CCO on CCO.ObjectId=(CASE @RoleId When 1130 THEN  t.VehicleId WHEN 1085 THEN t.OfficeId end)
	JOIN dbo.mVehicleMaster AS m on m.Id=t.VehicleId
	left join dbo.mGenericMaster as inc on inc.Id=m.Ref1Id
	left join dbo.mGenericMaster as n on n.Id=t.TripModeId
	left join dbo.mGenericMaster as ovt on ovt.Id=m.VehicleTypeId
	LEFT JOIN dbo.mDriverMaster AS dvr on dvr.Id=isnull(t.Driver1stId,0)
	left join dbo.mOfficeMaster as o on o.Id=isnull(t.OfficeId,0)
	left join dbo.mConstantValue as tn on tn.Id=isnull(t.TripNatureId,0)
	left join dbo.mLedger as pm on pm.Id=isnull(t.PartyId,0)
	left join dbo.tTripSettlement as tp on tp.Id=isnull(t.SettlementId,0)
	left join dbo.mRouteMaster as tr on tr.Id=isnull(t.RouteId,0)
	left join dbo.mCityMaster as fp on fp.Id=tr.FromPlaceId
	left join dbo.mCityMaster as tpm on tpm.Id=tr.ToPlaceId
	left join
	(
		select t.TripLogId, 
		TotTripadv=sum(isnull(t.CashAmount,0)),
		TotCardAmount=sum((case when t.PaidInId=1517 then isnull(t.CashAmount,0) else 0 end)),
		TotCashAmount=sum((case when t.PaidInId!=1517 then isnull(t.CashAmount,0) else 0 end)),	
		TotExtraTollAmount=sum((case when t.Ref1Id=161/*Generic Master Extra Toll Advance*/ then isnull(t.CashAmount,0) else 0 end)),
		TotTripFuel=sum(isnull(t.FuelAmount,0)),TotalFuelQty=sum(isnull(t.FuelQty,0))
		from dbo.tTripAdvanceLog as t where t.TripLogId>0 group by t.TripLogId
	)as adv on adv.TripLogId=isnull(t.Id,0)
	OUTER APPLY (SELECT PaidAmount=SUM(CashAmount) FROM tTripAdvanceLog tll WHERE tll.AdvanceTypeId=88 AND tll.AdvanceDate between cast(t.TripStartDate as date) AND cast(t.UnLoadingDate as date) and t.VehicleId=tll.VehicleId) as etoll
	--left join(
	--select TripLogId=ISNULL(ch.TriplogId,pod.TripLogId), sum(case when pod.IsPodOk=1 then 1 else 0 end) as OKPODCount, 
	--sum(case when pod.IsPodOk=0 then 1 else 0 end) as NotOkCount
	--from mCNExtraInfo pod left join tCNChallan as ch on (isnull(pod.TripLogId,0)>0 and isnull(pod.CNId,0)>0 and pod.TripLogId=ch.TriplogId 
	--and pod.CNId=ch.CNId) OR (isnull(pod.TripLogId,0)>0 and isnull(pod.CNId,0)=0) OR(isnull(pod.CNId,0)>0 and pod.CNId=ch.CNId)
	--group by ISNULL(ch.TriplogId,pod.TripLogId)
	--)as pod on pod.TriplogId=t.Id
	/*Amobe Code Comment by mukesh as it was very slow and below is the new code*/
	left join(
	select TripLogId=ISNULL(ch.TriplogId,pod.TripLogId), sum(case when pod.IsPodOk=1 then 1 else 0 end) as OKPODCount, 
	sum(case when pod.IsPodOk=0 then 1 else 0 end) as NotOkCount
	from mCNExtraInfo pod left join tCNChallan as ch on isnull(pod.TripLogId,0)=ch.TriplogId and isnull(pod.CNId,0)=ch.CNId
	group by ISNULL(ch.TriplogId,pod.TripLogId)
	)as pod on pod.TriplogId=t.Id
	left join(
		select t.TripLogId,TotTripExp=sum(isnull(t.SettledAmount,0)) ,TotBdgtTripExp=sum(isnull(t.ClaimAmount,0)) 
		from dbo.tTripExpenseLog as t where TripLogId>0 group by t.TripLogId
	)as texp on texp.TripLogId=isnull(t.Id,0)
	left join (SELECT TripLogid,CNCount=count(1) FROM tCNChallan GROUP BY TriplogId) as chcn on t.Id=chcn.TriplogId
	WHERE cast(t.TripStartDate as date)>=cast(@parameter4 as date) and cast(t.TripStartDate as date)<=cast(@parameter5 as date)and t.TripTypeId in (1160,1158)
	and (case when @parameter6=0 then 1 when m.Ref1Id=@parameter6 then 1 else 0 end)=1
	ORDER BY t.TripStartDate 
END
GO
