/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1496_Get]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1496_Get]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1496_Get]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1496_Get]
@parameter1 xml
AS
BEGIN
DECLARE @hdoc AS INT--,@xml xml
DECLARE @PrepareXmlStatus INT

EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @parameter1 --Preparing XML handle
--SELECT TOP 1 @xml=ISNULL(XmlParameter,Parameter1) FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
SELECT temp.VehicleId,VehicleNo=V.VehicleRegNo,GPSVendorId=ISNULL(V.GPSVendorId,0)
FROM OPENXML(@hdoc, '/ArrayOfGPSParameter/GPSParameter',2)
WITH (
[VehicleId] bigint,
[VehicleNo] nvarchar(50)
) as temp

left join mVehicleMaster V on temp.VehicleId=V.Id 
EXEC sp_xml_removedocument @hdoc --Releasing memory

END
GO
