/****** Object:  StoredProcedure [dbo].[Proc_Report_1619]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1619]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1619]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1619]
	--1619:Material Stock Out
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 nvarchar(max),--partids
	@parameter7 nvarchar(max)--vehicleids
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
		
	SET NOCOUNT ON;
	
	SELECT 
	CCO.CategoryName,
	CCO.ClassName,
	o.OfficeName,
	[Type]=vt.VoucherTypeName,
	ei.DocNo,
	ei.DocDate,
	[Sender]=cr.FleetAcName,
	[Receiver]=dr.FleetAcName,
	[VehicleNo]=vm.VehicleNo,
	sm.SpareName,
	sm.SpareAbbr,
	[Make]=mk.[Name],
	[Qty]=isnull(t.Qty,0),
	[Rate]=isnull(t.Rate,0),
	[NetAmount]=isnull(t.NetAmount,0),
	t.Remarks
	from dbo.tSpareLogExtraInfo as ei
	join dbo.mVoucherType as vt on vt.Id=ei.VoucherTypeId
	join tSpareLog as t on ei.Id=t.ExtraInfoId
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId WHEN 1130 THEN t.VehicleId When 1029 THEN  t.DrAccountId  WHEN 1030 THEN t.CrAccountId end)
	join mSpareMaster as sm on sm.Id=t.SparePartId
	join dbo.mLedger as dr on dr.Id=ei.DrAccountId
	join dbo.mLedger as cr on cr.Id=ei.CrAccountId	
	left join dbo.mVehicleMaster as vm on vm.ID=t.VehicleId
	left join mGenericMaster as mk on mk.Id=t.MakeId
	WHERE ei.VoucherTypeId in(22,24)
	and (case when len(isnull(@parameter6,''))=0 or @parameter6='0' then 1 when len(isnull(@parameter6,''))>0 and t.SparePartId in(select item from dbo.SplitCommaString(@parameter6)) then 1 else 0 end)=1
	and (case when len(isnull(@parameter7,''))=0 or @parameter7='0' then 1 when t.VehicleId in(select item from dbo.SplitCommaString(@parameter7)) then 1 else 0 end)=1
	ORDER BY ei.DocDate 
END
GO
