/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1629_ShowCNPODBilling]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1629_ShowCNPODBilling]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1629_ShowCNPODBilling]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRANS_1629_ShowCNPODBilling]
@parameter1 datetime,
@parameter2 bigint, --Collecting Office NULLABLE
@parameter3 bigint=0 --CNNumber NULLABLE

AS
BEGIN 
Declare @SQL nvarchar(max)= N'SELECT Id=0, CNDTS.Remark,CNDTS.StartDate, DeliveryDate=CN.DeliveryDate, CN.CNDate, CNDTS.CNId, CNNo=ISNULL(CN.CNNo, CNDTS.CNId), VehicleNo=ISNULL(VLM.VehicleNo, CN.VehicleId), CNDTS.CNDTSStatusId, 
StatusId=CNDTS.StatusId, [OfficeName1]= OFCM.OfficeName, Office1Id=CNDTS.OfficeId1, [OfficeName2]=OFM.OfficeName, 
Office2Id=CNDTS.OfficeId1, Location=CM.CityName, CNDTS.LocationId, [Route]=CNRM.Name,BillingParty=ISNULL(BP.BookingAcName,BP.AccountName),
Consignor=ISNULL(CO.BookingAcName,CO.AccountName),Consignee=ISNULL(CE.BookingAcName, CE.AccountName), TriplogNo=ISNULL(VL.TriplogNo,CL.TriplogId), CNDTS.IsAuto
from
[dbo].[tCNDTSStatusLog] CNDTS 
INNER JOIN [dbo].[mDTSStatus] D ON CNDTS.StatusId=D.Id
INNER JOIN [dbo].[tCNMaster] CN ON CNDTS.CNId=CN.Id
LEFT JOIN [dbo].[mVehicleMaster] VLM ON CN.VehicleId=VLM.Id
LEFT JOIN [dbo].[mLedger] BP ON CN.BillingPartyId=BP.Id
LEFT JOIN [dbo].[mLedger] CE ON CN.ConsigneeId=CE.Id
LEFT JOIN [dbo].[mLedger] CO ON CN.ConsignorId=CO.Id
LEFT JOIN [dbo].[mOfficeMaster] OFCM ON CN.LoadingOfficeId=OFCM.Id
LEFT JOIN [dbo].[mOfficeMaster] OFM ON CNDTS.OfficeId2=OFM.Id
LEFT JOIN [dbo].[mRouteMaster] CNRM ON CN.ACTRouteId=CNRM.Id
LEFT JOIN [dbo].[mCityMaster] CM ON CNDTS.LocationId=CM.Id
LEFT JOIN [dbo].[tCNStockLog] CL ON CNDTS.StockLogId=CL.Id
LEFT JOIN [dbo].[tVehicleMovementLog] VL ON CL.TriplogId=VL.Id where'
Declare  @where nvarchar(max)=' CNDTS.StartDate<='''+CONVERT(nvarchar(19),@parameter1,120)+''' AND CN.BillingOfficeId='+CAST(@parameter2 as nvarchar)+' AND D.DateId=1558 AND ISNULL(CNDTS.NextLogId,0)=0'

		IF(@parameter3>0)
		BEGIN
		SET @where=@where +' AND CNDTS.CNId='+CAST(@parameter3 as nvarchar)+''
		END
DECLARE @mainsql nvarchar(max)=@sql+@where
print @mainSQL
exec sp_sqlexec @mainsql
END
GO
