/****** Object:  StoredProcedure [dbo].[Proc_Report_1348]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1348]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1348]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1348]
	@parameter1 bigint--Categoryid
AS

        --public virtual ResultSet Get1348Data()
        --{
        --    try
        --    {
        --        var resultSet = new ResultSet
        --        {
        --            ParameterInfo =
        --                $"Parameter Info : Category : {Parameters.CategoryName}{(Parameters.SelectedClasses != null ? " ,Classes : " + Parameters.SelectedClasses.JoinStrings(",") : "")},Date Range: From - {Parameters.FromDate.GetValueOrDefault().Date.ToString("dd-MM-yy")} and To - {Parameters.ToDate.GetValueOrDefault().Date.ToString("dd-MM-yy")}"
        --        };
        --        var objectType = string.Empty;
        --        switch (Parameters.CategoryRoleTypeId)
        --        {
        --            case 1145: //Account Role
        --                if (Parameters.CategoryRoleId == 1085) objectType = "driver";
        --                break;
        --            case 1292: //Office
        --                objectType = "office";
        --                break;
        --        }
        --        var query = GApi.Instance.Connection.GetDriverMasterCCFData(Parameters.ClassIds.JoinStrings(","),
        --            Parameters.ObjectIds.JoinStrings(","), Parameters.CategoryId.GetValueOrDefault(0), objectType);
        --        if (Parameters.FromDate.HasValue)
        --            query = (DataServiceQuery<DriverMaster>)query.Where(x => x.RegistrationDate >= Parameters.FromDate);
        --        if (Parameters.ToDate.HasValue)
        --            query = (DataServiceQuery<DriverMaster>)query.Where(x => x.RegistrationDate <= Parameters.ToDate);
        --        var data = query.Select(y => new
        --        {
        --            y.DriverCode,
        --            y.DriverName,
        --            y.OpeningBalance,
        --            Religion = (y.Fk_DriverReligion == null ? null : y.Fk_DriverReligion.ConstantName),
        --            y.MaritalStatus,
        --            BloodGroup = (y.Fk_BloodGroup == null ? null : y.Fk_BloodGroup.ConstantName),
        --            y.LicenceNo,
        --            y.LicenceDate,
        --            LicenceAuthority = (y.Fk_IssuePlace == null ? null : y.Fk_IssuePlace.CityName),
        --            LicenceExpiryDate = y.ExpiryDate,
        --            y.ReferenceName,
        --            y.ReferenceAddress,
        --            y.ReferenceMobileNo,
        --            Qualification = (y.Fk_Qualification == null ? null : y.Fk_Qualification.ConstantName),
        --            ExperienceNoOfYear = y.ExpInYears,
        --            ExperienceDetails = y.ExpDetails,
        --            y.DPIN,
        --            ProvidientFund = y.PFNo,
        --            ESIC = y.ESICNo,
        --            y.Fk_Ledger.AccountName,
        --            GroupName = (y.Fk_Ledger.Fk_Group == null ? null : y.Fk_Ledger.Fk_Group.GroupName),
        --            y.Fk_Ledger.IsAccountImpact,
        --            y.Fk_Ledger.PanNo,
        --            y.Fk_Ledger.IsDefaulter,
        --        });
        --        resultSet.DataSource = data;
        --        return resultSet;
        --    }
        --    catch (Exception ex)
        --    {
        --        ex.ToExceptionless().AddObject(Parameters).Submit();
        --        return null;
        --    }
        --}
GO
