/****** Object:  StoredProcedure [dbo].[Proc_Report_1460]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1460]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1460]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	EXEC [PROC_REPORT_1460] 10010,'','','2016-11-01','2018-11-30',0
--	SELECT * FROM mObjectCategory

CREATE PROC [dbo].[Proc_Report_1460]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max),--ToDate
	@parameter6 int=0--0:None,1:Office,2:Vehicle,3:Partywise
As
BEGIN
	DECLARE @RoleId int,@TotalDays int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	SET @TotalDays=DATEDIFF(day,@parameter4,@parameter5)+1
	SET @parameter5=DATEADD(Day,1,@parameter5)

	create table #Group2(Group2 nvarchar(150))
	create table #Booking(Id int,Group2 nvarchar(150),SaleBooked decimal(18,2))
	create table #Advance(Id int,Group2 nvarchar(150),DriverAdvance decimal(18,2),FastTag decimal(18,2),AdvanceTotal decimal(18,2)
	, FuelBySlip decimal(18,2), FuelByPetroCard decimal(18,2),FuelOther decimal(18,2),FuelQty decimal(18,2)
	,FuelTotalAmount decimal(18,2),TotalAdvance decimal(18,2) )

	insert into #Group2(Group2)
	select ''

	if(@parameter6=1)
	begin	
		insert into #Group2(Group2)
		select Distinct OfficeName from dbo.mOfficeMaster
	end
	else if(@parameter6=2)
	begin	
		insert into #Group2(Group2)
		select Distinct VehicleRegNo from dbo.mVehicleMaster as vh
	end
	else if(@parameter6=3)
	begin	
		insert into #Group2(Group2)
		select Distinct FleetAcName from dbo.mLedger as vh where vh.AccountRoleID=1022
	end

	insert into #Booking(Id,Group2,SaleBooked)
	select 
	ObjectId=isnull((case @RoleId when 1130 then TL.VehicleId else TL.LoadingOfficeId end),0),
	Group2=(case @parameter6 when 0 then '' when 1 then ofc.OfficeName when 2 then vh.VehicleRegNo when 3 then blp.FleetAcName else '' end),
	SaleBooked=sum(TL.CNTotalFreight)
	FROM dbo.tCNMaster AS TL
	join dbo.mOfficeMaster as ofc on ofc.ID=TL.LoadingOfficeId 
	join dbo.mVehicleMaster as vh on vh.ID=TL.VehicleId
	left join dbo.mLedger as blp on blp.ID=TL.BillingPartyId
	Where Tl.CNDate>=@parameter4 AND Tl.CNDate<@parameter5
	Group By (CASE @RoleId WHEN 1130 THEN TL.VehicleId ELSE TL.LoadingOfficeId END),(case @parameter6 when 0 then '' when 1 then ofc.OfficeName when 2 then vh.VehicleRegNo when 3 then blp.FleetAcName else '' end)
	
	if(@parameter6<3)--Partywise advance not possible
	begin
		insert into #Advance(Id,Group2,DriverAdvance,FastTag,AdvanceTotal
		,FuelBySlip,FuelByPetroCard,FuelOther,FuelQty,FuelTotalAmount,TotalAdvance)
		SELECT 
		ObjectId=isnull((CASE @RoleId WHEN 1130 THEN TA.VehicleId ELSE TA.OfficeId END),0),
		Group2=(case @parameter6 when 0 then '' when 1 then ofc.OfficeName when 2 then vh.VehicleRegNo else '' end),
		DriverAdvance=SUM(CASE When TA.AdvanceTypeId = 1 and TA.PaidInId in(1427,1430,1431,1482) THEN isnull(TA.CashAmount,0) ELSE 0 END),
		TollRecharge=SUM(CASE When TA.AdvanceTypeId = 1 and TA.PaidInId=1516 THEN isnull(TA.CashAmount,0) ELSE 0 END),
		AdvanceTotal=SUM(CASE When TA.AdvanceTypeId = 1 THEN isnull(TA.CashAmount,0) ELSE 0 END),

		FuelBySlip=SUM(CASE When TA.AdvanceTypeId = 2 and TA.PaidInId in(1518,1430) THEN isnull(TA.FuelAmount,0) ELSE 0 END),
		FuelByPetroCard=SUM(CASE When TA.AdvanceTypeId = 2 and TA.PaidInId=1442 THEN isnull(TA.FuelAmount,0) ELSE 0 END),
		FuelByOther=SUM(CASE When TA.AdvanceTypeId = 2 and TA.PaidInId not in (1518,1430,1442) THEN isnull(TA.FuelAmount,0) ELSE 0 END),
		FuelQty=SUM(ISNULL(TA.FuelQty,0)),
		FuelTotalAmount=SUM(CASE When TA.AdvanceTypeId = 2 THEN isnull(TA.FuelAmount,0) ELSE 0 END),
		TotalAdvance=SUM(ISNULL(TA.CashAmount,0)+ISNULL(TA.FuelAmount,0))
		FROM dbo.tTripAdvanceLog AS TA 
		join dbo.mOfficeMaster as ofc on ofc.ID=TA.OfficeId 
		join dbo.mVehicleMaster as vh on vh.ID=TA.VehicleId
		WHERE TA.AdvanceTypeId IN(1,2) AND TA.AdvanceDate>=@parameter4 AND TA.AdvanceDate<@parameter5
		GROUP BY (CASE @RoleId WHEN 1130 THEN TA.VehicleId ELSE TA.OfficeId END),(case @parameter6 when 0 then '' when 1 then ofc.OfficeName when 2 then vh.VehicleRegNo else '' end)
	end

	--MarginPcnt=cast((case when isnull(t.TripBooking,0)=0 then 0 else isnull(t.Net,0)/isnull(t.TripBooking,0) end)*100 as decimal(18,2))
	SET NOCOUNT ON;
	SELECT 
	
	Group1=CCO.ObjectName,
	Group2=CCO.Group2,
	TotalMileage=isnull(T.TotalKmRun,0),
	ReportDays=@TotalDays,
	T.NoOfTrips,
	T.NoOfVehicles,
	BookingFreight=ISNULL(F.SaleBooked,0), 
	DriverAdvance=ISNULL(O.DriverAdvance,0),	
	FastTag=ISNULL(O.FastTag,0),
	AdvanceTotal=isnull(O.AdvanceTotal,0),
	FuelBySlip=ISNULL(O.FuelBySlip,0),
	FuelByPetroCard=ISNULL(O.FuelByPetroCard,0),
	FuelOther=ISNULL(O.FuelOther,0),
	FuelQty=ISNULL(O.FuelQty,0),
	FuelTotalAmount=ISNULL(O.FuelTotalAmount,0),
	TotalAdvance=ISNULL(O.TotalAdvance,0),
	Net=ISNULL(F.SaleBooked,0)-ISNULL(O.TotalAdvance,0),
	BookingPerDay=cast(((case when @TotalDays=0 then 0 else isnull(F.SaleBooked,0)/@TotalDays end)) as decimal(18,2)),
	ExpensePerDay=cast(((case when @TotalDays=0 then 0 else ISNULL(O.TotalAdvance,0)/@TotalDays end)) as decimal(18,2)),
	BookingPerKM=cast(((case when isnull(T.TotalKmRun,0)=0 then 0 else isnull(F.SaleBooked,0)/isnull(T.TotalKmRun,0) end)) as decimal(18,2)),
	ExpensePerKm=cast(((case when isnull(T.TotalKmRun,0)=0 then 0 else ISNULL(O.TotalAdvance,0)/isnull(T.TotalKmRun,0) end)) as decimal(18,2)),
	AdvancePcnt=cast(((case when isnull(F.SaleBooked,0)=0 then 0 else ISNULL(O.TotalAdvance,0)/isnull(F.SaleBooked,0) end)*100) as decimal(18,2)),
	
	MarginPrt=cast((case when isnull(F.SaleBooked,0)=0 then 0 else isnull((ISNULL(F.SaleBooked,0)-ISNULL(O.TotalAdvance,0)),0)/isnull(F.SaleBooked,0) end)*100 as decimal(18,2))
	From (Select *
	FROM 
	[dbo].CCO(@parameter1,@parameter2,@parameter3) , #Group2 tt
	)as CCO
	LEFT JOIN #Advance as O ON O.Id=CCO.ObjectId and O.Group2=CCO.Group2
	LEFT JOIN #Booking as F ON F.Id=CCO.ObjectId and F.Group2=CCO.Group2
	LEFT JOIN
	(
		SELECT 
		ObjectId=(CASE @RoleId WHEN 1130 THEN TL.VehicleId ELSE TL.OfficeId END),
		Group2=(case @parameter6 when 0 then '' when 1 then ofc.OfficeName when 2 then vh.VehicleRegNo else '' end),
		NoOfTrips=count(TL.Id),
		NoOfVehicles=count(distinct TL.VehicleId),
		TotalKmRun=sum(TL.TotalKmRun)
		FROM dbo.tVehicleMovementLog AS TL
		join dbo.mOfficeMaster as ofc on ofc.ID=TL.OfficeId 
		join dbo.mVehicleMaster as vh on vh.ID=TL.VehicleId 
		Where TL.TripTypeId=1158 AND Tl.TripStartDate>=@parameter4 AND Tl.TripStartDate<@parameter5 and (CASE @RoleId WHEN 1130 THEN TL.VehicleId ELSE TL.OfficeId END)>0
		Group By (CASE @RoleId WHEN 1130 THEN TL.VehicleId ELSE TL.OfficeId END),(case @parameter6 when 0 then '' when 1 then ofc.OfficeName when 2 then vh.VehicleRegNo else '' end)
	)AS T ON T.ObjectId=CCO.ObjectId and T.Group2=CCO.Group2
	where ISNULL(F.SaleBooked,0)>0 or ISNULL(O.FuelQty,0)>0 or ISNULL(O.TotalAdvance,0)>0
	ORDER BY CCO.ObjectName 
	

	drop table #Booking
	drop table #Advance	
	drop table #Group2
END
GO
