/****** Object:  StoredProcedure [dbo].[Proc_Report_1406]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1406]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1406]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec Proc_Report_1406 10010,'','','2015-01-01','2016-12-12',1158
--select * from mObjectCategory

CREATE proc [dbo].[Proc_Report_1406]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--FromDate
	@parameter5 datetime,--ToDate
	@parameter6 int--
as
begin
	DECLARE @RoleId int,@KmCalcTypeId int
	set @RoleId=(SELECT RoleId from dbo.mObjectCategory where Id=@parameter1)
	 
	select @KmCalcTypeId=Value from dbo.ApiConfigurations where id='DefaultKmSourceForReporting'
	
	if(@parameter6>0)
	begin
		set @KmCalcTypeId=@parameter6
	end

	SET NOCOUNT ON;
	select 
	CCO.CategoryName,
	CCO.ClassName,
	vm.VehicleNo,
	VehicleModel=vmod.ModelName,
	t.TripYear,
	t.Jan,
	t.Feb,
	t.Mar,
	t.Apr,
	t.May,
	t.Jun,
	t.Jul,
	t.Aug,
	t.Sep,
	t.Oct,
	t.Nov,
	t.Dec,
	t.TotalAmount,
	k.TotalKm
	,CPKMInPaise=cast((case when isnull(k.TotalKm,0)=0 then 0 else  isnull(t.TotalAmount,0)/isnull(k.TotalKm,0) end) as decimal(18,2))*100
	from dbo.mVehicleMaster as vm
	join dbo.mVehicleModel as vmod on vmod.Id=vm.VehicleModelId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCo.ObjectId=vm.Id
	join(
		select t.VehicleId,year(ei.DocDate) as TripYear,
		Jan=sum(case when month(ei.DocDate)=1 then isnull(t.NetAmount,0) else 0 end),
		Feb=sum(case when month(ei.DocDate)=2 then isnull(t.NetAmount,0) else 0 end),
		Mar=sum(case when month(ei.DocDate)=3 then isnull(t.NetAmount,0) else 0 end),
		Apr=sum(case when month(ei.DocDate)=4 then isnull(t.NetAmount,0) else 0 end),
		May=sum(case when month(ei.DocDate)=5 then isnull(t.NetAmount,0) else 0 end),
		Jun=sum(case when month(ei.DocDate)=6 then isnull(t.NetAmount,0) else 0 end),
		Jul=sum(case when month(ei.DocDate)=7 then isnull(t.NetAmount,0) else 0 end),
		Aug=sum(case when month(ei.DocDate)=8 then isnull(t.NetAmount,0) else 0 end),
		Sep=sum(case when month(ei.DocDate)=9 then isnull(t.NetAmount,0) else 0 end),
		Oct=sum(case when month(ei.DocDate)=10 then isnull(t.NetAmount,0) else 0 end),
		Nov=sum(case when month(ei.DocDate)=11 then isnull(t.NetAmount,0) else 0 end),
		Dec=sum(case when month(ei.DocDate)=12 then isnull(t.NetAmount,0) else 0 end),
		TotalAmount=sum(isnull(t.NetAmount,0))
		from dbo.tSpareLogExtraInfo as ei 
		left join(
			select t.VehicleId,t.NetAmount,t.ExtraInfoId from dbo.tSpareLog as t
			union all
			select  rl.VehicleId,rl.NetAmount,rl.ExtraInfoId from dbo.tRepairLabourLog as rl
		)as t on ei.Id=t.ExtraInfoId
		where ei.DocDate between @parameter4 and @parameter5
		group by t.VehicleId,year(ei.DocDate)
	)as t on vm.Id=t.VehicleId
	left join
	(
		Select k.VehicleId,sum(isnull(k.TotalKmRun,0)) as TotalKm from dbo.tVehicleMovementLog as k where k.TripStartDate between @parameter4 and @parameter5 and k.TripTypeId=@KmCalcTypeId group by k.VehicleId
	)as k on k.VehicleId=vm.Id
	
end

GO
