/****** Object:  StoredProcedure [dbo].[Proc_Report_1645]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1645]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1645]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mukesh Rebari
-- Create date: 09-Sep-2017
-- Last Modified Date: 04-Jan-2021 11:39AM
-- Description:	Data View Procedure for 1645 form
-- Exec Proc_Report_1645 @parameter1=1025,@parameter5='KKS/TI/18-19/0385'
CREATE PROC [dbo].[Proc_Report_1645] @parameter1 BIGINT,--ViewId
@parameter2 DATETIME = NULL,--FromDate
@parameter3 DATETIME = NULL,--ToDate
@parameter4 BIGINT = 0,--StatusId
@parameter5 NVARCHAR(100) = NULL, --Record
@parameter6 BIGINT = 0 --UserName
AS
BEGIN
if(@parameter1=0)
BEGIN
SELECT A.Id, A.UserId, U.UserName, U.FirstName, U.LastName, ActionId=A.[Type], [Action]=(case A.[Type] when 1 then 'Viewed' when  2 then 'Created' when 3 then 'Updated'  when 4 then 'Deleted' end), FormId=A.ViewId, FormName=V.Name, A.RecordId, A.IsMaster,Record=A.RecordName, DateOfEntry=A.[TimeStamp],A.[Changes]
from [dbo].[ApiRecordAccessLogs] A JOIN [dbo].[ApiUsers] U ON A.UserId=U.Id LEFT JOIN [dbo].[ApiViews] V ON A.ViewId=V.Id
WHERE 1=(CASE WHEN ISNULL(@parameter1,'')='' THEN 1 WHEN A.RecordName like '%'+ISNULL(@parameter5,'')+'%' THEN 1 ELSE 0 END)
AND 1=(CASE WHEN @parameter2 IS NULL THEN 1 WHEN @parameter2<=A.[TimeStamp] THEN 1 ELSE 0 END)
AND 1=(CASE WHEN @parameter3 IS NULL THEN 1 WHEN @parameter2>=A.[TimeStamp] THEN 1 ELSE 0 END)
AND 1=(CASE WHEN @parameter4=0 THEN 1 WHEN CAST(@parameter4 as int)=A.[Type] THEN 1 ELSE 0 END)
AND 1=(CASE WHEN @parameter6=0 THEN 1 WHEN @parameter6=A.[UserId] THEN 1 ELSE 0 END)
return;
END
  DECLARE @Select NVARCHAR(MAX) = N'SELECT A.Id, A.UserId, U.UserName, U.FirstName, U.LastName, ActionId=A.Type, Action=case A.[Type] when 1 then ''Viewed'' when  2 then ''Created'' when 3 then ''Updated''  when 4 then ''Deleted'' end, FormId=A.ViewId, FormName=V.Name, A.RecordId, A.IsMaster,A.[Changes],'
  DECLARE @From NVARCHAR(MAX) = N' from [dbo].[ApiRecordAccessLogs] A LEFT JOIN [dbo].' +
  (CASE @parameter1
	WHEN 1004 THEN '[mCityMaster] R ON A.RecordName=R.CityName'
	WHEN 1005 THEN '[tTripAdvanceLog] R ON A.RecordName=isnull(R.VoucherNo,R.ReferenceNo)'
	WHEN 1107 THEN '[tTripAdvanceLog] R ON A.RecordName=isnull(R.VoucherNo,R.ReferenceNo)'
	WHEN 1006 THEN '[mDueMaster] R ON A.RecordName=R.Name'
	WHEN 1008 THEN '[tVehicleMovementLog] R ON A.RecordName=R.TriplogNo'
	WHEN 1020 THEN '[tVehicleMovementLog] R ON A.RecordName=R.TriplogNo'
	WHEN 1021 THEN '[tVehicleMovementLog] R ON A.RecordName=R.TriplogNo'
	WHEN 1499 THEN '[tVehicleMovementLog] R ON A.RecordName=R.TriplogNo'
	WHEN 1503 THEN '[tVehicleMovementLog] R ON A.RecordName=R.TriplogNo'
	WHEN 1576 THEN '[tVehicleMovementLog] R ON A.RecordName=R.TriplogNo'
	WHEN 1574 THEN '[tTripSettlement] R ON A.RecordName=R.TripSheetNo'
	WHEN 1011 THEN '[mExpenseMaster] R ON A.RecordName=R.Name'
	WHEN 1012 THEN '[tVouchers] R ON A.RecordName=R.VoucherNoVoucherNo'
  --  WHEN 1013 THEN '[tVTGMapping] R ON A.RecordName=R.'
	WHEN 1015 THEN '[mSpareMaster] R ON A.RecordName=R.SpareName'
	WHEN 1017 THEN '[tSpareLogExtraInfo] R ON A.RecordName=R.DocNo'
	WHEN 1018 THEN '[tSpareLogExtraInfo] R ON A.RecordName=R.DocNo'
	WHEN 1019 THEN '[tSpareLogExtraInfo] R ON A.RecordName=R.DocNo'    
	WHEN 1023 THEN '[tSpareLogExtraInfo] R ON A.RecordName=R.DocNo'
	WHEN 1026 THEN '[tTyreLogExtraInfo] R ON A.RecordName=R.VoucherNo'
	WHEN 1025 THEN '[tTyreLogExtraInfo] R ON A.RecordName=R.VoucherNo'
	WHEN 1030 THEN '[mLedger] R ON A.RecordName=R.AccountName'
	WHEN 1031 THEN '[mVehicleMaster] R ON A.RecordName=R.VehicleNo'
	WHEN 1032 THEN '[mDriverMaster] R ON A.RecordName=R.DriverName'
	WHEN 1033 THEN '[mRouteMaster] R ON A.RecordName=R.Name'
	--WHEN 1034 THEN '[tDriverTrainingLog] R ON A.RecordName=R.'
	WHEN 1041 THEN '[mBrandMaster] R ON A.RecordName=R.BrandName'
	WHEN 1042 THEN '[mPMMaster] R ON A.RecordName=R.Name'
	--WHEN 1044 THEN '[tDriverIncidentLog] R ON A.RecordName=R.'
	WHEN 1045 THEN '[mBrandMaster] R ON A.RecordName=R.BrandName'
	--WHEN 1048 THEN '[mPMSchedule] R ON A.RecordName=R.'
	WHEN 1050 THEN '[tTyreLogExtraInfo] R ON A.RecordName=R.VoucherNo'
	WHEN 1379 THEN '[tTyreLogExtraInfo] R ON A.RecordName=R.VoucherNo'
	WHEN 1054 THEN '[tTyreLogExtraInfo] R ON A.RecordName=R.VoucherNo'
	WHEN 1063 THEN '[mVehicleModel] R ON A.RecordName=R.ModelName'
	WHEN 1076 THEN '[ApiUsers] R ON A.RecordName=R.UserName'
	WHEN 1079 THEN '[tBatteryLogExtraInfo] R ON A.RecordName=R.DocNo'
	--WHEN 1080 THEN '[tBatteryLog] R ON A.RecordName=R.'
	WHEN 1082 THEN '[tBatteryLogExtraInfo] R ON A.RecordName=R.DocNo'
	WHEN 1085 THEN '[mBatteryBrand] R ON A.RecordName=R.BrandName'
	--WHEN 1087 THEN '[tBatteryLog] R ON A.RecordName=R.'
	--WHEN 1088 THEN '[tBatteryLog] R ON A.RecordName=R.'
	--WHEN 1089 THEN '[tBatteryLog] R ON A.RecordName=R.'
	--WHEN 1090 THEN '[tBatteryLog] R ON A.RecordName=R.'
	WHEN 1091 THEN '[tBatteryLogExtraInfo] R ON A.RecordName=R.DocNo'
	WHEN 1092 THEN '[tBatteryLogExtraInfo] R ON A.RecordName=R.DocNo'
	WHEN 1093 THEN '[tBatteryLogExtraInfo] R ON A.RecordName=R.DocNo'
	--WHEN 1094 THEN '[tBatteryLog] R ON A.RecordName=R.'
	WHEN 1100 THEN '[tBatteryLogExtraInfo] R ON A.RecordName=R.DocNo'
	WHEN 1102 THEN '[tDriverVehicleMapping] R ON A.RecordId=R.Id JOIN [mVehicleMaster] vm ON R.VehicleId=vm.Id LEFT JOIN [mConstantValue] st ON R.DriverStatusId=st.Id'
	--WHEN 1105 THEN '[mLedgerRole] R ON A.RecordName=R.'
	WHEN 1106 THEN '[mBook] R ON A.RecordName=R.Name'
	--WHEN 1333 THEN '[tBatteryCheck] R ON A.RecordName=R.'
	WHEN 1334 THEN '[mOfficeMaster] R ON A.RecordName=R.OfficeName'
	--WHEN 1335 THEN '[ApiRoles] R ON A.RecordName=R.'
	--WHEN 1337 THEN '[tVehicleAccident] R ON A.RecordName=R.'
	--WHEN 1338 THEN '[mDTSStatus] R ON A.RecordName=R.'
	WHEN 1380 THEN '[tBatteryLogExtraInfo] R ON A.RecordName=R.DocNo'
	WHEN 1381 THEN '[tBatteryLogExtraInfo] R ON A.RecordName=R.DocNo'
	--WHEN 1385 THEN '[mFuelRateLog] R ON A.RecordName=R.'
	WHEN 1444 THEN '[tSpareLogExtraInfo] R ON A.RecordName=R.DocNo'
	--WHEN 1445 THEN '[tBatteryLog] R ON A.RecordName=R.'
	--WHEN 1446 THEN '[tORMLog] R ON A.RecordName=R.'
	--WHEN 1452 THEN '[mUnitMaster] R ON A.RecordName=R.'
	WHEN 1453 THEN '[mMaterialMaster] R ON A.RecordName=R.Name'
	WHEN 1454 THEN '[mCNBillNature] R ON A.RecordName=R.Name'
	WHEN 1455 THEN '[mTaxServiceType] R ON A.RecordName=R.Name'
	WHEN 1456 THEN '[mMaterialGroup] R ON A.RecordName=R.Name'
	WHEN 1457 THEN '[mLoadType] R ON A.RecordName=R.Name'
	WHEN 1458 THEN '[tCNMaster] R ON A.RecordName=R.CNNo'
	WHEN 1463 THEN '[mAccountGroup] R ON A.RecordName=R.GroupName'
	WHEN 1477 THEN '[mRateContract] R ON A.RecordName=R.Name'
	WHEN 1480 THEN '[tCNBillMaster] R ON A.RecordName=R.BillNo'
	WHEN 1494 THEN '[tCNBillPayment] R ON A.RecordName=R.DocumentNo'
	WHEN 1497 THEN '[tVouchers] R ON A.RecordName=R.VoucherNo'
	WHEN 1498 THEN '[mPaymentDeduction] R ON A.RecordName=R.TypeName'    
	WHEN 1505 THEN '[mHireVehicle] R ON A.RecordName=R.VehicleNo'
	WHEN 1506 THEN '[tVehicleMovementLog] R ON A.RecordName=R.TriplogNo'
	WHEN 1514 THEN '[tCNMaster] R ON A.RecordName=R.CNNo'
	WHEN 1515 THEN '[mSpareMaster] R ON A.RecordName=R.SpareName'
	--WHEN 1519 THEN '[mTaxRateMaster] R ON A.RecordName=R.'
	--WHEN 1520 THEN '[tVehicleMonthlyBudget] R ON A.RecordName=R.'
	WHEN 1522 THEN '[mHireVehicle] R ON A.RecordName=R.VehicleNo'
	WHEN 1524 THEN '[tVehicleMovementLog] R ON A.RecordName=R.TriplogNo'
	WHEN 1526 THEN '[mSpareMaster] R ON A.RecordName=R.SpareName'
	WHEN 1527 THEN '[mDriverMaster] R ON A.RecordName=R.DriverName'
	WHEN 1528 THEN '[mLedger] R ON A.RecordName=R.AccountName'
	--WHEN 1534 THEN '[mTripExpenseBudget] R ON A.RecordName=R.'
	--WHEN 1536 THEN '[mContactBook] R ON A.RecordName=R.'
	--WHEN 1537 THEN '[mScheduleLog] R ON A.RecordName=R.'
	WHEN 1545 THEN '[mViewField] R ON A.RecordName=R.FieldType'
	--WHEN 1546 THEN '[mViewFieldBookMap] R ON A.RecordName=R.'
	--WHEN 1547 THEN '[mFileUploadNature] R ON A.RecordName=R.'
	--WHEN 1548 THEN '[tPurchaseOrder] R ON A.RecordName=R.'
	--WHEN 1551 THEN '[tLoan] R ON A.RecordName=R.'
	WHEN 1561 THEN '[tCNMaster] R ON A.RecordName=R.CNNo'
	WHEN 1562 THEN '[tTripAdvanceLog] R ON A.RecordName=R.'
	--WHEN 1564 THEN '[tCNMultiMaterial] R ON A.RecordName=R.'
	--WHEN 1567 THEN '[tLoan] R ON A.RecordName=R.'
	WHEN 1571 THEN '[tVehicleMovementLog] R ON A.RecordName=R.TriplogNo'
	--WHEN 1573 THEN '[mPartyRouteTime] R ON A.RecordName=R.'
	--WHEN 1609 THEN '[mFY] R ON A.RecordName=R.'
	--WHEN 1611 THEN '[ApiViews] R ON A.RecordName=R.'
	--WHEN 1612 THEN '[ApiViews] R ON A.RecordName=R.'
	--WHEN 1614 THEN '[mVehicleDueMapping] R ON A.RecordName=R.'
	--WHEN 1627 THEN '[mPrtFrmtLedger] R ON A.RecordName=R.'
	--WHEN 1629 THEN '[mOfficeVehicleMapping] R ON A.RecordName=R.'    
	/* R ON A.RecordName=R.Id*/
  END) + N' JOIN [dbo].[ApiUsers] U ON A.UserId=U.Id LEFT JOIN [dbo].[ApiViews] V ON A.ViewId=V.Id'
  DECLARE @Where NVARCHAR(MAX) = N' WHERE A.ViewId=' + CAST(@parameter1 AS NVARCHAR)

  IF (@parameter1 = 1004)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.CityName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1562)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.VoucherNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1054)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.VoucherNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1050 OR @parameter1 =1379)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.VoucherNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1041)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.BrandName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1045)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.BrandName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1515)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.SpareName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1018)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1048)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1445)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1094)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1080)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1090)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1087)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1089)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1088)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END

 IF (@parameter1 = 1005 or @parameter1 = 1107)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(Isnull(R.VoucherNo,R.ReferenceNo), A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1006)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END

  IF (@parameter1 = 1611)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DisplayText, A.RecordName)'
  END
  IF (@parameter1 = 1612)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DisplayText, A.RecordName)'
  END
  IF (@parameter1 = 1536)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.FirstName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1547)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1573)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1385)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1453)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1334)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.OfficeName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1627)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1335)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CreatedDOE)'
  END
  IF (@parameter1 = 1033)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1106)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1452)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.UnitName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1076)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.UserName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CreatedDOE)'
  END
  IF (@parameter1 = 1546)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1545)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1494)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocumentNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1480)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.BillNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1454)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1458)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.CNNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1561)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.CNNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1477)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1505)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1457)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1514)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.CNNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  --IF(@parameter1=1514)
  --BEGIN
  --SET @Select=@Select+ ' Record=ISNULL(R.CNNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CreatedDOE)'
  --END
  IF (@parameter1 = 1456)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1564)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.InvoiceNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1503)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.TriplogNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1497)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.VoucherNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1498)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.TypeName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1519)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1455)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1609)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.Name, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1013)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1463)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.GroupName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1030)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1528)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1105)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  --IF(@parameter1=1105)
  --BEGIN
  --SET @Select=@Select+ ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CreatedDOE)'
  --END
  IF (@parameter1 = 1337)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocumentNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1085)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.BrandName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1091)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1100)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1333)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1380)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1079)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1381)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1093)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1092)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1082)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1044)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1032)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DriverName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1527)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DriverName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1034)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1102)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, '''')+vm.VehicleNo,DateOfEntry=ISNULL(A.TimeStamp, R.CDOE),DriverStatus=st.ConstantName'
  END
  IF (@parameter1 = 1008)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.TriplogNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1011)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1012)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1614)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  --IF(@parameter1=1614)
  --BEGIN
  --SET @Select=@Select+ ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  --END
  IF (@parameter1 = 1551)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.LoanNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1567)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1548)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.PONo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1017)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 IN(1020,1576))
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.TriplogNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF(@parameter1 =1574)
	BEGIN
	 SET @Select = @Select + ' Record=ISNULL(R.TripSheetNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
	END
  IF (@parameter1 = 1019)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1444)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1023)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.DocNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1021)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.TriplogNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1446)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.ORMNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1042)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1015)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1526)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END

  --IF(@parameter1=1011)
  --BEGIN
  --SET @Select=@Select+ ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=R.CDOE)'
  --END
  IF (@parameter1 = 1534)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1499)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.TriplogNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1524)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.TriplogNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1506)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.TriplogNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END

  IF (@parameter1 = 1026 OR @parameter1 = 1025)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.VoucherNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1522)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.RegistrationNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1629)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1031)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.VehicleNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1063)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1520)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1338)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1537)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(A.RecordName, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter1 = 1571)
  BEGIN
	SET @Select = @Select + ' Record=ISNULL(R.TriplogNo, A.RecordName), DateOfEntry=ISNULL(A.TimeStamp, R.CDOE)'
  END
  IF (@parameter4 > 0)
  BEGIN
	SET @where = @where + ' AND A.Type=' + CAST(@parameter4 AS NVARCHAR)
  END
  IF (@parameter6 > 0)
  BEGIN
	SET @where = @where + ' AND A.UserId=' + CAST(@parameter6 AS NVARCHAR)
  END
  DECLARE @INSQL NVARCHAR(MAX) = N' SELECT * FROM (' + @Select + @From + @where + ') AS D WHERE 1=1'
  IF (@parameter2 IS NOT NULL)
  BEGIN
	SET @INSQL = @INSQL + ' AND D.DateOfEntry>=''' + CONVERT(NVARCHAR(19), @parameter2, 120) + ''''
  END
  IF (@parameter3 IS NOT NULL)
  BEGIN
	SET @INSQL = @INSQL + ' AND D.DateOfEntry<=''' + CONVERT(NVARCHAR(19), @parameter3, 120) + ''''
  END
  IF (@parameter5 IS NOT NULL)
  BEGIN
	SET @INSQL = @INSQL + ' AND D.Record like ''%' + @parameter5 + '%'''
  END
  SET @INSQL = @INSQL + N' ORDER BY D.Id DESC'
  PRINT @INSQL
  EXEC sp_sqlexec @INSQL
END
GO
