/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1523_UpdateAndCreate]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1523_UpdateAndCreate]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1523_UpdateAndCreate]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Exec Proc_TRANS_1523_UpdateAndCreate 
CREATE Proc [dbo].[Proc_TRANS_1523_UpdateAndCreate]
@parameter1 bigint, -- Id
@parameter2 nvarchar(100), -- AcknowledgmentNo
@parameter3 bigint, -- LogType
@parameter4 bigint -- Qty
AS 
BEGIN
      --UPDATE EXISTING RECORDS
  UPDATE tCNStockMMLog
      SET DeliveryAcknowledgeNo=@parameter2,
	  LogTypeId=@parameter3,
	  OutQty=@parameter4 
 Where Id=@parameter1
END
GO
