/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_CreateVTSOld]    Script Date: 06-04-2017 02:05:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_TRANS_1624_CreateVTSOld]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_TRANS_1624_CreateVTSOld]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_CreateVTSOld]    Script Date: 06-04-2017 02:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_TRANS_1624_CreateVTSOld]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- CreatedBy:		Mukesh Rebari
-- Create date: 28-02-2017
-- ModifiedBy:		Mukesh Rebari
-- Modified date: <Create Date,,>
-- Description:	Create VTS Status
-- =============================================
CREATE PROCEDURE [dbo].[Proc_TRANS_1624_CreateVTSOld] 
	@parameter1 bigint,--@TripLogId
	@parameter2 bit,--@IsCreated
	@parameter3 bigint=0,--@statusId
	@parameter4 varchar(max)
AS
BEGIN
	SET NOCOUNT ON;
	declare @DTSStatusId int,@PreviouslogId bigint,@VehicleId bigint,@Id bigint,@TemplateId int
	set @TemplateId=(select top 1 Value from dbo.ApiConfigurations where id=''VTSTemplateId'')

	set @VehicleId=(select VehicleId from dbo.tVehicleMovementLog where id=@parameter1)
	set @DTSStatusId=isnull((select top 1 Id from dbo.mDTSStatus where DateId=1523 and TemplateId=@TemplateId),0)
	set @PreviouslogId=isnull((select top 1 Id from dbo.tVTSStatusLog where isnull(NextLogId,0)=0 and VehicleId=@VehicleId order by StartDate desc),0)
	
	if(isnull(@parameter1,0)=1 and isnull(@parameter2,0)=1 and isnull(@DTSStatusId,0)>1 and isnull(@VehicleId,0)>1 and isnull(@TemplateId,0)>0)
	begin
		--TODO:Write you logic over here
		
		insert into [dbo].[tVTSStatusLog]([VehicleId],[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
		,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
		,[LocationId],[DelayMinutes],[ConsumedMinutes],[GPSLocation])

		select 
			[VehicleId]=t.VehicleId
			,[DriverId]=t.Driver1stId
			,[DTSStatusId]=@DTSStatusId
			,[TriplogId]=t.Id
			,[GPSVendorId]=vm.GPSVendorId
			,[PreviousLogId]=@PreviouslogId
			,[StatusId]=0
			,[CSID]=t.CSID
			,[CDOE]=t.CDOE
			,[StartDate]=t.TripStartDate
			,[LocationId]=rt.FromPlaceId
			,[DelayMinutes]=0
			,[ConsumedMinutes]=0
			,[GPSLocation]=@parameter4
		from dbo.tVehicleMovementLog as t 
		join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
		left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
		where t.Id=@parameter1

		set @Id=SCOPE_IDENTITY()

		update dbo.tVTSStatusLog set NextLogId=@Id where Id=@PreviouslogId
	end
END
' 
END
GO
