/****** Object:  StoredProcedure [dbo].[Proc_Report_1493]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1493]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1493]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1493] '2017-03-31'
CREATE procedure [dbo].[Proc_Report_1493] 
(
	@parameter1 DATETIME
)
AS 
BEGIN
-- 1492: Trial Balance:- Group - Hierarchical
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter1 between OpeningDate and ClosingDate),0)
	if(@FFYId<=0)
	begin
		RAISERROR ('Financial Year not existings of selected date',16,1);  
		RETURN;
	end
	
	DECLARE @GroupTrialBalance TABLE
	(RowID BIGINT IDENTITY(1,1),LiabilitiesGroupId BIGINT, Liabilities VARCHAR(200), LiabilityGroup VARCHAR(200), LAmount DECIMAL(18,2),LDrCr varchar(2),AssetGroupId BIGINT, Assets VARCHAR(200), AssetGroup VARCHAR(200), AAmount DECIMAL(18,2),ADrCr varchar(2))


	DECLARE @Details TABLE
	(RowID BIGINT IDENTITY(1,1), GroupID BIGINT, GroupName VARCHAR(200), ParentGroupName VARCHAR(200),LedgerBalance DECIMAL(18,2),DrCr varchar(2),OrderId Int,CommonGroupId int,ParentGroupId int)

	

	DECLARE @TabGroups TABLE(RowID BIGINT IDENTITY(1,1),GroupID BIGINT, GroupName VARCHAR(200), ParentGroupId BIGINT)

		
	INSERT INTO @TabGroups
	SELECT Id,GroupName,ParentGroupId FROM dbo.mAccountGroup where ParentGroupId in(1,2) order by ParentGroupId desc,Id --1:Assets 2:Liability


	DECLARE @FromRowID BIGINT,@ToRowID BIGINT,@GroupID BIGINT,@GroupName VARCHAR(200),@ParentGroupName VARCHAR(200),@ParentGroupId BIGINT
	SET @FromRowID = 0
	SET @ToRowID = (SELECT MAX(RowID) from @TabGroups)
	WHILE @FromRowID < @ToRowID
	BEGIN
		SET @FromRowID = @FromRowID + 1
		SET @GroupID = ISNULL((SELECT GroupID FROM @TabGroups WHERE RowID = @FromRowID),0)
		SET @GroupName = ISNULL((SELECT GroupName FROM @TabGroups WHERE RowID = @FromRowID),'')
		SET @ParentGroupId=ISNULL((SELECT ParentGroupId FROM @TabGroups WHERE GroupID = @GroupID),0)
		DECLARE @Debit_Amount DECIMAL(18,2), @Credit_Amount DECIMAL(18,2),@OpBalance DECIMAL(18,2)
		
		Set @OpBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId join mLedger xa on xa.Id=xvd.AccountId where xa.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID)) and  xv.FYID=@FFYId and (xv.VoucherDate < @parameter1 or xv.VoucherTypeId in(19,69)) and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0)
		
		--	==================Grouping=============		
		INSERT INTO @Details(GroupID,GroupName,ParentGroupName,LedgerBalance,DrCr,OrderId,CommonGroupId,ParentGroupId)	

		SELECT 
		@GroupID,
		@GroupName,
		ParentGroupName=(select g.GroupName from dbo.mAccountGroup as g where g.Id=@ParentGroupId),
		isnull([LedgerAmount],0),
		DrCr=case when isnull([LedgerAmount],0)>0 then 'Dr' when isnull([LedgerAmount],0)<0 then 'Cr' end,
		orderid=0,
		@GroupID,
		@ParentGroupId		
		FROM
		(
			Select 
			[LedgerAmount]=Sum(ISNULL(vd.VDAmount,0))
			from dbo.tVouchers as v 
			inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
			inner join dbo.mLedger as a on a.Id=vd.AccountId
			where v.FYID=@FFYId and v.VoucherDate < @parameter1 and voucherTypeId not in(19,69) and v.IsAccepted=1 and IsAccountsVisiblity=1
			and a.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID))
		)as v

		INSERT INTO @Details(GroupID,GroupName,ParentGroupName,LedgerBalance,DrCr,OrderId,CommonGroupId,ParentGroupId)
		SELECT 
		g.Id,
		'      '+g.GroupName,
		ParentGroupName=(select x.GroupName from dbo.mAccountGroup as x where x.Id=g.ParentGroupId),
		[LedgerAmount]=isnull([LedgerAmount],0),
		DrCr=case when isnull([LedgerAmount],0)>0 then 'Dr' when isnull([LedgerAmount],0)<0 then 'Cr' end,
		orderid=1,
		@GroupID,
		@ParentGroupId
		FROM
		(
			Select 
			a.GroupId,
			[LedgerAmount]=sum(isnull(vd.VDAmount,0))
			from dbo.tVouchers as v 
			inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
			inner join dbo.mLedger as a on a.Id=vd.AccountId
			where v.FYID=@FFYId and v.VoucherDate < @parameter1 and voucherTypeId not in(19,69) and v.IsAccepted=1 and IsAccountsVisiblity=1
			and a.GroupId in(Select GroupId From dbo.[Func_GetAllAccountParentChildGroups](@GroupID) where hLevel>1)  
			group by a.GroupId
		)as v
		inner join dbo.mAccountGroup as g on v.GroupId=g.Id
		
		INSERT INTO @Details(GroupID,GroupName,ParentGroupName,LedgerBalance,DrCr,OrderId,CommonGroupId,ParentGroupId)
		SELECT 
		v.Id,
		'      '+v.AccountName,
		ParentGroupName=(select g.GroupName from dbo.mAccountGroup as g where g.Id=@GroupID),
		[LedgerAmount]=isnull([LedgerAmount],0),
		DrCr=case when isnull([LedgerAmount],0)>0 then 'Dr' when isnull([LedgerAmount],0)<0 then 'Cr' end,
		orderid=2,
		@GroupID,
		@ParentGroupId
		FROM
		(
			Select 
			a.Id,
			a.AccountName,
			[LedgerAmount]=sum(ISNULL(vd.VDAmount,0))
			from dbo.tVouchers as v 
			inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
			inner join dbo.mLedger as a on a.Id=vd.AccountId
			where v.FYID=@FFYId and v.VoucherDate < @parameter1 and voucherTypeId not in(19,69) and v.IsAccepted=1 and IsAccountsVisiblity=1
			and a.GroupId=@GroupID
			group by a.Id,a.AccountName
		)as v
		--	=======================================
	END

	Update @Details set LedgerBalance=abs(LedgerBalance)

	Insert Into @GroupTrialBalance(LiabilitiesGroupId, Liabilities,LiabilityGroup,LAmount,LDrCr)
	Select GroupID,GroupName,ParentGroupName,LedgerBalance,DrCr from @Details where ParentGroupId=2 order by ParentGroupId desc, CommonGroupId,OrderId,GroupName

	DECLARE @MinRow INT,@MaxRow INT

	SET @MinRow=(select count(*) from @Details where ParentGroupId=2)
	SET @MaxRow=abs(@MinRow-(select count(*) from @Details where ParentGroupId=1))+2
	SET @MaxRow=@MinRow+@MaxRow
	
	WHILE @MinRow <= @MaxRow
	BEGIN
		SET @MinRow = @MinRow + 1
		INSERT INTO @GroupTrialBalance(LiabilitiesGroupId)
		select null
	END


	update x
	set x.AssetGroupId=z.GroupID , Assets=z.GroupName,x.AAmount=z.LedgerBalance,x.ADrCr=Z.DrCr,x.AssetGroup=z.ParentGroupName
	from @GroupTrialBalance as x  
	left join (
		Select ROW_NUMBER() OVER (PARTITION BY 1 ORDER BY CommonGroupId,OrderId,GroupName) AS SN, GroupID,GroupName,ParentGroupName,LedgerBalance,DrCr from @Details where ParentGroupId=1	
	)as z on x.RowID=z.SN



	DECLARE @Dr_Total DECIMAL(18,2), @Cr_Total DECIMAL(18,2)
	SELECT @Dr_Total = SUM(LedgerBalance) FROM @Details where OrderId=0 and ParentGroupId=1

	update x
	set Assets='Total Assets ',x.AAmount=@Dr_Total,x.ADrCr=case when isnull(@Dr_Total,0)>0 then 'Dr' when isnull(@Dr_Total,0)<0 then 'Cr' end
	from @GroupTrialBalance as x  where RowID=@MaxRow
	

	SELECT @Dr_Total = SUM(LedgerBalance) FROM @Details where OrderId=0 and ParentGroupId=2

	update x
	set LiabilityGroup='Total Liabilities ',x.LAmount=@Dr_Total,x.LDrCr=case when isnull(@Dr_Total,0)>0 then 'Dr' when isnull(@Dr_Total,0)<0 then 'Cr' end
	from @GroupTrialBalance as x  where RowID=@MaxRow

	SELECT RowID, LiabilitiesGroupId,Liabilities,LiabilityGroup,LAmount,LDrCr,'||' ='||', AssetGroupId,Assets,AssetGroup,AAmount,ADrCr FROM @GroupTrialBalance   
	
END
GO
