/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1567_Show]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1567_Show]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1567_Show]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1567_Show]
@parameter1 bit=0,/*Show Only Paid*/
@parameter2 bigint=0,/*Loan Id*/
@parameter3 DateTime=NULL,/*From Date*/
@parameter4 DateTime=NULL/*To Date*/
AS
DECLARE @Select nvarchar(max)=N'SELECT L.Id,EMIDate=L.LogDate,PaymentDate=L.RepDate,L.LoanId,OfficeId=V.OfficeId,Office=O.OfficeName,
EMIVehicleNoId=L.VehicleId,EMIVehicleNo=VM.VehicleNo,LoanAcId=P.CreditAcId,LoanAccount=PL.AccountName,
InterestAcId=V.Account3Id,InterestAccount=VL3.AccountName,TDSAccountId=V.Account4Id,TDSAccount=VL4.AccountName,
CreditId=V.Account1Id,CreditAccount=VL1.AccountName,InstallmentAmount=L.InstallmentAmount,Principal=L.PrincipalAmount,
Interest=L.InterestAmount,TDSRate=L.TDSRate,TDS=L.TDSAmount,NetEMI=L.RepAmount,InstallmentNo=L.LoanLogNo,LoanVoucherId=L.LoanVoucherId,
VDRId=L.VDRId,RepVoucherId=L.RepVoucherId
FROM [dbo].[tLoan] P JOIN [dbo].[tLoanLog] L ON P.Id=L.LoanId
LEFT JOIN [dbo].[tVouchers] V ON L.RepVoucherId=V.Id
LEFT JOIN [dbo].[mLedger] PL ON P.CreditAcId=PL.Id
LEFT JOIN [dbo].[mLedger] VL1 ON VL1.Id=V.Account1Id
LEFT JOIN [dbo].[mLedger] VL3 ON VL3.Id=V.Account3Id
LEFT JOIN [dbo].[mLedger] VL4 ON VL4.Id=V.Account4Id
LEFT JOIN [dbo].[mLedger] VL5 ON VL5.Id=V.Account5Id
LEFT JOIN [dbo].[mOfficeMaster] O ON O.Id=V.OfficeId
LEFT JOIN [dbo].[mVehicleMaster] VM ON VM.Id=L.VehicleId'
DECLARE @Where nvarchar(max)=' WHERE'
PRINT(LEN(@Where))
SET @Where=@Where+(CASE WHEN @parameter1=0 THEN (CASE WHEN LEN(@Where)>6 THEN ' AND' ELSE '' END)+' ISNULL(L.RepVoucherId,0)=0' ELSE (CASE WHEN LEN(@Where)>6 THEN ' AND' ELSE '' END)+' ISNULL(L.RepVoucherId,0)>0' END)
SET @Where=@Where+(CASE WHEN @parameter2>0 THEN (CASE WHEN LEN(@Where)>6 THEN ' AND' ELSE '' END)+' ISNULL(L.LoanId,0)=0' ELSE '' END)
SET @Where=@Where+(CASE WHEN @parameter3 IS NOT NULL THEN (CASE WHEN LEN(@Where)>6 THEN ' AND' ELSE '' END)+' L.LogDate>='''+CONVERT(nvarchar(10),@parameter3,23)+'''' ELSE '' END)
SET @Where=@Where+(CASE WHEN @parameter4 IS NOT NULL THEN (CASE WHEN LEN(@Where)>6 THEN ' AND' ELSE '' END)+' L.LogDate<='''+CONVERT(nvarchar(10),@parameter4,23)+'''' ELSE '' END)

DECLARE @Query nvarchar(max)=@Select+@Where+' ORDER BY L.LogDate'
print(@Query)
EXEC sp_sqlexec @Query
GO
