/****** Object:  StoredProcedure [dbo].[Proc_Report_1663]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1663]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1663]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1663]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate	
as
begin
	select  
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	dvr.DriverName,
	dvr.DriverCode,
	DriverRole=dr.ConstantName,
	vm.VehicleRegNo,
	VehicleType=ty.Name,
	OnDate=cast(t.StatusDate as date),
	OutDate=cast(t.OutDate as date),
    AsOfDate=cast(GETDATE() as date),
	AttendanceDays=case when (datediff(day,CalcStartDate,CalcEndDate)+(CASE WHEN Row_Num=1 THEN 1 ELSE 0 END))=0 and day(t.OutDate)=1  then 1 else 0 end+ datediff(day,CalcStartDate,CalcEndDate) +(CASE WHEN Row_Num=1 THEN 1 ELSE 0 END)- (case when cast(t.StatusDate as date)=PreviousDate and Month(PreviousDate)=Month(@parameter4) then 1 else 0 end),
	DriverReason=rr.[Name],
	t.Remark
	from 
	(
		select PreviousDate=(select Max(cast(tt.StatusDate as date)) from dbo.tDriverVehicleMapping as tt where tt.StatusDate<t.StatusDate and tt.VehicleId=t.VehicleId), t.*,OutDate=isnull(tt.StatusDate,@parameter5),CalcStartDate=case when t.StatusDate<=@parameter4 then @parameter4 else t.StatusDate end,CalcEndDate=case when isnull(tt.StatusDate,@parameter5)<=@parameter5 then isnull(tt.StatusDate,@parameter5) else @parameter5 end   
		from(
			select Row_Num=(ROW_NUMBER()OVER(PARTITION BY t.DriverId,cast(t.StatusDate as date) ORDER BY t.StatusDate)),* from dbo.tDriverVehicleMapping as t
		)as t
		left join dbo.tDriverVehicleMapping as tt on t.NextLogId=tt.Id
		where t.DriverStatusId=1225
	)as t
	join dbo.mDriverMaster as dvr on dvr.ID=t.DriverId
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=t.DriverId
	left join dbo.tDriverVehicleMapping as tt on tt.Id=t.PreviousLogId
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mGenericMaster as rr on rr.ID=t.DriverReasonId
	left join dbo.mConstantValue as dr on dr.Id=t.DriverRoleId
	left join dbo.mConstantValue as ds on ds.Id=t.DriverStatusId
	left join dbo.mGenericMaster as ty on ty.Id=vm.VehicleTypeId
	where datediff(day,CalcStartDate,CalcEndDate)+1>0
	order by t.StatusDate
end
GO
