/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5005_advinfo]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5005_advinfo]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5005_advinfo]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- select * from apiviews where Id>=5000
--	exec Proc_Mob_Report_5005_advinfo 0,0,0,0,'2018-05-22','2018-05-23',0,'sa'
CREATE proc [dbo].[Proc_Mob_Report_5005_advinfo]--110241
	@parameter1 bigint,--vehicleId
	@parameter2 bit,--Vehicle Type 0:Own,1:Hire
	@parameter3 bigint,--pump
	@parameter4 bigint,--driver
	@parameter5 date,--from
	@parameter6 date,--to
	@parameter7 tinyint,--to
    @parameter8 nvarchar(200)=''--UserName
   
as
	declare @userid bigint=ISNULL((select Id from ApiUsers where UserName=@parameter8),0)
	
	if((DATEDIFF(day,@parameter5,@parameter6)+1)>2)
	begin
		select 'Only two days data is allowed to view on mobile' as Particulars
		return;
	end
	select 
	[Particulars]=case when @parameter1>0 and @parameter4>0 then (case when vm.Id>0 then isnull(vm.VehicleRegNo,'')  + ' [O]' else isnull(hvm.VehicleNo,'') + ' [H]' end) 
	+' | '+ isnull(dvr.DriverName,'')
	when @parameter4>0 and isnull(@parameter1,0)=0 then (case when vm.Id>0 then isnull(vm.VehicleRegNo,'')  + ' [O]' else isnull(hvm.VehicleNo,'') + ' [H]' end) 
	when @parameter1>0 and isnull(@parameter4,0)=0 then isnull(dvr.DriverName,'')  else dr.FleetAcName +' | ' +(case when vm.Id>0 then isnull(vm.VehicleRegNo,'')  + ' [O]' else isnull(hvm.VehicleNo,'') + ' [H]' end) 
	+' | '+ isnull(dvr.DriverName,'') end,

	[RefDateTime]=format(t.AdvanceDate,'dd-MMM-yyyy'),
	[CreditAc]=cr.FleetAcName,
	[VehicleNo] = case when vm.Id>0 then vm.VehicleRegNo  + ' [O]' else hvm.VehicleNo + ' [H]' end,		
	[DriverName]=isnull(dvr.DriverName,'') +' ['+ isnull(dvr.DriverCode,'') +']',
	[FuelQty]=t.FuelQty,
	[CashAmount]=isnull(t.CashAmount,0)+isnull(t.FuelAmount,0),	
	[PaymentMode]=pdin.ConstantName
	from dbo.tTripAdvanceLog as t
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId	
	join (
			select [ApiObjectId],Permission=MAX(Permission) 
			FROM [dbo].[ApiRolePermissions] p join [dbo].[ApiUserRoles] r on p.[ApiRoleId]=r.RoleId 
			WHERE p.EntityTypeId=0 AND ((@userid>0 AND r.UserId=@userid)OR @userid=0) 
			GROUP BY p.[ApiObjectId]
        ) as p on p.ApiObjectId in(t.CreditAccountId,t.DebitAccountId) AND p.Permission=1
	
	left join dbo.mConstantValue as pdin on pdin.Id=t.PaidInId
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	Left join dbo.tVehicleMovementLog as tl on tl.Id=t.TriplogId
	left join dbo.mDriverMaster as dvr on dvr.Id=t.DriverId
	Left join dbo.mRouteMaster as rt on rt.Id=tl.RouteId
	left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
    
	where t.AdvanceDate between @parameter5 and @parameter6
	and (case when isnull(@parameter1,0)<=0 then 1 when isnull(@parameter2,0)=0 and t.VehicleId=@parameter1 then 1 
	when  isnull(@parameter2,0)=1 and t.HireVehicleId= isnull(@parameter1,0) then 1 else 0 end =1)
	and (case when isnull(@parameter3,0)<=0 then 1 when cr.Id=@parameter3 then 1 else 0 end =1)
	and (case when isnull(@parameter4,0)<=0 then 1 when dvr.Id=@parameter4 then 1 else 0 end =1)
	and (case when isnull(@parameter7,0)<=0 then 1 when isnull(@parameter7,0)=1 and isnull(t.SettlementId,0)=0 then 1 when isnull(@parameter7,0)=2 and t.SettlementId>0 then 1 else 0 end =1)
	and t.AdvanceTypeId Not IN(88)
	order by t.AdvanceDate desc
GO
