/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1629_ShowPODIndemnity]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1629_ShowPODIndemnity]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1629_ShowPODIndemnity]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRANS_1629_ShowPODIndemnity]
@parameter1 datetime, --DocDate
@parameter2 nvarchar(50)= null --DocNo NULLABLE

AS
BEGIN 
Declare @SQL nvarchar(max)= N'SELECT Id=0, CNDTS.Remark, CNL.DocNo, CNDTS.StartDate, DeliveryDate=CN.DeliveryDate, CN.CNDate, CNDTS.CNId, CNNo=ISNULL(CN.CNNo, CNDTS.CNId),CNDTS.CNDTSStatusId, 
Status=CNDTS.StatusId, [OfficeName1]= OFCM.OfficeName, OfficeId=CNDTS.OfficeId1, [OfficeName2]=OFM.OfficeName, 
Office2Id=CNDTS.OfficeId1, Location=CM.CityName, CNDTS.LocationId, [Route]=CNRM.Name,BillingParty=ISNULL(BP.BookingAcName,BP.AccountName),
Consignor=ISNULL(CO.BookingAcName,CO.AccountName),Consignee=ISNULL(CE.BookingAcName, CE.AccountName), TriplogNo=ISNULL(VL.TriplogNo,CL.TriplogId), CNDTS.IsAuto
from
[dbo].[tCNDTSStatusLog] CNDTS 
INNER JOIN [dbo].[mDTSStatus] D ON CNDTS.StatusId=D.Id
INNER JOIN [dbo].[tCNMaster] CN ON CNDTS.CNId=CN.Id
LEFT JOIN [dbo].[tCNDTSStatus] CNL ON CNDTS.CNDTSStatusId=CNL.Id
LEFT JOIN [dbo].[mLedger] BP ON CN.BillingPartyId=BP.Id
LEFT JOIN [dbo].[mLedger] CE ON CN.ConsigneeId=CE.Id
LEFT JOIN [dbo].[mLedger] CO ON CN.ConsignorId=CO.Id
LEFT JOIN [dbo].[mOfficeMaster] OFCM ON CNDTS.OfficeId1=OFCM.Id
LEFT JOIN [dbo].[mOfficeMaster] OFM ON CNDTS.OfficeId2=OFM.Id
LEFT JOIN [dbo].[mRouteMaster] CNRM ON CN.ACTRouteId=CNRM.Id
LEFT JOIN [dbo].[mCityMaster] CM ON CNDTS.LocationId=CM.Id
LEFT JOIN [dbo].[tCNStockLog] CL ON CNDTS.StockLogId=CL.Id
LEFT JOIN [dbo].[tVehicleMovementLog] VL ON CL.TriplogId=VL.Id where'
Declare  @where nvarchar(max)=' CNDTS.StartDate<='''+CONVERT(nvarchar(19),@parameter1,120)+''' AND D.DateId=1560'

		IF(@parameter2 is not null)
		BEGIN
		SET @where=@where +' AND CNL.DocNo='''+@parameter2+''''
		END
DECLARE @mainsql nvarchar(max)=@sql+@where
print @mainSQL
exec sp_sqlexec @mainsql
END
GO
