/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5016_trips]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5016_trips]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5016_trips]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Proc_Mob_Report_5016_trips]
	@parameter1 bigint,--VehicleId
	@parameter2 bit,--Vehicle Type 0:Own,1:Hire
	@parameter3 int,--Month
	@parameter4 int--Year
as
select 	
	/*Trip Details*/
	Id = t.Id,
    VehicleNo = case when t.TripTypeId = 1158 then vm.VehicleRegNo else  hvm.VehicleNo end,
    OfficeName = ofc.OfficeAbbr,
    TripLogNo = t.TriplogNo,
    RouteName = rt.Abbr,
    PartyName = p.AccountName,
    TripType = n.ConstantName,
	TripNature = tn.ConstantName,
	TripMode = tm.[Name],
    TripDate = format(t.TripStartDate,'dd-MMM-yyyy HH:mm:ss'),
    
	/*Timeline & Mileage*/
	LRD = format(t.LoadingReachDate,'dd-MMM-yyyy HH:mm:ss'),
    LD = format(t.LoadingDate,'dd-MMM-yyyy HH:mm:ss'),
    URD = format(t.UnloadingReachDate,'d-MMM-yyyy HH:mm:ss'),
    UD = format(t.UnLoadingDate,'dd-MMM-yyyy HH:mm:ss'),
    TAT = t.ExpTime,
	LoadingDetnInDays = case when t.UnLoadingDate is  null then DATEDIFF(day,t.LoadingReachDate,t.LoadingDate) else 0 end,
	TransitDelayInDay2Wheeler=case when t.UnLoadingDate is  null then DateDiff(day,dateadd(day,(t.TotalKmRun/400)+1,t.LoadingDate),t.UnloadingReachDate) else null end,

	ETA2Wheeler = case when t.UnLoadingDate is  null then dateadd(day,(t.TotalKmRun/400)+1,t.LoadingDate) else null end,
	RouteKm = isnull(t.TotalKmRun,0),
    ETA = FORMAT(t.ExpDeliveryDate,'dd-MMM-yyyy HH:mm:ss'),
    TravelledKmDayLog=case when t.UnLoadingDate is  null then (select 
	ISNULL((STUFF((SELECT ' ' + (cast(day(LogDate) as nvarchar(5)) +'-'+ cast(cast(GPSKm as bigint) as nvarchar(20))+'   ') FROM dbo.tGPSKmLog AS c where c.VehicleID=t.VehicleId and c.LogDate between cast(t.TripStartDate as Date) and cast(isnull(case when t.TripNatureId=1075 then t.UnloadingReachDate else t.UnloadingDate end,getdate()) as Date) order by c.LogDate	
	FOR XML PATH (''), TYPE, ROOT).value('root[1]', 'nvarchar(max)'), 1, 1, '')), '')) else '' end,
	/*Pod Section*/
	PendingPods = case when t.TripNatureId=1076 then 0 when t.TripNatureId=1075 and isnull(t.CNCount,0)>0 then t.CNCount else 1 end,
	ReceivedPods = case when t.TripNatureId=1076 then 0 else isnull(pod.NoofPods,0) end,
	PodDate = case when t.TripNatureId=1076 then null else pod.MaxPodDate end,
    PodStatus = case when t.TripNatureId=1076 then 'NA' when t.TripNatureId=1075 and isnull(pod.NoofPods,0)>0  then 'Received' else 'Pending' end,
    Remarks = t.Remarks,
	DriverI ='['+dvr.DriverCode+']'+dvr.DriverName,
	Mobile = dvra.ContactNumber,
	
	/*Advance Section*/
	tal.CashAdv,
	tal.CashPaidParticulars,
	tal.FuelAdv,
	tal.FuelQty,
	tal.FuelPaidParticulars,
	
	/*Booking Section*/
	cn.BookingAmount,
	Contribution=0,
	ContributionPDy=0,
	ContributionPKm=0
	from dbo.tVehicleMovementLog as t
	left join
	(
		select pod.TripLogId,NoofPods = count(pod.Id),Max(pod.PODDate) as MaxPodDate from dbo.mCNExtraInfo as pod group by TripLogId	
	)pod on pod.TripLogId = t.Id
	left join
	(
		select tal.TriplogId
		,CashAdv=SUM(ISNULL(tal.CashAmount,0))
		,CashPaidParticulars=ISNULL((STUFF((SELECT distinct ',' + '[' +cast(ISNULL(a.AccountName,'') as varchar(50))+' - '+cast((case when isnull(t.CashAmount,0)>0 then isnull(t.CashAmount,0) else isnull(t.RequestAmount,0) end) as varchar(50)) + ']'
		from dbo.mLedger as a join dbo.tTripAdvanceLog as t on a.Id=t.CreditAccountId where t.TriplogId=tal.TriplogId and t.AdvanceTypeId<>2
		for xml path(''), TYPE, ROOT).value('root[1]','nvarchar(max)'),1,1,'')),'')
		,FuelQty=SUM(ISNULL(tal.FuelQty,0))
		,FuelAdv=SUM(ISNULL(tal.FuelAmount,0)) 
		,FuelPaidParticulars=ISNULL((STUFF((SELECT distinct ',' + '[' +cast(ISNULL(a.AccountName,'') as varchar(50))+' - '+cast((case when isnull(t.FuelQty,0)>0 then isnull(t.FuelQty,0) else isnull(t.RequestQty,0) end) as varchar(50)) + ' Ltr]'+' - '+cast(isnull(t.FuelAmount,0) as varchar(50))  
			from dbo.mLedger as a join dbo.tTripAdvanceLog as t on a.Id=t.CreditAccountId where t.TriplogId=tal.TriplogId and t.AdvanceTypeId=2
			FOR XML PATH(''), TYPE, ROOT).value('root[1]','nvarchar(max)'),1,1,'')),'')
		from dbo.tTripAdvanceLog as tal group by tal.TriplogId
	)as tal on tal.TripLogId=t.Id
	left join
	(
		select cn.TriplogId,sum(isnull(cn.CNTotalFreight,0)) as BookingAmount 
		from dbo.tCNMaster as cn group by cn.TriplogId
	)as cn on cn.TriplogId=t.Id
		
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
	left join dbo.mLedger as p on p.Id=t.PartyId
	left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
	left join dbo.mConstantValue as n on n.Id=t.TripTypeId
	left join dbo.mConstantValue as tn on tn.Id=t.TripNatureId
	left join dbo.mGenericMaster as tm on tm.Id=t.TripModeId
	left join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	left join dbo.mDriverMaster as dvr on t.Driver1stId=dvr.Id
	left join dbo.mPostalAddress as dvra on dvra.ID=dvr.CurrentAddressId
	where t.Id=117661 and (case when @parameter2=0 and t.VehicleId=@parameter1 then 1 WHEN @parameter2=0 and t.HireVehicleId=@parameter1 THEN 1 ELSE 0 END)=1
	and @parameter3=month(case when t.TripNatureId=1076 then t.TripStartDate else t.LoadingReachDate end)
	and @parameter4=year(case when t.TripNatureId=1076 then t.TripStartDate else t.LoadingReachDate end)
	order By t.TripStartDate desc
GO
