/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_CreateVTS]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1624_CreateVTS]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_CreateVTS]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec [Proc_TRANS_1624_CreateVTS] 60599,''

--select * from dbo.tVehicleMovementLog where triplogno='TL/GGN/00123'
--select * from [tVTSStatusLog] where TriplogId=60599

CREATE PROCEDURE [dbo].[Proc_TRANS_1624_CreateVTS] 
	@parameter1 bigint,--@TripLogId
	@parameter2 varchar(max)--GPSLocation
AS
BEGIN

-- =============================================
-- CreatedBy:		Mukesh Rebari
-- Create date: 28-02-2017
-- ModifiedBy:		sanjay kushwaha
-- Modified date: 2017-06-21
-- Description:	Create VTS Status
-- =============================================

	IF((select top 1 [Value] from [dbo].[ApiConfigurations] where id='IsVTSEnabled') in(0,2))
	BEGIN
		RETURN
	END
	
	declare @TemplateId int
	set @TemplateId=(select top 1 Value from [dbo].[ApiConfigurations] where id='VTSTemplateId')
	
	if(@TemplateId<=0)
	begin
		RAISERROR('VTS Template need to be configured',11,0)
		RETURN;
	end

	SET NOCOUNT ON;
	DECLARE @CurrentlogId bigint,@CurrentStatusDate datetime,@CurrentDTSStatusId bigint,@SessionId bigint,@SessionDate datetime

	DECLARE @VehicleId bigint,@Id bigint,@TripTypeId bigint,@TripNatureId bigint,@TripStartDate datetime,@LoadReachDate datetime,@LoadingDate datetime,@UnloadReachDate datetime,@UnloadDate datetime,@DTSStatusId bigint,@NextDTSStatusId bigint,@NextVTSLogId Bigint,@PreviousVTSLogId Bigint,@IsInternal bit
	
	select top 1  @SessionId=(case when t.MSID>0 then t.MSID else t.CSID end),@SessionDate=(case when t.MSID>0 then t.MDOE else t.CDOE end),@TripTypeId=TripTypeId,@TripNatureId=TripNatureId,@VehicleId=case when TripTypeId=1160 then HireVehicleId else VehicleId end,@TripStartDate=TripStartDate,@LoadReachDate=LoadingReachDate,@LoadingDate=LoadingDate,@UnloadReachDate=UnloadingReachDate,@UnloadDate=UnLoadingDate from [dbo].[tVehicleMovementLog] as t where id=@parameter1
	
	if(@TripTypeId=1160)
	begin
		if((select top 1 [Value] from [dbo].[ApiConfigurations] where id='IsHSVTSActivated')=1)--0:Off, 1:On
		begin
			if(@TripNatureId=1076)-- Empty Trip for Hired Vehicle(s) is not allowed
			begin
				RAISERROR('Empty Trip for Hired Vehicle(s) is not allowed',11,0)
				RETURN;
			end
		end
		else
		begin
			return;--VTS is off for hire vehicle
		end
	end
	if(@TripTypeId=1159)
	begin
		if((select top 1 [Value] from [dbo].[ApiConfigurations] where id='TripLogJobcardChainingStatus')=1)
		begin
			return;--VTS not allowed for jobcard
		end

		if(@TripNatureId in(1075,1520))--Ignore Jobsheet with nature Loaded and ORM
		begin
			RETURN;
		end
	end
	

	select @CurrentlogId=null,@CurrentStatusDate=null,@CurrentDTSStatusId=null
	select top 1 @CurrentlogId=s.Id,@CurrentStatusDate=s.StartDate,@CurrentDTSStatusId=m.DateId from [dbo].[tVTSStatusLog] s left join [dbo].[mDTSStatus] m ON s.DTSStatusId=m.Id where StartDate<=@TripStartDate and TemplateId=@TemplateId and (case when @TripTypeId=1160 then s.HireVehicleId else s.VehicleId end)=@VehicleId AND TriplogId<>@parameter1 order by StartDate desc,s.Id desc--Get Current VTS Log
	IF(1159=@TripTypeId)--If it's Jobsheet
	BEGIN
		SET @LoadingDate=@TripStartDate
		SET @LoadReachDate=@TripStartDate
	END

	if(@TripNatureId =1075)
	begin
		IF(@UnloadDate IS NOT NULL AND (@TripStartDate IS NULL OR @LoadReachDate IS NULL OR @LoadingDate IS NULL OR @UnloadReachDate IS NULL))
		BEGIN
			RAISERROR('Either TripStartDate or LoadingDate or LoadingReachDate or Unloading Reach Date is not present',11,0)
			RETURN 
		END
		ELSE IF(@UnloadReachDate IS NOT NULL AND (@TripStartDate IS NULL OR @LoadReachDate IS NULL OR @LoadingDate IS NULL))
		BEGIN
			RAISERROR('Either TripStartDate or LoadingDate or LoadingReachDate is not present',11,0)
			RETURN 
		END
		ELSE IF(@LoadingDate IS NOT NULL AND (@TripStartDate IS NULL OR @LoadReachDate IS NULL))
		BEGIN
			RAISERROR('Either TripStartDate or LoadingReachDate is not present',11,0)
			RETURN 
		END
		ELSE IF((@LoadReachDate IS NOT NULL AND @TripStartDate IS NULL) OR @TripStartDate IS NULL)
		BEGIN
			RAISERROR('Trip Start Date is not present',11,0)
			RETURN 
		END
	end
	ELSE IF (@TripNatureId =1076)
	BEGIN
		IF(@UnloadDate IS NOT NULL AND @TripStartDate is null)
		BEGIN
			RAISERROR('Trip Start Date is not present',11,0)
			RETURN 
		END
	END
	IF(@TripStartDate IS NOT NULL)--Trip Start Date 1523--SFL
	BEGIN
		DECLARE @1523DateId bigint
		SET @1523DateId=CASE WHEN @TripTypeId in(1158,1453,1160) AND @TripNatureId=1075 /*WHEN TRIP Is Loaded*/ THEN 1523 WHEN @TripTypeId in(1158,1453) AND @TripNatureId=1076 /*WHEN TRIP Is Empty*/ THEN 1528 WHEN @TripTypeId=1159 AND @TripNatureId=1076 /*WHEN JobSheet Is Empty*/ THEN 1530 END
		IF(ISNULL(@1523DateId,0)<=0)
		BEGIN
			RAISERROR('Error In Creating VTS Status as SFL DateId is Missing',11,0)
			RETURN;
		END

		SELECT @DTSStatusId=null,@NextDTSStatusId=null,@IsInternal=0
		SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId,@IsInternal=IsInternalUse FROM [dbo].[mDTSStatus] WHERE DateId=@1523DateId and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId

		IF(EXISTS(SELECT Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId))--Check if VTS status for this date exists
		BEGIN
			select @NextVTSLogId=null,@PreviousVTSLogId=null
			select @NextVTSLogId=c.NextLogId,@PreviousVTSLogId=c.PreviousLogId FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Get Next and Privious VTS LogId for CurrentVTS Status
			UPDATE c SET c.StartDate=@TripStartDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update New Date for VTS Status
			
			DECLARE @Next1523EndDate datetime
			IF(@NextDTSStatusId IS NOT NULL)--Check if VTS status has next Status to be auto generated
			BEGIN
				UPDATE n SET n.StartDate=@TripStartDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.Id=@NextVTSLogId --Update Start Date of AutoGenerated Next VTS Status Log
				UPDATE c SET c.EndDate=@TripStartDate,ConsumedMinutes=0,MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update End Date of this VTS Status Log as It's Next Status has been auto Generated
				
				SELECT @Next1523EndDate=null,@CurrentlogId=null,@CurrentStatusDate=null
				SELECT @Next1523EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.Id=@NextVTSLogId -- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END
			ELSE 
			BEGIN
				SELECT @Next1523EndDate=null,@CurrentlogId=null,@CurrentStatusDate=null
				SELECT @Next1523EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@DTSStatusId-- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END
			
			/*If TripStart date exceeded End Date of it's Next status through Exception and terminate execution*/
			IF(@Next1523EndDate IS NOT NULL AND @TripStartDate>@Next1523EndDate)
			BEGIN
				RAISERROR('Send for Loading Date cannot exceed Next VTS Status End Date',11,0)
				return;
			END
			/*Check if this date does not overlap with Privious VTS Start Date*/
			IF(ISNULL(@PreviousVTSLogId,0)>0)
			BEGIN
				IF(@TripStartDate<(Select n.StartDate  FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId))
				BEGIN
					RAISERROR('Send for Loading Date is overlapping with previous VTS Status Date',11,0)
					return;
				END
				UPDATE n SET n.EndDate=@TripStartDate,ConsumedMinutes=DATEDIFF(MINUTE,n.StartDate,@TripStartDate),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId
			END
			
		END
		ELSE
		BEGIN 
		IF(EXISTS(SELECt Id FROM [dbo].[tVTSStatusLog] WHERE (case when @TripTypeId=1160 then HireVehicleId else VehicleId end)=@VehicleId AND StartDate>=@TripStartDate) AND @UnloadDate IS NULL)
		BEGIN
			RAISERROR('Open Trip cannot be inserted in middle of other trips',11,0)
			RETURN;
		END
		SELECT @CurrentlogId=null,@CurrentStatusDate=null,@CurrentDTSStatusId=null
		SELECT TOP 1 @CurrentlogId=L.Id,@CurrentStatusDate=L.StartDate,@CurrentDTSStatusId=L.DTSStatusId FROM [dbo].[tVTSStatusLog] L WHERE L.NextLogId IS NULL AND (case when @TripTypeId=1160 then L.HireVehicleId else L.VehicleId end)=@VehicleId AND StartDate<=@TripStartDate ORDER BY StartDate DESC,Id DESC
		/*If VTS Status Does not exists for this date create new one*/
		insert into [dbo].[tVTSStatusLog]([VehicleId],HireVehicleId,[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
		,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
		,[LocationId],[DelayMinutes],[ConsumedMinutes],[GPSLocation],[EndDate],[IsAuto])

		select 
			[VehicleId]=t.VehicleId
			,[HireVehicleId]=t.HireVehicleId
			,[DriverId]=t.Driver1stId
			,[DTSStatusId]=@DTSStatusId
			,[TriplogId]=t.Id
			,[GPSVendorId]=case when @TripTypeId=1160 then null else vm.GPSVendorId end --later we implement it 
			,[PreviousLogId]=@CurrentlogId
			,[StatusId]=0
			,[CSID]=t.CSID
			,[CDOE]=t.CDOE
			,[StartDate]=@TripStartDate
			,[LocationId]=rt.FromPlaceId
			,[DelayMinutes]=0
			,[ConsumedMinutes]=0
			,[GPSLocation]=@parameter2
			,[EndDate]=NULL
			,IsAuto=isnull(@IsInternal,0)
		from dbo.tVehicleMovementLog as t 
		left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
		left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
		left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
		where t.Id=@parameter1

		set @Id=SCOPE_IDENTITY()
		update t set NextLogId=@Id,EndDate=@TripStartDate,ConsumedMinutes=DATEDIFF(MINUTE,StartDate,@TripStartDate),MSID=@SessionId,MDOE=@SessionDate FROM dbo.tVTSStatusLog t where Id=@CurrentlogId and (case when @TripTypeId=1160 then t.HireVehicleId else t.VehicleId end)=@VehicleId and Id<>@Id
		SET @CurrentlogId=@Id;
		SET @CurrentStatusDate=@TripStartDate;
		IF(@NextDTSStatusId>0)--If Next Status has to be auto Triggred
			BEGIN
		
				INSERT INTO tVTSStatusLog(VehicleId,HireVehicleId,DriverId,DTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId,StatusId,CSID,CDOE,StartDate,LocationId,DelayMinutes,ConsumedMinutes,GPSLocation,IsAuto)
				SELECT TOP 1 VehicleId,HireVehicleId,DriverId,DTSStatusId=@NextDTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId=Id,StatusId,CSID,CDOE,StartDate=@TripStartDate,LocationId,DelayMinutes=0,ConsumedMinutes=0,GPSLocation,IsAuto
				FROM [dbo].[tVTSStatusLog] WHERE Id=@Id
				DECLARE @nextIdentity1523 bigint=SCOPE_IDENTITY()				
				UPDATE [dbo].[tVTSStatusLog] SET EndDate=StartDate,ConsumedMinutes=0,NextLogId=@nextIdentity1523,MSID=@SessionId,MDOE=@SessionDate WHERE Id=@CurrentlogId
				SET @CurrentlogId=@nextIdentity1523;
				DECLARE @nextstatus1523 bigint,@nextstatusdateid1523 bigint,@nexttonextstatusdateId1523 bigint
				
				SELECt @nextstatus1523=null,@nextstatusdateid1523=null,@nexttonextstatusdateId1523=null
				SELECt @nextstatus1523=ISNULL(m1.NextStatusId,0),@nextstatusdateid1523=ISNULL(m1.DateId,0),@nexttonextstatusdateId1523=ISNULL(m2.DateId,0) FROM mDTSStatus m1 left join mDTSStatus m2 ON m1.NextStatusId=m2.Id WHERE m1.Id=@NextDTSStatusId and m1.TemplateId=@TemplateId and m2.TemplateId=@TemplateId
				
				EXEC @nextIdentity1523=[dbo].[Proc_TRANS_1624_ApplyTLDateLogic] @nextIdentity1523,@parameter1,@nextstatusdateid1523,@nextstatus1523,@nexttonextstatusdateId1523,1--Rerun the Same procedure if NextStatus has Next Status
				IF(ISNULL(@nextIdentity1523,0)>0) SET @CurrentlogId=@nextIdentity1523
			END		
		END
	END
	ELSE 
	BEGIN
		DECLARE @1523DateIdelse bigint
		SET @1523DateIdelse=CASE WHEN @TripTypeId in(1158,1453,1160) AND @TripNatureId=1075 /*WHEN TRIP Is Loaded*/ THEN 1523 WHEN @TripTypeId in(1158,1453) AND @TripNatureId=1076 /*WHEN TRIP Is Empty*/ THEN 1528 WHEN @TripTypeId=1159 AND @TripNatureId=1076 /*WHEN JobSheet Is Empty*/ THEN 1530 END
		
		SELECT @DTSStatusId=null,@NextDTSStatusId=null 
		SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId FROM [dbo].[mDTSStatus] WHERE DateId=@1523DateIdelse and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId
		
		DECLARE @CurrentStatusId1523else bigint
		
		set @CurrentStatusId1523else=null
		SELECT @CurrentStatusId1523else=Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId
		IF(@CurrentStatusId1523else>0)
		BEGIN
			 UPDATE tVTSStatusLog SET NextLogId=NULL,PreviousLogId=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1523else
			 UPDATE tVTSStatusLog SET NextLogId=NULL,ConsumedMinutes=0,EndDate=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE NextLogId=@CurrentStatusId1523else
			 DELETE tVTSStatusLog WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1523else
		END
	END
	
	SELECT @DTSStatusId=null,@NextDTSStatusId=null,@IsInternal=0
	SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId,@IsInternal=IsInternalUse FROM [dbo].[mDTSStatus] WHERE DateId=1524 and TemplateId=@TemplateId
	
	IF(@LoadReachDate IS NOT NULL AND @TripTypeId in(1453,1158,1160) AND @TripNatureId =1075 AND @DTSStatusId>0)--Loading Reach Date 1524
	BEGIN

		SELECT @DTSStatusId=null,@NextDTSStatusId=null,@IsInternal=0
		SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId,@IsInternal=IsInternalUse FROM [dbo].[mDTSStatus] WHERE DateId=1524 and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId
		IF(EXISTS(SELECT Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId))--Check if VTS status for this date exists
		BEGIN
			select @NextVTSLogId=null,@PreviousVTSLogId=null
			select @NextVTSLogId=c.NextLogId,@PreviousVTSLogId=c.PreviousLogId FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Get Next and Privious VTS LogId for CurrentVTS Status
			UPDATE c SET c.StartDate=@LoadReachDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update New Date for VTS Status
			
			DECLARE @Next1524EndDate datetime
			IF(@NextDTSStatusId IS NOT NULL)--Check if VTS status has next Status to be auto generated
			BEGIN
				UPDATE n SET n.StartDate=@LoadReachDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@NextDTSStatusId--Update Start Date of AutoGenerated Next VTS Status Log
				UPDATE c SET c.EndDate=@LoadReachDate,MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update End Date of this VTS Status Log as It's Next Status has been auto Generated
				
				SELECT @Next1524EndDate=null,@CurrentlogId=null,@CurrentStatusDate=null
				SELECT @Next1524EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@NextDTSStatusId-- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END
			ELSE 
			BEGIN
				SELECT @Next1524EndDate=null,@CurrentlogId=null,@CurrentStatusDate=null
				SELECT @Next1524EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@DTSStatusId-- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END

			IF(ISNULL(@PreviousVTSLogId,0)>0)
			BEGIN
				IF(@LoadReachDate<(Select n.StartDate  FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId))
				BEGIN
					RAISERROR('Loading Reach Date is overlapping with previous VTS Status Date',11,0)
					return;
				END
				UPDATE n SET n.EndDate=@LoadReachDate,ConsumedMinutes=DATEDIFF(MINUTE,n.StartDate,@LoadReachDate),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId
			END
		END
		ELSE
		BEGIN 
			SELECT @CurrentlogId=null,@CurrentStatusDate=null,@CurrentDTSStatusId=null
			SELECT TOP 1 @CurrentlogId=L.Id,@CurrentStatusDate=L.StartDate,@CurrentDTSStatusId=L.DTSStatusId FROM [dbo].[tVTSStatusLog] L WHERE L.NextLogId IS NULL AND (case when @TripTypeId=1160 then L.HireVehicleId else L.VehicleId end)=@VehicleId AND StartDate<=@LoadReachDate  ORDER BY StartDate DESC,Id DESC
			
			
			insert into [dbo].[tVTSStatusLog]([VehicleId],HireVehicleId,[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes],[GPSLocation],[EndDate],[IsAuto])
			select 
				[VehicleId]=t.VehicleId
				,[HireVehicleId]=t.HireVehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@DTSStatusId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@CurrentlogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=@LoadReachDate
				,[LocationId]=rt.FromPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
				,[GPSLocation]=@parameter2
				,[EndDate]=NULL
				,IsAuto=isnull(@IsInternal,0)
			from dbo.tVehicleMovementLog as t 
			left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1

			set @Id=SCOPE_IDENTITY()
			update t set NextLogId=@Id,EndDate=@LoadReachDate,ConsumedMinutes=DATEDIFF(MINUTE,StartDate,@LoadReachDate),MSID=@SessionId,MDOE=@SessionDate FROM dbo.tVTSStatusLog t where Id=@CurrentlogId and (case when @TripTypeId=1160 then t.HireVehicleId else t.VehicleId end)=@VehicleId and Id<>@Id
			SET @CurrentlogId=@Id;
			SET @CurrentStatusDate=@LoadReachDate;

			IF(@NextDTSStatusId>0)	--If Next Status has to be auto Triggred
				BEGIN
					INSERT INTO tVTSStatusLog(VehicleId,HireVehicleId,DriverId,DTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId,StatusId,CSID,CDOE,StartDate,LocationId,DelayMinutes,ConsumedMinutes,GPSLocation,IsAuto)
					SELECT TOP 1 VehicleId,HireVehicleId,DriverId,DTSStatusId=@NextDTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId=Id,StatusId,CSID,CDOE,StartDate=@LoadReachDate,LocationId,DelayMinutes=0,ConsumedMinutes=0,GPSLocation,IsAuto
					FROM [dbo].[tVTSStatusLog] WHERE Id=@Id
					
					DECLARE @nextIdentity1524 bigint=SCOPE_IDENTITY()				
					UPDATE [dbo].[tVTSStatusLog] SET EndDate=@LoadReachDate,ConsumedMinutes=0,NextLogId=@nextIdentity1524,MSID=@SessionId,MDOE=@SessionDate WHERE Id=@CurrentlogId
					SET @CurrentlogId=@nextIdentity1524;
					DECLARE @nextstatus1524 bigint,@nextstatusdateid1524 bigint,@nexttonextstatusdateId1524 bigint
					
					SELECt @nextstatus1524=null,@nextstatusdateid1524=null,@nexttonextstatusdateId1524=null
					SELECt @nextstatus1524=ISNULL(m1.NextStatusId,0),@nextstatusdateid1524=ISNULL(m1.DateId,0),@nexttonextstatusdateId1524=ISNULL(m2.DateId,0) FROM mDTSStatus m1 left join mDTSStatus m2 ON m1.NextStatusId=m2.Id WHERE m1.Id=@NextDTSStatusId  and m1.TemplateId=@TemplateId  and m2.TemplateId=@TemplateId
					
					EXEC @nextIdentity1524=[dbo].[Proc_TRANS_1624_ApplyTLDateLogic] @nextIdentity1524,@parameter1,@nextstatusdateid1524,@nextstatus1524,@nexttonextstatusdateId1524,1--Rerun the Same procedure if NextStatus has Next Status
					IF(ISNULL(@nextIdentity1524,0)>0) SET @CurrentlogId=@nextIdentity1524
				END		
			END
		END
	ELSE 
	BEGIN
		SELECT @DTSStatusId=null,@NextDTSStatusId=null
		SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId FROM [dbo].[mDTSStatus] WHERE DateId=1524 and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId
		DECLARE @CurrentStatusId1524else bigint
		set @CurrentStatusId1524else=null
		SELECT @CurrentStatusId1524else=Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId
		IF(@CurrentStatusId1524else>0)
		BEGIN
			UPDATE tVTSStatusLog SET NextLogId=NULL,PreviousLogId=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1524else
			UPDATE tVTSStatusLog SET NextLogId=NULL,ConsumedMinutes=0,EndDate=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE NextLogId=@CurrentStatusId1524else
			DELETE tVTSStatusLog WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1524else
		END
	END

	IF(@LoadingDate IS NOT NULL AND @TripTypeId in(1453,1158,1160) AND @TripNatureId =1075)--Loading Date 1525
	BEGIN
		SELECT @DTSStatusId=null,@NextDTSStatusId=null,@IsInternal=0
		SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId,@IsInternal=IsInternalUse FROM [dbo].[mDTSStatus] WHERE DateId=1525 and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId
		IF(EXISTS(SELECT Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId))--Check if VTS status for this date exists
		BEGIN
			select @NextVTSLogId=null,@PreviousVTSLogId=null
			select @NextVTSLogId=c.NextLogId,@PreviousVTSLogId=c.PreviousLogId FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Get Next and Privious VTS LogId for CurrentVTS Status
			UPDATE c SET c.StartDate=@LoadingDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update New Date for VTS Status
			
			DECLARE @Next1525EndDate datetime
			IF(@NextDTSStatusId IS NOT NULL)--Check if VTS status has next Status to be auto generated
			BEGIN
				UPDATE n SET n.StartDate=@LoadingDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@NextDTSStatusId--Update Start Date of AutoGenerated Next VTS Status Log
				UPDATE c SET c.EndDate=@LoadingDate,MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update End Date of this VTS Status Log as It's Next Status has been auto Generated
				
				SELECT @Next1525EndDate=null, @CurrentlogId=null, @CurrentStatusDate=null
				SELECT @Next1525EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@NextDTSStatusId-- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END
			ELSE 
			BEGIN
				SELECT @Next1525EndDate=null, @CurrentlogId=null, @CurrentStatusDate=null
				SELECT @Next1525EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@DTSStatusId-- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END

			IF(ISNULL(@PreviousVTSLogId,0)>0)
			BEGIN
				IF(@LoadingDate<(Select n.StartDate  FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId))
				BEGIN
					RAISERROR('Loading Date is overlapping with previous VTS Status Date',11,0)
					return;
				END
				UPDATE n SET n.EndDate=@LoadingDate,ConsumedMinutes=DATEDIFF(MINUTE,n.StartDate,@LoadingDate),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId
			END
		END
		ELSE
		BEGIN 
			SELECT @CurrentlogId=null,@CurrentStatusDate=null,@CurrentDTSStatusId=null
			SELECT TOP 1 @CurrentlogId=L.Id,@CurrentStatusDate=L.StartDate,@CurrentDTSStatusId=L.DTSStatusId FROM [dbo].[tVTSStatusLog] L WHERE L.NextLogId IS NULL AND (case when @TripTypeId=1160 then L.HireVehicleId else L.VehicleId end)=@VehicleId  AND StartDate<=@LoadingDate ORDER BY StartDate DESC,Id DESC
			
			insert into [dbo].[tVTSStatusLog]([VehicleId],HireVehicleId,[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes],[GPSLocation],[EndDate],[IsAuto])

			select 
				[VehicleId]=t.VehicleId,t.HireVehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@DTSStatusId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@CurrentlogId
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=@LoadingDate
				,[LocationId]=rt.FromPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
				,[GPSLocation]=@parameter2
				,[EndDate]=NULL
				,IsAuto=isnull(@IsInternal,0)
			from dbo.tVehicleMovementLog as t 
			left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1

			set @Id=SCOPE_IDENTITY()
			update t set NextLogId=@Id,EndDate=@LoadingDate,ConsumedMinutes=DATEDIFF(MINUTE,StartDate,@LoadingDate),MSID=@SessionId,MDOE=@SessionDate FROM dbo.tVTSStatusLog t where Id=@CurrentlogId and (case when @TripTypeId=1160 then t.HireVehicleId else t.VehicleId end)=@VehicleId and Id<>@Id
			SET @CurrentlogId=@Id;
			SET @CurrentStatusDate=@LoadingDate;
			IF(@NextDTSStatusId>0)--If Next Status has to be auto Triggred
				BEGIN
		
					INSERT INTO tVTSStatusLog(VehicleId,HireVehicleId,DriverId,DTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId,StatusId,CSID,CDOE,StartDate,LocationId,DelayMinutes,ConsumedMinutes,GPSLocation,[IsAuto])
					SELECT TOP 1 VehicleId,HireVehicleId,DriverId,DTSStatusId=@NextDTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId=Id,StatusId,CSID,CDOE,StartDate=@LoadingDate,LocationId,DelayMinutes=0,ConsumedMinutes=0,GPSLocation,IsAuto
					FROM [dbo].[tVTSStatusLog] WHERE Id=@Id
					DECLARE @nextIdentity1525 bigint=SCOPE_IDENTITY()
				
					UPDATE [dbo].[tVTSStatusLog] SET EndDate=@LoadingDate,ConsumedMinutes=0,NextLogId=@nextIdentity1525,MSID=@SessionId,MDOE=@SessionDate WHERE Id=@CurrentlogId
					SET @CurrentlogId=@nextIdentity1525;
					DECLARE @nextstatus1525 bigint,@nextstatusdateid1525 bigint,@nexttonextstatusdateId1525 bigint

					SELECT @nextstatus1525=null, @nextstatusdateid1525=null,@nexttonextstatusdateId1525=null
					SELECT @nextstatus1525=ISNULL(m1.NextStatusId,0),@nextstatusdateid1525=ISNULL(m1.DateId,0),@nexttonextstatusdateId1525=ISNULL(m2.DateId,0) FROM mDTSStatus m1 left join mDTSStatus m2 ON m1.NextStatusId=m2.Id WHERE m1.Id=@NextDTSStatusId and m1.TemplateId=@TemplateId and m2.TemplateId=@TemplateId
					EXEC @nextIdentity1525=[dbo].[Proc_TRANS_1624_ApplyTLDateLogic] @nextIdentity1525,@parameter1,@nextstatusdateid1525,@nextstatus1525,@nexttonextstatusdateId1525,1--Rerun the Same procedure if NextStatus has Next Status
					IF(ISNULL(@nextIdentity1525,0)>0) SET @CurrentlogId=@nextIdentity1525
				END		
			END
		END
		ELSE 
		BEGIN
			SELECT @DTSStatusId=null,@NextDTSStatusId=null
			SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId FROM [dbo].[mDTSStatus] WHERE DateId=1525 and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId
			
			DECLARE @CurrentStatusId1525else bigint
			set @CurrentStatusId1525else=null
			SELECT @CurrentStatusId1525else=Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId
			IF(@CurrentStatusId1525else>0)
			BEGIN
			 UPDATE tVTSStatusLog SET NextLogId=NULL,PreviousLogId=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1525else
			 UPDATE tVTSStatusLog SET NextLogId=NULL,ConsumedMinutes=0,EndDate=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE NextLogId=@CurrentStatusId1525else
			 DELETE tVTSStatusLog WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1525else
			END
		END


	IF(@UnloadReachDate IS NOT NULL AND @TripTypeId in(1453,1158,1160) AND @TripNatureId =1075)--UnLoading Reach Date 1526
	BEGIN
		SELECT @DTSStatusId=null,@NextDTSStatusId=null,@IsInternal=0
		SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId,@IsInternal=IsInternalUse FROM [dbo].[mDTSStatus] WHERE DateId=1526 and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId
		IF(EXISTS(SELECT Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId))--Check if VTS status for this date exists
		BEGIN
			select @NextVTSLogId=null,@PreviousVTSLogId=null 
			select @NextVTSLogId=c.NextLogId,@PreviousVTSLogId=c.PreviousLogId FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Get Next and Privious VTS LogId for CurrentVTS Status
			UPDATE c SET c.StartDate=@UnloadReachDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update New Date for VTS Status
			
			DECLARE @Next1526EndDate datetime
			IF(@NextDTSStatusId IS NOT NULL)--Check if VTS status has next Status to be auto generated
			BEGIN
				UPDATE n SET n.StartDate=@UnloadReachDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@NextDTSStatusId--Update Start Date of AutoGenerated Next VTS Status Log
				UPDATE c SET c.EndDate=@UnloadReachDate,MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update End Date of this VTS Status Log as It's Next Status has been auto Generated
				
				SELECT @Next1526EndDate=null,@CurrentlogId=null,@CurrentStatusDate=null
				SELECT @Next1526EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@NextDTSStatusId-- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END
			ELSE 
			BEGIN
				SELECT @Next1526EndDate=null,@CurrentlogId=null,@CurrentStatusDate=null
				SELECT @Next1526EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@DTSStatusId-- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END
			
			/*Check if this date does not overlap with Privious VTS Start Date*/
			IF(ISNULL(@PreviousVTSLogId,0)>0)
			BEGIN
				IF(@UnloadReachDate<(Select n.StartDate  FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId))
				BEGIN
					RAISERROR('UnLoading Reach Date is overlapping with previous VTS Status Date',11,0)
					return;
				END
				UPDATE n SET n.EndDate=@UnloadReachDate,ConsumedMinutes=DATEDIFF(MINUTE,n.StartDate,@UnloadReachDate),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId
			END
		END
		ELSE
		BEGIN 
			SELECT TOP 1 @CurrentlogId=null,@CurrentStatusDate=null,@CurrentDTSStatusId=null
			SELECT TOP 1 @CurrentlogId=L.Id,@CurrentStatusDate=L.StartDate,@CurrentDTSStatusId=L.DTSStatusId FROM [dbo].[tVTSStatusLog] L WHERE L.NextLogId IS NULL AND (case when @TripTypeId=1160 then L.HireVehicleId else L.VehicleId end)=@VehicleId AND StartDate<=@UnloadReachDate ORDER BY StartDate DESC,Id DESC
			/*If VTS Status Does not exists for this date create new one*/
			insert into [dbo].[tVTSStatusLog]([VehicleId],HireVehicleId,[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes],[GPSLocation],[EndDate],[IsAuto])

			select 
			[VehicleId]=t.VehicleId,t.HireVehicleId
			,[DriverId]=t.Driver1stId
			,[DTSStatusId]=@DTSStatusId
			,[TriplogId]=t.Id
			,[GPSVendorId]=vm.GPSVendorId
			,[PreviousLogId]=@CurrentlogId
			,[StatusId]=0
			,[CSID]=t.CSID
			,[CDOE]=t.CDOE
			,[StartDate]=@UnloadReachDate
			,[LocationId]=rt.ToPlaceId
			,[DelayMinutes]=0
			,[ConsumedMinutes]=0
			,[GPSLocation]=@parameter2
			,[EndDate]=NULL
			,IsAuto=isnull(@IsInternal,0)
		from dbo.tVehicleMovementLog as t 
		left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
		left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
		where t.Id=@parameter1

		set @Id=SCOPE_IDENTITY()
		update t set NextLogId=@Id,EndDate=@UnloadReachDate,ConsumedMinutes=DATEDIFF(MINUTE,StartDate,@UnloadReachDate),MSID=@SessionId,MDOE=@SessionDate FROM dbo.tVTSStatusLog t where Id=@CurrentlogId and (case when @TripTypeId=1160 then t.HireVehicleId else t.VehicleId end)=@VehicleId and Id<>@Id
		SET @CurrentlogId=@Id;
		SET @CurrentStatusDate=@UnloadReachDate;
		IF(@NextDTSStatusId>0)--If Next Status has to be auto Triggred
			BEGIN
		
				INSERT INTO tVTSStatusLog(VehicleId,HireVehicleId,DriverId,DTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId,StatusId,CSID,CDOE,StartDate,LocationId,DelayMinutes,ConsumedMinutes,GPSLocation,IsAuto)
				SELECT TOP 1 VehicleId,HireVehicleId,DriverId,DTSStatusId=@NextDTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId=Id,StatusId,CSID,CDOE,StartDate=@UnloadReachDate,LocationId,DelayMinutes=0,ConsumedMinutes=0,GPSLocation,IsAuto
				FROM [dbo].[tVTSStatusLog] WHERE Id=@Id
				DECLARE @nextIdentity1526 bigint=SCOPE_IDENTITY()
				
				UPDATE [dbo].[tVTSStatusLog] SET EndDate=@UnloadReachDate,ConsumedMinutes=0,NextLogId=@nextIdentity1526,MSID=@SessionId,MDOE=@SessionDate WHERE Id=@CurrentlogId
				SET @CurrentlogId=@nextIdentity1526;
				DECLARE @nextstatus1526 bigint,@nextstatusdateid1526 bigint,@nexttonextstatusdateId1526 bigint

				SELECt @nextstatus1526=null,@nextstatusdateid1526=null,@nexttonextstatusdateId1526=null
				SELECt @nextstatus1526=ISNULL(m1.NextStatusId,0),@nextstatusdateid1526=ISNULL(m1.DateId,0),@nexttonextstatusdateId1526=ISNULL(m2.DateId,0) FROM mDTSStatus m1 left join mDTSStatus m2 ON m1.NextStatusId=m2.Id WHERE m1.Id=@NextDTSStatusId and m1.TemplateId=@TemplateId and m2.TemplateId=@TemplateId
				EXEC @nextIdentity1526=[dbo].[Proc_TRANS_1624_ApplyTLDateLogic] @nextIdentity1526,@parameter1,@nextstatusdateid1526,@nextstatus1526,@nexttonextstatusdateId1526,1--Rerun the Same procedure if NextStatus has Next Status
				IF(ISNULL(@nextIdentity1526,0)>0) SET @CurrentlogId=@nextIdentity1526
			END		
		END
	END
	ELSE 
	BEGIN
		SELECT TOP 1 @DTSStatusId=null,@NextDTSStatusId=null 
		SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId FROM [dbo].[mDTSStatus] WHERE DateId=1526 and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId
		
		DECLARE @CurrentStatusId1526else bigint
		set @CurrentStatusId1526else=null
		SELECT @CurrentStatusId1526else=Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId
		
		IF(@CurrentStatusId1526else>0)
		BEGIN
		 UPDATE tVTSStatusLog SET NextLogId=NULL,PreviousLogId=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1526else
		 UPDATE tVTSStatusLog SET NextLogId=NULL,ConsumedMinutes=0,EndDate=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE NextLogId=@CurrentStatusId1526else
		 DELETE tVTSStatusLog WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1526else
		END
	END


	IF(@UnloadDate IS NOT NULL)--Unload Date 1527
	BEGIN
		DECLARE @1527DateId bigint
		SET @1527DateId=CASE WHEN @TripTypeId in(1158,1453,1160) AND @TripNatureId=1075 /*WHEN TRIP Is Loaded*/ THEN 1527 WHEN @TripTypeId in(1158,1453) AND @TripNatureId=1076 /*WHEN TRIP Is Empty*/ THEN 1529 WHEN @TripTypeId=1159 AND @TripNatureId=1076 /*WHEN JobSheet Is Empty*/ THEN 1531 END
		IF(ISNULL(@1527DateId,0)<=0)
		BEGIN
		RAISERROR('Error In Creating VTS STatus as Unload DateId is Missing',11,0)
		RETURN
		END
		SELECT @DTSStatusId=null,@NextDTSStatusId=null,@IsInternal=0
		SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId,@IsInternal=IsInternalUse FROM [dbo].[mDTSStatus] WHERE DateId=@1527DateId and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId
		IF(EXISTS(SELECT Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId))--Check if VTS status for this date exists
		BEGIN
			select @NextVTSLogId=null,@PreviousVTSLogId=null 
			select @NextVTSLogId=c.NextLogId,@PreviousVTSLogId=c.PreviousLogId FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Get Next and Privious VTS LogId for CurrentVTS Status
			UPDATE c SET c.StartDate=@UnloadDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update New Date for VTS Status
			
			DECLARE @Next1527EndDate datetime
			IF(@NextDTSStatusId IS NOT NULL)--Check if VTS status has next Status to be auto generated
			BEGIN
				UPDATE n SET n.StartDate=@UnloadDate,IsAuto=isnull(@IsInternal,0),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@NextDTSStatusId--Update Start Date of AutoGenerated Next VTS Status Log
				UPDATE c SET c.EndDate=@UnloadDate,MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] c WHERE c.TripLogId=@parameter1 AND c.DTSStatusId=@DTSStatusId--Update End Date of this VTS Status Log as It's Next Status has been auto Generated
				
				SELECT @Next1527EndDate=null,@CurrentlogId=null,@CurrentStatusDate=null
				SELECT @Next1527EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@NextDTSStatusId-- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END
			ELSE 
			BEGIN
				SELECT @Next1527EndDate=null,@CurrentlogId=null,@CurrentStatusDate=null
				SELECT @Next1527EndDate=n.EndDate,@CurrentlogId=Id,@CurrentStatusDate=StartDate FROM [dbo].[tVTSStatusLog] n WHERE n.TripLogId=@parameter1 AND n.DTSStatusId=@DTSStatusId-- Get and Set Status Date in Variable to Check VTS Dates Integrity
			END
			/*Check if this date does not overlap with Privious VTS Start Date*/
			IF(ISNULL(@PreviousVTSLogId,0)>0)
			BEGIN
				IF(@UnloadDate<(Select n.StartDate  FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId))
				BEGIN
					RAISERROR('UnLoad Date is overlapping with previous VTS Status Date',11,0)
					RETURN;
				END
				UPDATE n SET n.EndDate=@UnloadDate,ConsumedMinutes=DATEDIFF(MINUTE,n.StartDate,@UnloadDate),MSID=@SessionId,MDOE=@SessionDate FROM [dbo].[tVTSStatusLog] n WHERE n.Id=@PreviousVTSLogId
			END
		END
		ELSE
		BEGIN 
		SELECT TOP 1 @CurrentlogId=null,@CurrentStatusDate=null,@CurrentDTSStatusId=null
		SELECT TOP 1 @CurrentlogId=L.Id,@CurrentStatusDate=L.StartDate,@CurrentDTSStatusId=L.DTSStatusId FROM [dbo].[tVTSStatusLog] L WHERE L.NextLogId IS NULL AND (case when @TripTypeId=1160 then L.HireVehicleId else L.VehicleId end)=@VehicleId AND StartDate<=@UnloadDate ORDER BY StartDate DESC,Id DESC
		
		DECLARE @NextTLStatusLogId bigint,@NextTLStatusLogStartDate DateTime
		
		SELECT TOP 1 @NextTLStatusLogId=null,@NextTLStatusLogStartDate=null
		SELECT TOP 1 @NextTLStatusLogId=Id,@NextTLStatusLogStartDate=StartDate From [dbo].[tVTSStatusLog] WHERE (case when @TripTypeId=1160 then HireVehicleId else VehicleId end)=@VehicleId AND StartDate>@UnloadDate ORDER BY StartDate,Id
		/*If VTS Status Does not exists for this date create new one*/
			insert into [dbo].[tVTSStatusLog]([VehicleId],HireVehicleId,[DriverId],[DTSStatusId],[TriplogId],[GPSVendorId]
			,[PreviousLogId],[NextLogId],[StatusId],[CSID],[CDOE],[StartDate]
			,[LocationId],[DelayMinutes],[ConsumedMinutes],[GPSLocation],[EndDate],[IsAuto])
			select 
				[VehicleId]=t.VehicleId,t.HireVehicleId
				,[DriverId]=t.Driver1stId
				,[DTSStatusId]=@DTSStatusId
				,[TriplogId]=t.Id
				,[GPSVendorId]=vm.GPSVendorId
				,[PreviousLogId]=@CurrentlogId
				,[NextLogId]=(CASE WHEN ISNULL(@NextTLStatusLogId,0)=0 THEN NULL ELSE @NextTLStatusLogId END)
				,[StatusId]=0
				,[CSID]=t.CSID
				,[CDOE]=t.CDOE
				,[StartDate]=@UnloadDate
				,[LocationId]=rt.ToPlaceId
				,[DelayMinutes]=0
				,[ConsumedMinutes]=0
				,[GPSLocation]=@parameter2
				,[EndDate]=(CASE WHEN @NextTLStatusLogStartDate IS NULL THEN NULL ELSE @NextTLStatusLogStartDate END)
				,IsAuto=isnull(@IsInternal,0)
			from dbo.tVehicleMovementLog as t 
			left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id 
			left join dbo.mRouteMaster as rt on rt.Id=t.RouteId
			where t.Id=@parameter1

			set @Id=SCOPE_IDENTITY()
			update t set NextLogId=@Id,EndDate=@UnloadDate,ConsumedMinutes=DATEDIFF(MINUTE,StartDate,@UnloadDate),MSID=@SessionId,MDOE=@SessionDate FROM dbo.tVTSStatusLog t where Id=@CurrentlogId and (case when @TripTypeId=1160 then t.HireVehicleId else t.VehicleId end)=@VehicleId and Id<>@Id
			SET @CurrentlogId=@Id;
			SET @CurrentStatusDate=@UnloadDate;
			IF(@NextDTSStatusId>0)--If Next Status has to be auto Triggred
			BEGIN
				INSERT INTO tVTSStatusLog(VehicleId,HireVehicleId,DriverId,DTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId,PreviousLogId,StatusId,CSID,CDOE,StartDate,EndDate,LocationId,DelayMinutes,ConsumedMinutes,GPSLocation,IsAuto)
				SELECT TOP 1 VehicleId,HireVehicleId,DriverId,DTSStatusId=@NextDTSStatusId,Remark,TriplogId,GPSVendorId,SupervisorId,NextLogId=(CASE WHEN ISNULL(@NextTLStatusLogId,0)=0 THEN NULL ELSE @NextTLStatusLogId END),PreviousLogId=Id,StatusId,CSID,CDOE,StartDate=@UnloadDate,EndDate=(CASE WHEN @NextTLStatusLogStartDate IS NULL THEN NULL ELSE @NextTLStatusLogStartDate END),LocationId,DelayMinutes=0,ConsumedMinutes=0,GPSLocation,IsAuto
				FROM [dbo].[tVTSStatusLog] WHERE Id=@Id
				DECLARE @nextIdentity1527 bigint=SCOPE_IDENTITY()
				
				UPDATE [dbo].[tVTSStatusLog] SET EndDate=StartDate,ConsumedMinutes=0,NextLogId=@nextIdentity1527,MSID=@SessionId,MDOE=@SessionDate WHERE Id=@CurrentlogId
				SET @CurrentlogId=@nextIdentity1527;
				DECLARE @nextstatus1527 bigint,@nextstatusdateid1527 bigint,@nexttonextstatusdateId1527 bigint

				SELECt @nextstatus1527=ISNULL(m1.NextStatusId,0),@nextstatusdateid1527=ISNULL(m1.DateId,0),@nexttonextstatusdateId1527=ISNULL(m2.DateId,0) FROM mDTSStatus m1 left join mDTSStatus m2 ON m1.NextStatusId=m2.Id WHERE m1.Id=@NextDTSStatusId  and m1.TemplateId=@TemplateId and  m2.TemplateId=@TemplateId
				EXEC @nextIdentity1527=[dbo].[Proc_TRANS_1624_ApplyTLDateLogic] @nextIdentity1527,@parameter1,@nextstatusdateid1527,@nextstatus1527,@nexttonextstatusdateId1527,1--Rerun the Same procedure if NextStatus has Next Status
				IF(ISNULL(@nextIdentity1527,0)>0) SET @CurrentlogId=@nextIdentity1527
			END	

			IF(ISNULL(@NextTLStatusLogId,0)>0) 
			begin
				UPDATE [dbo].[tVTSStatusLog] SET PreviousLogId=@CurrentlogId,MSID=@SessionId,MDOE=@SessionDate WHERE Id=@NextTLStatusLogId
			end
		END
	END
	ELSE 
	BEGIN
		DECLARE @1527DateIdelse bigint
		SET @1527DateIdelse=CASE WHEN @TripTypeId in(1158,1453,1160) AND @TripNatureId=1075 /*WHEN TRIP Is Loaded*/ THEN 1527 WHEN @TripTypeId in(1158,1453) AND @TripNatureId=1076 /*WHEN TRIP Is Empty*/ THEN 1529 WHEN @TripTypeId=1159 AND @TripNatureId=1076 /*WHEN JobSheet Is Empty*/ THEN 1531 END

		SELECT TOP 1 @DTSStatusId=null,@NextDTSStatusId=null 
		SELECT TOP 1 @DTSStatusId=Id,@NextDTSStatusId=NextStatusId FROM [dbo].[mDTSStatus] WHERE DateId=@1527DateIdelse and TemplateId=@TemplateId--Get DTSStatusId and DTSNextStatusId
		DECLARE @CurrentStatusId1527else bigint
		SELECT @CurrentStatusId1527else=Id FROM [dbo].[tVTSStatusLog] WHERE TripLogId=@parameter1 AND DTSStatusId=@DTSStatusId
		IF(@CurrentStatusId1527else>0)
		BEGIN
		 UPDATE tVTSStatusLog SET NextLogId=NULL,PreviousLogId=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1527else
		 UPDATE tVTSStatusLog SET NextLogId=NULL,ConsumedMinutes=0,EndDate=NULL,MSID=@SessionId,MDOE=@SessionDate WHERE NextLogId=@CurrentStatusId1527else
		 DELETE tVTSStatusLog WHERE TriplogId=@parameter1 AND Id>=@CurrentStatusId1527else
		END
	END

	--

END
GO
