/****** Object:  StoredProcedure [dbo].[Proc_HappayRequestUpload_1653]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_HappayRequestUpload_1653]
GO
/****** Object:  StoredProcedure [dbo].[Proc_HappayRequestUpload_1653]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_HappayRequestUpload_1653]
	@parameter1 date,--fromdate
	@parameter2 date,--todate
	@parameter3 bigint--CreaditAccountId
as
begin
	select 
	DriverName= d.DriverName,
	MobileNo= vm.DebitCardNo, 
	EmployeeCode= vm.VehicleRegNo,
	CardKitId= vm.DebitCardAcNo,
	Amount=t.RequestAmount,
	Nature = nt.Name,
	Remark=ISNULL(t.RequestRemark,'')+'zzz'+cast(t.Id as nvarchar(100)),
	Payment_Date=format(t.RequestDate,'dd/MM/yyyy hh:mm:ss'),
	t.ReferenceNo,
	Requested_by=u.FirstName +' '+ u.LastName,
	t.CDOE,
	t.MDOE,
	Origin=t.ViewId
	from dbo.tTripAdvanceLog as t
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mDriverMaster as d on d.Id=t.driverId
	left join dbo.ApiSessions as s on s.Id=t.CSID
	left join dbo.ApiUsers as u on u.Id = s.UserId
	left join dbo.mGenericMaster as nt on nt.Id=t.Ref1Id
	where t.RequestStatusId=1596 --and t.PaidInId=1517
	and cast(t.RequestDate as date) between cast(@parameter1 as date) and cast(@parameter2 as date) 
	AND t.CreditAccountId=@parameter3
	order by t.Id
end
GO
