/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5102_advreq]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5102_advreq]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5102_advreq]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	select * from apiviews where Id>=5000
--	exec Proc_Mob_Report_5102_advreq 1809,0,0,'charan'
--exec [dbo].[Proc_Mob_Report_5102_advreq] @parameter1=NULL,@parameter2=N'1',@parameter3=NULL,@parameter4=N'virendra'
CREATE proc [dbo].[Proc_Mob_Report_5102_advreq]--110241
	@parameter1 bigint,--vehicleId
	@parameter2 bit,--Vehicle Type 0:Own,1:Hire
	@parameter3 bigint,
    @parameter4 nvarchar(200)=''--UserName
as
	declare @userid bigint,@typeid int;
	select @userid=Id,@typeid=[TypeId] from ApiUsers where UserName=@parameter4
	print(@userid)
	select 
	t.Id,
	[OfficeId]=ofc.Id,
	[Office] = ofc.OfficeName,
	t.AdvanceTypeId,
	AdvanceType=vt.VoucherTypeName,
	t.TriplogId,
	tl.TriplogNo,
	RAdvanceTypeShortName=(case  when t.AdvanceTypeId=1 then 'A' when t.AdvanceTypeId=2 then 'F' when t.AdvanceTypeId In(78,76) and t.RequestQty>0 then 'F' when t.AdvanceTypeId In(78,76) and t.RequestQty=0 then 'A' end),
	RequestNo=t.VoucherNo,
	RDateTime=t.RequestDate,
	RPaymentModeId=ISNULL(pdin.Id,(CASE WHEN t.RequestQty>0 THEN 1518 ELSE 1430 END)),
	RPaymentMode=ISNULL(pdin.ConstantName,(CASE WHEN t.RequestQty>0 THEN 'FuelSlip' ELSE 'Cash' END)),
	RCreditAcId=cr.Id,
	RCreditAc=Upper(cr.FleetAcName),
	RDebitAcId=dr.Id,
	RDebitAc=dr.FleetAcName,
	RVehicleId = (case when vm.Id>0 then vm.Id else hvm.Id end),
	RVehicleNo = Upper(isnull(vm.VehicleRegNo,hvm.RegistrationNo)),
	RVehicleType=(case when vm.Id>0 then 'o' else 'h' end),
	DriverId=dvr.Id,
	DriverName=dvr.DriverName,
	RFuelQty=t.RequestQty,
	RFuelRate=isnull((Select TOP 1 FuelRate from dbo.mFuelRateLog as fl where fl.PumpId=t.CreditAccountId and fl.FuelId=t.FuelId and cast(fl.FromDate as date)<=cast(t.AdvanceDate as date) ORDER BY fl.FromDate DESC),0),
	RAmount=cast((case when t.AdvanceTypeId in(2,76,78) and t.RequestQty>0 then isnull(t.RequestQty,0)*isnull((Select TOP 1 FuelRate from dbo.mFuelRateLog as fl where fl.PumpId=t.CreditAccountId and fl.FuelId=t.FuelId and cast(fl.FromDate as date)<=cast(t.AdvanceDate as date) ORDER BY fl.FromDate DESC),0) else t.RequestAmount end) as decimal(18,2)),
	RRemarks=t.RequestRemark,
	RUserId=t.CSID,
	RUser=isnull(ur.FirstName,'') +' '+ isnull(ur.LastName,''),
	RDOE=t.CDOE,
	RStatusId=t.RequestStatusId,
	RStatus=rs.ConstantName,
	RFuelTypeId=t.FuelId,
	RFuelType=gm.Name
	from dbo.tTripAdvanceLog as t
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId	
	join dbo.mConstantValue as rs on rs.ID=t.RequestStatusId
	join dbo.mVoucherType as vt on vt.Id=t.AdvanceTypeId
	left join dbo.apisessions as us on us.ID=t.CSID
	left join dbo.apiusers as ur on ur.Id=us.UserId
	left join dbo.mConstantValue as pdin on pdin.Id=t.PaidInId
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
	left join dbo.tVehicleMovementLog as tl on tl.Id=t.TriplogId
	left join dbo.mDriverMaster as dvr on dvr.Id=t.DriverId
	left join dbo.mGenericMaster as gm on gm.Id=t.FuelId
    left join (
        select [ApiObjectId],Permission=MAX(Permission) 
        FROM [dbo].[ApiRolePermissions] p join [dbo].[ApiUserRoles] r on p.[ApiRoleId]=r.RoleId 
        WHERE p.EntityTypeId=0 AND ((@userid>0 AND r.UserId=@userid)OR @userid=0) 
        GROUP BY p.[ApiObjectId]
        ) as p on p.ApiObjectId=t.CreditAccountId AND p.Permission=1
	where 
	t.RequestStatusId=1596 and
	(case when isnull(@parameter1,0)<=0 then 1 when t.VehicleId=@parameter1 then 1 else 0 end =1)
	and (case when isnull(@parameter3,0)<=0 then 1 when cr.Id=@parameter3 then 1 else 0 end =1)
	and (@typeid in(100,200) OR ISNULL(p.ApiObjectId,0)>0)
	
	order by t.RequestDate desc

GO
