/****** Object:  StoredProcedure [dbo].[Proc_Report_1607]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1607]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1607]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_Report_1607]
	--Hire Vehicle Outstanding: 1607
	@parameter1 bigint,--HVP
	@parameter4 nvarchar(max)--AsofDate
	
as
begin
	declare @RoleId int
	set @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	select 
	[Office]=O.OfficeName,
	[TripDate]=VML.TripStartDate,
	[TripNo]=VML.TriplogNo,
	[VehicleNo]=HV.VehicleNo,
	[Owner]=L.AccountName,
	[Broker]=vml.BrokerName,
	[Route]=RM.Name,
	[HireAmount]=VML.HSChg,
	[Advance]=hsa.AdvanceAmt,
	[FuelQty]=hsa.FuelQty,
	[FuelAmount]=hsa.FuelAmount,
	[BalPaidByCheque]=hsa.BalPaidByCheque,
	[ChequeDetails]=hsa.ChequeDetails,
	[BalPaidByOther]=hsa.BalPaidByOther,
	[NetBalance]=isnull(VML.HSChg,0)-isnull(hsa.AdvanceAmt,0)-isnull(hsa.FuelAmount,0)-isnull(hsa.BalPaidByCheque,0)-isnull(hsa.BalPaidByOther,0),
	CU=csu.UserName,
	DOE=VML.CDOE,
	MU=msu.UserName,
	DOM=VML.MDOE
	from dbo.tVehicleMovementLog as VML
	join dbo.mOfficeMaster as O on VML.OfficeId=O.Id
	join dbo.mHireVehicle as HV on VML.HireVehicleId=HV.Id
	Join dbo.mLedger as L on VML.HireOwnerId=L.Id
	Join dbo.mRouteMaster as RM on RM.Id=VML.RouteId
	Left Join
	(
		Select HireSlipId
		,FuelQty=sum((case when hsa.PaymentModeId=1518 and hsa.AdvTypeId=1473  then hsa.FuelQty else 0 end)) 
		,AdvanceAmt=sum((case when hsa.PaymentModeId=1430 and hsa.AdvTypeId=1473  then hsa.Amount else 0 end))
		,FuelAmount=sum((case when hsa.PaymentModeId=1518 and hsa.AdvTypeId=1473  then hsa.Amount else 0 end))
		,FuelPump=Max((case when hsa.PaymentModeId=1518 and hsa.AdvTypeId=1473  then p.FleetAcName else 0 end))
		,BalPaidByCheque=sum((case when hsa.PaymentModeId=1429 and hsa.AdvTypeId=1512  then hsa.Amount else 0 end))
		,ChequeDetails=Max((case when hsa.PaymentModeId=1429 and hsa.AdvTypeId=1512  then isnull(hsa.ChequeNo,'') + convert(varchar(10),ChequeDate,103) else 0 end))
		,BalPaidByOther=sum((case when hsa.PaymentModeId<>1429 and hsa.AdvTypeId=1512  then hsa.Amount else 0 end))
		from dbo.tHSAdvance as hsa
		join dbo.mLedger as p on hsa.CrAccountId=p.Id
		group by hsa.HireSlipId
	) hsa on hsa.HireSlipId=vml.Id
	left join ApiSessions as cs on cs.Id=VML.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	left join ApiSessions as ms on ms.Id=VML.MSID
	left join dbo.ApiUsers as msu on msu.Id=ms.UserId
	Where vml.TripStartDate<=@parameter4 
	and (case when @parameter1=0 then 1 when @parameter1=vml.hvpId then 1 else 0 end)=1
	and (isnull(VML.HSChg,0)-isnull(hsa.AdvanceAmt,0)-isnull(hsa.FuelAmount,0)-isnull(hsa.BalPaidByCheque,0)-isnull(hsa.BalPaidByOther,0))>0
	 
END
GO
