/****** Object:  StoredProcedure [dbo].[Proc_Report_1415]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1415]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1415]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1415]
	@parameter1 datetime,
	@parameter2 datetime,
	@parameter3 nvarchar(max),--BrandList
	@parameter4 int --1:Purchase Date ,2: Scrap Date
as
begin
	declare @StartDate datetime,@EndDate datetime,@DateType int
	set @parameter4=case when @parameter4<=0 then 1 else @parameter4 end
	
	set nocount on;
	select
	t.* 
	,CPKMInPaise=cast(((case when isnull(TyreKmRun,0)=0 then 0 else isnull(TyreNetCost,0)/isnull(TyreKmRun,0) end))as decimal(18,3))
	from (
		select 
		tm.Id
		,tm.TyreNo
		,bm.BrandName		
		,TyreLife=isnull(tm.Status_Life,0)
		,TyreCost=isnull(t.ActaulTyreCost,0)
		,TyreScrapCost = isnull(t.ActualScrapCost,0)
		,TyreNetCost = isnull(t.ActaulTyreCost,0)-isnull(t.ActualScrapCost,0)
		,TyreKmRun = isnull(t.KmRun,0)
		,TyreUsedMonth = isnull(t.ReceiptMonth,0)
		,TyreScrapDate = case when tm.Status_VoucherTypeId = 37 then tm.Status_VoucherDate end
		
		from dbo.mTyreMaster as tm
		join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
		join dbo.tTyreLog as tt on tt.Id=tm.PurchaseLogId
		join 
		(
			select  tt.TyreId,ActaulTyreCost=sum(isnull(tt.ActaulTyreCost,0)),ActualScrapCost=sum(isnull(tt.ActualScrapCost,0)),KmRun=sum(isnull(tt.KmRun,0)),ReceiptMonth=sum(isnull(tt.ReceiptMonth,0)) from vwTyreLifeMileage as tt group by tt.TyreId
		)as t on t.TyreId=tm.Id
		where 
		(case when @parameter4=1 and tt.VoucherDate between @parameter1 and @parameter2 and tm.Status_VoucherTypeId = 37 then 1 --Tyre purchase date
		when @parameter4=2 and tm.Status_VoucherDate between @parameter1 and @parameter2 and tm.Status_VoucherTypeId = 37 then 1  --Scrap Types
		else 0 end)=1
		and (case when len(isnull(@parameter3,''))=0 then 1 when len(@parameter3)>0 and tm.BrandId in(select item from dbo.SplitCommaString(@parameter3)) then 1  else 0 end)=1
	)as t 
end
GO
