/****** Object:  StoredProcedure [dbo].[Proc_Format_1503_30]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1503_30]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1503_30]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Format_1503_30] 
	@parameter1 bigint
AS
BEGIN
	declare @ConsigneeId bigint
	set @ConsigneeId=(select top 1 t.ConsigneeId from tCNStockLog as s join tCNMaster as t on s.CNId=t.Id  where s.TriplogId=@parameter1)
	select 
	t.Id,
	t.TriplogNo,
	t.TripStartDate,
	VehicleNo=case when t.VehicleId>0 then  vm.VehicleNo else hvm.VehicleNo end,
	FromPlace = ofc.OfficeName,--origin branch
	ToPlace = isnull((select a.FleetAcName from dbo.mLedger as a where a.Id=@ConsigneeId),'NA'),--consignee
	OwnerName = l.FleetAcName,
	DriverName = dr.DriverName,
	MobileNo = t.DriverPhone,
	LoadedBy = t.LoadedBy,
	Remarks=t.Remarks,
	PreparedBy=Isnull(csu.FirstName,'') + ' '+ isnull(csu.LastName,'')
	from dbo.tVehicleMovementLog as t
	left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id
	left join dbo.mHireVehicle as hvm on t.HireVehicleId=hvm.Id
	left join dbo.mRouteMaster as rm on rm.Id=t.RouteId
	left join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	left join dbo.mDriverMaster as dr on dr.Id=t.Driver1stId
	left join dbo.mLedger as l on l.Id=t.HireOwnerId
	left join ApiSessions as cs on cs.Id=t.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	where t.Id=@parameter1
END
GO
