/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1534_TripExpenseBudgetUpload]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1534_TripExpenseBudgetUpload]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1534_TripExpenseBudgetUpload]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec [dbo].[Proc_TRANS_1534_TripExpenseBudgetUpload] 824286
CREATE PROC [dbo].[Proc_TRANS_1534_TripExpenseBudgetUpload] 
@reportrequestid bigint
As
    BEGIN
    DECLARE @xml xml, @CSID bigint
    SELECT TOP 1 @xml=XmlParameter, @CSID=Parameter1 FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
    if(@xml IS NULL)return;

    DECLARE @hdoc AS INT
		DECLARE @PrepareXmlStatus INT 
		EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml

	create table #ExpenseBudget(StartDate datetime, ExpenseTypeId bigint, VehicleTypeId bigint, RouteId bigint, ExpenseValue decimal(18,2), TripNatureId bigint, EndDate datetime null, BatchId nvarchar(150))

	insert into #ExpenseBudget(StartDate, ExpenseTypeId, VehicleTypeId, RouteId, ExpenseValue, TripNatureId, EndDate, BatchId)
	select StartDate, ExpenseTypeId, VehicleTypeId, RouteId, ExpenseValue, TripNatureId,EndDate=(CASE WHEN EndDate='1900-01-01 00:00:00.000' OR EndDate IS NULL THEN NULL ELSE EndDate END), BatchId
	FROM OPENXML(@hdoc, '/ArrayOfDU_TripExpenseBudget/DU_TripExpenseBudget',2)
	WITH (
	   StartDate datetime, 
	   ExpenseTypeId bigint, 
	   VehicleTypeId bigint, 
	   RouteId bigint, 
	   ExpenseValue decimal(18,2), 
	   TripNatureId bigint,
	   EndDate datetime,
	   BatchId nvarchar(150)
	   ) as temp

	   select Error='Duplicate Record in Existing Record', [BatchId] into #errors from #ExpenseBudget as tm join mTripExpenseBudget ep on ep.RouteId=tm.RouteId
	    where cast(ep.StartDate as date)=cast(tm.StartDate as date) and
	   ep.ExpenseTypeId=tm.ExpenseTypeId and ep.VehicleTypeId=tm.VehicleTypeId and ep.TripNatureId=tm.TripNatureId and ep.RouteId=tm.RouteId

	   select * from #ExpenseBudget
	   insert into #errors(Error, BatchId)
	   select Error='Duplicate in uploaded data', BatchId
	   from #ExpenseBudget eb1 where exists(select 1 from #ExpenseBudget as eb where eb.RouteId=eb1.RouteId and  CAST(eb.StartDate as date)=CAST(eb1.StartDate as date) and 
	   eb.ExpenseTypeId=eb1.ExpenseTypeId and eb.VehicleTypeId=eb1.VehicleTypeId and eb.TripNatureId=eb1.TripNatureId and eb.BatchId != eb1.BatchId )

	   delete from #ExpenseBudget where BatchId in(select BatchId from #errors)	  

	insert into dbo.mTripExpenseBudget(StartDate, ExpenseTypeId,VehicleTypeId,RouteId,ExpenseValue, TripNatureId, EndtDate, ViewId, CSID, CDOE)
	select temp.StartDate,temp.ExpenseTypeId,temp.VehicleTypeId,temp.RouteId,temp.ExpenseValue, temp.TripNatureId, temp.EndDate, 1534, @CSID, GETDATE()
	FROM #ExpenseBudget as temp
	if exists(select 1 from #errors)
	   begin
	   select * from #errors;
		  return;
	   end
END
GO
