/****** Object:  StoredProcedure [dbo].[Proc_GLB_HandleVehGEOIn]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_GLB_HandleVehGEOIn]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GLB_HandleVehGEOIn]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_GLB_HandleVehGEOIn] @vehicleno NVARCHAR(150),
@GeofenseName NVARCHAR(200),
@TriplogNo NVARCHAR(150),
@EventCode INT,
@EventTime DATETIME
AS
BEGIN
  DECLARE @Id BIGINT
         ,@TLId BIGINT
         ,@DateId INT
         ,@MinOrderId INT
         ,@MaxOrderId INT
         ,@CurOrderId INT
         ,@TripTypeId INT
         ,@VTSDeliveryStatusInId INT
         ,@VTSDeliveryStatusOutId INT
         ,@ownvehicleId BIGINT
         ,@MaxVTSDate DATETIME
         ,@unloaddate DATETIME=NULL
	    ,@Recenttriplog bigint=0;
	    SET @Recenttriplog =(SELECT TOP (1) vml.Id from tVehicleMovementLog vml join mVehicleMaster vm on vml.VehicleId=vm.Id AND (vm.VehicleRegNo=@vehicleno OR vm.VehicleNo=@vehicleno) ORDER BY vml.TripStartDate DESC)
  IF (@EventCode = 1100)--IN
  BEGIN
    UPDATE pd
    SET pd.InTime = @EventTime
       ,@Id = pd.Id
       ,@TLId = pd.TriplogId
       ,@CurOrderId = pd.[Order]
       ,@TripTypeId = xpd.TripTypeId
       ,@ownvehicleId = xpd.VehicleId
      ,@unloaddate=xpd.UnloadingReachDate
    FROM dbo.tPickDroplog AS pd
    JOIN (SELECT TOP 1
        pd.Id
       ,t.TripTypeId
       ,t.VehicleId
      ,t.UnloadingReachDate
      FROM dbo.tPickDroplog AS pd
      JOIN dbo.tVehicleMovementLog AS t
        ON t.Id = pd.TriplogId
      JOIN dbo.mCityMaster AS cm
        ON cm.Id = pd.CityId
      WHERE pd.InTime IS NULL
      AND t.TriplogNo = @TriplogNo
      AND (cm.CityName = @GeofenseName
      OR cm.CityAbbr = @GeofenseName)
      ORDER BY pd.[Order]) AS xpd
      ON xpd.Id = pd.Id

    IF (ISNULL(@ownvehicleId, 0) = 0 
    OR @unloaddate IS NOT NULL
    OR EXISTS(SELECT 1 FROM tVTSStatusLog vt WHERE vt.VehicleId=@ownvehicleId AND ISNULL(vt.EndDate,vt.StartDate)>@EventTime) 
    OR @Recenttriplog<>@TLId)/*Do not touch trip that are closed*/ 
    BEGIN
      RETURN;
    END
  END
  IF (@EventCode = 1101)--out
  BEGIN
    UPDATE pd
    SET pd.OutTime = @EventTime
       ,@Id = pd.Id
       ,@TLId = pd.TriplogId
       ,@CurOrderId = pd.[Order]
       ,@TripTypeId = xpd.TripTypeId
       ,@ownvehicleId = xpd.VehicleId
    FROM dbo.tPickDroplog AS pd
    JOIN (SELECT TOP 1
        pd.Id
       ,t.TripTypeId
       ,t.VehicleId
      FROM dbo.tPickDroplog AS pd
      JOIN dbo.tVehicleMovementLog AS t
        ON t.Id = pd.TriplogId
      JOIN dbo.mCityMaster AS cm
        ON cm.Id = pd.CityId
      WHERE pd.OutTime IS NULL
      AND t.TriplogNo = @TriplogNo
      AND (cm.CityName = @GeofenseName
      OR cm.CityAbbr = @GeofenseName)
      ORDER BY pd.[Order]) AS xpd
      ON xpd.Id = pd.Id

    IF (ISNULL(@ownvehicleId, 0) = 0 
    OR @unloaddate IS NOT NULL
    OR EXISTS(SELECT 1 FROM tVTSStatusLog vt WHERE vt.VehicleId=@ownvehicleId AND ISNULL(vt.EndDate,vt.StartDate)>@EventTime) 
    OR @Recenttriplog<>@TLId)/*Do not touch trip that are closed*/ 
    BEGIN
      RETURN;
    END

  END

  SELECT
    @MaxVTSDate = MAX(l.StartDate)
  FROM [dbo].[tVTSStatusLog] L
  WHERE TriplogId = @TLId

  IF (ISNULL(@MaxVTSDate, @EventTime) > @EventTime)
  BEGIN
    RETURN;
  END

  SELECT
    @MinOrderId = MIN(pd.[Order])
   ,@MaxOrderId = MAX(pd.[Order])
  FROM dbo.tPickDroplog AS pd
  WHERE TriplogId = @TLId

  IF (@CurOrderId = @MinOrderId
    AND @MinOrderId > 0
    AND @CurOrderId > 0)
  BEGIN
    RETURN;/*Disabled Just for ITS*/
    IF (@EventCode = 1100)
    BEGIN
      UPDATE dbo.tVehicleMovementLog
      SET LoadingReachDate = @EventTime
      WHERE @TLId = Id
    END
    ELSE
    IF (@EventCode = 1101)
    BEGIN
      UPDATE dbo.tVehicleMovementLog
      SET LoadingReachDate =
          CASE
            WHEN LoadingReachDate IS NULL THEN DATEADD(SECOND, -1, @EventTime)
            ELSE LoadingReachDate
          END
         ,LoadingDate = @EventTime
      WHERE @TLId = Id
    END
    EXEC dbo.[Proc_TRANS_1624_CreateVTS] @TLId
                                        ,@GeofenseName
  END
  ELSE
  IF (@CurOrderId = @MaxOrderId
    AND @MaxOrderId > 0
    AND @CurOrderId > 0)
  BEGIN
    --update dbo.tVehicleMovementLog set UnloadingReachDate=case when @EventCode=1100 then @EventTime else UnloadingReachDate end,UnloadingDate=case when @EventCode=1101 then @EventTime else UnloadingDate end where @TLId=Id
    IF (@EventCode = 1100)
    BEGIN
      UPDATE dbo.tVehicleMovementLog
      SET UnloadingReachDate = @EventTime
         ,UnloadingDate = DATEADD(SECOND, 1, @EventTime)
      WHERE @TLId = Id
      EXEC dbo.[Proc_TRANS_1624_CreateVTS] @TLId
                                          ,@GeofenseName
    END
  END
  ELSE
  BEGIN
    DECLARE @CurrentlogId BIGINT
           ,@CurrentDate DATETIME
           ,@VtsId BIGINT
    SELECT TOP 1
      @CurrentlogId = L.Id
     ,@CurrentDate = l.StartDate
    FROM [dbo].[tVTSStatusLog] L
    WHERE L.NextLogId IS NULL
    AND TriplogId = @TLId
    ORDER BY StartDate DESC, Id DESC

    SET @VTSDeliveryStatusInId = ISNULL((SELECT TOP 1
        [Value]
      FROM [dbo].[ApiConfigurations]
      WHERE id = 'VTSDeliveryStatusInId')
    , 0)
    SET @VTSDeliveryStatusOutId = ISNULL((SELECT TOP 1
        [Value]
      FROM [dbo].[ApiConfigurations]
      WHERE id = 'VTSDeliveryStatusOutId')
    , 0)

    IF (EXISTS (SELECT
          1
        FROM [dbo].[tVTSStatusLog]
        WHERE VehicleId = @ownvehicleId
        AND StartDate > @EventTime)
      )
    BEGIN
      RETURN;/*Mukesh:2018-04-27, this was done to resolve the bug when gps system sends data late, and user has already entered date > event date*/
    END

    INSERT INTO [dbo].[tVTSStatusLog] ([VehicleId], HireVehicleId, [DriverId], [DTSStatusId], [TriplogId]
    , [PreviousLogId], [StatusId], [CSID], [CDOE], [StartDate]
    , [LocationId], [DelayMinutes], [ConsumedMinutes], [GPSLocation], [IsAuto])
      SELECT
        [VehicleId] = t.VehicleId
       ,t.HireVehicleId
       ,[DriverId] = t.Driver1stId
       ,[DTSStatusId] =
        CASE
          WHEN @EventCode = 1100 THEN @VTSDeliveryStatusInId
          ELSE @VTSDeliveryStatusOutId
        END
       ,[TriplogId] = t.Id
       ,[PreviousLogId] = @CurrentlogId
       ,[StatusId] = 0
       ,[CSID] = 0
       ,[CDOE] = GETDATE()
       ,[StartDate] = @EventTime
       ,[LocationId] = pd.CityId
       ,[DelayMinutes] = 0
       ,[ConsumedMinutes] =
        CASE
          WHEN @EventCode = 1101 THEN DATEDIFF(HOUR, pd.InTime, pd.OutTime)
          ELSE 0
        END
       ,[GPSLocation] = @GeofenseName
       ,IsAuto = 0
      FROM dbo.tVehicleMovementLog AS t
      JOIN dbo.tPickDroplog AS pd
        ON pd.TriplogId = t.Id
      WHERE pd.Id = @Id
    SET @VtsId = SCOPE_IDENTITY()
    UPDATE t
    SET NextLogId = @VtsId
       ,EndDate = @EventTime
       ,ConsumedMinutes = DATEDIFF(MINUTE, StartDate, @EventTime)
       ,MSID = NULL
       ,MDOE = NULL
    FROM dbo.tVTSStatusLog t
    WHERE Id = @CurrentlogId
  END
END
GO
