/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5010_tyrelifeinfo]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5010_tyrelifeinfo]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5010_tyrelifeinfo]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	select * from apiviews where Id>=5000
--	exec Proc_Mob_Report_5005_advinfo 7,1,0

CREATE proc [dbo].[Proc_Mob_Report_5010_tyrelifeinfo]--110241
	@parameter1 bigint--tyreid
as
	select 
		t.Id,
    Life=t.TyreLife,
		t.TyreNo,
    BrandName=tbrd.BrandName,
		VendorRefNo='',
		DocNo=t.VoucherNo,
		DocDate=t.VoucherDate,
    VendorName=cr.FleetAcName,

		TyreCost=t.TyreTotalAmount,
		GSTAmount=isnull(t.IGSTAmount,0)+isnull(t.SGSTAmount,0)+isnull(t.CGSTAmount,0)+
		isnull(t.TubeIGSTAmount,0)+isnull(t.TubeCGSTAmount,0)+isnull(t.TubeSGSTAmount,0)+
		isnull(t.FlapIGSTAmount,0)+isnull(t.FlapCGSTAmount,0)+isnull(t.FlapSGSTAmount,0),
		TotalCost=isnull(t.NetAmount,0),
		
		TyreStatus=vt.Abbr,
		StatusDate=getdate(),
		SoldAmount=0,
		LastLocation='',
		        
		CurrentMileage=0,
		OldMileage=0,
		LifeAsPerTrip=0,
		LifeAsPerGPS=0,
		AvgAsPerTrip=0,
		AvgAsPerGPS=0
		from dbo.mTyreMaster as tm
		join dbo.tTyreLog as t on tm.Id=t.TyreId
		join dbo.mBrandMaster as tbrd on tbrd.Id=tm.BrandId
		join dbo.mLedger as cr on cr.Id=t.CreditAccountId
		join dbo.mVoucherType as vt on vt.Id=t.VoucherTypeId
		where t.Id=@parameter1 and t.VoucherTypeId in(27,9)--newPurchase,old purchase,Remouldbill,chassistyre
GO
