/****** Object:  StoredProcedure [dbo].[Proc_Report_1692]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1692]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1692]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	exec Proc_Report_1692 '2018-10-01','2018-10-30'

CREATE proc [dbo].[Proc_Report_1692]
	@parameter1 date,
	@parameter2 date
as
begin
	select 
	t.YearMonthCol
	,t.TotalKm
	,t.ActualFuelQty,t.ActualFuelAmount,t.ActualCash,t.ActualeToll,t.BdgtFuelQty,
	[FuelQtyVariance]=isnull(ActualFuelQty,0)-isnull([BdgtFuelQty],0)
	,[FuelAmountVariance]=((isnull(ActualFuelQty,0)-isnull([BdgtFuelQty],0))*65)
	,t.BdgtAdvance
	,[CashVariance]=isnull(ActualCash,0)+isnull(ActualeToll,0)-isnull(BdgtAdvance,0)
	,[NetVariance]=	(isnull(ActualCash,0)+isnull(ActualeToll,0)-isnull(BdgtAdvance,0))+(isnull(((isnull(ActualFuelQty,0)-isnull([BdgtFuelQty],0))*65),0))
	,[Extra]=case when [TotalKm]=0 then 0 else ((isnull(ActualCash,0)+isnull(ActualeToll,0)-isnull(BdgtAdvance,0))+(isnull(((isnull(ActualFuelQty,0)-isnull([BdgtFuelQty],0))*65),0)))/[TotalKm] end
	,[PerKmExp]=(isnull(t.ActualFuelAmount,0)+isnull(ActualCash,0)+isnull(ActualeToll,0))/t.TotalKm
	,[FuelAgeRate]=t.ActualFuelAmount/t.ActualFuelQty
	
	from (
		select 
		m.YearMonthCol
		,TotalKm=Sum(km.TotalKm)
		,[ActualFuelQty]=sum(afl.ActualFuelQty)
		,[ActualFuelAmount]=sum(afl.ActualFuelAmount)
		,[ActualCash]=sum(tal.ActualCash)
		,[ActualeToll]=sum(tal.ActualeToll)
		,[BdgtFuelQty]=cast(sum(km.TotalKm)/4.5 as numeric(18,2))
		,[BdgtAdvance]=cast(sum(km.TotalKm)*6 as numeric(18,2))
		from dbo.MonthRangeBetweenTwo(@parameter1,@parameter2) as m
		left join
		(
			Select  TotalKm=sum(g.GPSKm),YearMonthDate=DATEFROMPARTS(year(g.LogDate),month(g.LogDate),1)  from dbo.tGPSKmLog as g where g.LogDate between @parameter1 and @parameter2 
			group by Year(g.LogDate),Month(g.LogDate)
		) as km on km.YearMonthDate = m.YearMonthCol
		left join
		(
			select [ActualFuelQty]=sum(t.FuelQty),[ActualFuelAmount]=sum(t.FuelAmount),YearMonthDate=DATEFROMPARTS(year(t.VoucherDate),month(t.VoucherDate),1) from dbo.tTripAdvanceLog as t 
			where isnull(t.RequestStatusId,1597)=1597 and t.AdvanceTypeId=2 and t.VehicleId>0 and cast(t.VoucherDate as date) between @parameter1 and @parameter2
			group by Year(t.VoucherDate),Month(t.VoucherDate)
		) as afl on afl.YearMonthDate = m.YearMonthCol
		left join
		(
			select [ActualCash]=sum(case when t.AdvanceTypeId=1 then isnull(t.CashAmount,0) else 0 end),[ActualeToll]=sum(case when t.AdvanceTypeId=88 then isnull(t.CashAmount,0) else 0 end),YearMonthDate=DATEFROMPARTS(year(t.VoucherDate),month(t.VoucherDate),1) from dbo.tTripAdvanceLog as t 
			where isnull(t.RequestStatusId,1597)=1597 and t.AdvanceTypeId in(1,88) and t.VehicleId>0 and cast(t.VoucherDate as date) between @parameter1 and @parameter2
			group by Year(t.VoucherDate),Month(t.VoucherDate)
		) as tal on tal.YearMonthDate = m.YearMonthCol
		Group by m.YearMonthCol
	)as t	
end
GO
