/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5111_ShowPending]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5111_ShowPending]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5111_ShowPending]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	select * from apiviews where Id>=5000
--	exec Proc_Mob_Report_5102_advreq 1809,0,0,'charan'
--exec [dbo].[Proc_Mob_Report_5102_advreq] @parameter1=NULL,@parameter2=N'1',@parameter3=NULL,@parameter4=N'virendra'
CREATE proc [dbo].[Proc_Mob_Report_5111_ShowPending]--110241
	@parameter1 nvarchar(100),--vehicleNo
	@parameter2 bigint,--PumpId
	@parameter3 bigint--userid
as
	declare @usertypeid int;
	select @usertypeid=[TypeId] from ApiUsers where Id=@parameter3
	
	print(@parameter3)
	select 
	t.Id,
	[OfficeId]=ofc.Id,
	[Office] = ofc.OfficeName,
	t.AdvanceTypeId,
	--AdvanceType=vt.VoucherTypeName,
	t.TriplogId,
	AdvanceType=(case  when t.AdvanceTypeId=1 then 'Cash' when t.AdvanceTypeId=2 then 'Fuel' when t.AdvanceTypeId In(78,76) and t.RequestQty>0 then 'Fuel' when t.AdvanceTypeId In(78,76) and t.RequestQty=0 then 'Cash' end),
	RequestNo=t.VoucherNo,
	RequestDate=t.RequestDate,
	PaymentMode=ISNULL(pdin.ConstantName,(CASE WHEN t.RequestQty>0 THEN 'Fuel' ELSE 'Cash' END)),
	CrAccountId=t.CreditAccountId,
	CrAccount=cr.FleetAcName,
	DrAccountId=t.DebitAccountId,
	VehicleId = t.VehicleId,
	t.HireVehicleId,
	VehicleNo = Upper(isnull(vm.VehicleRegNo,hvm.RegistrationNo)),
	VehicleType=(case when vm.Id>0 then 'O' else 'H' end),
	DriverId=dvr.Id,
	DriverName=dvr.DriverName,
	RequestQty=t.RequestQty,
	FuelRate=isnull((Select TOP 1 FuelRate from dbo.mFuelRateLog as fl where fl.PumpId=t.CreditAccountId and fl.FuelId=t.FuelId ORDER BY fl.FromDate DESC),0),
	RequestAmount=cast((case when t.AdvanceTypeId in(2,76,78) and t.RequestQty>0 then isnull(t.RequestQty,0)*isnull((Select TOP 1 FuelRate from dbo.mFuelRateLog as fl where fl.PumpId=t.CreditAccountId and fl.FuelId=t.FuelId ORDER BY fl.FromDate DESC),0) else t.RequestAmount end) as decimal(18,2)),
	RequestRemark=t.RequestRemark,
	RequestedBy=isnull(ur.FirstName,'') +' '+ isnull(ur.LastName,''),
	RequesterMobileNo=isnull(ur.PhoneNumber,''),
	t.RequestStatusId,
	FuelTypeId=t.FuelId,
	FuelType=gm.Name
	from dbo.tTripAdvanceLog as t
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	--join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId	
	join dbo.mConstantValue as rs on rs.ID=t.RequestStatusId
	join dbo.mVoucherType as vt on vt.Id=t.AdvanceTypeId
	left join dbo.apisessions as us on us.ID=t.CSID
	left join dbo.apiusers as ur on ur.Id=us.UserId
	left join dbo.mConstantValue as pdin on pdin.Id=t.PaidInId
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
	--left join dbo.tVehicleMovementLog as tl on tl.Id=t.TriplogId
	left join dbo.mDriverMaster as dvr on dvr.Id=t.DriverId
	left join dbo.mGenericMaster as gm on gm.Id=t.FuelId    
	where 
	t.RequestStatusId=1596 and
	(case when isnull(@parameter1,'')='' then 1 when isnull(vm.VehicleRegNo,hvm.RegistrationNo) like '%'+@parameter1+'%' then 1 else 0 end =1)
	and t.CreditAccountId=ISNULL(@parameter2,0)	
	order by t.RequestDate

GO
