/****** Object:  StoredProcedure [dbo].[Proc_Report_1308]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1308]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1308]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_Report_1308] 
	@parameter1 bigint,--Categoryid
	@parameter2 NVARCHAR(MAX),--ClassIds
	@parameter3 NVARCHAR(MAX),--AccountIds
	@parameter4 NVARCHAR(MAX),--FromDate
	@parameter5 NVARCHAR(MAX),--ToDate
	@parameter6 bigint=0, --GroupId
	@parameter7 bigint=0, --SparePartId
	@parameter8 bigint=0
as
begin
  declare @RoleId int
  set @RoleId = (select RoleId from dbo.mObjectCategory where Id = @parameter1)

select

    Office = O.OfficeName
   ,CCO.CategoryName
   ,CCO.ClassName
   ,ei.DocNo
   ,ei.DocDate
   ,[VendorRefNo] = ei.VendorRefNo
   ,[VendorAc] = cr.FleetAcName
   ,[SpareExpAc] = dr.FleetAcName
   ,[LabourExpAc] = dr1.FleetAcName
   ,ei.Remark
   ,vm.VehicleNo
   ,sm.SpareName
   ,sm.SpareAbbr
   ,SpareGroup = sg.[Name]
   ,t.Qty
   ,t.Rate
   ,t.Amount
   ,t.DiscountPercent
   ,t.DiscountAmount
   ,
    --t.VatPercent,
    --t.VatAmount,
    CGSTRate
   ,CGSTAmount
   ,SGSTRate
   ,SGSTAmount
   ,IGSTRate
   ,IGSTAmount
   ,t.OtherAmount
   ,t.NetAmount
   ,PONo = PO.PONo
   ,ItemRemark = t.Remarks
   ,CreatedBy=dbo.GetUserBySessionId(ei.CSID)
   ,CDOE=ei.CDOE
   ,ModifyBy=dbo.GetUserBySessionId(ei.MSID)
   ,MDOE=ei.MDOE
  FROM dbo.tSpareLogExtraInfo AS ei
  left join (SELECT
      t.PurchaseOrderId
     ,t.SparePartId
     ,t.VehicleId
     ,t.Qty
     ,t.Rate
     ,t.Amount
     ,t.DiscountPercent
     ,t.DiscountAmount
     ,t.CGSTRate
     ,t.CGSTAmount
     ,t.SGSTRate
     ,t.SGSTAmount
     ,t.IGSTRate
     ,t.IGSTAmount
     ,t.OtherAmount
     ,t.NetAmount
     ,t.MechanicId
     ,t.Remarks
     ,t.ExtraInfoId
    FROM dbo.tSpareLog AS t
    UNION ALL
    SELECT
      rl.PurchaseOrderId
     ,rl.LaborId
     ,rl.VehicleId
     ,rl.LaborQty
     ,rl.LaborRate
     ,rl.Amount
     ,0
     ,0
     ,rl.CGSTPercent
     ,rl.CGSTAmount
     ,rl.SGSTPercent
     ,rl.SGSTAmount
     ,rl.IGSTPercent
     ,rl.IGSTAmount
     ,rl.OtherAmount
     ,rl.NetAmount
     ,rl.MechanicId
     ,rl.Remark
     ,rl.ExtraInfoId
    FROM dbo.tRepairLabourLog AS rl) AS t ON ei.ID = t.ExtraInfoId
	join dbo.CCO(@parameter1, @parameter2, @parameter3)
    ON CCO.ObjectId = (CASE @RoleId WHEN 1030 THEN ei.CrAccountId WHEN 1130 THEN t.VehicleId
        ELSE ei.OfficeId
      END)
  join dbo.mOfficeMaster AS O ON O.Id = ei.OfficeId
  join dbo.mVehicleMaster AS vm ON vm.Id = t.VehicleId
  join dbo.mSpareMaster AS sm ON sm.Id = t.SparePartId
  left join dbo.mGenericMaster AS sg ON sm.SpareGroupId = sg.Id
  left join dbo.mLedger AS dr ON dr.Id = ei.DrAccountId
  left join dbo.mLedger AS cr ON cr.Id = ei.CrAccountId
  left join dbo.tVouchers AS v ON v.Id = ei.VoucherId
  left join dbo.mLedger AS dr1 ON dr1.Id = v.Account6Id
  left join dbo.tPurchaseOrder AS PO ON PO.Id = t.PurchaseOrderId
  where ei.VoucherTypeId = 22
  and ei.DocDate between @parameter4 and @parameter5
  and (ISNULL(@parameter6, 0) = 0 or sm.SpareGroupId = @parameter6)
  and (case when ISNULL(@parameter6, 0) = 0 then 1 when sm.SpareGroupId = @parameter6 then 1  else 0  end)=1
  and (case when ISNULL(@parameter7, 0) = 0 then 1 when t.SparePartId = @parameter7 then 1  else 0  end)=1
  and (case when ISNULL(@parameter8, 0) = 0 then 1 when ei.CrAccountId = @parameter8 then 1  else 0  end)=1
	
end
GO
