/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1675_BulkTripSettlement]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1675_BulkTripSettlement]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1675_BulkTripSettlement]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select top 10 * from dbo.tReportRequestPool where ReportId=1675 order by Id desc
-- select * from dbo.mReportProcedure
-- exec Proc_TRANS_1675_BulkTripSettlement   76846
-- select top 100 * from dbo.tTripsettlement order by Id desc
CREATE PROC [dbo].[Proc_TRANS_1675_BulkTripSettlement]
@reportrequestid bigint
AS
BEGIN
--return;
	   DECLARE @xml xml,@batchid nvarchar(100),@sessionId bigint,@ApprovedRunningExpenseId bigint,@AutoSettlementLowerRange bigint,@AutoSettlementUpperRange bigint
	   ,@NetBalancePending bigint,@SettlementNo nvarchar(100);
	   SELECT TOP 1 @xml=XmlParameter,@sessionId=CAST(Parameter2 as bigint) FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
	   SELECT TOP 1 @ApprovedRunningExpenseId=ConfigValue from  mClientConfiguration where Id='ApprovedRunningExpenseId';
	   SELECT TOP 1 @AutoSettlementLowerRange=ConfigValue from  mClientConfiguration where Id='AutoSettlementLowerRange';
	   SELECT TOP 1 @AutoSettlementUpperRange=ConfigValue from  mClientConfiguration where Id='AutoSettlementUpperRange';

	   set @batchid=NEWID()

	   if(@xml IS NULL)return;
	   DECLARE @hdoc AS INT, @PrepareXmlStatus INT
	   EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml
	   
		  select 
		  tl.OfficeId,temp.TriplogId,tl.VehicleId,tl.TriplogNo,tl.UnLoadingDate,temp.SettlementDate,tl.Driver1stId
		  ,TotalFuelQtyAdv=Isnull(fuelad.TotalFuelQtyAdv,0)
		  ,TotalFuelQtyExp= Isnull(expn.Totalfuelqtyexp,0)
		  ,TotalCashExp=Isnull(tl.BdgtAdvance,0) +Isnull(expn.UnBdgCashExpance,0)
		  ,TotalCashAdv=Isnull(fuelad.TotalCashAdv,0)
		  ,[RouteName]=rt.[Name],tl.BdgtFuelQty
		  ,FuelQtyDiff= Isnull(expn.Totalfuelqtyexp,0)-Isnull(fuelad.TotalFuelQtyAdv,0)
		  ,CashAmtDiff= (Isnull(tl.BdgtAdvance,0) +Isnull(expn.UnBdgCashExpance,0))-Isnull(fuelad.TotalCashAdv,0)
		  ,TotalFuelAmtExp= Isnull(tl.BdgtAdvance,0) +Isnull(expn.UnBdgCashExpance,0)
		  ,TotalDriverDebit=0
		  ,TotalfuelAmtAdv=Isnull(fuelad.TotalFuelAmtAdv,0)
		  ,BatchId=@batchid +cast(temp.TriplogId as nvarchar(100))
		  into #TripData
		  FROM OPENXML(@hdoc, '/DocumentElement/TripSettlement',2)
		  WITH (
			TriplogId bigint , SettlementDate datetime
		  ) as temp
		  join dbo.tVehicleMovementLog as tl on tl.Id=temp.TriplogId
		  left join dbo.mRouteMaster as rt on rt.Id=tl.RouteId
		  left join
		  (select 
			  MinRate=MIN(tal.FuelRate),
			  TotalFuelQtyAdv=SUM(CASE WHEN isnull(tal.RequestStatusId,0)<>1596 AND tal.AdvanceTypeId=2 THEN tal.FuelQty ELSE 0 END),
			  TotalFuelAmtAdv=SUM(CASE WHEN isnull(tal.RequestStatusId,0)<>1596 AND tal.AdvanceTypeId=2  THEN tal.FuelAmount ELSE 0 END),
			  TotalCashAdv=SUM(CASE WHEN isnull(tal.RequestStatusId,0)<>1596 AND tal.AdvanceTypeId=1 THEN tal.CashAmount ELSE 0 END),
			  tal.TripLogId,
			  OfficeId=Max(tal.OfficeId)
		  from [dbo].[tTripAdvanceLog] tal
		  group by tal.TripLogId) AS fuelad ON fuelad.TripLogId=temp.TripLogId
		  left join 
		  (select
			  UnBdgCashExpance = SUM(CASE WHEN em.NatureId <> 1479 AND tel.IsBudgeted = 0 THEN (CASE WHEN tel.SettledAmount>0 THEN  tel.SettledAmount ELSE tel.ClaimAmount END)  ELSE 0      END),
			  Totalfuelqtyexp=SUM(CASE WHEN isnull(em.NatureId,0)=1479 AND ISNULL(tel.TripAdvanceLogId,0)>0 AND isnull(tel.IsBudgeted,0)=0 THEN tel.FuelQty ELSE 0 END),
			  TotalFuelAmtExp=SUM(CASE WHEN isnull(em.NatureId,0)=1479 AND ISNULL(tel.TripAdvanceLogId,0)>0 AND isnull(tel.IsBudgeted,0)=0 THEN tel.SettledAmount ELSE 0 END),
			  etollExp=SUM(CASE WHEN ISNULL(em.NatureId,0)=1617 THEN tel.ClaimAmount ELSE 0 END),
			  tel.TripLogId
		  from [dbo].[tTripExpenseLog] tel 
		  left join [dbo].[mExpenseMaster] em on tel.ExpenseTypeId=em.Id
		  group by tel.TripLogId
		) as expn on expn.TripLogId=temp.TripLogId
		where ((Isnull(tl.BdgtAdvance,0) +Isnull(expn.UnBdgCashExpance,0))-Isnull(fuelad.TotalCashAdv,0)) between @AutoSettlementLowerRange and @AutoSettlementUpperRange
		and isnull(tl.SettlementId,0)=0

		if not exists (select 1 from #TripData)
		begin
			raiserror('No data for settlement',11,0);
			return;
		end
	BEGIN TRAN main
	BEGIN TRY 				
		insert into dbo.tTripSettlement(
		OfficeId, VehicleId, TripSheetNo, StartDate, EndDate, SettleDate, StartKm, 
		EndKm, RunKm, AddRunKm, Driver1Id, Remarks,  TripRoute, BdgtFuelQuantity,
		FuelExpense, TotalKmRun, TotalReferHour, BdgtReferQuantity, BdgtExtraFuelQty,
		ActualQty, TripExpense, TripAdvance, Shortage, DriverPayment, ShortageQty,
		SettledAmount/*Cash Diff*/, SettledAccountId, VoucherId, TotalBdgtFuelQty, 
		FuelQtyDifference /*Fuel Diff*/, BookingFreight, SetlBalVoucherId, ViewId, 
		CashDeposited /*Cash Rec*/, PenaltyAmount, FuelAmtDiff /*Fuel Diff*/, 
		NetBalanceFuelRate, FuelAdvance, SetlBalFuelVoucherId, AdjustmentTypeId, NetBalVoucherId, 
		NetBalancePending /*Fuel Diff*/, PreviousKM, PrepaidKm, PreviousExp, PrepaidExp, 
		BatchId, CSID, CDOE)

		select vml.OfficeId,temp.VehicleId, TripSheetNo='ATS-'+temp.TriplogNo, vml.TripStartDate, temp.UnLoadingDate, 
		temp.SettlementDate, vml.StartKm, vml.EndKm, vml.KmRun, vml.KmRunAdd, temp.Driver1stId, vml.Remarks, 
		RounteName=temp.[RouteName], temp.TotalFuelQtyAdv, FuelExpense=(temp.TotalFuelAmtExp), 
		vml.TotalKmRun, TotalReferHour=0, BdgtReferQuantity=0, 
		0, ActualQty=temp.TotalFuelQtyExp, TripExpense=(temp.TotalCashExp), 
		TripAdvance=(temp.TotalCashAdv), Shortage=0, DriverPayment=0, 
		ShortageQty=0, SettleAmount=temp.CashAmtDiff, 
		SettleAccountId=temp.Driver1stId, VoucerId=NULL, TotalBdgtFuelQty=vml.BdgtFuelQty, 
		FuelQtyDifference=temp.FuelQtyDiff, vml.CNFreight, SetlBalVoucherId=null, ViewId=1574, CashDeposited=0, 
		PenaltyAmount=isnull(temp.TotalDriverDebit,0), FuelAmtDiff=0, NetBalanceFuelRate=0, FuelAdvance=temp.TotalfuelAmtAdv, 
		SetlBalFuelVoucherId=null, AdjustmentTypeId=1590, NetBalVoucherId=null, NetBalancePending=0, 
		PreviousKM=0, PrepaidKm=0, PreviousExp=0, PrepaidExp=0, temp.BatchId, CSID=@sessionId, CDOE=GETDATE()
		from #TripData as temp
		join dbo.tVehicleMovementLog vml on vml.Id=temp.TriplogId
		where isnull(vml.SettlementId,0)=0	
			
		--Insert Extra fuel in Expense Table
		insert into dbo.tTripExpenseLog(ExpenseTypeId,TripLogId,ClaimAmount,SettledAmount
		,CSID,CDOE,BatchId,FuelQty,FuelRate,BudgetedQty,ShortFuelQty,ShortFuelAmt,ViewId,IsAuto,IsBudgeted)
		select @ApprovedRunningExpenseId,t.TriplogId,0,abs(t.CashAmtDiff),CSID=@sessionId, CDOE=GETDATE(),t.BatchId,0,0,0,0,0,1574,0,0 
		from #TripData t  
		join dbo.tTripSettlement st on st.BatchId=t.BatchId
		where isnull(t.CashAmtDiff,0)<0   
		
		update t set t.SettlementId=st.Id, t.BatchId=st.BatchId , MSID=@sessionId, MDOE=GETDATE()
		FROM tVehicleMovementLog as t
		join #TripData tmp on t.Id=tmp.TriplogId
		join dbo.tTripSettlement st on st.BatchId=tmp.BatchId
		where st.BatchId=tmp.BatchId

		update e set e.SettlementId=el.SettlementId
		, e.SettledAmount=case when el.CashAmtDiff>0 and el.ClaimAmount>0 and el.rowid=1 and el.NatureId=1480 then  
		el.ClaimAmount-el.CashAmtDiff
		when el.CashAmtDiff<0 and e.SettledAmount>0 then e.SettledAmount  else el.ClaimAmount end, e.BatchId=el.BatchId, MSID=@sessionId, MDOE=GETDATE() 
		from tTripExpenseLog as e 
		join
		(
			select ROW_NUMBER()over(partition by e.TriplogId,em.NatureId order by e.TriplogId,em.NatureId,e.ClaimAmount desc)as rowid
			,SettlementId=st.Id,e.ClaimAmount,st.BatchId,tmp.CashAmtDiff,e.Id,em.NatureId
			from tTripExpenseLog as e 
			join dbo.mExpenseMaster as em on em.Id=ExpenseTypeId
			join #TripData tmp on e.TripLogId=tmp.TriplogId
			join dbo.tTripSettlement st on st.BatchId=tmp.BatchId
			where st.BatchId=tmp.BatchId
		)el on el.Id=e.Id

		update a set a.SettlementId=ts.Id, a.BatchId=ts.BatchId, MSID=@sessionId, MDOE=GETDATE() 
		from tTripAdvanceLog a 
		join #TripData tmp on a.TripLogId=tmp.TriplogId
		join dbo.tTripSettlement ts on ts.BatchId=tmp.BatchId
		where ts.BatchId=tmp.BatchId
		
		insert into dbo.tVouchers(
		OfficeId, VoucherNo, VoucherDate, VoucherTypeId, VchAmount, Amount1, Amount2
		,Amount3, Amount4, Amount5, Amount6, Amount7
		,Amount8, Amount9, Amount10, FYID, IsAudited, IsAccepted, IsAccountsVisiblity, 
		BatchId, CSID, CDOE, VDCount, IsParent)

		select temp.OfficeId, VoucherNo='ATSV-'+temp.TriplogNo, VoucherDate=temp.SettlementDate, VoucherType=18,
		VchAmount=temp.TotalCashAdv, Amount1=0, Amount2=0
		,Amount3=0, Amount4=0, Amount5=0, Amount6=0, Amount7=0
		,Amount8=0, Amount9=0, Amount10=0, FYID=null, IsAudited=0, IsAccepted=0, IsAccountsVisiblity=0 ,
		temp.BatchId , CSID=@sessionId, CDOE=GETDATE(),VDCount=0, IsParent=0
		FROM #TripData as temp
	    join dbo.tTripSettlement st on st.BatchId=temp.BatchId

		update t SET t.VoucherId=v.Id
		FROM [dbo].[tTripSettlement] t 
		JOIN [dbo].[tVouchers] v on t.BatchId=v.BatchId
		join #TripData as temp on temp.BatchId=t.BatchId

		
		insert into dbo.tVoucherVD(VoucherId, OfficeId, AccountId, OrderId, VDAmount , CSID, CDOE, BatchId)
		select vchr.Id, tmpv.OfficeId, cvuelad.DebitAccountId, OrderId=1, cvuelad.TotalCashAdv, 
		CSID=@sessionId, CDOE=GETDATE(), tmpv.BatchId
		from #TripData tmpv 
		JOIN dbo.tVouchers vchr ON vchr.BatchId=tmpv.BatchId
		join dbo.tTripSettlement st on st.BatchId=tmpv.BatchId
		JOIN 
		(
		  SELECT 
		  TotalCashAdv=SUM(CASE WHEN isnull(tal.RequestStatusId,0)<>1596 AND tal.AdvanceTypeId<>2 THEN tal.CashAmount ELSE 0 END),
		  tal.TripLogId,
		  tal.DebitAccountId
		  FROM [dbo].[tTripAdvanceLog] tal
		  GROUP BY tal.TripLogId, tal.DebitAccountId
		) AS cvuelad ON cvuelad.TripLogId=tmpv.TriplogId
	
		insert into dbo.tVoucherVDR(VDId, ReferenceNo, VDRTypeID, RefID, VDRAmount, DueDate, CSID, CDOE, BatchId)
		select vchrd.Id, cuelad.ReferenceNo, VDRTypeID=(CASE WHEN  isnull(cuelad.VDRId,0) >0 THEN 1014 ELSE 1448 END), 
		RefID=(CASE WHEN  isnull(cuelad.VDRId,0)>0 THEN cuelad.VDRId ELSE NULL END),cuelad.CashAmount, tmpv.SettlementDate, 
		CSID=@sessionId, CDOE=GETDATE(), tmpv.BatchId
		from #TripData tmpv 
		JOIN tVoucherVD vchrd ON vchrd.BatchId=tmpv.BatchId
		join dbo.tTripSettlement st on st.BatchId=tmpv.BatchId
		JOIN 
		(
			SELECT 
			CashAmount=Sum(tal.CashAmount),
			tal.TripLogId,
			tal.DebitAccountId,
			ReferenceNo=MAX(tal.ReferenceNo),
			tal.VDRId	   
			FROM [dbo].[tTripAdvanceLog] tal
			GROUP BY tal.TripLogId, tal.DebitAccountId, tal.VDRId
		) AS cuelad ON cuelad.TripLogId=tmpv.TripLogId  

	   --Trip Expense VDS   
	   insert into dbo.tVoucherVD(VoucherId, OfficeId, AccountId, OrderId, VDAmount , CSID, CDOE, BatchId)
	   select vchr.Id, tmpv.OfficeId, cvuelad.DebitAccountId, OrderId=3, cvuelad.TotalExp, 
	   CSID=@sessionId, CDOE=GETDATE(), tmpv.BatchId
	   from #TripData tmpv 
	   JOIN dbo.tVouchers vchr ON vchr.BatchId=tmpv.BatchId and vchr.VoucherTypeId=19
	   join dbo.tTripSettlement st on st.BatchId=tmpv.BatchId
	   JOIN 
	   (
		  SELECT 
		  TotalExp=Sum(isnull(e.SettledAmount,0)),
		  e.TripLogId,
		  DebitAccountId=expm.LedgerId
		  from tTripExpenseLog as e 
		  join #TripData tmp on e.TripLogId=tmp.TriplogId
		  join dbo.mExpenseMaster as expm on expm.Id=e.ExpenseTypeId	   
		  where tmp.BatchId=tmp.BatchId
		  GROUP BY e.TripLogId, expm.LedgerId
	   ) AS cvuelad ON cvuelad.TripLogId=tmpv.TripLogId


	   COMMIT TRAN main	  
    END TRY
    BEGIN CATCH
	   IF(@@TRANCOUNT > 0)
		  ROLLBACK TRAN main;
		  THROW; -- raise error to the client
    END CATCH    
END
GO
