/****** Object:  StoredProcedure [dbo].[Proc_Report_1465]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1465]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1465]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1465]
--1465		Unbilled CNs Details
@parameter1 BIGINT,--Categoryid
@parameter2 NVARCHAR(MAX),--ClassIds
@parameter3 NVARCHAR(MAX),--AccountIds
@parameter4 NVARCHAR(MAX),--FromDate
@parameter5 NVARCHAR(MAX)--ToDate
AS
BEGIN
  DECLARE @RoleId INT
  SET @RoleId = (SELECT
      RoleId
    FROM dbo.mObjectCategory
    WHERE Id = @parameter1)

  SET NOCOUNT ON;
  SELECT
    CCO.CategoryName
   ,CCO.ClassName
   ,LoadingOffice = lo.OfficeName
   ,t.CNNo
   ,RPSNo = t.RefI
   ,CNType = cnt.ConstantName
   ,t.CNDate
   ,ChgRoute = cr.Abbr
   ,BillingParty = bp.FleetAcName
   ,t.Rate
   ,t.CNBasicAmount
   ,t.IServiceTax
   ,t.CNSubTotalII
   ,t.CNTotalFreight
   ,t.OServiceTax
   ,t.ODeliveryST
   ,Vehicle = vm.VehicleNo
    ,TripNo=vml.TriplogNo
   ,t.IsZeroFreightCN
   ,t.ReachTime
   ,t.DeliveryDate
   ,t.PODDate
   ,t.ActualWeight
   ,t.ChargedWeight
   ,t.ActualQty
   ,t.ChargedQty
   ,LoadType = lt.Name
   ,RateChart = rc.Name
   ,t.Remark
    ,Source=t.ViewId
  FROM dbo.tCNMaster AS t
  INNER JOIN dbo.CCO(@parameter1, @parameter2, @parameter3)
    ON CCO.ObjectId = (CASE @RoleId
        WHEN 1022 THEN t.BillingPartyId
        ELSE t.LoadingOfficeId
      END)
    LEFT JOIN tVehicleMovementLog vml ON t.TripLogId = vml.Id
  LEFT JOIN dbo.mRouteMaster AS cr
    ON cr.Id = t.ActRouteId
  LEFT JOIN dbo.mRouteMaster AS ar
    ON ar.Id = t.ChgRouteId
  LEFT JOIN dbo.mLedger AS bp
    ON bp.Id = t.BillingPartyId
  LEFT JOIN dbo.mConstantValue AS cnt
    ON cnt.Id = t.CNTypeId
  LEFT JOIN dbo.mVehicleMaster AS vm
    ON vm.Id = t.VehicleId
  LEFT JOIN dbo.mOfficeMaster AS lo
    ON lo.Id = t.LoadingOfficeId
  LEFT JOIN dbo.mLoadType AS lt
    ON lt.Id = t.LoadTypeId
  LEFT JOIN dbo.mCNRateContractLog AS rcl
    ON rcl.Id = t.RateId
  LEFT JOIN dbo.mRateContract AS rc
    ON rc.Id = rcl.RateContractId
  WHERE t.BillId IS NULL
  AND (t.CNDate BETWEEN @parameter4 AND @parameter5)
END
GO
