/****** Object:  StoredProcedure [dbo].[Proc_Report_1496_test]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1496_test]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1496_test]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from dbo.apiviews
--	select * from dbo.tGPSStatusLog where vehicleno like '%1499%'
--	truncate table dbo.tGPSStatusLog
--select * from dbo.tReportREquestpool where procid=520

--	[Proc_Report_1496_test] 'O',0,0
CREATE procedure [dbo].[Proc_Report_1496_test] 
(
	@parameter1 nvarchar(1)='',  -- Vehicletype
	@parameter2 bigint=0, -- VehicleID
	@parameter3 bigint=0 --TrackingSupervisorId 
)
AS 
BEGIN
	declare @KMSource int=0,@KmPerDay int=0
	set @KMSource=isnull((select ConfigValue from dbo.mClientConfiguration where id='VTSDashBoardBudgetedKMSource'),0)
	set @KmPerDay=isnull((select ConfigValue from dbo.mClientConfiguration where Id='ExpectedKmPerDayForTrips'),0)

	set @parameter3=isnull(@parameter3,0)
	set @parameter2=isnull(@parameter2,0)
	set @parameter1=isnull(@parameter1,'')
	
	--t.Id,
	
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter2) --Change Value parameter1 to parameter2

	SET NOCOUNT ON;
	select t.* 
	,EarlyDelayKm=t.ExpectedKmRun-t.GPSKM
	,EarlyDelayStatus=
	case when (t.ExpectedKmRun-t.GPSKM) < -25 then  'BeforeTime' 
	when (t.ExpectedKmRun-t.GPSKM) >= -25 and (t.ExpectedKmRun-t.GPSKM) <= 25  then 'OnTime' 
	when (t.ExpectedKmRun-t.GPSKM) > 25 and (t.ExpectedKmRun-t.GPSKM) <= 150 then 'Delay' else 'Abnormal Delay' end
	from(
	select t.* 
	,ExpectedKmRun=	dbo.[MinimumNum](case when t.TimeElapsedHrs=0 or t.TAT = 0 then 0 else (t.TimeElapsedHrs / t.TAT) * BdgtKmRun end, BdgtKmRun)
	

	from(	
		SELECT
		cast(0 as bit) [Mark],
		vts.Id
		,Vehicle1Ref=Case when t.TripTypeId=1158 then inc.Name else 'MKT' end--CCO.ClassName
		,TripMode=case when t.UnLoadingDate is  null then n.Name else '' end	--its
		,Touching=case when t.UnLoadingDate is  null then t.Remarks else '' end--its
		,LoadingReachDate=case when t.UnLoadingDate is  null then t.LoadingReachDate else null end
		,LoadingDate=case when t.UnLoadingDate is  null then t.LoadingDate else null end
		,LoadDate=t.LoadingDate
		,LoadingDetnInDays=case when t.UnLoadingDate is  null then DATEDIFF(day,t.LoadingReachDate,t.LoadingDate) else 0 end
		,TAT=case when t.UnLoadingDate is null then case when @KmPerDay>0 then round((t.TotalKmRun/@KmPerDay),0) else ISNULL(t.ExpTime, 0) end else 0 end
		,ETA= case when t.UnLoadingDate is null then case when @KmPerDay>0 then dateadd(day,(t.TotalKmRun/@KmPerDay)+1,t.LoadingDate) else  t.ExpDeliveryDate end else null end
		,TransitDays=case when t.UnLoadingDate is  null then case when @KmPerDay>0 then DateDiff(day,dateadd(day,(t.TotalKmRun/@KmPerDay)+1,t.LoadingDate),t.UnloadingReachDate) else DATEDIFF(day,t.LoadingDate,t.UnloadingReachDate) end else 0 end
		,CurrentTime=case when t.UnLoadingDate is  null then GETDATE() else null end--its
		,TimeElapsedHrs=cast((1*isnull((case when t.UnLoadingDate is not null then 0 when t.UnloadingReachDate is  null then DATEDIFF(hour,t.LoadingDate,GETDATE()) else DATEDIFF(hour,t.LoadingDate,t.UnloadingReachDate) end),0)) as decimal)--its
		,RemainingHrs=isnull(TATTime,0) + 1*isnull((case when  t.UnLoadingDate is not null then 0 when t.UnloadingReachDate is  null then t.ExpTime-isnull(DATEDIFF(hour,t.LoadingDate,GETDATE()),0) else 0 end),0)
		,Office=ofc.OfficeName
		,VehicleSize=vt.Name
	
		,StatusName=dts.Name
		,StatusDate=vts.StartDate
		,StatusLocation=ctv.CityName
		,GPSVendor=gps.FleetAcName
		,TripNo=case when t.UnLoadingDate is null then t.TriplogNo else '' end
		,TripDate=case when t.UnLoadingDate is null then convert(nvarchar(10),t.TripStartDate,103) +'  ' +convert(nvarchar(10),t.TripStartDate,108) else null end
		,Party=case when t.UnLoadingDate is  null then bp.FleetAcName else '' end
		,RouteName=case when t.UnLoadingDate is  null then rt.Name else '' end
		,FromPlace=case when t.UnLoadingDate is  null then fp.CityName else '' end
		,ToPlace=case when t.UnLoadingDate is  null then tp.CityName else '' end
	
		,Remark=vts.Remark
		,CU=csu.UserName
		,DOE=vts.CDOE
		,MU=msu.UserName
		,DOM=vts.MDOE
		,VehicleId=case when t.TripTypeId=1160 then hvm.Id when t.TripTypeId=1158 then v.Id end
		,VehicleNo=case when t.TripTypeId=1160 then hvm.RegistrationNo else v.VehicleRegNo end 
		,OH=case when t.TripTypeId=1160 then 'H' when t.TripTypeId=1158 then 'O' end
		,GPSKM=case when @KMSource=1 then isnull(gd.TravelledKM,0) else t.TotalKmRun end
		,GPSSpeed=isnull(gd.Speed,0)
		,RemainingKm=case when @KMSource=1 then isnull(gd.RemainingKM,0) else t.TotalKmRun-isnull(gd.TravelledKM,0) end
		,BdgtKmRun=isnull(case when t.UnLoadingDate is  null then case when @KMSource=1 then isnull(gd.BudgetedKM,0) else t.TotalKmRun end else 0 end,0)
		--,ExpectedKmRun=	case when isnull((case when t.UnloadingReachDate is  null then DATEDIFF(hour,t.LoadingDate,GETDATE()) else DATEDIFF(hour,t.LoadingDate,t.UnloadingReachDate) end),0)=0 then 0 else isnull((case when t.UnloadingReachDate is  null then DATEDIFF(hour,t.LoadingDate,GETDATE()) else DATEDIFF(hour,t.LoadingDate,t.UnloadingReachDate) end),0) * bdgtKmRun end, bdgtKmRun)
		--,EarlyDelayKm=case when @KMSource=1 then gd.TravelledKM else t.TotalKmRun end
		--,EarlyDelayStatus=''
		,GPSLocation=isnull(gd.GPSLocation,'')
		,AvgSpeed=isnull((case when t.UnLoadingDate is null then case when isnull(t.ExpTime,0)=0 then 0 else round(isnull(t.TotalKmRun,0)/isnull(t.ExpTime,0),2) end else 0 end),0)
		,UnloadingReachDate=case when t.UnLoadingDate is  null then t.UnloadingReachDate else null end
		,FleetPlan=''
		,LoadType=case when t.UnLoadingDate is  null then ltype.[Name] else '' end
		,RevisedDate=t.Date1
		,RevisedLocation=rl.CityName
		,TravelledKmDayLog=case when t.UnLoadingDate is  null then (select 
		ISNULL((STUFF((SELECT ',' + (cast(day(LogDate) as nvarchar(5)) +'-'+ cast(cast(GPSKm as bigint) as nvarchar(20))+'   ') FROM dbo.tGPSKmLog AS c where c.VehicleID=t.VehicleId and c.LogDate between cast(t.TripStartDate as Date) and cast(isnull(case when t.TripNatureId=1075 then t.UnloadingReachDate else t.UnloadingDate end,getdate()) as Date) order by c.LogDate	
		FOR XML PATH (''), TYPE, ROOT).value('root[1]', 'nvarchar(max)'), 1, 1, '')), '')) else '' end,
		TriplogId=t.Id
		from 
		(
			select * ,Row_Num = (row_number() over (partition by isnull(vts.VehicleId, 0), isnull(vts.HireVehicleId, 0) order by vts.StartDate desc))
			FROM dbo.tVTSStatusLog vts
			where (case when @parameter1 = 'O' AND isnull(vts.VehicleId, 0) > 0 THEN 1 when @parameter1 = 'H' AND ISNULL(vts.HireVehicleId, 0) > 0 
			THEN 1 when @parameter1 = 'Both' THEN 1 else 0 end) = 1
		) as vts 
		JOIN dbo.tVehicleMovementLog as t on vts.TriplogId=t.Id	
		left join dbo.tCNMaster as CN on CN.triplogId=t.Id
		left JOIN dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
		LEFT JOIN dbo.mGenericMaster as n on n.Id=t.TripModeId
		left JOIN dbo.mVehicleMaster as v on v.Id=t.VehicleId	
		left join dbo.mGenericMaster inc on inc.Id=v.Ref1Id
		LEFT JOIN dbo.mHireVehicle as hvm on hvm.Id=vts.HireVehicleId
		left join
		(
			select rowid=ROW_NUMBER()over(partition by gd.VehicleId order by CDOE  desc),gd.* from dbo.tGPSStatusLog as gd
		)as gd on gd.TripLogId=t.Id and gd.rowid=1
		LEFT JOIN dbo.mGenericMaster as vt on vt.Id=v.VehicleTypeId
		LEFT JOIN dbo.mLedger as bp on bp.Id=t.PartyId
		LEFT JOIN dbo.mRouteMaster as rt on rt.Id=t.RouteId
		LEFT JOIN dbo.mCityMaster as fp on fp.Id=rt.FromPlaceId
		LEFT JOIN dbo.mCityMaster as tp on tp.Id=rt.ToPlaceId
		LEFT JOIN dbo.mCityMaster as ctv on ctv.Id=vts.LocationId
		LEFT JOIN dbo.mDTSStatus as dts on dts.Id=vts.DTSStatusId
		LEFT JOIN dbo.mLedger as gps on gps.Id=v.GPSVendorId
		LEFT JOIN ApiSessions as cs on cs.Id=vts.CSID
		LEFT JOIN dbo.ApiUsers as csu on csu.Id=cs.UserId
		LEFT JOIN ApiSessions as ms on ms.Id=vts.MSID
		LEFT JOIN dbo.ApiUsers as msu on msu.Id=ms.UserId
		left join dbo.mLoadType as ltype on ltype.ID=cn.LoadTypeId
		LEFT JOIN dbo.mCityMaster as rl on rl.Id=t.Location1ID
		Left Join
		(
			select ttm.TriplogId,TATTime=case when sum(isnull(ttm.ConsumedMinutes,0))=0 then 0 else sum(isnull(ttm.ConsumedMinutes,0))/60  end from dbo.tvtsstatuslog as ttm where ttm.DTSStatusid=218 group by ttm.TriplogId
		)as ttm on t.Id=ttm.TriplogId
		where vts.Row_Num = 1 AND (CASE WHEN @parameter1='O' AND v.Id IS NOT NULL then 1 WHEN @parameter1='H' AND hvm.Id IS NOT NULL THEN 1 WHEN @parameter1='Both' THEN 1 ELSE 0 END)=1
		AND (CASE WHEN @parameter3=0 THEN 1 WHEN (@parameter3>0 AND (@parameter3 =ISNULL(v.Ref1Id,-1) OR @parameter3 =ISNULL(hvm.Ref1Id,-1))) THEN 1 ELSE 0 END)=1
		AND (CASE WHEN @parameter2=0 THEN 1 WHEN @parameter2>0 AND (@parameter2 =ISNULL(v.Id,-1) OR @parameter2 =ISNULL(hvm.Id,-1)) AND (@parameter1='O' OR @parameter1='H') THEN 1 ELSE 0 END)=1
	 
		 )as t
		 		 )as t
END
GO
