/****** Object:  StoredProcedure [dbo].[Proc_Report_1327]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1327]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1327]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Report_1327]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)--AccountIds	
as
begin
select 
Ref1=vt1.Name,
	y.VehicleNo,
	y.YearOfManufacter,
	ofc.OfficeName,
	VehicleOwner = ownr.FleetAcName,
	VehicleModelName = vm.ModelName,
	y.VehicleRegNo,
	y.PurchaseDate,
	y.PurchaseAmount,
	PassingAuthority = ct.CityName,
	y.RegistrationDate,
	y.SoldDate,
	y.ChassisNo,
	y.EngineNo,
	y.GrossWeight,
	VehicleSize = vt.Name,
	y.UnloadWeight,
	y.VehicleHeight,
	y.VehicleWidth,
	y.VehicleLength,
	y.IsGPSAttached,
	LoadAvg=LoadedMileage,
	EmptyAvg=EmptyMileage,
	y.Capacity,
	CapacityUnit=(Select u.[UnitName] from dbo.mUnitMaster as u where u.Id=y.CapacityUnitId),
	Financier=fncr.AccountName,
	DealerId=dlr.AccountName,
	y.DebitCardNo,
	y.DebitCardAcNo,
	y.FastTagNo,
	y.FastTagAcNo,
	y.FuelCardNo,
	y.FuelCardAcNo,
	DriverName=dvr.DriverName,
	DriverCode=dvr.DriverCode,
	DriverLicenceNo=dvr.LicenceNo,
	LicenceAuthority=aut.CityName,
	DriverMobileNo=p.ContactNumber,
	DriverOnVehiceldt=vdm.StatusDate

   from dbo.mVehicleMaster as y
   join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=y.Id
   left join dbo.mLedger as ownr on ownr.Id=y.OwnerPartyId
   left join dbo.mLedger as fncr on fncr.Id=y.FinancierId
   left join dbo.mLedger as dlr on dlr.Id=y.DealerId
   left join dbo.mOfficeMaster as ofc on ofc.Id=y.OfficeId
   left join dbo.mVehicleModel as vm on vm.ID=y.VehicleModelId
   left join dbo.mCityMaster as ct on ct.Id=y.PassingAuthorityId
   left join dbo.mGenericMaster as vt on vt.Id=y.VehicleTypeId
   left join dbo.mGenericMaster as vt1 on vt1.Id=y.Ref1Id
   left join (select vdm.*,Row_Num=ROW_NUMBER()OVER(PARTITION BY VehicleId ORDER BY vdm.StatusDate desc) FROM dbo.tDriverVehicleMapping as vdm where isnull(vdm.NextLogId,0)=0 and vdm.DriverRoleId=1131 AND vdm.DriverStatusId=1225) as vdm on y.Id=vdm.VehicleId and vdm.Row_Num=1
   left join dbo.mDriverMaster as dvr on dvr.Id=vdm.DriverId
   left join dbo.mCityMaster as aut on aut.Id=dvr.IssuingPlaceId
   left join dbo.mPostalAddress as p on p.Id=dvr.CurrentAddressId
   order by y.VehicleRegNo
 --  FOR JSON PATH
end


GO
