/****** Object:  StoredProcedure [dbo].[Proc_Report_1576_TripApporvalSave]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1576_TripApporvalSave]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1576_TripApporvalSave]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1576_TripApporvalSave]
@parameter1 bigint, --@CSID
@parameter2 nvarchar(max), --TripIds
@parameter3 bit=1 --1:approved and 0:unapproved
AS
BEGIN
  declare @sql nvarchar(max)= N'update l set l.IsApproved='+cast(@parameter3 as nvarchar)+', l.MSID='+cast(@parameter1 as nvarchar)+', l.MDOE=GETDATE()
	    FROM [dbo].[tVehicleMovementLog] l where l.Id IN ('+@parameter2+')'
	    exec sp_executesql  @sql
END  


--select * from tVehicleMovementLog where Id IN(290864,290865)
GO
