/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1571_GenHireSlipVoucher]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1571_GenHireSlipVoucher]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1571_GenHireSlipVoucher]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRNS_1571_GenHireSlipVoucher] 
@parameter1 nvarchar(500)
AS
BEGIN
DECLARE @AccountStatus nvarchar(10);
SELECT TOP 1 @AccountStatus=[Value] FROM ApiConfigurations WHERE Id='VoucherVisiblityFlag'/*0:NA,1:DirectImport,2:ApprovalRequired*/
update v set BatchId=@parameter1 FROM [dbo].[tVouchers] V WHERE V.Id in(SELECT VoucherId FROM [dbo].[tVehicleMovementLog] WHERE BatchId=@parameter1)
update v set BatchId=@parameter1 FROM [dbo].[tVouchers] V WHERE V.Id in(SELECT HSTDSVoucherId FROM [dbo].[tVehicleMovementLog] WHERE BatchId=@parameter1)
update tVehicleMovementLog set HSTDSVoucherId=NULL, VoucherId=NULL, VDRId=NULL where BatchId=@parameter1
delete tVouchers where BatchId=@parameter1
DECLARE @tdsAccountId bigint=ISNULL((select TOP 1 [Value] from ApiConfigurations where Id='HSTDSAccountId'),0)
if(len(@parameter1)>0)
	BEGIN
	DECLARE @trips nvarchar(max)='';
	SELECT @trips=@trips+(CASE WHEN LEN(@trips)>0 THEN ',' ELSE '' END)+vh.TriplogNo
	from tVehicleMovementLog as vh where  vh.MarketFreight!=0 AND vh.BatchId=@parameter1 AND (ISNULL(vh.HireChargesAcId,0)=0 OR ISNULL(vh.HVPId,0)=0);
	IF(LEN(@trips)>0)
	BEGIN
	SET @trips=@trips+' don''t have Valid Hire Vehicle Party or Hire Account';
	RAISERROR(@trips,11,0);
	return;
	END
	INSERT INTO[dbo].[tVouchers]([OfficeId], [VoucherNo], [VoucherDate], [VoucherDateTime], [VoucherTypeId], [VchAmount],
			[Account1Id] ,[Amount1], [Account2Id] ,[Amount2], [Amount3],[Amount4],[Amount5],[Amount6],[Amount7],[Amount8],[Amount9],[Amount10],
			 [IsAudited], [IsAccepted], [IsAccountsVisiblity], [ViewId], [CSID], [CDOE], [MSID], [BatchId], [FYID])
			SELECT OfficeId= ISNULL(vh.OfficeId,0), VoucherNo=vh.TriplogNo, VoucherDate=ISNULL(vh.VoucherDate,vh.TripStartDate),
			VoucherDateTime=ISNULL(vh.VoucherDate,vh.TripStartDate), VoucherTypeId=77, [VchAmount]=vh.MarketFreight, Account1Id=vh.HVPId, 
		   Amount1=-vh.MarketFreight, Account2Id= vh.HireChargesAcId, Amount2=vh.MarketFreight, Amount3=0,Amount4=0,Amount5=0,Amount6=0,
		   Amount7=0,Amount8=0,Amount9=0,Amount10=0, [IsAudited]=0, IsAccepted=(CASE @AccountStatus WHEN 1 THEN 1 ELSE 0 END), IsAccountsVisiblity=(CASE @AccountStatus WHEN 0 THEN 0 ELSE 1 END), ViewId=CAST(vh.FormId as bigint), 
		   CSID=vh.CSID, CDOE=vh.CDOE, MSID=vh.Id, BatchId=@parameter1, FYID=f.Id
		   from tVehicleMovementLog as vh 
		   left join [dbo].[mFy] F on (vh.VoucherDate BETWEEN f.OpeningDate AND F.ClosingDate)
		    where vh.MarketFreight!=0 AND vh.BatchId=@parameter1;

declare @count bigint=@@ROWCOUNT
	if(@count>0)
	BEGIN
	INSERT INTO [dbo].[tVoucherVD]([OfficeId], [VoucherId], [AccountId], [VDAmount], [OrderId], [BatchId], [CSID], [CDOE])
	SELECT OfficeId=v.OfficeId, VoucherId=v.Id, AccountId=v.Account1Id, VDAmount=v.Amount1, OrderId=1, BatchId=@parameter1, CSID=v.CSID, CDOE=v.CDOE
	FROM tVouchers as v WHERE v.BatchId=@parameter1

	INSERT INTO[dbo].[tVoucherVDR]([VDId], [VDRAmount], [VDRTypeID], [DueDate], [ReferenceNo],[AccountId], [BatchId], [CSID], [CDOE], [MSID])
	SELECT VDId=VD.Id, VDRAmount=VD.VDAmount, VDRTypeID=1013, [DueDate]=DV.VoucherDate, ReferenceNo=DV.VoucherNo,
	AccountId=VD.AccountId, BatchId=@parameter1, CSID=VD.CSID, CDOE=VD.CDOE, MSID=DV.MSID 
	from tVoucherVD AS VD LEFT JOIN tVouchers AS DV ON VD.VoucherId=DV.Id 
	--JOIN mLedger AS L ON VD.AccountId=L.Id
	WHERE OrderId=1 AND DV.BatchId=@parameter1

	INSERT INTO [dbo].[tVoucherVD]([OfficeId], [VoucherId], [AccountId], [VDAmount], [OrderId], [BatchId], [CSID], [CDOE])
	SELECT OfficeId=v.OfficeId, VoucherId=v.Id, AccountId=v.Account2Id, VDAmount=v.Amount2, OrderId=2, BatchId=@parameter1, CSID=v.CSID, CDOE=v.CDOE
	from tVouchers as v where v.BatchId=@parameter1

	INSERT INTO[dbo].[tVoucherVDR]([VDId], [VDRAmount], [VDRTypeID], [DueDate], [ReferenceNo],[AccountId], [CSID], [CDOE])
	SELECT VDId=VD.Id, VDRAmount=VD.VDAmount, VDRTypeID=1014, DueDate=DV.VoucherDate, ReferenceNo=DV.VoucherNo,
	AccountId=VD.AccountId, CSID=VD.CSID, CDOE=VD.CDOE 
	from tVoucherVD AS VD LEFT JOIN tVouchers AS DV ON VD.VoucherId=DV.Id 
	JOIN mLedger AS L ON VD.AccountId=L.Id
	where OrderId=2 AND L.ReferenceFlag=1 AND DV.BatchId=@parameter1

	UPDATE t SET t.VoucherId=v.Id, VDRId=vdr.Id  
	FROM tVehicleMovementLog t join tVouchers v ON t.Id=v.MSID LEFT JOIN tVoucherVDR vdr ON t.Id=vdr.MSID 	
	WHERE v.BatchId=@parameter1 and v.VoucherTypeId=77;

	IF(EXISTS(SELECT Id FROM [dbo].[tVehicleMovementLog] WHERE BatchId=@parameter1 AND ISNULL(VoucherId,-1)=-1))
	THROW 1000,'Voucher has not been created for some of HireMemo''s',1;

	/***************************************************** TDS Voucher****************************/
	INSERT INTO[dbo].[tVouchers]([OfficeId], [VoucherNo], [VoucherDate], [VoucherDateTime], [VoucherTypeId], [VchAmount],
	[Account1Id] ,[Amount1], [Account2Id] ,[Amount2], [Amount3],[Amount4],[Amount5],[Amount6],[Amount7],[Amount8],
	[Amount9],[Amount10], [IsAudited], [IsAccepted], [IsAccountsVisiblity], [ViewId], [CSID], [CDOE], [MSID], [BatchId], [FYID])
	SELECT OfficeId= ISNULL(vh.OfficeId,0), VoucherNo='HSTDS-'+ vh.TriplogNo, VoucherDate=ISNULL(vh.VoucherDate,vh.TripStartDate),
	VoucherDateTime=ISNULL(vh.VoucherDate,vh.TripStartDate), VoucherTypeId=87, [VchAmount]=vh.HSTDSAmount, Account1Id=@tdsAccountId, 
	Amount1=-vh.HSTDSAmount, Account2Id= ISNULL(vh.HVPId,0), Amount2=vh.HSTDSAmount, Amount3=0,Amount4=0,Amount5=0,Amount6=0,
	Amount7=0,Amount8=0,Amount9=0,Amount10=0, [IsAudited]=0, IsAccepted=(CASE @AccountStatus WHEN 1 THEN 1 ELSE 0 END), IsAccountsVisiblity=(CASE @AccountStatus WHEN 0 THEN 0 ELSE 1 END), ViewId=vh.FormId, 
	CSID=vh.CSID, CDOE=vh.CDOE, MSID=vh.Id, BatchId=@parameter1, FYID=f.Id
	from tVehicleMovementLog as vh left join [dbo].[mFy] F on (vh.VoucherDate BETWEEN f.OpeningDate AND F.ClosingDate)
	where vh.HSTDSAmount!=0 AND vh.BatchId=@parameter1;


	INSERT INTO [dbo].[tVoucherVD]([OfficeId], [VoucherId], [AccountId], [VDAmount], [OrderId], [BatchId], [CSID], [CDOE])
	SELECT OfficeId=v.OfficeId, VoucherId=v.Id, AccountId=v.Account1Id, VDAmount=v.Amount1, OrderId=1, BatchId=@parameter1, CSID=v.CSID, CDOE=v.CDOE
	FROM tVouchers as v WHERE v.BatchId=@parameter1 AND v.VoucherTypeId=87


	INSERT INTO[dbo].[tVoucherVDR]([VDId], [VDRAmount], [VDRTypeID], [DueDate], [ReferenceNo],[AccountId], [CSID], [CDOE])
	SELECT VDId=VD.Id, VDRAmount=VD.VDAmount, VDRTypeID=1013, [DueDate]=DV.VoucherDate, ReferenceNo=REPLACE(DV.VoucherNo,'HSTDS-',''),
	AccountId=VD.AccountId, CSID=VD.CSID, CDOE=VD.CDOE from tVoucherVD AS VD 
	LEFT JOIN tVouchers AS DV ON VD.VoucherId=DV.Id 
	JOIN mLedger AS L ON VD.AccountId=L.Id
	WHERE OrderId=1 AND L.ReferenceFlag=1 AND DV.BatchId=@parameter1 And DV.VoucherTypeId=87


	INSERT INTO [dbo].[tVoucherVD]([OfficeId], [VoucherId], [AccountId], [VDAmount], [OrderId], [BatchId], [CSID], [CDOE])
	SELECT OfficeId=v.OfficeId, VoucherId=v.Id, AccountId=v.Account2Id, VDAmount=v.Amount2, OrderId=2, BatchId=v.BatchId, CSID=v.CSID, CDOE=v.CDOE
	from tVouchers as v where v.BatchId=@parameter1 AND v.VoucherTypeId=87


	INSERT INTO[dbo].[tVoucherVDR]([VDId], [VDRAmount], [VDRTypeID], [DueDate], [ReferenceNo],[AccountId], [CSID], [CDOE],[RefID])
	SELECT VDId=VD.Id, VDRAmount=VD.VDAmount, VDRTypeID=1014, DueDate=DV.VoucherDate, ReferenceNo=REPLACE(DV.VoucherNo,'HSTDS-',''),
	AccountId=VD.AccountId, CSID=VD.CSID, CDOE=VD.CDOE,[RefID]=T.VDRId from tVoucherVD AS VD 
	LEFT JOIN tVouchers AS DV ON VD.VoucherId=DV.Id 
	JOIN tVehicleMovementLog T ON DV.MSID=T.Id
	where OrderId=2 AND DV.BatchId=@parameter1 And DV.VoucherTypeId=87


	UPDATE t SET t.HSTDSVoucherId=v.Id FROM tVehicleMovementLog t 
	join tVouchers v ON t.Id=v.MSID WHERE v.BatchId=@parameter1 and v.VoucherTypeId=87;


	UPDATE tVouchers SET MSID=NULL where BatchId=@parameter1

	UPDATE tVoucherVDR SET MSID=NULL where BatchId=@parameter1

	END
	END
END				
GO
