/****** Object:  StoredProcedure [dbo].[Proc_Report_1296]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1296]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1296]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Proc_Report_1296]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime--todate	
as
begin
	DECLARE @RoleId int
	set @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		Office = o.OfficeName,
		DocDate = ei.VoucherDate,        
		DocNo = ei.VoucherNo,
		VendorRefNo=ei.VendorReferenceNo,
		Vendor=cr.FleetAcName,
		Store=dr.FleetAcName,
		TransactionType=vt.VoucherTypeName,
		TyreRate=t.TyreAmount,
		t.FlapRate,
		t.TubeRate,
		DiscountAmt = t.DiscountAmt,
		TotalTyreAmount=t.TyreAmount+t.FlapRate+t.TubeRate-t.DiscountAmt,		
		IsGST = ei.CalVat,
		t.CGSTAmount,
		t.SGSTAmount,
		t.IGSTAmount,
		OtherChgs = t.OtherChg,
		NetAmount = t.NetAmount+t.OtherChg+(case when ei.CalVat=1 then (t.CGSTAmount+t.SGSTAmount+t.IGSTAmount) ELSE 0 END),
		ei.Remark,
		t.TyreCount
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLogExtraInfo as ei on CCO.ObjectId=(CASE @RoleId When 1029 THEN  ei.DrAccountId WHEN 1031 THEN ei.CrAccountId end)
	join
	( 
		--select t.ExtraInfoId,Amount=sum(t.Rate),DiscountAmt=sum(t.DiscountAmount),VATAmt=sum(t.VatAmount),OtherChg=sum(t.OtherAmount),NetAmount=sum(t.NetAmount) from dbo.tTyreLog as t group by t.ExtraInfoId
		select t.ExtraInfoId,
		TyreCount=count(1),
		TyreAmount=sum(t.Rate),
		FlapRate=SUM(t.FlapRate),
		TubeRate=SUM(t.TubeRate),
		DiscountAmt=sum(t.DiscountAmount+t.FlapDiscountAmount+t.TubeDiscountAmount),
		CGSTAmount=sum(t.CGSTAmount+t.FlapCGSTAmount+t.TubeCGSTAmount),
		SGSTAmount=sum(t.SGSTAmount+t.FlapSGSTAmount+t.TubeSGSTAmount),
		IGSTAmount=sum(t.IGSTAmount+t.FlapIGSTAmount+t.TubeIGSTAmount),
		OtherChg=sum(t.OtherAmount+t.FlapOtherAmount+t.TubeOtherAmount),
		NetAmount=sum(t.NetAmount) from dbo.tTyreLog as t group by t.ExtraInfoId
	)as t on  ei.Id=t.ExtraInfoId
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=ei.DrAccountId
	join dbo.mLedger as cr on cr.Id=ei.CrAccountId
	join dbo.mVoucherType as vt on vt.Id=ei.VoucherTypeId
	where ei.VoucherDate between @parameter4 and @parameter5 and (ei.VoucherTypeId=27)
	order by ei.VoucherDate
	
END
GO
