/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_CNFormatV3]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_CNFormatV3]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_CNFormatV3]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	EXEC [Proc_Report_1538_CNFormatV3] '10'

CREATE proc [dbo].[Proc_Report_1538_CNFormatV3] 
	--1538	Bill Format 1
	@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		Id=1,
		[OfficeAddress1]=p.AddressLine1,
		[OfficeAddress2]=ofc.PrintingAddress,
		[Customer]=m.FleetAcName,
		[Consignee]=cn.FleetAcName,
		[VehicleType]=isnull(lt.Name,''),
		[LRNo]=t.CNNo,
		[LRDate]=convert(varchar(10),t.CNDate,103),
		VehicleNo=isnull(case when vm.Id>0 then vm.VehicleRegNo else hvm.RegistrationNo end,''),
		--Comma Separated
		--[InvoiceNos]=ISNULL((STUFF((SELECT  '/' + Cast(ISNULL(x.InvoiceNo,'') as varchar(50)) from dbo.tCNMultiMaterial as x where x.CnId=t.Id
		--				   FOR XML PATH(''), TYPE, ROOT).value('root[1]','nvarchar(max)'),1,1,'')),''),
		
		--3T want Range in Annexure
		[InvoiceNos]=(select Min(x.InvoiceNo) from dbo.tCNMultiMaterial as x where x.CnId=t.Id)+' To '+ 
		(select Max(x.InvoiceNo) from dbo.tCNMultiMaterial as x where x.CnId=t.Id),
		[InvoiceDate]=convert(varchar(10),(select max(InvoiceDate) as d from dbo.tCNMultiMaterial as x where x.CnId=t.Id),103),
		[NoofPckg]=t.TotalPackage,
		[ChgWeight]=isnull(t.ChargedWeight,0),
		[LRChg]=t.AChargeI,
		[PickChg]=t.AChargeII,
		[DeliveryChg]=t.AChargeIII,
		[Freight]=t.CNTotalFreight
		FROM dbo.tCNMaster as t
		left join dbo.mOfficeMaster as ofc on ofc.Id=t.LoadingOfficeId 
		left join dbo.mPostalAddress as p on p.Id=ofc.AddressId
		left join dbo.mLoadType as lt on lt.Id=t.LoadTypeId
		left join dbo.tCNStockLog as stklg on stklg.CNId=t.Id and stklg.LogTypeId=1423
		left join dbo.tVehicleMovementLog as vml on vml.Id=stklg.TriplogId and vml.TripTypeId In(1158,1160)
		left join dbo.mVehicleMaster as vm on vm.Id=vml.VehicleId
		left join dbo.mHireVehicle as hvm on hvm.Id=vml.HireVehicleId
		LEFT JOIN dbo.mLedger as m on m.Id=t.BillingPartyId
		LEFT JOIN dbo.mLedger as cn on cn.Id=t.ConsigneeId
		WHERE t.Id in (select Item from dbo.SplitCommaString(@parameter1))
	
END

GO
