/****** Object:  StoredProcedure [dbo].[Proc_1031_SearchOwnHireVehicle]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_1031_SearchOwnHireVehicle]
GO
/****** Object:  StoredProcedure [dbo].[Proc_1031_SearchOwnHireVehicle]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_1031_SearchOwnHireVehicle]
@parameter1 nvarchar(25)=NULL,--searchterm
@parameter2 int=10--count
AS
BEGIN
SET @parameter1='%'+ISNULL(@parameter1,'')+'%'
DECLARE @ShowAttachedVehicleAsOwnVehicle nvarchar(10)=(SELECT Value FROM [dbo].[ApiConfigurations] WHERE Id='ShowAttachedVehicleAsOwnVehicle')
DECLARE @Query nvarchar(max)=
N'SELECT TOP '+cast(@parameter2 as nvarchar(10))+' * FROM (SELECT V.Id,VehicleNo=V.VehicleNo,[Type]=''O'',OwnerId=V.OwnerPartyId,[Owner]=L.AccountName,RegistrationNo=V.VehicleRegNo
FROM [dbo].[mVehicleMaster] V LEFT JOIN [dbo].[mLedger] L ON V.OwnerPartyId=L.Id
WHERE (CASE WHEN '+@ShowAttachedVehicleAsOwnVehicle+'=0 THEN (CASE WHEN V.IsHireVehicle=0 THEN 1 ELSE 0 END) ELSE 1 END)=1 AND (V.VehicleNo LIKE '''+@parameter1+''' OR V.VehicleRegNo LIKE '''+@parameter1+''') --AND V.SoldDate IS NULL AND V.StatusId=1
UNION ALL
SELECT V.Id,VehicleNo=V.VehicleNo,[Type]=''H'',OwnerId=V.HirePartyId,[Owner]=L.AccountName,RegistrationNo=V.RegistrationNo
FROM [dbo].[mHireVehicle] V LEFT JOIN [dbo].[mLedger] L ON V.HirePartyId=L.Id
WHERE (V.VehicleNo LIKE '''+@parameter1+''' OR V.RegistrationNo LIKE '''+@parameter1+''') AND V.IsBlackListed=0) AS T'

EXEC sp_sqlexec @Query
END
GO
