/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5010_tyreinfo]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Mob_Report_5010_tyreinfo]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Mob_Report_5010_tyreinfo]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select * from apiviews where Id>=5000
--	exec Proc_Mob_Report_5005_advinfo 7,1,0
CREATE proc [dbo].[Proc_Mob_Report_5010_tyreinfo]--110241
	@parameter1 bigint,--vehicleId
	@parameter2 nvarchar(20)
as
	select Top 20
		t.Id,
        t.TyreNo,
        RefNo=t.VoucherNo,
        RefDateTime=t.VoucherDate,
        CreditAc=cr.FleetAcName,
        DebitAc=dr.FleetAcName,
        VehicleNo=vm.VehicleRegNo,
        BrandName=tbrd.BrandName,
		[S]=t.IsStepney,
		Life=t.TyreLife
		from dbo.tTyreLog as t
		join dbo.mTyreMaster as tm on tm.Id=t.TyreId
		join dbo.mBrandMaster as tbrd on tbrd.Id=tm.BrandId
		join dbo.mLedger as cr on cr.Id=t.CreditAccountId
		join dbo.mLedger as dr on dr.Id=t.DebitAccountId
		join dbo.mVoucherType as vt on vt.Id=t.VoucherTypeId
		left join dbo.mGenericMaster as rmr on rmr.Id=t.ReasonId
		left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
		where (case when isnull(@parameter1,0)<=0 then 1 when t.VehicleId=@parameter1 and t.TyreStatusId=1103 then 1 else 0 end =1)
		and (case when len(isnull(@parameter2,''))<=0 then 1 when t.TyreNo=@parameter2 then 1 else 0 end =1)
GO
