/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_TLUFormat]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_TLUFormat]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_TLUFormat]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1538_TLUFormat] 
	@parameter1 bigint
AS
BEGIN
	select 
		t.Id
		,t.TriplogNo
		,t.TripStartDate
        ,LRD=t.LoadingReachDate
        ,LD=t.LoadingDate
        ,URD=t.UnloadingReachDate
        ,UD=t.UnLoadingDate
        ,ETA=t.ExpDeliveryDate
        ,VehicleNo=case when vm.Id>0 then vm.VehicleNo else hvm.VehicleNo end
		,VehicleRegNo=case when vm.Id>0 then vm.VehicleRegNo else hvm.RegistrationNo end
        ,VehicleModel=case when vm.Id>0 then vmmd.ModelName else hvmmd.ModelName end
        ,VehicleType=case when vm.Id>0 then vmvt.Name else hvmvt.Name end
        ,Origin=fp.CityName
        ,Destination=tp.CityName
        ,TAT=t.ExpTime
        ,KmRun=t.KmRun
        ,AddKmRun=t.KmRunAdd
        ,TotalKmRun=t.TotalKmRun
        ,GPSKmRun=t.GpsKmRun
        ,OwnerName=l.FleetAcName
        ,DriverName=dr.DriverName
        ,DriverCode=dr.DriverCode
		,FatherName=(select top 1 RelativeName from dbo.mDriverRelative as x where x.DriverId=dr.Id and RelationTypeId=1140)
        ,MobileNo=dvadd.ContactNumber
        ,BrokerName=t.BrokerName
        ,HVP=t.HVPId
        ,BalancePayableAt=''--t.ReportingOfficeId
        ,Remarks=t.Remarks

        ,TotLoadQty=t.LoadingQty
        ,TotLoadWeight=t.LoadedWeight
        ,TotCNAmount=t.CNFreight
        
		,TotReqAdvAmount=tal.ReqAdvance
        ,TotReqFuelQty=tal.ReqFuelQty

		,ActAdvCash=tal.ActAdvCash
		,ActAdvCard=tal.ActAdvCard
		,ActAdvTotal=isnull(tal.ActAdvCash,0)+isnull(tal.ActAdvCard,0)
		,ActFuelQty=tal.ActFuelQty

        ,BdgtFixedAdv=texp.BdgtFixedAdv
        ,BdgtCashToll=texp.BdgtCashToll
		,BdgtFuelQty=texp.BdgtFuelQty
		,BdgtAdvTotal=texp.BdgtAdvTotal

		,t.TripTypeId
		,t.TripNatureId
		,[CreatedBy]='['+ uu.UserName +'] ' + +uu.FirstName + ' ' + uu.LastName
		,[LoadAvg]=isnull(vm.LoadedMileage,0)
		,[EmptyAvg]=isnull(vm.EmptyMileage,0)
	from dbo.tVehicleMovementLog as t
	left join
	(
		select tal.TripLogId
		,ActAdvCash=sum(isnull(case when tal.PaidInId=1430 then isnull(tal.CashAmount,0) else 0 end,0))
		,ActAdvCard=sum(isnull(case when tal.PaidInId=1517 then isnull(tal.RequestAmount,0) else 0 end,0))
		,ActFuelQty=sum(isnull(tal.FuelQty,0))
		,ReqFuelQty=sum(isnull(case when tal.PaidInId=1518 then isnull(tal.RequestQty,0) else 0 end,0))
		,ReqAdvance=sum(isnull(tal.RequestAmount,0)) 
		from dbo.tTripAdvanceLog as tal group by tal.TripLogId
	)as tal on tal.TripLogId=t.Id
	left join
	(
		select texp.TripLogId
		,BdgtFixedAdv=sum(case when em.NatureId=1480 AND texp.IsBudgeted=1 then isnull(texp.ClaimAmount,0) else 0 end)		
		,BdgtCashToll=sum(case when em.NatureId=1618 then isnull(texp.ClaimAmount,0) else 0 end)		
		,BdgtAdvTotal=sum(case WHEN (em.NatureId=1480 AND texp.IsBudgeted=1) OR em.NatureId=1618 then isnull(texp.ClaimAmount,0) else 0 end)		
		,BdgtFuelQty=sum(case when em.NatureId=1479 then isnull(texp.BudgetedQty,0) else 0 end)		
		from dbo.tTripExpenseLog as texp 
		left join dbo.mExpenseMaster as em on em.Id=texp.ExpenseTypeId
		group by texp.TripLogId
	)as texp on texp.TripLogId=t.Id
	left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id
	left join dbo.mGenericMaster as vmvt on vmvt.Id=vm.VehicleTypeId
	left join dbo.mVehicleModel as vmmd on vmmd.Id=vm.VehicleModelId
	left join dbo.mHireVehicle as hvm on t.HireVehicleId=hvm.Id
	left join dbo.mGenericMaster as hvmvt on hvmvt.Id=hvm.VehicleTypeId
	left join dbo.mVehicleModel as hvmmd on hvmmd.Id=hvm.VehicleModelId
	left join dbo.mRouteMaster as rm on rm.Id=t.RouteId
	left join dbo.mCityMaster as fp on fp.Id=rm.FromplaceId
	left join dbo.mCityMaster as tp on tp.Id=rm.ToplaceId
	left join dbo.mDriverMaster as dr on dr.Id=t.Driver1stId
	left join dbo.mPostalAddress as dvadd on dvadd.Id=dr.CurrentAddressId
	left join dbo.mLedger as l on l.Id=t.HireOwnerId
	left join dbo.apisessions as ss on ss.Id=t.CSID
	left join dbo.apiusers as uu on uu.Id=ss.UserId
	where t.Id=@parameter1
END
GO
