/****** Object:  StoredProcedure [dbo].[Proc_Report_1319]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1319]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1319]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	[Proc_Report_1319] 20018,'','','2010-01-01','2017-10-10'
--	select * from dbo.mObjectCategory
--	Select * from apiviews where id=1307
--	Select * from dbo.mConstantValue where constanttypeid=87
--	select * from dbo.tBatteryLog where VoucherTypeId=33

CREATE PROC [dbo].[Proc_Report_1319]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date,--fromdate
	@parameter5 date--todate	
as
begin

	select  
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	 dvr.DriverName,
	 dvr.DriverCode,
	 t.RefNo,
	 t.CertificateNo,
	 TrainingType=ty.Name,
	 Grade=gd.Name,
	 t.StartDate,
	 t.EndDate	 
	from dbo.tDriverTrainingLog as t
	join dbo.mDriverMaster as dvr on dvr.ID=t.DriverId
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=t.DriverId
	left join dbo.mGenericMaster as ty on ty.ID=t.TrainingTypeId
	left join dbo.mGenericMaster as gd on gd.ID=t.GradeId
	where t.StartDate between @parameter4 and @parameter5
	
end
GO
