/****** Object:  StoredProcedure [dbo].[Proc_Report_1601_TEST]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1601_TEST]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1601_TEST]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Report_1601_TEST]
--	1601	INVOICE WISE STOCK DETAIL REPORT
@parameter1 bigint,--OfficeId
@parameter4 datetime,--FromDate
@parameter5 datetime,--ToDate
@parameter6 bigint,--Consignor
@parameter7 bigint,--TypeId: 1:Mixed,2:Details Only
@parameter8 bigint--Consignee
As
BEGIN
	--Temp Sart: This Code Need to be remove if API is corrected
		update t set t.LogDate=tl.UnloadingDate from dbo.tcnSTockMMlog as t
		join tVehicleMovementlog as tl on t.TriplogId=tl.Id and t.LogTypeId in(1422,1451) and isnull(t.RefStockID,0)>0
		where t.LogDate<>tl.UnloadingDate
	-- Temp End

	if(DATEDIFF(Day,@parameter4,@parameter5)>63)--Only 2 Month report is allowed
	begin
		RAISERROR ('You can see only 2 months data at a time',16,1);
	end

	DECLARE @RoleId int
	create table #invoicetable(Id int Identity(1,1),SortOrderId tinyint,S varchar(3),BookingBranch varchar(150),[StockBranch] varchar(150)
	,StockDate datetime
	,[Consignee] varchar(150)
	,[Consignor] varchar(150)
	,[PartCode]  varchar(150)
	,[PartName] varchar(150)
	,[LRNo] varchar(150)
	,[LRDate] date
	,TripNo varchar(150)
	,TripDate date
	,[InvoiceNo] varchar(150)
	,[InvoiceDate] date
	,[InvoiceValue] decimal(18,2)
	,[RouteName] varchar(200)
	,[OpeningQty] decimal(18,2)
	,[BookedQty] decimal(18,2)
	,[DestnReceivedDate] date
	,[ReceivedQty] decimal(18,2)
	,[StockOut] decimal(18,2)
	,[DeliveryDate] datetime
	,[SRVNo] varchar(150)
	,[DeliveredQty] decimal(18,2)
	,[TransitQty] decimal(18,2)
	,[StockQty] decimal(18,2)
	,Remark varchar(200))

	create table #mmlog(Id bigint Primary Key,MaxMMLogId Bigint,CNMMID Bigint,OrderId int)

	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	SET NOCOUNT ON;
	--opening MM
	insert into #mmlog(Id,CNMMID)
	SELECT 	mml.Id,mml.CNMMId
	FROM dbo.tCNStockMMLog  as mml
	join dbo.tCNMaster as t on t.Id=mml.CNId
	left join
	(
		select sl.RefStockId,Sum(sl.OutQty) as OutQty from
		dbo.tCNStockMMLog as sl where  isnull(sl.RefStockId,0)>0 and cast(sl.LogDate as date)<@parameter4
		group by sl.RefStockId
	)as o on o.RefStockId=mml.Id
	WHERE mml.OfficeId=@parameter1 and ((mml.LogTypeId in(1422,1455) and cast((isnull(mml.InQty,0)-isnull(o.OutQty,0)) as decimal(18,2))>0))
	and (case when @parameter6=0 then 1 when @parameter6>0 and t.ConsignorId=@parameter6 then 1 else 0 end)=1
	and (case when @parameter8=0 then 1 when @parameter8>0 and t.ConsigneeId=@parameter8 then 1 else 0 end)=1
	and cast(mml.LogDate as date) < @parameter4
	
	--mm of selected perriod only undelivered 1455
	insert into #mmlog(Id,CNMMID)
	SELECT 	mml.Id,mml.CNMMId
	FROM dbo.tCNStockMMLog  as mml
	join dbo.tCNMaster as t on t.Id=mml.CNId
	left join
	(
		select sl.RefStockId,Sum(sl.OutQty) as OutQty from
		dbo.tCNStockMMLog as sl where  isnull(sl.RefStockId,0)>0 and cast(sl.LogDate as date) between @parameter4 and @parameter5
		group by sl.RefStockId
	)as o on o.RefStockId=mml.Id
	WHERE mml.OfficeId=@parameter1 and ((mml.LogTypeId=1455 and cast((isnull(mml.InQty,0)-isnull(o.OutQty,0)) as decimal(18,2))>0))
	and (case when @parameter6=0 then 1 when @parameter6>0 and t.ConsignorId=@parameter6 then 1 else 0 end)=1
	and (case when @parameter8=0 then 1 when @parameter8>0 and t.ConsigneeId=@parameter8 then 1 else 0 end)=1
	and cast(mml.LogDate as date) between @parameter4 and @parameter5

	--mm of selected perriod
	insert into #mmlog(Id,CNMMID)
	SELECT 	mml.Id,mml.CNMMId
	FROM dbo.tCNStockMMLog  as mml
	join dbo.tCNMaster as t on t.Id=mml.CNId	
	WHERE mml.OfficeId=@parameter1 and mml.LogTypeId=1422
	and (case when @parameter6=0 then 1 when @parameter6>0 and t.ConsignorId=@parameter6 then 1 else 0 end)=1
	and (case when @parameter8=0 then 1 when @parameter8>0 and t.ConsigneeId=@parameter8 then 1 else 0 end)=1
	and cast(mml.LogDate as date) between @parameter4 and @parameter5

	--mm transit
	insert into #mmlog(Id,CNMMID)
	SELECT 	mml.Id,mml.CNMMId
	FROM dbo.tCNStockMMLog  as mml
	join dbo.tCNMaster as t on t.Id=mml.CNId	
	WHERE mml.OfficeId=@parameter1 and mml.LogTypeId in(1424)
	and (case when @parameter6=0 then 1 when @parameter6>0 and t.ConsignorId=@parameter6 then 1 else 0 end)=1
	and (case when @parameter8=0 then 1 when @parameter8>0 and t.ConsigneeId=@parameter8 then 1 else 0 end)=1
	and cast(mml.LogDate as date) <=@parameter5

	update z
	set z.MaxMMLogId=(select max(x.Id) from dbo.tCNStockMMLog as x where x.CNMMId=z.CNMMId)	
	from #mmlog as z

	delete t from #mmlog as t 
	join 
	(
		select Id, 
		OrderId=ROW_NUMBER()OVER(Partition By MaxMMlogId order by Id asc)
		from #mmlog as z
	)as x on t.Id=x.Id and x.OrderId>1

	insert into #invoicetable(SortOrderId,S,BookingBranch,[StockBranch],StockDate,[Consignee],[Consignor],[PartCode],[PartName],
	[LRNo],[LRDate],TripNo,TripDate,[InvoiceNo],[InvoiceDate],[InvoiceValue],[RouteName],[OpeningQty],[BookedQty],
	[DestnReceivedDate],[ReceivedQty],[StockOut],[DeliveryDate],[SRVNo],[DeliveredQty],[TransitQty],stockqty,Remark)	

	SELECT 	1,'-',
		
		[BookingBranch]=bbr.OfficeName,ofc.OfficeName,
		mml.LogDate,
		cne.FleetAcName,
		cnr.FleetAcName,
		[PartCode]=matm.Code,
		[PartName]=matm.Name,
		[LRNo]=t.CNNo,
		[LRDate]=t.CNDate,
		vml.TriplogNo,
		vml.TripStartDate,
		[InvoiceNo]=mm.InvoiceNo,
		[InvoiceDate]=mm.InvoiceDate,
		[InvoiceValue]=mm.InvoiceNetValue,
		[RouteName]=ar.Name,
		[OpeningQty]=case when cast(mml.LogDate as date)<@parameter4 then mm.ActualQty else 0 end,
		[BookQty]=case when stl.OfficeId=@parameter1 and (cast(stl.LogDate as date) between @parameter4 and @parameter5) then stl.InQty else 0 end,
		[DestnReceivedDate]=case when destn.OfficeId=@parameter1 and (cast(vml.UnLoadingDate as date) between @parameter4 and @parameter5) then vml.UnLoadingDate else null end,
		[ReceivedQty]=case when destn.OfficeId=@parameter1 and destn.Id>0 and  (cast(destn.LogDate as date) between @parameter4 and @parameter5)  then destn.InQty else 0 end,
		[StockOut]=case when fstl.OfficeId=@parameter1 and fstl.Id>0 and  (cast(fstl.LogDate as date) between @parameter4 and @parameter5) then fstl.OutQty else 0 end,
		[DeliveryDate]=case when mxml.OfficeId=@parameter1 and (cast(mxml.LogDate as date) between @parameter4 and @parameter5) and mxml.LogTypeId in(1451,1425,1454) then mxml.LogDate else null end,
		[SRVNo]=mxml.DeliveryAcknowledgeNo,
		[DeliveredQty]=case when mxml.OfficeId=@parameter1 and (cast(mxml.LogDate as date) between @parameter4 and @parameter5) and mxml.LogTypeId in(1451,1425,1454) then mxml.OutQty else 0 end,
		[TransitQty]=case when destn.OfficeId=@parameter1 and destn.Id>0 and (((cast(destn.LogDate as date) between @parameter4 and @parameter5) and destn.LogTypeId=1424) or ((cast(fstl.LogDate as date) between @parameter4 and @parameter5) and destn.LogTypeId=1422))  then destn.OutQty else 0 end,
		[StockQty]=0,
		mm.Remark
		from dbo.tCNStockMMLog  as mml
		join #mmlog as i on mml.Id=i.Id		
		join dbo.tCNMultiMaterial as mm on mml.cnmmId=mm.Id
		join dbo.tCNMaster as t on t.Id=mm.CNId
		left join dbo.mRouteMaster as ar on ar.Id=t.ChgRouteId
		join dbo.mMaterialMaster as matm on matm.Id=mm.MaterialId
		join dbo.mLedger as cne on cne.Id=t.ConsigneeId
		join dbo.mLedger as cnr on cnr.Id=t.ConsignorId
		join dbo.mOfficeMaster as ofc on ofc.Id=mml.OfficeId 
		join dbo.mOfficeMaster as bbr on bbr.Id=t.LoadingOfficeId 
		left join dbo.tCNStockMMLog  as mxml on mxml.Id=i.MaxMMLogId
		left join dbo.tCNStockMMLog as stl on stl.CNMMId=mm.Id and stl.LogTypeId=1422 and stl.RefStockId is null--Booking
		left join dbo.tCNStockMMLog as fstl on fstl.RefStockId=stl.Id and fstl.LogTypeId=1423--Stock Out
		left join dbo.tVehicleMovementLog as vml on vml.Id=fstl.TriplogId--Stock Out TL
		left join dbo.tCNStockMMLog as destn on destn.RefStockId=fstl.Id and destn.LogTypeId In(1422,1424)--Transit or Received


	update #invoicetable set StockQty=(isnull([OpeningQty],0)+isnull([BookedQty],0)+isnull([ReceivedQty],0)-isnull([StockOut],0)-isnull([DeliveredQty],0))
	update #invoicetable set StockQty=case when isnull(StockQty,0)<=0 then 0 else isnull(StockQty,0) end

	if(@parameter7=1)
	begin
		insert into #invoicetable(SortOrderId,S,[PartCode],[PartName])
		select 0,'S',[PartCode],[PartName]
		from #invoicetable as cn group by [PartCode],[PartName]

		insert into #invoicetable(SortOrderId,S,[PartCode],[PartName],[OpeningQty],[BookedQty],[ReceivedQty],[StockOut],[DeliveredQty],[TransitQty],[StockQty])	
		select 2,'S',[PartCode],[PartName],
		Sum(isnull([OpeningQty],0)),Sum(isnull([BookedQty],0)),Sum(isnull([ReceivedQty],0)),Sum(isnull([StockOut],0)),Sum(isnull([DeliveredQty],0)),Sum(isnull([TransitQty],0))
		,Sum(isnull([StockQty],0))
		from #invoicetable as cn group by [PartCode],[PartName]

		select S,[StockBranch]=Case when [DeliveredQty]>0 then [Consignee] else [StockBranch] end,StockDate,[Consignee],[Consignor],[PartCode],[PartName],
		[LRNo],[LRDate],TripNo,TripDate,[InvoiceNo],[InvoiceDate],[RouteName],[OpeningQty],[BookedQty],
		[DestnReceivedDate],[ReceivedQty],[StockOut],[DeliveryDate],[SRVNo],[DeliveredQty],[TransitQty],[StockQty],Remark
		from #invoicetable as cn 
		order by [PartCode],[PartName],SortOrderId,(case when cn.DeliveredQty>0 then 1 else 0 end) desc,cn.DeliveryDate,cn.InvoiceDate,cn.stockqty,cn.transitqty
	end
	
	if(@parameter7=2)
	begin
		select S,[StockBranch]=Case when [DeliveredQty]>0 then [Consignee] else [StockBranch] end,StockDate,[Consignee],[Consignor],[PartCode],[PartName],
		[LRNo],[LRDate],TripNo,TripDate,[InvoiceNo],[InvoiceDate],[InvoiceValue],[RouteName],[OpeningQty],[BookedQty],
		[DestnReceivedDate],[ReceivedQty],[StockOut],[DeliveryDate],[SRVNo],[DeliveredQty],[TransitQty],[StockQty],Remark
		from #invoicetable as cn 
		where cn.SortOrderId=1 
		order by [PartCode],[PartName],SortOrderId,(case when cn.DeliveredQty>0 then 1 else 0 end) desc,cn.DeliveryDate,cn.InvoiceDate,cn.stockqty,cn.transitqty
	end
	drop table #mmlog
	drop table #invoicetable
END
GO
