/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_TLUFormatFuel]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_TLUFormatFuel]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_TLUFormatFuel]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1538_TLUFormatFuel] 
	@parameter1 bigint--TLId
	--@parameter2 nvarchar(10)--AdvId
AS
BEGIN
--if((isnull(@parameter1,0)+isnull(@parameter1,0))=0)
--begin
--	raiserror('Db: TriplogId or AdvanceId is required to print Advance',0,11)
--	return;
--end
	select 
		OrderId=row_number()over(order by t.AdvanceDate)
		,t.Id
		,t.TriplogId
		,t.VoucherNo
		,tl.TriplogNo
		,RefNo=t.ReferenceNo
		,AdvanceDate=t.AdvanceDate
		,RequestDate=t.RequestDate
		,RequestStatus=rs.ConstantName
		,CreditAc=cr.FleetAcName
		,DebitAc=dr.FleetAcName
		
		,FuelQty=t.FuelQty
		,FuelRate=t.FuelRate
		,FuelAmount=t.FuelAmount
		,CashAmount=t.CashAmount
		,RequestQty=t.RequestQty
		,RequestAmount=t.RequestAmount
		,Remarks=t.Remark	
        ,VehicleNo=case when vm.Id>0 then vm.VehicleNo else hvm.VehicleNo end
		,VehicleRegNo=case when vm.Id>0 then vm.VehicleRegNo else hvm.RegistrationNo end
		,OH=case when vm.Id>0 then 'O' else 'H' end
         
        ,DriverName=dvr.DriverName
        ,DriverCode=dvr.DriverCode      
		,[CreatedBy]='['+ uu.UserName +'] ' + +uu.FirstName + ' ' + uu.LastName
		,ofc.OfficeName
		,[CreditAcCityName]=adc.CityName
	from dbo.tTripAdvanceLog as t
	left join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	left join dbo.mConstantValue as rs on rs.Id=t.RequestStatusId
	left join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	left join dbo.mpostaladdress as ad on ad.Id=cr.AddressId
	left join dbo.mCityMaster as adc on adc.Id=ad.CityId
	left join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	left join tVehicleMovementLog tl on t.TripLogId=tl.Id
	left join dbo.mVehicleMaster as vm on t.VehicleId=vm.Id
	left join dbo.mHireVehicle as hvm on t.HireVehicleId=hvm.Id
	left join dbo.mDriverMaster as dvr on dvr.Id=t.DriverId
	left join dbo.mLedger as l on l.Id=tl.HireOwnerId
	left join dbo.apisessions as ss on ss.Id=t.CSID
	left join dbo.apiusers as uu on uu.Id=ss.UserId
	where t.TripLogId=@parameter1 and t.PaidInId=1518
END


select * from mrepor
GO
