/****** Object:  StoredProcedure [dbo].[Proc_Report_1664]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1664]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1664]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1664] @parameter1 BIGINT,
@parameter2 NVARCHAR(100),
@parameter3 NVARCHAR(MAX),
@parameter4 DATE,
@parameter5 DATE,
@parameter6 NVARCHAR(50),
@parameter7 INT
AS
BEGIN
  DECLARE @RoleId INT
         ,@VchTypeId INT = 0
  SET @RoleId = (SELECT
      RoleId
    FROM dbo.mObjectCategory
    WHERE Id = @parameter1)
  SET @VchTypeId =
  CASE
    WHEN @parameter6 = '' OR
      @parameter6 = '0' THEN 0
    WHEN @parameter6 = '1' THEN 1
    WHEN @parameter6 = '2' THEN 2
    WHEN @parameter6 = '88' THEN 88
  END

  SELECT
    [BranchName] = ofc.OfficeName
   ,[Voucher Date] = FORMAT(tal.AdvanceDate, 'dd-MM-yyyy')
   ,[Voucher Type] = vt.VoucherTypeName
   ,[Voucher No] = tal.VoucherNo
   ,[Lorry No] = vm.VehicleRegNo
   ,[Driver Name] = dvr.DriverName
   ,[Driver Code] = dvr.DriverCode
   ,[Route] = rt.[Name]
   ,[Debit Head] = dr.FleetAcName
   ,[DR Amount] = (CASE
      WHEN tal.CashAmount > 0 THEN tal.CashAmount
      ELSE tal.FuelAmount
    END)
   ,[Credit Head] = cr.FleetAcName
   ,[CR Amount] = (CASE WHEN ISNULL(tal.FuelQty,0)>0 THEN  ISNULL(tal.FuelAmount, 0) ELSE ISNULL(tal.CashAmount, 0) END)
   ,[Narration] = 'Being amount of cash paid/transferred into ATM Card No. ' + ISNULL(vm.DebitCardAcNo, '') +
    ' to Driver ' + ISNULL(dvr.DriverName, '') + ' of Lorry No ' +
    ISNULL(vm.VehicleRegNo, '') + ' towards as Trip Advance for the trip ' + ISNULL(rt.[Name], '')
    --,[Ref]=rt.[Name] +' '+ format(tal.AdvanceDate,'dd-MM-yy')
   ,[Ref] = tl.TripLogNo + ' ' + FORMAT((CASE
      WHEN tl.TripNatureId = 1075/*Loaded*/ THEN tl.LoadingDate
      WHEN tl.TripNatureId = 1076/*Empty*/ THEN tl.TripStartDate
      ELSE tal.AdvanceDate
    END), 'dd-MM-yy')
   ,[Nature] = nat.Name
   ,[TripLogNo]
   ,Remark=ISNULL(tal.Remark,'')+ISNULL(tal.RequestRemark,'')
   ,CreatedBy=dbo.GetUserBySessionId(tal.CSID)

  FROM dbo.tTripAdvanceLog AS tal
  JOIN dbo.CCO(@parameter1, @parameter2, @parameter3)
    ON CCO.ObjectId = (CASE @RoleId
        WHEN 1022 THEN tal.VehicleId
        WHEN 1130 THEN tal.VehicleId
        ELSE tal.OfficeId
      END)
  LEFT JOIN dbo.mOfficeMaster AS ofc
    ON ofc.Id = tal.OfficeId
  LEFT JOIN dbo.mVoucherType AS vt
    ON vt.Id = tal.AdvanceTypeId
  LEFT JOIN dbo.mVehicleMaster AS vm
    ON vm.ID = tal.VehicleId
  LEFT JOIN dbo.mLedger AS cr
    ON cr.Id = tal.CreditAccountId
  LEFT JOIN dbo.mLedger AS dr
    ON dr.Id = tal.DebitAccountId
  LEFT JOIN dbo.mGenericMaster nat
    ON tal.Ref1Id = nat.Id
  LEFT JOIN dbo.mDriverMaster AS dvr
    ON dvr.Id = tal.DriverId
  LEFT JOIN dbo.tVehicleMovementLog AS tl
    ON tl.Id = tal.TriplogId
  LEFT JOIN dbo.mRouteMaster AS rt
    ON rt.Id = tl.RouteId
  WHERE tal.VoucherId > 0
  AND tal.AdvanceDate BETWEEN @parameter4 AND @parameter5
  AND (CASE
    WHEN @VchTypeId = 0 THEN 1
    WHEN @VchTypeId = tal.AdvanceTypeId THEN 1
    ELSE 0
  END) = 1
  AND (CASE
    WHEN @parameter7 = 0 THEN 1
    WHEN @parameter7 = tal.CreditAccountId OR
      @parameter7 = tal.DebitAccountId THEN 1
    ELSE 0
  END) = 1
  ORDER BY tal.AdvanceDate
END
GO
