/****** Object:  StoredProcedure [dbo].[Proc_Report_1508]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1508]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1508]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1508]
	@parameter1 bigint,--OfficeId
	@parameter2 DateTime,--AsOfDate
	@parameter3 nvarchar(10),--IncludeTransit
	@parameter4 bigint,--@ConsigneeId
	@parameter5 bigint,--@ConsignorId
	@parameter6 bigint--CNId
as
begin	
	select
	ofc.OfficeName,
	Consignee=cne.FleetAcName,
	Consignor=cnr.FleetAcName,
	LRNo=cn.CNNo,
	LRDate=cn.CNDate,
	Material=mm.Name,
	StockQty=isnull(t.InQty,0)-isnull(o.OQty,0),
	Short=isnull(t.ShortageQty,0),
	Excess=isnull(t.ExessQty,0),
	LRRemark=cn.Remark
	from dbo.tCNStockLog as t
	join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	left join dbo.tCNMaster as cn on t.CNId=cn.Id
	left join dbo.mMaterialMaster as mm on mm.Id=cn.MaterialId
	left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	left join 
	(
		select o.RefStockId, sum(isnull(o.OutQty,0)) as OQty from dbo.tCNStockLog as o group by o.RefStockId
	)o on o.RefStockId=t.Id

	where t.LogDate<=@parameter2 and t.OfficeId=@parameter1 and (t.LogTypeId in(1422,1455,1423,1451) or (@parameter3='Y' and t.LogTypeId=1424))
	and (case when isnull(@parameter4,0)>0 and cne.Id=@parameter4 then 1 when isnull(@parameter4,0)=0 then 1 else 0 end)=1
	and (case when isnull(@parameter5,0)>0 and cnr.Id=@parameter5 then 1 when isnull(@parameter5,0)=0 then 1 else 0 end)=1
	and (case when isnull(@parameter6,0)>0 and cn.Id=@parameter6 then 1 when isnull(@parameter6,0)=0 then 1 else 0 end)=1
	--group by ofc.OfficeName,cne.FleetAcName,cnr.FleetAcName,cn.CNNo,cn.CNDate,cn.MaterialInfo

	order by cn.CNDate 
end
GO
