/****** Object:  StoredProcedure [dbo].[Proc_Report_1614]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1614]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1614]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	exec [Proc_Report_1614] '2016-04-01','2016-12-22',100137
CREATE proc [dbo].[Proc_Report_1614]
	@parameter1 datetime,
	@parameter2 datetime,
	@parameter3 bigint
as
begin
--1614: Cash DayBook
	Declare @FFYId int,@TFYId int,@opbal decimal(18,2),@MinRowId int,@MaxRowId int
	DECLARE @Ledger TABLE
	(RowID BIGINT IDENTITY(1,1),[Date] datetime,OpeningBalance decimal(18,2),CashReceiptFromOffice decimal(18,2)
	, CashReceiptFromOtherSources decimal(18,2),VehicleExpenses decimal(18,2),OtherExpenses decimal(18,2)
	,ClosingBalance decimal(18,2),OrderId int)
	DECLARE @opcl TABLE
	(RowID BIGINT Primary key,OpeningBalance decimal(18,2),ClosingBalance decimal(18,2))

	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter1 between OpeningDate and ClosingDate),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter2 between OpeningDate and ClosingDate),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end
	-- Generating Dates
	insert into @Ledger([Date])	
	SELECT  DATEADD(DAY, nbr - 1, @parameter1)
	FROM ( SELECT    ROW_NUMBER() OVER ( ORDER BY c.object_id ) AS Nbr
			FROM      sys.columns c
		) nbrs
	WHERE   nbr - 1 <= DATEDIFF(DAY, @parameter1, @parameter2)
	set @MinRowId =1
	select @MaxRowId=max(RowId) from @Ledger
	--Fetching opening balance
	set @opbal=(Select 
			sum(isnull(xvd.VDAmount,0)) 
			from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId 
			where  xvd.AccountId=@parameter3 and  xv.FYID=@FFYId and xv.VoucherDate < @parameter1 
			and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1)
	
	-- updating data into table except op & cl
	update l
	set 
	OpeningBalance=isnull(@opbal,0)
	,CashReceiptFromOffice=c.CashReceiptFromOffice
	,CashReceiptFromOtherSources=c.CashReceiptFromOtherSources
	,VehicleExpenses=c.VehicleExpenses
	,OtherExpenses=c.OtherExpenses
	,ClosingBalance=isnull(@opbal,0)+isnull(c.CashReceiptFromOffice,0)+isnull(c.CashReceiptFromOtherSources,0)+isnull(c.VehicleExpenses,0)+isnull(c.OtherExpenses,0)
	From @Ledger as l
	left join(
		select
			v.VoucherDate
			,CashReceiptFromOffice=sum(case when v.VoucherTypeId=9 and vd.VDAmount>0 then vd.VDAmount else 0 end)
			,CashReceiptFromOtherSources=sum(case when v.VoucherTypeId <>9 and vd.VDAmount>0 then vd.VDAmount else 0 end)
			,VehicleExpenses=sum(case when v.VoucherTypeId=1 and vd.VDAmount<0 then vd.VDAmount else 0 end)
			,OtherExpenses=sum(case when v.VoucherTypeId<>1 and vd.VDAmount<0 then  vd.VDAmount else 0 end)
			from dbo.tVouchers as v
			join dbo.tVoucherVD as vd on v.Id=vd.VoucherId 
			join dbo.mLedger as a1 on a1.Id=vd.AccountId
			where  v.FYID=@FFYId and v.IsAccepted=1 and v.IsAccountsVisiblity=1 and vd.AccountId=@parameter3 and v.VoucherDate>=@parameter1 and v.VoucherDate<=@parameter2
			group by v.VoucherDate 	
	 )as c on l.[Date]=c.VoucherDate
	
	--preparing opbal & cl
	WHILE(@MinRowId < @MaxRowId)
	BEGIN
	   if(@MinRowId=1)
	   begin
		   INSERT INTO @opcl 
		   select c.RowId ,
			OpeningBalance=cast(isnull(@opbal,0) as decimal(18,2)),
			ClosingBalance=cast((isnull(@opbal,0) +isnull(c.CashReceiptFromOffice,0)+isnull(c.CashReceiptFromOtherSources,0)+isnull(c.VehicleExpenses,0)+isnull(c.OtherExpenses,0)) as decimal(18,2))
			From @Ledger as c where RowID=@MinRowId
		end
		set @MinRowId=@MinRowId+1

		INSERT INTO @opcl 
		select c.RowId as RowID,
		OpeningBalance=cast(isnull(l.ClosingBalance,0) as decimal(18,2)),
		ClosingBalance=cast((isnull(l.ClosingBalance,0) + isnull(c.CashReceiptFromOffice,0)+isnull(c.CashReceiptFromOtherSources,0)+isnull(c.VehicleExpenses,0)+isnull(c.OtherExpenses,0)) as decimal(18,2))
		From @Ledger as c
		join @opcl  as l on l.RowID= c.RowID-1	
		where c.RowID=@MinRowId	
	END

	update l set l.OpeningBalance=c.OpeningBalance,l.ClosingBalance=c.ClosingBalance from @Ledger as l inner join @opcl as c on l.RowID =c.RowID

	select [Date],abs(OpeningBalance)as OpeningBalance,DrCr_1=case when OpeningBalance<0 then 'Cr' else 'Dr' end,CashReceiptFromOffice=abs(CashReceiptFromOffice),CashReceiptFromOtherSources=abs(CashReceiptFromOtherSources),VehicleExpenses=abs(VehicleExpenses),OtherExpenses=abs(OtherExpenses),abs(ClosingBalance)as ClosingBalance,DrCr_2=case when ClosingBalance<0 then 'Cr' else 'Dr' end from @Ledger order by OrderId 
end

--select * from mLedger where AccountName like '%cash am%'




GO
