/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1514_ValidateMultiMaterialDuplicacy]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1514_ValidateMultiMaterialDuplicacy]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1514_ValidateMultiMaterialDuplicacy]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_TRANS_1514_ValidateMultiMaterialDuplicacy]
@parameter1 nvarchar(max),--MM Details InvoiceNos ^ separator
@parameter2 bigint,--ConsignorId
@parameter3 bigint--CNId
AS
BEGIN
SELECT DISTINCT CN.CNNo,MM.InvoiceNo FROM [dbo].[tCNMultiMaterial] MM JOIN [dbo].[tCNMaster] CN ON MM.CnId=CN.Id JOIN dbo.SplitString_NEW(@parameter1,'^') as v ON MM.InvoiceNo=v.Item
WHERE CN.ConsignorId=@parameter2 AND CN.Id!=@parameter3
END
GO
