/****** Object:  StoredProcedure [dbo].[Proc_Format_1497_2]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Format_1497_2]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Format_1497_2]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Format_1497_2]
	@Parameter1 bigint
as
begin
	select
	VoucherId=vd.VoucherId,
	VdId=vd.Id,
	VDRId=vdr.Id,
	vdr.ReferenceNo,
	AccountName=a.FleetAcName,
	VDRTypeName=vdrtp.ConstantName,
	VDRTypeCode=vdrtp.ConstantAbbr,
	VDRAmount=vdr.VDRAmount,
	DueDate=vdr.DueDate,
	OrderId=vd.OrderId
	from dbo.tVoucherVDR as vdr
	join dbo.tVoucherVD as vd on vd.Id=vdr.VDId
	join dbo.mLedger as a on a.Id=vdr.AccountId
	join dbo.mConstantValue as vdrtp on vdrtp.Id=vdr.VDRTypeID
	where vd.VoucherId=@Parameter1
end
GO
