/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1521_MapTLWithAdv]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1521_MapTLWithAdv]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1521_MapTLWithAdv]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_TRNS_1521_MapTLWithAdv]
@reportrequestid bigint
as
BEGIN TRY
	BEGIN TRANSACTION 
			declare @configwhere nvarchar(max),@attachtlquery nvarchar(max)
			select top 1 @configwhere=Value from ApiConfigurations where Id='advuploadattachtriplog'
			print @configwhere
			set @attachtlquery=N'
				DECLARE @xml xml=(SELECT TOP 1 XmlParameter FROM [dbo].[tReportRequestPool] where Id='+cast(@reportrequestid as nvarchar)+'),@hdoc AS INT,@PrepareXmlStatus INT 
				EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml
				IF(@xml IS NULL) return;
				update adv set adv.TripLogId=(SELECT top 1 tl.Id from tVehicleMovementLog tl where tl.TripTypeId In(1158,1160) and ISNULL(tl.VehicleId,0)=ISNULL(adv.VehicleId,0) and ISNULL(tl.HireVehicleId,0)=ISNULL(adv.HireVehicleId,0) and '+@configwhere+') 
				from dbo.tTripAdvanceLog as adv join
				OPENXML(@hdoc, ''/ArrayOfString/*'',2)
				WITH (string nvarchar(max) ''.'') as temp
				on adv.BatchId=temp.string
				where isnull(adv.TripLogId,0)=0;

				update adv set adv.DriverId=tl.Driver1stId
				from dbo.tTripAdvanceLog as adv 
				join
				tVehicleMovementLog tl on adv.TripLogId=tl.Id
				join OPENXML(@hdoc, ''/ArrayOfString/*'',2)
				WITH (string nvarchar(max) ''.'') as temp
				on adv.BatchId=temp.string
				where isnull(adv.DriverId,0)=0;				'
				print(@attachtlquery)
				exec sp_executesql  @attachtlquery
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	PRINT 
		'Error ' + CONVERT(varchar(50), ERROR_NUMBER()) +
  		', Severity ' + CONVERT(varchar(5), ERROR_SEVERITY()) +
  		', State ' + CONVERT(varchar(5), ERROR_STATE()) +
  		', Line ' + CONVERT(varchar(5), ERROR_LINE())
  
	PRINT ERROR_MESSAGE();
  
  	IF XACT_STATE() <> 0 BEGIN
		ROLLBACK TRANSACTION
  	END
END CATCH;
GO
