/****** Object:  StoredProcedure [dbo].[Proc_Report_1636]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1636]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1636]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1636]
	--1636	Vehicle EMI Alerts
	@parameter1 bigint,--Financer
	@parameter2 bigint,--Bank
	@parameter3 bigint,--VehicleId
	@parameter4 nvarchar(max)--AsOfDate
As
BEGIN
	SET NOCOUNT ON;
	
	SELECT 
	o.OfficeName,	

	ll.LoanLogNo,
	ScheduleDate=ll.LogDate,
	PaidTo=dr.FleetAcName,
	Bank=cr.FleetAcName,
	vh.VehicleRegNo,
	ln.RateOfInterest,
	ln.LoanTenure,
	ln.NoofEMI,		
	ll.PrincipalAmount,
	ll.InterestAmount,
	ll.InstallmentAmount,
	
	RepaymentNo=ln.LoanNo,
	RepaymentDate=ln.LoanDate,
	Remarks=ln.Remarks
	from dbo.tLoan as ln
	join dbo.tLoanLog as ll on ll.LoanId=ln.Id
	left join dbo.tLoanLog as xll on xll.ParentLogId=ll.Id
	join dbo.mOfficeMaster as o on o.Id=ln.OfficeId
	join dbo.mLedger as cr on cr.Id=ln.CreditAcId
	join dbo.mLedger as dr on dr.Id=ln.DebitAcId
	join dbo.mVehicleMaster as vh on vh.Id=ll.VehicleId
	WHERE ln.TypeId=1552 and (cast(ll.LogDate as date) <= @parameter4)
	and (case when @parameter1=0 then 1 when ln.CreditAcId=@parameter1 then 1 else 0 end)=1
	and (case when @parameter2=0 then 1 when ln.DebitAcId=@parameter2 then 1 else 0 end)=1
	and (case when @parameter3=0 then 1 when ll.VehicleId=@parameter3 then 1 else 0 end)=1
	and isnull(xll.Id,0)=0
	ORDER BY ll.LogDate
END
GO
