/****** Object:  StoredProcedure [dbo].[Proc_TRANS_BulkuploadGPSData]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_BulkuploadGPSData]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_BulkuploadGPSData]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_BulkuploadGPSData]
@reportrequestid bigint
AS
BEGIN

DECLARE @xml xml,@batchid nvarchar(100),@sessionId bigint;
SELECT TOP 1 @xml=XmlParameter,@batchid=Parameter1, @sessionId=CAST(Parameter2 as bigint) FROM [dbo].[tReportRequestPool] WHERE Id=@reportrequestid
if(@xml IS NULL)return;
DECLARE @hdoc AS INT
	DECLARE @PrepareXmlStatus INT 
	EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml
	SELECT * INTO #tml FROM OPENXML(@hdoc, '/ArrayOfDU_GPSData/DU_GPSData',2)
		WITH (
				VehicleId bigint,
				HireVehicleId bigint,
				GPSKm decimal,
				LogDate date,
				VehicleNo nvarchar(100)
		) as t
		DELETE l FROM dbo.tGPSKmLog l
		 join  #tml as t on l.VehicleNo=t.VehicleNo AND t.LogDate=l.LogDate
	insert into dbo.tGPSKmLog([VehicleId],[HireVehicleId],[GPSKm],[LogDate],[VehicleNo],[KMPerHour],[CSID],[CDOE])
	select 
	[VehicleId]=(case when VehicleId=0 then NULL else VehicleId END), [HireVehicleId]=(case when HireVehicleId=0 then NULL else HireVehicleId END),[GPSKm],[LogDate],[VehicleNo],[KMPerHour]=(case when GPSKm>0 then  GPSKm/24 else 0 END), CSID=@sessionId, CDOE=GETDATE()
	FROM #tml as t

END
GO
