/****** Object:  StoredProcedure [dbo].[Proc_Report_1405]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1405]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1405]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec Proc_Report_1405 10010,'','','2015-01-01','2016-12-12',1158
--select * from mObjectCategory

CREATE proc [dbo].[Proc_Report_1405]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--FromDate
	@parameter5 datetime,--ToDate
	@parameter6 int--
as
begin
	DECLARE @RoleId int,@KmCalcTypeId int,@ColsList varchar(max),@ColsListSum varchar(max),@sql nvarchar(max),@paramterinfo nvarchar(max)
	set @RoleId=(SELECT RoleId from dbo.mObjectCategory where Id=@parameter1)
	 
	select @KmCalcTypeId=Value from dbo.ApiConfigurations where id='DefaultKmSourceForReporting'
	
	if(@parameter6>0)
	begin
		set @KmCalcTypeId=@parameter6
	end

	select @ColsList=isnull(@ColsList,'')+ '['+Name+'],' from dbo.mGenericMaster as gm where ConstantId=1078
	set @ColsList=isnull(@ColsList,'')+'zLabour'

	select @ColsListSum=isnull(@ColsListSum,'')+ 'isnull(['+Name+'],0)+' from dbo.mGenericMaster as gm where ConstantId=1078
	set @ColsListSum='('+ isnull(@ColsListSum,'')+'+ isnull(zLabour,0))'
	
	SET @sql = N'
	SET NOCOUNT ON;
	select 
	CCO.CategoryName
	,CCO.ClassName
	,vm.VehicleNo
	,vm.Id as VehicleId
	,t.tYear
	,VehicleModel=vmod.ModelName
	,'+@ColsList+'
	,t.TotalAmount
	,k.TotalKm
	,CPKMInPaise=cast((case when isnull(k.TotalKm,0)=0 then 0 else  isnull(t.TotalAmount,0)/isnull(k.TotalKm,0) end) as decimal(18,2))*100
	from dbo.mVehicleMaster as vm
	join dbo.mVehicleModel as vmod on vmod.Id=vm.VehicleModelId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCo.ObjectId=vm.Id
	join(
		select *,TotalAmount='+ @ColsListSum  +' from(
			select t.VehicleId,year(ei.DocDate) as tYear,GroupName,TotalAmount=sum(isnull(t.NetAmount,0))
			from dbo.tSpareLogExtraInfo as ei 
			left join(
				select t.VehicleId,t.NetAmount,t.ExtraInfoId,GroupName=gm.Name from dbo.tSpareLog as t join dbo.mSpareMaster as sm on sm.Id=t.SparePartId join dbo.mGenericMaster as gm on gm.Id=sm.SpareGroupId
				union all
				select  rl.VehicleId,rl.NetAmount,rl.ExtraInfoId,GroupName=''zLabour'' from dbo.tRepairLabourLog as rl join dbo.mSpareMaster as sm on sm.ID=rl.LaborId
			)as t on ei.Id=t.ExtraInfoId
			where ei.DocDate between @parameter4 and @parameter5
			group by t.VehicleId,year(ei.DocDate),GroupName
		)as t
		pivot
		(
			sum(t.TotalAmount)
			for t.GroupName in('+@ColsList+')
		)as pvt
	)as t on vm.Id=t.VehicleId
	left join
	(
		Select k.VehicleId,sum(isnull(k.TotalKmRun,0)) as TotalKm from dbo.tVehicleMovementLog as k where k.TripStartDate between @parameter4 and @parameter5 and k.TripTypeId=@KmCalcTypeId group by k.VehicleId
	)as k on k.VehicleId=vm.Id 
	'
	set @paramterinfo='@parameter1 bigint,@parameter2 nvarchar(max),@parameter3 nvarchar(max),@parameter4 datetime,@parameter5 datetime,@parameter6 int,@KmCalcTypeId int'
	print @sql
	execute sp_executesql @sql,@paramterinfo,@parameter1=@parameter1,@parameter2=@parameter2,@parameter3=@parameter3,@parameter4=@parameter4,@parameter5=@parameter5,@parameter6=@parameter6,@KmCalcTypeId=@KmCalcTypeId
end

GO
