/****** Object:  StoredProcedure [dbo].[Proc_Report_1672]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1672]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1672]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1672]
	@Parameter1 Bigint,
	@Parameter2 nvarchar(max),
	@Parameter3 nvarchar(max),
	@Parameter4 date,
	@Parameter5 date,
	@Parameter6 bigint=0
as
begin
	DECLARE @RoleId INT 
	SET @RoleId = (SELECT RoleId FROM dbo.mObjectCategory WHERE Id = @parameter1)
	select
	GPSRemarks=case when len(isnull(t.Ref2,''))>0 then 'Uploaded' else t.Ref1 end,
	GPSRefNo=t.Ref2,
	LocationName=cm.CityName,
	t.InTime,
	t.OutTime,
	t.KM,
	t.[Order],
	tl.TriplogNo,
	TripStartDate=format(tl.TripStartDate,'dd-MMM-yyyy HH:mm:ss'),
	LoadingReachDate=format(tl.LoadingReachDate,'dd-MMM-yyyy HH:mm:ss'),
	LoadingDate=format(tl.LoadingDate,'dd-MMM-yyyy HH:mm:ss'),
	UnloadingReachDate=format(tl.UnloadingReachDate,'dd-MMM-yyyy HH:mm:ss'),
	UnLoadingDate=format(tl.UnLoadingDate,'dd-MMM-yyyy HH:mm:ss')
	
	from dbo.tVehicleMovementLog as tl
	join dbo.CCO(@parameter1, @parameter2, @parameter3) ON CCO.ObjectId = (case @RoleId
        when 1022 then tl.PartyId
        when 1130 then tl.VehicleId
        ELSE tl.PartyId
      END)
	left join dbo.tPickDroplog as t on tl.Id=t.TriplogId and t.[Order]>1
	left join dbo.mCityMaster as cm on cm.Id=t.CityId
	where tl.TripStartDate between @Parameter4 and @Parameter5
	order by tl.TripStartDate desc,tl.TriplogNo
end
GO
