/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1668_DriverIncentive]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1668_DriverIncentive]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1668_DriverIncentive]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  select * from mDriverMaster where Drivercode like '%KD07977%'
--  select * from dbo.mVehicleMaster where VehicleNo like '%9966%'
--  exec [dbo].[Proc_TRANS_1668_DriverIncentive] @parameter1=N'14147',@parameter2=N'2780',@parameter3='2018-06-18'
--  exec [dbo].[Proc_TRANS_1668_DriverIncentive] @parameter1=N'2771',@parameter2=N'2738',@parameter3=N'2018-10-29'

CREATE proc [dbo].[Proc_TRANS_1668_DriverIncentive]
@parameter1 bigint =0, --Driver
@parameter2 bigint =0, --Vehicle
@parameter3 date =null,--voucherdate
@parameter4 bigint=0 --voucherId
as
begin
if(((@parameter1<=0 OR @parameter2<=0 OR @parameter3 IS NULL) AND @parameter4<=0) OR ((@parameter1<=0 AND @parameter2<=0 AND @parameter3 IS NULL) AND @parameter4<=0 ))
return;
select  
    ins.[Select],
    ins.TLId,
    ins.TLHSNo,
    ins.TripStartDate, 
    ins.[Route],
    ins.VehicleType,
    ins.TripNature,
    ins.LoadingDate,
    ins.UnloadingReachDate,
    ins.UnloadingDate,
    ins.VehicleTypeId,
    ins.VehicleId,
    ins.Driver1stId,
    ins.AdvanceId,
    ins.TripKm,
    ins.IncentiveBdgtValueId,
    ins.PerDayIncentiveBdgtValueId,
    ins.FixPenaltyBdgtValueId,
    ins.PerDayPenaltyBdgtValueId,
    ins.OnTimeValueId,
    ins.AllowedDays,
    ins.TimeTaken,
    ins.OkPod,
    ins.DamagePod,
    DifferenceDays=isnull(AllowedDays,0)-isnull(TimeTaken,0),
    Penalty=case when isnull(C_AllowedDays,0)-isnull(C_TimeTaken,0)<0 then isnull(FixPenaltyBdgtValueId,0) else 0 end, 
    PenaltyPerday=case when isnull(C_TimeTaken,0)-isnull(C_AllowedDays,0)>1 then (isnull(PerDayPenaltyBdgtValueId,0)*((isnull(C_TimeTaken,0) - isnull(C_AllowedDays,0))-1)) else 0 end,
    IncentivePerday=case when isnull(C_AllowedDays,0)-isnull(C_TimeTaken,0)<=0 then 0  when PerDayIncentiveBdgtValueId>0 then (isnull(PerDayIncentiveBdgtValueId,0)*(isnull(C_AllowedDays,0)-isnull(C_TimeTaken,0))) else 0 end,
    OnTime=case when (isnull(C_AllowedDays,0)-isnull(C_TimeTaken,0))>=0 THEN isnull(OnTimeValueId,0) ELSE 0 END,
    Total=((isnull(OkPod,0))/** Ok Pod**/ + 
    (isnull(case when (isnull(C_AllowedDays,0)-isnull(C_TimeTaken,0))>=0 THEN isnull(OnTimeValueId,0) ELSE 0 END,0))/** OnTime**/ 
    + (case when isnull(C_AllowedDays,0)-isnull(C_TimeTaken,0)<=0 then 0  when PerDayIncentiveBdgtValueId>0 then (isnull(PerDayIncentiveBdgtValueId,0)*(isnull(C_AllowedDays,0)-isnull(C_TimeTaken,0))) else 0 end) /** perday incentive**/ 
    + (case when isnull(C_TimeTaken,0)-isnull(C_AllowedDays,0)>1 then (isnull(PerDayPenaltyBdgtValueId,0)*((isnull(C_TimeTaken,0) - isnull(C_AllowedDays,0))-1)) else 0 end) /** Perday Penalty**/ 
    + (case when isnull(C_AllowedDays,0)-isnull(C_TimeTaken,0)<0 then isnull(FixPenaltyBdgtValueId,0) else 0 end) /** Fix Penalty**/
    + (ISNULL(DamagePod,0)) /** DamagePod**/)
from(
		select
		rowid=Row_Number() over(partition by v.Id order by ot.EffectiveDate desc),
		[Select]=CAST(0 as bit),
		TLId=v.Id,
		TLHSNo = v.TriplogNo, 
		TripStartDateSort=v.TripStartDate,
		TripStartDate=format(v.TripStartDate,'dd-MMM-yyyy HH:mm'), 
		[Route] = r.[Name], 
		VehicleType=vt.[Name],
		TripNature=case when v.TripNatureId=1076 then 'Empty' else 'Loaded' end,
		LoadingDate = format(v.LoadingDate,'dd-MMM-yyyy HH:mm'),
		UnloadingReachDate=case when v.TripNatureId=1076 then null else format(v.UnloadingReachDate,'dd-MMM-yyyy HH:mm') end, 
		UnloadingDate=format(v.UnLoadingDate,'dd-MMM-yyyy HH:mm'), 
		vm.VehicleTypeId,
		v.VehicleId,
		v.Driver1stId,
		AdvanceId = d.Id,
		TripKm=v.TotalKmRun,
		IncentiveBdgtValueId=case when v.TripNatureId=1076 then 0 else isnull(ot.Value3,0) end,
		PerDayIncentiveBdgtValueId=case when v.TripNatureId=1076 then 0 else  Isnull(ot.Value5,0) end,
		FixPenaltyBdgtValueId=case when v.TripNatureId=1076 then 0 else  -Isnull(ot.Value6,0) end,
		PerDayPenaltyBdgtValueId=case when v.TripNatureId=1076 then 0 else  -Isnull(ot.Value7,0) end,
		OnTimeValueId=case when v.TripNatureId=1076 then 0 else  Isnull(ot.Value8,0) end,
		AllowedDays=ceiling(CASE WHEN isnull(ot.Value2,0)=0 THEN 0 ELSE CAST(Round((v.TotalKmRun/isnull(ot.Value2,0)),1)as decimal(18,1)) END),
		C_AllowedDays=ceiling(CASE WHEN isnull(ot.Value2,0)=0 THEN 0 ELSE CAST(Round((v.TotalKmRun/isnull(ot.Value2,0)),1)as decimal(18,1)) END)+
		ceiling(CASE WHEN isnull(ot.Value2,0)=0 THEN 0 ELSE CAST(Round((tl.E_KmRun/isnull(ot.Value2,0)),1)as decimal(18,1)) END),
		TimeTaken= case when v.TripNatureId=1076 then datediff(day,cast(v.TripStartDate as date),cast(isnull(v.UnloadingDate,GETDATE())as date)) else  datediff(day,cast(v.LoadingDate as date),cast(isnull(v.UnloadingReachDate,GETDATE())as date)) end,
		C_TimeTaken= case when v.TripNatureId=1076 then datediff(day,cast(v.TripStartDate as date),cast(isnull(v.UnloadingDate,GETDATE())as date)) else  datediff(day,cast(v.LoadingDate as date),cast(isnull(v.UnloadingReachDate,GETDATE())as date)) end+
		isnull(tl.E_TimeTaken,0),
		OkPod=case when v.TripNatureId=1076 then 0 else  (CASE WHEN isnull(pod.OkPODCount,0)=isnull(pod.LRCount,0) AND isnull(pod.LRCount,0)>0 THEN isnull(ot.Value3,0) ELSE 0 END) end,
		DamagePod=case when v.TripNatureId=1076 then 0 else  -((CASE WHEN isnull(pod.PODNotOk,0)>0 THEN isnull(ot.Value4,0) ELSE 0 END)+(CASE WHEN isnull(pod.PendingPODCount,0)>0 THEN isnull(ot.Value9,0) ELSE 0 END)) end
	from tVehicleMovementLog v 
	left join(
			select 
			v.Id,
			E_TimeTaken=isnull((Select sum(datediff(day,cast(em.TripStartDate as date),cast(isnull(em.UnloadingDate,getdate()) as date))) from dbo.tVehicleMovementLog as em where em.TripNatureId=1076 and em.VehicleId=v.VehicleId and em.TripStartDate>v.TripStartDate and em.TripStartDate<(Select top 1 x.TripStartDate from dbo.tVehicleMovementlog as x where x.TripNatureId=1075 and x.VehicleId=v.VehicleId and x.TripStartDate>v.TripStartDate order by x.TripStartDate)),0),
			E_KmRun=isnull((Select Sum(Isnull(em.TotalKmRun,0)) from dbo.tVehicleMovementLog as em where  em.TripNatureId=1076 and em.VehicleId=v.VehicleId and em.TripStartDate>v.TripStartDate and em.TripStartDate<(Select top 1 x.TripStartDate from dbo.tVehicleMovementlog as x where x.TripNatureId=1075 and x.VehicleId=v.VehicleId and x.TripStartDate>v.TripStartDate order by x.TripStartDate)),0)
			from tVehicleMovementLog v 
	)as tl on tl.Id=v.Id
	LEFT JOIN mRouteMaster r on r.Id=v.RouteId
	LEFT JOIN mVehicleMaster vm on vm.Id=v.VehicleId
	left join dbo.mGenericMaster as vt on vt.Id=vm.VehicleTypeId
	LEFT JOIN mVehicleConfigLog ot on (ot.TypeId=1642/*Incentive Configuration*/ AND ot.SubTypeId=1644/*OnTime*/ AND (ot.VehicleTypeId=vm.VehicleTypeId OR isnull(ot.VehicleTypeId,0)=0) AND (ot.RouteId=v.RouteId OR isnull(ot.RouteId,0)=0)AND ot.EffectiveDate<=@parameter3 AND (ot.VehicleId=v.VehicleId OR isnull(ot.VehicleId,0)=0)AND (ot.PartyId=v.PartyId OR isnull(ot.PartyId,0)=0)AND (ot.TripNatureId=v.TripNatureId OR isnull(ot.TripNatureId,0)=0)AND (((isnull(v.TotalKmRun,0)+isnull(tl.E_KmRun,0)) between cast(ot.LowerRange as bigint) and cast(ot.UpperRange as bigint))OR ot.LowerRange+ot.UpperRange=0))
	LEFT JOIN(SELECT PODNotOk=sum(case when pod.IsPodOk=0 then 1 else 0 end), OkPODCount=sum(case when pod.IsPodOk=1 THEN 1 ELSE 0 END),PendingPODCount=sum(case when ISNULL(pod.Id,0)=0 THEN 1 ELSE 0 END),LRCount=count(ch.Id),ch.TriplogId FROM tCNChallan ch LEFT JOIN mCNExtraInfo pod on pod.CNId=ch.CNId group by ch.TriplogId) as pod
	on v.Id=pod.TriplogId
	LEFT JOIN [dbo].[tTripAdvanceLog] d on d.AdvanceTypeId=90 AND d.TripLogId=v.Id	
	where (@parameter4<=0 AND v.Driver1stId=@parameter1 AND v.VehicleId=@parameter2 AND isnull(d.Id,0)=0) OR d.VoucherId=@parameter4
	and v.UnLoadingDate IS NOT NULL
) as ins where ins.rowid=1
order by ins.TripStartDateSort
End

GO
