/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1520_DriverIncentiveDetail]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1520_DriverIncentiveDetail]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1520_DriverIncentiveDetail]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_TRNS_1520_DriverIncentiveDetail]
	@parameter1 bigint--DriverId
as
begin
	select a.DriverId, a.ReferenceNo, a.AdvanceDate, a.CashAmount, v.TriplogNo, v.TripStartDate, v.UnLoadingDate 
	from dbo.tTripAdvanceLog as a
	join dbo.tVehicleMovementLog as v on v.Id=a.TripLogId
	where a.AdvanceTypeId=90 and isnull(a.SettlementId,0)=0 and a.DriverId=@parameter1 
end
GO
