/****** Object:  StoredProcedure [dbo].[Proc_Report_1489]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1489]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1489]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [Proc_Report_1489] 0,'2016-04-01','2016-12-12'
CREATE PROC [dbo].[Proc_Report_1489]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--FromDate
	@parameter3 nvarchar(max)--ToDate
As
BEGIN
--1489: Cash Flow
	DECLARE @RoleId int,@FFYId int,@TFYId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	SET NOCOUNT ON;
 
	 DECLARE @Counter BIGINT ,@MAXID BIGINT ,@intAccountID BIGINT    
  
	 DECLARE @AsOnDate DATETIME ,@OPBalance DECIMAL,@TrnTotal DECIMAL,@CurTransactionTotal Decimal  
	
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter2 between OpeningDate and ClosingDate),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter3 between OpeningDate and ClosingDate),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end

	 DECLARE @TempAccountTable TABLE (IDs BIGINT IDENTITY(1,1),AccountID BIGINT )  
	 IF(@parameter1='0')  
	 BEGIN   
	  INSERT INTO  @TempAccountTable  
	  SELECT Ac.Id FROM dbo.mLedger as Ac  where ac.AccountRoleID in(1037,1048)
	 END   
	 ELSE  
	 BEGIN    
		  INSERT INTO  @TempAccountTable  
		  SELECT * FROM SplitCommaString(@parameter1)  
	 END   

	 DECLARE @AccountWiseDetails TABLE   
 (AccountName VARCHAR(500),AccountID BIGINT,GroupName VARCHAR(500),GroupID BIGINT,Amount Decimal,DrCr VARCHAR(10),PAccountID BIGINT)  
  
 DECLARE @DetailsOutFlow TABLE    
 (IDs BIGINT IDENTITY(1,1), AccountName VARCHAR(500),AccountID BIGINT,GroupName VARCHAR(500),GroupID BIGINT,Amount Decimal)  
  
 DECLARE @DetailsInFlow TABLE    
 ( IDs BIGINT IDENTITY(1,1),AccountName VARCHAR(500),AccountID BIGINT,GroupName VARCHAR(500),GroupID BIGINT,Amount Decimal)  
    
 DECLARE @AccountWiseDetailsM TABLE   
 (RowID BIGINT IDENTITY(1,1),AccountNameCr VARCHAR(8000),AccountID BIGINT,AccountIDDr BIGINT,GroupName VARCHAR(500),GroupNameDr VARCHAR(500),GroupID BIGINT,GroupIDDr BIGINT,Amount_Cr DECIMAL,AccountNameDr VARCHAR(8000), Amount_Dr DECIMAL,PAccountID BIGINT
 )  
  
 INSERT INTO @AccountWiseDetails  
 SELECT 
 [AccountName]=(SELECT x.AccountName FROM dbo.mLedger as x Where x.Id = VD.AccountID),
 AccountID,  
 [GroupName]=(SELECT x.GroupName FROM dbo.mAccountGroup as x Where x.Id = (SELECT z.GroupId FROM dbo.mLedger as z Where z.Id = VD.AccountID)),  
 [GroupID]=(SELECT x.GroupId FROM dbo.mLedger as x Where x.Id = VD.AccountID),  
 SUM(VDAmount),
 DrCr=case when VD.VDAmount>0 then 'Dr' else 'Cr' end,
 @intAccountID 
 FROM dbo.tVoucherVD AS VD    
 JOIN dbo.tVouchers AS V ON V.Id = VD.VoucherID  
 WHERE V.FYID=@FFYId and VD.VoucherID IN(SELECT VDS.VoucherID  FROM dbo.tVoucherVD As VDs  
      JOIN dbo.tVouchers AS Vs ON Vs.Id = VDs.VoucherID    
      WHERE Vs.FYID=@FFYId and VDs.AccountID IN(SELECT AccountID FROM @TempAccountTable)  AND Vs.VoucherDate>= @parameter2 AND Vs.VoucherDate <=@parameter3)  
 AND AccountID NOT IN(SELECT AccountID FROM @TempAccountTable)  
 GROUP BY  AccountID,case when VD.VDAmount>0 then 'Dr' else 'Cr' end

 
 set @OPBalance= (select sum(isnull(vd.VDAmount,0))  from dbo.tVouchers as v join tVoucherVD as vd on v.Id=vd.VoucherId where FYID=@FFYId and VoucherDate<@parameter2 and vd.AccountId In(SELECT AccountID FROM @TempAccountTable))
 
 INSERT INTO @AccountWiseDetailsM (AccountNameCr,Amount_Cr,Amount_Dr)  
 SELECT 'Opening Balance',CASE WHEN (@OPBalance )>0 THEN (@OPBalance ) ELSE 0  END,CASE WHEN (@OPBalance )>0 THEN 0 ELSE (@OPBalance) END 
 
 INSERT INTO @DetailsOutFlow  
 SELECT AccountnameDr,AccountID,GroupName,GroupID,SUMAMTDr   
 FROM(SELECT CASE  WHEN SUM(Amount)>0 THEN '' ELSE Accountname END AS AccountnameCr ,AccountID,GroupName,GroupID,  
  CASE  WHEN SUM(Amount)>0 THEN 0 ELSE SUM(Amount) END AS SUMAMT,  
  CASE  WHEN SUM(Amount)>0 THEN Accountname ELSE '' END AS AccountnameDr,  
  CASE  WHEN SUM(Amount)>0 THEN SUM(Amount) ELSE 0 END AS SUMAMTDr   
  FROM @AccountWiseDetails GROUP BY Accountname,AccountID,GroupName,GroupID  
 )TabOutFlow WHERE SUMAMTDr>0  
   
 INSERT INTO @DetailsInFlow  
 SELECT AccountnameCr,AccountID,GroupName,GroupID,SUMAMT   
 FROM(SELECT CASE WHEN SUM(Amount)>0 THEN '' ELSE Accountname END AS AccountnameCr ,AccountID,GroupName,GroupID,  
  CASE WHEN SUM(Amount)>0 THEN 0 ELSE SUM(Amount) END AS SUMAMT,  
  CASE WHEN SUM(Amount)>0 THEN Accountname ELSE '' END AS AccountnameDr,  
  CASE WHEN SUM(Amount)>0 THEN SUM(Amount) ELSE 0 END AS SUMAMTDr   
  FROM @AccountWiseDetails GROUP BY Accountname,AccountID,GroupName,GroupID  
 )TabInFlow WHERE SUMAMT<0  

 DECLARE @MAXIDOF BIGINT ,@MAXIDIF BIGINT   
 SET @MAXIDOF =ISNULL((SELECT MAX(IDs) FROM @DetailsOutFlow),0)   
 SET @MAXIDIF =ISNULL((SELECT MAX(IDs) FROM @DetailsInFlow),0)   
         
 IF(@MAXIDOF>@MAXIDIF)  
 BEGIN   
  INSERT INTO @AccountWiseDetailsM(AccountNameCr,AccountID,AccountIDDr,GroupName,GroupNameDr,GroupID,GroupIDDr,Amount_Cr,AccountNameDr,Amount_Dr)  
  SELECT [AccountNameCr]=ISNULL((SELECT AccountName FROM @DetailsINFlow WHERE IDS=OUF.IDs),''),            
  [AccountID] =ISNULL((SELECT AccountID FROM @DetailsINFlow WHERE IDS=OUF.IDs),0),OUF.AccountID,  
  [GroupName] =ISNULL((SELECT GroupName FROM @DetailsINFlow WHERE IDS=OUF.IDs),''),OUF.GroupName,  
  [GroupID] =ISNULL((SELECT GroupID FROM @DetailsINFlow WHERE IDS=OUF.IDs),0),OUF.GroupID,  
  [Amount_Cr] =ISNULL((SELECT Amount FROM @DetailsINFlow WHERE IDS=OUF.IDs),0),  
  OUF.AccountName,Amount FROM @DetailsOutFlow AS OUF      
 END   
 ELSE  
 BEGIN   
  INSERT INTO @AccountWiseDetailsM(AccountNameCr,AccountID,AccountIDDr,GroupName,GroupNameDr,GroupID,GroupIDDr,Amount_Cr,AccountNameDr,Amount_Dr)  
  SELECT [AccountNameCr]=AccountName,INF.AccountID ,           
  [AccountID] =ISNULL((SELECT AccountID FROM @DetailsOutFlow WHERE IDS=INF.IDs),0),INF.GroupName,  
  [GroupName] =ISNULL((SELECT GroupName FROM @DetailsOutFlow WHERE IDS=INF.IDs),''),INF.GroupID,  
  [GroupID] =ISNULL((SELECT GroupID FROM @DetailsOutFlow WHERE IDS=INF.IDs),0),  
  [Amount_Cr] =Amount,  
  ISNULL((SELECT AccountName FROM @DetailsOutFlow WHERE IDS=INF.IDs),''),  
  ISNULL((SELECT Amount FROM @DetailsOutFlow WHERE IDS=INF.IDs),0)   
  FROM @DetailsINFlow AS INF      
 END   
         
 SET @CurTransactionTotal = (SELECT ((SUM(ABS(Amount_Cr)) - SUM(ABS(Amount_Dr)))) FROM @AccountWiseDetailsM)    
   
 INSERT INTO @AccountWiseDetailsM (AccountNameCr,Amount_Cr,Amount_Dr)  
 SELECT 'Current Transaction Total',SUM(ABS(Amount_Cr)), SUM(ABS(Amount_Dr))  
 FROM @AccountWiseDetailsM AS Aw  
  
 --Enter OPening - Transaction  Closing Balance  
 INSERT INTO @AccountWiseDetailsM (AccountNameCr,Amount_Cr,Amount_Dr)  
 SELECT TOP 1  'Closing Balance ',CASE  WHEN @CurTransactionTotal < 0 THEN 0 ELSE @CurTransactionTotal END,  
 CASE  WHEN @CurTransactionTotal > 0 THEN 0 ELSE @CurTransactionTotal END  
 FROM @AccountWiseDetailsM AS Aw

 SELECT [AccountNameInFlow] =AccountNameCr,CONVERT(DECIMAL(18,2),ABS(Amount_Cr))AS InFlow,[GroupNameInFlow]=GroupName,[AccoutNameOutFlow]=AccountNameDr,[GroupNameOutFlow]=GroupNameDr, CONVERT(DECIMAL(18,2),ABS(Amount_Dr)) AS OutFlow   
  FROM @AccountWiseDetailsM  
END
GO
