/****** Object:  StoredProcedure [dbo].[Proc_Report_1354]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1354]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1354]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1354] 20018,'','','2018-06-01'
--	select * from dbo.mObjectCategory
--	Select * from apiviews where id=1307
--	Select * from dbo.mConstantValue where constanttypeid=87
--	select * from dbo.tBatteryLog where VoucherTypeId=33

CREATE proc [dbo].[Proc_Report_1354]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)--AccountIds
as
begin
	select  
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	dvr.DriverName,
	dvr.DriverCode,
	v.VehicleNo,
	OnDate=dm.StatusDate,
	GurantorName=gn.DriverName,
	GurantorCode=gn.DriverCode,
	GurantorVehicleNo=v.VehicleNo,
	GurantorOnDate=dm.StatusDate
	from dbo.mDriverMaster as dvr
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=dvr.Id
	left join dbo.mDriverGuarantor as gt on gt.DriverId=dvr.Id
	left join dbo.mDriverMaster as gn on gn.Id=gt.GuarantorId
	left join dbo.tDriverVehicleMapping as dm on dm.DriverId=dvr.Id and Isnull(dm.NextLogId,0)=0
	left join dbo.mVehicleMaster as v on v.Id=dm.VehicleId
	left join dbo.tDriverVehicleMapping as xdm on xdm.DriverId=gt.GuarantorId and Isnull(xdm.NextLogId,0)=0
	left join dbo.mVehicleMaster as xv on xv.Id=xdm.VehicleId
end
GO
