/****** Object:  StoredProcedure [dbo].[Proc_Report_1626]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1626]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1626]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--	EXEC [Proc_Report_1600] 30015,'','','2016-01-01','2016-10-08'

CREATE proc [dbo].[Proc_Report_1626] 
--1626 Delivery Status Summary
@parameter1 bigint,--OfficeId
@parameter4 DateTime,--FromDate
@parameter5 DateTime,--ToDate
@parameter6 bigint,--Consignee
@parameter7 bigint--Consignor
As
BEGIN
	if(DATEDIFF(MONTH,@parameter4,@parameter5)>2)--Only 2 Month report is allowed
	begin
		RAISERROR ('You can see only 2 months data at a time',16,1);
	end

	SELECT 
	[DispatchOffice]=so.OfficeName,
	[DispatchNo]=vml.TriplogNo,
	[DispatchDate]=vml.TripStartDate,
	VehicleNo=case when vml.VehicleId>0 then vm.VehicleRegNo else hvm.VehicleNo end,
	DriverName=vml.DriverName,
	DriverPhone=vml.DriverPhone,
	i.[Consignor],
	i.[Consignee],	
	i.DeliveredQty,
	i.DispatchQty
	FROM dbo.tVehicleMovementLog as vml
	join dbo.mOfficeMaster as so on so.Id=vml.OfficeId
	left join 
	(
		select 
		mml.TriplogId
		,Consignor=cnr.FleetAcName
		,Consignee=cne.FleetAcName
		,DispatchQty=sum(isnull(mml.OutQty,0))
		,DeliveredQty=sum(isnull(mml.InQty,0))
		from dbo.tCNStockMMLog as mml 
		join dbo.tCNMaster as t on t.Id=mml.CNId 
		join dbo.mLedger as cne on cne.Id=t.ConsigneeId
		join dbo.mLedger as cnr on cnr.Id=t.ConsignorId
		where (case when @parameter6=0 then 1 when @parameter6=t.ConsigneeId then 1 else 0 end )=1
		and (case when @parameter7=0 then 1 when @parameter7=t.ConsignorId then 1 else 0 end )=1
		group by mml.TriplogId,cnr.FleetAcName,cne.FleetAcName
	)as i on i.TriplogId=vml.Id	
	left join dbo.mVehicleMaster as vm on vm.Id=vml.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=vml.HireVehicleId
	
	WHERE vml.TripStartDate between @parameter4 and @parameter5 and vml.TripTypeId=1453
	and vml.OfficeId=@parameter1
	
	

END

GO
