/****** Object:  StoredProcedure [dbo].[PROC_GLB_UpdateDailyKM]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[PROC_GLB_UpdateDailyKM]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GLB_UpdateDailyKM]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [dbo].[PROC_GLB_UpdateDailyKM] @parameter1=725,@parameter2=0
--EXEC [dbo].[PROC_GLB_UpdateDailyKM] @parameter1=725,@parameter2=1
--EXEC [dbo].[PROC_GLB_UpdateDailyKM] @parameter1=725,@parameter2=2
--EXEC [dbo].[PROC_GLB_UpdateDailyKM] @parameter1=725,@parameter2=3
--GO
CREATE PROC [dbo].[PROC_GLB_UpdateDailyKM]
@parameter1 bigint,--GPSVendorId
@parameter2 int=0,--KM CalculationType 
/* Parameter2 Options
0:Min Max Difference Of ODOMeter Column
1:Min Max Difference Of TravelledKM Column
2:SUM TravelledKM Column
3:SUM KM Column
4: Max of TravelledKM Column
*/
@parameter3 int=15--Daily Manditory Travelled Hour
AS
BEGIN
	SET @parameter2=ISNULL(@parameter2,0);
	DELETE g FROM dbo.tGPSKmLog g
	LEFT JOIN mVehicleMaster m on g.VehicleId=m.Id
	LEFT JOIN mHireVehicle h on g.HireVehicleId=h.Id
	WHERE LogDate=CAST(GETDATE() as date) AND ISNULL(m.GPSVendorId,h.GPSVendorId)=@parameter1

	IF(@parameter3=0)
	BEGIN
		SET @parameter3=15;
	END

	IF(@parameter2=0)/*0:Min Max Difference Of ODOMeter Column*/
	BEGIN

		INSERT INTO dbo.tGPSKmLog(VehicleId,HireVehicleId,LogDate,VehicleNo,KMPerHour,GPSKm,CSID,CDOE)
		SELECT VehicleId,HireVehicleId,LogDate,d.VehicleNo,KMPerHour=Round((MaxODOMeter-MinODOMeter)/@parameter3,1),GPSKm=(MaxODOMeter-MinODOMeter),d.CSID,d.CDOE
		FROM (SELECT VehicleId,HireVehicleId,LogDate=CAST(Max(GPSTime) as date),VehicleNo ,CSID=0,CDOE=GETDATE(),MaxODOMeter=Max(ODOMeter),MinODOMeter=MIN(ODOMeter)
		FROM tGPSStatusLog where CAST(GPSTime as date)=CAST(GETDATE() as date) AND (ODOMeter>0) group by VehicleNo,VehicleId,HireVehicleId) as d
		LEFT JOIN mVehicleMaster m on d.VehicleId=m.Id
		LEFT JOIN mHireVehicle h on d.HireVehicleId=h.Id
		WHERE ISNULL(m.GPSVendorId,h.GPSVendorId)=@parameter1		
	END

	ELSE IF(@parameter2=1)/*1:Min Max Difference Of TravelledKM Column*/
	BEGIN
	INSERT INTO dbo.tGPSKmLog(VehicleId,HireVehicleId,LogDate,VehicleNo,KMPerHour,GPSKm,CSID,CDOE)
		SELECT VehicleId,HireVehicleId,LogDate,d.VehicleNo,KMPerHour=Round((MaxODOMeter-MinODOMeter)/@parameter3,1),GPSKm=(MaxODOMeter-MinODOMeter),d.CSID,d.CDOE 		
		FROM (SELECT VehicleId,HireVehicleId,LogDate=CAST(Max(GPSTime) as date),VehicleNo ,CSID=0,CDOE=GETDATE(),MaxODOMeter=Max(TravelledKM),MinODOMeter=MIN(TravelledKM)
		FROM tGPSStatusLog where CAST(GPSTime as date)=CAST(GETDATE() as date) AND (TravelledKM>0) group by VehicleNo,VehicleId,HireVehicleId) as d
		LEFT JOIN mVehicleMaster m on d.VehicleId=m.Id
		LEFT JOIN mHireVehicle h on d.HireVehicleId=h.Id
		WHERE ISNULL(m.GPSVendorId,h.GPSVendorId)=@parameter1	
	END

	ELSE IF(@parameter2=2)/*2:SUM TravelledKM Column*/
	BEGIN
	INSERT INTO dbo.tGPSKmLog(VehicleId,HireVehicleId,LogDate,VehicleNo,KMPerHour,GPSKm,CSID,CDOE)
		SELECT d.* FROM (SELECT VehicleId,HireVehicleId,LogDate=CAST(Max(GPSTime) as date),VehicleNo,KMPerHour=Round(SUM(TravelledKM)/@parameter3,1),GPSKm=SUM(TravelledKM) ,CSID=0,CDOE=GETDATE()
		FROM tGPSStatusLog where CAST(GPSTime as date)=CAST(GETDATE() as date) group by VehicleNo,VehicleId,HireVehicleId) as d
		LEFT JOIN mVehicleMaster m on d.VehicleId=m.Id
		LEFT JOIN mHireVehicle h on d.HireVehicleId=h.Id
		WHERE ISNULL(m.GPSVendorId,h.GPSVendorId)=@parameter1	
	END

	ELSE IF(@parameter2=3)/*3:SUM KM Column*/
	BEGIN
	INSERT INTO dbo.tGPSKmLog(VehicleId,HireVehicleId,LogDate,VehicleNo,KMPerHour,GPSKm,CSID,CDOE)
		SELECT d.* FROM (SELECT VehicleId,HireVehicleId,LogDate=CAST(Max(GPSTime) as date),VehicleNo,KMPerHour=Round(SUM(KM)/@parameter3,1),GPSKm=SUM(KM) ,CSID=0,CDOE=GETDATE()
		FROM tGPSStatusLog where CAST(GPSTime as date)=CAST(GETDATE() as date) group by VehicleNo,VehicleId,HireVehicleId) as d
		LEFT JOIN mVehicleMaster m on d.VehicleId=m.Id
		LEFT JOIN mHireVehicle h on d.HireVehicleId=h.Id
		WHERE ISNULL(m.GPSVendorId,h.GPSVendorId)=@parameter1	
	END

	ELSE IF(@parameter2=4)/*2:Max of TravelledKM Column*/
	BEGIN
	INSERT INTO dbo.tGPSKmLog(VehicleId,HireVehicleId,LogDate,VehicleNo,KMPerHour,GPSKm,CSID,CDOE)
		SELECT d.* FROM (SELECT VehicleId,HireVehicleId,LogDate=CAST(Max(GPSTime) as date),VehicleNo,KMPerHour=Round(Max(TravelledKM)/@parameter3,1),GPSKm=Max(TravelledKM) ,CSID=0,CDOE=GETDATE()
		FROM tGPSStatusLog where CAST(GPSTime as date)=CAST(GETDATE() as date) group by VehicleNo,VehicleId,HireVehicleId) as d
		LEFT JOIN mVehicleMaster m on d.VehicleId=m.Id
		LEFT JOIN mHireVehicle h on d.HireVehicleId=h.Id
		WHERE ISNULL(m.GPSVendorId,h.GPSVendorId)=@parameter1	
	END
END
GO
