/****** Object:  StoredProcedure [dbo].[Proc_Report_1350]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1350]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1350]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1350] 20018,'','','2017-06-01'
--	select * from dbo.mObjectCategory
--	Select * from apiviews where id=1307
--	Select * from dbo.mConstantValue where constanttypeid=87
--	select * from dbo.tBatteryLog where VoucherTypeId=33

CREATE PROC [dbo].[Proc_Report_1350]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 date--fromdate	
as
begin
	select * from 
	(
	select  
	
	CategoryName = CCO.CategoryName,
	ClassName = CCO.ClassName,
	 dvr.DriverName,
	 dvr.DriverCode,
	 t.RefNo,
	 t.CertificateNo,
	 TrainingType=ty.Name,
	 Grade=gd.Name,
	 t.StartDate,
	 t.EndDate	 ,
	 ROW_NUMBER()Over(partition by t.DriverId,t.TrainingTypeId order by t.EndDate desc) as rowid
	from dbo.tDriverTrainingLog as t
	join dbo.mDriverMaster as dvr on dvr.ID=t.DriverId
	join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=t.DriverId
	left join dbo.mGenericMaster as ty on ty.ID=t.TrainingTypeId
	left join dbo.mGenericMaster as gd on gd.ID=t.GradeId
	) as t where t.EndDate<=@parameter4 and rowid=1 
end
GO
