/****** Object:  StoredProcedure [dbo].[Proc_Report_1510]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1510]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1510]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1510]
	@parameter1 bigint,--CNId
	@parameter2 bigint--CNMMId
as
begin	
	select
	ofc.OfficeName,
	DeliveryStatus=st.ConstantName,
    LRNo=cn.CNNo,
	LRDate=cn.CNDate,
	LRMaterial=cn.MaterialInfo,
	cnm.InvoiceNo,
	cnm.InvoiceDate,
	LoadingQty=isnull(tt.OutQty,0),
	Consignee=cne.FleetAcName,
	Consignor=cnr.FleetAcName,
	DocNo=Tl.TriplogNo,
	DocDate=tl.TripStartDate,

	VehRegNo=vm.VehicleRegNo,
	Tl.DriverName,
	Tl.DriverPhone,
	
	GatePassNo='',
	PartRemark=cnm.Remark
	from dbo.tCNStockLog as t
	join dbo.tCNMaster as cn on t.CNId=cn.Id
	left join dbo.tCNStockMMLog as tt on t.Id=tt.StockLogId
	left join dbo.tCNMultiMaterial as cnm on tt.CNMMId=cnm.Id
	left join dbo.tVehicleMovementLog as tl on tl.Id=t.TriplogId
	left join dbo.mconstantvalue as st on st.Id=t.LogTypeId
	left join dbo.mVehicleMaster as vm on vm.Id=tl.VehicleId
	left join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId	
	left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
	left join dbo.mLedger as cnr on cnr.Id=cn.ConsignorId
	where cn.Id=@parameter1 or cnm.Id=@parameter2
	--order by t.LogDate
	order by t.id 
end
GO
