/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1523_UpdateCnStockMMLog]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1523_UpdateCnStockMMLog]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1523_UpdateCnStockMMLog]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1523_UpdateCnStockMMLog]
@parameter1 xml
AS
BEGIN
DECLARE @xml AS XML
DECLARE @hdoc AS INT
DECLARE @PrepareXmlStatus INT  
SET @xml = @parameter1

EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml --Preparing XML handle
 
SELECT * INTO #tmp FROM OPENXML(@hdoc, '/ArrayOfVW_Acknowledgment/VW_Acknowledgment',2)
WITH (
[Select] bit,
[LogType] bigint,
[AcknowledgmentNo] nvarchar(50),
[VendorCode] nvarchar(50),
[PartNo] nvarchar(50),
[Id] bigint,
[InvoiceNo] nvarchar(50),
[Qty] decimal, 
[DispatchDate] datetime,
[OutQtyId] decimal, 
[DispatchId] bigint
) as temp
update L SET 
L.DeliveryAcknowledgeNo=temp.AcknowledgmentNo,
L.LogTypeId=temp.LogType,
L.InQty=temp.Qty,
L.LogDate=(CASE WHEN temp.LogType in(1451,1424) THEN ISNULL(vml.LoadingDate,vml.TripStartDate) WHEN temp.LogType in(1455,1422,1425) THEN ISNULL(vml.UnLoadingDate,ISNULL(vml.TripStartDate,vml.UnloadingReachDate)) END)
FROM #tmp as temp
left join tCNStockMMLog L on temp.Id=L.Id 
left join tVehicleMovementLog vml on vml.Id=L.TripLogId


EXEC sp_xml_removedocument @hdoc --Releasing memory
END
GO
