/****** Object:  StoredProcedure [dbo].[Proc_Report_1475]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1475]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1475]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1475]
AS
begin
	select 
	t.UnitName
	,t.Alias
	,[UnitType]=ty.ConstantName
	from dbo.mUnitMaster as t
	left join dbo.mConstantValue as ty on ty.Id=t.TypeId
	order by t.UnitName 
end
GO
