/****** Object:  StoredProcedure [dbo].[Proc_Report_1518]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1518]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1518]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_Report_1518] 
(
	@parameter1 DATETIME,@parameter2 DATETIME
)
AS 
BEGIN
-- 1449: Ledger
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter1 between OpeningDate and ClosingDate),0)
	if(@FFYId<=0)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end

	DECLARE @Ledger TABLE
	(RowID BIGINT IDENTITY(1,1),VoucherId bigint,VdId bigint,OfficeId bigint,VoucherDate datetime,Office nvarchar(255),VoucherNo nvarchar(255),ChequeNo varchar(255),VoucherType varchar(255),PrimaryGroup varchar(255),GroupName varchar(255),Particulars VARCHAR(1000), Debit decimal(18,2),Credit decimal(18,2), VehicleNo nvarchar(60),HireVehicleNo nvarchar(60), HireVehicleOwn nvarchar(140) ,Narration nvarchar(1000),OrderId int)

	insert into @Ledger(VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,PrimaryGroup,GroupName,Particulars,Debit,Credit,VehicleNo,HireVehicleNo, HireVehicleOwn,Narration,OrderId)
	
	Select 
	VoucherDate =v.VoucherDate
	,Office=o.OfficeName
	,v.VoucherNo
	,vd.ChequeNo
	,vt.VoucherTypeName
	,PrimaryGroup=(select top 1 x.GroupName FROM dbo.[Func_GetAllParentGroupsOfGroup](a.GroupId) as x where isnull(x.ParentGroupId,0)=0)
	,ag.GroupName
	,Particulars=a.FleetAcName
	,[DebitAmount]=case when ISNULL(vd.VDAmount,0)>0 then case when adv.VoucherId>0 then adv.CashAmount+adv.FuelAmount when isnull(adv.VoucherId,0)=0 then ISNULL(vd.VDAmount,0) else 0 end end
	,[CreditAmount]=abs(case when ISNULL(vd.VDAmount,0)<0 then case when adv.VoucherId>0 then adv.CashAmount+adv.FuelAmount  when isnull(adv.VoucherId,0)=0 then  ISNULL(vd.VDAmount,0) else 0 end end)
	,VehicleNo= Isnull(ov.VehicleNo,'')
	,HireVehicleNo=Isnull(hv.VehicleNo,'')
	,HireVehicleOwn=isnull(hv.Owner,'')
	,Narration=ISNULL(v.AccNarration,'')+'  '+ISNULL(vd.Narration,'')+'  '+ISNULL(v.UserRemarks,'')
	,2
	from dbo.tVouchers as v 
	inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
	inner join dbo.mLedger as a on a.Id=vd.AccountId
	inner join dbo.mOfficeMaster as o on o.Id=v.OfficeId
	inner join dbo.mAccountGroup as ag on ag.Id=a.GroupId
	inner join dbo.mVoucherType as vt on vt.Id=v.VoucherTypeId
	left join dbo.tTripAdvanceLog adv on adv.VoucherId=v.Id and adv.AdvanceTypeId=v.VoucherTypeId
	left join dbo.mVehicleMaster ov on ov.Id=adv.VehicleId
	left join dbo.mHireVehicle hv on hv.Id=adv.HireVehicleId
	where v.FYID=@FFYId and (v.VoucherDate between @parameter1 and @parameter2) and v.IsAccepted=1 and IsAccountsVisiblity=1
	and v.VoucherTypeId not in(19,69)
	order by v.VoucherDate
	
	insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	
	select 'Transaction Total',Sum(Debit),Sum(Credit),3 from @Ledger where OrderId=2

	
	select VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,PrimaryGroup,GroupName,Particulars,Debit,Credit,VehicleNo,HireVehicleNo, HireVehicleOwn,Narration from @Ledger order by OrderId
END
GO
