/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1520_Save]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1520_Save]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1520_Save]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------	exec Proc_TRNS_1520_Save 0,2016,0

CREATE proc [dbo].[Proc_TRNS_1520_Save]
	@parameter1 bigint,--month
	@parameter2 bigint,--year
	@parameter3 bigint--VehicleId
as
begin
	declare @tnsdate datetime,@month varchar(100)

	IF(@parameter2<=0)
	BEGIN
		RAISERROR('Year is required',11,0)
		RETURN
	END

	if(@parameter2>0 and @parameter1>0)---- condition for selected month
	begin
	
		set @tnsdate=cast(@parameter2 as nvarchar(4)) +'/'+cast(@parameter1 as nvarchar(2))+ '/01'
		insert into dbo.tVehicleMonthlyBudget(RefDate,VehicleId,DriverSalary,DueAmount,InstallmentAmount,OtherExpense,TyreAmount,RepairAmount,TripAmount,StatusId,CSID,CDOE)
		select @tnsdate,t.Id,t.VehBudgDriverExp,t.VehBudgPaperExp,t.VehBudgEMIExp,t.VehBudgOtherExp,t.VehBudgTyreExp,t.VehBudgRepairExp,t.VehBudgTripExp,0,0,getdate() FROM dbo.mVehicleMaster as t 
		where (case when @parameter3>0 and t.Id=@parameter3 then 1 when @parameter3=0 then 1 else 0 end)=1-- condition for vehicle or all vehicle
	end
	else if(@parameter2>0 and @parameter1=0)---- condition for month or all month
	begin
		set @month='1,2,3,4,5,6,7,8,9,10,11,12'
		insert into dbo.tVehicleMonthlyBudget(RefDate,VehicleId,DriverSalary,DueAmount,InstallmentAmount,OtherExpense,TyreAmount,RepairAmount,TripAmount,StatusId,CSID,CDOE)
		select t.tYear,t.Id,t.VehBudgDriverExp,t.VehBudgPaperExp,t.VehBudgEMIExp,t.VehBudgOtherExp,t.VehBudgTyreExp,t.VehBudgRepairExp,t.VehBudgTripExp,0,0,getdate()  from (

			select y.tYear,t.Id,t.VehBudgDriverExp,t.VehBudgPaperExp,t.VehBudgEMIExp,t.VehBudgOtherExp,t.VehBudgTyreExp,t.VehBudgRepairExp,t.VehBudgTripExp FROM dbo.mVehicleMaster as t,
			(select (cast(@parameter2 as varchar(4)) +'/'+cast( t.Item as varchar(4))+ '/01')  as tYear from dbo.SplitCommaString(@month) as t) y
		) as t
		where (case when @parameter3>0 and t.Id=@parameter3 then 1 when @parameter3=0 then 1 else 0 end)=1-- condition for vehicle or all vehicle
	end
	select 'Record saved successfully' as Response
END

GO
