/****** Object:  StoredProcedure [dbo].[Proc_Report_1449_V1]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1449_V1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1449_V1]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--drop procedure [dbo].[TrialBalanceGroupNew] 
--	[Proc_Report_1491] 7,'2016-04-01','2017-03-31'
CREATE procedure [dbo].[Proc_Report_1449_V1] 
(
	@parameter1 DATETIME,@parameter2 datetime,@parameter3 BIGINT
)
AS 
BEGIN
-- 1449: Ledger
	Declare @FFYId int,@TFYId int
	SET @FFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter1 between OpeningDate and ClosingDate),0)
	SET @TFYId =ISNULL((SELECT top 1 Id FROM dbo.mFY WHERE @parameter2 between OpeningDate and ClosingDate),0)
	if(@FFYId<>@TFYId)
	begin
		RAISERROR ('From Date and To Date should be in same financial year',16,1);  
		RETURN;
	end

	DECLARE @Ledger TABLE
	(RowID BIGINT IDENTITY(1,1),VoucherId bigint,VdId bigint,OfficeId bigint,VoucherDate datetime,Office nvarchar(255),VoucherNo nvarchar(255),ChequeNo varchar(255),VoucherType varchar(255),Particulars VARCHAR(1000), Debit decimal(18,2),Credit decimal(18,2),Narration nvarchar(500) ,OrderId int)

	Declare @OpBalance DECIMAL(18,2),@ClBalance DECIMAL(18,2)
	Set @OpBalance=isnull((Select sum(isnull(xvd.VDAmount,0)) from dbo.tVouchers as xv join dbo.tVoucherVD as xvd on xv.Id=xvd.VoucherId where  xvd.AccountId=@parameter3 and  xv.FYID=@FFYId and xv.VoucherDate < @parameter2 and xv.IsAccepted=1 and xv.IsAccountsVisiblity=1),0)
	insert into @Ledger(VoucherDate,Particulars,Debit,Credit,OrderId) values(@parameter1,'Opening Balance',case when @OpBalance>0 then @OpBalance else null end,case when @OpBalance<0 then abs(@OpBalance) else null end,1)

	insert into @Ledger(VoucherId,VdId,OfficeId,VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,Narration,OrderId)
	
	Select 
	v.Id
	,vd.Id
	,OfficeId=v.OfficeId
	,VoucherDate =v.VoucherDate
	,Office=o.OfficeName
	,v.VoucherNo
	,vd.ChequeNo
	,vt.VoucherTypeName
	,Particulars=case when v.Account3Id>0 then 'as per detail' else (case when v.Account1Id=vd.AccountId then a1.FleetAcName else a.FleetAcName end) end
	,[DebitAmount]=case when ISNULL(vd.VDAmount,0)>0 then ISNULL(vd.VDAmount,0) else 0 end
	,[CreditAmount]=abs(case when ISNULL(vd.VDAmount,0)<0 then ISNULL(vd.VDAmount,0) else 0 end)
	,Narration=v.AccNarration
	,2
	from dbo.tVouchers as v 
	inner join dbo.tVoucherVD as vd on  v.Id=vd.VoucherId
	inner join dbo.mLedger as a on a.Id=v.Account1Id
	inner join dbo.mLedger as a1 on a1.Id=v.Account2Id
	inner join dbo.mOfficeMaster as o on o.Id=v.OfficeId
	inner join dbo.mVoucherType as vt on vt.Id=v.VoucherTypeId
	where v.FYID=@FFYId and v.VoucherDate between @parameter1 and @parameter2 and v.IsAccepted=1 and IsAccountsVisiblity=1
	order by v.VoucherDate
	insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	select 'Transaction Total',Sum(Debit),Sum(Credit),3 from @Ledger where OrderId=2

	set @ClBalance=isnull((select Sum(Debit)-Sum(Credit) from @Ledger),0)
	insert into @Ledger(Particulars,Debit,Credit,OrderId) 
	values('Closing Balance',case when ISNULL(@ClBalance,0)>0 then ISNULL(@ClBalance,0) else 0 end,abs(case when ISNULL(@ClBalance,0)<0 then ISNULL(@ClBalance,0) else 0 end),4)

	select VoucherId,VdId,OfficeId,VoucherDate ,Office,VoucherNo,ChequeNo,VoucherType,Particulars,Debit,Credit,Narration,OrderId from @Ledger 

END
GO
