/****** Object:  StoredProcedure [dbo].[Proc_Report_1437]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1437]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1437]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1437]
--1437: New Stock Summary
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)
as
begin
	set nocount on;
	select 
		Store = dr.FleetAcName,
		BrandName = bm.BrandName,
		TypeName=vt.VoucherTypeName,
		NoofTyres=Count(t.TyreId),
		StockValue=round(Sum(t.NetAmount),0)
	from dbo.mTyreMaster as tm
	join dbo.tTyreLog as t on tm.Status_TyrelogId=t.Id
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=t.DebitAccountId		
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	join dbo.mVoucherType as vt on vt.Id=t.VoucherTypeId
	where t.TyreStatusId=1099
	group by dr.FleetAcName,bm.BrandName,vt.VoucherTypeName
	order by dr.FleetAcName,bm.BrandName,vt.VoucherTypeName
end
GO
