/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV2]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatV2]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV2]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select top 10 * from dbo.tReportRequestPool order by Id desc
--exec [dbo].[Proc_Report_1538_BillFormatV2] 10042
--	[Proc_Report_1538_BillFormatV2]id=1 '10'

CREATE proc [dbo].[Proc_Report_1538_BillFormatV2] 
--1538	Bill Format 1
@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	SELECT
		Id=b.Id,		
		[Customer]=l.BookingAcName,--b-legder
		[BillNo]=b.BillNo,--b
		[BillDate]=b.BillDate,--b
		[Consignee]=cne.BookingAcName,--cn
		[CustomerAdress]=cadd.FullAddress,--b->legder->add
		[VechileNumber]=vh.VehicleRegNo,--cn | trip
		[VehicleType]=vht.Name,--cn-vehi-global
		[GRNumber]=cn.CNNo,--cn
		[GRDate]=CN.CNDate,--cn
		[FromPlace]=fp.CityName,----cn-route-fromplace-city-name
		[ToPlace]=tp.CityName,----cn-route-toplace-city-name
		[InvoiceNumber]=cn.InvoiceNo,----cn [invoice]
		[ReportingDate]=trp.UnloadingReachDate,--cn-triplogid-trip
		[UnloadingDate]=trp.UnLoadingDate,--cn-triplogid-trip
		[FreightAmount]=cn.CNBasicAmount,--cn-cntotalfreight
		[Loadingchg]=cn.AChargeI,--cn-add1
		[Unloadingchg]=cn.AChargeII,--cn-add2
		[GrenTaxChg]=cn.AChargeIII,--cn-add3
		[TwoPointDelChg]=cn.AChargeIV,--cn-add4
		[DetentionChg]=cn.AChargeV,--cn-add5
		[OtherChg]=cn.AChargeIV,--cn-add6
		[TotalFreight]=cn.CNTotalFreight,
		[Remark]=b.Remarks

		from dbo.tCNBillMaster as b
		join dbo.tCNBillLog as bl on bl.BillId=b.Id
		join dbo.mLedger as l on l.Id=b.BillingPartyAcId
		join dbo.tCNMaster as cn on cn.Id=bl.CNId
		left join dbo.tVehicleMovementLog as trp on trp.Id=cn.TripLogId
		left join dbo.mRouteMaster as rt on rt.Id=cn.ChgRouteId
		left join dbo.mCityMaster as fp on fp.ID=rt.FromPlaceId
		left join dbo.mCityMaster as tp on tp.ID=rt.ToPlaceId
		left join dbo.mVehicleMaster as vh on vh.Id=cn.VehicleId
		left join dbo.mGenericMaster as vht on vht.Id=vh.VehicleTypeId
		left join dbo.mLedger as cne on cne.Id=cn.ConsigneeId
		left join dbo.mPostalAddress as cadd on cadd.Id=l.AddressId
		where b.Id in(Select Item from dbo.SplitCommaString(@parameter1))

	--union all
	--SELECT
	--Id=1,		
	--	[Customer]='IWL',
	--	[BillNo]='I-0011',
 --      [BillDate]='01-01-2017',
	--	[Consignee]='Google',
	--	[CustomewAdress]='xyzzzzzzzzz',
	--	[VehicleNo]='HR55GA1603',
	--	[VehicleType]='3XL',
	--	[GRNumber]=1000,
	--	[GRDate]='2017-01-01',
	--	[FromPlace]='FromPlace',
	--	[ToPlace]='ToPlace',
	--	[InvoiceNumber]='132132,132456,1321',
	--	[VechileNumber]='VechileNumber',
	--	[VehicleType]='VehicleType',
	--	[ReportingDate]='01-01-2016',
	--	[UnloadingDate]='01-12-2016',
	--	[FreightAmount]=10,
	--	[Loadingchg]=11,
	--	[Unloadingchg]=14,
	--	[GrenTaxChg]=18,
	--	[TwoPointDelChg]=20,
	--	[DetentionChg]=50,
	--	[OtherChg]=10,
	--	[TotalFright]=123
	
END

GO
