/****** Object:  StoredProcedure [dbo].[Proc_Report_1600]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1600]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1600]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	EXEC [Proc_Report_1600] 30015,'','106','2017-02-01','2017-02-16','0','0'

CREATE proc [dbo].[Proc_Report_1600] 
--1600	LR BOOKING REPORT
@parameter1 bigint,--Categoryid
@parameter2 nvarchar(max),--ClassIds
@parameter3 nvarchar(max),--AccountIds
@parameter4 nvarchar(max),--FromDate
@parameter5 nvarchar(max),--ToDate
@parameter6 bigint,--Consignee
@parameter7 bigint--Consignor
As
BEGIN
	
	SET NOCOUNT ON;
	SELECT 
	--CCO.CategoryName,
	--CCO.ClassName,
	[BranchName]=lo.OfficeName,
	[GRDate]=t.CNDate,
	[GRNo]=t.CNNo,
	[RouteName]=ar.Name,
	[GRType]=cnt.ConstantAbbr,
	[Mode]=mo.ConstantName,	
	[CustomerName]=bp.FleetAcName,	
	[Consignor]=co.FleetAcName,	
	[Consignee]=cn.FleetAcName,	
	[PCKGS]=t.TotalPackage,
	[ActualWeight]=t.ActualWeight,
	[ChargeWeight]=t.ChargedWeight,
	[LRFreight]=t.CNBasicAmount,
	[LRChg]=t.AChargeI,
	[PickupChg]=t.AChargeII,
	[DeliveryChg]=t.AChargeIII,
	[TotalAmount]=t.CNTotalFreight,		
	t.Remark

	FROM dbo.tCNMaster as t
	LEFT JOIN dbo.mLedger as m on m.Id=t.BillingPartyId
	LEFT JOIN dbo.mRouteMaster as ar on ar.Id=t.ChgRouteId
	LEFT JOIN dbo.mLedger as co on co.Id=t.ConsignorId
	LEFT JOIN dbo.mLedger as cn on cn.Id=t.ConsigneeId
	LEFT JOIN dbo.mLedger as bp on bp.Id=t.BillingPartyId
	Left JOIN dbo.mConstantValue as cnt on cnt.Id=t.CNTypeId
	Left JOIN dbo.mOfficeMaster as lo on lo.Id=t.LoadingOfficeId
	left join dbo.mConstantValue as mo on mo.Id=t.TransportModeId
	WHERE t.CNDate between @parameter4 and @parameter5
	and (case when @parameter6=0 then 1 when @parameter6>0 and t.ConsigneeId=@parameter6 then 1 else 0 end)=1
	and (case when @parameter7=0 then 1 when @parameter7>0 and t.ConsignorId=@parameter7 then 1 else 0 end)=1
	and (case when len(isnull(@parameter3,''))=0 then 1 when len(isnull(@parameter3,''))>0 and t.LoadingOfficeId in(select item from dbo.SplitCommaString(@parameter3)) then 1 else 0 end)=1
	 
	--ORDER BY CCO.ObjectName
END

GO
