/****** Object:  StoredProcedure [dbo].[PROC_GLB_UpdateDaily]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[PROC_GLB_UpdateDaily]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GLB_UpdateDaily]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_GLB_UpdateDaily]
AS
BEGIN
DELETE dbo.tGPSKmLog WHERE LogDate=CAST(GETDATE() as date)
INSERT INTO dbo.tGPSKmLog(VehicleId,
HireVehicleId,
LogDate,
VehicleNo,
KMPerHour,
GPSKm,
CSID,
CDOE)
SELECT VehicleId,HireVehicleId,LogDate=CAST(Max(GPSTime) as date),VehicleNo,KMPerHour=SUM(TravelledKM)/24,GPSKm=SUM(TravelledKM) ,0,GETDATE()
FROM tGPSStatusLog where CAST(GPSTime as date)=CAST(GETDATE() as date) group by VehicleNo,VehicleId,HireVehicleId
END
GO
