/****** Object:  StoredProcedure [dbo].[Proc_Report_1650]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1650]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1650]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_Report_1650]
	@parameter1 date,--fromdate
	@parameter2 date--todate
as
begin
	select 
	t.RequestDate,
	t.VoucherNo,
	VehicleNo=Case when t.VehicleId>0 then vm.VehicleRegNo else hvm.RegistrationNo end,
	CreditAc=cr.AccountName,
	DebitAc=dr.AccountName,
	t.RequestAmount,
	DebitCardNo='',
	DebitCardAc=''
	from dbo.tTripAdvanceLog as t
	left join dbo.mVehicleMaster as vm on vm.Id=t.VehicleId
	left join dbo.mHireVehicle as hvm on vm.Id=t.HireVehicleId
	left join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	left join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	where t.RequestStatusId=1596 and t.PaidInId=1517
	and t.RequestDate between @parameter1 and @parameter2 
end
--Client_Code	Product_Code	Payment_Type	Payment_Ref_No.	Payment_Date (Mention in dd/mm/yyyy) format	Dr_Ac_No	Amount	Beneficiary_Code	Beneficiary_Name	IFSC Code	Beneficiary_Acc_No	Card_No	Beneficiary_Email	Beneficiary_Mobile	Debit_Narration	Credit_Narration	Enrichment_1	Enrichment_1

--select * from dbo.mConstantValue where ConstantName like '%card%'
GO
