/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_CheckVTSDateForTripInjection]    Script Date: 06-04-2017 02:05:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_TRANS_1624_CheckVTSDateForTripInjection]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_TRANS_1624_CheckVTSDateForTripInjection]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1624_CheckVTSDateForTripInjection]    Script Date: 06-04-2017 02:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_TRANS_1624_CheckVTSDateForTripInjection]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[Proc_TRANS_1624_CheckVTSDateForTripInjection]
@parameter1 datetime,--@tripStartDate
@parameter2 datetime,--@TripUnloadDate
@parameter3 bigint--@vehicleId
AS
SET NOCOUNT ON;
DECLARE @Result1 bit
SELECT @Result1=CAST((CASE WHEN COUNT(*)>1 THEN 1 ELSE 0 END) AS bit) FROM (Select TripLogId Result from tVTSStatusLog WHERE StartDate>=@parameter1 AND StartDate<=@parameter2 AND VehicleId=@parameter3 GROUP BY TriplogId) AS T
IF(@Result1=1)
BEGIN
SELECT Result=@Result1
RETURN
END

DECLARE @FirstVTSDate datetime,@FirstVTSStatusTypeId bigint,@FirstVTSDateId bigint,@LastVTSDate datetime,@LastVTSStatusTypeId bigint,@LastVTSDateId bigint
' 
END
GO
