/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV29]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1538_BillFormatV29]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1538_BillFormatV29]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select top 10 * from dbo.tReportRequestPool order by Id desc
--exec [dbo].[Proc_Report_1538_BillFormatV2] 10042

CREATE proc [dbo].[Proc_Report_1538_BillFormatV29] 
--1575	Bill Format 1
@parameter1 nvarchar(max)
As
BEGIN
	SET NOCOUNT ON;
	SELECT
		Id=b.Id,		
		[Customer]=l.BookingAcName,--b-legder
		[BillNo]=b.BillNo,--b
		[BillDate]=b.BillDate,--b
		[CustomerAdress]=cadd.FullAddress,--b->legder->add
		[VechileNumber]=vh.VehicleRegNo,--cn | trip
		[VehicleType]='',--cn-vehi-global
		[FromPlace]=fp.CityName,----cn-route-fromplace-city-name
		[ToPlace]=tp.CityName,----cn-route-toplace-city-name
		[InvoiceNumber]=cmml.Ref2,----cn [invoice]
		InvoiceDate=cmml.Date2,
		[FreightAmount]=0,--cn-cntotalfreight
		[OtherChg]=0,--cn-add6
		[TotalFreight]=0,
		[Remark]=b.Remarks,		
		TriplogId=trp.Id,
		TriplogNo=trp.TriplogNo,
        
		Qty=cmml.OutQty,
		NoofBins=case when isnull(mm.QtyPerPkg,0)=0 then 0 else cmml.OutQty/mm.QtyPerPkg end,
		TripDate=trp.TripStartDate
		from dbo.tCNBillMaster as b
		join dbo.tCNBillLog as bl on bl.BillId=b.Id
		join dbo.tVehicleMovementLog as trp on trp.Id=bl.TripLogId
		join dbo.mLedger as l on l.Id=b.BillingPartyAcId
		left join dbo.tCNStockMMLog as cmml on cmml.TriplogId=trp.Id
		left join dbo.mMaterialMaster as mm on mm.Id=cmml.MaterialId
		left join dbo.mRouteMaster as rt on rt.Id=trp.RouteId
		left join dbo.mCityMaster as fp on fp.ID=rt.FromPlaceId
		left join dbo.mCityMaster as tp on tp.ID=rt.ToPlaceId
		left join dbo.mVehicleMaster as vh on vh.Id=trp.VehicleId
		left join dbo.mHireVehicle as hvh on hvh.Id=trp.HireVehicleId
		left join dbo.mLedger as cne on cne.Id=trp.ConsigneeId
		left join dbo.mPostalAddress as cadd on cadd.Id=cne.AddressId
		where b.Id in(Select Item from dbo.SplitCommaString(@parameter1))

	
END

GO
