/****** Object:  StoredProcedure [dbo].[Proc_Report_1621]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1621]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1621]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Report_1621]
@parameter1 varchar(10)
as
begin
	create table #FormListing(ParentId int,SubModuleId int,FormId int,ParentName varchar(100),SubModule varchar(100),GOFFormName varchar(100),UserFormName varchar(100),SortOrderId int)
	
	insert into #FormListing(ParentId,ParentName,SortOrderId)
	select m.Id, m.ModuleName +' | '+ m.DisplayText,m.DisplayOrder
	from dbo.m_modules as m 
	where m.ParentModuleId is null

	insert into #FormListing(ParentId,SubModuleId,ParentName,SubModule,SortOrderId)
	select  m.Id,sm.Id,m.ModuleName+' | '+ m.DisplayText,sm.ModuleName+' | '+ sm.DisplayText,sm.DisplayOrder
	from dbo.m_modules as sm 
	join dbo.m_modules as m on m.Id=sm.ParentModuleId

	insert into #FormListing(ParentId,SubModuleId,FormId,ParentName,SubModule,GOFFormName,UserFormName,SortOrderId)
	Select 
	case when m.ParentId>0 then m.ParentId else sm.ParentId end
	,sm.SubModuleId
	,x.Id
	,case when m.ParentId>0 then m.ParentName else isnull((select ModuleName+' | '+ DisplayText from dbo.m_Modules where id=sm.ParentId),'') end
	,sm.SubModule
	,x.Name
	,x.DisplayText
	,x.DisplayOrder
	from dbo.apiviews as x
	left join #FormListing as sm on x.ModuleId=sm.SubModuleId
	left join #FormListing as m on x.ModuleId=m.ParentId

	select 
	S=case when isnull(SubModuleId,0)=0 and ParentId>0 then 'M' when isnull(FormId,0)=0 and SubModuleId>0 then 'S' When FormId>0 then null end
	,GOFFormName=case when isnull(SubModuleId,0)=0 and ParentId>0 then ParentName when isnull(FormId,0)=0 and SubModuleId>0 then SubModule When FormId>0 then GOFFormName end
	,UserFormName=case when FormId>0 then UserFormName else '' end
	,FormId 
	,SubModuleId
	,ParentId
	,ReportRouting=(Select Top 1 'ProcId: '+ cast(Id as varchar(200)) +' and ProcName: '+ spName   From dbo.mReportProcedure where ReportId=FormId)
	,SortOrderId
	from #FormListing 
	order by ParentId,case when isnull(SubModuleId,0)=0 then FormId else SubModuleId end,FormId,SortOrderId 
	drop table #FormListing
end

GO
