/****** Object:  StoredProcedure [dbo].[Proc_Report_1631]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1631]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1631]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Report_1631]
@parameter1 nvarchar(100)
as
select ofc.OfficeName,FirstName,LastName,LoginId=t.UserName,case when TypeId=200 then 'Admin' else 'User' end as UserType from dbo.ApiUsers as t
left join mOfficeMaster as ofc on t.officeId=ofc.Id
order by t.FirstName
GO
