/****** Object:  StoredProcedure [dbo].[Proc_Report_1420]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1420]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1420]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	[Proc_Report_1420] 10011,'','','2016-01-01','2017-12-12',0
CREATE PROC [dbo].[Proc_Report_1420]
--select * FROM mobjectCategory
-- Old Tyre Stock Proceeding
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--fromdate
	@parameter5 datetime,--todate	
	@parameter6 bigint--NextStatus	
as
begin
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	set nocount on;
	select 
		CategoryName = CCO.CategoryName,
		ClassName = CCO.ClassName,
		Office = o.OfficeName,
		DocDate = t.VoucherDate,        
        DocNo = t.VoucherNo,
		TyreNo = t.TyreNo,		
		TyreLife = t.TyreLife,
		BrandName = bm.BrandName,
		NextStatus=ns.ConstantName,
        Store = dr.FleetAcName,
		ReceivedFrom = cr.FleetAcName,
		t.Remark,
		[Type]=vt.VoucherTypeName,
		Reason = rm.Name
		
	from dbo.CCO(@parameter1,@parameter2,@parameter3)
	join dbo.tTyreLogExtraInfo as ei on CCO.ObjectId=(CASE @RoleId When 1029 THEN  ei.DrAccountId  else ei.OfficeId end)
	join dbo.tTyreLog as t on  ei.Id=t.ExtraInfoId
	
	join dbo.mOfficeMaster as o on o.Id=ei.OfficeId
	join dbo.mLedger as dr on dr.Id=t.DebitAccountId
	join dbo.mLedger as cr on cr.Id=t.CreditAccountId
	join dbo.mTyreMaster as tm on tm.Id=t.TyreId
	join dbo.mBrandMaster as bm on bm.Id=tm.BrandId
	join dbo.mVoucherType as vt on vt.Id=ei.VoucherTypeId
	left join dbo.mConstantValue as ns on ns.Id=NextUseId
	left join dbo.mGenericMaster as rm on rm.Id=t.ReasonId
	where t.VoucherDate between @parameter4 and @parameter5
	and isnull(t.NextLogId,0)=0 and t.TyreStatusId=1100 -- Old Stock
	and (case when @parameter6>0 then 1 when @parameter6=t.NextUseId then 1 else 0 end)=1
	order by ei.VoucherDate 
end
GO
