/****** Object:  StoredProcedure [dbo].[Proc_Custom_Report_1327]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Custom_Report_1327]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Custom_Report_1327]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Custom_Report_1327]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max)--AccountIds	
as
begin
	select 
	Incharge=vt1.Name,
	VehicleNo=y.VehicleNo,
	VehicleManufacturerYear=y.YearOfManufacter,
	VehicleOwner = ownr.FleetAcName,
	VehicleSize = vt.Name,
    y.FuelTankCapacity,
	DriverName=dvr.DriverName,
	DriverCode=dvr.DriverCode,
	DriverLicenceNo=dvr.LicenceNo,
	LicenceAuthority=aut.CityName,
	LicenceExpiryDate=dvr.ExpiryDate,
	AdhaarNo= dvr.AadhaarNo,
	 CurrentAddress= p.FullAddress,
	 PermanentAddress= pr.FullAddress,
	 DriverStatus=dst.ConstantName,
	DriverMobileNo=p.ContactNumber,
	DriverOnVehiceldt=vdm.StatusDate

   from dbo.mVehicleMaster as y
   join dbo.CCO(@parameter1,@parameter2,@parameter3)on CCO.ObjectId=y.Id
   left join dbo.mLedger as ownr on ownr.Id=y.OwnerPartyId
   left join dbo.mOfficeMaster as ofc on ofc.Id=y.OfficeId
   left join dbo.mVehicleModel as vm on vm.ID=y.VehicleModelId
   left join dbo.mCityMaster as ct on ct.Id=y.PassingAuthorityId
   left join dbo.mGenericMaster as vt on vt.Id=y.VehicleTypeId
   left join dbo.mGenericMaster as vt1 on vt1.Id=y.Ref1Id
   left join dbo.tDriverVehicleMapping as vdm on vdm.VehicleId=y.Id and isnull(vdm.NextLogId,0)=0 and vdm.DriverRoleId=1131 and vdm.DriverStatusId=1225
   left join dbo.mConstantValue as dst on dst.Id=vdm.DriverStatusId
   left join dbo.mDriverMaster as dvr on dvr.Id=vdm.DriverId
   left join dbo.mCityMaster as aut on aut.Id=dvr.IssuingPlaceId
   left join dbo.mPostalAddress as p on p.Id=dvr.CurrentAddressId
   left join dbo.mPostalAddress as pr on pr.Id=dvr.PermnAddress
   order by y.VehicleRegNo
 --  FOR JSON PATH
end
GO
