/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1480_NormalFreightBillCnDetail]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRNS_1480_NormalFreightBillCnDetail]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRNS_1480_NormalFreightBillCnDetail]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_TRNS_1480_NormalFreightBillCnDetail]
	@parameter1 bigint,--BillingOffice
	@parameter2 bigint, --BillingParty
	@parameter3 bigint, --Route
	@parameter4 bigint, --LoadType
	@parameter5 nvarchar(200),--CnNoFreeText
	@parameter6 datetime=NULL,--	FromDate
	@parameter7 datetime=NULL,--	ToDate
	@parameter8 datetime--BillDate
AS
BEGIN
DECLARE @round int=ISNULL((SELECT CAST(ConfigValue as bit) FROM mClientConfiguration WHERE Id='GSTRoundPrecision'),0);
DECLARE @AllowBilledCNUpdate bit =(SELECT CAST(ConfigValue as bit) FROM mClientConfiguration WHERE Id='AllowMultipleCnBilled')/*0:Don't 1:Allow*/
    select d.*,IGSTAmount = Round((case when CnFreight>0 AND IGSTRate>0 then (CnFreight*IGSTRate/100) else 0 end),@round),
           CGSTAmount = Round((case when CnFreight>0 AND CGSTRate>0 then (CnFreight*CGSTRate/100) else 0 end),@round),
           SGSTAmount = Round((case when CnFreight>0 AND SGSTRate>0 then (CnFreight*SGSTRate/100) else 0 end),@round),
           SubTotal2 = CnFreight
		 +Round((case when CnFreight>0 AND IGSTRate>0 then (CnFreight*IGSTRate/100) else 0 end),@round)
		 +Round((case when CnFreight>0 AND CGSTRate>0 then (CnFreight*CGSTRate/100) else 0 end),@round)
		 +Round((case when CnFreight>0 AND SGSTRate>0 then (CnFreight*SGSTRate/100) else 0 end),@round),
		 TotalBillAmount = CnBillFreight
		 +Round((case when CnFreight>0 AND IGSTRate>0 then (CnFreight*IGSTRate/100) else 0 end),@round)
		 +Round((case when CnFreight>0 AND CGSTRate>0 then (CnFreight*CGSTRate/100) else 0 end),@round)
		 +Round((case when CnFreight>0 AND SGSTRate>0 then (CnFreight*SGSTRate/100) else 0 end) ,@round)
		 from
		 (
		 SELECT CnId=c.Id,  
		 SalesLogId=sl.Id,
           CnNo = c.CNNo,
           CnDate = cast(c.CNDate as date),
           VehicleId = c.VehicleId,
           VehicleNo = v.VehicleNo,
           HireVehicleId = c.HireVehicleId,
           HireVehicleNo = h.VehicleNo,
           RouteId = c.ActRouteId,
           [Route]=r.Name,
           BillPartyId = c.BillingPartyId,
           Billparty = bp.AccountName,
           LoadingOfficeId = c.LoadingOfficeId,
           LoadingOffice = o.OfficeName,
           InvoiceValue = Isnull(c.ValueofGoods,0),
           CnFreight = (isnull(c.CNSubTotalII,0)-Isnull(Billed.BilledAmt,0)),
           CnBillFreight = (isnull(c.CNSubTotalII,0)-Isnull(Billed.BilledAmt,0)),
           RoundOff = 0,
           IsTaxApplicable = c.IsTaxApplicable,
		 SalesLogVDRId =sl.VDRId,
		 TripLogId = sl.TripLogId,
		 CNBalance=c.CNSubTotalII-Isnull(Billed.BilledAmt,0),
		 IGSTRate= Isnull(c.IGSTRate,0),
		 CGSTRate= Isnull(c.CGSTRate,0),
		 SGSTRate= Isnull(c.SGSTRate,0)
    FROM [dbo].[tCNMaster] c 
    LEFT JOIN [dbo].[mVehicleMaster] v ON v.Id=c.VehicleId
    LEFT JOIN [dbo].[mHireVehicle] h ON h.Id=c.HireVehicleId
    LEFT JOIN [dbo].[mLedger] bp ON bp.Id=c.BillingPartyId
    LEFT JOIN [dbo].[mOfficeMaster] o ON o.Id=c.LoadingOfficeId
    LEFT JOIN [dbo].[mRouteMaster] r on r.Id=c.ActRouteId
    LEFT JOIN [dbo].[tSalesLog] sl on sl.CNId=c.Id
    LEFT JOIN 
    (
	   SELECT BL.CNId,BilledAmt=SUM(BL.CNFreight) FROM [dbo].[tCNBillLog] BL 
	   JOIN [dbo].[tCNBillMaster] B ON BL.BillId=B.Id 
	   JOIN [dbo].[mCNBillNature] CBN ON B.BillNatureId=CBN.Id 
	   WHERE CBN.CNBillTypeId=1363 GROUP BY BL.CNId
    ) AS Billed ON C.Id=Billed.CNId
    WHERE 
    c.BillingPartyId=@parameter2 AND c.CNDate<=cast(@parameter8 as date) AND c.BillingOfficeId=@parameter1 AND 
    ((isnull(c.CNSubTotalII,0)-Isnull(Billed.BilledAmt,0))>0 OR c.CNSubTotalII=0)AND
    (case when len(isnull(@parameter5,''))=0 then 1 when len(@parameter5)>0 AND (c.CNNo like '%'+@parameter5+'%' OR ISNULL(c.InvoiceNo,'') like '%'+@parameter5+'%' OR ISNULL(ISNULL(v.VehicleRegNo,h.VehicleNo),'')  like '%'+@parameter5+'%') then 1 else 0 end)=1 AND
     (case when isnull(@parameter3,0)=0 then 1 when isnull(@parameter3,0)>0 AND c.ChgRouteId=@parameter3 then 1 else 0 end)=1
    AND (case when isnull(@parameter4,0)=0 then 1 when isnull(@parameter4,0)>0 AND c.LoadTypeId=@parameter4 then 1 else 0 end)=1
    AND (case when @parameter6 IS NULL then 1 WHEN cast(c.CNDate as date)>= cast(@parameter6 as date) then 1 else 0 end)=1
    AND (case when @parameter7 IS NULL then 1 when cast(c.CNDate as date)<=cast(@parameter7 as date) then 1 else 0 end)=1 
    AND (CASE WHEN @AllowBilledCNUpdate=0 AND ISNULL(Billed.BilledAmt,0)=0 THEN 1 WHEN @AllowBilledCNUpdate=0 AND ISNULL(Billed.BilledAmt,0)>0 THEN 0 ELSE 1 END) =1
    ) as d order by d.CNDate
end
GO
