/****** Object:  StoredProcedure [dbo].[Proc_Report_1329]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_Report_1329]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1329]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1329]
	@parameter1 bigint--Categoryid
AS
Begin
	Select m.Name,m.Abbr,m.StatusId,m.FormId,m.ConstantId from dbo.mGenericMaster as m 
	where m.ConstantId=@parameter1
	order by m.Name
	
End

GO
