/****** Object:  StoredProcedure [dbo].[Proc_Show_1506_PendingStock]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Show_1506_PendingStock]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Show_1506_PendingStock]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [dbo].[Proc_Show_1506_PendingStock]	'2017-01-18','6','0','0'
CREATE PROC [dbo].[Proc_Show_1506_PendingStock]	
@parameter1 Datetime,--TripDate
@parameter2 bigint,--OfficeId
@parameter3 bigint,--customer
@parameter4 bigint--RouteId
As
begin
	select 
	CNId = x.CNId,
	CNNo = cn.CNNo,
	OfficeId = x.OfficeId,
	Office = o.OfficeName,
	PartyId = cn.BillingPartyId,
	PartyName = bp.FleetAcName,
	CNDate = cn.CNDate,
	RouteId = cn.ActRouteId,
	[Route] = rt.Name,
	ActualQtyId = cn.ActualQty,
	ActualWeightId = cn.ActualWeight,
	CNFreight = cn.CNTotalFreight,
	MKtFreight = cn.CNBasicAmount,
	ChallanCnId = null,
	ChallanId = null,
	Qty = x.BalanceQty,
	[Weight] = cn.ActualWeight,
	StockRefId = x.Id
	from dbo.vw_CNStockLog as x 
	join dbo.tcnmaster as cn on cn.Id=x.cnid
	left join dbo.mRouteMaster as rt on rt.Id=cn.ActRouteId
	left join dbo.mLedger as bp on bp.Id=cn.BillingPartyId
	left join dbo.mOfficeMaster o on x.OfficeId=o.Id
	where  x.LogDate<=@parameter1
	and (case when @parameter3=0 then 1 when @parameter3>0  and cn.BillingPartyid=@parameter3 then 1 else 0 end)=1
	and (case when @parameter2=0 then 1 when @parameter2>0  and x.OfficeId=@parameter2 then 1 else 0 end)=1
	and (case when @parameter4=0 then 1 when @parameter4>0  and cn.ActRouteid=@parameter4 then 1 else 0 end)=1
End

-- select * from vw_CNStockLog
-- where  x.LogDate<=@parameter2
-- exec Proc_Show_1506_PendingStock '10-01-2017'
--select * from vw_CNStockLog where LogDate<='2017-01-18' and OfficeId=6
GO
