/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1571_BulkuploadHireSlip]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_1571_BulkuploadHireSlip]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_1571_BulkuploadHireSlip]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_TRANS_1571_BulkuploadHireSlip] @reportrequestid BIGINT
AS
  BEGIN TRAN
  DECLARE @xml XML
         ,@batchid NVARCHAR(100)
         ,@sessionId BIGINT;
DECLARE @hchpayAccountId bigint=ISNULL((select TOP 1 [ConfigValue] from mClientConfiguration where Id='HireChargesPayableAcId'),0)
  SELECT TOP 1
    @xml = XmlParameter
   ,@batchid = Parameter1
  FROM [dbo].[tReportRequestPool]
  WHERE Id = @reportrequestid
  IF (@xml IS NULL)
    RETURN;
  DECLARE @hdoc AS INT
  DECLARE @PrepareXmlStatus INT
  EXEC @PrepareXmlStatus = sp_xml_preparedocument @hdoc OUTPUT, @xml
  UPDATE l
  SET l.CNFreight = t.CNAmount
     ,l.UOLessI = t.UOLessI
     ,l.UOLessII = t.UOLessII
     ,l.HSChg = t.HSAmount
     ,l.HSTDSAmount = t.TDSAmount
     ,l.HSTDSRate = t.TDSRate
     ,l.MiscChg = t.MiscChrg
     ,l.TCChg = t.TCChg
     ,l.MarketFreight = t.MarketFreight
     ,l.VoucherDate = t.VoucherDate
	,l.HireChargesAcId=isnull(l.HireChargesAcId, @hchpayAccountId)
     ,BatchId = @batchid
  FROM [dbo].[tVehicleMovementLog] l
  JOIN OPENXML(@hdoc, '/ArrayOfDU_HireSlip/DU_HireSlip', 2)
  WITH (
  HSId BIGINT,
  PartyId BIGINT,
  CNAmount DECIMAL,
  UOLessI DECIMAL,
  UOLessII DECIMAL,
  HSAmount DECIMAL,
  TDSRate DECIMAL,
  TDSAmount DECIMAL,
  MiscChrg DECIMAL,
  TCChg DECIMAL,
  MarketFreight DECIMAL,
  HSDate DATETIME,
  VoucherDate DATETIME
  ) AS t
    ON l.Id = t.HSId
  EXEC [dbo].[Proc_TRNS_1571_GenHireSlipVoucher] @batchid
  COMMIT TRAN
GO
