/****** Object:  StoredProcedure [dbo].[Proc_Report_1699_VehicleCardMapping]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1699_VehicleCardMapping]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1699_VehicleCardMapping]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_Report_1699_VehicleCardMapping]
@parameter1 bigint=0, --VehicleId
@parameter2 bigint=0 --DriverName
AS
BEGIN
	SELECT
	VehicleNo=v.VehicleNo, 
	CardNo=cm.CardNo, 
	DriverName=d.DriverName, 
	vc.OnDate, 
	vc.OnRemark,
	vc.OffDate,
	vc.OffRemark,
	CardType=c.ConstantName,
	o.OfficeName,
	vc.IsHotlisted 
	FROM tVehicleCardMapping vc 
	LEFT JOIN mOfficeMaster o ON o.Id=vc.OfficeId
	LEFT JOIN mVehicleMaster v ON v.Id=vc.VehicleId
	LEFT JOIN mConstantValue c ON c.Id=vc.CardTypeId
	LEFT JOIN mDriverMaster d ON d.Id=vc.DriverId
	LEFT JOIN mCardMaster cm ON cm.Id=vc.CardId
	where 
	(case when @parameter1=0 then 1 when vc.VehicleId=@parameter1 then 1 else 0 end)=1
	and (case when @parameter2=0 then 1 when vc.DriverId=@parameter2 then 1 else 0 end)=1
	order by vc.VehicleId, vc.OnDate asc
END
GO
