/****** Object:  StoredProcedure [dbo].[Proc_TRANS_CreateTLCHMMLog]    Script Date: 03-01-2019 12:17:59 ******/
DROP PROCEDURE [dbo].[Proc_TRANS_CreateTLCHMMLog]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRANS_CreateTLCHMMLog]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Proc_TRANS_CreateTLCHMMLog]
  @ChallanId BIGINT,  
  @ActionType tinyint=0/*1:Add,2:modify*/
AS
  BEGIN  
  IF(EXISTS(SELECT * FROM tCNStockMMLog WHERE RefStockId in(Select Id from dbo.tCNStockMMLog WHERE @ChallanId=ChallanCNId AND LogTypeId in(1425,1455,1422))))
  BEGIN
  RAISERROR('Status One of the Consignment has been changed to either Delivered or has been transhiped further',16,1);
  RETURN
  END
  
	DELETE FROM dbo.tCNStockMMLog WHERE @ChallanId=ChallanCNId AND LogTypeId in(1424,1425,1455,1422)/*1424:Transit,1425:Delivered,1455:Undelivered,1422:StockIn*/
	DELETE  FROM dbo.tCNStockMMLog WHERE @ChallanId=ChallanCNId AND LogTypeId in(1423,1451,1454)/*1423:StockOut,1451:OutForDelivery,1454:Loading awaited*/
	
	IF(NOT EXISTS(SELECT stl.Id FROM dbo.tCNStockLog AS stl
		  JOIN dbo.tCNStockMMLog AS mml ON stl.RefStockId=mml.StockLogId
		WHERE stl.ChallanCNId= @ChallanId))/*FInd if MMLogs exists for Refered RefStockId for current StockLog*/
		BEGIN
			RETURN;
		END
	CREATE TABLE #mm(Id bigint,
		  PartName nvarchar(max),
		  StockLogId bigint,
		  MaterialId bigint,
		  CNMMId bigint,
		  CNId bigint,
		  OfficeId bigint,
		  InQty decimal,
		  ShortageQty decimal,
		  ExessQty decimal,
		  OutQty decimal,
		  LogTypeId bigint,
		  ChallanCNId bigint,
		  RefStockId bigint,
		  TriplogId bigint,
		  Ref1 nvarchar(max),
		  Ref2 nvarchar(max),
		  Date2 DateTime)
	
	DECLARE @xml AS XML,@hdoc AS INT,@PrepareXmlStatus INT
	SELECT @xml=MMXml FROM tCNChallan WHERE Id=@ChallanId
	IF(@xml IS NOT NULL)
	BEGIN
	EXEC @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml --Preparing XML handle
	INSERT INTO #mm
	SELECT temp.* FROM
  OPENXML(@hdoc, '/ArrayOfVwCNStockMMLog/vwCNStockMMLog',2)
	WITH (
		  Id bigint,
		  PartName nvarchar(max),
		  StockLogId bigint,
		  MaterialId bigint,
		  CNMMId bigint,
		  CNId bigint,
		  OfficeId bigint,
		  InQty decimal,
		  ShortageQty decimal,
		  ExessQty decimal,
		  OutQty decimal,
		  LogTypeId bigint,
		  ChallanCNId bigint,
		  RefStockId bigint,
		  TriplogId bigint,
		  Ref1 nvarchar(max),
		  Ref2 nvarchar(max),
		  Date2 DateTime
	) as temp
	END
	--SELECT * FROM #mm
	--RETURN
	IF (EXISTS(SELECT * FROM #mm))
	  BEGIN
		INSERT INTO [dbo].[tCNStockMMLog]
		([StockLogId]
		  ,[MaterialId]
		  ,[CNMMId]
		  ,[LogDate]
		  ,[CNId]
		  ,[OfficeId]
		  ,[InQty]
		  ,[ShortageQty]
		  ,[ExessQty]
		  ,[OutQty]
		  ,[LogTypeId]
		  ,[ChallanCNId]
		  ,[RefStockId]
		  ,[CSID]
		  ,[CDOE]
		  ,[MSID]
		  ,[MDOE]
		  ,[TriplogId]
		  ,Ref1
		  ,Ref2
		  ,Date2
		)

		  SELECT
			  [StockLogId]=stl.Id
			,mml.[MaterialId]
			,mml.[CNMMId]
			,stl.[LogDate]
			,mml.[CNId]
			,stl.[OfficeId]
			,[InQty]=0
			,[ShortageQty]=m.ShortageQty
			,[ExessQty]=m.ExessQty
			,[OutQty]=ISNULL(m.OutQty,0)
			,stl.[LogTypeId]
			,stl.[ChallanCNId]
			,[RefStockId]=mml.Id
			,stl.[CSID]
			,stl.[CDOE]
			,stl.[MSID]
			,stl.[MDOE]
			,stl.[TriplogId]
		  ,m.Ref1
		  ,m.Ref2
		  ,m.Date2
		  FROM dbo.tCNStockLog AS stl
			JOIN dbo.tCNStockMMLog AS mml ON stl.RefStockId=mml.StockLogId
			JOIN #mm m ON mml.Id=m.RefStockId
		  WHERE stl.ChallanCNId= @ChallanId and stl.LogTypeId in(1423,1451,1454)
		
	/*1423:StockOut,1451:OutForDelivery,1454:Loading awaited*/

		  INSERT INTO [dbo].[tCNStockMMLog]
		([StockLogId]
		  ,[MaterialId]
		  ,[CNMMId]
		  ,[LogDate]
		  ,[CNId]
		  ,[OfficeId]
		  ,[InQty]
		  ,[ShortageQty]
		  ,[ExessQty]
		  ,[OutQty]
		  ,[LogTypeId]
		  ,[ChallanCNId]
		  ,[RefStockId]
		  ,[CSID]
		  ,[CDOE]
		  ,[MSID]
		  ,[MDOE]
		  ,[TriplogId]
		  ,Ref1
		  ,Ref2
		  ,Date2
		)

		  SELECT
			  [StockLogId]=stl.Id
			,mml.[MaterialId]
			,mml.[CNMMId]
			,stl.[LogDate]
			,mml.[CNId]
			,stl.[OfficeId]
			,[InQty]=(CASE stl.[LogTypeId] WHEN 1424 THEN 0 WHEN 1422 THEN m.OutQty ELSE m.OutQty END)
			,[ShortageQty]=m.ShortageQty
			,[ExessQty]=m.ExessQty
			,[OutQty]=(CASE stl.[LogTypeId] WHEN 1424 THEN mml.OutQty WHEN 1422 THEN m.OutQty ELSE m.OutQty END)
			,stl.[LogTypeId]
			,stl.[ChallanCNId]
			,[RefStockId]=mml.Id
			,stl.[CSID]
			,stl.[CDOE]
			,stl.[MSID]
			,stl.[MDOE]
			,stl.[TriplogId]
		  ,m.Ref1
		  ,m.Ref2
		  ,m.Date2
		  FROM dbo.tCNStockLog AS stl
			JOIN dbo.tCNStockMMLog AS mml ON stl.RefStockId=mml.StockLogId
			JOIN #mm m ON mml.Id=m.RefStockId
		  WHERE stl.ChallanCNId= @ChallanId and stl.LogTypeId in(1424,1425,1455,1422)
		
	/*1424:Transit,1425:Delivered,1455:Undelivered,1422:StockIn*/
		END
	ELSE 
	BEGIN
	 
	 --IF(NOT EXISTS(SELECT 1 FROM dbo.tCNStockLog AS stl
  --        LEFT JOIN(SELECT StockLogId,BalanceQty=SUM(mml.InQty)-SUM(ISNULL(o.OutQty,0)) FROM dbo.tCNStockMMLog AS mml --ON stl.RefStockId=mml.StockLogId
	 --LEFT JOIN (SELECT RefStockId,OutQty=SUM(OutQty) FROM tCNStockMMLog WHERE ISNULL(RefStockId,0)>0 GROUP BY RefStockId) as O on mml.Id=o.RefStockId GROUP BY mml.StockLogId) as pr on stl.RefStockId=pr.StockLogId WHERE BalanceQty>0 AND stl.ChallanCNId= @ChallanId and stl.LogTypeId in(1423,1451,1454)))
	 --BEGIN
	 --RAISERROR('Material Is Out of Stock, Step 2',11,0)
	 --RETURN
	 --END
	 
	  INSERT INTO [dbo].[tCNStockMMLog]
	  ([StockLogId]
		,[MaterialId]
		,[CNMMId]
		,[LogDate]
		,[CNId]
		,[OfficeId]
		,[InQty]
		,[ShortageQty]
		,[ExessQty]
		,[OutQty]
		,[LogTypeId]
		,[ChallanCNId]
		,[RefStockId]
		,[CSID]
		,[CDOE]
		,[MSID]
		,[MDOE]
		,[TriplogId]
	  )

		SELECT
			[StockLogId]=stl.Id
		  ,mml.[MaterialId]
		  ,mml.[CNMMId]
		  ,stl.[LogDate]
		  ,mml.[CNId]
		  ,stl.[OfficeId]
		  ,[InQty]=0
		  ,[ShortageQty]=0
		  ,[ExessQty]=0
		  ,[OutQty]=mml.InQty
		  ,stl.[LogTypeId]
		  ,stl.[ChallanCNId]
		  ,[RefStockId]=mml.Id
		  ,stl.[CSID]
		  ,stl.[CDOE]
		  ,stl.[MSID]
		  ,stl.[MDOE]
		  ,stl.[TriplogId]
		FROM dbo.tCNStockLog AS stl
		  JOIN dbo.tCNStockMMLog AS mml ON stl.RefStockId=mml.StockLogId
		WHERE stl.ChallanCNId= @ChallanId and stl.LogTypeId in(1423,1451,1454)
	/*1423:StockOut,1451:OutForDelivery,1454:Loading awaited*/
	
		INSERT INTO [dbo].[tCNStockMMLog]
	  ([StockLogId]
		,[MaterialId]
		,[CNMMId]
		,[LogDate]
		,[CNId]
		,[OfficeId]
		,[InQty]
		,[ShortageQty]
		,[ExessQty]
		,[OutQty]
		,[LogTypeId]
		,[ChallanCNId]
		,[RefStockId]
		,[CSID]
		,[CDOE]
		,[MSID]
		,[MDOE]
		,[TriplogId]
	  )

		SELECT
			[StockLogId]=stl.Id
		  ,mml.[MaterialId]
		  ,mml.[CNMMId]
		  ,stl.[LogDate]
		  ,mml.[CNId]
		  ,stl.[OfficeId]
		  ,[InQty]=(CASE stl.[LogTypeId] WHEN 1424 THEN 0 WHEN 1422 THEN mml.OutQty ELSE mml.InQty END)
		  ,[ShortageQty]=0
		  ,[ExessQty]=0
		  ,[OutQty]=(CASE stl.[LogTypeId] WHEN 1424 THEN mml.OutQty WHEN 1422 THEN mml.OutQty ELSE mml.InQty END)
		  ,stl.[LogTypeId]
		  ,stl.[ChallanCNId]
		  ,[RefStockId]=mml.Id
		  ,stl.[CSID]
		  ,stl.[CDOE]
		  ,stl.[MSID]
		  ,stl.[MDOE]
		  ,stl.[TriplogId]
		FROM dbo.tCNStockLog AS stl
		  JOIN dbo.tCNStockMMLog AS mml ON stl.RefStockId=mml.StockLogId
		WHERE stl.ChallanCNId= @ChallanId and stl.LogTypeId in(1424,1425,1455,1422)
	/*1424:Transit,1425:Delivered,1455:Undelivered,1422:StockIn*/
	  END 
	 
	  DECLARE @wrongstock nvarchar(max)='',@message nvarchar(max);
	 
	  SELECT @wrongstock = COALESCE(@wrongstock+',' , '') + cn.CNNo
	  FROM tCNStockLog cur  
	  JOIN tCNMaster cn ON cn.Id=cur.CNId 
	  --JOIN tCNStockLog pr ON cur.RefStockId=pr.Id
	  JOIN (SELECT stk.CNId,stk.StockLogId,InQty=SUM(InQty),OutQty=SUM(OutQty) FROM tCNStockMMLog stk	  
	  GROUP BY stk.CNId,stk.StockLogId) as outs ON cur.CNId=outs.CNId AND cur.Id=outs.StockLogId
	  WHERE 1=(CASE 	  
	  WHEN cur.LogTypeId in(1423,1424,1451,1454) AND cur.OutQty<>outs.OutQty THEN 1 /*All Stock Outs*/
	  WHEN cur.LogTypeId in(1425,1455) AND (cur.OutQty<>outs.OutQty OR cur.InQty<outs.InQty OR outs.InQty>outs.OutQty) THEN 1 
	  ELSE 0 END) AND cur.ChallanCNId= @ChallanId
	  IF (@wrongstock<>'')
	  BEGIN
	  SET @message='Stock integraty failed for CN Nos. '+@wrongstock;
		RAISERROR (@message, 11, 0)
		return;
	  END

		SELECT @wrongstock = COALESCE(@wrongstock+',' , '') + cn.CNNo
		  FROM tCNStockLog cur  
		  JOIN tCNMaster cn ON cn.Id=cur.CNId 
		  JOIN tCNStockLog pr ON cur.RefStockId=pr.Id
		  WHERE cast(cur.LogDate as date)<cast(pr.LogDate as date) AND cur.ChallanCNId=@ChallanId
		  print('start')
		  print(LEN(@wrongstock))
		  print('end')
		  IF (@wrongstock<>'')
		  BEGIN
			SET @message ='Stock integraty failed due to Date for CN Nos. '+@wrongstock;
			RAISERROR (@message, 11, 0)
		  END
  END
GO
