/****** Object:  StoredProcedure [dbo].[Proc_Report_1474]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1474]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1474]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Report_1474]
	@parameter1 bigint--Material Group
AS
begin
	select 
	MaterialName=x.Name,
	MaterialCode=x.Code,
	MaterialGroup = mg.Name,
	x.Breadth,
	x.Height,
	x.Weight,
	x.Length
	from dbo.mMaterialMaster as x
	left join dbo.mMaterialGroup as mg on mg.Id=x.MaterialGroupId
	where (case when @parameter1=0 then 1 when x.MaterialGroupId=@parameter1 then 1 else 0 end)=1
	order by x.Name  
end
GO
