/****** Object:  StoredProcedure [dbo].[Proc_GLB_UpdateGPSStatusLog]    Script Date: 03-01-2019 12:18:02 ******/
DROP PROCEDURE [dbo].[Proc_GLB_UpdateGPSStatusLog]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GLB_UpdateGPSStatusLog]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec Proc_GLB_UpdateGPSStatusLog 3445
CREATE proc [dbo].[Proc_GLB_UpdateGPSStatusLog]
  @reportrequestid bigint
  as
  begin
    declare @xml XML,@vtsid BIGINT,@tripid BIGINT,@hdoc INT,@PrepareXmlStatus INT
    select @xml=rrp.XmlParameter,@vtsid=CAST(rrp.Parameter1 AS bigint),@tripid=CAST(rrp.Parameter2 AS bigint) FROM dbo.tReportRequestPool AS rrp WHERE @reportrequestid=rrp.Id

	exec @PrepareXmlStatus=sp_xml_preparedocument @hdoc OUTPUT, @xml

	insert into dbo.tGPSStatusLog(GPSTime,VehicleNo,VehicleId,HireVehicleId,GPSLocation,Latitude,Longitude
	,IgnitionStatus,Speed,BudgetedKM,TravelledKM,RemainingKM,VTSId,TripLogId,CDOE,GeographyPoint)
	select 
	getdate(),	
	temp.VehicleNo,
	case when isnull(temp.VehicleId,0)=0 then null else temp.VehicleId end,
	case when isnull(temp.HireVehicleId,0)=0 then null else temp.HireVehicleId end,
	temp.GPSLocation,	
	temp.Latitude,
	temp.Longitude,	
	temp.IgnitionStatus,
	temp.Speed,
	temp.BudgetedKM,
	temp.TravelledKM,
	temp.RemainingKM,
	temp.VTSId,
	temp.TriplogId,
	getdate(),	
	[GeographyPoint]=geography::STGeomFromText('POINT('+convert(varchar(20),ISNULL(temp.Longitude,0))+' '+convert(varchar(20),ISNULL(temp.Latitude,0))+')',4326)
	FROM OPENXML(@hdoc, '/ArrayOfGPSStatusLog/GPSStatusLog',2)
	WITH (
		BudgetedKM bigint,
		CDOE DateTime,
		VehicleNo nvarchar(100),
		GPSLocation nvarchar(1000),
		GPSTime DateTime,
		IgnitionStatus bit,
		Latitude float,
		Longitude float,
		RemainingKM bigint,
		Speed int,
		TravelledKM bigint,
		VTSId bigint,
		VehicleId bigint,
		HireVehicleId bigint,
		TripLogId bigint
	) as temp left join mVehicleMaster m on temp.VehicleId=m.Id OR temp.VehicleNo=m.VehicleNo
	LEFT JOIN mHireVehicle h on temp.HireVehicleId=h.Id OR temp.VehicleNo=m.VehicleNo
  END
GO
