/****** Object:  StoredProcedure [dbo].[Proc_Report_1407]    Script Date: 03-01-2019 12:18:01 ******/
DROP PROCEDURE [dbo].[Proc_Report_1407]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1407]    Script Date: 03-01-2019 12:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec Proc_Report_1407 10010,'','','2015-01-01','2016-12-12',1158
--select * from mObjectCategory

CREATE proc [dbo].[Proc_Report_1407]
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 datetime,--FromDate
	@parameter5 datetime,--ToDate
	@parameter6 int--
as
begin
	DECLARE @RoleId int,@KmCalcTypeId int
	set @RoleId=(SELECT RoleId from dbo.mObjectCategory where Id=@parameter1)
	 
	select @KmCalcTypeId=Value from dbo.ApiConfigurations where id='DefaultKmSourceForReporting'
	
	if(@parameter6>0)
	begin
		set @KmCalcTypeId=@parameter6
	end

	SET NOCOUNT ON;
	select 
	CCO.CategoryName,
	CCO.ClassName,
	vm.VehicleNo,
	VehicleModel=vmod.ModelName
	,t.SpareAmount
	,t.LabourAmount
	,t.General
	,t.Accidental
	,t.Capital
	,t.Claim
	,t.TotalAmount
	,k.TotalKm
	,CPKMInPaise=cast((case when isnull(k.TotalKm,0)=0 then 0 else  isnull(t.TotalAmount,0)/isnull(k.TotalKm,0) end) as decimal(18,2))*100
	from dbo.mVehicleMaster as vm
	join dbo.mVehicleModel as vmod on vmod.Id=vm.VehicleModelId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCo.ObjectId=Case when @RoleId=1130 then vm.Id else vm.OfficeId end
	join(
		select t.VehicleId,year(ei.DocDate) as tYear
		,SpareAmount=sum(case SpareNatureId when 1184 then isnull(t.NetAmount,0) else 0 end)
		,LabourAmount=sum(case SpareNatureId when 1183 then isnull(t.NetAmount,0) else 0 end)
		,General=sum(case TypeId when 1318 then isnull(t.NetAmount,0) else 0 end)
		,Accidental=sum(case TypeId when 1319 then isnull(t.NetAmount,0) else 0 end)
		,Capital=sum(case TypeId when 1320 then isnull(t.NetAmount,0) else 0 end)
		,Claim=sum(case TypeId when 1339 then isnull(t.NetAmount,0) else 0 end)
		,TotalAmount=sum(isnull(t.NetAmount,0))
		from dbo.tSpareLogExtraInfo as ei 
		left join(
			select t.VehicleId,t.NetAmount,t.ExtraInfoId,SpareNatureId=1184 from dbo.tSpareLog as t
			union all
			select  rl.VehicleId,rl.NetAmount,rl.ExtraInfoId,SpareNatureId=1183 from dbo.tRepairLabourLog as rl
		)as t on ei.Id=t.ExtraInfoId
		where ei.DocDate between @parameter4 and @parameter5
		group by t.VehicleId,year(ei.DocDate)
	)as t on vm.Id=t.VehicleId
	left join
	(
		Select k.VehicleId,sum(isnull(k.TotalKmRun,0)) as TotalKm from dbo.tVehicleMovementLog as k where k.TripStartDate between @parameter4 and @parameter5 and k.TripTypeId=@KmCalcTypeId group by k.VehicleId
	)as k on k.VehicleId=vm.Id
	
end

GO
