/****** Object:  StoredProcedure [dbo].[Proc_Report_1606]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1606]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1606]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[Proc_Report_1606]
	--Hire Vehicle Register: 1606
	@parameter1 bigint,--Categoryid
	@parameter2 nvarchar(max),--ClassIds
	@parameter3 nvarchar(max),--AccountIds
	@parameter4 nvarchar(max),--FromDate
	@parameter5 nvarchar(max)--ToDate
as
begin
	declare @RoleId int
	set @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	
	select 
	[Office]=O.OfficeName,
	[TripDate]=VML.TripStartDate,
	[TripNo]=VML.TriplogNo,
	[VehicleNo]=HV.VehicleNo,
	[HVParty]=l1.FleetAcName,
	[Broker]=vml.BrokerName,
	[Owner]=case when l.Id is null then VML.BrokerName else l.FleetAcName end,
	
	[Route]=RM.Name,
	[HireAmount]=VML.HSChg,
	[Advance]=hsa.Advance,
	[BalancePayment]=hsa.BalancePayment,
	[Balance]=isnull(VML.HSChg,0)-isnull(hsa.Advance,0)-isnull(hsa.BalancePayment,0)
	from dbo.tVehicleMovementLog as VML
	join dbo.mOfficeMaster as O on VML.OfficeId=O.Id
	join dbo.mHireVehicle as HV on VML.HireVehicleId=HV.Id	
	left Join dbo.mLedger as L on VML.HireOwnerId=L.Id
	left Join dbo.mLedger as L1 on VML.HVPId=L1.Id
	Join dbo.mRouteMaster as RM on RM.Id=VML.RouteId
	join dbo.CCO(@parameter1,@parameter2,@parameter3) on CCO.ObjectId=(CASE @RoleId when 1044 then HV.Id else  vml.OfficeId END)
	Left Join
	(
		Select HireSlipId
		,Advance=sum((case  when hsa.VoucherTypeId in(76,77) then hsa.Amount else 0 end)) 
		,BalancePayment=Sum((case  when hsa.VoucherTypeId=78 then hsa.Amount else 0 end))
		from tHSAdvance as hsa group by hsa.HireSlipId
	) hsa on hsa.HireSlipId=vml.Id

	Where vml.TripStartDate>=@parameter4 and vml.TripStartDate<=@parameter5 and vml.TripTypeId=1160
	 
END


--select * from mconstantvalue where CONSTANTTYPEID=76

GO
