/****** Object:  StoredProcedure [dbo].[Proc_Report_1648]    Script Date: 03-01-2019 12:18:00 ******/
DROP PROCEDURE [dbo].[Proc_Report_1648]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Report_1648]    Script Date: 03-01-2019 12:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC  [dbo].[Proc_Report_1648] 
	--	1648 VTS Status Report
	@parameter1 bigint,--0:both, 1:Own, 2:Hire
	@parameter2 bigint,--OwnVehicleId
	@parameter3 bigint--HireVehicleId
As
BEGIN
	DECLARE @RoleId int
	SET @RoleId=(SELECT RoleId FROM dbo.mObjectCategory WHERE Id=@parameter1)
	update dbo.tVTSStatuslog set enddate=null where enddate<='01/01/1901'

	SET NOCOUNT ON;

	SELECT * FROM(SELECT
	t.VehicleId,
	Office=ofc.OfficeName
	,RowNum=ROW_NUMBER()OVER(PARTITION BY (case when t.TripTypeId=1160 then hvm.RegistrationNo else v.VehicleRegNo end) ORDER BY vts.StartDate desc)
	,VehicleNo=case when t.TripTypeId=1160 then hvm.RegistrationNo else v.VehicleRegNo end
	,HireOwn=case when t.TripTypeId=1160 then 'H' else 'O' end
	,LoadingDate=case when t.UnLoadingDate is null then convert(nvarchar(10),t.TripStartDate,103) +'  ' +convert(nvarchar(10),t.TripStartDate,108) else null end
	,Party=case when t.UnLoadingDate is  null then bp.FleetAcName else '' end
	,RouteName=case when t.UnLoadingDate is  null then rt.Name else '' end
	,StatusName=dts.Name
	,StatusDate=convert(nvarchar(10),vts.StartDate,103) +'  ' +convert(nvarchar(10),vts.StartDate,108)
	,StatusLocation=ctv.CityName
	,StatusRemark=vts.Remark
	,StatusTimeTaken=RIGHT('00' + CONVERT(VARCHAR, datediff(HOUR,vts.startdate,isnull(vts.enddate,getdate())) / 24), 2) + ' day ' + RIGHT('00' + CONVERT(VARCHAR, datediff(HOUR,vts.startdate,isnull(vts.enddate,getdate()))% 24), 2)+ ' hr' 
	,ActualTimeTaken=
		case when t.UnLoadingDate is null then 
			(RIGHT('00' + CONVERT(VARCHAR, datediff(HOUR,t.LoadingDate,isnull(t.UnloadingReachDate,getdate())) / 24), 2) + ' day ' + RIGHT('00' + CONVERT(VARCHAR, datediff(HOUR,t.LoadingDate,isnull(t.UnloadingReachDate,getdate()))% 24), 2)+ ' hr' ) 
		else '' end
	

	,TripNo=case when t.UnLoadingDate is null then t.TriplogNo else '' end
	,TripDate=case when t.UnLoadingDate is null then convert(nvarchar(10),t.TripStartDate,103) +'  ' +convert(nvarchar(10),t.TripStartDate,108) else null end
	,BgtdKmRun=case when t.UnLoadingDate is null then t.TotalKmRun else null end
	,RevisedDate=t.Date2
	,RevisedLocation=isnull((Select x.CityName from dbo.mCityMaster as x where x.Id=t.Location2Id),'')
	,GPSVendor=gps.FleetAcName
	,CU=csu.UserName
	,DOE=convert(nvarchar(10),vts.CDOE,103) +'  ' +convert(nvarchar(10),vts.CDOE,108)
	,MU=msu.UserName
	,DOM=convert(nvarchar(10),vts.MDOE,103) +'  ' +convert(nvarchar(10),vts.MDOE,108)
	--from (select RowNum=ROW_NUMBER()OVER(PARTITION BY ISNULL(vt.VehicleId,vt.HireVehicleId),(CASE WHEN vt.VehicleId IS NULL THEN 'H' ELSE 'O' END) ORDER BY vt.StartDate desc),* from dbo.tVTSStatusLog vt where isnull(vt.NextLogId,0)=0) as vts
	from dbo.tVTSStatusLog vts
	join dbo.tVehicleMovementLog as t on vts.TriplogId=t.Id
	join dbo.mOfficeMaster as ofc on ofc.Id=t.OfficeId
	left join dbo.mVehicleMaster as v on v.Id=t.VehicleId
	left join dbo.mHireVehicle as hvm on hvm.Id=t.HireVehicleId
	
	left join dbo.mLedger as bp on bp.Id=t.PartyId
	left join dbo.mRouteMaster as rt on rt.Id=t.RouteId	
	left join dbo.mCityMaster as ctv on ctv.Id=vts.LocationId
	left join dbo.mDTSStatus as dts on dts.Id=vts.DTSStatusId
	left join dbo.mLedger as gps on gps.Id=v.GPSVendorId
	left join ApiSessions as cs on cs.Id=vts.CSID
	left join dbo.ApiUsers as csu on csu.Id=cs.UserId
	left join ApiSessions as ms on ms.Id=vts.MSID
	left join dbo.ApiUsers as msu on msu.Id=ms.UserId
	where isnull(vts.NextLogId,0)=0
	and (case when @parameter1=3 then 1 when  @parameter1=0 and @parameter2=0 then 1 when @parameter2>0 and @parameter2=vts.VehicleId then 1 else 0 end)=1
	and (case when @parameter1=2 then 1 when  @parameter1=0 and @parameter3=0 then 1 when @parameter3>0 and @parameter2=vts.HireVehicleId then 1 else 0 end)=1/*HireVehicleId need to be done*/) as  vts
	where vts.RowNum=1
END
GO
