/****** Object:  View [dbo].[vwTyreLifeMileage]    Script Date: 03-01-2019 12:17:25 ******/
DROP VIEW [dbo].[vwTyreLifeMileage]
GO
/****** Object:  View [dbo].[vwTyreLifeMileage]    Script Date: 03-01-2019 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vwTyreLifeMileage]
as
select  
TyreId=tt.TyreId 
,TyreLife=tt.TyreLife
,ActaulTyreCost=(case when tt.VoucherTypeId in(27,29,32,41,42,66) then isnull(tt.NetAmount,0) else 0 end)
,ActualScrapCost=(case when tt.VoucherTypeId in(33,37,38) then isnull(tt.NetAmount,0) else 0 end)
,TransferPrice=isnull(tt.TransferPrice,0)
,ScrapCost=isnull(tt.ScrapCost,0)
,KmRun=isnull(tt.KmRun,0)
,ReceiptMonth=isnull(tt.ReceiptMonth,0)	
from dbo.tTyreLog as tt
GO
