/****** Object:  View [dbo].[vwAccountGroupChild]    Script Date: 03-01-2019 12:17:25 ******/
DROP VIEW [dbo].[vwAccountGroupChild]
GO
/****** Object:  View [dbo].[vwAccountGroupChild]    Script Date: 03-01-2019 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwAccountGroupChild] 
AS 
SELECT row_number()over(order by c.CommonGroupId)as RowID, c.GroupId,c.GroupName,c.ParentGroupId,c.ParentGroupName,c.hLevel as [Level],a.Id as GrandParentId from dbo.mAccountGroup as a--c.CommonGroupId as GrandParentId from dbo.mAccountGroup as a
cross apply (select * from dbo.[Func_GetAllAccountParentChildGroups](a.Id)) as c
GO
