/****** Object:  View [dbo].[vw_CNStockLog]    Script Date: 03-01-2019 12:17:25 ******/
DROP VIEW [dbo].[vw_CNStockLog]
GO
/****** Object:  View [dbo].[vw_CNStockLog]    Script Date: 03-01-2019 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--Select * from MOfficeMaster
--SELECT * FROM [dbo].[Fun_CNStockSearch](4, 4, '2016-04-01 23:59:00', '')

CREATE VIEW [dbo].[vw_CNStockLog]  

As
 select
 i.Id,
 i.CNId,
 i.LogDate,
 i.OfficeId,
 i.ChallanCNId,
 i.TriplogId,
 i.RefStockId,
 InQty=cast(isnull(i.InQty,0) as decimal(18,2)),
 BalanceQty=cast((isnull(i.InQty,0)-isnull(o.OutQty,0)) as decimal(18,2))
 from dbo.tCNStockLog  as i
 left join
 (
	select sl.RefStockId,Sum(sl.OutQty) as OutQty from
	dbo.tCNStockLog as sl where ISNULL(sl.RefStockId,0)>0--sl.LogTypeId in(1423,1451,1454,1425)
	group by sl.RefStockId
 )as o on o.RefStockId=i.Id
 where (isnull(i.InQty,0)-isnull(o.OutQty,0))>0 and i.LogTypeId in(1422,1455)
GO
