/****** Object:  View [dbo].[vw_SpareStockLog]    Script Date: 03-01-2019 12:17:25 ******/
DROP VIEW [dbo].[vw_SpareStockLog]
GO
/****** Object:  View [dbo].[vw_SpareStockLog]    Script Date: 03-01-2019 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SpareStockLog]  

As
 select
    i.Id,
    i.VoucherTypeId,
    StockDate=i.VoucherDate,
    StoreId=i.DrAccountId,
    i.SparePartId,
    i.MakeId,
    i.BinId,    
    i.BillExtraInfoId,
    i.ExtraInfoId,
    PurchaseAmount=i.Amount,
    BalanceAmount=Amount- (Amount/i.Qty)*isnull(o.OutQty,0),
    PurchaseQty=cast(isnull(i.Qty,0) as decimal(18,2)),
    BalanceQty=cast((isnull(i.Qty,0)-isnull(o.OutQty,0)) as decimal(18,2))
 from dbo.tSpareLog  as i
 left join
 (
	select sl.RefId,Sum(sl.Qty) as OutQty from
	dbo.tSpareLog as sl where ISNULL(sl.RefId,0)>0--sl.LogTypeId in(1423,1451,1454,1425,1455)
	group by sl.RefId
 )as o on o.RefId=i.Id
 where (isnull(i.Qty,0)-isnull(o.OutQty,0))>0 and i.VoucherTypeId in(23/*Material MRN*/,26/*Material Stock Transfer [Ack]*/,61/*Material Purchase Bill*/)

GO
