/****** Object:  View [dbo].[vw_DriverAccountDetail]    Script Date: 03-01-2019 12:17:25 ******/
DROP VIEW [dbo].[vw_DriverAccountDetail]
GO
/****** Object:  View [dbo].[vw_DriverAccountDetail]    Script Date: 03-01-2019 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_DriverAccountDetail]
as
select 
		DocDate=t.VoucherNo
		,DocRefNo=t.AdvanceDate
		,VehicleNo=case when t.AdvanceTypeId=17 then vmt.VehicleRegNo  else  vm.VehicleRegNo end
		,DocType=vt.VoucherTypeName
		,Particulars=case when t.AdvanceTypeId in(1,2,16) then cr.FleetAcName when  t.AdvanceTypeId=17 then dr.FleetAcName else '' end 
		,OtherRemark=case when t.AdvanceTypeId =2 then 'FuelQty:'+cast(t.FuelQty as nvarchar) +',FuelRate:'+cast(t.FuelRate as nvarchar) end
		,DebitAmount=case when t.AdvanceTypeId in(1,2,16) then isnull(t.CashAmount,0) + isnull(t.FuelAmount,0) else 0 end
		,CreditAmount=case when t.AdvanceTypeId in(17) then t.CashAmount else 0 end
		,Remarks=t.Remark
		,t.DriverId
		from dbo.tTripAdvanceLog as t
		left join dbo.mVehicleMaster as vm on vm.ID=t.VehicleId
		left join dbo.tTripSettlement as ts on ts.Id=t.SettledRefId
		left join dbo.mVehicleMaster as vmt on vmt.ID=ts.VehicleId
		left join dbo.mLedger as dr on dr.Id=t.DebitAccountId 
		left join dbo.mLedger as cr on cr.Id=t.CreditAccountId
		left join dbo.mVoucherType as vt on vt.Id=t.AdvanceTypeId
		where isnull(t.CashAmount,0) + isnull(t.FuelAmount,0)>0 and t.advanceTypeid in(1,2,16,17)

		union all

		select
		DocDate=t.TripSheetNo
		,DocRefNo=t.SettleDate
		,VehicleNo=vm.VehicleRegNo
		,DocType='Settlement'
		,Particulars=''
		,OtherRemark=''
		,DebitAmount=0
		,CreditAmount=tl.ExpenseAmount
		,Remarks=t.Remarks
		,t.Driver1Id
		from dbo.tTripSettlement as t
		join dbo.mVehicleMaster as vm on vm.ID=t.VehicleId
		join (
			select tle.SettlementId,sum(isnull(tle.SettledAmount,0)) as ExpenseAmount from dbo.tTripExpenseLog as tle group by tle.SettlementId
		) as tl on tl.SettlementId=t.Id 
		where t.SettleDate is not null and isnull(tl.ExpenseAmount,0)>0

		union all

		select
		DocDate=t.TripSheetNo
		,DocRefNo=t.SettleDate
		,VehicleNo=vm.VehicleRegNo
		,DocType='Settlement'
		,Particulars=dr.FleetAcName
		,OtherRemark='Cash Deposited in Branch'
		,DebitAmount=0
		,CreditAmount=t.CashDeposited
		,Remarks=''
		,t.Driver1Id
		from dbo.tTripSettlement as t
		left join dbo.mVehicleMaster as vm on vm.ID=t.VehicleId
		left join dbo.mLedger as dr on dr.Id=t.SettledAccountId
		where t.SettleDate is not null and isnull(t.CashDeposited,0)>0
GO
