/****** Object:  View [dbo].[vw_UserActivitylogBasic]    Script Date: 03-01-2019 12:17:25 ******/
DROP VIEW [dbo].[vw_UserActivitylogBasic]
GO
/****** Object:  View [dbo].[vw_UserActivitylogBasic]    Script Date: 03-01-2019 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  select distinct ViewId,Displaytext from [vw_UserActivitylog] where ViewId is null
-- 
create view [dbo].[vw_UserActivitylogBasic]
as
Select ViewId=1005,CSID,MSID,'Trip Advance' as DisplayText from dbo.tTripAdvanceLog as t
union all
Select  ViewId=t.FormId,CSID,MSID,'Triplog' from dbo.tVehicleMovementLog as t
union all
Select  ViewId=1624,CSID,MSID,'VtsLog' from dbo.tVTSStatusLog as t 
union all
Select  ViewId=t.ViewId,CSID,MSID,'Trip Settlement' from dbo.tTripsettlement as t 
union all
Select  ViewId=(case when VoucherTypeId=27 then 1025 when VoucherTypeId=42 then 1029 when VoucherTypeId=34 then 1026 
when VoucherTypeId=35 then 1378 when VoucherTypeId=37 then 1052 when VoucherTypeId=30 then 1053 
when VoucherTypeId=29 then 1059 when VoucherTypeId=39 then 1050 when VoucherTypeId=66 then 1451 end)
,CSID,MSID,'Tyre' from dbo.tTyreLogExtraInfo as t 
union all
Select  ViewId=(case when VoucherTypeId=43 then 1079 when VoucherTypeId=50 then 1380 when VoucherTypeId=51 then 1381 
when VoucherTypeId=53 then 1089 when VoucherTypeId=58 then 1082 end)
,CSID,MSID,'Battery' from dbo.tBatteryLogExtraInfo as t 
union all
Select ViewId=(case when VoucherTypeId=61 then 1047 when VoucherTypeId=22 then 1017 when VoucherTypeId=23 then 1018 when VoucherTypeId=24 then 1019 
when VoucherTypeId=83 then 1647 end),CSID,MSID,'Spare' from dbo.tSpareLogExtraInfo as t 
union all
Select  ViewId=t.ViewId,CSID,MSID,'Dues' from dbo.tDueTransactionLog as t
union all
Select  ViewId=1032,CSID,MSID,'Driver Master' from dbo.mDriverMaster as t 
union all
Select  ViewId=1031,CSID,MSID,'Vehicle Master' from dbo.mVehicleMaster as t
union all
Select  ViewId=t.ViewId,CSID,MSID,'CN Master' from dbo.tCNMaster as t
union all
Select  ViewId=1661,CSID,MSID,'CN POD' from dbo.mCNExtraInfo as t
union all
Select  ViewId=1480,CSID,MSID,'Freight Bill' from dbo.tCNBillMaster as t
union all
Select  ViewId=1477,CSID,MSID,'CN Rate Chart' from dbo.mCNRateContractLog as t
union all
Select  ViewId=1551,CSID,MSID,'Vehicle Loan' from dbo.tLoan as t
union all
Select  ViewId=1332,CSID,MSID,'Tyre Inspection' from dbo.tTyreCheck as t
union all
Select  ViewId=t.ViewId,CSID,MSID,'Vehicle Accident' from dbo.tVehicleAccident as t
union all
Select  ViewId=1658,CSID,MSID,'Card Master' from dbo.mCardMaster as t
union all
Select  ViewId=1656,CSID,MSID,'Card Mapping' from dbo.tVehicleCardMapping as t
union all
Select  ViewId=t.ViewId,CSID,MSID,'Battery Inspection' from dbo.tBatteryCheck as t

GO
