/****** Object:  View [dbo].[vwVDRBalance]    Script Date: 03-01-2019 12:17:25 ******/
DROP VIEW [dbo].[vwVDRBalance]
GO
/****** Object:  View [dbo].[vwVDRBalance]    Script Date: 03-01-2019 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwVDRBalance]
AS
SELECT
  v.Id
 ,v.VDId
 ,v.DueDate
 ,v.ReferenceNo
 ,v.VDRTypeID
 ,v.OriginalRefId
 ,v.VDRAmount
 ,v.TransactionId
 ,v.AccountId
 ,v.CSID
 ,v.CDOE
 ,CreditDays = ISNULL(l.CreditPeriod,0)
 ,l.CreditNatureId
 ,PreviousPaid = ISNULL(S.Amount, 0)
 ,Balance = ISNULL(VDRAmount, 0) + -+ISNULL(S.Amount, 0)
 ,RefType = (CASE v.VDRTypeID
    WHEN 1013 THEN 'NewRef'
    WHEN 1448 THEN 'OnAccount'
    WHEN 1449 THEN 'Advance'
    ELSE ''
  END)
 ,AccountName = l.AccountName

FROM [dbo].[tVoucherVDR] V
LEFT JOIN (SELECT
    Amount = SUM(VDRAmount)
   ,RefID
  FROM [dbo].[tVoucherVDR]
  GROUP BY RefID) S
  ON V.Id = S.RefID
LEFT JOIN mLedger l
  ON v.AccountId = l.Id

WHERE (ISNULL(VDRAmount, 0) - ISNULL(S.Amount, 0)) <> 0
AND v.VDRTypeID IN (1013, 1448, 1449)
GO
