/****** Object:  View [dbo].[vw_UserActivitylog]    Script Date: 03-01-2019 12:17:25 ******/
DROP VIEW [dbo].[vw_UserActivitylog]
GO
/****** Object:  View [dbo].[vw_UserActivitylog]    Script Date: 03-01-2019 12:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  select distinct ViewId,Displaytext from [vw_UserActivitylog] where ViewId is null
-- 
CREATE view [dbo].[vw_UserActivitylog]
as
select t.ViewId,SessionId=t.CSID,TypeId=1,DisplayText from vw_UserActivitylogBasic as t where isnull(t.CSID,0)>0
union all
select t.ViewId,SessionId=t.MSID,TypeId=2,DisplayText from vw_UserActivitylogBasic as t  where isnull(t.MSID,0)>0
GO
