<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <InstrumentationKey>5701afcf-00d7-488e-8f9b-d19918f0ca91</InstrumentationKey>
  <ResourceID>subscriptions/3c3a0574-ef52-4837-bf6f-2169592e6be6/resourceGroups/trackoapi/providers/microsoft.insights/components/trackoapi</ResourceID>
</ApplicationInsights>