<connectionStrings>
  <clear/>
  <add name="Tenant1" connectionString="Server=tcp:tjfqdu0vyn.database.windows.net,1433;Database=Tracko;User ID=trackouser@tjfqdu0vyn;Password=Mukesh@1463;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="Tenant2" connectionString="Server=tcp:tjfqdu0vyn.database.windows.net,1433;Database=Tracko1;User ID=trackouser@tjfqdu0vyn;Password=Mukesh@1463;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>