<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="TrackoApi" />
  <assembly name="TrackoAPI.Repository" />
  <namespace name="TrackoAPI.Repository.Interface" />
  <namespace name="TrackoAPI.Repository.Global" />
  <!--<namespace name="TrackoApi.Data" />-->
  <!--<namespace name="TrackoAPI.Repository.Base"/>-->
  <container>
    <!--<register type="ITrackoApiDbContext" mapTo="TrackoApiDbContext"/>-->
    <register type="IConstantValueRepository" mapTo="ConstantValueRepository" />
  <register type="IConstantTypeRepository" mapTo="ConstantTypeRepository" />
  <!--<register type="IUnitOfWork" mapTo="UnitOfWork"/>-->
  </container>
</unity>
